$g-fullWidthBGColor: #d7f9f3;
$g-fullWidthBGColor2: #fff;
$g-fullWidthBGColor3: #fdfaf0;
$g-fullWidthBGColor4: #444;
$g-fullWidthBGColor5: #edfaf9;
$g-fullWidthBGColor6: #eaf4f3;
$g-fullWidthBGColor7: #f9f5f1;
$g-fullWidthBGColor8: #aee4e1;
$g-hoverColor: #45b1c7;
$g-hoverColor2: #0b6577;
$g-hoverColor3: #45b1c7;
$g-textColor: #393939;
