$layout: 'L25';
$areaContainerWidth: 1060px;
$areaMainWidth: 740px;
$areaSubWidth: 320px;

.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  *zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


.area-main {
  box-sizing: border-box;
  padding: 0 0 50px;
  float: right;
  width: $areaMainWidth;
}

.area-sub {
  box-sizing: border-box;
  min-height: 100px;
  float: left;
  width: $areaSubWidth;
  padding: 0 50px 50px 0;
  z-index: 11;
}

.area-footer {
  background: #fff;
  padding-top: 1px; //フッター最上部のフッターメニューの背景が伸びないための指定
}
