$g-fullWidthBgColor: #e5e0ee;
$g-fullWidthBgColor2: #fff;
$g-fullWidthBgColor3: #e7e6e2;
$g-fullWidthBgColor4: #6667a0;
$g-fullWidthBgColor5: #f7f6f1;
$g-baseBackgroundColor: #f7f6f1;
$g-baseFontColor: #333;
$g-hoverColor: #ab8717;
$g-hoverColor2: #b1a8d0;
$g-hoverColor3: #251361;
$g-textColor: #333;
