@mixin RTE {
  a {
    text-decoration: underline;
  }

  p {
    @include g-font(15, 2);
    margin-top: 1em;
  }

  > p:first-child {
    margin-top: 0;
  }

  ol {
    padding: 0 0 0 25px;
    margin-top: $g-spacing3x;
    ul,
    ol {
      margin-top: $g-spacing2x;
    }

    li {
      @include bugFix_IE_list-item;
      @include g-font(15);
      margin-top: $g-spacing2x;
      list-style-type: decimal;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > ol:first-child {
    margin-top: 0;
  }

  ul {
    padding: 0 0 0 25px;
    margin-top: $g-spacing3x;
    ul,
    ol {
      margin-top: $g-spacing2x;
    }

    li {
      @include bugFix_IE_list-item;
      @include g-font(15);
      margin-top: $g-spacing2x;
      list-style-type: disc;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > ul:first-child {
    margin-top: 0;
  }

  table {
    width: 100%;
    margin-top: $g-spacing3x;
    border: 1px solid transparent;
    th {
      @include g-font(15);
      padding: 10px;
      text-align: left;
      vertical-align: middle;
      border-top: 1px solid $table_borderColor;
      > table,
      > ul,
      > ol,
      > p,
      > hr {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    td {
      @include g-font(15);
      padding: 10px;
      text-align: left;
      vertical-align: middle;
      border-style: none;
      > table,
      > ul,
      > ol,
      > p,
      > hr {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    tr {
      &:first-child {
        border-top: 1px solid $table_borderColor;
        border-bottom: 1px solid $table_borderColor;
        td {
          padding: 10px 10px 5px;
        }
      }

      &:last-child {
        border-bottom: 1px solid $table_borderColor;
        td {
          padding: 5px 10px 10px;
        }
      }
    }
  }

  > table:first-child {
    margin-top: 0;
  }
}
