@if $device == PC {
  .t0-b-bannerTriplexRow {
    padding: 30px 30px 0;
    border: 4px solid #555;
  }

  .t0-b-bannerTriplexRow2 {
    padding: 30px 30px 0;
    border: 4px double #555;
  }

  .t0-b-bannerTriplexRow3 {
    padding: 30px 30px 0;
    border: 1px dotted #555;
  }

  .t0-b-bannerTriplexRow4 {
    padding: 30px 30px 0;
    border: 4px solid #555;
    border-radius: 8px;
  }

  .t0-b-bannerTriplexRow5 {
    padding: 30px 30px 0;
    border: 1px solid #555;
    background: #eee;
  }
}

@if $device == SP {


  .t0-b-bannerTriplexRow {
    padding: 20px 5px 0;
    border: 4px solid #555;
    .t0-b-layoutSplitter__div {
      > div {
        padding-bottom: 15px;
      }
      &:last-child {
        > div {
          padding-bottom: 0;
        }
      }
    }
  }

  .t0-b-bannerTriplexRow2 {
    padding: 20px 5px 0;
    border: 4px double #555;
  }

  .t0-b-bannerTriplexRow3 {
    padding: 20px 5px 0;
    border: 1px dotted #555;
  }

  .t0-b-bannerTriplexRow4 {
    padding: 20px 5px 0;
    border: 4px solid #555;
    border-radius: 8px;
  }

  .t0-b-bannerTriplexRow5 {
    padding: 20px 5px 0;
    border: 1px solid #555;
    background: #eee;
  }

}
