@if $device == PC {
  .t0-b-goToTop {
    height: 70px;
    text-align: right;
    a {
      display: inline-block;
      min-width: 57px;
      height: 75px;
      padding: 0 7px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/t0-b-goToTop/bg.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: .2s;
      &:hover {
        opacity: .8;
      }

      > div {
        font-size: 12px;
        color: #747474;
        text-align: center;
      }
    }

    // 固定表示用
    &--fixDisplay {
      &-scrollUp,
      &-scrollDown,
      &-scrollDownStopFooter {
        position: fixed;
        text-align: right;
        // サイドメニューやフッターに重なっても隠さないため
        z-index: 400;
        right: 30px;
        bottom: 30px;
        // jsで出現させるので最初は消しておく
        display: none;
        .t0-b-goToTop__contents {
          transition: .2s;
        }

        a {
          display: inline-block;
          min-width: 57px;
          height: 75px;
          padding: 0;
          text-decoration: none;
          white-space: nowrap;
          // 文字にアウトラインつける
          text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0, #fff 0 1px 0, #fff 0 -1px 0, #fff -1px 0 0, #fff 1px 0 0;
          &::after {
            display: block;
            content: url("../imgs/t0-b-goToTop/bg.png");
            transition: .2s;
          }

          &:hover {
            opacity: 1;
            .t0-b-goToTop__contents {
              transform: translateY(-5px);
              // ホバー時にガクガクしないように
              pointer-events: none;
              p {
                pointer-events: auto;
              }
            }

            &::after {
              transform: translateY(-5px);
              filter: drop-shadow(2px 6px 4px rgba(#00001e, .21));
            }
          }
        }
      }
    }
  }

  .ex-topSpacingTweak {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
    }
  }

  // goToTopが固定表示時にbPlacerの余白を消す
  .t0-b-goToTop-bPlacer {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@if $device == SP {
  .t0-b-goToTop {
    height: 70px;
    text-align: right;
    a {
      display: inline-block;
      min-width: 57px;
      max-width: 100%;
      height: 80px;
      text-decoration: none;
      background-image: url("../imgs/t0-b-goToTop/bg.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      &:hover {
        opacity: .8;
      }

      > div {
        color: #747474;
        text-align: center;
      }
    }
  }
}
