@if $device == PC {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;
    padding: 0 2px 2px 0;

    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

    a {
      display: block;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }

    }

    &__inner {
      color: #555;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      width: 100%;
      display: table;
      position: relative;
      padding: 10px;
      min-height: 70px;
      // box-shadow: 2px 2px 2px #b2bbbb;
      box-sizing: border-box;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      border-radius: 5px;

      #{$_block}--size-1 & {
        background-image: url("../imgs/t0-b-navItemCaptioned/3/bg14.png"), url("../imgs/t0-b-navItemCaptioned/3/bg11.png"), url("../imgs/t0-b-navItemCaptioned/3/bg12.png"), url("../imgs/t0-b-navItemCaptioned/3/bg4.png"), url("../imgs/t0-b-navItemCaptioned/3/bg13.png"), url("../imgs/t0-b-navItemCaptioned/3/bg6.png"), url("../imgs/t0-b-navItemCaptioned/3/bg7.png"), url("../imgs/t0-b-navItemCaptioned/3/bg8.png");
      }

      #{$_block}--size-2 & {
        background-image: url("../imgs/t0-b-navItemCaptioned/3/bg.png"), url("../imgs/t0-b-navItemCaptioned/3/bg2.png"), url("../imgs/t0-b-navItemCaptioned/3/bg3.png"), url("../imgs/t0-b-navItemCaptioned/3/bg4.png"), url("../imgs/t0-b-navItemCaptioned/3/bg5.png"), url("../imgs/t0-b-navItemCaptioned/3/bg6.png"), url("../imgs/t0-b-navItemCaptioned/3/bg7.png"), url("../imgs/t0-b-navItemCaptioned/3/bg8.png");
      }

      #{$_block}--size-3 & {
        background-image: url("../imgs/t0-b-navItemCaptioned/3/bg.png"), url("../imgs/t0-b-navItemCaptioned/3/bg16.png"), url("../imgs/t0-b-navItemCaptioned/3/bg17.png"), url("../imgs/t0-b-navItemCaptioned/3/bg4.png"), url("../imgs/t0-b-navItemCaptioned/3/bg5.png"), url("../imgs/t0-b-navItemCaptioned/3/bg6.png"), url("../imgs/t0-b-navItemCaptioned/3/bg7.png"), url("../imgs/t0-b-navItemCaptioned/3/bg8.png");
      }

      #{$_block}--size-4 & {
        background-image: url("../imgs/t0-b-navItemCaptioned/3/bg.png"), url("../imgs/t0-b-navItemCaptioned/3/bg19.png"), url("../imgs/t0-b-navItemCaptioned/3/bg20.png"), url("../imgs/t0-b-navItemCaptioned/3/bg21.png"), url("../imgs/t0-b-navItemCaptioned/3/bg5.png"), url("../imgs/t0-b-navItemCaptioned/3/bg6.png"), url("../imgs/t0-b-navItemCaptioned/3/bg22.png"), url("../imgs/t0-b-navItemCaptioned/3/bg8.png");
      }

      #{$_block}--size-5 & {
        background-image: url("../imgs/t0-b-navItemCaptioned/3/bg.png"), url("../imgs/t0-b-navItemCaptioned/3/bg24.png"), url("../imgs/t0-b-navItemCaptioned/3/bg25.png"), url("../imgs/t0-b-navItemCaptioned/3/bg21.png"), url("../imgs/t0-b-navItemCaptioned/3/bg5.png"), url("../imgs/t0-b-navItemCaptioned/3/bg6.png"), url("../imgs/t0-b-navItemCaptioned/3/bg22.png"), url("../imgs/t0-b-navItemCaptioned/3/bg8.png");
      }

      > span {
        display: table-cell;
        vertical-align: top;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background: linear-gradient(#cd8787, #cd8787);
        padding: 14px 0 0 15px;

        > span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: left bottom;
          z-index: 1;

          > span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: right bottom;
          }
        }

        #{$_block}--size-1 & {
          padding: 12px 0 0 10px;

          > span {

            background-image: url("../imgs/t0-b-navItemCaptioned/3/bg15.png");
            background-size: 100% 41px;

            > span {
              background-image: url("../imgs/t0-b-navItemCaptioned/3/bg10.png");
            }
          }
        }

        #{$_block}--size-2 & {
          padding: 14px 0 0 12.5px;

          > span {
            background-image: url("../imgs/t0-b-navItemCaptioned/3/bg9.png");
            background-size: 100% 46px;

            > span {
              background-image: url("../imgs/t0-b-navItemCaptioned/3/bg10.png");

            }
          }
        }

        #{$_block}--size-3 & {
          padding: 14px 0 0 15px;

          > span {
            background-image: url("../imgs/t0-b-navItemCaptioned/3/bg18.png");
            background-size: 100% 53px;

            > span {
              background-image: url("../imgs/t0-b-navItemCaptioned/3/bg10.png");

            }
          }
        }

        #{$_block}--size-4 & {
          padding: 14px 0 0 17.5px;

          > span {
            background-image: url("../imgs/t0-b-navItemCaptioned/3/bg23.png");
            background-size: 100% 58px;

            > span {
              background-image: url("../imgs/t0-b-navItemCaptioned/3/bg10.png");

            }
          }
        }

        #{$_block}--size-5 & {
          padding: 19px 0 0 20px;

          > span {
            background-image: url("../imgs/t0-b-navItemCaptioned/3/bg26.png");
            background-size: 100% 64px;

            > span {
              background-image: url("../imgs/t0-b-navItemCaptioned/3/bg10.png");
            }
          }
        }

        &::before {
          content: "";
          display: block;
          background-image: url("../imgs/t0-b-navItemCaptioned/3/1/bg5.png");
          background-size: 30px;
          background-repeat: no-repeat;
          background-position: right top;
          width: 30px;
          height: 30px;
          position: relative;
          z-index: 10;

          #{$_block}--size-1 & {
            background-size: 26px;
            width: 26px;
            height: 26px;
          }

          #{$_block}--size-2 & {
            background-size: 28px;
            width: 28px;
            height: 28px;
          }

          #{$_block}--size-3 & {
            background-size: 30px;
            width: 30px;
            height: 30px;
          }

          #{$_block}--size-4 & {
            background-size: 32px;
            width: 32px;
            height: 32px;
          }

          #{$_block}--size-5 & {
            background-size: 34px;
            width: 34px;
            height: 34px;
          }
        }

      }

      > div {
        display: table-cell;
        vertical-align: top;
        padding: 10px 10px 10px 55px;

        #{$_block}--size-1 & {
          padding: 8px 10px 10px 45px;
        }

        #{$_block}--size-2 & {
          padding: 10px 10px 10px 50px;
        }

        #{$_block}--size-3 & {
          padding: 10px 10px 10px 55px;
        }

        #{$_block}--size-4 & {
          padding: 10px 10px 10px 60px;
        }

        #{$_block}--size-5 & {
          padding: 14px 10px 14px 65px;
        }
      }
    }

    &__main {
      @include g-font(22, 1);
      font-weight: bold;
      position: relative;
      z-index: 15;

      #{$_block}--size-1 & {
        @include g-font(18, 1);
      }

      #{$_block}--size-2 & {
        @include g-font(20, 1);
      }

      #{$_block}--size-3 & {
        @include g-font(22, 1);
      }

      #{$_block}--size-4 & {
        @include g-font(24, 1);
      }

      #{$_block}--size-5 & {
        @include g-font(26, 1);
      }
    }

    &__caption {
      @include g-font(18, 1);
      padding: 10px 0 0;
      position: relative;
      margin-left: 1px;
      z-index: 15;

      #{$_block}--size-1 & {
        @include g-font(16, 1);
        padding: 10px 0 0;
      }

      #{$_block}--size-2 & {
        @include g-font(16, 1);
        padding: 10px 0 0;
      }

      #{$_block}--size-3 & {
        @include g-font(18, 1);
        padding: 10px 0 0;
      }

      #{$_block}--size-4 & {
        @include g-font(20, 1);
        padding: 10px 0 0;
      }

      #{$_block}--size-5 & {
        @include g-font(22, 1);
        padding: 10px 0 0;
      }
    }
  }



  .t0-b-navBItemCaptioned#{$variation2of2} {

    $_block: &;
    padding: 0 2px 2px 0;

    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }


    a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      display: table;
      width: 100%;
      position: relative;
      color: #fff;
      box-sizing: border-box;
      border-radius: 5px;
      background-image: url("../imgs/t0-b-navItemCaptioned/2/bg.png"), url("../imgs/t0-b-navItemCaptioned/2/bg2.png"), url("../imgs/t0-b-navItemCaptioned/2/bg3.png"), url("../imgs/t0-b-navItemCaptioned/2/bg4.png"), url("../imgs/t0-b-navItemCaptioned/2/bg5.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg7.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      box-shadow: 2px 2px 2px #b2bbbb;
      padding: 10px;
      min-height: 70px;

      > span {
        display: table-cell;
        vertical-align: top;
        position: absolute;
        top: 7px;
        bottom: 7px;
        left: 4px;
        right: 4px;
        background: linear-gradient(#c35d5d, #8d2525);
        padding: 14px 0 0 15px;

        #{$_block}--size-1 & {
          padding: 10px 0 0 10px;
        }

        #{$_block}--size-2 & {
          padding: 12px 0 0 12.5px;
        }

        #{$_block}--size-3 & {
          padding: 14px 0 0 15px;
        }

        #{$_block}--size-4 & {
          padding: 16px 0 0 17.5px;
        }

        #{$_block}--size-5 & {
          padding: 20px 0 0 20px;
        }

        &:before {
          content: "";
          display: block;
          background-image: url("../imgs/t0-b-navItemCaptioned/2/1/bg4.png");
          background-repeat: no-repeat;
          background-position: right top;
          background-size: 30px;
          width: 30px;
          height: 30px;

          #{$_block}--size-1 & {
            background-size: 26px;
            width: 26px;
            height: 26px;
          }

          #{$_block}--size-2 & {
            background-size: 28px;
            width: 28px;
            height: 28px;

          }

          #{$_block}--size-3 & {
            background-size: 30px;
            width: 30px;
            height: 30px;

          }

          #{$_block}--size-4 & {
            background-size: 32px;
            width: 32px;
            height: 32px;

          }

          #{$_block}--size-5 & {
            background-size: 34px;
            width: 34px;
            height: 34px;
          }
        }
      }

      > div {
        display: table-cell;
        vertical-align: top;

        #{$_block}--size-1 & {
          padding: 10px 10px 10px 45px;
        }

        #{$_block}--size-2 & {
          padding: 12.5px 10px 12.5px 50px;
        }

        #{$_block}--size-3 & {
          padding: 15px 10px 15px 55px;
        }

        #{$_block}--size-4 & {
          padding: 17.5px 10px 17.5px 60px;
        }

        #{$_block}--size-5 & {
          padding: 20px 10px 20px 65px;
        }
      }
    }

    &__main {
      @include g-font(20, 1);
      font-weight: bold;
      position: relative;
      text-shadow: 0 2px 2px #912e2f, 0 -1px 2px #912e2f;

      #{$_block}--size-1 & {
        @include g-font(16, 1);
      }

      #{$_block}--size-2 & {
        @include g-font(18, 1);
      }

      #{$_block}--size-3 & {
        @include g-font(20, 1);
      }

      #{$_block}--size-4 & {
        @include g-font(22, 1);
      }

      #{$_block}--size-5 & {
        @include g-font(24, 1);
      }

    }

    &__caption {
      @include g-font(16, 1);
      position: relative;
      margin-left: 1px;
      text-shadow: 0 2px 2px #912e2f, 0 -1px 2px #912e2f;
      padding: 10px 0 0;

      #{$_block}--size-1 & {
        @include g-font(14, 1);
      }

      #{$_block}--size-2 & {
        @include g-font(14, 1);
      }

      #{$_block}--size-3 & {
        @include g-font(16, 1);
      }

      #{$_block}--size-4 & {
        @include g-font(18, 1);
      }

      #{$_block}--size-5 & {
        @include g-font(20, 1);
      }
    }
  }

  .t0-b-navBItemCaptionedDouble {
    display: flex;
    &__layout {
      padding-left: 4%;
      flex: 1 1 (100% / 2);
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#cd8787, #cd8787, #c16969);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #555;
    text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
    > a {
      color: #555;
      text-decoration: none;
    }
    &__inner {
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }
    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#c35d5d, #ab4444, #8d2425);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    > a {
      color: #fff;
      text-decoration: none;
    }
    &__inner {
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }
    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptionedDouble#{$variation1of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .t0-b-navBItemCaptionedDouble#{$variation2of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
