$g-fullWidthBGColor: #fffdef;
$g-fullWidthBGColor2: #f8f5ff;
$g-fullWidthBGColor3: #f3f7f9;
$g-fullWidthBGColor4: #c7c1c1;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #ebe4d9;
$g-fullWidthBGColor7: #f9e8ee;
$g-fullWidthBGColor8: #e2edf1;
$g-fullWidthBGColor9: #e8a3b7;
$g-fullWidthBGColor10: #bbb;
$g-fullWidthBGColor11: #f9f9f9;
$g-fullWidthBGColor12: #fffff3;
$g-fullWidthBGColor13: #e6e8ec;
$g-fullWidthBGColor14: #eceae9;
$g-fullWidthBGColor15: #f6f5f3;
$g-fullWidthBGColor16: #edf0f3;
$g-fullWidthBGColor17: #f8f2f2;
$g-hoverColor: #aa841b;
$g-textColor: #666;
$headerFullWidthKeyColor: #333;
