@if $device == PC {
  .b-sideMenu#{$variation1of2} {
    $_block: ".b-sideMenu";
    padding: 10px;
    box-shadow: 0 0 0 2px $sideMenu_boxShadowColor, 0 0 0 3px $sideMenu_boxShadowColor2;
    border: 1px solid $sideMenu_borderColor;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../imgs/b-sideMenu/1/bg7.png") repeat left top;
      z-index: 0;
    }

    a {
      text-decoration: none;
      color: $sideMenu_textColor;
    }

    * {
      position: relative;
      z-index: 2;
    }

    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20, 1);
      padding: 23px 0 10px;
      background: url("../imgs/b-sideMenu/1/bg.png") no-repeat center top, url("../imgs/b-sideMenu/1/bg2.png") no-repeat center bottom, url("../imgs/b-sideMenu/1/bg3.png") no-repeat center 23px, url("../imgs/b-sideMenu/1/bg3.png") no-repeat center bottom 10px;
      background-size: auto, auto, 100% 1px, 100% 1px;
      color: $sideMenu_textColor;
      text-align: center;
      font-family: $mincho;
      h4 {
        padding: 7px 0;
      }

      a {
        color: $sideMenu_textColor;
        &:hover {
          color: $g-hoverColor;
          text-decoration: none;
        }
      }
    }

    &__bd {
      padding: 0;
      // 親要素
      > #{$_block}__list {
        > ul > #{$_block}__item {
          > #{$_block}__list {
            padding: 0 0 16px;
          }

          > div {
            > div {
              > a > span,
              > span {
                @include g-font(16, 1);
                margin: 3px 0;
                padding: 3px 0;
                background: url("../imgs/b-sideMenu/1/bg8.png") no-repeat 5px 7px;
                color: $sideMenu_textColor;
                display: block;
                position: relative;
                > span {
                  padding: 0 0 0 16px;
                  display: inline-block;
                }
              }

              > a > span {
                transition: color .3s, text-shadow .3s;
                &:hover {
                  color: $sideMenu_textColor;
                  background: url("../imgs/b-sideMenu/1/bg4.png") no-repeat 5px 7px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top;
                }
              }
            }
          }
        }

        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                color: $sideMenu_textColor2;
                display: block;
                background: url("../imgs/b-sideMenu/1/bg6.png") repeat left top;
                position: relative;
              }

              > a > span {
                &:hover {
                  color: $sideMenu_textColor;
                }
              }
            }
          }
        }
        // 子要素
        > ul > li > #{$_block}__list > ul {
          > #{$_block}__item {
            position: relative;
            > div {
              > div {
                > a > span,
                > span {
                  @include g-font(16, 1);
                  margin: 6px 0 0 15px;
                  padding: 3px 0;
                  color: $sideMenu_textColor;
                  display: block;
                  > span {
                    padding: 0 0 0 15px;
                    display: inline-block;
                  }
                }

                > a > span {
                  transition: color .3s, text-shadow .3s;
                  &:hover {
                    color: $sideMenu_textColor;
                    background: url("../imgs/b-sideMenu/1/bg9.png") no-repeat 5px 7px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top;
                  }
                }
              }
            }
          }

          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: $sideMenu_textColor2;
                }
              }
            }
          }
          // 孫要素
          > #{$_block}__item > div {
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    @include g-font(14, 1);
                    margin: 2px 0;
                    padding: 3px 0 2px 32px;
                    color: $sideMenu_textColor3;
                    display: block;
                    > span {
                      padding: 0 0 0 12px;
                      display: inline-block;
                    }
                  }

                  > a > span {
                    transition: color .3s, text-shadow .3s;
                    &:hover {
                      color: $sideMenu_textColor5;
                      > span {
                        background: url("../imgs/b-sideMenu/1/bg5.png") no-repeat 2px 3px;
                        &::before {
                          content: "";
                          position: absolute;
                          pointer-events: none;
                          bottom: -3px;
                          left: 0;
                          right: 0;
                          height: 1px;
                          background-color: $sideMenu_BGColor;
                        }
                      }
                    }
                  }
                }
              }

              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: $sideMenu_textColor2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenu#{$variation2of2} {
    $_block: ".b-sideMenu";
    padding: 17px 10px 31px 5px;
    background: linear-gradient(to right, $sideMenu2_BGColor, $sideMenu2_BGColor2, $sideMenu2_BGColor), url("../imgs/t0-b-sideBox/2/bg2.png") repeat left top;
    border: 1px solid $sideMenu2_borderColor;
    position: relative;
    * {
      position: relative;
      z-index: 2;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background: url("../imgs/b-sideMenu/2/bg2.png") left top, url("../imgs/b-sideMenu/2/bg3.png") right top, url("../imgs/b-sideMenu/2/bg4.png") left bottom, url("../imgs/b-sideMenu/2/bg5.png") right bottom;
      background-repeat: no-repeat;
    }

    a {
      text-decoration: none;
      color: $sideMenu2_textColor;
    }

    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20, 1);
      margin: 0 0 25px;
      padding: 10px;
      background: url("../imgs/b-sideMenu/2/bg.png") no-repeat center bottom;
      background-size: 100% 1px;
      color: $sideMenu2_textColor;
      text-align: center;
      font-family: $mincho;
      a {
        color: $sideMenu2_textColor;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
          text-decoration: none;
        }
      }

      h4 {
        z-index: 4;
      }
    }

    &__bd {
      // 親要素
      > #{$_block}__list {
        > ul > #{$_block}__item {
          > #{$_block}__list {
            padding: 0 0 16px;
          }

          > div {
            > div {
              > a > span,
              > span {
                @include g-font(16, 1);
                margin: 3px 0;
                padding: 3px 0 5px 25px;
                display: block;
                background: url("../imgs/b-sideMenu/2/bg14.png") no-repeat 2px 0;
                position: relative;
                color: $sideMenu2_textColor;
                text-shadow: none;
                > span {
                  transition: all .3s;
                  &::before {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    transition: all .3s;
                    background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                    opacity: 0;
                  }
                }
              }

              > a > span {
                &:hover {
                  background: url("../imgs/b-sideMenu/2/bg15.png") no-repeat 2px 0;
                  > span {
                    position: relative;
                    display: inline-block;
                    color: $sideMenu2_textColor5;
                    &::before {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }

        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                color: $sideMenu2_textColor2;
                display: block;
                background: url("../imgs/b-sideMenu/2/bg6.png") no-repeat 2px 0, url("../imgs/b-sideMenu/2/bg13.png") repeat left top;
                position: relative;
              }

              > a > span {
                &:hover {
                  color: $sideMenu2_textColor;
                  > span {
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      pointer-events: none;
                      top: 0;
                      bottom: -5px;
                      left: 0;
                      right: 0;
                      background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                    }
                  }
                }
              }
            }
          }
        }
        // 子要素
        > ul > li > #{$_block}__list > ul {
          > #{$_block}__item {
            position: relative;
            > div {
              > div {
                > a > span,
                > span {
                  @include g-font(16, 1);
                  margin: 3px 0;
                  padding: 3px 0 5px 44px;
                  display: block;
                  background: url("../imgs/b-sideMenu/2/bg7.png") no-repeat 28px 12px;
                  color: $sideMenu2_textColor3;
                  position: relative;
                  > span,
                  > span * {
                    transition: all .3s;
                  }
                }

                > a > span {
                  &:hover {
                    > span {
                      color: $sideMenu2_textColor5;
                      position: relative;
                      display: inline-block;
                      &::before {
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        top: 0;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                      }
                    }
                  }
                }
              }
            }
          }

          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: $sideMenu2_textColor2;
                  &::before {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    bottom: 0;
                    left: 18px;
                    right: 0;
                    color: $sideMenu2_textColor4;
                    background: url("../imgs/b-sideMenu/2/bg13.png") repeat left top;
                  }
                }
              }
            }
          }

          // 孫要素
          > #{$_block}__item > div {
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    @include g-font(14, 1);
                    padding: 2px 0 5px 60px;
                    display: block;
                    color: $sideMenu2_textColor3;
                    > span,
                    > span * {
                      transition: all .3s;
                    }
                  }

                  > a > span {
                    &:hover {
                      > span {
                        color: $sideMenu2_textColor5;
                        position: relative;
                        display: inline-block;
                        &::before {
                          content: "";
                          position: absolute;
                          pointer-events: none;
                          top: 0;
                          bottom: -5px;
                          left: 0;
                          right: 0;
                          background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                        }
                      }
                    }
                  }
                }
              }

              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: $sideMenu2_textColor6;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenuHandle#{$variation1of2} {
    $_block: ".b-sideMenuHandle";
    padding: 10px;
    box-shadow: 0 0 0 2px $sideMenu_boxShadowColor, 0 0 0 3px $sideMenu_boxShadowColor2;
    border: 1px solid $sideMenu_borderColor;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../imgs/b-sideMenu/1/bg7.png") repeat left top;
      z-index: 0;
    }

    a {
      text-decoration: none;
      color: $sideMenu_textColor;
    }

    * {
      position: relative;
      z-index: 2;
    }

    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20, 1);
      padding: 23px 0 10px;
      background: url("../imgs/b-sideMenu/1/bg.png") no-repeat center top, url("../imgs/b-sideMenu/1/bg2.png") no-repeat center bottom, url("../imgs/b-sideMenu/1/bg3.png") no-repeat center 23px, url("../imgs/b-sideMenu/1/bg3.png") no-repeat center bottom 10px;
      background-size: auto, auto, 100% 1px, 100% 1px;
      color: $sideMenu_textColor;
      text-align: center;
      font-family: $mincho;
      h4 {
        padding: 7px 0;
      }

      a {
        color: $sideMenu_textColor;
        &:hover {
          color: $g-hoverColor;
          text-decoration: none;
        }
      }
    }

    &__bd {
      padding: 0;
      // 親要素
      > #{$_block}__list {
        > ul > #{$_block}__item {
          > div {
            > div {
              > a > span,
              > span {
                @include g-font(16, 1);
                margin: 5px 0;
                padding: 6px 0;
                color: $sideMenu_textColor;
                display: block;
                position: relative;
                > div {
                  padding: 0 0 0 16px;
                  display: inline-block;
                }
              }

              > a > span {
                transition: color .3s, text-shadow .3s;
                &:hover {
                  color: $sideMenu_textColor;
                  background: url("../imgs/b-sideMenu/1/bg4.png") no-repeat 5px 11px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top;
                }
              }
            }
          }
        }

        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                color: $sideMenu_textColor2;
                display: block;
                background: url("../imgs/b-sideMenu/1/bg6.png") repeat left top;
                position: relative;
              }

              > a > span {
                &:hover {
                  color: $sideMenu_textColor4;
                }
              }
            }
          }
        }

        // 子要素
        > ul > li > #{$_block}__list > ul {
          > #{$_block}__item {
            position: relative;
            > div {
              > div {
                > a > span,
                > span {
                  @include g-font(16, 1);
                  margin: 5px 0 0 15px;
                  padding: 6px 0;
                  color: $sideMenu_textColor;
                  display: block;
                  background: url("../imgs/b-sideMenu/1/2.png") no-repeat 17px 15px;
                  > div {
                    padding: 0 0 0 15px;
                    display: inline-block;
                  }
                }

                > a > span {
                  transition: color .3s, text-shadow .3s;
                  &:hover {
                    color: $sideMenu_textColor;
                    background: url("../imgs/b-sideMenu/1/bg4.png") no-repeat 5px 11px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top;
                  }
                }
              }
            }
          }

          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: $sideMenu_textColor2;
                }
              }
            }
          }

          // 孫要素
          > #{$_block}__item > div {
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    @include g-font(14, 1);
                    margin: 4px 0;
                    padding: 5px 0 5px 32px;
                    color: $sideMenu_textColor3;
                    display: block;
                    background: url("../imgs/b-sideMenu/1/3.png") no-repeat 29px 10px;
                    > div {
                      padding: 0 0 0 12px;
                      display: inline-block;
                    }
                  }

                  > a > span {
                    transition: color .3s, text-shadow .3s;
                    &:hover {
                      color: $sideMenu_textColor;
                      > div {
                        background: url("../imgs/b-sideMenu/1/bg5.png") no-repeat 2px 2px;
                        &::before {
                          content: "";
                          position: absolute;
                          pointer-events: none;
                          bottom: -3px;
                          left: 0;
                          right: 0;
                          height: 1px;
                          background-color: $sideMenu_BGColor;
                        }
                      }
                    }
                  }
                }
              }

              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: $sideMenu_textColor2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenuHandle#{$variation2of2} {
    $_block: ".b-sideMenuHandle";
    padding: 17px 10px 31px;
    background: url("../imgs/t0-b-sideBox/2/bg2.png") repeat left top;
    border: 1px solid $sideMenu2_borderColor;
    position: relative;
    * {
      position: relative;
      z-index: 2;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background: url("../imgs/b-sideMenu/2/bg2.png") left top, url("../imgs/b-sideMenu/2/bg3.png") right top, url("../imgs/b-sideMenu/2/bg4.png") left bottom, url("../imgs/b-sideMenu/2/bg5.png") right bottom;
      background-repeat: no-repeat;
    }

    a {
      text-decoration: none;
      color: $sideMenu2_textColor;
    }

    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20, 1);
      margin: 0 0 25px;
      padding: 10px;
      background: url("../imgs/b-sideMenu/2/bg.png") no-repeat center bottom;
      background-size: 100% 1px;
      color: $sideMenu2_textColor;
      text-align: center;
      font-family: $mincho;
      a {
        color: $sideMenu2_textColor;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
          text-decoration: none;
        }
      }

      h4 {
        z-index: 4;
      }
    }

    // 親要素
    &__bd {
      > #{$_block}__list {
        > ul > #{$_block}__item {
          > div {
            > div {
              > a > span,
              > span {
                @include g-font(16, 1);
                margin: 5px 0;
                padding: 5px 0 5px 25px;
                display: block;
                background: url("../imgs/b-sideMenu/2/bg6.png") no-repeat 2px 2px;
                position: relative;
                color: $sideMenu2_textColor;
                > div {
                  transition: all .3s;
                  &::before {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    transition: all .3s;
                    background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                    opacity: 0;
                  }
                }
              }

              > a > span {
                &:hover {
                  > div {
                    position: relative;
                    display: inline-block;
                    &::before {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }

        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                color: $sideMenu2_textColor2;
                display: block;
                background: url("../imgs/b-sideMenu/2/bg11.png") no-repeat 3px 3px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top, url("../imgs/b-sideMenu/2/bg10.png") repeat left top;
                position: relative;
              }

              > a > span {
                &:hover {
                  color: $sideMenu2_textColor;
                  > div {
                    color: $sideMenu2_textColor;
                    position: relative;
                    &::before {
                      content: "";
                      position: absolute;
                      pointer-events: none;
                      top: 0;
                      bottom: -5px;
                      left: 0;
                      right: 0;
                      background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                    }
                  }
                }
              }
            }
          }
        }

        // 子要素
        > ul > li > #{$_block}__list > ul {
          > #{$_block}__item {
            position: relative;
            > div {
              > div {
                > a > span,
                > span {
                  @include g-font(16, 1);
                  margin: 5px 0;
                  padding: 5px 0 5px 44px;
                  display: block;
                  background: url("../imgs/b-sideMenu/2/bg7.png") no-repeat 28px 14px;
                  color: $sideMenu2_textColor3;
                  position: relative;
                  > span,
                  > span * {
                    transition: all .3s;
                  }
                }

                > a > span {
                  &:hover {
                    > div {
                      color: $sideMenu2_textColor;
                      position: relative;
                      display: inline-block;
                      &::before {
                        content: "";
                        position: absolute;
                        pointer-events: none;
                        top: 0;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                      }
                    }
                  }
                }
              }
            }
          }

          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: $sideMenu2_textColor2;
                  &::before {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    top: 0;
                    bottom: 0;
                    left: 18px;
                    right: 0;
                    color: $sideMenu2_textColor4;
                    background: url("../imgs/b-sideMenu/2/bg12.png") no-repeat 4px 7px, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left top, url("../imgs/b-sideMenu/2/bg9.png") repeat-y right top, url("../imgs/b-sideMenu/2/bg9.png") repeat-x left bottom, url("../imgs/b-sideMenu/2/bg9.png") repeat-y left top, url("../imgs/b-sideMenu/2/bg10.png") repeat left top;
                  }
                }
              }
            }
          }

          // 孫要素
          > #{$_block}__item > div {
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    @include g-font(14, 1);
                    padding: 2px 0 5px 44px;
                    display: block;
                    color: $sideMenu2_textColor3;
                    > span,
                    > span * {
                      transition: all .3s;
                    }
                  }

                  > a > span {
                    &:hover {
                      > div {
                        color: $sideMenu2_textColor;
                        position: relative;
                        display: inline-block;
                        &::before {
                          content: "";
                          position: absolute;
                          pointer-events: none;
                          top: 0;
                          bottom: -5px;
                          left: 0;
                          right: 0;
                          background: url("../imgs/b-sideMenu/2/bg8.png") repeat-x left bottom;
                        }
                      }
                    }
                  }
                }
              }

              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: $sideMenu2_textColor2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .b-sideMenu#{$variation1of2},
  .b-sideMenu#{$variation2of2} {
    $_block: &;
    @include g-font(14, 1);
    width: 100%;
    border: 1px solid $sideMenu_borderColor2;
    box-sizing: border-box;
    color: $sideMenu_textColor;
    a {
      text-decoration: none;
      color: $sideMenu_textColor;
    }

    &__hd,
    &__bd {
      display: none;
    }

    label {
      width: 98%;
      display: inline-block;
      cursor: pointer;
      padding: 10px 0 10px 2%;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      &::before {
        content: "▶︎";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }
    }

    label.active {
      &::before {
        content: "▼";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }
    }

    .b-sideMenu__list {
      > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > a > span,
      > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 20px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        border-top: 1px solid $sideMenu_borderColor2;
      }

      > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > a > span,
      > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 20px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        border-top: 1px solid $sideMenu_borderColor2;
        color: $sideMenu_textColor4;
      }

      > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > a > span,
      > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 30px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
      }

      > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > a > span,
      > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 30px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        color: $sideMenu_textColor4;
      }

      > ul > li > .b-sideMenu__list > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > a > span,
      > ul > li > .b-sideMenu__list > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 40px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
      }

      > ul > li > .b-sideMenu__list > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > a > span,
      > ul > li > .b-sideMenu__list > ul > li > .b-sideMenu__list > ul > .b-sideMenu__item.state-current > .b-sideMenu__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 40px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        color: $sideMenu_textColor4;
      }
    }
  }

  .b-sideMenuHandle#{$variation1of2},
  .b-sideMenuHandle#{$variation2of2} {
    color: $sideMenu_textColor;
    a {
      text-decoration: none;
      color: $g-textColor;
    }
    $_block: &;
    width: 100%;
    background: $sideMenu_BGColor2;
    border: 1px solid $sideMenu_borderColor2;
    @include g-font-spacingKilled(14, 1);
    box-sizing: border-box;
    &__hd,
    &__bd {
      display: none;
    }

    label {
      width: 98%;
      display: inline-block;
      cursor: pointer;
      padding: 10px 0 10px 2%;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      &::before {
        content: "▶︎";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }
    }

    label.active {
      &::before {
        content: "▼";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }
    }

    .b-sideMenuHandle__list {
      > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > a > span,
      > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 20px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        border-top: 1px solid $sideMenu_borderColor2;
      }

      > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > a > span,
      > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 20px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        border-top: 1px solid $sideMenu_borderColor2;
        color: $sideMenu_textColor4;
      }

      > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > a > span,
      > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 30px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
      }

      > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > a > span,
      > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 30px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        color: $sideMenu_textColor4;
      }

      > ul > li > .b-sideMenuHandle__list > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > a > span,
      > ul > li > .b-sideMenuHandle__list > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 40px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
      }

      > ul > li > .b-sideMenuHandle__list > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > a > span,
      > ul > li > .b-sideMenuHandle__list > ul > li > .b-sideMenuHandle__list > ul > .b-sideMenuHandle__item.state-current > .b-sideMenuHandle__item2 > div > span {
        display: block;
        padding: 10px 45px 10px 40px;
        background: url("../img/t0-b-navList/spg.png") no-repeat 95% center;
        background-size: 21px 21px;
        color: $sideMenu_textColor;
      }
    }
  }
}
