// テーマごとのカラー設定ファイル

// テーマ全体で共通の値。g-をつける
// _themeConfig.scssによってすでに当たっている色を再度当てるのは、重複になるので不要
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #393939;
$g-baseHoverColor: #45b1c7;
$g-baseHoverColor2: #0b6577;
$g-baseHoverColor3: #45b1c7;
$g-baseLinkColor: #555;

// 以下、部品ごとの個別の値
// 変数名は、「$ブロック名(+バリエーション番号)_**Color(+数字)」にする
// background: 「BGColor」
// color: 「textColor」
// &:hover color: 「hoverColor」
// border: 「borderColor」
// text-shadow: 「textShadowColor」
// box-shadow: 「boxShadowColor」

//008_creditCard
$creditCard_BGColor: #fff;
$creditCard_borderColor: #ccc;
//015_flow2LeftToRight
$flow2LeftToRight_textColor: #333;
//016_flow3LeftToRight
$flow3LeftToRight_textColor: $flow2LeftToRight_textColor;
//017_flow4LeftToRight
$flow4LeftToRight_textColor: $flow2LeftToRight_textColor;
//018_flow5LeftToRight
$flow5LeftToRight_textColor: $flow2LeftToRight_textColor;
//019_flow6LeftToRight
$flow6LeftToRight_textColor: $flow2LeftToRight_textColor;
//020_flow7LeftToRight
$flow7LeftToRight_textColor: $flow2LeftToRight_textColor;
//026_wysiwyg
$wysiwyg2_BGColor: #f1f5f4;
//030_table
$table_BGColor: #555;
$table_BGColor2: #fff;
$table_borderColor: #888;
$table_textColor: #fff;
//039_media
$media_BGColor: #fff;
//041_navItemCaptioned
$navItemCaptioned_borderColor: #555;
//042_navItem2Captioned
$navItem2Captioned_borderColor: #555;
//_043_navItemWithImg
$navItemWithImg_textColor: #555;
$navItemWithImg_borderColor: #555;
//045_iconText-tel
$iconText-tel_BGColor: #fff;
$iconText-tel_BGColor2: #f6f6f6;
$iconText-tel_BGColor3: #eee;
$iconText-tel_borderColor: #ccc;
$iconText-tel_textColor: #555;
$iconText-tel_textColor2: #f00;
//062_navBItem
$navBItem_BGColor: #555;
$navBItem_textColor: #fff;
//063_navBItemCaptioned
$navBItemCaptioned_BGColor: #555;
$navBItemCaptioned_textColor: #fff;
//064_navBItem2Captioned
$navBItem2Captioned_BGColor: #555;
$navBItem2Captioned_textColor: #fff;
//120_formTable
$formTable_BGColor: #fff;
$formTable_borderColor: #333;
$formTable_borderColor2: #ccc;
$formTable_borderColor3: #cbcbcb;
$formTable_textColor: #da0000;
$formTable2_BGColor: #fff;
$formTable2_borderColor: #333;
$formTable2_borderColor2: #ccc;
$formTable2_borderColor3: #cbcbcb;
$formTable2_textColor: #da0000;
//_131_sideNavBItem
$sideNavBItem_BGColor: $navBItem_BGColor;
$sideNavBItem_textColor: $navBItem_textColor;
//132_sideNavItemWithImg
$sideNavItemWithImg_textColor: #555;
$sideNavItemWithImg_borderColor: #555;
//140_sideBoxIconText-tel
$sideBoxIconText-tel_BGColor: #fff;
$sideBoxIconText-tel_BGColor2: #f6f6f6;
$sideBoxIconText-tel_BGColor3: #eee;
$sideBoxIconText-tel_borderColor: #ccc;
$sideBoxIconText-tel_textColor: #f00;
//144_sideBoxMedia
$sideBoxMedia_BGColor: #fff;
//147_headerUnit-contact-tel
$headerUnit-contact-tel_BGColor: #fff;
$headerUnit-contact-tel_BGColor2: #f6f6f6;
$headerUnit-contact-tel_BGColor3: #eee;
$headerUnit-contact-tel_borderColor: #ccc;
$headerUnit-contact-tel_textColor: #555;
$headerUnit-contact-tel_textColor2: #f00;
//172_headerUnit-contact-navB
$headerUnit-contact-navB_BGColor: $navBItem_BGColor;
$headerUnit-contact-navB_textColor: $navBItem_textColor;
//184_footerUnit-media
$footerUnit-media_BGColor: #fff;
//188_footerUnit-contact
$footerUnit-contact_BGColor: #fff;
$footerUnit-contact_BGColor2: #f6f6f6;
$footerUnit-contact_BGColor3: #eee;
$footerUnit-contact_borderColor: #ccc;
$footerUnit-contact_textColor: #333;
$footerUnit-contact_textColor2: #f00;
//190_footerUnit-navB
$footerUnit-navB_BGColor: $navBItem_BGColor;
$footerUnit-navB_textColor: $navBItem_textColor;
//203_footerFullWidthFrame
$footerFullWidthFrame_BGColor: #b4dde5;
$footerFullWidthFrame2_BGColor: $footerFullWidthFrame_BGColor;
$footerFullWidthFrame3_BGColor: #fff8dd;
$footerFullWidthFrame4_BGColor: $footerFullWidthFrame3_BGColor;
$footerFullWidthFrame5_BGColor: #fee;
$footerFullWidthFrame6_BGColor: $footerFullWidthFrame5_BGColor;
$footerFullWidthFrame7_BGColor: #b4dde5;
$footerFullWidthFrame7_BGColor2: #fff;
$footerFullWidthFrame8_BGColor: $footerFullWidthFrame7_BGColor;
$footerFullWidthFrame8_BGColor2: $footerFullWidthFrame7_BGColor2;
$footerFullWidthFrame9_BGColor: $footerFullWidthFrame7_BGColor2;
$footerFullWidthFrame10_BGColor: $footerFullWidthFrame9_BGColor;
//204_fullWidthFrame
$fullWidthFrame_BGColor: $footerFullWidthFrame_BGColor;
$fullWidthFrame2_BGColor: $footerFullWidthFrame2_BGColor;
$fullWidthFrame3_BGColor: $footerFullWidthFrame3_BGColor;
$fullWidthFrame4_BGColor: $footerFullWidthFrame4_BGColor;
$fullWidthFrame5_BGColor: $footerFullWidthFrame5_BGColor;
$fullWidthFrame6_BGColor: $footerFullWidthFrame6_BGColor;
$fullWidthFrame7_BGColor: $footerFullWidthFrame7_BGColor;
$fullWidthFrame8_BGColor: $footerFullWidthFrame8_BGColor;
$fullWidthFrame9_BGColor: $footerFullWidthFrame9_BGColor;
$fullWidthFrame10_BGColor: $footerFullWidthFrame10_BGColor;
//206_headerFullWidthMedia
$headerFullWidthMedia_BGColor: $footerFullWidthFrame7_BGColor2;
$headerFullWidthMedia2_BGColor: $headerFullWidthMedia_BGColor;
$headerFullWidthMedia3_BGColor: $headerFullWidthMedia_BGColor;
$headerFullWidthMedia4_BGColor: $headerFullWidthMedia_BGColor;
$headerFullWidthMedia5_BGColor: $headerFullWidthMedia_BGColor;
$headerFullWidthMedia-text_textColor: #45b1c7;
$headerFullWidthMedia-text_textShadowColor: #fff;
$headerFullWidthMedia-text_textShadowColor2: #000;
$headerFullWidthMedia-text2_textColor: #fff;
$headerFullWidthMedia-text2_textShadowColor: #555;
$headerFullWidthMedia-text3_borderColor: #fff;
$headerFullWidthMedia-text3_textColor: #fff;
$headerFullWidthMedia-text4_borderColor: #fff;
$headerFullWidthMedia-text4_textColor: #fff;
$headerFullWidthMedia-text5_BGColor: #45b1c7;
$headerFullWidthMedia-text5_textColor: #fff;
$headerFullWidthMedia-text5_textShadowColor: #999;
$headerFullWidthMedia-text6_BGColor: #f2f2f2;
$headerFullWidthMedia-text6_borderColor: #45b1c7;
$headerFullWidthMedia-text6_textColor: #fff;
$headerFullWidthMedia-text7_BGColor: #fff;
$headerFullWidthMedia-text7_boxShadowColor: #bbb;
$headerFullWidthMedia-text7_textColor: #333;
$headerFullWidthMedia-text8_BGColor: #45b1c7;
$headerFullWidthMedia-text8_borderColor: #45b1c7;
$headerFullWidthMedia-text8_textColor: #fff;
$headerFullWidthMedia-text8_textShadowColor: #45b1c7;
$headerFullWidthMedia-text9_BGColor: #fff;
$headerFullWidthMedia-text9_textColor: #555;
//212_login
$login_BGColor: #000;
$login_borderColor: #8e8e8e;
$login_borderColor2: #474747;
$login_textColor: #fff;
//214_smartphoneAssets
$mod-side-menu_BGColor: #e1e1e1;
$mod-side-menu_BGColor: #f5f5f5;
$mod-side-menu_BGColor2: #f5f5f5;
$mod-side-menu_BGColor3: #f5f5f5;
$mod-side-menu_borderColor: #ccc;
$mod-side-menu_textColor: #777;
$mod-side-menu_textColor2: #111;
$mod-sp-accordion_BGColor: #ccc;
$mod-sp-head-bar_BGColor: #fff;
$mod-sp-head-bar_borderColor: #ccc;
$mod-sp-head-bar-menu_BGColor: #333;
$mod-sp-head-bar-tel_BGColor: #45b1c7;
//224_fullWidthFrameCard
$fullWidthFrameCard_BGColor: $footerFullWidthFrame_BGColor;
$fullWidthFrameCard2_BGColor: $fullWidthFrameCard_BGColor;

//227_headerFullWidthMedia-navBItem
$headerFullWidthMedia-navBItem_BGColor: #fff;
$headerFullWidthMedia-navBItem_borderColor: #fff;
$headerFullWidthMedia-navBItem_hoverColor: #fff;
$headerFullWidthMedia-navBItem_textColor: #000;
$headerFullWidthMedia-navBItem2_BGColor: #fff;
$headerFullWidthMedia-navBItem2_borderColor: #fff;
$headerFullWidthMedia-navBItem2_hoverColor: #fff;
$headerFullWidthMedia-navBItem2_textColor: #000;
//1000_frameOuter
$frameOuter_textColor: #000;
$frameOuter2_BGColor: #fff;
$frameOuter2_borderColor: #ccc;
$frameOuter2_textColor: #555;
$frameOuter3_BGColor: #fff;
$frameOuter3_borderColor: #555;
$frameOuter3_textColor: #555;
$frameOuter4_BGColor: #f6f6f6;
$frameOuter4_borderColor: #ccc;
$frameOuter4_boxShadowColor: #eee;
$frameOuter4_hoverColor: #45b1c7;
$frameOuter4_textColor: #555;
$frameOuter4_textShadowColor: #fff;
$frameOuter5_boxShadowColor: #eee;
$frameOuter5_hoverColor: #45b1c7;
$frameOuter5_textColor: #555;
$frameOuter6_boxShadowColor: #eee;
$frameOuter6_hoverColor: #45b1c7;
$frameOuter6_textColor: #555;
$frameOuter7_BGColor: #fff;
$frameOuter7_BGColor2: #fcfdfd;
$frameOuter7_BGColor3: #f7f7f7;
$frameOuter7_borderColor: #ccc;
$frameOuter7_boxShadowColor: #eee;
$frameOuter7_hoverColor: #45b1c7;
$frameOuter7_textColor: #555;
$frameOuter7_textShadowColor: #fff;
$frameOuter8_BGColor: #fff;
$frameOuter8_borderColor: #ccc;
$frameOuter8_boxShadowColor: #eee;
$frameOuter8_textColor: #555;
$frameOuter9_BGColor: #fff;
$frameOuter9_borderColor: #ccc;
$frameOuter9_boxShadowColor: #eee;
$frameOuter9_hoverColor: #45b1c7;
$frameOuter9_textColor: #555;
$frameOuter10_BGColor: #fcfdfd;
$frameOuter10_BGColor2: #f7f7f7;
$frameOuter10_BGColor3: #f0f0f0;
$frameOuter10_borderColor: #ccc;
$frameOuter10_boxShadowColor: #eee;
$frameOuter10_hoverColor: #45b1c7;
$frameOuter10_textColor: #555;
$frameOuter11_BGColor: #fff;
$frameOuter11_boxShadowColor: #eee;
$frameOuter11_hoverColor: #45b1c7;
$frameOuter11_textColor: #555;
$frameOuter12_BGColor: #fcfdfd;
$frameOuter12_BGColor2: #f7f7f7;
$frameOuter12_BGColor3: #f0f0f0;
$frameOuter12_boxShadowColor: #eee;
$frameOuter12_hoverColor: #45b1c7;
$frameOuter12_textColor: #555;
