$g-fullWidthBgColor: #b4dde5;
$g-fullWidthBgColor2: #fff8dd;
$g-fullWidthBgColor3: #fee;
$g-fullWidthBgColor4: #37a1b7;
$g-fullWidthBgColor5: #fff;
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #393939;
$g-baseLinkColor: #555;
$g-baseHoverColor: #45b1c7;
$g-baseHoverColor2: #0b6577;
$g-baseHoverColor3: #45b1c7;
