@mixin RTE {
  a {
    text-decoration: underline;
  }

  p {
    @include g-font($g-fontSize, 2);
    margin-top: 1em;
  }

  > p:first-child {
    margin-top: 0;
  }

  ol {
    padding: 0 0 0 2.5em;
    margin-top: $g-spacing3x;
    ul,
    ol {
      margin-top: $g-spacing2x;
    }

    li {
      @include bugFix_IE_list-item;
      @include g-font($g-fontSize);
      margin-top: $g-spacing2x;
      list-style-type: decimal;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > ol:first-child {
    margin-top: 0;
  }

  ul {
    padding: 0 0 0 2.5em;
    margin-top: $g-spacing3x;
    ul,
    ol {
      margin-top: $g-spacing2x;
    }

    li {
      @include bugFix_IE_list-item;
      @include g-font($g-fontSize);
      margin-top: $g-spacing2x;
      list-style-type: disc;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  > ul:first-child {
    margin-top: 0;
  }

  table {
    width: 100%;
    margin-top: $g-spacing3x;
    // tableのデフォルトの枠線を消す
    border: transparent solid 1px;
    td {
      @include g-font($g-fontSize);
      padding: 10px 15px;
      text-align: left;
      vertical-align: middle;
      background-color: $table_BGColor2;
      // IE,Firefoxでtableの枠線が出るので消す
      border-style: none;
      border-top: 1px solid $table_borderColor;
      border-left: 1px solid $table_borderColor;
      > table,
      > ul,
      > ol,
      > p,
      > hr {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    th {
      @include g-font(16);
      padding: 10px 15px;
      text-align: left;
      vertical-align: middle;
      color: $table_textColor;
      background-color: $table_BGColor;
      // IE,Firefoxでtableの枠線が出るので消す
      border-style: none;
      border-top: 1px solid $table_borderColor;
      border-left: 1px solid $table_borderColor;
      a {
        color: $table_textColor;
        &:hover {
          color: $g-baseHoverColor;
        }
      }

      > table,
      > ul,
      > ol,
      > p,
      > hr {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    tr {
      border-right: 1px solid $table_borderColor;
      &:last-child {
        border-bottom: 1px solid $table_borderColor;
      }
    }
  }

  > table:first-child {
    margin-top: 0;
  }
}
