$g-cellIconHeight: 40px;
$g-cellIconWidth: 23px;
$g-faxIconHeight: 28px;
$g-faxIconWidth: 48px;
$g-fontSize: 14px;
$g-freeIconHeight: 29px;
$g-freeIconWidth: 52px;
$g-spacingBaseLength: 5px;
$g-spacing2x: ($g-spacingBaseLength * 2);
$g-spacing3x: ($g-spacingBaseLength * 3);
$g-spacing4x: ($g-spacingBaseLength * 4);
$g-telIconHeight: 40px;
$g-telIconWidth: 40px;
html {
  font-size: $g-fontSize;
}

body.mod-body,
div.mod-body {
  font-family: $font-gothic;
  font-size: $g-fontSize;
  font-weight: 500;
  color: $g-baseFontColor;
  background-color: $g-baseBackgroundColor;
}

.mod-body {
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: $font-gothic;
  }
}

a {
  color: $g-baseFontColor;
  text-decoration: none;
}

@if $device == PC {
  a {
    &:hover {
      color: $g-baseHoverColor;
    }
  }

  .cms-partsConfig-width-m {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .cms-partsConfig-width-s {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin cf {
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin g-rteTableReset() {
  th,
  td {
    > table,
    > ul,
    > ol,
    > p,
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@mixin bugFix_IE_list-item {
  &::before,
  &::after {
    // IEのlist-item疑似要素のバグ対応
    display: none;
    float: left;
    width: 100%;
  }
}
