@if $device == PC {

  .t0-b-flow7LeftToRight {
    $_block: &;
    width: 100%;
    &__row {
      display: table;
      width: 100%;
      table-layout: fixed;
      padding-bottom: 5%;
      &:last-child {
        padding-bottom: 0;
      }
    }
    &__box {
      display: table-cell;
      vertical-align: top;
      width: (100%-2*(7-1))/7;
      #{$_block}--colSpacing-l & {
        width: (100%-3.5*(7-1))/7;
      }
      #{$_block}--colSpacing-m & {
        width: (100%-2*(7-1))/7;
      }
      #{$_block}--colSpacing-s & {
        width: (100%-0.5*(7-1))/7;
      }
    }
    &__arrow {
      display: table-cell;
      text-align: center;
      font-size: 2em;
      color: #333;
      vertical-align: middle;
      width: 2%;
      #{$_block}--colSpacing-l & {
        width: 3.5%;
      }
      #{$_block}--colSpacing-m & {
        width: 2%;
      }
      #{$_block}--colSpacing-s & {
        width: 0.5%;
      }
    }
  }
}

@if $device == SP {

  .t0-b-flow7LeftToRight {
    $_block: &;
    width: 100%;
    &__box {
      padding-bottom: 15px;
    }
    &__row {
      &:last-child {
        .t0-b-flow7LeftToRight__box {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
