@if $device == PC {
  .t0-b-media {
    margin-left: auto;
    margin-right: auto;
    > * {
      &:first-child {
        padding-top: 0;
      }
    }

    // width variations
    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    img {
      width: 100%;
      box-sizing: border-box;
      display: block;
      height: auto;
    }

    &__h-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      };

      margin-bottom: 3%;
      font-weight: bold;
      text-align: center;
    }

    &__media {
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: $g-baseFontColor;
        display: block;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 3%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }

      margin-top: 3%;
      font-weight: bold;
      text-align: center;
      & + div {
        margin-top: 5%;
      }
    }

    &__caption {
      margin: 5% 0 0;
      text-align: center;
      p {
        @include g-font(14, 2);
        text-align: center;
        > a {
          color: inherit;
          text-decoration: none;
          &:hover {
            color: $hovercolor;
          }
        }
      }
      & + div {
        margin-top: 5%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        text-decoration: none;
        color: $textcolor;

        &:hover {
          color: $hovercolor;
        }
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media2 {
      margin-left: auto;
      margin-right: auto;
      > * {
        &:first-child {
          padding-top: 0;
        }
      }

      // width variations
      &--width-l {
        width: 100%;
      }

      &--width-m {
        width: 75%;
      }

      &--width-s {
        width: 50%;
      }

      img {
        width: 100%;
        box-sizing: border-box;
        display: block;
        height: auto;
        border-radius: 50%;
      }

      &__h-upper {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        };

        margin-bottom: 3%;
        font-weight: bold;
        text-align: center;
      }

      &__media {
        text-align: center;
        position: relative;

        a {
          text-decoration: none;
          color: $g-baseFontColor;
          display: block;
          &:hover {
            opacity: .8;
          }
        }
        & + div {
          margin-top: 3%;
        }
      }

      &__textOnImage-upper {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;

        p {
          @include g-font(18,1);
          @include g-textOuterGlow;
          pointer-events: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding: 15px 5px 10px;
          background: rgba(255,255,255,0.8);
          // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
          max-height: 66px;
        }
      }

      &__textOnImage-lower {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;

        p {
          @include g-font(18,1);
          @include g-textOuterGlow;
          pointer-events: auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 10px 5px 15px;
          background: rgba(255,255,255,0.8);
          // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
          max-height: 66px;
        }
      }

      &__h-lower {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        }

        margin-top: 3%;
        font-weight: bold;
        text-align: center;
        & + div {
          margin-top: 5%;
        }
      }

      &__caption {
        margin: 5% 0 0;
        text-align: center;
        p {
          @include g-font(14, 2);
          text-align: center;
          > a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: $hovercolor;
            }
          }
        }
        & + div {
          margin-top: 5%;
        }
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }

      &__h-upper,
      &__h-lower {
        a {
          text-decoration: none;
          color: $textcolor;

          &:hover {
            color: $hovercolor;
          }
        }

        div {
          display: inline-block;
        }
      }
    }

  .t0-b-media3 {
      margin-left: auto;
      margin-right: auto;
      > * {
        &:first-child {
          padding-top: 0;
        }
      }

      // width variations
      &--width-l {
        width: 100%;
      }

      &--width-m {
        width: 75%;
      }

      &--width-s {
        width: 50%;
      }

      img {
        width: 100%;
        box-sizing: border-box;
        display: block;
        height: auto;
        transition: 0.5s ease;
      }

      &__h-upper {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        };

        margin-bottom: 3%;
        font-weight: bold;
        text-align: center;
      }

      &__media {
        text-align: center;
        position: relative;
        overflow: hidden;

        a {
          text-decoration: none;
          color: $g-baseFontColor;
          transition: 0.5s ease;
          display: block;
          &:hover {
            opacity: 0.8;
            img {
              transform: scale(1.2);
            }
          }
        }
        & + div {
          margin-top: 3%;
        }
      }

      &__textOnImage-upper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        p {
          @include g-font(18,1);
          @include g-textOuterGlow;
          padding: 10px 5px;
          background: rgba(255,255,255,0.8);
          // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
          max-height: 66px;
        }
      }

      &__textOnImage-lower {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        p {
          @include g-font(18,1);
          @include g-textOuterGlow;
          padding: 10px 5px;
          background: rgba(255,255,255,0.8);
          // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
          max-height: 66px;
        }
      }

      &__h-lower {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        }

        margin-top: 3%;
        font-weight: bold;
        text-align: center;
        & + div {
          margin-top: 5%;
        }
      }

      &__caption {
        margin: 5% 0 0;
        text-align: center;
        p {
          @include g-font(14, 2);
          text-align: center;
          > a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: $hovercolor;
            }
          }
        }
        & + div {
          margin-top: 5%;
        }
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }

      &__h-upper,
      &__h-lower {
        a {
          text-decoration: none;
          color: $textcolor;

          &:hover {
            color: $hovercolor;
          }
        }

        div {
          display: inline-block;
        }
      }
    }

  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }

    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .t0-b-serviceSet#{$variation2of2} & {
      overflow: hidden;
      direction: ltl;

      img {
        min-width: 100%;
      }
    }
  }
}

@if $device == SP {

  .t0-b-media {

    margin: 0 auto;

    a {
      text-decoration: none;
      color: $g-baseFontColor;
    }

    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      margin-bottom: 10px;
      div {
        display: inline-block;
      }
    }

    img {
      max-width: 100% !important;
    }

    &__media {
      line-height: 0;
      text-align: center;
      position: relative;

      > *,
      img {
        width: 100%;
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      a {
        text-decoration: none;
      }
      // スイッチャブル時に&__h-lowerをoffにした時に適用
      & + div {
        margin-top: 10px;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      margin-top: 10px;
      div {
        display: inline-block;
      }
      // スイッチャブル時に&__captionをoffにした時に適用
      & + div {
        margin-top: 10px;
      }
    }

    &__caption {
      margin-top: 10px;
      p {
        @include g-font(14, 2);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
      a {
        text-decoration: underline;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media2 {
    margin-left: auto;
    margin-right: auto;
    > * {
      &:first-child {
        padding-top: 0;
      }
    }

    // width variations
    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    img {
      width: 100%;
      box-sizing: border-box;
      display: block;
      border-radius: 50%;
    }

    &__h-upper {
      @include g-font(16, 1);

      margin: 0 0 10px;
      text-align: center;
    }

    &__media {
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: $g-baseFontColor;
      }

      & + div {
        margin-top: 10px;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 5px 10px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 15px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__h-lower {
      @include g-font(16, 1);

      margin: 10px 0 0;
      text-align: center;

      & + div {
        margin-top: 10px;
      }
    }

    &__caption {
      margin: 10px 0 0;
      text-align: center;

      p {
        @include g-font(14, 2);
        text-align: center;
      }

      & + div {
        margin-top: 10px;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        text-decoration: none;
        color: $textcolor;
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media3 {
    margin-left: auto;
    margin-right: auto;
    > * {
      &:first-child {
        padding-top: 0;
      }
    }

    // width variations
    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    img {
      width: 100%;
      box-sizing: border-box;
      display: block;
    }

    &__h-upper {
      @include g-font(16, 1);

      margin: 0 0 10px;
      text-align: center;
    }

    &__media {
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: $g-baseFontColor;
      }

      & + div {
        margin-top: 10px;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__h-lower {
      @include g-font(16, 1);

      margin: 10px 0 0;
      text-align: center;

      & + div {
        margin-top: 10px;
      }
    }

    &__caption {
      margin: 10px 0 0;
      text-align: center;

      p {
        @include g-font(14, 2);
        text-align: center;
      }

      & + div {
        margin-top: 10px;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        text-decoration: none;
        color: $textcolor;
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }
    .t0-b-serviceSet#{$variation2of2} & {
      overflow: hidden;
      direction: ltl;

      img {
        min-width: 100%;
      }
    }
  }
}
