@if $device == PC {
  .t0-b-arrow {
    height: 34px;
    margin: 0 auto;
    text-align: center;
    background: url("../imgs/t0-b-arrow/1.png")no-repeat center 0;
  }
}

@if $device == SP {
  .t0-b-arrow {
    height: 24px;
    margin: 0 auto;
    text-align: center;
    background: url("../imgs/t0-b-arrow/1.png")no-repeat center 0;
    background-size: 36px 24px;
  }
}
