@if $device == PC {
  .t0-b-sideFreeHtml {
    position: relative;
    z-index: z(sideFreeHtml, 0);
    $_block: &;
    overflow: hidden;
    text-align: center;
    .admin & {
      padding: 10px;
      color: #fff;
      background: #666;
      border-radius: 5px;
    }

    > * {
      max-width: 100%;
      margin: 0 auto !important;
    }
  }
}

@if $device == SP {
  .t0-b-sideFreeHtml {
    @include freeHtml(95%);
    box-sizing: border-box;
    padding: 0 5px;

    .admin & {
      padding: 10px;
      color: #fff;
      background: #666;
      border-radius: 5px;
    }
  }
}
