@if $device == PC {
  .t0-b-headerMenu#{$variation1of2} {
    $_width_content: 1100px;

    background: #d60818;
    border-bottom: 3px solid #7f000a;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid #fff;
          &:first-child {
            border-left: 1px solid #fff;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;

        padding: 0 11px 0 10px;
        color: #fff;
        text-align: center;

        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        div {
          color: #b9000f;
          background-color: #fff;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        color: #fff;
        background-color: #d83d4a;
        &:after {
          position: absolute;
          right: 3px;
          bottom: 0;
          left: 3px;
          z-index: -1;
          height: 4px;
          pointer-events: none;
          content: "";
          background-color: #fff;
        }
      }

      a {
        color: #b9000f;
      }
    }

    .state-current {
      div {
        color: #fff;
        background-color: #8c0914;
        &:after {
          background: none;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    $_width_content: 1100px;

    background: #fff;
    border-top: 1px solid #dadada;
    border-bottom: 4px solid #b9000f;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          background: url("../imgs/t0-b-headerMenu/1.png")no-repeat right center;
          &:first-child {
            background: url("../imgs/t0-b-headerMenu/1.png")no-repeat left center, url("../imgs/t0-b-headerMenu/1.png")no-repeat right center;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;

        padding: 0 11px 0 10px;
        color: #7f000a;
        text-align: center;

        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #7f000a;
      text-decoration: none;
      &:hover {
        div {
          color: #ff2d3e;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        color: #fff;
        &:before {
          position: absolute;
          top: 4px;
          right: 4px;
          bottom: 4px;
          left: 4px;
          z-index: -1;
          pointer-events: none;
          content: "";
          background-color: #e1404f;
        }

        &:after {
          position: absolute;
          right: 4px;
          bottom: 7px;
          left: 4px;
          z-index: -1;
          height: 2px;
          pointer-events: none;
          content: "";
          background-color: #fff;
        }
      }

      a {
        &:hover {
          div {
            color: #95010c;
          }
        }
      }
    }

    .state-current {
      div {
        color: #fff;
        background-color: #b9000f;
        &:before {
          background: none;
        }

        &:after {
          background: none;
        }
      }

      a {
        &:hover {
          div {
            color: #e3717a;
          }
        }
      }
    }
  }

  .t0-b-headerMenu3 {
    $_width_content: 1100px;
    color: #fff;

    background: #0d0d0d;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #b9000f;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #f4636e;
    }
  }

  .t0-b-headerMenu4 {
    $_width_content: 1100px;
    color: #fff;

    background: #b9000f;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      transition: all .3s;
      div {
        @include g-font(14, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        background-color: #d9757d;
        a {
          color: #fff;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: all .3s;
    }

    .state-current {
      color: #ff9ca6;
      background-color: #d9757d;
      a {
        color: #fff;
      }
    }
  }

  .t0-b-headerMenu5 {
    $_width_content: 1100px;
    color: #333;

    background: #fff;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #d60818;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #333;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #8c0914;
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of2} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    text-align: center;

    background: #d60818;

    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;

      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #fff;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #e3717a;
      }

      a {
        color: #e3717a;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          font-weight: normal;
          color: #fff;
          background: #8c0914;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2},
  .t0-b-headerMenu5 {

    margin: 0 -15px;

    text-align: center;
    background: #fff;
    border: 1px solid #b9000f;
    ul {
      padding: 5px 0;
    }

    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;

      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #7f000a;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #7f000a;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #e60214;
      }

      a {
        color: #e60214;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #fff;
        &, &:hover {
          font-weight: normal;
          background: #b9000f;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu3 {
    @include g-font(12, 1);

    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #0d0d0d;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #d60818;
    }

    .state-current,
    .state-current a {
      color: #f4636e;
    }
  }


  .t0-b-headerMenu4 {
    @include g-font(12, 1);

    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #b9000f;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #ff9da7;
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #8c0914;
        &, &:hover {
          font-weight: normal;
          background-color: #d9757d;
        }
      }

      a {
        color: #8c0914;
      }
    }
  }
}
