@if $device == PC {
  .t0-b-footerUnit-lv2H {

    color: $textcolor;

    h5 {
      @include g-font(18, 1);

      white-space: nowrap;
      padding: 0 2px 3px;
      border-bottom: 1px solid #7e7e7e;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        left: 0;
        width: 24px;
        height: 1px;
        border-bottom: 1px solid #cf0011;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    color: $textcolor;

    h5 {
      @include g-font(18, 1);

      padding: 0 2px 3px;
      border-bottom: 1px solid #7e7e7e;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        left: 0;
        width: 24px;
        height: 1px;
        border-bottom: 1px solid #cf0011;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
