$areaContainerWidth: 1100px;
$areaMainWidth: 700px;
$areaSubWidth: 400px;

.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


.area-main {
  box-sizing: border-box;
  padding: 0 0 50px;
  float: right;
  width: $areaMainWidth;
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
}

.area-sub {
  box-sizing: border-box;
  min-height: 100px;
  float: left;
  width: $areaSubWidth;
  padding: 0 70px 50px 0;
  // t0-b-fullWidthFrameの背景色がサイドエリアの上に重ならないために必要
  position: relative;
}

.area-footer {
  background: #fdfdfd;
  border-top: 1px solid #ededed;
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
}
