$g-fullWidthBgColor: #e5f4ff;
$g-fullWidthBgColor2: #eff1f3;
$g-fullWidthBgColor3: #ebf8f7;
$g-fullWidthBgColor4: #0091ff;
$g-fullWidthBgColor5: #fff;
$g-fullWidthBgColor6: #66bdff;
$g-fullWidthBgColor7: #bdc7d1;
$g-fullWidthBgColor8: #66cdbf;
$g-fullWidthBgColor9: #66a8ff;
$g-fullWidthBgColor10: #ffaf33;
$g-fullWidthBgColor11: #e5eef9;
$g-fullWidthBgColor12: #fffaf2;
$g-fullWidthBgColor13: #e9fafe;
$g-fullWidthBgColor14: #fff0f0;
$g-fullWidthBgColor15: #f2f7fc;
$g-fullWidthBgColor16: #f8f9f9;
$g-fullWidthBgColor17: #f7fdfc;
$g-hoverColor: #006eff;
$g-hoverColor2: #24ceb8;
$g-textColor: #666;
$headerFullWidthKeyColor: #0091ff;
