$g-fullWidthBGColor: #e5f4ff;
$g-fullWidthBGColor2: #eff1f3;
$g-fullWidthBGColor3: #ebf8f7;
$g-fullWidthBGColor4: #0091ff;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #66bdff;
$g-fullWidthBGColor7: #bdc7d1;
$g-fullWidthBGColor8: #66cdbf;
$g-fullWidthBGColor9: #66a8ff;
$g-fullWidthBGColor10: #ffaf33;
$g-fullWidthBGColor11: #e5eef9;
$g-fullWidthBGColor12: #fffaf2;
$g-fullWidthBGColor13: #e9fafe;
$g-fullWidthBGColor14: #fff0f0;
$g-fullWidthBGColor15: #f2f7fc;
$g-fullWidthBGColor16: #f8f9f9;
$g-fullWidthBGColor17: #f7fdfc;
$g-hoverColor: #006eff;
$g-hoverColor2: #24ceb8;
$g-textColor: #666;
$headerFullWidthKeyColor: #0091ff;
