@if $device == PC {
  .t0-b-flow4LeftToRight {
    width: 100%;
    &__hd {
      padding-bottom: 15px;
    }

    &__bd {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    &__box {
      display: table-cell;
      vertical-align: top;
    }

    &__arrow {
      display: table-cell;
      width: 2%;
      text-align: center;
      font-size: 2em;
      color: #333;
      vertical-align: middle;
    }
  }

  .t0-b-flow4LeftToRight2 {
    width: 100%;
    &__bd {
      display: table;
      width: 100%;
      table-layout: fixed;
      height: 100%;
    }

    &__box {
      display: table-cell;
      vertical-align: top;
      height: 100%;
    }

    &__arrow {
      display: table-cell;
      width: 35px;
      height: 100%;
      vertical-align: middle;
    }

    &__arrow-inner {
      display: inline-block;
      height: 37px;
      background-repeat: no-repeat;
      background-position: center 40%;
      background-image: url("../imgs/navItem/1/34.png");
      width: 100%;
      margin-top: -5px;
    }
  }
}

@if $device == SP {
  .t0-b-flow4LeftToRight {
    width: 100%;
  }

  .t0-b-flow4LeftToRight2 {
    width: 100%;
  }
}
