@if $device == PC {
  .t0-b-lv4H-aIcon#{$variation1of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    color: $g-textColor;
    > div {
      display: table;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__bd {
      width: 100%;
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 32px;
      height: 36px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(16, 1);

      padding: 0 0 5px;
    }

    &__h {
      @include g-font(20, 1);

      background: url("../imgs/main/2/12.png") repeat-x left bottom;
      padding-bottom: 6px;
    }

    &__caption-lower {
      @include g-font(16, 1);

      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-lv4H-aIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    color: $g-textColor;
    > div {
      display: table;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__bd {
      width: 100%;
    }

    &__icon {
      display: inline-block;
      width: 56px;
      height: 56px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
      background-position: (-32px) 0;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(16, 1);

      padding: 0 0 5px;
    }

    &__h {
      @include g-font(20, 1);

      font-weight: normal;
      padding: 0 0 5px;
      background: url("../imgs/main/1/21.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font(16, 1);

      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-aIcon#{$variation1of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    color: $g-textColor;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__bd {
      width: 100%;
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 23px;
      height: 26px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/sp/3.png");
    }

    &__iconPlacer {
      padding: 0 7px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 4px;
    }

    &__h {
      @include g-font(18, 1);

      background: url("../imgs/main/2/12.png") repeat-x left bottom;
      padding-bottom: 5px;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 6px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
    }
  }

  .t0-b-lv4H-aIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    color: $g-textColor;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__bd {
      width: 100%;
    }

    &__icon {
      background-position: (-23px) 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 46px;
      height: 46px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/sp/3.png");
    }

    &__iconPlacer {
      padding: 0 7px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
    }

    &__h {
      @include g-font(18, 1);

      padding: 4px 0 5px;
      background: url("../imgs/main/1/21.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 6px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
    }
  }
}
