@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    position: relative;
    z-index: 100;
    > span {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/side/1/7-10.png"), url("../imgs/side/1/7-11.png"), url("../imgs/side/1/7-3.png"), url("../imgs/side/1/7-4.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px;
      background-position: 0 0, 100% 0, 0 100%, 100% 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    > span + &__hd {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/side/1/7-1.png"), url("../imgs/side/1/7-2.png"), url("../imgs/side/1/7-3.png"), url("../imgs/side/1/7-4.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px;
      background-position: 0 0, 100% 0, 0 100%, 100% 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::after {
      content: "";
      background-repeat: repeat-y, repeat-y;
      background-position: 0 0, 100% 100%;
      background-size: 3px 21px, 3px 21px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/side/1/7-8.png"), url("../imgs/side/1/7-6.png");
      background-color: #fff;
      top: 8px;
      bottom: 8px;
      left: 0;
      right: 0;
      z-index: -1;
      height: auto !important;
      margin-top: 0 !important;
    }

    &::before {
      content: "";
      background-repeat: repeat-x, repeat-x;
      background-position: 0 0, 0 100%;
      background-size: 21px 3px, 21px 3px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/side/1/7-5.png"), url("../imgs/side/1/7-7.png");
      background-color: #fff;
      top: 0;
      bottom: 0;
      left: 7px;
      right: 7px;
      z-index: -1;
      height: auto !important;
      margin-top: 0 !important;
    }

    &__hd {
      background-image: url("../imgs/side/1/7-1.png"), url("../imgs/side/1/7-2.png"), url("../imgs/side/1/1-1.png");
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: 0 0, 100% 0, 0 0;
      background-size: 8px 8px, 8px 8px, 48px 40px;
      background-color: #002655;
      color: #0d0d0d;
      padding: 12px 8px;
      border-radius: 10px 10px 0 0;
      text-align: center;
      text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
      position: relative;
      &::after {
        content: "";
        background-repeat: repeat-y, repeat-y, repeat-x;
        background-position: 0 0, 100% 100%, 0 100%;
        background-size: 3px 21px, 3px 21px, 16px 2px;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/side/1/7-8.png"), url("../imgs/side/1/7-6.png"), url("../imgs/side/1/7-9.png");
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto !important;
        margin-top: 0 !important;
      }

      &::before {
        content: "";
        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: 21px 3px;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/side/1/7-5.png");
        top: 0;
        bottom: 0;
        left: 7px;
        right: 7px;
        height: auto !important;
        margin-top: 0 !important;
      }

      h4 {
        position: relative;
        display: inline-block;
        z-index: 1;
        &::after {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block !important;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/side/1/1-2.png");
          width: 26px;
          height: 20px !important;
          margin-top: -10px;
          top: 50%;
          left: 0;
        }

        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block !important;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/side/1/1-2.png");
          width: 26px;
          height: 20px !important;
          margin-top: -10px;
          top: 50%;
          right: 0;
        }

        > div {
          padding: 0 40px;
        }
      }

      a {
        text-decoration: none;
      }

      h4 {
        color: $textcolor;
        position: relative;

        @include g-font-spacingKilled(18, 0);

        font-family: YuMincho, "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        display: inline-block;
      }

      a {
        h4 {
          &:hover {
            color: $hovercolor;
          }
        }
      }
    }

    &__bd {
      padding: 16px 16px 6px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    background: #152a6c;
    position: relative;
    border-radius: 0 0 2px 2px;
    z-index: 10;
    padding-bottom: 1px;
    padding-top: 5px;
    border-top: 4px solid #9a7a2e;
    &__hd {
      padding: 0 4px;
      font-weight: bold;
      &::before {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        background-image: url("../imgs/main/2/8.png");
        display: block;
        position: absolute;
        pointer-events: none;
        width: 132px;
        height: 62px !important;
        top: 0;
        right: 0;
        z-index: -1;
      }

      h4 {
        color: #fff;
        padding: 0 27px;
        position: relative;

        @include g-font-spacingKilled(18, 0);

        font-family: YuMincho, "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        text-shadow: (-1px) -1px #000, 1px -1px #000, (-1px) 1px #000, 1px 1px #000;
        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          background-image: url("../imgs/side/2/4.png");
          display: block;
          position: absolute;
          pointer-events: none;
          width: 6px;
          height: 16px !important;
          top: 50%;
          left: 10px;
          margin-top: -9px;
        }
      }

      a {
        text-decoration: none;
        color: $textcolor;
        h4 {
          &:hover {
            color: $hovercolor2;
          }
        }
      }
    }

    .t0-b-sideBoxMedia#{$variation2of2} {
      &__main {
        position: relative;
        &::after {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/main/1/17-3.png");
          width: 27px;
          height: 27px;
          top: 0;
          left: 0;
        }

        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/main/1/17-4.png");
          width: 27px;
          height: 27px;
          bottom: 0;
          right: 0;
          z-index: 10;
        }
      }
    }

    &__bd {
      padding: 14px 14px 2px;
      background: #fff;
      margin: 5px;
      border-radius: 2px;
      box-sizing: border-box;
      min-height: 19px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    position: relative;
    z-index: 19;
    > span {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/side/1/7-10.png"), url("../imgs/side/1/7-11.png"), url("../imgs/side/1/7-3.png"), url("../imgs/side/1/7-4.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px;
      background-position: 0 0, 100% 0, 0 100%, 100% 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    > span + &__hd {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/side/1/7-1.png"), url("../imgs/side/1/7-2.png"), url("../imgs/side/1/7-3.png"), url("../imgs/side/1/7-4.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px;
      background-position: 0 0, 100% 0, 0 100%, 100% 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::after {
      content: "";
      background-repeat: repeat-y, repeat-y;
      background-position: 0 0, 100% 100%;
      background-size: 3px 21px, 3px 21px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/side/1/7-8.png"), url("../imgs/side/1/7-6.png");
      background-color: #fff;
      top: 8px;
      bottom: 8px;
      left: 0;
      right: 0;
      z-index: -1;
      height: auto !important;
      margin-top: 0 !important;
    }

    &::before {
      content: "";
      background-repeat: repeat-x, repeat-x;
      background-position: 0 0, 0 100%;
      background-size: 21px 3px, 21px 3px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/side/1/7-5.png"), url("../imgs/side/1/7-7.png");
      background-color: #fff;
      top: 0;
      bottom: 0;
      left: 7px;
      right: 7px;
      z-index: -1;
      height: auto !important;
      margin-top: 0 !important;
    }

    &__hd {
      background-image: url("../imgs/side/1/7-1.png"), url("../imgs/side/1/7-2.png"), url("../imgs/side/1/1-1.png");
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: 0 0, 100% 0, 0 0;
      background-size: 8px 8px, 8px 8px, 48px 40px;
      background-color: #002655;
      color: #0d0d0d;
      padding: 12px 8px;
      border-radius: 10px 10px 0 0;
      text-align: center;
      text-shadow: (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
      position: relative;
      &::after {
        content: "";
        background-repeat: repeat-y, repeat-y, repeat-x;
        background-position: 0 0, 100% 100%, 0 100%;
        background-size: 3px 21px, 3px 21px, 16px 2px;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/side/1/7-8.png"), url("../imgs/side/1/7-6.png"), url("../imgs/side/1/7-9.png");
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto !important;
        margin-top: 0 !important;
      }

      &::before {
        content: "";
        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: 21px 3px;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/side/1/7-5.png");
        top: 0;
        bottom: 0;
        left: 7px;
        right: 7px;
        height: auto !important;
        margin-top: 0 !important;
      }

      h4 {
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block !important;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/side/1/1-2.png");
          width: 26px;
          height: 20px !important;
          margin-top: -10px;
          top: 50%;
          left: 0;
        }

        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block !important;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/side/1/1-2.png");
          width: 26px;
          height: 20px !important;
          margin-top: -10px;
          top: 50%;
          right: 0;
        }

        > div {
          padding: 0 40px;
        }
      }

      a {
        text-decoration: none;
      }

      h4 {
        color: $textcolor;
        position: relative;

        @include g-font-spacingKilled(18, 0);

        font-family: YuMincho, "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        display: inline-block;
      }
    }

    &__bd {
      padding: 16px 16px 6px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    background: #152a6c;
    position: relative;
    border-radius: 0 0 2px 2px;
    z-index: 10;
    padding-bottom: 1px;
    padding-top: 5px;
    border-top: 4px solid #9a7a2e;
    &__hd {
      padding: 0 4px;
      font-weight: bold;
      &::before {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        background-image: url("../imgs/main/2/8.png");
        display: block;
        position: absolute;
        pointer-events: none;
        width: 132px;
        height: 62px !important;
        top: 0;
        right: 0;
        z-index: -1;
      }

      h4 {
        color: #fff;
        padding: 0 27px;
        position: relative;

        @include g-font-spacingKilled(18, 0);

        font-family: YuMincho, "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        text-shadow: (-1px) -1px #000, 1px -1px #000, (-1px) 1px #000, 1px 1px #000;
        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          background-image: url("../imgs/side/2/4.png");
          display: block;
          position: absolute;
          pointer-events: none;
          width: 6px;
          height: 16px !important;
          top: 50%;
          left: 10px;
          margin-top: -9px;
        }
      }

      a {
        text-decoration: none;
        color: $textcolor;
      }
    }

    &__bd {
      padding: 14px 14px 2px;
      background: #fff;
      margin: 5px;
      border-radius: 2px;
      box-sizing: border-box;
      min-height: 19px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
