@if $device == PC {
  $fullWidthBgColor: #f2f4f9;
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    padding: 25px 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $fullWidthBgColor;

    @if $layout == "L25" {
      margin: 0 0 0 (0 - $areaSubWidth);
    }
    @else if $layout == "L30" {
      margin: 0 0 0 (0 - $areaSubWidth);
    }
    @else if $layout == "N00" {
      margin: 0;
    }
    @else if $layout == "R25" {
      margin: 0 (0 - $areaSubWidth) 0 0;
    }
    @else if $layout == "R30" {
      margin: 0 (0 - $areaSubWidth) 0 0;
    }
    > * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: #8d6e1d solid 2px;
      > span {
        position: absolute;
        pointer-events: none;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        border: #bba877 solid 1px;
      }
    }

    .t0-b-media#{$variation2of2} {
      &__media {
        text-align: center;
        position: relative;
        &::after {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/main/1/17-3.png");
          width: 27px;
          height: 27px;
          top: 0;
          left: 0;
        }

        &::before {
          content: "";
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100% 100%;
          display: block;
          position: absolute;
          pointer-events: none;
          background-image: url("../imgs/main/1/17-4.png");
          width: 27px;
          height: 27px;
          bottom: 0;
          right: 0;
          z-index: 10;
        }
      }
    }

    .t0-b-lv4H3 {
      &__bd {
        h4 {
          display: inline-block;

          @include g-font(20, 1);

          min-height: 35px;
          box-sizing: border-box;
          padding: 8px 100px 0;
          position: relative;
          font-family: YuMincho, "游明朝", "メイリオ", "Meiryo", serif;
          font-weight: 400;
          background-image: url("../imgs/main/1/5-1.png"), url("../imgs/main/1/5-2.png");
          background-repeat: no-repeat, no-repeat;
          background-position: left center, right center;
          background-color: #fff;
        }
      }
    }
  }

  .t0-b-fullWidthFrame2 {
    @if $layout == "L25" {
      margin-left: 0;
    }
    @else if $layout == "L30" {
      margin-left: 0;
    }
    @else if $layout == "N00" {
      margin: 0 120px;
    }
    @else if $layout == "R25" {
      margin-right: 0;
    }
    @else if $layout == "R30" {
      margin-right: 0;
    }
  }
}

@if $device == SP {
  $fullWidthBgColor: #f2f4f9;
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    margin: 0;
    padding: 25px 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    background-color: $fullWidthBgColor;
    > * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: #8d6e1d solid 2px;
      > span {
        position: absolute;
        pointer-events: none;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        border: #bba877 solid 1px;
      }
    }
  }
}
