$g-fullWidthBGColor: #f1fbff;
$g-fullWidthBGColor2: #e6e8ec;
$g-fullWidthBGColor3: #f0ecdb;
$g-fullWidthBGColor4: #235fb7;
$g-fullWidthBGColor5: #fff;
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #393939;
$g-hoverColor: #7ab3e4;
$g-hoverColor2: #1f5bb6;
$g-hoverColor3: #7ab3e4;
$g-textColor: #393939;
$g-textColor2: #1176bd;
