@if $device == PC {

  .t0-b-iconText-mail {
    color: #172188;

    a {
      text-decoration: none;
      color: #172188;

      &:hover {
        text-decoration: underline;
      }
    }

    > div {
      display: inline-block;
    }

    &__bd {
      @include g-font(16, 1);
      text-align: left;
      font-weight: bold;
    }

    &__icon {
      display: inline-block;
      width: 19px;
      height: 12px;
      margin-right: 3px;
      background-image: url("../imgs/t0-b-iconText-mail/1.png");
      background-position: left top;
      background-repeat: no-repeat;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

}

@if $device == SP {

  .t0-b-iconText-mail {
    word-break: break-all;

    a {
      text-decoration: none;
      color: #172188;
    }

    &__bd {
      @include g-font(16, 1);
      text-align: left;
      color: #172188;

      > span {
        background-repeat: no-repeat;
      }
    }

    &__icon {
      display: inline-block;
      width: 19px;
      height: 12px;
      background-image: url("../imgs/t0-b-iconText-mail/1.png");
      margin-right: 3px;
    }
  }
}
