@if $device == PC {

  .t0-b-headerUnit-contact-fax {
    display: table;
    white-space: nowrap;
    min-width: 150px;

    div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-headerUnit-contact/bg2.png");
      background-position: center;
      border:1px solid #555;
      width: 28px;
    }

    p {
      @include g-font(16, 1);
      display: table-cell;
      padding: 0 0 2px 5px;
      color: #d01a1a;
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerSingle &,
    .t0-b-headerSingle1 & {
      margin: 0 auto;
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-contact-fax {
    word-break: break-all;
    display: table;
    margin: 0 auto;

    div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url('../imgs/t0-b-headerUnit-contact/bg2.png');
      background-position: center;
      border: 1px solid #555;
      width: 28px;
    }

    p {
      @include g-font(16, 1);
      display: table-cell;
      padding: 0 0 2px 5px;
      color: #d01a1a;
    }
  }
}
