@if $device == PC {
  .t0-b-headerUnit-contact-tel {
    $_block: &;
    display: table;
    color: #d01a1a;
    white-space: nowrap;
    $_block: &;
    &__ruby {
      @include g-font(12, 1);
      padding: 0 0 5px;
      text-align: right;
    }

    &__bd {
      @include g-font(26, 1);
      display: flex;
      font-weight: bold;
      line-height: 1;
      &:before,
      &:after {
        margin-top: 0;
      }

      > span {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
      }
    }

    &__tel,
    &__fax,
    &__free,
    &__cell {
      + span {
        font-size: 80%;
      }
    }

    &--size-1 {
      #{$_block}__bd {
        @include g-font(30, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
      }

      #{$_block}__tel {
        width: 22px;
        height: 24px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/1.png");
      }

      #{$_block}__fax {
        width: 22px;
        height: 24px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/1.png");
      }

      #{$_block}__free {
        width: 31px;
        height: 18px;
        margin: 0 8px 0 0;
        margin-top: 4px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/1.png");
      }

      #{$_block}__cell {
        width: 28px;
        height: 28px;
        margin: (-6px) 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/1.png");
      }

      #{$_block}__ruby {
        @include g-font(14, 1);
      }
    }

    &--size-2 {
      #{$_block}__bd {
        @include g-font(38, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
      }

      #{$_block}__tel {
        width: 26px;
        height: 28px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/2.png");
      }

      #{$_block}__fax {
        width: 26px;
        height: 28px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/2.png");
      }

      #{$_block}__free {
        width: 37px;
        height: 21px;
        margin: 0 8px 0 0;
        margin-top: 5px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/2.png");
      }

      #{$_block}__cell {
        width: 32px;
        height: 32px;
        margin: (-6px) 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/2.png");
      }

      #{$_block}__ruby {
        @include g-font(16, 1);
      }
    }

    &--size-3 {
      #{$_block}__bd {
        @include g-font(46, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
      }

      #{$_block}__tel {
        width: 33px;
        height: 36px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/3.png");
      }

      #{$_block}__fax {
        width: 33px;
        height: 36px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/3.png");
      }

      #{$_block}__free {
        width: 41px;
        height: 23px;
        margin: 0 8px 0 0;
        margin-top: 9px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/3.png");
      }

      #{$_block}__cell {
        width: 33px;
        height: 36px;
        margin: (-3px) 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/3.png");
      }

      #{$_block}__ruby {
        @include g-font(20, 1);
      }
    }

    &--size-4 {
      #{$_block}__bd {
        @include g-font(52, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
      }

      #{$_block}__tel {
        width: 40px;
        height: 44px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/4.png");
      }

      #{$_block}__fax {
        width: 40px;
        height: 44px;
        margin: 0 8px 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/4.png");
      }

      #{$_block}__free {
        width: 51px;
        height: 29px;
        margin: 0 8px 0 0;
        margin-top: 9px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/4.png");
      }

      #{$_block}__cell {
        width: 40px;
        height: 44px;
        margin: (-6px) 0 0;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/4.png");
      }

      #{$_block}__ruby {
        @include g-font(24, 1);
      }
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerCombi &,
    .t0-b-headerCombi1 &,
    .t0-b-headerSingle &,
    .t0-b-headerSingle1 & {
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-tel {
    box-sizing: border-box;
    width: 95%;
    padding: 10px 10px 10px 15px;
    margin: 0 auto;
    word-break: break-all;
    background: linear-gradient(to bottom, #fff 0%, #f6f6f6 50%, #eee 100%);
    border: 1px solid #ccc;
    border-radius: 8px;
    > div {
      text-align: center;
      vertical-align: top;
    }

    &__ruby {
      text-align: center;
    }

    &__bd {
      color: #f00;
      text-align: center;
      > span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__icon {
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    &__ruby {
      @include g-font(12, 1);
    }

    &__bd {
      @include g-font(22, 1);
    }

    &__tel {
      width: 15px;
      height: 16px;
      padding: 0 5px 0 0;
      background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
      background-repeat: no-repeat;
      background-size: 15px 16px;
    }

    &__fax {
      width: 15px;
      height: 16px;
      padding: 0 5px 0 0;
      background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
      background-repeat: no-repeat;
      background-size: 15px 16px;
    }

    &__free {
      width: 25px;
      height: 14px;
      padding: 0 5px 0 0;
      background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
      background-repeat: no-repeat;
      background-position: left center;
    }

    &__cell {
      width: 7px;
      height: 16px;
      padding: 0 5px 0 0;
      margin-top: -3px;
      margin-bottom: -1px;
      background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 7px 16px;
    }
  }
}
