@if $device == PC {
  .t0-b-footerUnit-lv2H {

    color: #013a83;
    h5 {
      @include g-font(16, 1);
      font-weight: bold;
      white-space: nowrap;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg.png");
      background-repeat: repeat-y, repeat;
      background-position: left top, left top;
      padding: 5px 10px 8px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #013a83;
      &:hover {
        color: #265d9b;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    h5 {
      @include g-font(18, 1);
      font-weight: bold;
      color: #013a83;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg.png");
      background-repeat: repeat-y, repeat;
      background-position: left top, left top;
      padding: 5px 10px 8px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #013a83;
      &:hover {
        color: #265d9b;
      }
    }
  }
}
