!.gitkeep
!/.circleci/gulpfile.js
!/.scss-lint.yml
!/gulpfile.js
!/lib/
.DS_Store
.sass-cache
*.log
**/.scss-lint.yml
**/build/
**/copy.sh
**/devStuff/css
**/devStuff/styleguide/
**/devStuff/styleguide2/
**/gulpfile.js
**/lib/
docker-compose.yml
node_modules
ssh/*
styleguide_assets/
Thumbs.db
unittest/
unittest2/
