.DS_Store
.sass-cache
Thumbs.db
node_modules
docker-compose.yml
**/.scss-lint.yml
!/.scss-lint.yml
**/copy.sh
**/devStuff/styleguide/
**/devStuff/styleguide2/
**/devStuff/css
**/lib/
!/lib/
**/gulpfile.js
!/gulpfile.js
!/.circleci/gulpfile.js
*.log
styleguide_assets/
unittest/
ssh/*
!.gitkeep
**/build/
