.DS_Store
.sass-cache
Thumbs.db
node_modules
package-lock.json
docker-compose.yml
**/devStuff/styleguide/
**/devStuff/css
**/lib/
!/lib/
**/gulpfile.js
!/gulpfile.js
*.log
styleguide_assets/
unittest/
