@if $device == PC {
  .t0-b-navItem2Captioned {
    $_block: &;
    $_fontPx_main: 28;
    $_fontPx_caption: 18;
    $_lineHeight: 1;
    $_textColor_main: #982929;
    $_textColor_caption: #982929;
    $_hoverColor: #e50101;
    font-family: $tenorSans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない
    color: $_textColor_main;
    a {
      display: inline-block;
      color: $_textColor_main;
      &:hover {
        color: $_hoverColor;
        #{$_block}__main {
          border-bottom: 2px solid $_hoverColor;
        }
      }
    }

    > div {
      display: table;
      margin: 0 auto;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      width: 46px;
      height: 36px;
      background: url("../imgs/common/navItem001/Banner_arrow008.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 36px 36px;
    }

    &__caption-upper,
    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight);
      color: $_textColor_caption;
      text-align: center;
      a {
        color: inherit;
        &:hover {
          color: $_hoverColor;
        }
      }
    }

    &__caption-upper {
      padding: 4px 0 5px;
    }

    &__main {
      @include g-font($_fontPx_main, $_lineHeight);
      padding: 0 0 2px;
      border-bottom: 2px solid #e50101;
    }

    &__caption-lower {
      padding: 10px 0 0;
    }
  }

  .t0-b-navItem2Captioned2 {
    $_block: &;
    $_fontPx_main: 28;
    $_fontPx_caption: 18;
    $_lineHeight: 1;
    $_textColor_main: #001f65;
    $_textColor_caption: #001f65;
    $_hoverColor: #0036b1;
    font-family: $tenorSans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない
    color: $_textColor_main;
    a {
      display: inline-block;
      color: $_textColor_main;
      &:hover {
        color: $_hoverColor;
        #{$_block}__main {
          border-bottom: 2px solid $_hoverColor;
        }
      }
    }

    > div {
      display: table;
      margin: 0 auto;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      width: 46px;
      height: 38px;
      background: url("../imgs/common/navItem002/Link_arrow012_v2f1.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 38px 38px;
    }

    &__caption-upper,
    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight);
      color: $_textColor_caption;
      text-align: center;
      a {
        color: inherit;
        &:hover {
          color: $_hoverColor;
        }
      }
    }

    &__caption-upper {
      padding: 4px 0 5px;
    }

    &__main {
      @include g-font($_fontPx_main, $_lineHeight);
      // アイコンと文字が縦位置中央に見えるように、padding-topに4px（padding-bottomとborder-bottomの合算値）を設定
      padding: 0 0 2px;
      border-bottom: 2px solid #0036b0;
    }

    &__caption-lower {
      padding: 10px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-navItem2Captioned {
    $_block: &;
    $_fontPx_main: 16;
    $_fontPx_caption: 14;
    $_lineHeight: 1;
    $_textColor_main: #982929;
    $_textColor_caption: #982929;
    font-family: $tenorSans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない
    color: $_textColor_main;
    a {
      display: inline-block;
      color: $_textColor_main;
    }

    > div {
      display: table;
      margin: 0 auto;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      width: 60px * .5;
      height: 48px * .5;
      background: url("../imgs/common/navItem001/Banner_arrow008.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 48px * .5 48px * .5;
    }

    &__caption-upper,
    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight);
      color: $_textColor_caption;
      text-align: center;
      a {
        color: inherit;
      }
    }

    &__caption-upper {
      padding: 5px 0 3px;
    }

    &__main {
      @include g-font($_fontPx_main, $_lineHeight);
      border-bottom: 2px solid #e50101;
    }

    &__caption-lower {
      padding: 7px 0 0;
    }
  }

  .t0-b-navItem2Captioned2 {
    $_block: &;
    $_fontPx_main: 16;
    $_fontPx_caption: 14;
    $_lineHeight: 1;
    $_textColor_main: #002d5b;
    $_textColor_caption: #002d5b;
    font-family: $tenorSans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない
    color: $_textColor_main;
    a {
      display: inline-block;
      color: $_textColor_main;
    }

    > div {
      display: table;
      margin: 0 auto;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      width: 60px * .5;
      height: 48px * .5;
      background: url("../imgs/common/navItem002/Link_arrow012_v2f1.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 48px * .5 48px * .5;
    }

    &__caption-upper,
    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight);
      color: $_textColor_caption;
      text-align: center;
      a {
        color: inherit;
      }
    }

    &__caption-upper {
      padding: 5px 0 3px;
    }

    &__main {
      @include g-font($_fontPx_main, $_lineHeight);
      padding-bottom: 2px;
      border-bottom: 2px solid #1e49ac;
    }

    &__caption-lower {
      padding: 7px 0 0;
    }
  }
}
