@if $device == PC {
  .t0-b-navBItem#{$variation1of2} {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #e50101;
    $_bgHoverColor: #ef6767;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &::after {
            left: 15px;
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 5px 19px 5px 29px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: .2s;
        transition-timing-function: linear;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        // 矢印アニメーション
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 6px 29px;
        // 矢印アニメーション
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 7px 19px 7px 29px;
        // 矢印アニメーション
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem#{$variation2of2} {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #e50101;
    $_bgHoverColor: #ffd1d1;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          background-color: $_bgHoverColor;
          border: 2px solid $_bgColor;
          &::after {
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow006.svg");
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 4px 19px 3px 29px;
      background-color: $_bgColor;
      border: 2px solid $_bgColor;
      border-radius: 20px;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: left .3s, background-image 0s ease .2s;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 19px 2px 29px;
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 19px 3px 29px;
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 3px 29px;
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem3 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #1e49ac;
    $_bgHoverColor: #617fc5;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &::after {
            left: 15px;
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 6px 19px 5px 29px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: .2s;
        transition-timing-function: linear;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        // 矢印アニメーション
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 6px 29px;
        // 矢印アニメーション
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 7px 19px 7px 29px;
        // 矢印アニメーション
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem4 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #1e49ac;
    $_bgHoverColor: #d2dbee;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          background-color: $_bgHoverColor;
          border: 2px solid $_bgColor;
          &::after {
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow003.svg");
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 4px 19px 3px 29px;
      background-color: $_bgColor;
      border: 2px solid $_bgColor;
      border-radius: 20px;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: left .3s, background-image 0s ease .2s;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 19px 2px 29px;
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 19px 3px 29px;
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 3px 29px;
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem5 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #febf00;
    $_bgHoverColor: #fed966;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &::after {
            left: 15px;
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 6px 19px 5px 29px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: .2s;
        transition-timing-function: linear;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        // 矢印アニメーション
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 6px 29px;
        // 矢印アニメーション
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 7px 19px 7px 29px;
        // 矢印アニメーション
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem6 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #febf00;
    $_bgHoverColor: #fff2cc;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          background-color: $_bgHoverColor;
          border: 2px solid $_bgColor;
          &::after {
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow004.svg");
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 4px 19px 3px 29px;
      background-color: $_bgColor;
      border: 2px solid $_bgColor;
      border-radius: 20px;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: left .3s, background-image 0s ease .2s;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 19px 2px 29px;
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 19px 3px 29px;
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 3px 29px;
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem7 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #13a8f7;
    $_bgHoverColor: #71cbfa;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &::after {
            left: 15px;
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 6px 19px 5px 29px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: .2s;
        transition-timing-function: linear;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        // 矢印アニメーション
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 6px 29px;
        // 矢印アニメーション
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 7px 19px 7px 29px;
        // 矢印アニメーション
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem8 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #13a8f7;
    $_bgHoverColor: #d0eefd;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          background-color: $_bgHoverColor;
          border: 2px solid $_bgColor;
          &::after {
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow005.svg");
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 4px 19px 3px 29px;
      background-color: $_bgColor;
      border: 2px solid $_bgColor;
      border-radius: 20px;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: left .3s, background-image 0s ease .2s;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 19px 2px 29px;
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 19px 3px 29px;
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 3px 29px;
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem9 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #e50101;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem10 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #e50101;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
      border-radius: 20px;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem11 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #1e49ac;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem12 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #1e49ac;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
      border-radius: 20px;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem13 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #666;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem14 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #666;
    $_hoverColor: #fff;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          background-color: $_textColor;
          border: 2px solid $_textColor;
        }
      }
    }

    &__inner {
      min-height: 12px;
      padding: 4px 10px 3px;
      background-color: $_hoverColor;
      border: 2px solid $_textColor;
      border-radius: 20px;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 10px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 10px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px 3px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 10px;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem15 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #666;
    $_bgHoverColor: #bbb;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &::after {
            left: 15px;
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 6px 19px 5px 29px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: .2s;
        transition-timing-function: linear;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        // 矢印アニメーション
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 5px 29px;
        // 矢印アニメーション
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 6px 19px 6px 29px;
        // 矢印アニメーション
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 7px 19px 7px 29px;
        // 矢印アニメーション
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItem16 {
    $_block: &;
    $_fontSize: 14;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_m: $_fontSize;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #666;
    $_bgHoverColor: #eee;
    font-family: $font-tenorSans;
    @include g-font($_fontSize_m, $_lineHeight);
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          background-color: $_bgHoverColor;
          border: 2px solid $_bgColor;
          &::after {
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow010.svg");
          }
        }
      }
    }

    &__inner {
      position: relative;
      min-height: 12px;
      padding: 4px 19px 3px 29px;
      background-color: $_bgColor;
      border: 2px solid $_bgColor;
      border-radius: 20px;
      &::after {
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        content: "";
        background-image: url("../imgs/common/navItem001/Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 14px;
        transition: left .3s, background-image 0s ease .2s;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }

    &--size-1 {
      @include g-font($_fontSize_ss, $_lineHeight);
      #{$_block}__inner {
        padding: 2px 19px 2px 29px;
        &::after {
          width: 5px;
          height: 8px;
          background-size: 5px 8px;
        }
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, $_lineHeight);
      #{$_block}__inner {
        padding: 3px 19px 3px 29px;
        &::after {
          width: 7px;
          height: 12px;
          background-size: 7px 12px;
        }
      }
    }

    &--size-3 {
      @include g-font($_fontSize_m, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 3px 29px;
        &::after {
          width: 8px;
          height: 14px;
          background-size: 8px 14px;
        }
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, $_lineHeight);
      #{$_block}__inner {
        padding: 4px 19px 4px 29px;
        &::after {
          width: 9px;
          height: 15px;
          background-size: 9px 15px;
        }
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, $_lineHeight);
      #{$_block}__inner {
        padding: 5px 19px 5px 29px;
        &::after {
          width: 10px;
          height: 16px;
          background-size: 10px 16px;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-navBItemDouble {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navBItem#{$variation1of2} {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #e50101;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem#{$variation2of2} {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #e50101;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      border-radius: 30px;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem3 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #1e49ac;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem4 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #1e49ac;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      border-radius: 30px;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem5 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #febf00;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem6 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #febf00;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      border-radius: 30px;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem7 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #13a8f7;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem8 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #13a8f7;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      border-radius: 30px;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem9 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #e50101;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
    }
  }

  .t0-b-navBItem10 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #e50101;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    border-radius: 30px;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
      border-radius: 30px;
    }
  }

  .t0-b-navBItem11 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #1e49ac;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
    }
  }

  .t0-b-navBItem12 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #1e49ac;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    border-radius: 30px;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
      border-radius: 30px;
    }
  }

  .t0-b-navBItem13 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #666;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
    }
  }

  .t0-b-navBItem14 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #666;
    $_bgColor: #fff;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    border: 2px solid $_textColor;
    border-radius: 30px;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
      background-color: $_bgColor;
      border-radius: 30px;
    }
  }

  .t0-b-navBItem15 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #666;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItem16 {
    $_block: &;
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_bgColor: #666;
    width: 95%;
    margin: 0 auto;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      position: relative;
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      border-radius: 30px;
      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 20px * .5;
        height: 30px * .5;
        content: "";
        background-image: url("../imgs/common/navItem001/sp_Banner_arrow001.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px * .5 30px * .5;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
      }
    }
  }

  .t0-b-navBItemDouble {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
