@if $device == PC {

  // frameOuterのclearfix
 .frameOuter-clearfix.clearfix::after,
 .frameOuter-clearfix .clearfix::after {
   content: "";
   clear: both;
   display: block;
 }
}

@if $device == SP {


}
