@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    color: $g-textColor;
    text-align: center;
    position: relative;
    z-index: z(sideBoxFreeHtml, 0);
    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }

    // スライド動画のスタイルを打ち消して中央寄せにする
    > * {
      margin: 0 auto !important;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxFreeHtml {
    max-height: 240px;
    padding: 0 5px;
    // YouTubeのレスポンシブ対応
    overflow: auto;
    text-align: center;
    iframe,
    object,
    embed {
      max-width: 100%;
      max-height: 240px;
    }

    > * {
      max-width: 100% !important;
      // スライド動画のスタイルを打ち消して中央寄せにする
      margin: 0 auto !important;
    }
  }
}
