@if $device == PC {
  .t0-b-headerUnit-siteTitle {
    $_fontSizePx_bd: 44;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #333;
    $_textColor_bd: #666;
    font-family: $tenorSans;
    color: $_textColor;
    white-space: nowrap;
    a {
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
        img {
          opacity: .8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        width: auto;
        max-width: 160px;
        height: 45px;
      }
    }

    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }

    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 6, $_lineHeightType);
      font-weight: normal;
    }

    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
      color: $_textColor_bd;
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      &__bd {
        margin: 0 auto;
      }

      &__ft {
        text-align: center;
      }
    }
  }

  .t0-b-headerUnit-siteTitle2 {
    $_fontSizePx_bd: 44;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #333;
    $_textColor_bd: #666;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-family: $tenorSans;
    color: $_textColor;
    text-align: left;
    white-space: nowrap;
    a {
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
        img {
          opacity: .8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: inline-block;
    }

    &__bd-logo {
      padding-bottom: 10px;
      margin: 0 auto;
      img {
        display: block;
        width: auto;
        max-width: 160px;
        height: 45px;
        margin: 0 auto;
      }
    }

    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }

    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 6, $_lineHeightType);
      font-weight: normal;
    }

    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
      color: $_textColor_bd;
    }

    &__bd > div {
      display: block;
      text-align: center;
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      text-align: center;
      &__bd {
        margin: 0 auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-siteTitle {
    $_fontSizePx_bd: 28;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #333;
    $_textColor_bd: #666;
    font-family: $tenorSans;
    color: $_textColor;
    a {
      color: $_textColor;
      text-decoration: none;
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        width: auto;
        max-width: 160px;
        height: 45px;
      }
    }

    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }

    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 4, $_lineHeightType);
    }

    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
      color: $_textColor_bd;
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      &__bd {
        margin: 0 auto;
      }

      &__ft {
        text-align: center;
      }
    }
  }

  .t0-b-headerUnit-siteTitle2 {
    $_fontSizePx_bd: 28;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #333;
    $_textColor_bd: #666;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-family: $tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      color: $_textColor;
      text-decoration: none;
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: inline-block;
    }

    &__bd-logo {
      padding-right: 0;
      margin: 0 auto 10px;
      img {
        display: block;
        max-width: 160px;
        height: 45px;
        margin: 0 auto;
      }
    }

    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }

    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 4, $_lineHeightType);
    }

    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
      color: $_textColor_bd;
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      text-align: center;
      &__bd {
        margin: 0 auto;
      }
    }
  }
}
