@if $device == PC {
  .t0-b-headerUnit-labeledList {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #e6e4df;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 10px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 76px;
        min-height: 17px;
        padding: 2px 10px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList2 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor_hd: #c10000;
    $_textColor_bd: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 1px 10px 0 0;
      color: $_textColor_hd;
      font-weight: bold;
      vertical-align: top;
      text-align: left;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 76px;
        min-height: 17px;
        a {
          color: $_textColor_hd;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_textColor_bd;
      text-align: left;
      vertical-align: middle;
      a {
        color: $_textColor_bd;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList3 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #e6ebf5;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 10px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 76px;
        min-height: 17px;
        padding: 2px 10px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList4 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #f6e8e8;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 10px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 76px;
        min-height: 17px;
        padding: 2px 10px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-labeledList {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #e6e4df;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 8px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 72px;
        min-height: 17px;
        padding: 2px 8px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList2 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor_hd: #c10000;
    $_textColor_bd: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 1px 8px 0 0;
      color: $_textColor_hd;
      font-weight: bold;
      text-align: left;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 72px;
        min-height: 17px;
        padding-top: 1px;
        a {
          color: $_textColor_hd;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_textColor_bd;
      text-align: left;
      vertical-align: middle;
      a {
        color: $_textColor_bd;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList3 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #e6ebf5;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 8px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 72px;
        min-height: 17px;
        padding: 2px 8px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerUnit-labeledList4 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_backgroundColor_hd: #f6e8e8;
    $_color_table_th_text: #333;
    $_color_table_td_text: #666;
    font-family: $tenorSans;
    white-space: nowrap;
    a {
      display: block;
      text-decoration: underline;
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 8px 0 0;
      color: $_color_table_th_text;
      text-align: center;
      vertical-align: top;
      @include g-font($_fontSize, $_lineHeight);
      > div {
        display: inline-block;
        min-width: 72px;
        min-height: 17px;
        padding: 2px 8px 1px;
        background-color: $_backgroundColor_hd;
        border-radius: 5px;
        a {
          color: $_color_table_th_text;
        }
      }
    }

    td {
      @include g-font($_fontSize, $_lineHeight);
      color: $_color_table_td_text;
      text-align: left;
      vertical-align: middle;
      padding-top: 2px;
      a {
        color: $_color_table_td_text;
      }
    }

    // サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      > table {
        margin: 0 auto;
      }
    }
  }
}
