$areaContainerWidth: 1100px;
$areaMainWidth: 740px;
$areaSubWidth: 360px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $g-baseBackgroundColor;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.area-main {
  position: relative;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  position: relative;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 50px 50px 0;
}

.area-footer {
  position: relative;
  // フッター最上部のフッターメニューの背景が伸びないため
  padding-top: 1px;
  background: $g-baseBackgroundColor;
}
