@if $device == PC {
  .t0-b-serviceSet#{$variation1of2} {
    $_block: &;
    &__hd {
      margin: 0 0 36px;
      padding: 20px 30px 27px;
      background: url("../imgs/t0-b-serviceSet/2/bg.png") no-repeat center bottom;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font(30, 1);
      }
    }

    &__bd {
      padding: 0 45px;
    }

    &__textColWithH {
      border: 1px solid #202020;
      box-sizing: border-box;
      position: relative;
    }

    &__textColWithH-hd {
      @include g-font(20, 1);
      padding: 15px 23px 0;
      color: #e4a24f;
      font-family: $mincho;
      a {
        color: #e4a24f;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__textColWithH-bd {
      position: relative;
      overflow: hidden;
      * {
        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 50px;
        background: radial-gradient(rgba(0, 0, 0, .15) 0, #000 80%), url("../imgs/t0-b-articleDecoration/bg.png") repeat left center;
      }
    }

    &__textColWithH-hd-h {
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l {
      text-align: left;
    }

    &__textColWithH-hd--align-c {
      text-align: center;
    }

    &__textColWithH-hd--align-r {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;
      &__div {
        width: 100%;
        display: table;
        > div {
          vertical-align: top;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 100%;
        }
      }
      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          width: 100%;
          margin: 0 0 20px;
          display: table-header-group;
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            padding: 15px 23px 0;
            box-sizing: border-box;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }

    .t0-b-layoutSplitter {
      .t0-b-layoutSplitter__div {
        > div {
          padding-left: 39px;
        }
      }
    }

    .t0-b-mediaOnly {
      overflow: hidden;
      direction: rtl;
      position: relative;
    }
  }

  .t0-b-serviceSet#{$variation2of2} {
    $_block: &;
    &__hd {
      margin: 0 42px 12px;
      padding: 10px 20px;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-serviceSet/1/bg4.png") no-repeat left top 3px, url("../imgs/t0-b-serviceSet/1/bg4.png") no-repeat left bottom 3px, url("../imgs/t0-b-serviceSet/1/bg.png") no-repeat center top;
        background-size: 100% 1px, 100% 1px, 100% 100%;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: -12px;
        left: -42px;
        right: -42px;
        background: url("../imgs/t0-b-serviceSet/1/bg2.png") no-repeat left bottom, url("../imgs/t0-b-serviceSet/1/bg3.png") no-repeat right bottom;
        z-index: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font(26, 1);
      }
    }

    &__bd {
      padding: 0;
    }

    &__hd + &__bd {
      padding: 25px 0 0;
    }

    &__textColWithH {
      height: 219px;
      padding: 24px 16px 10px 24px;
      background: url("../imgs/t0-b-serviceSet/1/bg5.png") no-repeat left top, url("../imgs/t0-b-serviceSet/1/bg6.png") no-repeat right top, url("../imgs/t0-b-serviceSet/1/bg7.png") no-repeat left bottom, url("../imgs/t0-b-serviceSet/1/bg8.png") no-repeat right bottom, url("../imgs/t0-b-serviceSet/1/bg9.png") repeat-x left top, url("../imgs/t0-b-serviceSet/1/bg10.png") repeat-y right top, url("../imgs/t0-b-serviceSet/1/bg11.png") repeat-x left bottom, url("../imgs/t0-b-serviceSet/1/bg12.png") repeat-y left top;
      box-sizing: border-box;
      position: relative;
      * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: -1px;
        left: 15px;
        width: 20px;
        height: 65px;
        background: url("../imgs/t0-b-serviceSet/1/bg13.png") no-repeat;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        background: linear-gradient(rgba(50, 0, 0, .8) 5%, #000 100%), url("../imgs/t0-b-serviceSet/1/bg14.png") repeat left top;
        z-index: 0;
      }
    }

    &__textColWithH-hd {
      @include g-font(24, 1);
      padding: 0 0 0 19px;
      color: #fff;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      width: 60%;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__textColWithH-hd-h {
      margin: -5px 10px 0 0;
      padding: 0 0 5px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, #cfb684, #000);
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l {
      text-align: left;
    }

    &__textColWithH-hd--align-c {
      text-align: center;
    }

    &__textColWithH-hd--align-r {
      text-align: right;
    }

    #{$_block}__twoColsMedia__row1col1 {
      width: 60%;
      box-sizing: border-box;
      padding: 20px 0 0;
    }

    #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      height: 166px;
      width: 40%;
      padding: 0 0 0 15px;
      position: absolute;
      top: 0;
      right: 0;
      img {
        height: 166px;
        box-sizing: border-box;
      }
    }

    #{$_block}__textColWithH-hd + #{$_block}__textColWithH-bd > #{$_block}__twoColsMedia > #{$_block}__twoColsMedia__div > #{$_block}__twoColsMedia__row1col1 {
      width: 60%;
      box-sizing: border-box;
    }

    #{$_block}__textColWithH-hd + #{$_block}__textColWithH-bd > #{$_block}__twoColsMedia > #{$_block}__twoColsMedia__div > #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      height: 166px;
      width: 40%;
      position: absolute;
      top: 0;
      right: 0;
      img {
        height: 180px;
        box-sizing: border-box;
      }
    }

    #{$_block}__twoColsMedia {
      position: relative;
      #{$_block}__twoColsMedia__div {
        display: table;
        width: 100%;
        > div {
          vertical-align: top;
        }
      }

      &--imgL {
        > div {
          direction: rtl;
          > div {
            direction: ltr;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }

    .t0-b-layoutSplitter--spacing-4s {
      margin: 0 52px;
      .t0-b-layoutSplitter__div {
        width: auto;
        display: block;
        > div {
          padding: 0;
        }
      }
    }

    .t0-b-mediaOnly {
      text-align: center;
    }
  }
}
@if $device == SP {
  .t0-b-serviceSet#{$variation1of2} {
    $_block: &;
    &__hd {
      margin: 0 0 36px;
      padding: 20px 30px 27px;
      background: url("../imgs/t0-b-serviceSet/2/bg.png") no-repeat center bottom;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font(18, 1);
      }
    }

    &__bd {
      padding: 0;
    }

    &__textColWithH {
      border: 1px solid #202020;
      box-sizing: border-box;
      position: relative;
    }

    &__textColWithH-hd {
      @include g-font(18, 1);
      padding: 15px 23px 0;
      color: #e4a24f;
      font-family: $mincho;
      a {
        color: #e4a24f;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__textColWithH-bd {
      position: relative;
      overflow: hidden;
      * {
        position: relative;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 50px;
        background: radial-gradient(rgba(0, 0, 0, .05) 0, #000 100%), url("../imgs/t0-b-articleDecoration/bg.png") repeat left center;
      }
    }

    &__textColWithH-hd-h {
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l {
      text-align: left;
    }

    &__textColWithH-hd--align-c {
      text-align: center;
    }

    &__textColWithH-hd--align-r {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;
      &__div {
        width: 100%;
        display: table;
        > div {
          vertical-align: top;
        }
      }
      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 100%;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          width: 100%;
          margin: 0 0 20px;
          display: table-header-group;
        }
      }
      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            padding: 15px 23px 0;
            box-sizing: border-box;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }

    .t0-b-layoutSplitter__div {
      width: auto;
      display: block;
      > div {
        padding: 0;
      }
    }

    .t0-b-mediaOnly {
      overflow: hidden;
      direction: rtl;
      img {
        width: 100%;
      }
    }
  }

  .t0-b-serviceSet#{$variation2of2} {
    $_block: &;
    &__hd {
      margin: 0 42px 12px;
      padding: 10px 20px;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-serviceSet/1/bg4.png") no-repeat left top 3px, url("../imgs/t0-b-serviceSet/1/bg4.png") no-repeat left bottom 3px, url("../imgs/t0-b-serviceSet/1/bg.png") no-repeat center top;
        background-size: 100% 1px, 100% 1px, 100% 100%;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: -12px;
        left: -42px;
        right: -42px;
        background: url("../imgs/t0-b-serviceSet/1/bg2.png") no-repeat left bottom, url("../imgs/t0-b-serviceSet/1/bg3.png") no-repeat right bottom;
        z-index: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font(18, 1);
      }
    }

    &__bd {
      padding: 0;
    }

    &__hd + &__bd {
      padding: 25px 0 0;
    }

    &__textColWithH {
      padding: 24px 16px 10px 24px;
      background: url("../imgs/t0-b-serviceSet/1/bg5.png") no-repeat left top, url("../imgs/t0-b-serviceSet/1/bg6.png") no-repeat right top, url("../imgs/t0-b-serviceSet/1/bg7.png") no-repeat left bottom, url("../imgs/t0-b-serviceSet/1/bg8.png") no-repeat right bottom, url("../imgs/t0-b-serviceSet/1/bg9.png") repeat-x left top, url("../imgs/t0-b-serviceSet/1/bg10.png") repeat-y right top, url("../imgs/t0-b-serviceSet/1/bg11.png") repeat-x left bottom, url("../imgs/t0-b-serviceSet/1/bg12.png") repeat-y left top;
      box-sizing: border-box;
      position: relative;
      * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: -1px;
        left: 15px;
        width: 20px;
        height: 65px;
        background: url("../imgs/t0-b-serviceSet/1/bg13.png") no-repeat;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        background: linear-gradient(rgba(50, 0, 0, .8) 5%, #000 100%), url("../imgs/t0-b-serviceSet/1/bg14.png") repeat left top;
        z-index: 0;
      }
    }

    &__textColWithH-hd {
      @include g-font(18, 1);
      padding: 0 0 0 19px;
      color: #fff;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      width: 60%;
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    &__textColWithH-hd-h {
      margin-right: 10px;
      padding: 0 0 10px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, #cfb684, #000);
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l {
      text-align: left;
    }

    &__textColWithH-hd--align-c {
      text-align: center;
    }

    &__textColWithH-hd--align-r {
      text-align: right;
    }

    #{$_block}__twoColsMedia__row1col1 {
      width: 60%;
      box-sizing: border-box;
      padding: 10px 0 0;
    }

    #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      height: 180px;
      width: 40%;
      padding: 0 0 0 15px;
      position: absolute;
      top: -4px;
      right: 0;
      overflow: hidden;
      img {
        height: 180px;
        box-sizing: border-box;
      }
    }

    #{$_block}__textColWithH-hd + #{$_block}__textColWithH-bd > #{$_block}__twoColsMedia > #{$_block}__twoColsMedia__div > #{$_block}__twoColsMedia__row1col1 {
      width: 60%;
      height: 135px;
      box-sizing: border-box;
    }

    #{$_block}__textColWithH-hd + #{$_block}__textColWithH-bd > #{$_block}__twoColsMedia > #{$_block}__twoColsMedia__div > #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      height: 180px;
      width: 40%;
      position: absolute;
      top: -44px;
      right: 0;
      overflow: hidden;
      img {
        height: 180px;
        box-sizing: border-box;
      }
    }

    #{$_block}__twoColsMedia {
      position: relative;
      #{$_block}__twoColsMedia__div {
        display: table;
        width: 100%;
        > div {
          vertical-align: top;
        }
      }

      &--imgL {
        > div {
          direction: rtl;
          > div {
            direction: ltr;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }

    .t0-b-layoutSplitter__div {
      width: auto;
      display: block;
    }

    .t0-b-mediaOnly {
      text-align: center;
      img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
