@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    margin: 0 0 60px;
    padding: 20px;
    border: 5px solid #6e4100;
    background: url("../imgs/t0-b-catchText/bg5.png") repeat left top;
    color: #9e0000;
    text-align: center;
    text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, -1px -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, -2px -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
    font-family: $mincho;
    font-weight: bold;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      top: -7px;
      bottom: -9px;
      left: -7px;
      right: -8px;
      background: url("../imgs/t0-b-catchText/bg.png") left top, url("../imgs/t0-b-catchText/bg2.png") right top, url("../imgs/t0-b-catchText/bg3.png") left bottom, url("../imgs/t0-b-catchText/bg4.png") right bottom;
      background-repeat: no-repeat;
    }

    &__text-sub {
      @include g-font(14, 1);

      padding: 0 0 10px;
    }

    &__text-sub2 {
      @include g-font(20, 1);

      padding: 0 0 10px;
    }

    &__text-main {
      @include g-font(26, 1);

      color: #540000;
    }

    &__text-sub3 {
      @include g-font(20, 1);

      padding: 10px 0 0;
    }

    &__text-sub4 {
      @include g-font(14, 1);

      padding: 10px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    padding: 14px 30px 50px;
    background: url("../imgs/t0-b-catchText/bg6.png") repeat left top, linear-gradient(left, rgba(180, 180, 180, 1), rgba(255, 255, 255, 1), rgba(180, 180, 180, .95));
    box-shadow: 0 0 0 1px #fff;
    border: 1px solid #64501c;
    color: #061221;
    text-align: center;
    text-shadow: $textshadow2;
    font-family: $mincho;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      bottom: -3px;
      left: -2px;
      right: -2px;
      height: 35px;
      background: url("../imgs/t0-b-catchText/bg8.png") no-repeat right bottom -3px;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 1px;
        right: 0;
        width: calc(100% - 166px);
        height: 35px;
        background-color: #000;
        border-top: 1px solid #64501c;
        box-sizing: border-box;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          left: -1px;
          right: 0;
          height: 34px;
          border-top: 1px solid #fff;
          background-color: #000;
        }
      }
    }

    &__text-sub {
      @include g-font(14, 1);

      padding: 0 0 8px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font(20, 1);

      padding: 0 0 8px;
      position: relative;
    }

    &__text-main {
      @include g-font(24, 2);

      position: relative;
      padding: 10px 15px;
      background-image: url("../imgs/t0-b-catchText/bg7.png");
      background-size: 100% 100%;
      color: #c35700;
      font-weight: bold;
    }

    &__text-sub3 {
      @include g-font(20, 1);

      padding: 8px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font(14, 1);

      padding: 8px 0 0;
      position: relative;
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    padding: 20px;
    border: 5px solid #6e4100;
    background: url("../imgs/t0-b-catchText/bg5.png") repeat left top;
    color: #9e0000;
    text-align: center;
    text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, -1px -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, -2px -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
    font-family: $mincho;
    font-weight: bold;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      top: -7px;
      bottom: -9px;
      left: -7px;
      right: -8px;
      background: url("../imgs/t0-b-catchText/bg.png") left top, url("../imgs/t0-b-catchText/bg2.png") right top, url("../imgs/t0-b-catchText/bg3.png") left bottom, url("../imgs/t0-b-catchText/bg4.png") right bottom;
      background-repeat: no-repeat;
    }

    &__text-sub {
      @include g-font(12, 1);

      padding: 0 0 10px;
    }

    &__text-sub2 {
      @include g-font(14, 1);

      padding: 0 0 10px;
    }

    &__text-main {
      @include g-font(18, 1);

      color: #540000;
    }

    &__text-sub3 {
      @include g-font(14, 1);

      padding: 10px 0 0;
    }

    &__text-sub4 {
      @include g-font(12, 1);

      padding: 10px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    padding: 14px 15px 50px;
    background: url("../imgs/t0-b-catchText/bg6.png") repeat left top, linear-gradient(left, rgba(180, 180, 180, 1), rgba(255, 255, 255, 1), rgba(180, 180, 180, .95));
    box-shadow: 0 0 0 1px #fff;
    border: 1px solid #64501c;
    color: #061221;
    text-align: center;
    text-shadow: $textshadow2;
    font-family: $mincho;
    font-weight: bold;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      bottom: -3px;
      left: -2px;
      right: -2px;
      height: 35px;
      background: url("../imgs/t0-b-catchText/bg8.png") no-repeat right bottom -3px;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 1px;
        right: 0;
        width: calc(100% - 166px);
        height: 35px;
        background-color: #000;
        border-top: 1px solid #64501c;
        box-sizing: border-box;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          left: -1px;
          right: 0;
          height: 34px;
          border-top: 1px solid #fff;
          background-color: #000;
        }
      }
    }

    &__text-sub {
      @include g-font(12, 1);

      padding: 0 0 12px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font(14, 1);

      padding: 0 0 12px;
      position: relative;
    }

    &__text-main {
      @include g-font(18, 1);

      position: relative;
      padding: 14px 0;
      background-image: url("../imgs/t0-b-catchText/bg7.png");
      background-size: 100% 100%;
      color: #c35700;
    }

    &__text-sub3 {
      @include g-font(14, 1);

      padding: 12px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font(12, 1);

      padding: 12px 0 0;
      position: relative;
    }
  }
}
