@if $device == PC {
  .t0-b-lv5H#{$variation1of2} {
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    overflow: hidden;
    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__bd {
      margin: 0 15px;
      padding: 0 15px;
      display: inline-block;
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1000px;
        top: 0;
        bottom: 0;
        background: url("../imgs/t0-b-lv5H/bg4.png") repeat-x left center;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }

      h5 {
        @include g-font(18, 1);

        display: inline-block;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    color: #fff;
    font-family: $mincho;
    &__bd {
      padding: 3px 10px 6px 33px;
      background: url("../imgs/t0-b-lv5H/bg.png") no-repeat left 6px center;
      text-shadow: $g-textShadow;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, #614b22, #928157, #614b22);
      }

      h5 {
        @include g-font(18, 1);
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 10px 5px 33px;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 10px 0 33px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv5H#{$variation1of2} {
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    &__caption-upper {
      @include g-font(12, 1);

      padding: 0 0 5px;
    }

    &__bd {
      background: url("../imgs/t0-b-lv5H/bg3.png") repeat-x left center;
      position: relative;
      h5 {
        @include g-font(16, 1);

        margin: 1px 30px 0;
        padding: 0 12px;
        background: url("../imgs/t0-b-lv5H/bg2.png") repeat-x left center;
        display: inline-block;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);

      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    color: #fff;
    font-family: $mincho;
    &__bd {
      padding: 6px 10px 6px 33px;
      background: url("../imgs/t0-b-lv5H/bg.png") no-repeat left 6px center;
      text-shadow: $g-textShadow;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, #614b22, #928157, #614b22);
      }

      h5 {
        @include g-font(16, 1);
      }
    }

    &__caption-upper {
      @include g-font(12, 1);

      padding: 0 10px 0 33px;
    }

    &__caption-lower {
      @include g-font(12, 1);

      padding: 5px 10px 0 33px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
