@if $device == PC {
  .t0-b-navItem2Captioned {
    $_block: &;

    margin: 0 auto;
    color: #fff;
    display: table;
    > div {
      display: table;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      padding-right: 10px;
      background: url("../imgs/t0-b-navItem/bg2.png") no-repeat center;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(16, 1);

      padding: 0 0 5px;
      text-align: center;
    }

    &__main {
      @include g-font(26, 1);

      text-decoration: underline;
      position: relative;
    }

    a {
      text-decoration: none;
      color: #fff;
      #{$_block}__main {
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__caption-lower {
      @include g-font(16, 1);

      padding: 10px 0 0;
      text-align: center;
    }
  }
}

@if $device == SP {
  .t0-b-navItem2Captioned {
    margin: 0 auto;
    color: #fff;
    display: table;
    > div {
      display: table;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      padding-right: 10px;
      background: url("../imgs/t0-b-navItem/bg2.png") no-repeat center;
      background-size: 16px 21px;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
      text-align: center;
    }

    &__main {
      @include g-font(16, 1);

      text-decoration: underline;
      position: relative;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 10px 0 0;
      text-align: center;
    }
  }
}
