@if $device == PC {
  .t0-b-navItemWithImg {
    $_block: &;
    background: url("../imgs/t0-b-navItem/bg20.png") repeat left top;
    border: 1px solid #ba9976;
    color: #940000;
    text-shadow: $g-textShadow3;
    font-weight: bold;
    > a > div,
    > div {
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        top: 1px;
        bottom: 1px;
        width: 22px;
        background: url("../imgs/t0-b-navItem/bg22.png") no-repeat center, url("../imgs/t0-b-navItem/bg21.png") repeat-y center;
      }
    }

    > a > div > div,
    > div > div {
      display: table-cell;
      vertical-align: middle;
    }

    a {
      color: #940000;
      text-decoration: none;
      display: block;
      &:hover {
        opacity: .5;
      }
    }

    &__img {
      text-align: center;
      img {
        width: 60px;
        height: 60px;
        display: block;
        border: 1px solid #ba9976;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);
      text-shadow: $g-textShadow2;
      font-weight: bold;
      width: 100%;
    }

    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      text-align: right;
      > span {
        right: 1px;
      }

      > div {
        direction: ltr;
      }
    }

    &--imgL &__text {
      padding: 10px 32px 10px 10px;
    }

    &--imgL &__img img {
      margin: (-1px) 0 -1px -1px;
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > span {
        left: 1px;
      }

      > div {
        direction: ltr;
      }
    }

    &--imgR &__text {
      padding: 10px 10px 10px 32px;
    }

    &--imgR &__img img {
      margin: (-1px) -1px -1px 0;
    }

    // align
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-navItemWithImg#{$variation1of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    background: url("../imgs/t0-b-navItem/bg20.png") repeat left top;
    border: 1px solid #ba9976;
    color: #940000;
    text-shadow: $g-textShadow3;
    font-weight: bold;
    > a > div,
    > div {
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        top: 1px;
        bottom: 1px;
        width: 22px;
        background: url("../imgs/t0-b-navItem/bg22.png") no-repeat center, url("../imgs/t0-b-navItem/bg21.png") repeat-y center;
      }
    }

    > a > div > div,
    > div > div {
      display: table-cell;
      vertical-align: middle;
    }

    a {
      color: #940000;
      text-decoration: none;
      display: block;
    }

    &__img {
      text-align: center;
      img {
        width: 60px;
        height: 60px;
        display: block;
        border: 1px solid #ba9976;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);
      text-shadow: $g-textShadow2;
      font-weight: bold;
      width: 100%;
    }

    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      text-align: right;
      > span {
        right: 1px;
      }

      > div {
        direction: ltr;
      }
    }

    &--imgL &__text {
      padding: 10px 32px 10px 10px;
    }

    &--imgL &__img img {
      margin: (-1px) 0 -1px -1px;
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > span {
        left: 1px;
      }

      > div {
        direction: ltr;
      }
    }

    &--imgR &__text {
      padding: 10px 10px 10px 32px;
    }

    &--imgR &__img img {
      margin: (-1px) -1px -1px 0;
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #62584d;
    color: #fff;
    overflow: hidden;
    > a > div > div,
    > div > div {
      display: table-cell;
      vertical-align: middle;
    }

    a {
      color: #fff;
      text-decoration: none;
      display: block;
    }

    &__img {
      text-align: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        display: block;
        top: -50px;
        bottom: -50px;
      }

      img {
        width: auto;
        height: 64px;
        display: block;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);
      width: 100%;
    }

    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
    }

    &--imgL &__text {
      padding: 10px 32px 10px 10px;
      background: url("../imgs/t0-b-navItem/bg22.png") no-repeat right 8px center;
    }

    &--imgL &__img {
      &::after {
        left: -50px;
        right: -5px;
        box-shadow: inset 0 0 24px 16px #000;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
    }

    &--imgR &__text {
      padding: 10px 10px 10px 32px;
      background: url("../imgs/t0-b-navItem/bg23.png") no-repeat 8px center;
    }

    &--imgR &__img {
      &::after {
        left: -5px;
        right: -50px;
        box-shadow: inset 0 0 24px 16px #000;
      }
    }
  }
}
