@if $device == PC {
  .t0-b-lv4H-aIcon#{$variation1of2},
  .t0-b-lv4H-aIcon#{$variation2of2} {
    color: #fff;
    font-family: $mincho;
    &__bd {
      text-align: left;
    }

    a {
      color: #fff;
    }
  }

  .t0-b-lv4H-aIcon#{$variation1of2} {
    line-height: 0;
    color: #fff;
    text-shadow: $g-textShadow;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &__caption-upper + a > &__h,
    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 52px;
      height: 36px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-Icona/bg.png");
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-lv4H-aIcon#{$variation2of2} {
    line-height: 0;
    padding: 0 0 10px;
    > div {
      display: table;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);

      padding-bottom: 8px;
      position: relative;
      border-bottom: 1px solid #785643;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #cba086;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &__caption-upper + a > &__h,
    &__caption-upper + &__h {
      @include g-font(18, 1);
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 30px;
      height: 23px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-Icona/bg2.png");
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-aIcon#{$variation1of2},
  .t0-b-lv4H-aIcon#{$variation2of2} {
    color: #fff;
    font-family: $mincho;
    a {
      color: #fff;
    }
  }

  .t0-b-lv4H-aIcon#{$variation1of2} {
    line-height: 0;
    color: #fff;
    text-shadow: $g-textShadow;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 35px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-Icona/bg.png");
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-lv4H-aIcon#{$variation2of2} {
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);

      padding-bottom: 8px;
      position: relative;
      border-bottom: 1px solid #785643;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #cba086;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 30px;
      height: 23px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-Icona/bg2.png");
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
    }
  }
}
