@if $device == PC {
  .t0-b-lv4HBig {
    padding: 20px;
    color: #fff;
    text-shadow: $textshadow;
    font-family: $mincho;
    position: relative;
    text-align: center;
    background: url("../imgs/t0-b-lv4H/bg6.png") repeat-x left top 5px, url("../imgs/t0-b-lv4H/bg6.png") repeat-x left bottom 5px, linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, .4), rgba(0, 0, 0, .95)), url("../imgs/t0-b-lv4H/bg.png") repeat left top;
    background-size: 100% 2px, 100% 2px, auto, auto;
    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__bd {
      h4 {
        @include g-font(24, 1);
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4HBig {
    padding: 20px;
    color: #fff;
    text-shadow: $textshadow;
    font-family: $mincho;
    position: relative;
    text-align: center;
    background: url("../imgs/t0-b-lv4H/bg6.png") repeat-x left top 5px, url("../imgs/t0-b-lv4H/bg6.png") repeat-x left bottom 5px, linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, .4), rgba(0, 0, 0, .95)), url("../imgs/t0-b-lv4H/bg.png") repeat left top;
    background-size: 100% 2px, 100% 2px, auto, auto;
    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__bd {
      h4 {
        @include g-font(18, 1);
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #fff;
    }
  }
}
