@if $device == PC {
  .t0-b-articleDecoration#{$variation1of2} {
    $_block: &;
    &__bd {
      display: table;
      width: 100%;
    }

    &__box {
      padding: 35px 30px 18px;
      border: 1px solid #322d27;
      background: url("../imgs/t0-b-articleDecoration/bg2.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg3.png") no-repeat right top, url("../imgs/t0-b-articleDecoration/bg4.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right bottom, linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url("../imgs/t0-b-articleDecoration/bg.png") repeat left top;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 12px;
        bottom: 12px;
        left: 12px;
        right: 12px;
        z-index: 0;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          left: 33px;
          right: 33px;
          border-top: 1px solid #645a4e;
          border-bottom: 1px solid #645a4e;
          z-index: 0;
          > span {
            position: absolute;
            pointer-events: none;
            top: 33px;
            bottom: 33px;
            left: -33px;
            right: -33px;
            border-left: 1px solid #645a4e;
            border-right: 1px solid #645a4e;
            z-index: 0;
          }
        }
      }
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      padding: 3px 27px 20px;
      background: url("../imgs/t0-b-articleDecoration/bg6.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg7.png") no-repeat right bottom;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: 14px;
        left: 26px;
        right: 26px;
        height: 1px;
        background-color: #645a4e;
      }

      h4 {
        @include g-font(22, 1);
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          h4 {
            color: $g-hoverColor;
          }
        }
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }
    }
  }

  .t0-b-articleDecoration#{$variation2of2} {
    $_block: &;
    &__bd {
      display: table;
      width: 100%;
    }

    &__box {
      padding: 35px 30px 18px;
      background-color: #191514;
      border: 1px solid #302c27;
      box-shadow: 0 0 50px 0 #333 inset;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-articleDecoration/bg8.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg9.png") no-repeat right bottom;
        opacity: .3;
        z-index: 0;
        > span {
          position: absolute;
          pointer-events: none;
          top: 12px;
          bottom: 12px;
          left: 12px;
          right: 12px;
          background: url("../imgs/t0-b-articleDecoration/bg11.png") repeat left top;
          > span {
            position: absolute;
            pointer-events: none;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background: url("../imgs/t0-b-articleDecoration/bg12.png") repeat left center;
          }
        }
      }
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      margin: 0 0 15px;
      padding: 5px 10px 8px 58px;
      background: url("../imgs/t0-b-articleDecoration/bg10.png") no-repeat left center;
      border-bottom: 1px solid #514940;
      color: #fff;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      h4 {
        @include g-font(22, 1);
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          h4 {
            color: $g-hoverColor;
          }
        }
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }
    }
  }
}

@if $device == SP {
  .t0-b-articleDecoration#{$variation1of2} {
    $_block: &;
    margin: 0 -5px;
    &__arrow {
      height: 20px;
    }

    &__box {
      padding: 30px 30px 18px;
      border: 1px solid #322d27;
      background: url("../imgs/t0-b-articleDecoration/bg2.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg3.png") no-repeat right top, url("../imgs/t0-b-articleDecoration/bg4.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right bottom, linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0), rgba(0, 0, 0, .6)), url("../imgs/t0-b-articleDecoration/bg.png") repeat left top;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 12px;
        bottom: 12px;
        left: 12px;
        right: 12px;
        z-index: 0;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          left: 33px;
          right: 33px;
          border-top: 1px solid #645a4e;
          border-bottom: 1px solid #645a4e;
          z-index: 0;
          > span {
            position: absolute;
            pointer-events: none;
            top: 33px;
            bottom: 33px;
            left: -33px;
            right: -33px;
            border-left: 1px solid #645a4e;
            border-right: 1px solid #645a4e;
            z-index: 0;
          }
        }
      }
    }

    &__hd-h {
      padding: 3px 27px 20px;
      background: url("../imgs/t0-b-articleDecoration/bg6.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg7.png") no-repeat right bottom;
      color: #fff;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: 14px;
        left: 26px;
        right: 26px;
        height: 1px;
        background-color: #645a4e;
      }

      h4 {
        @include g-font(16, 1);
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }
  }

  .t0-b-articleDecoration#{$variation2of2} {
    $_block: &;
    margin: 0 -5px;
    &__arrow {
      height: 20px;
    }

    &__box {
      padding: 30px 30px 18px;
      background-color: #191514;
      border: 1px solid #302c27;
      box-shadow: 0 0 50px 0 #333 inset;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-articleDecoration/bg8.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg9.png") no-repeat right bottom;
        opacity: .3;
        z-index: 0;
        > span {
          position: absolute;
          pointer-events: none;
          top: 12px;
          bottom: 12px;
          left: 12px;
          right: 12px;
          background: url("../imgs/t0-b-articleDecoration/bg11.png") repeat left top;
          > span {
            position: absolute;
            pointer-events: none;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background: url("../imgs/t0-b-articleDecoration/bg12.png") repeat left center;
          }
        }
      }
    }

    &__hd-h {
      margin: 0 0 15px;
      padding: 5px 10px 8px 58px;
      background: url("../imgs/t0-b-articleDecoration/bg10.png") no-repeat left center;
      border-bottom: 1px solid #514940;
      color: #fff;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      h4 {
        @include g-font(16, 1);
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }
    }
  }
}
