@if $device == PC {
  .t0-b-sideBoxLv1H#{$variation1of2} {
    padding: 7px 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url("../imgs/t0-b-sideBoxLv1H/bg2.png") repeat-x left top, url("../imgs/t0-b-sideBoxLv1H/bg2.png") repeat-x left bottom, url("../imgs/t0-b-sideBoxLv1H/bg.png") repeat center;
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    h5 {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    position: relative;
    * {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 1px;
      bottom: 1px;
      left: 10px;
      right: 10px;
      background: linear-gradient(to right, rgba(255, 0, 0, .01), rgba(255, 0, 0, .4), rgba(255, 0, 0, .01));
      border-radius: 40px;
      z-index: 0;
    }

    > div {
      padding: 6px 25px;
      background: url("../imgs/t0-b-sideBoxLv1H/bg5.png") no-repeat left top, url("../imgs/t0-b-sideBoxLv1H/bg6.png") no-repeat right top, url("../imgs/t0-b-sideBoxLv1H/bg7.png") no-repeat left bottom, url("../imgs/t0-b-sideBoxLv1H/bg8.png") no-repeat right bottom;
      z-index: 1;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 20px;
        right: 20px;
        background: url("../imgs/t0-b-sideBoxLv1H/bg9.png") no-repeat center top, url("../imgs/t0-b-sideBoxLv1H/bg9.png") no-repeat center bottom;
        background-size: 100% 1px;
      }
    }

    h5 {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv1H#{$variation1of2} {
    padding: 7px 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)), url("../imgs/t0-b-sideBoxLv1H/bg2.png") repeat-x left top, url("../imgs/t0-b-sideBoxLv1H/bg2.png") repeat-x left bottom, url("../imgs/t0-b-sideBoxLv1H/bg.png") repeat center;
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    h5 {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    position: relative;
    * {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 1px;
      bottom: 1px;
      left: 10px;
      right: 10px;
      background: linear-gradient(to right, rgba(255, 0, 0, .01), rgba(255, 0, 0, .4), rgba(255, 0, 0, .01));
      border-radius: 40px;
      z-index: 0;
    }

    > div {
      padding: 6px 25px;
      background: url("../imgs/t0-b-sideBoxLv1H/bg5.png") no-repeat left top, url("../imgs/t0-b-sideBoxLv1H/bg6.png") no-repeat right top, url("../imgs/t0-b-sideBoxLv1H/bg7.png") no-repeat left bottom, url("../imgs/t0-b-sideBoxLv1H/bg8.png") no-repeat right bottom;
      z-index: 1;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 20px;
        right: 20px;
        background: url("../imgs/t0-b-sideBoxLv1H/bg9.png") no-repeat center top, url("../imgs/t0-b-sideBoxLv1H/bg9.png") no-repeat center bottom;
        background-size: 100% 1px;
      }
    }

    h5 {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
