@if $device == PC {
  .t0-b-sideBoxLv2H {
    padding: 0 0 8px;
    color: #fff;
    text-align: center;
    text-shadow: $textshadow;
    font-family: $mincho;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      background: linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, .1), rgba(0, 0, 0, .4)), url("../imgs/t0-b-sideBoxLv2H/bg.png") repeat-x left bottom;
    }

    h6 {
      @include g-font(16, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H#{$variation1of2} {
    padding: 0 0 8px;
    color: #fff;
    text-align: center;
    text-shadow: $textshadow;
    font-family: $mincho;
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      left: 0;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      background: linear-gradient(left, rgba(0, 0, 0, .4), rgba(0, 0, 0, .1), rgba(0, 0, 0, .4)), url("../imgs/t0-b-sideBoxLv2H/bg.png") repeat-x left bottom;
    }

    h6 {
      @include g-font(16, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-sideBoxLv2H#{$variation2of2} {
    h6 {
      @include g-font(16, 1);

      background: url("../imgs/t0-b-sideBoxLv2H/2.png") no-repeat 0 center;
      padding-left: 17px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
