@if $device == PC {
  .t0-b-sideBoxList {
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #0d0d0d;
    $_color_table_th_bg: #594c46;
    $_color_table_td_typo: $g-textColor;
    a {
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }

    p {
      @include g-font(16, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: 10px;
      }

      li {
        @include g-font(14, 1);

        margin: 10px 0 0;
        background: url("../imgs/t0-b-sideBoxList/bg.png") 0 4px no-repeat;
        padding: 0 0 0 17px;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      ul {
        li {
          background: url("../imgs/t0-b-sideBoxList/bg.png") 0 5px no-repeat;
          padding: 0 0 0 15px;
        }
      }
    }

    ol {
      padding: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul, ol {
      margin-left: 10px;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th, td {
        @include g-font(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 6px;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul, ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th * {
        color: #fff;
      }

      td * {
        color: #333;
      }

      th {
        color: #fff;
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
      }

      td {
        background-color: #c5b79b;
        color: #333;
        font-weight: bold;
      }
    }

    > table:first-child {
      margin-top: 0;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxList {
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #0d0d0d;
    $_color_table_th_bg: #594c46;
    $_color_table_td_typo: $g-textColor;
    a {
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }

    p {
      @include g-font(16, 2);

      margin-top: $_blockSpacing;
    }

    > p:first-child {
      margin-top: 0;
    }

    ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: 10px;
      }

      li {
        @include g-font(16, 1);

        margin: 10px 0 0;
        background: url("../imgs/t0-b-sideBoxList/bg.png") 0 6px no-repeat;
        padding: 0 0 0 17px;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      ul {
        li {
          background: url("../imgs/t0-b-navList/bg.png") 0 5px no-repeat;
          padding: 0 0 0 15px;
        }
      }
    }

    ol {
      padding: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th, td {
        @include g-font(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 6px;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul, ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th * {
        color: #fff;
      }

      td * {
        color: #333;
      }

      th {
        color: #fff;
        font-family: $mincho;
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
      }

      td {
        background-color: #c5b79b;
        color: #333;
        font-weight: bold;
      }
    }

    > table:first-child {
      margin-top: 0;
    }
  }
}
