@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    &__hd {
      padding: 10px;
      background: url("../imgs/t0-b-sideBox/1/bg.png") no-repeat left 2px top 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat right 2px top 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat left 2px bottom 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat right 2px bottom 2px, url("../imgs/t0-b-sideBox/1/bg2.png") repeat left top, url("../imgs/t0-b-sideBox/1/bg3.png") no-repeat left top, url("../imgs/t0-b-sideBox/1/bg3.png") no-repeat left bottom;
      background-size: auto, auto, auto, auto, auto, 100% 1px, 100% 1px;
      border-left: 1px solid $sideBox_borderColor;
      border-right: 1px solid $sideBox_borderColor;
      color: $sideBox_textColor;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      box-shadow: 0 0 7px 0 $sideBox_boxShadowColor inset;
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: -3px;
        left: -1px;
        right: -1px;
        height: 1px;
        background-color: $sideBox_BGColor;
      }

      a {
        color: $sideBox_textColor;
        text-decoration: none;
        position: relative;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(20, 1);
      }
    }

    &__bd {
      padding: 24px 20px 10px;
      border: 1px solid $sideBox_borderColor2;
      box-shadow: 0 -2px 24px 0 $sideBox_boxShadowColor2 inset;
    }

    &__hd + &__bd {
      border-top: none;
      border-bottom: 1px solid $sideBox_borderColor2;
      border-left: 1px solid $sideBox_borderColor2;
      border-right: 1px solid $sideBox_borderColor2;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    border-bottom: 1px solid $sideBox2_borderColor;
    border-left: 1px solid $sideBox2_borderColor;
    border-right: 1px solid $sideBox2_borderColor;
    &__hd {
      padding: 10px;
      background: url("../imgs/t0-b-sideBox/2/bg.png") no-repeat left top, url("../imgs/t0-b-sideBox/2/bg.png") no-repeat left bottom, linear-gradient(to right, $sideBox2_BGColor, $sideBox2_BGColor2, $sideBox2_BGColor), url("../imgs/t0-b-lv4H/bg.png") repeat left top;
      background-size: 100% 2px, 100% 2px, auto, auto;
      color: $sideBox2_textColor;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      a {
        color: $sideBox2_textColor;
        text-decoration: none;
        position: relative;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(20, 1);
      }
    }

    &__bd {
      padding: 25px 20px 10px;
      background: url("../imgs/t0-b-sideBox/2/bg2.png") repeat left top;
      box-shadow: 0 -2px 24px 0 $sideBox2_boxShadowColor inset;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    margin: 0 -5px;
    &__hd {
      padding: 10px;
      background: url("../imgs/t0-b-sideBox/1/bg.png") no-repeat left 2px top 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat right 2px top 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat left 2px bottom 2px, url("../imgs/t0-b-sideBox/1/bg.png") no-repeat right 2px bottom 2px, url("../imgs/t0-b-sideBox/1/bg2.png") repeat left top, url("../imgs/t0-b-sideBox/1/bg3.png") no-repeat left top, url("../imgs/t0-b-sideBox/1/bg3.png") no-repeat left bottom;
      background-size: auto, auto, auto, auto, auto, 100% 1px, 100% 1px;
      border-left: 1px solid $sideBox_borderColor;
      border-right: 1px solid $sideBox_borderColor;
      color: $sideBox_textColor;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      box-shadow: 0 0 7px 0 $sideBox_boxShadowColor inset;
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        bottom: -3px;
        left: -1px;
        right: -1px;
        height: 1px;
        background-color: $sideBox_BGColor;
      }

      a {
        color: $sideBox_textColor;
        text-decoration: none;
        position: relative;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(18, 1);
      }
    }

    &__bd {
      padding: 24px 20px 10px;
      border: 1px solid $sideBox_borderColor2;
      box-shadow: 0 -2px 24px 0 $sideBox_boxShadowColor2 inset;
    }

    &__hd + &__bd {
      border-top: none;
      border-bottom: 1px solid $sideBox_borderColor2;
      border-left: 1px solid $sideBox_borderColor2;
      border-right: 1px solid $sideBox_borderColor2;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    border-bottom: 1px solid $sideBox2_borderColor;
    border-left: 1px solid $sideBox2_borderColor;
    border-right: 1px solid $sideBox2_borderColor;
    &__hd {
      padding: 10px;
      background: url("../imgs/t0-b-sideBox/2/bg.png") no-repeat left top, url("../imgs/t0-b-sideBox/2/bg.png") no-repeat left bottom, linear-gradient(to right, $sideBox2_BGColor, $sideBox2_BGColor2, $sideBox2_BGColor), url("../imgs/t0-b-lv4H/bg.png") repeat left top;
      background-size: 100% 2px, 100% 2px, auto, auto;
      color: $sideBox2_textColor;
      text-align: center;
      text-shadow: $g-textShadow;
      font-family: $mincho;
      position: relative;
      a {
        color: $sideBox2_textColor;
        text-decoration: none;
        position: relative;
        z-index: 4;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(18, 1);
      }
    }

    &__bd {
      padding: 25px 20px 10px;
      background: url("../imgs/t0-b-sideBox/2/bg2.png") repeat left top;
      box-shadow: 0 -2px 24px 0 $sideBox2_boxShadowColor inset;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}
