@if $device == PC {
  .t0-b-lv1H-pageH#{$variation1of2} {
    width: 1180px;
    height: 130px;
    margin: 0 auto;
    padding: 0 50px;
    background: url("../imgs/t0-b-lv1H-pageH/bg5.png") no-repeat center;
    background-size: 100%;
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      @include g-font(30, 1);

      margin: 0 auto;
      padding: 15px 110px;
      background: url("../imgs/t0-b-lv1H-pageH/bg2.png") left center, url("../imgs/t0-b-lv1H-pageH/bg3.png") right center;
      background-repeat: no-repeat;
      display: table;
    }

    a {
      margin-left: 0;
      color: #fffefe;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    width: 1180px;
    height: 130px;
    margin: 0 auto;
    padding: 0 50px;
    background: url("../imgs/t0-b-lv1H-pageH/bg4.png") no-repeat center;
    background-size: 100%;
    color: #ffd582;
    text-align: center;
    font-family: $mincho;
    position: relative;
    display: flex;
    align-items: center;
    > div {
      width: 100%;
    }

    a {
      text-decoration: none;
      margin-left: 0;
      color: #ffd582;
      h1 {
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__main {
      @include g-font(30, 1);

      text-shadow: 2px 2px 2px #000;
      position: relative;
      z-index: 3;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-pageH#{$variation1of2} {
    margin: 0 -15px;
    padding: 7px 50px;
    background: url("../imgs/t0-b-lv1H-pageH/bg5.png") no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    text-shadow: $g-textShadow;
    font-family: $mincho;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      width: 100%;
    }

    a {
      margin-left: 0;
      color: #fffefe;
      text-decoration: none;
    }

    &__main {
      @include g-font(18, 1);

      margin: 0 auto;
      padding: 15px 50px;
      background: url("../imgs/t0-b-lv1H-pageH/bg2.png") left center, url("../imgs/t0-b-lv1H-pageH/bg3.png") right center;
      background-repeat: no-repeat;
      background-size: 43px 26px;
      display: table;
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    margin: 0 -15px;
    margin: 0 auto;
    padding: 20px 50px;
    background: url("../imgs/t0-b-lv1H-pageH/bg4.png") no-repeat center;
    background-size: 100% 100%;
    color: #ffd582;
    text-align: center;
    font-family: $mincho;
    position: relative;
    display: flex;
    align-items: center;
    > div {
      width: 100%;
    }

    a {
      text-decoration: none;
      margin-left: 0;
      color: #ffd582;
    }

    &__main {
      @include g-font(18, 1);

      text-shadow: 2px 2px 2px #000;
      position: relative;
      z-index: 3;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
