@if $device == PC {
  .t0-b-footerUnit-contact {
    $_block: &;
    color: #fff;
    font-family: $mincho;
    > div {
      display: table-cell;
      vertical-align: middle;
    }

    &__media {
      padding: 0 10px 0 0;
      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &__bd {
      white-space: nowrap;
      vertical-align: bottom;
    }

    &__bd > div {
      &:first-child {
        margin-top: 0;
      }
    }

    &__iconTextBase {
      margin-bottom: -9px;
      padding: 10px 0 0;
      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span {
        font-size: 80%;
      }

      > span {
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center 0;
        display: inline-block;
        padding-bottom: 4px;
      }

      #{$_block}__tel,
      #{$_block}__fax,
      #{$_block}__free,
      #{$_block}__cell {
        vertical-align: baseline;
      }

      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span {
        padding-bottom: 0;
      }
    }

    &__iconTextRuby + &__iconTextBase {
      padding-top: 0;
    }

    &__iconTextRuby {
      text-align: right;
    }

    &--size-1 {
      #{$_block}__note {
        @include g-font(12, 1);
      }

      #{$_block}__iconTextBase {
        @include g-font(32, 1);
        line-height: 1;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.61;
        height: $_tel_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.61) ($_tel_hg / 1.61);
        margin-right: 5px;
        padding-bottom: 4px;
        margin-top: -3px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.61;
        height: $_fax_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.61) ($_fax_hg / 1.61);
        margin-right: 5px;
        padding-bottom: 7px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.61;
        height: $_free_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.61) ($_free_hg / 1.61);
        margin-right: 5px;
        padding-bottom: 7px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.61;
        height: $_cell_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.61) ($_cell_hg / 1.61);
        margin-top: -3px;
        margin-right: 5px;
        padding-bottom: 2px;
      }

      #{$_block}__iconTextRuby {
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      #{$_block}__note {
        @include g-font(14, 1);
      }

      #{$_block}__iconTextBase {
        @include g-font(38, 1);
        line-height: 1;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.38;
        height: $_tel_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.38) ($_tel_hg / 1.38);
        margin-right: 6px;
        padding-bottom: 6px;
        margin-top: -3px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.38;
        height: $_fax_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.38) ($_fax_hg / 1.38);
        margin-right: 6px;
        padding-bottom: 9px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.38;
        height: $_free_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.38) ($_free_hg / 1.38);
        margin-right: 6px;
        padding-bottom: 9px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.38;
        height: $_cell_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.38) ($_cell_hg / 1.38);
        margin-top: -2px;
        margin-right: 6px;
        padding-bottom: 3px;
      }

      #{$_block}__iconTextRuby {
        @include g-font(14, 1);
      }
    }

    &--size-3 {
      #{$_block}__note {
        @include g-font(16, 1);
      }

      #{$_block}__iconTextBase {
        @include g-font(46, 1);
        line-height: 1;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.16;
        height: $_tel_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.16) ($_tel_hg / 1.16);
        margin-right: 7px;
        padding-bottom: 8px;
        margin-top: -3px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.16;
        height: $_fax_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.16) ($_fax_hg / 1.16);
        margin-right: 7px;
        padding-bottom: 10px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.16;
        height: $_free_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.16) ($_free_hg / 1.16);
        margin-right: 7px;
        padding-bottom: 10px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.16;
        height: $_cell_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.16) ($_cell_hg / 1.16);
        margin-top: -2px;
        margin-right: 7px;
        padding-bottom: 4px;
      }

      #{$_block}__iconTextRuby {
        @include g-font(16, 1);
      }
    }

    &--size-4 {
      #{$_block}__note {
        @include g-font(18, 1);
      }

      #{$_block}__iconTextBase {
        @include g-font(52, 1);
        line-height: 1;
      }

      #{$_block}__tel {
        width: $_tel_wd;
        height: $_tel_hg;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        margin-right: 10px;
        padding-bottom: 10px;
        margin-top: -3px;
      }

      #{$_block}__fax {
        width: $_fax_wd;
        height: $_fax_hg;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        margin-top: 1px;
        margin-right: 10px;
        padding-bottom: 13px;
      }

      #{$_block}__free {
        width: $_free_wd;
        height: $_free_hg;
        background-image: url("../imgs/t0-b-iconText/free.png");
        margin-top: 1px;
        margin-right: 10px;
        padding-bottom: 13px;
      }

      #{$_block}__cell {
        width: $_cell_wd;
        height: $_cell_hg;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        margin-top: -2px;
        margin-right: 10px;
        padding-bottom: 5px;
      }

      #{$_block}__iconTextRuby {
        @include g-font(16, 1);
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-contact {
    width: 95%;
    margin: 0 auto;
    $_block: &;
    &__media {
      text-align: center;
      vertical-align: bottom;
      display: block;
      img {
        width: 25%;
      }
    }

    &__note {
      @include g-font(14, 1);
      margin-top: 10px;
      text-align: center;
    }

    &__iconText {
      margin-top: 10px;
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #f6f6f6), to(#eee)) left top repeat;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px 0;
      word-break: break-all;
    }

    &__iconTextBase {
      @include g-font(14, 1);
      text-align: center;
      color: #f00;
      span {
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
        display: inline-block;
      }
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      #{$_block}__iconTextRuby {
        @include g-font(12, 1);
        color: #555;
        text-align: center;
      }

      #{$_block}__tel {
        width: $_tel_wd / 3.29;
        height: $_tel_hg / 3.29;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 3.29) ($_tel_hg / 3.29);
        margin-top: 0;
        margin-right: 3px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 3.29;
        height: $_fax_hg / 3.29;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 3.29) ($_fax_hg / 3.29);
        margin-top: -1px;
        margin-right: 3px;
      }

      #{$_block}__free {
        width: $_free_wd_sp / 3.29;
        height: $_free_hg_sp / 3.29;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd_sp / 3.29) ($_free_hg_sp / 3.29);
        margin-top: -1px;
        margin-right: 3px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 3.29;
        height: $_cell_hg / 3.29;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 3.29) ($_cell_hg / 3.29);
        margin-right: 3px;
      }
    }
  }
}
