@if $device == PC {
  .t0-b-footerUnit-navB#{$variation1of2} {
    white-space: nowrap;
    margin-bottom: 3px;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      &:first-child {
        padding-left: 0;
      }

      div {
        @include g-font(14, 1);
        padding: 5px 15px 5px 28px;
        background: url("../imgs/t0-b-navItem/bg15.png") no-repeat left 12px center, linear-gradient($footerUnit-navB_BGColor, $footerUnit-navB_BGColor2);
        border-top: 1px solid $footerUnit-navB_borderColor;
        border-bottom: 1px solid $footerUnit-navB_borderColor2;
        border-left: 1px solid $footerUnit-navB_borderColor;
        border-right: 1px solid $footerUnit-navB_borderColor2;
        border-radius: 5px;
        box-sizing: border-box;
        color: $footerUnit-navB_textColor;
      }
    }

    a {
      color: $footerUnit-navB_textColor;
      text-decoration: none;
      display: block;
      &:hover {
        opacity: .6;
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    white-space: nowrap;
    margin-bottom: 3px;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      &:first-child {
        padding-left: 0;
      }

      div {
        @include g-font(14, 1);
        padding: 5px 15px 5px 28px;
        background: url("../imgs/t0-b-navItem/bg15.png") no-repeat left 12px center, linear-gradient($footerUnit-navB2_BGColor, $footerUnit-navB2_BGColor2);
        border-top: 1px solid $footerUnit-navB2_borderColor;
        border-bottom: 1px solid $footerUnit-navB2_borderColor2;
        border-left: 1px solid $footerUnit-navB2_borderColor;
        border-right: 1px solid $footerUnit-navB2_borderColor2;
        border-radius: 5px;
        box-sizing: border-box;
        color: $footerUnit-navB2_textColor;
      }
    }

    a {
      color: $footerUnit-navB2_textColor;
      text-decoration: none;
      display: block;
      &:hover {
        opacity: .6;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    &__item {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }

      div {
        @include g-font(16, 1);
        padding: 10px 28px 10px 15px;
        background: url("../imgs/t0-b-navItem/spw.png") no-repeat 95% 50%;
        background-size: 17px 17px, 100%;
        background-color: $footerUnit-navB_BGColor;
        border-radius: 5px;
        box-sizing: border-box;
        color: $footerUnit-navB_textColor;
        text-align: center;
      }

      a {
        color: $footerUnit-navB_textColor;
        text-decoration: none;
        display: block;
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    &__item {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }

      div {
        @include g-font(16, 1);
        padding: 10px 28px 10px 15px;
        background: url("../imgs/t0-b-navItem/spw.png") no-repeat 95% 50%;
        background-size: 17px 17px, 100%;
        background-color: $footerUnit-navB2_BGColor;
        border-radius: 5px;
        box-sizing: border-box;
        color: $footerUnit-navB2_textColor;
        text-align: center;
      }

      a {
        color: $footerUnit-navB2_textColor;
        text-decoration: none;
        display: block;
      }
    }
  }
}
