@if $device == PC {
  .t0-b-footerUnit-text {
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #645a4e;
    $_color_table_th_bg: #000;
    $_color_table_td_typo: $g-textColor;
    color: #d0c8c8;
    white-space: nowrap;
    @include g-rteTableReset();
    ul, ol {
      padding-left: 25px;
    }

    a {
      color: #d0c8c8;
      &:hover {
        color: $g-hoverColor;
      }
    }

    p {
      @include g-font(14, 1);
      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    ul {
      padding: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(14, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    ol {
      padding: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th, td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 6px;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul, ol {
        font-size: $g-fontSize;
        color: inherit;
        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th * {
        color: #fff;
      }

      td * {
        color: #210a0a;
      }

      th {
        color: #fff;
        font-family: $mincho;
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
      }

      td {
        color: #210a0a;
        background-color: #bbb09e;
        font-weight: bold;
      }
    }

    > table:first-child {
      margin-top: 0;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-text {
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #645a4e;
    $_color_table_th_bg: #000;
    $_color_table_td_typo: $g-textColor;
    color: #d0c8c8;
    @include g-rteTableReset();
    ul, ol {
      padding-left: 25px;
    }

    a {
      color: #d0c8c8;
    }

    p {
      @include g-font(16, 2);
      color: #d0c8c8;
      margin-top: $_blockSpacing;
    }

    > p:first-child {
      margin-top: 0;
    }
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    ul {
      padding: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        color: #cdbcbc;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    ol {
      padding: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th, td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul, ol {
        font-size: $g-fontSize;
        color: inherit;
        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th * {
        color: #fff;
      }

      td * {
        color: #210a0a;
      }

      th {
        color: #fff;
        font-family: $mincho;
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
      }

      td {
        color: #210a0a;
        background-color: #bbb09e;
        font-weight: bold;
      }
    }

    > table:first-child {
      margin-top: 0;
    }
  }
}
