@if $device == PC {
  .t0-b-footerUnit-lv2H {
    padding: 10px 0 0 2px;
    border-top: 1px solid rgba(150, 150, 150, .5);
    color: #d0c8c8;
    font-family: $mincho;
    h5 {
      @include g-font(16, 1);
      white-space: nowrap;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #d0c8c8;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    padding: 10px 0 0 2px;
    border-top: 1px solid rgba(150, 150, 150, .5);
    color: #d0c8c8;
    font-family: $mincho;
    h5 {
      @include g-font(18, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #d0c8c8;
    }
  }
}
