@if $device == PC {
  .t0-b-footerMenuWithCp {
    @include g-font(14, 1);
    width: 100%;
    box-sizing: border-box;
    color: #999;
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 3px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, #000, #666, #000);
    }

    > div {
      display: table;
      width: 100%;
      width: 1080px;
      margin: 0 auto;
    }

    p {
      display: table-cell;
      @include g-font(12, 1);
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        @include g-font(12, 1);
        display: inline-block;
        color: #999;
        text-decoration: none;
        padding: 0 11px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: url("../imgs/b-breadcrumbs/bg.png") no-repeat left center;
          background-size: 6px 9px;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }
      }

      a {
        color: #999;
        text-decoration: none;
        position: relative;
        z-index: 3;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: #999;
      font-weight: bold;
      a {
        color: #999;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerMenuWithCp {
    @include g-font-spacingKilled(12, 1);
    margin: 0 -15px;
    background: #000;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    color: #999;
    text-align: center;
    font-family: $mincho;
    &::before, &::after {
      display: none;
    }

    > div {
      display: table;
      width: 100%;
    }

    p {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 0 0 5px;
      box-sizing: border-box;
    }

    .state-em {
      font-weight: bold;
    }

    &__menu {
      display: table-header-group;
      a {
        color: #999;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }

        margin-left: 15px;
        display: inline-block;
        text-align: left;
        padding: 5px 0;
        text-decoration: underline;
      }
    }
  }
}
