.area-all {
  background-color: $g-baseBackgroundColor;
  padding-top: 40px;
  word-break: break-all;
  word-wrap: break-word;
}

.area-container {
}

.area-header {
  background: $g-baseBackgroundColor;
  padding: 0 15px 0;
}

.area-footer {
  background: $g-baseBackgroundColor;
  padding: 0 15px;
}

.area-main {
  background: $g-baseBackgroundColor;
  padding: 20px 15px 0;
}

.area-sub {
  background: $g-baseBackgroundColor;
  padding: 20px 15px 0;
}
