@if $device == PC {

  .t0-b-sideBoxLabeledList {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;

    &__item {
      padding-top: $_spacing_item;

      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      padding-bottom: 10px;
      line-height: 0;

      > div {
        display: inline-block;
        min-height: 17px;

        @include g-font(14, 1);

        background-color: #ff459a;
        color: #fff;
        padding: 4px 8px 3px;
        min-width: 56px;
      }
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__item-bd {
      @include g-font(16, 1);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLabeledList {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;

    a {
      color: inherit;
    }

    &__item {
      padding-top: $_spacing_item;

      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      padding-bottom: 10px;
      line-height: 0;

      > div {
        display: inline-block;

        @include g-font(16, 1);

        background-color: #ff459a;
        color: #fff;
        padding: 4px 8px 3px;
        min-width: 65px;
        min-height: 20px;
      }
    }

    &__item-bd {
      @include g-font(16, 1);
    }
  }
}
