@if $device == PC {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    $_block: &;

    white-space: nowrap;
    display: table;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: #ff65ab;

    a {
      text-decoration: none;
      display: inline-table;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }

    p {
      display: table-cell;
      padding: 5px 10px 4px 6px;
      width: 100%;
      @include g-font(16, 1);
    }

    div {
      display: table-cell;
      padding: 1px 0 0 12px;
      vertical-align: middle;
      height: 29px;

      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 14px;
        background: url("../imgs/t0-b-navItem/2.png") no-repeat 0 50%;
        background-size: 10px 14px;
      }
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      border: 1px solid #e92677;
      background: #ff65ab;
    }

    //サイト名中央に入ったときのみ文字数分の幅をもち、中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    $_block: &;

    white-space: nowrap;
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2px 2px 0;
    position: relative;
    z-index: 2;

    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 3px;
      bottom: 5px;
      left: 0;
      width: 35px;
      background: url("../imgs/t0-b-navItem/bg.png") repeat-y right top;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 4px;
      top: 4px;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      z-index: 1;
    }

    a {
      text-decoration: none;
      display: inline-table;
      color: $textcolor;

      &:hover {
        opacity: 0.8;
      }
    }

    p {
      display: table-cell;
      padding: 6px 10px 5px 11px;
      width: 100%;
      @include g-font(16, 1);
      background: #ffc0d7;
    }

    div {
      display: table-cell;
      padding: 1px 15px 0 14px;
      vertical-align: middle;
      background: #ffc0d7;
      position: relative;
      height: 30px;

      &:before {
        content: "";
        display: block;
        width: 6px;
        height: 10px;
        background: url("../imgs/t0-b-navItem/10.png") no-repeat 0 50%;
        background-size: 6px 10px;
      }
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      color: #fff;

      &:after {
        border-bottom: 1px solid #414141;
        border-right: 1px solid #414141;
      }

      a {
        color: #fff;
      }

      p {
        background: #414141;
      }

      div {
        background: #414141;

        &:before {
          background: url("../imgs/t0-b-navItem/3.png") no-repeat 0 50%;
          background-size: 6px 10px;
        }
      }
    }

    //サイト名中央に入ったときのみ文字数分の幅をもち、中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB3 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    // tableにしないと背景色が伸びない為
    display: table;

    a {
      text-decoration: none;
      display: block;
      color: #fff;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    p {
      padding: 6px 10px 5px;
      @include g-font(16, 1);
      background: #ffacd5;
      min-height: 31px;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
    }

    //サイト名中央に入ったときのみ文字数分の幅をもち、中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &,
    .t0-b-headerSingle#{$variation2of2} & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB4 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    // tableにしないと背景色が伸びない為
    display: table;

    a {
      text-decoration: none;
      display: block;
      color:#fff;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    p {
      padding: 6px 10px 5px;
      @include g-font(16, 1);
      background: #ff459a;
      min-height: 31px;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
    }

    //サイト名中央に入ったときのみ文字数分の幅をもち、中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &,
    .t0-b-headerSingle#{$variation2of2} & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB5 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    // tableにしないと背景色が伸びない為
    display: table;

    a {
      text-decoration: none;
      display: block;
      color: #fff;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    p {
      padding: 6px 10px 5px;
      @include g-font(16, 1);
      background: #444;
      min-height: 31px;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
    }

    //サイト名中央に入ったときのみ文字数分の幅をもち、中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &,
    .t0-b-headerSingle#{$variation2of2} & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #ff65ab;
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #ff65ab;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #fff;

      p {
        display: block;
        text-decoration: none;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      background-color: #ff65ab;
      border: 1px solid #ff65ab;
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #ffc0d7;
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #ffc0d7;
    border-radius: 5px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: $textcolor;

      p {
        display: block;
        text-decoration: none;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      background-color: #ffc0d7;
      border: 1px solid #ffc0d7;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .t0-b-headerUnit-contact-navB3 {
    width: 95%;
    margin: 0 auto;
    background: #ffacd5;
    border: 1px solid #fff;
    font-weight: bold;
    text-align: center;

    a {
      text-decoration: none;
      color: #fff;

      p {
        display: block;
        text-decoration: none;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      padding: 12px 10px;
      @include g-font(16, 1);
      color: #fff;
    }
  }

  .t0-b-headerUnit-contact-navB4 {
    width: 95%;
    margin: 0 auto;
    background: #ff459a;
    border: 1px solid #fff;
    font-weight: bold;
    text-align: center;

    a {
      text-decoration: none;
      color: #fff;

      p {
        display: block;
        text-decoration: none;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      padding: 12px 10px;
      @include g-font(16, 1);
      color: #fff;
    }
  }

  .t0-b-headerUnit-contact-navB5 {
    width: 95%;
    margin: 0 auto;
    background: #444;
    border: 1px solid #fff;
    font-weight: bold;
    text-align: center;

    a {
      text-decoration: none;
      color: #fff;

      p {
        display: block;
        text-decoration: none;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      padding: 12px 10px;
      @include g-font(16, 1);
      color: #fff;
    }
  }
}
