@if $device == PC {


  .t0-b-fileDownloads {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;
    padding: #{$_blockSpacing} 0 0;
    &:first-child {
      padding-top: 0;
    }
    &__item {
      padding: #{$_itemSpacing} 0 0;
      @include cf;
    }
    a {
      text-decoration: underline;
      color: #555;
      display: block;
      float: left;
      &:hover {
        color: #16998f;
      }
    }
    &__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
    &__itemIcon {
      padding-right: 10px;
    }
    &__itemText {
      @include g-font(16, 1);
      #{$_block}--size-2 & {
        @include g-font(20, 1);
      }
      #{$_block}--size-3 & {
        @include g-font(24, 1);
      }
      #{$_block}--size-4 & {
        @include g-font(28, 1);
      }
      #{$_block}--size-5 & {
        @include g-font(32, 1);
      }
    }
  }

  .b-downloadIcon {
    $_block: &;
    $_color_border: #aaa;
    @mixin _icon($file,$mag) {
      &--#{$file} {
        $_src: "b-downloadIcon/#{$file}.png";
        background-image: url("../imgs/#{$_src}");
        background-repeat: no-repeat;
        width: 30px*$mag;
        height: 30px*$mag;
        background-size: 30px*$mag;
      }
    }
    @include _icon("pdf",1);
    @include _icon("doc",1);
    @include _icon("xls",1);
    @include _icon("img",1);
    .t0-b-fileDownloads--size-2 & {
      @include _icon("pdf",1.25);
      @include _icon("doc",1.25);
      @include _icon("xls",1.25);
      @include _icon("img",1.25);
    }
    .t0-b-fileDownloads--size-3 & {
      @include _icon("pdf",1.5);
      @include _icon("doc",1.5);
      @include _icon("xls",1.5);
      @include _icon("img",1.5);
    }
    .t0-b-fileDownloads--size-4 & {
      @include _icon("pdf",1.75);
      @include _icon("doc",1.75);
      @include _icon("xls",1.75);
      @include _icon("img",1.75);
    }
    .t0-b-fileDownloads--size-5 & {
      @include _icon("pdf",2);
      @include _icon("doc",2);
      @include _icon("xls",2);
      @include _icon("img",2);
    }
    display: inline-block;
    vertical-align: middle;
  }
}

@if $device == SP {

  .t0-b-fileDownloads {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;
    padding: #{$_blockSpacing} 0 0;
    &:first-child {
      padding-top: 0;
    }
    &__item {
      padding: #{$_itemSpacing} 0 0;
      // clearfix
      &::before,
      &::after {
        content: "";
        display: table;
      }
      &::after {
        clear: both;
      }
      &:first-child {
        padding-top: 0;
      }
      // clearfix
    }
    a {
      text-decoration: underline;
      color: #555;
      display: block;
      float: left;
      &:hover {
        color: #16998f;
      }
    }
    &__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
    &__itemIcon {
      padding-right: 10px;
    }
    &__itemText {
      @include g-font(16, 1);
      text-decoration: underline;
    }
  }

  .b-downloadIcon {
    $_color_border: #aaa;
    @mixin _icon($file) {
      &--#{$file} {
        $_src: "b-downloadIcon/#{$file}.png";
        background-image: url("../imgs/#{$_src}");
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-size: 30px;
      }
    }
    @include _icon("pdf");
    @include _icon("doc");
    @include _icon("xls");
    @include _icon("img");
    display: inline-block;
    vertical-align: middle;
  }
}
