@if $device == PC {

  .t0-b-orderedList#{$variation1of2} {
    li {
      display: flex;
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      height: 30px;
      margin-right: 10px;
      background-image: url("../imgs/t0-b-orderedList/bg.png");
      background-size: 30px;
      background-repeat: no-repeat;
      box-shadow: 1px 1px 2px #aaa;

      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      }
    }

    &__text {
      @include g-font(16, 2);
      padding-top: 4px;
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    li {
      display: flex;
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 32px;
      height: 32px;
      margin-right: 10px;
      background-image: url("../imgs/t0-b-orderedList/bg2.png");
      background-repeat: no-repeat;
      background-size: 32px;

      > div {
        @include g-font(18, 1);
        text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
      }
    }

    &__text {
      @include g-font(16, 2);
      padding-top: 4px;
    }
  }
}

@if $device == SP {
  .t0-b-orderedList#{$variation1of2} {
    li {
      display: flex;
    }
    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 30px;
      height: 30px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-orderedList/bg.png");
      background-size: 30px;
      box-shadow: 1px 1px 2px #aaa;

      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      }
    }

    &__text {
      @include g-font(16, 2);
      padding-top: 4px;
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    li {
      display: flex;
    }
    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 32px;
      height: 32px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-orderedList/bg2.png");
      background-size: 32px;

      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      }
    }

    &__text {
      @include g-font(16, 2);
      padding-top: 4px;
    }
  }
}
