@if $device == PC {

  .t0-b-lv1H-mainH#{$variation1of3} {
    margin: 0 auto;
    padding: 28px 30px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: left top, right top, left bottom, right bottom, left bottom, left top, right top, left top;
    background-image: url("../imgs/t0-b-lv1H-mainH/bg2.png"), url("../imgs/t0-b-lv1H-mainH/bg4.png"), url("../imgs/t0-b-lv1H-mainH/bg8.png"), url("../imgs/t0-b-lv1H-mainH/bg7.png"), url("../imgs/t0-b-lv1H-mainH/bg6.png"), url("../imgs/t0-b-lv1H-mainH/bg5.png"), url("../imgs/t0-b-lv1H-mainH/bg3.png"), url("../imgs/t0-b-lv1H-mainH/bg.png");
    background-color: #fff;
    box-shadow: 2px 2px 2px #bec7c7;

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }

    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 0 10px;
    }

    &__bd {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }
    }

    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of3} {
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #c2cccb, -2px -2px 4px #c2cccb;
    padding: 30px;
    background-image: url("../imgs/t0-b-lv1H-mainH/bg10.png"), url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg13.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    position: relative;

    > span {
      background-image: url("../imgs/t0-b-lv1H-mainH/bg17.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png");
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 0;
      right: 0;

      > span {
        background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png");
        background-repeat: repeat-x, repeat-x;
        background-position: left top, left bottom;
        position: absolute;
        top: -12px;
        bottom: -12px;
        left: 12px;
        right: 12px;

        > span {
          background-image: url("../imgs/t0-b-lv1H-mainH/bg9.png");
          background-repeat: repeat;
          background-position: left top;
          position: absolute;
          top: 11px;
          bottom: 11px;
          left: -1px;
          right: -1px;
        }
      }
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }

    > div,
    > a > h1 {
      position: relative;
    }

    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 0 15px;
    }

    &__bd {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }
      position: relative;
    }

    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 15px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation3of3} {
    margin: 0 auto;
    padding: 15px 20px 0;
    color: #555;

    > span {

      > span {

        > span {

        }
      }
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }

    > div,
    > a > h1 {

    }

    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 0 10px;
    }

    &__bd {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }

    }

    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH4 {
    margin: 0 auto;
    padding: 15px 20px;
    color: #555;
    border-top: 2px solid #389987;
    border-bottom: 2px solid #389987;

    > span {

      > span {

        > span {

        }
      }
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }

    > div,
    > a > h1 {

    }

    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 0 10px;
    }

    &__bd {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }

    }

    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH5 {
    margin: 0 auto;
    color: #555;

    > span {

      > span {

        > span {

        }
      }
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }

    > div,
    > a > h1 {

    }

    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 20px 10px;
    }

    &__bd {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }
      padding: 0 20px 13px;
      box-shadow: 0px -2px #389987 inset, 0px -4px #fff inset, 0px -8px #389987 inset
    }

    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 10px 20px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

}

@if $device == SP {

  .t0-b-lv1H-mainH#{$variation1of3} {
    width: auto;
    margin: 0 auto;
    padding: 15px 13px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: left top, right top, left bottom, right bottom, left bottom, left top, right top, left top;
    background-image: url("../imgs/t0-b-lv1H-mainH/bg2.png"), url("../imgs/t0-b-lv1H-mainH/bg4.png"), url("../imgs/t0-b-lv1H-mainH/bg8.png"), url("../imgs/t0-b-lv1H-mainH/bg7.png"), url("../imgs/t0-b-lv1H-mainH/bg6.png"), url("../imgs/t0-b-lv1H-mainH/bg5.png"), url("../imgs/t0-b-lv1H-mainH/bg3.png"), url("../imgs/t0-b-lv1H-mainH/bg.png");
    background-color: #fff;
    box-shadow: 2px 2px 2px #bec7c7;
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__bd {
      @include g-font(18, 1);
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of3} {
    width: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #c2cccb, -2px -2px 4px #c2cccb;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../imgs/t0-b-lv1H-mainH/bg10.png"), url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg13.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    position: relative;
    > span {
      background-image: url("../imgs/t0-b-lv1H-mainH/bg17.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png");
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 0;
      right: 0;
      > span {
        background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png");
        background-repeat: repeat-x, repeat-x;
        background-position: left top, left bottom;
        position: absolute;
        top: -12px;
        bottom: -12px;
        left: 12px;
        right: 12px;
        > span {
          background-image: url("../imgs/t0-b-lv1H-mainH/bg9.png");
          background-repeat: repeat;
          background-position: left top;
          position: absolute;
          top: 11px;
          bottom: 11px;
          left: -1px;
          right: -1px;
        }
      }
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
    > div,
    > a > h1 {
      position: relative;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__bd {
      @include g-font(18, 1);
      position: relative;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation3of3} {
    width: auto;
    margin: 0 auto;
    color: #555;
    > span {

      > span {

        > span {

        }
      }
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
    > div,
    > a > h1 {

    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__bd {
      @include g-font(18, 1);
      position: relative;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH4 {
    width: auto;
    margin: 0 auto;
    padding: 7px 10px;
    color: #555;
    border-top: 2px solid #389987;
    border-bottom: 2px solid #389987;
    > span {

      > span {

        > span {

        }
      }
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
    > div,
    > a > h1 {

    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__bd {
      @include g-font(18, 1);
      position: relative;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH5 {
    width: auto;
    margin: 0 auto;
    color: #555;
    > span {

      > span {

        > span {

        }
      }
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
    > div,
    > a > h1 {

    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 10px 5px;
    }
    &__bd {
      @include g-font(18, 1);
      padding: 0 10px 11px;
      box-shadow: 0px -2px #389987 inset, 0px -4px #fff inset, 0px -8px #389987 inset
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 10px 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}
