@if $device == PC {
  .t0-b-media {
    margin: 0 auto;

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

    &__h-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-bottom: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    img {
      width: 100%;
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: #555;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 3%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-top: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &__caption {
      margin-top: 5%;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media2 {
    margin: 0 auto;

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

    &__h-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-bottom: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    img {
      width: 100%;
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      border: 1px solid #a0a0a0;
      a {
        text-decoration: none;
        color: #555;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 3%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-top: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 5%;
      }
    }

    &__caption {
      & + div {
        margin-top: 5%;
      }
      p {
        @include g-font(14, 1);
        text-align: center;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media3 {
    margin: 0 auto;
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    img {
      width: 100%;
    }
    &__h-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-bottom: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      a {
        text-decoration: none;
        color: #555;
        &:hover {
          opacity: .8;
        }
      }
      > *,
      img {
        border-radius: 5px;
      }
      & + div {
        margin-top: 3%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-top: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }
  .t0-b-media4 {
    margin: 0 auto;
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    img {
      width: 100%;
    }
    &__h-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-bottom: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      a {
        text-decoration: none;
        color: #555;
        &:hover {
          opacity: .8;
        }
      }
      > *,
      img {
        border-radius: 50%;
      }
      & + div {
        margin-top: 3%;
      }
    }

    &__textOnImage-upper {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 5px 10px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 15px;
        background: rgba(255,255,255,0.6);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      font-weight: bold;
      text-align: center;
      margin-top: 3%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 5%;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }




  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    .t0-b-serviceSet#{$variation1of3} & {
      overflow: hidden;
      direction: rtl;
      img {
        width: auto;
        min-width: 100%;
      }
    }
  }

}

@if $device == SP {

  .t0-b-media {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      padding-bottom: 10px;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      > *,
      img {
        width: 100%;
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      & + div {
        margin-top: 10px;
      }
    }
    a {
      text-decoration: none;
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      margin-top: 10px;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 10px;
      }
    }
    &__caption {

      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    img {
      max-width: 100% !important;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media2 {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 10px;
      text-align: center;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      > *,
      img {
        vertical-align: top;
        width: 100%;
      }

      & + div {
        margin-top: 10px;
      }
    }
    img {
      border: 1px solid #a0a0a0;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      margin-top: 10px;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }

      & + div {
        margin-top: 10px;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    img {
      max-width: 100% !important;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media3 {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 10px;
      text-align: center;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      > *,
      img {
        vertical-align: top;
        border-radius: 3px;
        width: 100%;
      }

      & + div {
        margin-top: 10px;
      }
    }
    a {
      text-decoration: none;
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.6);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      margin-top: 10px;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }

      & + div {
        margin-top: 10px;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    img {
      max-width: 100% !important;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media4 {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 10px;
      text-align: center;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      > *,
      img {
        vertical-align: top;
        border-radius: 50%;
        width: 100%;
      }

      & + div {
        margin-top: 10px;
      }
    }
    a {
      text-decoration: none;
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 5px 10px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 15px;
        background: rgba(255,255,255,0.6);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      margin-top: 10px;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }

      & + div {
        margin-top: 10px;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    img {
      max-width: 100% !important;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    .t0-b-serviceSet#{$variation1of3} & {
      .t0-b-mediaOnly {
        overflow: hidden;
        direction: rtl;
        img {
          width: auto;
          min-width: 100%;
        }
      }
    }
  }
}
