@if $device == PC {
  .t0-b-lv4H-caseIcon#{$variation1of2} {

    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 64px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-caseIcon/1.png");
    }
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }

      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(30, 1);
      } @else {
        @include g-font(26, 1);
      }
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: #{$_elementSpacing} 0 3px;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        background-size: 51.2px 51.2px;
        width: 51.2px;
        height: 51.2px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 76.8px 76.8px;
        width: 76.8px;
        height: 76.8px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(34, 1);
        } @else {
          @include g-font(30, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }

  .t0-b-lv4H-caseIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 52px;
      height: 52px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-caseIcon/2.png");
    }
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(30, 1);
      } @else {
        @include g-font(26, 1);
      }
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      padding: #{$_elementSpacing} 0 3px;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        background-size: 41.6px 41.6px;
        width: 41.6px;
        height: 41.6px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 62.4px 62.4px;
        width: 62.4px;
        height: 62.4px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(34, 1);
        } @else {
          @include g-font(30, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv4H-caseIcon#{$variation1of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__icon {
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-caseIcon/1.png");
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(18, 1);
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }

  .t0-b-lv4H-caseIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__icon {
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-caseIcon/2.png");
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(18, 1);
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }

}
