@if $device == PC {
  .t0-b-footerMenu#{$variation1of2} {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-footerMenu/bg2.png"), url("../imgs/t0-b-footerMenu/bg3.png"), url("../imgs/t0-b-footerMenu/bg4.png");
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: left top, left bottom, left top;
    $_width_content: 1060px;
    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        min-height: 24px;
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-footerMenu__item {
      @include g-font(14, 1);
      display: table-cell;
      padding: 2px 5px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      border-left: 1px solid #fff;
      &:first-child {
        border-left: 0;
      }
    }

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .state-em {
      font-weight: bold;
      color: #16998f;
      > a {
        font-weight: bold;
        color: #16998f;
      }
    }
  }

  .t0-b-footerMenu#{$variation2of2} {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    background-color: #009688;
    background-image: url("../imgs/t0-b-footerMenu/bg2.png"), url("../imgs/t0-b-footerMenu/bg3.png");
    background-repeat: repeat-x, repeat-x;
    background-position: left top, left bottom;
    $_width_content: 1060px;
    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        min-height: 24px;
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-footerMenu__item {
      @include g-font(14, 1);
      display: table-cell;
      padding: 2px 5px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      border-left: 1px solid #fff;
      &:first-child {
        border-left: 0;
      }
    }

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .state-em {
      font-weight: bold;
      color: #16998f;
      text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      > a {
        font-weight: bold;
        color: #16998f;
        text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerMenu#{$variation1of2} {
    box-sizing: border-box;
    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #383838;
    ul {
      padding: 5px 10px;
    }

    .t0-b-footerMenu__item {
      display: inline-block;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }

      div {
        @include g-font(12, 1);
        padding: 5px 0;
        text-align: center;
        text-decoration: underline;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      font-weight: bold;
      color: #16998f;
      > a {
        font-weight: bold;
        color: #16998f;
      }
    }
  }

  .t0-b-footerMenu#{$variation2of2} {
    box-sizing: border-box;
    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #009688;
    ul {
      padding: 5px 10px;
    }

    .t0-b-footerMenu__item {
      display: inline-block;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }

      div {
        @include g-font(12, 1);
        padding: 5px 0;
        text-align: center;
        text-decoration: underline;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      font-weight: bold;
      color: #16998f;
      text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      > a {
        font-weight: bold;
        color: #16998f;
        text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
      }
    }
  }
}
