@if $device == PC {
  .t0-b-headerImgDouble {
    &__bd {
      width: 1060px;
      margin: 0 auto;
      display: table;
      p {
        width: 38.8%;
        display: table-cell;
        vertical-align: bottom;
        img {
          width: 100%;
        }
        &:first-child {
          width: 61.2%;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-headerImgDouble {
    &__bd {
      p {
        img {
          width: 100%;
        }
      }
    }
  }

  .t0-b-headerImgDouble {
    &__bd {
      p {
        img {
          width: 100%;
        }
      }
    }
  }
}
