$g-fullWidthBgColor: #fff;
$g-fullWidthBgColor2: #fdfaf0;
$g-fullWidthBgColor3: #fae4e4;
$g-fullWidthBgColor4: #275999;
$g-fullWidthBgColor5: #ecf3f6;
$g-fullWidthBgColor6: #a1c1e6;
$g-fullWidthBgColor7: #f5f5f5;
$g-fullWidthBgColor8: #fdf8f8;
$g-hoverColor: #265d9b;
