$g-fullWidthBGColor: #fff;
$g-fullWidthBGColor2: #fdfaf0;
$g-fullWidthBGColor3: #fae4e4;
$g-fullWidthBGColor4: #275999;
$g-fullWidthBGColor5: #ecf3f6;
$g-fullWidthBGColor6: #a1c1e6;
$g-fullWidthBGColor7: #f5f5f5;
$g-fullWidthBGColor8: #fdf8f8;
$g-hoverColor: #265d9b;
