// SPフォントファミリー用変数
// font-familyは以下の変数を使用する
$font-gothic: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
$font-mincho: "游明朝", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", serif;
$font-marugo: "Hiragino Maru Gothic ProN", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
// デザイン仕様 d07 SPではRTEによるフォントサイズ変更を無効にするために必要。mixin g-fontの!importantと合わせて使用する
span {
  font-size: inherit !important;
}

// SPフォント用mixin
// @include g-font();で使用。引数でfont-sizeとline-heightを指定する
// 第2引数を入れない場合、$lineHeightは初期値1となる
// 第2引数が0の場合には、line-heightの値を出力しない
@mixin g-font ($fontSize, $lineHeight: 1) {
  @include g-lineHeight($lineHeight);
  @include g-fontSize($fontSize);
}

@mixin g-fontSize ($fontSize) {
  $_strippedUnitGFontSize: stripe-unit($g-fontSize);
  font-size: round-to-3-decimal-places($fontSize / $_strippedUnitGFontSize) + rem !important;
}
