$g-leftSpacingBaseLength: 10;
@if $device == PC {
  @for $_i from 1 through 10 {
    .ex-leftSpacingTweak-narrow-#{$_i}s {
      margin-left: #{-1 * $_i * $g-leftSpacingBaseLength}px;
    }

    .ex-leftSpacingTweak-spread-#{$_i}s {
      margin-left: #{$_i * $g-leftSpacingBaseLength}px;
    }
  }
}
