@if $device == PC {

  /*
  ---
  name: ex-topSpacingTweak
  category:
  - assets
  ---

  上余白用class

  数字×1%の上余白を部品・要素に与える

  */

  @for $_i from 1 through 10 {
    .ex-topSpacingTweak-up-#{$_i}s {
      margin-top: #{-1% * $_i};
    }
    .ex-topSpacingTweak-down-#{$_i}s {
      margin-top: #{1% * $_i};
    }
  }
}
