/*
---
name: 002_枠(特徴<画像>)
tag:
  - main
category:
  - 全部品
  - 11.枠
  - 11.枠/002_枠(特徴<画像>)
---

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-twoColsMediaWithNumIcon">
    <div class="t0-b-twoColsMediaWithNumIcon__hd">
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

    </div>
    <div class="t0-b-twoColsMediaWithNumIcon__bd"><span><span><span></span></span></span>
    <div class="t0-b-twoColsMedia">
      <div class="t0-b-twoColsMediaWithNumIcon__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-1"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-l">
          <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">◯年以上の実績</div>
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">リンク設定あり&左寄せ</h4></a>
        <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row1col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row1col1 --></div>

          <div class="t0-b-twoColsMedia__row1col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row1col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__box --></div>

      <div class="t0-b-twoColsMediaWithNumIcon__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-2"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-c">
          <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">◯年以上の実績</div>
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">リンク設定あり&中央寄せ</h4></a>
          <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">◯年以上の実績</div>
        <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row2col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row2col1 --></div>

          <div class="t0-b-twoColsMedia__row2col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row2col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__box --></div>

      <div class="t0-b-twoColsMediaWithNumIcon__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-3"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-r">
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">リンク設定あり&右寄せ</h4></a>
        <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row3col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row3col1 --></div>

          <div class="t0-b-twoColsMedia__row3col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row3col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon__box --></div>

    <!-- /t0-b-twoColsMedia --></div>
    <!-- /t0-b-twoColsMediaWithNumIcon__bd --></div>
  <!-- /t0-b-twoColsMediaWithNumIcon --></div>
  </div>
```

#### バリエーション2

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-twoColsMediaWithNumIcon2">
    <div class="t0-b-twoColsMediaWithNumIcon2__hd">
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

    </div>
    <div class="t0-b-twoColsMediaWithNumIcon2__bd"><span><span><span></span></span></span>
    <div class="t0-b-twoColsMedia">
      <div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-1"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-l">
          <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">◯年以上の実績</div>
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">リンク設定あり&左寄せ</h4></a>
        <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon2__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row1col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row1col1 --></div>

          <div class="t0-b-twoColsMedia__row1col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row1col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__box --></div>

      <div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-2"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-c">
          <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">◯年以上の実績</div>
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">リンク設定あり&中央寄せ</h4></a>
          <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">◯年以上の実績</div>
        <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon2__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row2col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row2col1 --></div>

          <div class="t0-b-twoColsMedia__row2col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row2col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__box --></div>

      <div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
        <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-3"></span></div>
        <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-r">
          <a href="#"><h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">リンク設定あり&右寄せ</h4></a>
        <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>

      <div class="t0-b-twoColsMediaWithNumIcon2__box t0-b-twoColsMedia--imgR"><span><span><span></span></span></span>
        <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">

          <div class="t0-b-twoColsMedia__row3col1">
            <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

          <!-- /t0-b-twoColsMedia__row3col1 --></div>

          <div class="t0-b-twoColsMedia__row3col2">
            <div>
              <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>

            </div>
          <!-- /t0-b-twoColsMedia__row3col2 --></div>

        <!-- /t0-b-twoColsMedia__div --></div>
      <!-- /t0-b-twoColsMediaWithNumIcon2__box --></div>

    <!-- /t0-b-twoColsMedia --></div>
    <!-- /t0-b-twoColsMediaWithNumIcon2__bd --></div>
  <!-- /t0-b-twoColsMediaWithNumIcon2 --></div>
  </div>
```


*/


/*
---
name: 枠(特徴<画像>)の見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/枠(特徴<画像>)の見出し
---

### 基本形

#### バリエーション1

```html
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">リンク設定あり</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
```

#### バリエーション2

```html
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">リンク設定あり</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
```

### リンク・アンカーリンク設定なし

```html
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">リンク設定無し</h4>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">リンク設定無し</h4>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
```

### 寄せ

```html
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">設定無し</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">設定無し</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>

<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-l">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">左寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-l">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">左寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-c">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">中央寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-c">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">中央寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-r">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">右寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<a id="aaa" class="cms-admin-anchorFlag"></a>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-r">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">キャプション上</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">右寄せ</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">キャプション下</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
```

### 複数行

```html
<div class="t0-b-twoColsMediaWithNumIcon__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon__numIcon-bd t0-b-twoColsMediaWithNumIcon__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon__numIcon-h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon__numIcon-caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
  <!-- /t0-b-twoColsMediaWithNumIcon__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon__numIcon --></div>
<div class="t0-b-twoColsMediaWithNumIcon2__numIcon">
  <div class="t0-b-twoColsMediaWithNumIcon2__iconPlacer"><span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span></div>
  <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-bd t0-b-twoColsMediaWithNumIcon2__numIcon-bd--align-">
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <a href="#" target="">
    <h4 class="t0-b-twoColsMediaWithNumIcon2__numIcon-h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
    </a>
    <div class="t0-b-twoColsMediaWithNumIcon2__numIcon-caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
  <!-- /t0-b-twoColsMediaWithNumIcon2__numIcon-bd --></div>
<!-- /t0-b-twoColsMediaWithNumIcon2__numIcon --></div>
```

### アイコン

#### 安心

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--anshin-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--anshin-10"></span>
```

#### concept

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--concept-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--concept-10"></span>
```


#### 方針

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--houshin-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--houshin-10"></span>
```

#### こだわり

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--kodawari-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--kodawari-10"></span>
```


#### メリット

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--merit-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--merit-10"></span>
```


#### お約束

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--oyakusoku-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--oyakusoku-10"></span>
```


#### ポイント

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--point-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--point-10"></span>
```

#### 理由

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--riyu-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--riyu-10"></span>
```


#### 特徴

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho-10"></span>
```


#### 特長

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tokucho2-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tokucho2-10"></span>
```

#### 強み

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--tsuyomi-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--tsuyomi-10"></span>
```


#### ステップ

```html
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon__icon t0-b-twoColsMediaWithNumIcon__icon--step-10"></span>
<br>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-1"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-2"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-3"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-4"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-5"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-6"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-7"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-8"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-9"></span>
<span class="t0-b-twoColsMediaWithNumIcon2__icon t0-b-twoColsMediaWithNumIcon2__icon--step-10"></span>
```

*/



@if $device == PC {

}

@if $device == SP {

}
