/*
---
name: 037_小見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/037_小見出し
---

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">リンク設定あり</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>

<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-">
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">補足無し</h5>
        </a>
      </div>
    </div>
  </div>
<!-- /b-bPlacer-3s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">リンク設定あり</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>

<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-">
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">補足無し</h5>
        </a>
      </div>
    </div>
  </div>
<!-- /b-bPlacer-3s --></div>
```

### リンク・アンカーリンク設定無し

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-lv5H t0-b-lv5H--align-">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
          <h5 data-cms-path="data.contents.1">リンク設定無し</h5>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>

<div class="b-bPlacer-3s">
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
          <h5 data-cms-path="data.contents.1">リンク設定無し</h5>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
```

### 寄せ
```html
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">設定無し</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">設定無し</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>

<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-l">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">左寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-l">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">左寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>

<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-c">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">中央寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-c">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">中央寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-r">
    <div class="t0-b-lv5H__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">右寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-r">
    <div class="t0-b-lv5H2__caption-upper">キャプション上</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">右寄せ</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">キャプション下</div>
  </div>
<!-- /b-bPlacer-3s --></div>
```

### 複数行

```html
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H t0-b-lv5H--align-">
    <div class="t0-b-lv5H__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <div class="t0-b-lv5H__main">
      <div class="t0-b-lv5H__bd">
        <div class="t0-b-lv5H__iconPlacer"><span class="t0-b-lv5H__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
  </div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv5H2 t0-b-lv5H2--align-">
    <div class="t0-b-lv5H2__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <div class="t0-b-lv5H2__main">
      <div class="t0-b-lv5H2__bd">
        <div class="t0-b-lv5H2__iconPlacer"><span class="t0-b-lv5H2__icon"></span></div>
        <a href="#" target="">
          <h5 data-cms-path="data.contents.1">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h5>
        </a>
      </div>
    </div>
    <div class="t0-b-lv5H2__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
  </div>
<!-- /b-bPlacer-3s --></div>
```

*/
@if $device == PC {
  .t0-b-lv5H#{$variation2-1} {
    display: table;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px 17px;
    }
    &__bd {
      h5 {
        @include g-font(18, 1);
        background: url("../imgs/t0-b-lv5H/bg.png") no-repeat 0 center;
        padding: 0 0 0 17px;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0 17px;
    }
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
    a {
      text-decoration: none;
      color: $textcolor;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv5H#{$variation2-2} {
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 13px 5px 13px;
    }
    &__bd {
      padding-bottom: 4px;
      border-bottom: 2px solid #777;
      h5 {
        @include g-font(18, 1);
        padding: 0 13px 0 13px;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 13px 0 13px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: $textcolor;
      &:hover {
        color: $hovercolor;
      }
    }
  }


}

@if $device == SP {
  .t0-b-lv5H#{$variation2-1} {
    display: table;
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 17px;
    }
    &__bd {
      h5 {
        @include g-font(16, 1);
        background: url("../imgs/t0-b-lv5H/bg.png") no-repeat 0 center;
        padding: 0 0 0 17px;
      }
    }
    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 17px;
    }
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
    a {
      text-decoration: none;
      color: $textcolor;
    }
  }

  .t0-b-lv5H#{$variation2-2} {
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px;
    }
    &__bd {
      padding-bottom: 4px;
      border-bottom: 2px solid #777;
      h5 {
        @include g-font(16, 1);
        padding: 0 0 0;
      }
    }
    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: $textcolor;
    }
  }

}
