/*
---
name: 039_メディアブロック
tag:
  - main
category:
  - 全部品
  - 05.メディア
  - 05.メディア/039_メディアブロック
---

### 基本形

```html
<div class="b-bPlacer-3s">
  <div class="
    t0-b-layoutSplitter
    t0-b-layoutSplitter--count-1
    t0-b-layoutSplitter--spacing-4s
  "><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media" style="overflow: hidden;">
        <div class="t0-b-media__h-upper"><a href="#"><div>リンク設定あり</div></a></div>
        <div class="t0-b-media__media"><span><span><span></span></span></span><a href="#"><img src="../imgs/_dummy/400x160.jpg" alt=""></a></div>
        <div class="t0-b-media__h-lower"><a href="#"><div>リンク設定あり</div></a></div>
        <div class="t0-b-media__caption">
          <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
        </div>
      <!-- /t0-b-media --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /b-bPlacer-3s --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
