/*
---
name: 043_誘導バナー（画像付）
tag:
  - main
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/043_誘導バナー（画像付）
---

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-navItemWithImg t0-b-navItemWithImg--imgL" style="overflow: hidden;"><a href="#"><div><span><span><span></span></span></span>
    <div class="t0-b-navItemWithImg__img"><img src="../imgs/_dummy/1.png" alt=""></div>
    <div class="t0-b-navItemWithImg__text">誘導バナー</div>
  <!-- /t0-b-navItemWithImg --></div></a></div>
<!-- /b-bPlacer-2s --></div>
<div class="b-bPlacer-2s">
  <div class="t0-b-navItemWithImg t0-b-navItemWithImg--imgR" style="overflow: hidden;"><a href="#"><div><span><span><span></span></span></span>
    <div class="t0-b-navItemWithImg__img"><img src="../imgs/_dummy/1.png" alt=""></div>
    <div class="t0-b-navItemWithImg__text">誘導バナー</div>
  <!-- /t0-b-navItemWithImg --></div></a></div>
<!-- /b-bPlacer-2s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-navItemWithImg2 t0-b-navItemWithImg2--imgL" style="overflow: hidden;"><a href="#"><div><span><span><span></span></span></span>
    <div class="t0-b-navItemWithImg2__img"><img src="../imgs/_dummy/1.png" alt=""></div>
    <div class="t0-b-navItemWithImg2__text">誘導バナー</div>
  <!-- /t0-b-navItemWithImg2 --></div></a></div>
<!-- /b-bPlacer-2s --></div>
<div class="b-bPlacer-2s">
  <div class="t0-b-navItemWithImg2 t0-b-navItemWithImg2--imgR" style="overflow: hidden;"><a href="#"><div><span><span><span></span></span></span>
    <div class="t0-b-navItemWithImg2__img"><img src="../imgs/_dummy/1.png" alt=""></div>
    <div class="t0-b-navItemWithImg2__text">誘導バナー</div>
  <!-- /t0-b-navItemWithImg2 --></div></a></div>
<!-- /b-bPlacer-2s --></div>
```
*/
@if $device == PC {

}

@if $device == SP {

}
