/*
---
name: 045_電話番号
tag:
  - main
category:
  - 全部品
  - 09.電話番号・メールアドレス
  - 09.電話番号・メールアドレス/045_電話番号
---

### とても小さい

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-1" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-1" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__fax"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-1" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__free"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-1" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__cell"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
```

### 小さい

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-2" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-2" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__fax"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-2" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__free"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-2" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__cell"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
```

### 中

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-3" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-3" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__fax"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-3" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__free"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-3" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__cell"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
```

### 大きい

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-4" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-4" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__fax"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-4" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__free"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-4" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__cell"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
```

### とても大きい

```html
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-5" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__tel"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-5" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__fax"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-5" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__free"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
<div class="b-bPlacer-3s">
  <div class="t0-b-iconText-tel t0-b-iconText-tel--size-5" style="overflow: hidden;">
  <p>お電話でのお問合せはこちら</P>
  <div>
    <div class="t0-b-iconText-tel__ruby">いいよろよろ</div>
    <div class="t0-b-iconText-tel__bd"><span class="t0-b-iconText-tel__icon t0-b-iconText-tel__cell"></span><span>0120-11-4646</span></div><span></span>
  <!-- /t0-b-iconText-tel --></div></div>
<!-- /b-bPlacer-3s --></div>
```
*/
@if $device == PC {

}

@if $device == SP {

}
