/*
---
name: 048_FAQ見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/048_FAQ見出し
---

FAQ見出し

### 構造

* [必須] アイコン
* [必須] メインテキスト（RTE: テキストのみに制限）

### 基本形

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
```

### リンク・アンカーリンク設定無し

```html
<div class="b-bPlacer-4s">
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定無し</h2>
  </div></div>
<!-- /b-bPlacer-4s --></div>
```

### 寄せ

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">設定無し</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-l"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">左寄せ</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-c"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">中央寄せ</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-r"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">右寄せ</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
```

### 複数行

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h2>
    </a>
  </div></div>
<!-- /b-bPlacer-4s --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}
