/*
---
name: 064_誘導バナー（上下補足付）
tag:
  - main
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/064_誘導バナー（上下補足付）
---

### 基本形

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-navBItem2Captioned" style="overflow: hidden;"><a href="#"><div><span><span><span></span></span></span>
    <div class="t0-b-navBItem2Captioned__icon"></div>
    <div class="t0-b-navBItem2Captioned__text">
      <div class="t0-b-navBItem2Captioned__caption-upper">補足テキスト上</div>
      <div class="t0-b-navBItem2Captioned__main"><span><span><span></span></span></span>リンク設定ありリンク設定あり</div>
      <div class="t0-b-navBItem2Captioned__caption-lower">補足テキスト下</div>
    </div>
  <!-- /t0-b-navBItem2Captioned --></div></a></div>
<!-- /b-bPlacer-12s --></div>
<div class="b-bPlacer-12s">
  <div class="t0-b-navBItem2Captioned" style="overflow: hidden;"><div><span><span><span></span></span></span>
    <div class="t0-b-navBItem2Captioned__icon"></div>
    <div class="t0-b-navBItem2Captioned__text">
      <div class="t0-b-navBItem2Captioned__main"><span><span><span></span></span></span>補足なし補足なし</div>
    </div>
  <!-- /t0-b-navBItem2Captioned --></div></div>
<!-- /b-bPlacer-12s --></div>
```
*/
@if $device == PC {

}

@if $device == SP {

}
