/*
---
name: 065_Adobe Readerリンク
tag:
  - main
category:
  - 全部品
  - 12.その他
  - 12.その他/065_Adobe Readerリンク
---

### 基本形

```html
<div class="b-bPlacer-6s">
  <div class="t0-b-getAdobeReader" style="overflow: hidden;">
    <div class="t0-b-getAdobeReader__item"><a href="#" target="_blank">
      <span class="t0-b-getAdobeReader__itemSplit">
        <span class="t0-b-getAdobeReader__itemIcon"><span class="b-downloadIcon b-downloadIcon--reader"></span></span>
        <span class="t0-b-getAdobeReader__itemText"><p>Adobe Readerをお持ちでない方はこちらからダウンロードしてください（無償）。</p></span>
      </span>
    </a></div>
  <!-- /t0-b-getAdobeReader --></div>
<!-- /b-bPlacer-6s --></div>
```
*/
@if $device == PC {

}

@if $device == SP {

}
