/*
---
name: 133_サイドバナー
tag:
  - side
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/133_サイドバナー
---

### 基本形

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-sideBanner"><a href="#">
    <img src="../imgs/_dummy/1400x600.jpg" alt="">
  </a></div>
<!-- /b-bPlacer-2s --></div>
```
*/
@if $device == PC {

}

@if $device == SP {

}
