/*
---
name: 151_サイドメニュー
tag:
  - side
category:
  - 全部品
  - 08.メニュー
  - 08.メニュー/151_サイドメニュー
---

### 基本形

#### バリエーション1


```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu"><span><span><span></span></span></span>
    <div class="b-sideMenu__hd b-sideMenu__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu__panel" class="on-off">
    <label for="b-sideMenu__panel">MENU</label>
    <div class="b-sideMenu__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu --></div>
<!-- /b-bPlacer-4s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu2"><span><span><span></span></span></span>
    <div class="b-sideMenu2__hd b-sideMenu2__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu2__panel" class="on-off">
    <label for="b-sideMenu2__panel">MENU</label>
    <div class="b-sideMenu2__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu22 --></div>
<!-- /b-bPlacer-4s --></div>
```

*/
/*
---
name: 151_サイドメニュー（確認用）
tag:
  - side
category:
  - 08.メニュー/151_サイドメニュー
  - 08.メニュー/151_サイドメニュー/確認用
---


### 現在地表示


```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu"><span><span><span></span></span></span>
    <div class="b-sideMenu__hd b-sideMenu__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu__panel" class="on-off">
    <label for="b-sideMenu__panel">MENU</label>
    <div class="b-sideMenu__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item state-current">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー カレント</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item state-current">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー カレント</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu --></div>
<!-- /b-bPlacer-4s --></div>

<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu2"><span><span><span></span></span></span>
    <div class="b-sideMenu2__hd b-sideMenu2__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu2__panel" class="on-off">
    <label for="b-sideMenu2__panel">MENU</label>
    <div class="b-sideMenu2__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item state-current">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー カレント</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item state-current">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー カレント</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu22 --></div>
<!-- /b-bPlacer-4s --></div>
```

### 見出しが取れた場合

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu"><span><span><span></span></span></span>
    <input type="checkbox" id="b-sideMenu__panel" class="on-off">
    <label for="b-sideMenu__panel">MENU</label>
    <div class="b-sideMenu__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu --></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu2"><span><span><span></span></span></span>
    <input type="checkbox" id="b-sideMenu2__panel" class="on-off">
    <label for="b-sideMenu2__panel">MENU</label>
    <div class="b-sideMenu2__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>子メニュー</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>孫メニュー</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu22 --></div>
<!-- /b-bPlacer-4s --></div>
```

### 複数行

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu"><span><span><span></span></span></span>
    <div class="b-sideMenu__hd b-sideMenu__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu__panel" class="on-off">
    <label for="b-sideMenu__panel">MENU</label>
    <div class="b-sideMenu__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu --></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="b-sideMenu2"><span><span><span></span></span></span>
    <div class="b-sideMenu2__hd b-sideMenu2__hd--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <input type="checkbox" id="b-sideMenu2__panel" class="on-off">
    <label for="b-sideMenu2__panel">MENU</label>
    <div class="b-sideMenu2__bd"><span><span><span></span></span></span>
      <div class="b-sideMenu__list">
        <ul>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                </a>
              </div>
            </div>
            <div class="b-sideMenu__list">
              <ul>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="b-sideMenu__item">
                  <div class="b-sideMenu__item2">
                    <span><span><span></span></span></span>
                    <div>
                      <a href="#">
                        <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                      </a>
                    </div>
                  </div>
                  <div class="b-sideMenu__list">
                    <ul>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li class="b-sideMenu__item">
                        <div class="b-sideMenu__item2">
                          <span><span><span></span></span></span>
                          <div>
                            <a href="#">
                              <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item state-current">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー カレント</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
          <li class="b-sideMenu__item">
            <div class="b-sideMenu__item2">
              <span><span><span></span></span></span>
              <div>
                <a href="#">
                  <span><span>親メニュー</span></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <!-- /b-sideMenu22 --></div>
<!-- /b-bPlacer-4s --></div>
```



*/

@if $device == PC {
  .b-sideMenu#{$variation2-1} {
    $_block: ".b-sideMenu";
    background-repeat: repeat-x;
    background-position: left bottom;
    background-image: url("../imgs/b-sideMenu/1/bg3.png");
    padding-bottom: 12px;
    a {
      text-decoration: none;
      color: $textcolor;
      &:hover {
        color: $hovercolor3;
      }
    }
    label {
      display: none;
    }
    input[type="checkbox"].on-off {
      display: none;
    }
    &__hd {
      @include g-font(20, 1);
      color: #fff;
      text-align: center;
      padding: 14px 10px 13px;
      position: relative;
      background-repeat: repeat-x, repeat;
      background-position: left top, left top;
      background-image: url("../imgs/b-sideMenu/1/bg2.png"), url("../imgs/b-sideMenu/1/bg.png");
      border-bottom: 1px solid #ccc;
      a {
        color: #fff;
        &:hover {
          color: $hovercolor3;
          text-decoration: none;
        }
      }
    }
    &__bd {
      @include g-font(16, 1);
      > #{$_block}__list { //親要素
        > ul > #{$_block}__item {
          > div {
            > div {
              > a > span,
              > span {
                padding: 15px 10px 15px 37px;
                display: block;
                background: #{image-url("b-sideMenu/1/1.png")} no-repeat 15px 17px;
                position: relative;
                border-bottom: 1px solid #ccc;
                background-color: #ebf2f3;
              }
              > a > span {
                &:hover {
                  background-color: #8fd0dd;
                  color: $textcolor;
                  text-decoration: none;
                }
              }
            }
          }
        }
        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                background-color: #0b6577;
                color: #fff;
                position: relative;
                &:after {
                  content: "";
                  position: absolute;
                  pointer-events: none;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  height: 1px;
                  background-color: #fff;
                }
              }
              > a > span {
                &:hover {
                  background-color: #8fd0dd;
                  text-decoration: none;
                  color: $textcolor;
                }
              }
            }
          }
        }
        > ul > li > #{$_block}__list > ul { //子要素
          > #{$_block}__item {
            position: relative;
            border-bottom: 1px solid #ccc;
            > div {
              > div {
                border-bottom: 1px solid #ccc;
                margin-bottom: -1px;
                > a > span,
                > span {
                  padding: 15px 10px 15px 47px;
                  display: block;
                  background: #{image-url("b-sideMenu/1/2.png")} no-repeat 25px 23px;
                }
                > a > span {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: #0b6577;
                  font-weight: bold;
                  background: #{image-url("b-sideMenu/1/3.png")} no-repeat 25px 23px;
                }
                > a > span {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          > #{$_block}__item > #{$_block}__list {
            padding-bottom: 12px;
          }
          > #{$_block}__item > div { //孫要素
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    padding: 12px 10px 0 47px;
                    display: block;
                  }
                  > a > span {
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: #0b6577;
                    }
                    > a > span {
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenu#{$variation2-2} {
    $_block: ".b-sideMenu";
    background-repeat: no-repeat, repeat-x, repeat-y;
    background-position: left top, left top, left top;
    background-image: url("../imgs/b-sideMenu/2/bg.png"), url("../imgs/b-sideMenu/2/bg2.png"), url("../imgs/b-sideMenu/2/bg3.png");
    background-color: #f1f5f4;
    padding: 20px 20px 10px;
    a {
      text-decoration: none;
      color: $textcolor;
      &:hover {
        color: #279fb8;
      }
    }
    label {
      display: none;
    }
    input[type="checkbox"].on-off {
      display: none;
    }
    &__hd {
      @include g-font(18, 1);
      font-weight: bold;
      color: #0b6577;
      padding: 5px 5px 12px;
      position: relative;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/b-sideMenu/2/bg4.png");
      margin-bottom: 20px;
      a {
        color: #0b6577;
        &:hover {
          color: $hovercolor3;
          text-decoration: none;
        }
      }
    }
    &__bd {
      @include g-font(16, 1);
      > #{$_block}__list { //親要素
        > ul > #{$_block}__item {
          > div {
            > div {
              > a > span,
              > span {
                padding: 9px 10px 9px 20px;
                display: block;
                background: #{image-url("b-sideMenu/2/1.png")} no-repeat 7px 6px;
                position: relative;
                background-color: #b3d9e1;
                border-top: 2px solid #cee6eb;
                margin-bottom: 15px;
              }
              > a > span {
                &:hover {
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }
        }
        > ul > #{$_block}__item.state-current {
          > div {
            > div {
              > a > span,
              > span {
                background-color: #45b1c7;
                border-top: 2px solid #74c5d5;
                color: #fff;
              }
              > a > span {
                &:hover {
                  background-color: #b3d9e1;
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }
        }
        > ul > li > #{$_block}__list > ul { //子要素
          > #{$_block}__item {
            position: relative;
            > div {
              > div {
                > a > span,
                > span {
                  padding: 0 10px 0 37px;
                  display: block;
                  background: #{image-url("b-sideMenu/2/2.png")} no-repeat 20px 5px;
                  margin-bottom: 15px;
                }
                > a > span {
                  &:hover {
                    color: #0b6577;
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          > #{$_block}__item.state-current {
            > div {
              > div {
                > a > span,
                > span {
                  color: #0b6577;
                  background: #{image-url("b-sideMenu/2/4.png")} no-repeat 20px 5px;
                  > span {
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    &:before {
                      content: "";
                      position: absolute;
                      pointer-events: none;
                      left: 0;
                      right: 0;
                      top: 11px;
                      height: 8px;
                      background: #b3d9e1;
                      z-index: -1;
                    }
                  }
                }
                > a > span {
                  &:hover {
                    > span {
                      text-decoration: underline;
                      &:before {
                        background: none;
                      }
                    }
                  }
                }
              }
            }
          }
          > #{$_block}__item > div { //孫要素
            > ul > li {
              > div {
                > div {
                  > a > span,
                  > span {
                    padding: 0 10px 0 43px;
                    display: block;
                    background: #{image-url("b-sideMenu/2/3.png")} no-repeat 30px 6px;
                    margin-bottom: 15px;
                  }
                  > a > span {
                    &:hover {
                      text-decoration: underline;
                      background: #{image-url("b-sideMenu/2/5.png")} no-repeat 30px 6px;
                    }
                  }
                }
              }
              &.state-current {
                > div {
                  > div {
                    > a > span,
                    > span {
                      color: #0b6577;
                      background: #{image-url("b-sideMenu/2/6.png")} no-repeat 30px 6px;
                      > span {
                        position: relative;
                        display: inline-block;
                        z-index: 1;
                        &:before {
                          content: "";
                          position: absolute;
                          pointer-events: none;
                          left: 0;
                          right: 0;
                          top: 11px;
                          height: 8px;
                          background: #b3d9e1;
                          z-index: -1;
                        }
                      }
                    }
                    > a > span {
                      &:hover {
                        background: #{image-url("b-sideMenu/2/6.png")} no-repeat 30px 6px;
                        > span {
                          text-decoration: underline;
                          &:before {
                            background: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
  }

}

@if $device == SP {

}


/*
---
name: 151_サイドメニュー(手入力)
tag:
  - side
category:
  - 全部品
  - 08.メニュー
  - 08.メニュー/151_サイドメニュー(手入力)
---
*/
