/*
---
name: 163_ページ見出し - ヘッダエリア用
tag:
  - header
category:
  - 全部品
  - 01.見出し
  - 01.見出し/163_ページ見出し - ヘッダエリア用
---

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>
```

### リンク・アンカーリンク設定無し

```html
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>
```

### 寄せ

```html
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>

<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>

<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>

<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>
```

### 複数行

```html
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /b-bPlacer-0s --></div>
<div class="b-bPlacer-0s">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /b-bPlacer-0s --></div>
```


*/
@if $device == PC {

}

@if $device == SP {

}
