/*
---
name: 164_ヘッダメディアブロック
tag:
  - header
category:
  - 全部品
  - 05.メディア
  - 05.メディア/164_ヘッダメディアブロック
---

headerFreeHtmlはspanの下にdivがいるのに、headerMediaの方にいないのはバグっぽい。影響は出ていないと思うが、同じクラス名でHTML構造が異なることが問題

また、headerFreeHtmlのdata-cms-path="data.contents.0の直前にスペースが2ついるのもバグっぽい

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-0s">
<div class="t0-b-headerMedia"><div>
  <span><span><span></span></span></span>
  <a href="#" target="">
    <img src="https://placehold.jp/1400x600.png">
  </a>
<!-- /t0-b-headerMedia --></div></div>
<!-- /b-bPlacer-0s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-0s">
<div class="t0-b-headerMedia2"><div>
  <span><span><span></span></span></span>
  <a href="#" target="">
    <img src="https://placehold.jp/1400x600.png">
  </a>
<!-- /t0-b-headerMedia --></div></div>
<!-- /b-bPlacer-0s --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}



/*
---
name: 165_「ヘッダメディアブロック」の見た目でHTML挿入ができる部品
tag:
  - header
category:
  - 全部品
  - 05.メディア
  - 05.メディア/165_「ヘッダメディアブロック」の見た目でHTML挿入ができる部品
---



### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-0s">
<div class="t0-b-headerMedia"><div>
  <span><span><span></span></span></span>
  <div><iframe class="b4cm-player" type="text/html" src="https://home.douga-hp.jp/movies/529/embed" width="978" height="300" frameborder="0" scrolling="no"></iframe></div>
<!-- /t0-b-headerMedia --></div></div>
<!-- /b-bPlacer-0s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-0s">
<div class="t0-b-headerMedia2"><div>
  <span><span><span></span></span></span>
  <div><iframe class="b4cm-player" type="text/html" src="https://home.douga-hp.jp/movies/529/embed" width="978" height="300" frameborder="0" scrolling="no"></iframe></div>
<!-- /t0-b-headerMedia --></div></div>
<!-- /b-bPlacer-0s --></div>
```

*/
