/*
---
name: 174_ヘッダー電話番号
tag:
  - header
category:
  - 全部品
  - 09.電話番号・メールアドレス
  - 09.電話番号・メールアドレス/174_ヘッダー電話番号
---

### 基本形

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-2">
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>
```

*/


/*
---
name: 174_ヘッダー電話番号（確認用）
tag:
  - header
category:
  - 09.電話番号・メールアドレス/174_ヘッダー電話番号
  - 09.電話番号・メールアドレス/174_ヘッダー電話番号/確認用
---

#### 全要素ON

 ```html
<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-2">
    <div class="t0-b-headerUnit-contact-tel__ruby">電話番号の語呂を入力</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>
 ```

#### SP

teltoリンクが付く

 ```html
 <div class="b-bPlacer-2s">
 <a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-2">
    <div class="t0-b-headerUnit-contact-tel__ruby">電話番号の語呂を入力</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>
 ```


### サイズ

#### PC

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">小さい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-2">
    <div class="t0-b-headerUnit-contact-tel__ruby">中</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-3">
    <div class="t0-b-headerUnit-contact-tel__ruby">大きい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-4">
    <div class="t0-b-headerUnit-contact-tel__ruby">とても大きい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>
```

#### SP

```html
<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">小さい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-2">
    <div class="t0-b-headerUnit-contact-tel__ruby">中</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-3">
    <div class="t0-b-headerUnit-contact-tel__ruby">大きい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-4">
    <div class="t0-b-headerUnit-contact-tel__ruby">とても大きい</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

```


### アイコン

#### PC

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">なし</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">電話番号</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">FAX</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__fax"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">フリーダイヤル</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__free"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">携帯電話</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__cell"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</div>
```

#### SP

```html
<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">なし</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">電話番号</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">FAX</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__fax"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">フリーダイヤル</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__free"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>

<div class="b-bPlacer-2s">
<a href="tel:03-0000-0000" style="text-decoration: none">
  <div class="t0-b-headerUnit-contact-tel t0-b-headerUnit-contact-tel--size-1">
    <div class="t0-b-headerUnit-contact-tel__ruby">携帯電話</div>
    <div class="t0-b-headerUnit-contact-tel__bd">
      <span class="t0-b-headerUnit-contact-tel__cell"></span>
      <span>03-0000-0000</span>
    </div>
    <span></span>
  </div>
</a>
</div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
