/*
---
name: 178_ヘッダーテキストセット
tag:
  - header
category:
  - 全部品
  - 02.テキスト
  - 02.テキスト/178_ヘッダーテキストセット
---

### 基本形

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-headerUnit-text">
    <p>休業日: 土曜・日曜・祝日</p>
  </div>
</div>
```


*/
@if $device == PC {

}

@if $device == SP {

}
