/*
---
name: 181_フッター自由HTML
tag:
  - footer
category:
  - 全部品
  - 05.メディア
  - 05.メディア/181_フッター自由HTML
---

data-cms-path="data.contents.0の前にスペースが2ついるのはバグっぽい

### 基本形

```html
<div class="b-bPlacer-0s">
<div class="t0-b-footerFreeHtml t0-b-footerFreeHtml--width-">
  <div><iframe class="b4cm-player" type="text/html" src="https://home.douga-hp.jp/movies/529/embed" width="978" height="300" frameborder="0" scrolling="no"></iframe></div>
<!-- /t0-b-footerFreeHtml --></div>
<!-- /b-bPlacer-0s --></div>
```


*/
@if $device == PC {

}

@if $device == SP {

}


/*
---
name: 181_フッター自由HTML2
tag:
  - footer
category:
  - 全部品
  - 05.メディア
  - 05.メディア/181_フッター自由HTML2
---


```html
<div class="b-bPlacer-2s">
<div class="t0-b-footerUnit-freeHtml t0-b-footerUnit-freeHtml--width-">
  <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12962.287712464682!2d139.7013494!3d35.68754104999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1488240588735" width="600" height="450" frameborder="0" style="border:0; pointer-events:none;" allowfullscreen></iframe></div>
<!-- /t0-b-footerUnit-freeHtml --></div>
<!-- /b-bPlacer-2s --></div>
```
*/
