/*
---
name: 188_フッターコンタクト
tag:
  - footer
category:
  - 全部品
  - 09.電話番号・メールアドレス
  - 09.電話番号・メールアドレス/188_フッターコンタクト
---


### 基本形

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">お気軽にお問合せ下さい</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```

*/

/*
---
name: 188_フッターコンタクト（確認用）
tag:
  - footer
category:
  - 09.電話番号・メールアドレス/188_フッターコンタクト
  - 09.電話番号・メールアドレス/188_フッターコンタクト/確認用
---

#### 全要素ON

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">お気軽にお問合せ下さい</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```

#### SP

teltoリンクが付く

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">お気軽にお問合せ下さい</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```


### サイズ

#### PC

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-1">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">小さい</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">中</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-3">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">大きい</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-4">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">とても大きい</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```

#### SP

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-1">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">小さい</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">中</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-3">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">大きい</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-4">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">とても大きい</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```

### アイコン

#### PC

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">なし</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">電話番号</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">FAX</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__fax"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">フリーダイヤル</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__free"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">携帯電話</p>
    <a href="tel:03-0000-0000" style="text-decoration: none">
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__cell"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
    </a>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```

#### SP

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">なし</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">電話番号</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__tel"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">FAX</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__fax"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">フリーダイヤル</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__free"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>

<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-contact t0-b-footerUnit-contact--size-2">
  <div class="t0-b-footerUnit-contact__media">
    <a href="#" target="">
      <img src="https://placehold.jp/100x100.png">
    </a>
  </div>
  <div class="t0-b-footerUnit-contact__bd">
    <p class="t0-b-footerUnit-contact__note">携帯電話</p>
      <div class="t0-b-footerUnit-contact__iconText">
        <div class="t0-b-footerUnit-contact__iconTextRuby">電話番号の語呂を入力</div>
        <div class="t0-b-footerUnit-contact__iconTextBase">
        <span class="t0-b-footerUnit-contact__cell"></span><span>03-0000-0000</span>
        </div>
        <span></span>
      </div>
  <!-- /t0-b-footerUnit-contact__bd --></div>
  <!-- /t0-b-footerUnit-contact --></div>
</div>
```


*/
@if $device == PC {

}

@if $device == SP {

}
