/*
---
name: 192_フッターサイト名（画像）
tag:
  - footer
category:
  - 全部品
  - 10.サイト名
  - 10.サイト名/192_フッターサイト名（画像）
---

### 基本形

```html
<div class="b-bPlacer-2s">
  <div class="t0-b-footerUnit-siteName2">
    <div class="t0-b-footerUnit-siteName2__bd">
      <a href="#" target="">
        <img src="https://placehold.jp/520x75.png">
      </a>
    </div>
  <p class="t0-b-footerUnit-siteName2__ft">〒000-0000 東京都千代田区大手町1-1-1</p>
  <!-- /t0-b-footerUnit-siteName2 --></div>
</div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
