/*
---
name: 198_フッター要素見出し
tag:
  - footer
category:
  - 全部品
  - 01.見出し
  - 01.見出し/198_フッター要素見出し
---

### 基本形

```html
<div class="b-bPlacer-4s">
  <div class="t0-b-footerUnit-lv2H"><span><span><span></span></span></span>
    <a href="#"><h5>リンク設定あり</h5></a>
  </div>
<!-- /b-bPlacer-4s --></div>
```




*/
@if $device == PC {

}

@if $device == SP {

}
