@if $device == PC {

  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    $_block: &;
    color: #333;
    padding: 4% 4% 1%;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    &__hd-caption-upper {
      @if $layout == "N00" {
               @include g-font(18, 1);
             } @else {
               @include g-font(14, 1);
             }
      padding-bottom: 5px;
    }
    &__hd-h {
      h3 {
        @if $layout == "N00" {
                 @include g-font(28, 1);
               } @else {
                 @include g-font(24, 1);
               }
        font-weight: bold;
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      }
    }
    &__hd-caption-lower {
      @if $layout == "N00" {
               @include g-font(18, 1);
             } @else {
               @include g-font(14, 1);
             }
      padding-top: 5px;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #ee8100;
      }
    }
    &__hd {
      min-height: 124px;
      text-align: center;
      padding: 60px 70px 38px 65px;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg4.png");
      position: relative;
      > * {
        position: relative;
        color: #333;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg7.png");
        position: absolute;
        top: 49px;
        bottom: 28px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg8.png");
          position: absolute;
          top: -49px;
          bottom: -28px;
          left: 67px;
          right: 70px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg9.png");
            position: absolute;
            top: 49px;
            bottom: 28px;
            left: 0;
            right: 0;
          }
        }
      }
      > * {
        font-weight: bold;
      }
      &--size-1 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-h {
          h3 {
            @if $layout == "N00" {
                     @include g-font(24, 1);
                   } @else {
                     @include g-font(20, 1);
                   }
          }
        }
      }
      &--size-2 {}
      &--size-3 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-h{
          h3 {
            @if $layout == "N00" {
                     @include g-font(32, 1);
                   } @else {
                     @include g-font(28, 1);
                   }
          }
        }
      }
    }
    &__bd {
      * {
        position: relative;
      }
      padding: 41px 42px 22px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left bottom, right bottom, left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg10.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg11.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg5.png");
        position: absolute;
        top: 21px;
        bottom: 38px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg12.png");
          position: absolute;
          top: -21px;
          bottom: -38px;
          left: 25px;
          right: 21px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg6.png");
            position: absolute;
            top: 21px;
            bottom: 38px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__hd + &__bd {
      padding: 20px 42px 22px;
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg5.png");
        position: absolute;
        top: 0;
        bottom: 38px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x;
          background-position: left bottom;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg3.png");
          position: absolute;
          top: 0;
          bottom: -38px;
          left: 25px;
          right: 21px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg6.png");
            position: absolute;
            top: 0;
            bottom: 38px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__numIcon {
      display: inline-block;
      padding-bottom: 2%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      //padding-bottom: 15px 0;
      padding-bottom: 2%;
    }
    &__iconPlacer {
      padding-right: 10px;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 0 0 5px;
    }
    &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(30, 1, $layout);
             } @else {
               @include g-font-layout(26, 1, $layout);
             }
      font-weight: bold;
    }
    &__numIcon-caption-lower {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 5px 0 0;
    }
    &__numIcon-caption-upper + &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__numIcon-caption-upper + a > &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 63px 62px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 63px;
      height: 62px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
      line-height: 0;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
    & + div { // 最下部の枠があるとき
            margin-top: 2%;
    }
    &__numIcon--size-1 {
      #{$_block}__numIcon-caption-upper {
        @include g-font-layout(12, 1, $layout);
          padding: 0 0 5px;
      }
      #{$_block}__numIcon-h {
        @include g-font-layout(22, 1, $layout);
      }

    #{$_block}__numIcon-caption-lower {
      @include g-font-layout(12, 1, $layout);

      padding: 5px 0 0;
    }

    #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
      @include g-font-layout(20, 1, $layout);
    }

    #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
      @include g-font-layout(20, 1, $layout);
    }

    #{$_block}__icon {
      background-size: 48px 48px;
      width: 48px;
      height: 48px;
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              @if $_i < 10 {
                text-indent: 17.6px;
              } @else {
                text-indent: 12.8px;
              }
              padding-top: 22px;

              @include g-font(20, 0);
            }
          }
        }
      }
    }
  }

  &__numIcon--size-2 {}

  &__numIcon--size-3 {
    #{$_block}__numIcon-caption-upper {
      @include g-font-layout(20, 1, $layout);

      padding: 0 0 5px;
    }

    #{$_block}__numIcon-h {
      @include g-font-layout(30, 1, $layout);
    }

    #{$_block}__numIcon-caption-lower {
      @include g-font-layout(20, 1, $layout);

      padding: 5px 0 0;
    }

    #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }

    #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }
    #{$_block}__icon {
      background-size: 72px 72px;
      width: 72px;
      height: 72px;
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              @if $_i < 10 {
                text-indent: 26.4px;
              } @else {
                text-indent: 19.2px;
              }
              padding-top: 48px;

              @include g-font(30, 0);
            }
          }
        }
      }
     }
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {

    $_block: &;
    color: #333;
    padding: 4% 4% 1%;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    &__hd-caption-upper {
      @if $layout == "N00" {
               @include g-font-layout(18, 1, $layout);
             } @else {
               @include g-font-layout(14, 1, $layout);
             }
      padding-bottom: 5px;
    }
    &__hd-h {
      h3 {
        @if $layout == "N00" {
                 @include g-font-layout(28, 1, $layout);
               } @else {
                 @include g-font-layout(24, 1, $layout);
               }
        font-weight: bold;
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      }
    }
    &__hd-caption-lower {
      @if $layout == "N00" {
               @include g-font-layout(18, 1, $layout);
             } @else {
               @include g-font-layout(14, 1, $layout);
             }
      padding-top: 5px;
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #ee8100;
      }
    }
    &__hd {
      min-height: 80px;
      text-align: center;
      padding: 25px 90px 25px 97px;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg4.png");
      position: relative;
      > * {
        position: relative;
        color: #333;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg7.png");
        position: absolute;
        top: 73px;
        bottom: 7px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg8.png");
          position: absolute;
          top: -73px;
          bottom: -7px;
          left: 99px;
          right: 90px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg9.png");
            position: absolute;
            top: 73px;
            bottom: 7px;
            left: 0;
            right: 0;
          }
        }
      }
      > * {
        font-weight: bold;
      }
      &--size-1 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-h {
          h3 {
            @if $layout == "N00" {
                     @include g-font(24, 1);
                   } @else {
                     @include g-font(20, 1);
                   }
          }
        }
      }
      &--size-2 {}
      &--size-3 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-h{
          h3 {
            @if $layout == "N00" {
                     @include g-font(32, 1);
                   } @else {
                     @include g-font(28, 1);
                   }
          }
        }
      }
    }
    &__bd {
      * {
        position: relative;
      }
      padding: 24px 24px 5px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, right top, left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg8.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg5.png");
        position: absolute;
        top: 25px;
        bottom: 25px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg9.png");
          position: absolute;
          top: -25px;
          bottom: -25px;
          left: 23px;
          right: 23px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg6.png");
            position: absolute;
            top: 25px;
            bottom: 25px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    #{$_block}__hd + #{$_block}__bd {
      padding: 20px 24px 5px;
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg5.png");
        position: absolute;
        top: 0;
        bottom: 25px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x;
          background-position: left bottom;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg3.png");
          position: absolute;
          top: 0;
          bottom: -25px;
          left: 23px;
          right: 23px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg6.png");
            position: absolute;
            top: 0;
            bottom: 25px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__numIcon {
      display: inline-block;
      padding-bottom: 2%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      padding-bottom: 2%;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(30, 1, $layout);
             } @else {
               @include g-font-layout(26, 1, $layout);
             }
      font-weight: bold;
    }
    &__numIcon-caption-lower {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 5px 0 0;
    }
    &__numIcon-caption-upper + &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__numIcon-caption-upper + a > &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon2__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 60px 60px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
      line-height: 0;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
    & + div { // 最下部の枠があるとき
     margin-top: 2%;
    }
    &__numIcon--size-1 {
      #{$_block}__numIcon-caption-upper {
        @include g-font-layout(12, 1, $layout);
          padding: 0 0 5px;
      }
      #{$_block}__numIcon-h {
        @include g-font-layout(22, 1, $layout);
      }

      #{$_block}__numIcon-caption-lower {
        @include g-font-layout(12, 1, $layout);
        padding: 5px 0 0;
      }

      #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
        @include g-font-layout(20, 1, $layout);
      }

      #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
        @include g-font-layout(20, 1, $layout);
      }

    #{$_block}__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 48px;
      width: 48px;
      height: 48px;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              padding-top: 19.2px;
              @if $_i < 10 {
                text-indent: 50.4px;
              } @else {
                text-indent: 41.6px;
                text-indent: 40.8px/0;
              }

              @include g-font(28, 0);
            }
          }
        }
      }
    }
  }
  &__numIcon--size-2 {}

  &__numIcon--size-3 {
    #{$_block}__numIcon-caption-upper {
      @include g-font-layout(20, 1, $layout);

      padding: 0 0 5px;
    }

    #{$_block}__numIcon-h {
      @include g-font-layout(30, 1, $layout);
    }

    #{$_block}__numIcon-caption-lower {
      @include g-font-layout(20, 1, $layout);

      padding: 5px 0 0;
    }

    #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }

    #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }

    #{$_block}__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 72px;
      width: 72px;
      height: 72px;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              padding-top: 28.8px;
              @if $_i < 10 {
                text-indent: 75.6px;
              } @else {
                text-indent: 62.4px;
                text-indent: 61.2px\0;
              }

              @include g-font(40, 0);

            }
          }
        }
      }
    }
  }
}

  .t0-b-frameWithHCaptionNumIcon3 {
    $_block: &;
    color: #333;
    padding: 4% 4% 2%;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    box-sizing: border-box;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg4.png");
    position: relative;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg7.png");
      position: absolute;
      top: 35px;
      bottom: 35px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg8.png");
        position: absolute;
        top: -35px;
        bottom: -35px;
        left: 35px;
        right: 35px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg9.png");
          position: absolute;
          top: 35px;
          bottom: 35px;
          left: 0;
          right: 0;
        }
      }
    }
    &__hd {
      padding: 20px 55px;
      text-align: center;
      position: relative;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg4.png");
      position: relative;
      > * {
        position: relative;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg7.png");
        position: absolute;
        top: 16px;
        bottom: 48px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg8.png");
          position: absolute;
          top: -16px;
          bottom: -48px;
          left: 50px;
          right: 54px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg9.png");
            position: absolute;
            top: 16px;
            bottom: 48px;
            left: 0;
            right: 0;
          }
        }
      }
      &--size-1 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(14, 1);
                 } @else {
                   @include g-font(10, 1);
                 }
        }
        #{$_block}__hd-h {
          h3 {
            @if $layout == "N00" {
                     @include g-font(24, 1);
                   } @else {
                     @include g-font(20, 1);
                   }
          }
        }
      }
      &--size-2 {}
      &--size-3 {
        #{$_block}__hd-caption-upper {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-caption-lower {
          @if $layout == "N00" {
                   @include g-font(22, 1);
                 } @else {
                   @include g-font(18, 1);
                 }
        }
        #{$_block}__hd-h{
          h3 {
            @if $layout == "N00" {
                     @include g-font(32, 1);
                   } @else {
                     @include g-font(28, 1);
                   }
          }
        }
      }
    }
    &__hd-caption-upper {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 0 0 $_elementSpacing;
    }
    &__hd-h {
      h3 {
        @if $layout == "N00" {
                 @include g-font-layout(28, 1, $layout);
               } @else {
                 @include g-font-layout(24, 1, $layout);
               }
        font-weight: bold;
      }
    }
    &__hd-caption-lower {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: $_elementSpacing 0 0;
    }
    a {
      color: #333;
      text-decoration: none;
      position: relative;
      &:hover {
        color: #ee8100;
      }
    }
    &__bd {
      padding: 0;
      position: relative;
    }
    &__hd + &__bd {
      padding: 20px 0 0;
    }
    &__numIcon {
      display: inline-block;
      padding-bottom: 2%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      padding: 15px 0;
    }
    &__iconPlacer {
      padding-right: 10px;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(30, 1, $layout);
             } @else {
               @include g-font-layout(26, 1, $layout);
             }
      font-weight: bold;
    }
    &__numIcon-caption-lower {
      @if $layout == "N00" {
               @include g-font-layout(20, 1, $layout);
             } @else {
               @include g-font-layout(16, 1, $layout);
             }
      padding: 5px 0 0;
    }
    &__numIcon-caption-upper + &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__numIcon-caption-upper + a > &__numIcon-h {
      @if $layout == "N00" {
               @include g-font-layout(28, 1, $layout);
             } @else {
               @include g-font-layout(24, 1, $layout);
             }
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon3__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 60px 60px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
      line-height: 0;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
    & + div { // 最下部の枠があるとき
     margin-top: 2%;
    }
    &__numIcon--size-1 {
      #{$_block}__numIcon-caption-upper {
        @include g-font-layout(12, 1, $layout);
          padding-bottom: 5px;
      }
      #{$_block}__numIcon-h {
        @include g-font-layout(22, 1, $layout);
      }

    #{$_block}__numIcon-caption-lower {
      @include g-font-layout(12, 1, $layout);
      padding-top: 5px;
    }

    #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
      @include g-font-layout(20, 1, $layout);
    }

    #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
      @include g-font-layout(20, 1, $layout);
    }

    #{$_block}__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 48px;
      width: 48px;
      height: 48px;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              padding-top: 19.2px;
              @if $_i < 10 {
                text-indent: 50.4px;
              } @else {
                text-indent: 41.6px;
                text-indent: 40.8px/0;
              }

              @include g-font(28, 0);
            }
          }
        }
      }
    }
  }
  &__numIcon--size-2 {}

  &__numIcon--size-3 {
    #{$_block}__numIcon-caption-upper {
      @include g-font-layout(20, 1, $layout);
      padding-bottom: 5px;
    }

    #{$_block}__numIcon-h {
      @include g-font-layout(30, 1, $layout);
    }

    #{$_block}__numIcon-caption-lower {
      @include g-font-layout(20, 1, $layout);
      padding-top: 5px;
    }

    #{$_block}__numIcon-caption-upper + #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }

    #{$_block}__numIcon-caption-upper + a > #{$_block}__numIcon-h {
      @include g-font-layout(28, 1, $layout);
    }

    #{$_block}__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 72px;
      width: 72px;
      height: 72px;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {

            &:before {
              padding-top: 28.8px;
              @if $_i < 10 {
                text-indent: 75.6px;
              } @else {
                text-indent: 62.4px;
                text-indent: 61.2px\0;
              }

              @include g-font(40, 0);

            }
          }
        }
      }
    }
   }
  }

}// PC


@if $device == SP {

  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    margin: (-10px) -15px 20px;
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg17.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg18.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg19.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg20.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg13.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg14.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg15.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg16.png");
      z-index: 1;
      pointer-events: none;
    }
    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__hd-h {
      h3 {
        @include g-font(18, 1);

        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      }
    }
    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    &__hd {
      min-height: 133px;
      text-align: center;
      padding: 60px 35px 40px 30px;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg4.png");
      position: relative;
      > * {
        position: relative;
        color: #333;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg7.png");
        position: absolute;
        top: 49px;
        bottom: 28px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg8.png");
          position: absolute;
          top: -49px;
          bottom: -28px;
          left: 67px;
          right: 70px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg9.png");
            position: absolute;
            top: 49px;
            bottom: 28px;
            left: 0;
            right: 0;
          }
        }
      }
      > * {
        font-weight: bold;
      }
    }
    &__bd {
      * {
        position: relative;
      }
      padding: 41px 35px 22px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left bottom, right bottom, left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg10.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg11.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg5.png");
        position: absolute;
        top: 21px;
        bottom: 38px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/bg12.png");
          position: absolute;
          top: -21px;
          bottom: -38px;
          left: 25px;
          right: 21px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg6.png");
            position: absolute;
            top: 21px;
            bottom: 38px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__hd + &__bd {
      padding: 20px 35px 22px;
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg5.png");
        position: absolute;
        top: 0;
        bottom: 38px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x;
          background-position: left bottom;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg3.png");
          position: absolute;
          top: 0;
          bottom: -38px;
          left: 25px;
          right: 21px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/2/bg6.png");
            position: absolute;
            top: 0;
            bottom: 38px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      padding: 10px 0 0 0;
    }
    &__iconPlacer {
      padding-right: 5px;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @include g-font(14, 1);
    }
    &__numIcon-h {
      @include g-font(18, 1);
    }
    &__numIcon-caption-lower {
      @include g-font(14, 1);
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 50px 49px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 49px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {
    margin: 0 -5px 20px;
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__hd-h {
      h3 {
        @include g-font(18, 1);
        font-weight: bold;
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      }
    }
    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    &__hd {
      padding: 33px 20px 25px;
      text-align: center;
      min-height: 80px;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg10.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg11.png");
      position: relative;
      > * {
        position: relative;
        color: #333;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg7.png");
        position: absolute;
        top: 73px;
        bottom: 7px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg8.png");
          position: absolute;
          top: -73px;
          bottom: -7px;
          left: 99px;
          right: 90px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/1/bg9.png");
            position: absolute;
            top: 73px;
            bottom: 7px;
            left: 0;
            right: 0;
          }
        }
      }
      > * {
        font-weight: bold;
      }
    }
    &__bd {
      * {
        position: relative;
      }
      padding: 20px 20px 5px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, right top, left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg8.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg5.png");
        position: absolute;
        top: 25px;
        bottom: 25px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg9.png");
          position: absolute;
          top: -25px;
          bottom: -25px;
          left: 23px;
          right: 23px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg6.png");
            position: absolute;
            top: 25px;
            bottom: 25px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    #{$_block}__hd + #{$_block}__bd {
      padding: 20px 20px 5px;
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right bottom;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg2.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg5.png");
        position: absolute;
        top: 0;
        bottom: 25px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x;
          background-position: left bottom;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg3.png");
          position: absolute;
          top: 0;
          bottom: -25px;
          left: 23px;
          right: 23px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/2/bg6.png");
            position: absolute;
            top: 0;
            bottom: 25px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      padding: 10px 0 0 0;
    }
    &__iconPlacer {
      padding-right: 5px;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @include g-font(14, 1);
    }
    &__numIcon-h {
      @include g-font(18, 1);
    }
    &__numIcon-caption-lower {
      @include g-font(14, 1);
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon2__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaptionNumIcon3 {
    margin: 0 -5px 20px;
    $_block: &;
    padding: 32px 16px 24px 19px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    box-sizing: border-box;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg4.png");
    position: relative;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg7.png");
      position: absolute;
      top: 35px;
      bottom: 35px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg8.png");
        position: absolute;
        top: -35px;
        bottom: -35px;
        left: 35px;
        right: 35px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/1/bg9.png");
          position: absolute;
          top: 35px;
          bottom: 35px;
          left: 0;
          right: 0;
        }
      }
    }
    &__hd {
      padding: 28px 20px;
      text-align: center;
      position: relative;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg10.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg11.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg4.png");
      position: relative;
      > * {
        position: relative;
        color: #333;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg7.png");
        position: absolute;
        top: 16px;
        bottom: 48px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg8.png");
          position: absolute;
          top: -16px;
          bottom: -48px;
          left: 50px;
          right: 54px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon3__icon/2/bg9.png");
            position: absolute;
            top: 16px;
            bottom: 48px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__hd-caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__hd-h {
      h3 {
        @include g-font(18, 1);
        font-weight: bold;
      }
    }
    &__hd-caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    a {
      color: #333;
      text-decoration: none;
    }
    &__bd {
      padding: 0;
      position: relative;
    }
    &__hd + &__bd {
      padding: 20px 0 0;
    }
    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__box {
      padding: 10px 0 0;
    }
    &__iconPlacer {
      padding-right: 5px;
      > * {
        display: block;
      }
    }
    &__numIcon-caption-upper {
      @include g-font(14, 1);
    }
    &__numIcon-h {
      @include g-font(18, 1);
    }
    &__numIcon-caption-lower {
      @include g-font(14, 1);
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-frameWithHCaptionNumIcon3__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }
    &__hd--align-c {
      text-align: center;
    }
    &__hd--align-r {
      text-align: right;
    }
    &__numIcon--align {
      width: 100%;
    }
    &__numIcon--align-l {
      text-align: left;
    }
    &__numIcon--align-c {
      text-align: center;
    }
    &__numIcon--align-r {
      text-align: right;
    }
  }

}// SP
