@if $device == PC {

  .t0-b-creditCard {
    background-color: #fff;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
    background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
    background-image: url("../imgs/t0-b-creditCard/bg.png"), url("../imgs/t0-b-creditCard/bg2.png"), url("../imgs/t0-b-creditCard/bg3.png"), url("../imgs/t0-b-creditCard/bg4.png"), url("../imgs/t0-b-creditCard/bg5.png"), url("../imgs/t0-b-creditCard/bg6.png"), url("../imgs/t0-b-creditCard/bg7.png"), url("../imgs/t0-b-creditCard/bg8.png");
    padding: 20px 20px 0 20px;
    text-align: center;
    overflow: hidden;
    * {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      padding: 0 0 20px 1%;
      &:first-child {
        padding-left: 0;
      }
    }
    img {
      width: 54px;
      height: auto;
    }
    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .t0-b-creditCard2 {
    text-align: center;
    padding: 15px 10px 0;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 50px;

    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 0 0 20px 1%;

      &:first-child {
        padding-left: 0;
      }
    }

    img {
      width: 54px;
      height: auto;
    }

    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-creditCard {
    background-color: #fff;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
    background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
    background-image: url("../imgs/t0-b-creditCard/bg.png"), url("../imgs/t0-b-creditCard/bg2.png"), url("../imgs/t0-b-creditCard/bg3.png"), url("../imgs/t0-b-creditCard/bg4.png"), url("../imgs/t0-b-creditCard/bg5.png"), url("../imgs/t0-b-creditCard/bg6.png"), url("../imgs/t0-b-creditCard/bg7.png"), url("../imgs/t0-b-creditCard/bg8.png");
    padding: 0 15px 10px 0;
    text-align: center;
    overflow: hidden;
    letter-spacing: -0.4em;
    * {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      padding: 10px 0 0 15px;
      letter-spacing: normal;
    }
    img {
      width: 80px;
      height: auto;
    }
  }

  .t0-b-creditCard2 {
    $_color_border: #ccc;
    padding: 0 15px 10px 0;
    text-align: center;
    overflow: hidden;
    letter-spacing: -0.4em;
    box-sizing: border-box;
    min-height: 50px;

    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 10px 0 0 15px;
      letter-spacing: normal;
    }

    img {
      width: 80px;
      height: auto;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

}// SP
