@if $device == PC {

  .t0-b-flow2LeftToRight{
    $_block: &;
        width: 100%;
        &__row {
          display: table;
          width: 100%;
          table-layout: fixed;
          padding-bottom: 5%;
          &:last-child {
            padding-bottom: 0;
          }
        }
        &__box {
          display: table-cell;
          vertical-align: top;
          width: (100%-4*(2-1))/2;
          #{$_block}--colSpacing-l & {
            width: (100%-7*(2-1))/2;
          }
          #{$_block}--colSpacing-m & {
            width: (100%-4*(2-1))/2;
          }
          #{$_block}--colSpacing-s & {
            width: (100%-1*(2-1))/2;
          }
        }
        &__arrow {
          display: table-cell;
          text-align: center;
          font-size: 2em;
          color: #333;
          vertical-align: middle;
          width: 4%;
          #{$_block}--colSpacing-l & {
            width: 7%;
          }
          #{$_block}--colSpacing-m & {
            width: 4%;
          }
          #{$_block}--colSpacing-s & {
            width: 1%;
          }
        }

        //2列部品の右列の幅変更記述
        &--colW-l &__box {
          width: 22.3%;
        }
        &--colW-l &__box ~ &__box {
          width: 72.7%;
        }
        &--colW-m &__box {
          width: 30.7%;
        }
        &--colW-m &__box ~ &__box {
          width: 64.3%;
        }
  }

  .t0-b-flow2LeftToRightWithMidFrame {
    $_block: &;
    width: 100%;
    &__row {
      display: table;
      width: 100%;
      table-layout: fixed;
      height: 100%;
    }
    &__box {
      display: table-cell;
      vertical-align: top;
      height: 100%;
      width: (100%-4*(2-1))/2;
      #{$_block}--colSpacing-l & {
        width: (100%-7*(2-1))/2;
      }
      #{$_block}--colSpacing-m & {
        width: (100%-4*(2-1))/2;
      }
      #{$_block}--colSpacing-s & {
        width: (100%-1*(2-1))/2;
      }
    }
    &__arrow {
      display: table-cell;
      height: 100%;
      width: 4%;
      #{$_block}--colSpacing-l & {
        width: 7%;
      }
      #{$_block}--colSpacing-m & {
        width: 4%;
      }
      #{$_block}--colSpacing-s & {
        width: 1%;
      }
      //矢印要素(t0-b-arrowInFlow)分の高さを持たせる。
      //上余白調整をしても部品の高さからはみ出さないようにするため。
      padding-bottom: 31px;
      &-inner {
        height: 100%;
        position: relative;
        //#cms-body [data-cms-part]についたposition:relativeの影響で、
        //管理画面上のみで矢印要素の上余白が変更されない問題を解消するために以下を指定する
        > div {
          position: absolute !important;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          //管理画面上でホバーできるようにする
          z-index: 1;
        }
      }
    }

    //2列部品の右列の幅変更記述
    &--colW-l &__box {
      width: 22.3%;
    }
    &--colW-l &__box ~ &__box {
      width: 72.7%;
    }
    &--colW-m &__box {
      width: 30.7%;
    }
    &--colW-m &__box ~ &__box {
      width: 64.3%;
    }
  }

  .t0-b-arrowInFlow {
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imgs/t0-b-flowLeftToRight/bg.png");
    background-size: 100% auto;
    width: 100%;
    max-width: 18px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  @for $i from 1 through 10 {
    .ex-arrowInFlow-topSpacingTweak-up-#{$i}s {
      .t0-b-arrowInFlow {
        top: 50% - $i * 5%;
      }
    }
    .ex-arrowInFlow-topSpacingTweak-down-#{$i}s {
      .t0-b-arrowInFlow {
        top: 50% + $i * 5%;
      }
    }
  }

  .t0-b-flow2LeftToRight2{
    $_block: &;
        width: 100%;
        &__hd {
          padding-bottom: 15px;
        }
        &__bd {
          display: table;
          width: 100%;
          table-layout: fixed;
          height: 100%;
        }
        &__row {
          display: table;
          width: 100%;
          table-layout: fixed;
          padding-bottom: 5%;
          &:last-child {
            padding-bottom: 0;
          }
        }

        &__box {
          display: table-cell;
          vertical-align: top;
          height: 100%;
          width: (100%-4*(2-1))/2;
          #{$_block}--colSpacing-l & {
            width: (100%-7*(2-1))/2;
          }
          #{$_block}--colSpacing-m & {
            width: (100%-4*(2-1))/2;
          }
          #{$_block}--colSpacing-s & {
            width: (100%-1*(2-1))/2;
          }
        }

        &__arrow {
          display: table-cell;
          text-align: center;
          font-size: 2em;
          color: #333;
          vertical-align: middle;
          width: 35px;
          height: 100%;
          #{$_block}--colSpacing-l & {
            width: 7%;
          }
          #{$_block}--colSpacing-m & {
            width: 4%;
          }
          #{$_block}--colSpacing-s & {
            width: 1%;
          }
          &__arrow-inner {
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center 40%;
            background-image: url("../imgs/t0-b-flowLeftToRight/bg.png");
            background-size: 25px 31px;
            height: 31px;
            margin-top: -5px;
            width: 100%;
          }
        }

        //2列部品の右列の幅変更記述
        &--colW-l &__box {
          width: 22.3%;
        }
        &--colW-l &__box ~ &__box {
          width: 72.7%;
        }
        &--colW-m &__box {
          width: 30.7%;
        }
        &--colW-m &__box ~ &__box {
          width: 64.3%;
        }
  }

}// PC


@if $device == SP {

  .t0-b-flow2LeftToRight {
    $_block: &;
        width: 100%;
        &__box {
          padding-bottom: 15px;
        }
        &__row {
          &:last-child {
            .t0-b-flow2LeftToRight__box {
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
  }

  .t0-b-flow2LeftToRightWithMidFrame {
    width: 100%;
    &__row {
      //矢印画像の高さと、下余白の合計値をつける
      padding-bottom: 32px;
      background-repeat: no-repeat;
      background-position: center bottom 15px;
      background-image: url("../imgs/t0-b-flowLeftToRight/bg2.png");
      &:last-child {
        padding: 0;
        background: none;
      }
    }
    &__arrow {
      //上下の画像要素との余白が等間隔になるようにつける
      padding-bottom: 15px;
    }
  }

  .t0-b-arrowInFlow {
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/t0-b-flowLeftToRight/bg2.png");
    background-size: auto 35px;
    margin-top: -10px; // この装飾は下にずれて見えるので、ネガティブマージンで上の要素との余白を詰める
  }

  .t0-b-flow2LeftToRight2 {
    $_block: &;
        width: 100%;
        &__box {
          padding-bottom: 15px;
        }
        &__row {
          &:last-child {
            .t0-b-flow2LeftToRight2__box {
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
  }

}// SP
