@if $device == PC {
  .t0-b-goToTop {
    height: 133px;
    text-align: right;
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #765227;
      width: 133px;
      height: 133px;
      border-radius: 66.5px;
      background-image: url("../imgs/t0-b-goToTop/bg.png");
      &:hover {
        opacity: .8;
      }

      > div {
        position: absolute;
        display: inline;
        text-align: center;
        top: 70px;
        left: 0;
        right: 0;
        color: #765227;
        transition: .2s;
        font-weight: bold;
        text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, -1px -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, -2px -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      }
    }

    // 固定表示用
    &--fixDisplay {
      &-scrollUp,
      &-scrollDown,
      &-scrollDownStopFooter {
        text-align: right;
        position: fixed;
        height: 133px;
        // サイドメニューやフッターに重なっても隠さないため
        z-index: 400;
        right: 30px;
        bottom: 30px;
        // jsで出現させるので最初は消しておく
        display: none;
        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: #765227;
          width: 133px;
          height: 133px;
          border-radius: 66.5px;
          &::before {
            display: block;
            content: url("../imgs/t0-b-goToTop/bg.png");
            transition: .2s;
          }

          .t0-b-goToTop__contents {
            position: absolute;
            display: inline;
            text-align: center;
            top: 70px;
            left: 0;
            right: 0;
            color: #765227;
            transition: .2s;
            font-weight: bold;
            text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, -1px -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, -2px -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
          }

          &:hover {
            &::before {
              transform: translateY(-5px);
              filter: drop-shadow(2px 6px 4px rgba(#00001e, .18));
            }

            .t0-b-goToTop__contents {
              transform: translateY(-5px);
              // ホバー時にガクガクしないように
              pointer-events: none;
              p {
                pointer-events: auto;
              }
            }
          }
        }
      }
    }
  }

  .ex-topSpacingTweak {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
    }
  }

  // goToTopが固定表示時にbPlacerの余白を消す
  .t0-b-goToTop-bPlacer {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@if $device == SP {
  .t0-b-goToTop {
    height: 90px;
    text-align: right;
    a {
      display: inline-block;
      text-decoration: none;
      width: 90px;
      height: 90px;
      border-radius: 66.5px;
      background-size: 90px 90px;
      background-image: url("../imgs/t0-b-goToTop/bg.png");
      position: relative;
      > div {
        position: absolute;
        display: inline;
        text-align: center;
        top: 48px;
        bottom: 0;
        left: 0;
        right: 0;
        color: #765227;
        font-weight: bold;
        text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, -1px -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, -2px -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
        @include g-font(10, 1);
      }
    }
  }
}
