@if $device == PC {

  .t0-b-orderedList#{$variation1of2} {
    $_block: &;
    li {
      padding: 20px 0 15px 64px;
      text-indent: -64px;
      > #{$_block}__num {
        vertical-align: middle;
        height: 1px;
        display: inline-block;
        width: 56px;
        margin: 0 8px 0 0;
        text-indent: 0;
        > div {
          display: block;
          text-align: center;
          color: #4d2a0e;
          @include g-font(20, 1);
          text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
          height: 51px;
          line-height: 49px;
          padding: 2px 0 0;
          margin: (-29px) 0 0;
          text-indent: 5px;
          font-weight: bold;
          background-repeat: no-repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-orderedList/bg.png");
        }
      }
      #{$_block}__text {
        @include g-font(16, 1);
        color: #333;
        display: inline;
      }
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    $_block: &;
    li {
      padding: 23px 0 18px 64px;
      text-indent: -64px;
      > #{$_block}__num {
        vertical-align: middle;
        height: 1px;
        display: inline-block;
        width: 56px;
        margin: 0 8px 0 0;
        text-indent: 0;
        > div {
          display: block;
          text-align: center;
          color: #fff;
          @include g-font(20, 1);
          text-shadow: (-2px) -2px #876302, 2px -2px #876302, -2px 2px #876302, 2px 2px #876302;
          height: 56px;
          line-height: 56px;
          margin: (-29px) 0 -16px;
          text-indent: 2px;
          font-weight: bold;
          background-repeat: no-repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-orderedList/bg2.png");
        }
      }
      #{$_block}__text {
        @include g-font(16, 1);
        color: #333;
        display: inline;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-orderedList#{$variation1of2} {
    $_block: &;
    li {
      padding: 20px 0 15px 64px;
      text-indent: -64px;
      > #{$_block}__num {
        vertical-align: middle;
        height: 1px;
        display: inline-block;
        width: 56px;
        margin: 0 8px 0 0;
        text-indent: 0;
        > div {
          text-align: center;
          display: block;
          color: #4d2a0e;
          @include g-font(16, 1);
          text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
          height: 51px;
          line-height: 53px;
          padding: 2px 0 0;
          margin: (-29px) 0 0;
          text-indent: 6px;
          font-weight: bold;
          background-repeat: no-repeat;
          background-position: left 2px;
          background-image: url("../imgs/t0-b-orderedList/bg.png");
        }
      }
      #{$_block}__text {
        @include g-font(16, 1);
        color: #333;
        display: inline;
      }
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    $_block: &;
    li {
      padding: 23px 0 18px 64px;
      text-indent: -64px;
      > #{$_block}__num {
        vertical-align: middle;
        height: 1px;
        display: inline-block;
        width: 56px;
        margin: 0 8px 0 0;
        text-indent: 0;
        > div {
          display: block;
          text-align: center;
          color: #fff;
          @include g-font(16, 1);
          text-shadow: (-2px) -2px #876302, 2px -2px #876302, -2px 2px #876302, 2px 2px #876302;
          height: 56px;
          line-height: 56px;
          margin: (-29px) 0 -16px;
          text-indent: 2px;
          font-weight: bold;
          background-repeat: no-repeat;
          background-position: left 1px;
          background-image: url("../imgs/t0-b-orderedList/bg2.png");
        }
      }
      #{$_block}__text {
        @include g-font(16, 1);
        color: #333;
        display: inline;
      }
    }
  }

}// SP
