@if $device == PC {

  .t0-b-labeledList#{$variation1of2} {
    $_color_bg: #ffe297;
    $_color_typo: #333;
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      padding: 10px 0 0;
      width: 105px;
      box-sizing: border-box;
    }
    td {
      padding: 10px 0 0 10px;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div {
      color: $_color_typo;
      background: $_color_bg;
      text-align: center;
      padding: 2px 10px;
      border-radius: 8px;
    }
    td div {
      padding: 2px 0;
    }
    th div,
    td div {
      @include g-font(16, 1);
    }
  }

  .t0-b-labeledList#{$variation2of2} {
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      width: 105px;
      box-sizing: border-box;
      min-height: 26px;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 5px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -5px;
          left: 7px;
          right: 7px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 5px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    td {
      padding: 10px 0 0 10px;
      color: #333;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div,
    td div {
      @include g-font(16, 1);
      position: relative;
      padding: 2px 0;
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    table, tbody, tr, th, td {
      display: block;
    }
    $_color_bg: #ffe297;
    $_color_typo: #333;
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      padding: 10px 0 0;
      box-sizing: border-box;
    }
    td {
      padding: 10px 0 0;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div {
      display: inline-block;
      color: $_color_typo;
      background: $_color_bg;
      text-align: center;
      padding: 2px 10px;
      min-width: 105px;
      max-width: 730px;
      border-radius: 8px;
      box-sizing: border-box;
    }
    td div {
      padding: 2px 0;
    }
    th div,
    td div {
      @include g-font(16, 1);
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {
    table, tbody, tr, th, td {
      display: block;
    }
    table {
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;
      min-width: 105px;
      max-width: 730px;
      box-sizing: border-box;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 5px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -5px;
          left: 7px;
          right: 7px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 5px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    td {
      padding: 10px 0 0 0;
      color: #333;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div,
    td div {
      @include g-font(16, 1);
      position: relative;
      padding: 2px 0;
    }
  }

}// PC


@if $device == SP {

  .t0-b-labeledList#{$variation1of2} {
    $_color_bg: #ffe297;
    $_color_typo: #333;
    table, tbody, tr, th, td {
      display: block;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      padding: 10px 0 0 0;
    }
    td {
      padding: 10px 0 0 0;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div {
      display: inline-block;
      color: $_color_typo;
      background: $_color_bg;
      padding: 2px 10px;
      border-radius: 8px;
    }
    td div {
      padding: 10px 0 3px 10px;
    }
    th div,
    td div {
      @include g-font(16, 1);
    }
  }

  .t0-b-labeledList#{$variation2of2} {
    table, tbody, tr, th, td {
      display: block;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 5px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -5px;
          left: 7px;
          right: 7px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 5px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    td {
      padding: 10px 0 0 10px;
      color: #333;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div,
    td div {
      @include g-font(16, 1);
      position: relative;
      padding: 3px 0;
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    $_color_bg: #ffe297;
    $_color_typo: #333;
    table, tbody, tr, th, td {
      display: block;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      padding: 10px 0 0 0;
    }
    td {
      padding: 10px 0 0 0;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div {
      display: inline-block;
      color: $_color_typo;
      background: $_color_bg;
      padding: 2px 10px;
      border-radius: 8px;
    }
    td div {
      padding: 10px 0 3px 10px;
    }
    th div,
    td div {
      @include g-font(16, 1);
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {
    table, tbody, tr, th, td {
      display: block;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 5px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -5px;
          left: 7px;
          right: 7px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 5px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    td {
      padding: 10px 0 0 10px;
      color: #333;
    }
    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
    th div,
    td div {
      @include g-font(16, 1);
      position: relative;
      padding: 3px 0;
    }
  }

}// SP
