@if $device == PC {

  .t0-b-labeledList#{$variation1of2} {
    $_color_bg: #ffe297;
    $_color_typo: #333;

    table {
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
      }
    }

    th {
      padding: 10px 0 0;
      box-sizing: border-box;

      div {
        min-width: 60px;
        min-height: 20px;
        color: $_color_typo;
        background-color: $_color_bg;
        text-align: center;
        padding: 2px 10px;
        border-radius: 8px;

        a {
          color: inherit;
          &:hover {
            color: $g-hovercolor;
          }
        }
      }
    }

    td {
      padding: 10px 0 0 10px;

      div {
        padding: 2px 0;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {

    table {
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
        position: relative;
        padding: 2px 0;
      }
    }

    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      background-size: 7px 9px, 7px 5px,6.4px 5px ,7px 9px;
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      box-sizing: border-box;
      min-height: 26px;

      a {
        color: inherit;
        &:hover {
          color: $g-hovercolor;
        }
      }

      div {
        min-width: 60px;
      }

      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 8px;
        bottom: 4px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -8px;
          bottom: -4px;
          left: 6px;
          right: 6px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 8px;
            bottom: 4px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    td {
      padding: 10px 0 0 10px;
      color: #333;

      a {
        color: inherit;
        &:hover {
          color: $g-hovercolor;
        }
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    $_color_bg: #ffe297;
    $_color_typo: #333;

    table, tbody, tr, th, td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
      }
    }

    th {
      padding: 10px 0 0;
      box-sizing: border-box;

      div {
        display: inline-block;
        color: $_color_typo;
        background-color: $_color_bg;
        text-align: center;
        padding: 2px 10px;
        min-width: 80px;
        max-width: 730px;
        min-height: 20px;
        border-radius: 8px;
        box-sizing: border-box;

        a {
          color: inherit;
          &:hover {
            color: $g-hovercolor;
          }
        }
      }
    }

    td {
      padding: 10px 0 0;

      div {
        padding: 2px 0;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {



    table, tbody, tr, th, td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
        position: relative;
        padding: 2px 0;
      }
    }

    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      background-size: 7px 9px, 7px 5px,6.4px 5px ,7px 9px;
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;
      min-width: 60px;
      max-width: 730px;
      box-sizing: border-box;

      a {
        color: inherit;
        &:hover {
          color: $g-hovercolor;
        }
      }

      div {
        min-width: 60px;
      }

      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 8px;
        bottom: 4px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -8px;
          bottom: -4px;
          left: 6px;
          right: 6px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 8px;
            bottom: 4px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    td {
      padding: 10px 0 0 0;
      color: #333;

      a {
        color: inherit;
        &:hover {
          color: $g-hovercolor;
        }
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-labeledList#{$variation1of2} {
    $_color_bg: #ffe297;
    $_color_typo: #333;
    table, tbody, tr, th, td {
      display: block;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
      }
    }

    th {
      padding: 10px 0 0 0;

      div {
        display: inline-block;
        min-width: 60px;
        min-height: 20px;
        padding: 2px 10px;
        border-radius: 8px;
        color: $_color_typo;
        background-color: $_color_bg;
        text-align: center;

        a {
          color: inherit;
        }
      }
    }

    td {
      padding: 10px 0 0 0;

      div {
        padding: 10px 0 3px 10px;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {
    table, tbody, tr, th, td {
      display: block;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
        position: relative;
        padding: 3px 0;
      }
    }

    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;

      div {
        min-width: 60px;
      }

      a {
        color: inherit;
      }

      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 8px;
        bottom: 4px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -8px;
          bottom: -4px;
          left: 6px;
          right: 6px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 8px;
            bottom: 4px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    td {
      padding: 10px 0 0 10px;
      color: #333;

      a {
        color: inherit;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    $_color_bg: #ffe297;
    $_color_typo: #333;

    table, tbody, tr, th, td {
      display: block;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
      }
    }

    th {
      padding: 10px 0 0 0;

      div {
        display: inline-block;
        min-width: 60px;
        min-height: 20px;
        padding: 2px 10px;
        border-radius: 8px;
        color: $_color_typo;
        background-color: $_color_bg;
        text-align: center;

        a {
          color: inherit;
        }
      }
    }

    td {
      padding: 10px 0 0 0;

      div {
        padding: 10px 0 3px 10px;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {
    table, tbody, tr, th, td {
      display: block;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      text-align: left;
      vertical-align: top;

      div {
        @include g-font(16, 1);
        position: relative;
        padding: 3px 0;
      }
    }

    th {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-labeledList/2/bg.png"), url("../imgs/t0-b-labeledList/2/bg2.png"), url("../imgs/t0-b-labeledList/2/bg3.png"), url("../imgs/t0-b-labeledList/2/bg4.png");
      position: relative;
      display: inline-block;
      color: #333;
      text-align: center;
      padding: 0 10px;
      min-height: 26px;

      div {
        min-width: 60px;
      }

      a {
        color: inherit;
      }

      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-labeledList/2/bg5.png"), url("../imgs/t0-b-labeledList/2/bg7.png");
        position: absolute;
        top: 8px;
        bottom: 4px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-labeledList/2/bg6.png"), url("../imgs/t0-b-labeledList/2/bg8.png");
          position: absolute;
          top: -8px;
          bottom: -4px;
          left: 6px;
          right: 6px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-labeledList/2/bg9.png");
            position: absolute;
            top: 8px;
            bottom: 4px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    td {
      padding: 10px 0 0 10px;
      color: #333;

      a {
        color: inherit;
      }
    }

    tr:first-child {
      th, td {
        padding-top: 0;
      }
    }
  }

}// SP
