@if $device == PC {

  .t0-b-catchText#{$variation1of2} {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 0 24px 42px 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg3.png"), url("../imgs/t0-b-catchText/1/bg4.png");
    position: relative;
    padding: 23px 21px 61px 14px;
    color: #333;
    box-sizing: border-box;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg5.png"), url("../imgs/t0-b-catchText/1/bg7.png");
      position: absolute;
      top: 16px;
      bottom: 44px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/1/bg6.png"), url("../imgs/t0-b-catchText/1/bg8.png");
        position: absolute;
        top: -16px;
        bottom: -44px;
        left: 26px;
        right: 155px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-catchText/1/bg9.png");
          position: absolute;
          top: 16px;
          bottom: 44px;
          left: 0;
          right: 0;
        }
      }
    }
    > div {
      margin: 11px 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      position: relative;
    }
    &__text-sub {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
    }
    &__text-sub2 {
      @if $layout == "N00" {
               @include g-font(22, 1);
             } @else {
               @include g-font(18, 1);
             }
    }
    &__text-main {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg10.png"), url("../imgs/t0-b-catchText/1/bg11.png"), url("../imgs/t0-b-catchText/1/bg12.png"), url("../imgs/t0-b-catchText/1/bg13.png");
      @include g-font(28, 1);
      @if $layout == "N00" {
               @include g-font(32, 1);
             } @else {
               @include g-font(28, 1);
             }
      padding: 30px 0;
      color: #553010;
      font-weight: bold;
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg14.png"), url("../imgs/t0-b-catchText/1/bg16.png");
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg15.png"), url("../imgs/t0-b-catchText/1/bg17.png");
          position: absolute;
          top: -6px;
          bottom: -6px;
          left: 8px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg18.png");
            position: absolute;
            top: 6px;
            bottom: 6px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__text-sub3 {
      @if $layout == "N00" {
               @include g-font(22, 1);
             } @else {
               @include g-font(18, 1);
             }
    }
    &__text-sub4 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
    }
  }

  .t0-b-catchText#{$variation2of2} {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    position: relative;
    padding: 62px 18px 66px;
    color: #333;
    box-sizing: border-box;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
      position: absolute;
      top: 81px;
      bottom: 70px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
        background-position: left top 47px, left bottom 47px, left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
        position: absolute;
        top: -81px;
        bottom: -70px;
        left: 165px;
        right: 167px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-catchText/2/bg9.png");
          position: absolute;
          top: 81px;
          bottom: 70px;
          left: 0;
          right: 0;
        }
      }
    }
    p {
      position: relative;
    }
    &__text-sub {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 110px 0;
      margin: 0 0 10px;
    }
    &__text-sub2 {
      @if $layout == "N00" {
               @include g-font(22, 1);
             } @else {
               @include g-font(18, 1);
             }
      margin: 0 0 10px;
    }
    &__text-main {
      @if $layout == "N00" {
               @include g-font(32, 1);
             } @else {
               @include g-font(28, 1);
             }
      padding: 7px 0;
      color: #553010;
      font-weight: bold;
    }
    &__text-sub3 {
      @if $layout == "N00" {
               @include g-font(22, 1);
             } @else {
               @include g-font(18, 1);
             }
      margin: 10px 0 0;
    }
    &__text-sub4 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 110px 0;
      margin: 10px 0 0;
    }
  }

}// PC


@if $device == SP {

  .t0-b-catchText#{$variation1of2} {
    margin: 0 auto;
    text-align: center;
    border-radius: 0 24px 42px 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right 2px bottom, right top;
    background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg19.png"), url("../imgs/t0-b-catchText/1/bg4.png");
    position: relative;
    padding: 23px 21px 61px 14px;
    color: #333;
    box-sizing: border-box;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg5.png"), url("../imgs/t0-b-catchText/1/bg7.png");
      position: absolute;
      top: 16px;
      bottom: 44px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/1/bg6.png"), url("../imgs/t0-b-catchText/1/bg8.png");
        position: absolute;
        top: -16px;
        bottom: -44px;
        left: 26px;
        right: 96px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-catchText/1/bg9.png");
          position: absolute;
          top: 16px;
          bottom: 44px;
          left: 0;
          right: 0;
        }
      }
    }
    p {
      position: relative;
    }
    > div {
      margin: 11px 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    &__text-sub {
      @include g-font(12, 1);
    }
    &__text-sub2 {
      @include g-font(14, 1);
    }
    &__text-main {
      @include g-font(18, 1);
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg10.png"), url("../imgs/t0-b-catchText/1/bg11.png"), url("../imgs/t0-b-catchText/1/bg12.png"), url("../imgs/t0-b-catchText/1/bg13.png");
      padding: 20px 0;
      color: #553010;
      font-weight: bold;
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg14.png"), url("../imgs/t0-b-catchText/1/bg16.png");
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg15.png"), url("../imgs/t0-b-catchText/1/bg17.png");
          position: absolute;
          top: -6px;
          bottom: -6px;
          left: 8px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg18.png");
            position: absolute;
            top: 6px;
            bottom: 6px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__text-sub3 {
      @include g-font(14, 1);
    }
    &__text-sub4 {
      @include g-font(12, 1);
    }
  }

  .t0-b-catchText#{$variation2of2} {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    position: relative;
    padding: 73px 18px 71px;
    color: #333;
    box-sizing: border-box;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
      position: absolute;
      top: 81px;
      bottom: 70px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x, repeat-x;
        background-position: left top 47px, left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
        position: absolute;
        top: -81px;
        bottom: -70px;
        left: 165px;
        right: 167px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-catchText/2/bg9.png");
          position: absolute;
          top: 81px;
          bottom: 70px;
          left: 0;
          right: 0;
        }
      }
    }
    > div {
      margin: 11px 0 0;
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      position: relative;
    }
    &__text-sub {
      @include g-font(12, 1);
    }
    &__text-sub2 {
      @include g-font(14, 1);
    }
    &__text-main {
      @include g-font(18, 1);
      padding: 7px 0;
      color: #553010;
      font-weight: bold;
    }
    &__text-sub3 {
      @include g-font(14, 1);
    }
    &__text-sub4 {
      @include g-font(12, 1);
    }
  }

}// SP
