@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    $_lineHeightType: 1;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 24px 42px 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg3.png"), url("../imgs/t0-b-catchText/1/bg4.png");
    position: relative;
    padding: 24px 21px 51px 14px;
    color: #333;
    box-sizing: border-box;
    &__inner {
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg5.png"), url("../imgs/t0-b-catchText/1/bg7.png");
        position: absolute;
        top: 14px;
        bottom: 42px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg6.png"), url("../imgs/t0-b-catchText/1/bg8.png");
          position: absolute;
          top: -14px;
          bottom: -42px;
          left: 25px;
          right: 154px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg9.png");
            position: absolute;
            top: 14px;
            bottom: 42px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &__text-sub {
      @include g-font-layout(16, $_lineHeightType, $layout);
      margin: 0 0 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }

      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub2 {
      @include g-font-layout(18, $_lineHeightType, $layout);
      margin-bottom: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }

      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-main {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg10.png"), url("../imgs/t0-b-catchText/1/bg11.png"), url("../imgs/t0-b-catchText/1/bg12.png"), url("../imgs/t0-b-catchText/1/bg13.png");
      @include g-font-layout(28, $_lineHeightType, $layout);
      padding: 30px 10px;
      color: #553010;
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg14.png"), url("../imgs/t0-b-catchText/1/bg16.png");
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg15.png"), url("../imgs/t0-b-catchText/1/bg17.png");
          position: absolute;
          top: -6px;
          bottom: -6px;
          left: 8px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg18.png");
            position: absolute;
            top: 6px;
            bottom: 6px;
            left: -1px;
            right: -1px;
          }
        }
      }

      p {
        position: relative;
      }

      &:first-child {
        padding-top: 0;
      }

      a {
        color: #553010;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub3 {
      @include g-font-layout(18, $_lineHeightType, $layout);
      margin-top: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }

      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub4 {
      @include g-font-layout(16, $_lineHeightType, $layout);
      margin-top: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }

      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_lineHeightType: 1;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    position: relative;
    padding: 62px 18px;
    color: #333;
    box-sizing: border-box;
    &__inner {
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
        position: absolute;
        top: 80px;
        bottom: 69px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
          background-position: left top 47px, left bottom 47px, left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
          position: absolute;
          top: -80px;
          bottom: -69px;
          left: 164px;
          right: 166px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/2/bg9.png");
            position: absolute;
            top: 60px;
            bottom: 69px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &__text-sub {
      @include g-font-layout(16, $_lineHeightType, $layout);
      padding: 0 110px;
      margin: 0 0 10px;
      position: relative;
      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub2 {
      @include g-font-layout(18, $_lineHeightType, $layout);
      margin: 0 0 10px;
      position: relative;
      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-main {
      @include g-font-layout(28, $_lineHeightType, $layout);
      padding: 7px 10px;
      color: #553010;
      position: relative;
      a {
        color: #553010;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub3 {
      @include g-font-layout(18, $_lineHeightType, $layout);
      margin: 10px 0 0;
      position: relative;
      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__text-sub4 {
      @include g-font-layout(16, $_lineHeightType, $layout);
      padding: 0 110px;
      margin: 10px 0 0;
      position: relative;
      a {
        color: #333;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    margin: 0 auto;
    text-align: center;
    border-radius: 0 24px 42px 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right 2px bottom, right top;
    background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg19.png"), url("../imgs/t0-b-catchText/1/bg4.png");
    position: relative;
    padding: 13px 21px 51px 14px;
    color: #333;
    box-sizing: border-box;
    &__inner {
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg5.png"), url("../imgs/t0-b-catchText/1/bg7.png");
        position: absolute;
        top: 14px;
        bottom: 42px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg6.png"), url("../imgs/t0-b-catchText/1/bg8.png");
          position: absolute;
          top: -14px;
          bottom: -42px;
          left: 24px;
          right: 94px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg9.png");
            position: absolute;
            top: 14px;
            bottom: 42px;
            left: -1px;
            right: -1px;
          }
        }
      }
    }

    &__text-sub {
      @include g-font(12, 1);
      margin: 11px 10px 10px;
      position: relative;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: #333;
      }
    }

    &__text-sub2 {
      @include g-font(14, 1);
      margin: 0 10px 10px;
      position: relative;
      a {
        color: #333;
      }
    }

    &__text-main {
      @include g-font(18, 1);
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-catchText/1/bg10.png"), url("../imgs/t0-b-catchText/1/bg11.png"), url("../imgs/t0-b-catchText/1/bg12.png"), url("../imgs/t0-b-catchText/1/bg13.png");
      padding: 20px 10px;
      color: #553010;
      font-weight: bold;
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/1/bg14.png"), url("../imgs/t0-b-catchText/1/bg16.png");
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/1/bg15.png"), url("../imgs/t0-b-catchText/1/bg17.png");
          position: absolute;
          top: -6px;
          bottom: -6px;
          left: 8px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/1/bg18.png");
            position: absolute;
            top: 6px;
            bottom: 6px;
            left: -1px;
            right: -1px;
          }
        }
      }

      p {
        position: relative;
      }

      a {
        color: #553010;
      }
    }

    &__text-sub3 {
      @include g-font(14, 1);
      margin: 10px 10px 0;
      position: relative;
      a {
        color: #333;
      }
    }

    &__text-sub4 {
      @include g-font(12, 1);
      margin: 10px 10px 0;
      position: relative;
      a {
        color: #333;
      }
    }
  }

  .t0-b-catchText#{$variation2of2} {
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-catchText/2/sp_bg.png"), url("../imgs/t0-b-catchText/2/sp_bg2.png"), url("../imgs/t0-b-catchText/2/sp_bg3.png"), url("../imgs/t0-b-catchText/2/sp_bg4.png");
    position: relative;
    padding: 71px 18px;
    color: #333;
    box-sizing: border-box;
    &__inner {
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
        position: absolute;
        top: 79px;
        bottom: 68px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x, repeat-x;
          background-position: left top 47px, left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/2/bg10.png"), url("../imgs/t0-b-catchText/2/sp_bg6.png"), url("../imgs/t0-b-catchText/2/sp_bg8.png");
          position: absolute;
          top: -79px;
          bottom: -68px;
          left: 144px;
          right: 146px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-catchText/2/bg9.png");
            position: absolute;
            top: 60px;
            bottom: 68px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &__text-sub {
      @include g-font(12, 1);
      margin: 11px 10px 10px;
      position: relative;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: #333;
      }
    }

    &__text-sub2 {
      @include g-font(14, 1);
      margin: 0 10px -7px;
      position: relative;
      a {
        color: #333;
      }
    }

    &__text-main {
      @include g-font(18, 1);
      padding: 20px 10px 7px;
      color: #553010;
      font-weight: bold;
      position: relative;
      a {
        color: #553010;
      }
    }

    &__text-sub3 {
      @include g-font(14, 1);
      margin: 10px 10px 0;
      position: relative;
      a {
        color: #333;
      }
    }

    &__text-sub4 {
      @include g-font(12, 1);
      margin: 10px 10px 0;
      position: relative;
      a {
        color: #333;
      }
    }
  }
}
