@if $device == PC {

  .t0-b-lv1H-mainH#{$variation1of3} {
    $_block: &;
    $_fontSizePx_caption: 16;
    $_fontSizePx_bd: 28;
    $_lineHeightType: 1;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-lv1H-mainH/1/bg.png"), url("../imgs/t0-b-lv1H-mainH/1/bg2.png"), url("../imgs/t0-b-lv1H-mainH/1/bg3.png"), url("../imgs/t0-b-lv1H-mainH/1/bg4.png");
    position: relative;
    margin: 0 auto;
    padding: 36px 0 36px;
    border-radius: 8px;
    color: #553010;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-lv1H-mainH/1/bg5.png"), url("../imgs/t0-b-lv1H-mainH/1/bg7.png");
      position: absolute;
      top: 34px;
      bottom: 38px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-lv1H-mainH/1/bg6.png"), url("../imgs/t0-b-lv1H-mainH/1/bg8.png");
        position: absolute;
        top: -34px;
        bottom: -38px;
        left: 38px;
        right: 39px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-lv1H-mainH/1/bg9.png");
          position: absolute;
          top: 34px;
          bottom: 38px;
          left: 0;
          right: 0;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #553010;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper{
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 50px 10px;
      position: relative;
    }

    &__bd {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
      font-weight: bold;
      position: relative;
      padding: 0 50px 0;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 10px 50px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv1H-mainH#{$variation2of3} {
    $_block: &;
    $_fontSizePx_caption: 16;
    $_fontSizePx_bd: 28;
    $_lineHeightType: 1;

    background-image: url("../imgs/t0-b-lv1H-mainH/2/bg.png"), url("../imgs/t0-b-lv1H-mainH/2/bg2.png"), url("../imgs/t0-b-lv1H-mainH/2/bg3.png"), url("../imgs/t0-b-lv1H-mainH/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;
    margin: 0 auto;
    padding: 36px 0 36px;
    border-radius: 8px;
    color: #553010;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 25px;
      right: 27px;
      background-image: url("../imgs/t0-b-lv1H-mainH/2/bg6.png"), url("../imgs/t0-b-lv1H-mainH/2/bg8.png");
      background-repeat: repeat-x, repeat-x;
      background-position: left bottom, left top;
      > span {
        position: absolute;
        top: 24px;
        bottom: 24px;
        left: -25px;
        right: -27px;
        background-image: url("../imgs/t0-b-lv1H-mainH/2/bg5.png"), url("../imgs/t0-b-lv1H-mainH/2/bg7.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        > span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 18px;
          right: 18px;
          background-image: url("../imgs/t0-b-lv1H-mainH/2/bg10.png"), url("../imgs/t0-b-lv1H-mainH/2/bg10.png"), url("../imgs/t0-b-lv1H-mainH/2/bg9.png");
          background-repeat: no-repeat, no-repeat, repeat;
          background-position: left center, right center, left top;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #553010;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper{
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 88px 10px;
      position: relative;
    }

    &__bd {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
      font-weight: bold;
      position: relative;
      padding: 0 88px 0;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 10px 88px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  //v3がなかったためv1を流用
  .t0-b-lv1H-mainH#{$variation3of3} {
    $_block: &;
    $_fontSizePx_caption: 16;
    $_fontSizePx_bd: 28;
    $_lineHeightType: 1;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-lv1H-mainH/3/bg.png"), url("../imgs/t0-b-lv1H-mainH/3/bg2.png"), url("../imgs/t0-b-lv1H-mainH/3/bg3.png"), url("../imgs/t0-b-lv1H-mainH/3/bg4.png");
    position: relative;
    margin: 0 auto;
    padding: 22px 0 22px;
    color: #fff;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-lv1H-mainH/3/bg5.png"), url("../imgs/t0-b-lv1H-mainH/3/bg7.png");
      position: absolute;
      top: 9px;
      bottom: 9px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-lv1H-mainH/3/bg6.png"), url("../imgs/t0-b-lv1H-mainH/3/bg8.png");
        position: absolute;
        top: -9px;
        bottom: -9px;
        left: 9px;
        right: 10px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-lv1H-mainH/3/bg9.png");
          position: absolute;
          top: 9px;
          bottom: 9px;
          left: 0;
          right: 0;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper{
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 20px 10px;
      position: relative;
    }

    &__bd {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
      position: relative;
      padding: 0 20px 0;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 10px 20px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

}// PC


@if $device == SP {

  .t0-b-lv1H-mainH#{$variation1of3} {
    $_block: &;
    $_fontSizePx_caption: 14;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;

    margin: 0 auto;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-lv1H-mainH/1/bg.png"), url("../imgs/t0-b-lv1H-mainH/1/bg2.png"), url("../imgs/t0-b-lv1H-mainH/1/bg3.png"), url("../imgs/t0-b-lv1H-mainH/1/bg4.png");
    position: relative;
    padding: 36px 0 36px;
    border-radius: 8px;
    color: #553010;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-lv1H-mainH/1/bg5.png"), url("../imgs/t0-b-lv1H-mainH/1/bg7.png");
      position: absolute;
      top: 34px;
      bottom: 38px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-lv1H-mainH/1/bg6.png"), url("../imgs/t0-b-lv1H-mainH/1/bg8.png");
        position: absolute;
        top: -34px;
        bottom: -38px;
        left: 38px;
        right: 39px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-lv1H-mainH/1/bg9.png");
          position: absolute;
          top: 34px;
          bottom: 38px;
          left: 0;
          right: 0;
        }
      }
    }margin: 0 auto;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-lv1H-mainH/1/bg.png"), url("../imgs/t0-b-lv1H-mainH/1/bg2.png"), url("../imgs/t0-b-lv1H-mainH/1/bg3.png"), url("../imgs/t0-b-lv1H-mainH/1/bg4.png");
    position: relative;
    padding: 36px 0 36px;
    border-radius: 8px;
    color: #553010;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-lv1H-mainH/1/bg5.png"), url("../imgs/t0-b-lv1H-mainH/1/bg7.png");
      position: absolute;
      top: 34px;
      bottom: 38px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-lv1H-mainH/1/bg6.png"), url("../imgs/t0-b-lv1H-mainH/1/bg8.png");
        position: absolute;
        top: -34px;
        bottom: -38px;
        left: 38px;
        right: 39px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-lv1H-mainH/1/bg9.png");
          position: absolute;
          top: 34px;
          bottom: 38px;
          left: 0;
          right: 0;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #553010;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 20px 10px;
      position: relative;
    }

    &__bd {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
      font-weight: bold;
      position: relative;
      padding: 0 20px 0;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 10px 20px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of3} {
    $_block: &;
    $_fontSizePx_caption: 14;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;

    width: 100%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-lv1H-mainH/2/bg.png"), url("../imgs/t0-b-lv1H-mainH/2/bg2.png"), url("../imgs/t0-b-lv1H-mainH/2/bg3.png"), url("../imgs/t0-b-lv1H-mainH/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;
    padding: 36px 0 36px;
    border-radius: 8px;
    color: #553010;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 25px;
      right: 27px;
      background-image: url("../imgs/t0-b-lv1H-mainH/2/bg6.png"), url("../imgs/t0-b-lv1H-mainH/2/bg8.png");
      background-repeat: repeat-x, repeat-x;
      background-position: left bottom, left top;
      > span {
        position: absolute;
        top: 24px;
        bottom: 24px;
        left: -25px;
        right: -27px;
        background-image: url("../imgs/t0-b-lv1H-mainH/2/bg5.png"), url("../imgs/t0-b-lv1H-mainH/2/bg7.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        > span {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 25px;
          right: 27px;
          background-image: url("../imgs/t0-b-lv1H-mainH/2/bg9.png");
          background-repeat: repeat;
          background-position: left top;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #553010;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 20px 10px;
      position: relative;
    }

    &__bd {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
      font-weight: bold;
      position: relative;
      padding: 0 20px 0;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 10px 20px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }

  }

  //v3がなかったためv1を流用
  .t0-b-lv1H-mainH#{$variation3of3} {
    $_block: &;
    $_fontSizePx_caption: 14;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;

    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-lv1H-mainH/3/bg.png"), url("../imgs/t0-b-lv1H-mainH/3/bg2.png"), url("../imgs/t0-b-lv1H-mainH/3/bg3.png"), url("../imgs/t0-b-lv1H-mainH/3/bg4.png");
    position: relative;
    padding: 22px 0 22px;
    color: #fff;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-lv1H-mainH/3/bg5.png"), url("../imgs/t0-b-lv1H-mainH/3/bg7.png");
      position: absolute;
      top: 9px;
      bottom: 9px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-lv1H-mainH/3/bg6.png"), url("../imgs/t0-b-lv1H-mainH/3/bg8.png");
        position: absolute;
        top: -9px;
        bottom: -9px;
        left: 9px;
        right: 10px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-lv1H-mainH/3/bg9.png");
          position: absolute;
          top: 9px;
          bottom: 9px;
          left: 0;
          right: 0;
        }
      }
    }

    // リンク設定がある場合（__bd, RTEの場合はブロック内の要素）
    a {
      text-decoration: none;
      color: #fff;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 20px 10px;
      position: relative;
    }

    &__bd {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
      font-weight: bold;
      position: relative;
      padding: 0 20px 0;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 10px 20px 0;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
