@if $device == PC {
  .t0-b-lv4H#{$variation1of2} {
    $_block: &;
    $_fontSize_caption: 16;
    $_fontSize_bd: 22;
    $_fontSizeDiff: 4;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + 2;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 0 0 2px 13px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-lv4H/1/bg2.png");
      position: relative;
      padding-bottom: 8px;
      > span {
        top: 0;
        bottom: 13px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font-layout($_fontSize_bd, $_lineHeight, $layout);
        padding: 3px 0 3px 13px;
        background-image: url("../imgs/t0-b-lv4H/1/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 20px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 5px 0 0 13px;
      position: relative;
      &::before, &::after {
        margin-top: 0;
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, $_lineHeight, $layout);
          min-height: 16px;
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, $_lineHeight, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
      #{$_block}__caption-upper {
        padding: 0 0 2px;
      }

      h4 {
        padding: 3px 0;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H#{$variation2of2} {
    $_block: &;
    $_fontSize_caption: 16;
    $_fontSize_bd: 22;
    $_fontSizeDiff: 4;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + 2;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 0 0 2px 13px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-lv4H/2/bg2.png");
      position: relative;
      padding-bottom: 8px;
      > span {
        top: 0;
        bottom: 13px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font-layout($_fontSize_bd, $_lineHeight, $layout);
        padding: 3px 0 3px 13px;
        background-image: url("../imgs/t0-b-lv4H/2/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 20px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 5px 0 0 13px;
      position: relative;
      &::before, &::after {
        margin-top: 0;
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, $_lineHeight, $layout);
          min-height: 16px;
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, $_lineHeight, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 2px;
      }

      h4 {
        padding: 3px 0;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv4H3 {
    $_block: &;
    $_fontSize_caption: 16;
    $_fontSize_bd: 22;
    $_fontSizeDiff: 4;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + 2;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 0 0 5px 30px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x, repeat-x;
      background-position: left top, left bottom;
      background-image: url("../imgs/t0-b-lv4H/3/bg2.png"), url("../imgs/t0-b-lv4H/3/bg3.png");
      position: relative;
      > span {
        background-repeat: no-repeat, repeat;
        background-position: left center, left top;
        background-image: url("../imgs/t0-b-lv4H/3/bg4.png"), url("../imgs/t0-b-lv4H/3/bg.png");
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 1px;
        right: 1px;
      }

      h4 {
        @include g-font-layout($_fontSize_bd, $_lineHeight, $layout);
        padding: 11px 9px 11px 30px;
        position: relative;
        min-height: 10px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 5px 0 0 30px;
      position: relative;
      &::before, &::after {
        margin-top: 0;
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, $_lineHeight, $layout);
          min-height: 7px;
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, $_lineHeight, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 5px;
      }

      h4 {
        padding: 11px 9px;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv4H4 {
    $_block: &;
    $_fontSize_caption: 16;
    $_fontSize_bd: 22;
    $_fontSizeDiff: 4;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + 2;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 0 10px 5px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x, repeat-x;
      background-position: left top, left bottom;
      background-image: url("../imgs/t0-b-lv4H/4/bg2.png"), url("../imgs/t0-b-lv4H/4/bg3.png");
      position: relative;
      > span {
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-lv4H/4/bg.png");
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font-layout($_fontSize_bd, $_lineHeight, $layout);
        padding: 10px;
        position: relative;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight, $layout);
      padding: 5px 10px 0;
      position: relative;
      &::before, &::after {
        margin-top: 0;
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, $_lineHeight, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, $_lineHeight, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }
}

@if $device == SP {
  .t0-b-lv4H#{$variation1of2} {
    $_block: &;
    $_fontSize_caption: 14;
    $_fontSize_bd: 20;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 0 0 2px 13px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-lv4H/1/bg2.png");
      position: relative;
      padding-bottom: 8px;
      > span {
        top: 0;
        bottom: 13px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font($_fontSize_bd, $_lineHeight);
        padding: 3px 0 3px 13px;
        background-image: url("../imgs/t0-b-lv4H/1/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 20px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 5px 0 0 13px;
      position: relative;
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 2px;
      }

      h4 {
        padding: 3px 0;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv4H#{$variation2of2} {
    $_block: &;
    $_fontSize_caption: 14;
    $_fontSize_bd: 20;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 0 0 2px 13px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-lv4H/2/bg2.png");
      position: relative;
      padding-bottom: 8px;
      > span {
        top: 0;
        bottom: 13px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font($_fontSize_bd, $_lineHeight);
        padding: 3px 0 3px 13px;
        background-image: url("../imgs/t0-b-lv4H/2/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 20px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 5px 0 0 13px;
      position: relative;
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 2px;
      }

      h4 {
        padding: 3px 0;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv4H3 {
    $_block: &;
    $_fontSize_caption: 14;
    $_fontSize_bd: 20;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 0 0 5px 30px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x, repeat-x;
      background-position: left top, left bottom;
      background-image: url("../imgs/t0-b-lv4H/3/bg2.png"), url("../imgs/t0-b-lv4H/3/bg3.png");
      position: relative;
      > span {
        background-repeat: no-repeat, repeat;
        background-position: left center, left top;
        background-image: url("../imgs/t0-b-lv4H/3/bg4.png"), url("../imgs/t0-b-lv4H/3/bg.png");
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 1px;
        right: 1px;
      }

      h4 {
        @include g-font(20, 1);
        padding: 11px 7px 11px 30px;
        position: relative;
        min-height: 15px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 5px 0 0 30px;
      position: relative;
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 5px;
      }

      h4 {
        padding: 11px 7px;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv4H4 {
    $_block: &;
    $_fontSize_caption: 14;
    $_fontSize_bd: 20;
    color: #333;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #333;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 0 0 5px 10px;
      position: relative;
    }

    &__bd {
      background-repeat: repeat-x, repeat-x;
      background-position: left top, left bottom;
      background-image: url("../imgs/t0-b-lv4H/4/bg2.png"), url("../imgs/t0-b-lv4H/4/bg3.png");
      position: relative;
      > span {
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-lv4H/4/bg.png");
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        right: 0;
      }

      h4 {
        @include g-font(20, 1);
        padding: 10px;
        position: relative;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
      padding: 5px 0 0 10px;
      position: relative;
    }

    &--align-l {
      text-align: left;
      position: relative;
    }

    &--align-c {
      text-align: center;
      position: relative;
      #{$_block}__caption-upper {
        padding: 0 0 5px;
      }

      #{$_block}__caption-lower {
        padding: 5px 0 0;
      }
    }

    &--align-r {
      text-align: right;
      position: relative;
    }
  }
}
