@if $device == PC {

  .t0-b-lv5H#{$variation1of3} {
    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;
    $_fontSizeDifference: 4;

    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;

    color: #333;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 0 5px 15px;
    }

    &__main {
      line-height: 0;
    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5{
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
        padding: 0 0 0 6px;
        &:before,
        &:after {
          margin-top: 0;
        }
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 5px 0 0 15px;
      &:before,
      &:after {
        margin-top: 0;
      }
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 9px;
      width: 9px;
      height: 9px;
      background-image: url("../imgs/t0-b-lv5H/bg4.png");
      position: relative;
    }

    &--size-1 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 9px*.8;
        width: 9px*.8;
        height: 9px*.8;
      }

    }

    &--size-2 {

    }

    &--size-3 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 9px*1.2;
        width: 9px*1.2;
        height: 9px*1.2;
      }

    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }

  }

  .t0-b-lv5H#{$variation2of3} {

    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;
    $_fontSizeDifference: 4;

    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;

    color: #333;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 0 5px 36px;
    }

    &__main {
      line-height: 0;
    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5{
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
        padding-left: 6px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 5px 0 0 36px;
      &:before,
      &:after {
        margin-top: 0;
      }
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 30px;
      height: 22px;
      background-image: url("../imgs/t0-b-lv5H/bg3.png");
      background-size: 30px 22px;
      position: relative;
    }

    &--size-1 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 30px*.8 22px*.8;
        width: 30px*.8;
        height: 22px*.8;
      }
    }

    &--size-2 {

    }

    &--size-3 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 30px*.8 22px*1.2;
        width: 30px*1.2;
        height: 22px*1.2;
      }

    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }

  }

  //v3がないためv2を流用
  .t0-b-lv5H#{$variation3of3} {

    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 18;
    $_lineHeightType: 1;
    $_fontSizeDifference: 4;

    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;

    color: #333;
    margin: 0 auto;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 0 0 5px 13px;
    }

    &__main {
      line-height: 0;
      width: 100%;
      background-image: url("../imgs/t0-b-lv5H/bg2.png");
      background-position: left bottom;
      background-repeat: repeat-x;
      padding-bottom: 5px;
    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5{
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType, $layout);
        padding-left: 6px;
        &:before,
        &:after {
          margin-top: 0;
        }
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
      padding: 5px 0 0 13px;
      &:before,
      &:after {
        margin-top: 0;
      }
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 7px;
      height: 6px;
      background-image: url("../imgs/t0-b-lv5H/bg.png");
      background-size: 7px 6px;
      position: relative;
    }

    &--size-1 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 7px*.8 6px*.8;
        width: 7px*.8;
        height: 6px*.8;
      }

    }

    &--size-2 {

    }

    &--size-3 {

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__bd {
        h5{
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType, $layout);
      }

      #{$_block}__icon {
        background-size: 7px*1.2 6px*1.2;
        width: 7px*1.2;
        height: 6px*1.2;
      }

    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }

  }

}// PC


@if $device == SP {

  .t0-b-lv5H#{$variation1of3} {
    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 16;
    $_lineHeightType: 1;

    color: #333;

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 0 10px 15px;
    }

    &__main {

    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5 {
        padding-left: 6px;
        @include g-font($_fontSizePx_bd, $_lineHeightType);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 4px 0 1px 15px;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 9px;
      height: 9px;
      background-image: url("../imgs/t0-b-lv5H/bg4.png");
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

  .t0-b-lv5H#{$variation2of3} {
    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 16;
    $_lineHeightType: 1;

    color: #333;

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 0 10px 36px;
    }

    &__main {

    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5 {
        padding-left: 6px;
        @include g-font($_fontSizePx_bd, $_lineHeightType);
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 4px 0 1px 36px;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 30px;
      height: 22px;
      background-image: url("../imgs/t0-b-lv5H/bg3.png");
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

  .t0-b-lv5H#{$variation3of3} {
    $_block: &;
    $_fontSizePx_caption: 12;
    $_fontSizePx_bd: 16;
    $_lineHeightType: 1;

    color: #333;

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 0 0 10px 13px;
    }

    &__main {
      width: 100%;
      background-image: url("../imgs/t0-b-lv5H/bg2.png");
      background-position: left bottom;
      background-repeat: repeat-x;
      padding-bottom: 5px;
    }

    &__bd {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      h5 {
        padding-left: 6px;
        @include g-font($_fontSizePx_bd, $_lineHeightType);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      padding: 4px 0 1px 13px;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 7px;
      height: 6px;
      background-image: url("../imgs/t0-b-lv5H/bg.png");
      position: relative;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }

}// SP
