@if $device == PC {

  .t0-b-media {
    color: #333;
    margin: 0 auto;
    padding-top: 15px;
    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--width-l &__media {
      img {
        width: 100%;
      }
    }
    &--width-m &__media {
      img {
        width: 75%;
      }
    }
    &--width-s &__media {
      img {
        width: 50%;
      }
    }

    &__h-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      text-align: center;
      color: #553010;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    img {
      width: 100%;
    }
    &__media {
      text-align: center;
      img {
        padding: 7px 7px 6px 6px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/1/bg.png"), url("../imgs/t0-b-media/1/bg2.png"), url("../imgs/t0-b-media/1/bg3.png"), url("../imgs/t0-b-media/1/bg4.png"), url("../imgs/t0-b-media/1/bg5.png"), url("../imgs/t0-b-media/1/bg6.png"), url("../imgs/t0-b-media/1/bg7.png"), url("../imgs/t0-b-media/1/bg8.png");
        box-shadow: 0px 0px 2px #f3ece0;
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
        > img {
          &:hover {
            opacity: 0.8;
          }
        }
      }
      & + div {
        margin-top: 4%;
      }
    }
    &__h-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      text-align: center;
      color: #553010;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
  }

  .t0-b-media2 {
    color: #333;
    margin: 0 auto;
    padding-top: 15px;
    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--width-l &__media {
      img {
        width: 100%;
      }
    }
    &--width-m &__media {
      img {
        width: 75%;
      }
    }
    &--width-s &__media {
      img {
        width: 50%;
      }
    }
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    img {
      width: 100%;
    }
    &__media {
      line-height: 0;
      text-align: center;
      > *, img {
        vertical-align: top;
      }
      img {
        padding: 2px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/2/bg.png"), url("../imgs/t0-b-media/2/bg2.png"), url("../imgs/t0-b-media/2/bg3.png"), url("../imgs/t0-b-media/2/bg4.png"), url("../imgs/t0-b-media/2/bg5.png"), url("../imgs/t0-b-media/2/bg6.png"), url("../imgs/t0-b-media/2/bg7.png"), url("../imgs/t0-b-media/2/bg8.png");
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 4%;
      }
    }
    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
  }

  .t0-b-media3 {
    color: #333;
    margin: 0 auto;
    padding-top: 15px;
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    img {
      width: 100%;
    }
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      > *, img {
        vertical-align: top;
      }
      img {
        padding: 2px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/3/bg.png"), url("../imgs/t0-b-media/3/bg2.png"), url("../imgs/t0-b-media/3/bg3.png"), url("../imgs/t0-b-media/3/bg4.png"), url("../imgs/t0-b-media/3/bg5.png"), url("../imgs/t0-b-media/3/bg6.png"), url("../imgs/t0-b-media/3/bg7.png"), url("../imgs/t0-b-media/3/bg8.png");
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 4%;
      }
    }
    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
  }

  .t0-b-mediaOnly {

    img {
      width: 100%;
    }
    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-media {
    margin: 0 auto;
    color: #333;
    img {
      width: 100%;
      max-width: 100% !important;
    }
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      padding-bottom: 10px;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        padding: 7px 7px 6px 6px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/1/bg.png"), url("../imgs/t0-b-media/1/bg2.png"), url("../imgs/t0-b-media/1/bg3.png"), url("../imgs/t0-b-media/1/bg4.png"), url("../imgs/t0-b-media/1/bg5.png"), url("../imgs/t0-b-media/1/bg6.png"), url("../imgs/t0-b-media/1/bg7.png"), url("../imgs/t0-b-media/1/bg8.png");
        box-shadow: 0px 0px 2px #f3ece0;
        box-sizing: border-box;
      }
    }
    a {
      text-decoration: none;
    }
    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      padding-top: 12px;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--width-l &__media {
      img {
        width: 100%;
      }
    }
    &--width-m &__media {
      img {
        width: 75%;
      }
    }
    &--width-s &__media {
      img {
        width: 50%;
      }
    }
  }

  .t0-b-media2 {
    margin: 0 auto;
    color: #333;
    img {
      width: 100%;
    }
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 10px;
      text-align: center;
      color: #553010;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        padding: 2px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/2/bg.png"), url("../imgs/t0-b-media/2/bg2.png"), url("../imgs/t0-b-media/2/bg3.png"), url("../imgs/t0-b-media/2/bg4.png"), url("../imgs/t0-b-media/2/bg5.png"), url("../imgs/t0-b-media/2/bg6.png"), url("../imgs/t0-b-media/2/bg7.png"), url("../imgs/t0-b-media/2/bg8.png");
        box-sizing: border-box;
        a {
          text-decoration: none;
        }
      }
    }
    &__h-lower {
      @include g-font(16, 1);
      padding-top: 14px;
      text-align: center;
      color: #553010;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    img {
      max-width: 100% !important;
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--width-l &__media {
      img {
        width: 100%;
      }
    }
    &--width-m &__media {
      img {
        width: 75%;
      }
    }
    &--width-s &__media {
      img {
        width: 50%;
      }
    }
  }

  .t0-b-media3 {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 12px;
      text-align: center;
      color: #553010;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        padding: 2px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-image: url("../imgs/t0-b-media/3/bg.png"), url("../imgs/t0-b-media/3/bg2.png"), url("../imgs/t0-b-media/3/bg3.png"), url("../imgs/t0-b-media/3/bg4.png"), url("../imgs/t0-b-media/3/bg5.png"), url("../imgs/t0-b-media/3/bg6.png"), url("../imgs/t0-b-media/3/bg7.png"), url("../imgs/t0-b-media/3/bg8.png");
        box-sizing: border-box;
      }
    }
    a {
      text-decoration: none;
    }
    img {
      max-width: 100% !important;
    }

    &__h-lower {
      @include g-font(16, 1);
      padding-top: 14px;
      text-align: center;
      color: #553010;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--width-l &__media {
      img {
        width: 100%;
      }
    }
    &--width-m &__media {
      img {
        width: 75%;
      }
    }
    &--width-s &__media {
      img {
        width: 50%;
      }
    }
  }


  .t0-b-mediaOnly {

    img {
      width: 100%;
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
