@if $device == PC {

  .t0-b-media {
    color: #333;
    margin: 0 auto;

    &__h-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      position: relative;
      padding: 7px 7px 6px 6px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/1/bg.png"), url("../imgs/t0-b-media/1/bg2.png"), url("../imgs/t0-b-media/1/bg3.png"), url("../imgs/t0-b-media/1/bg4.png"), url("../imgs/t0-b-media/1/bg5.png"), url("../imgs/t0-b-media/1/bg6.png"), url("../imgs/t0-b-media/1/bg7.png"), url("../imgs/t0-b-media/1/bg8.png");
      box-shadow: 0px 0px 2px #f3ece0;
      box-sizing: border-box;
      img {
        width: 100%;
        height: auto;
      }
      a {
        display: block;
        color: $g-baseTextColor;
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 2%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 7px;
      left: 6px;
      right: 7px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 6px;
      left: 6px;
      right: 7px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media2 {
    color: #333;
    margin: 0 auto;
    padding-top: 15px;
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      padding: 2px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/2/bg.png"), url("../imgs/t0-b-media/2/bg2.png"), url("../imgs/t0-b-media/2/bg3.png"), url("../imgs/t0-b-media/2/bg4.png"), url("../imgs/t0-b-media/2/bg5.png"), url("../imgs/t0-b-media/2/bg6.png"), url("../imgs/t0-b-media/2/bg7.png"), url("../imgs/t0-b-media/2/bg8.png");
      box-sizing: border-box;
      > *, img {
        vertical-align: top;
      }
      img {
        width: 100%;
        height: auto;
      }
      a {
        color: $g-baseTextColor;
        text-decoration: none;
        display: block;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 4%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media3 {
    color: #333;
    margin: 0 auto;
    padding-top: 15px;

    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-bottom: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      padding: 2px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/3/bg.png"), url("../imgs/t0-b-media/3/bg2.png"), url("../imgs/t0-b-media/3/bg3.png"), url("../imgs/t0-b-media/3/bg4.png"), url("../imgs/t0-b-media/3/bg5.png"), url("../imgs/t0-b-media/3/bg6.png"), url("../imgs/t0-b-media/3/bg7.png"), url("../imgs/t0-b-media/3/bg8.png");
      box-sizing: border-box;
      > *, img {
        vertical-align: top;
      }
      img {
        width: 100%;
        height: auto;
      }
      a {
        display: block;
        color: $g-baseTextColor;
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
      & + div {
        margin-top: 4%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      z-index: 1;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 2px;
      bottom: 2px;
      left: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      margin-top: 2%;
      a {
        text-decoration: none;
      }
      div {
        display: inline-block;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &__caption {
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 2%;
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-mediaOnly {

    img {
      width: 100%;
    }
    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-media {
    margin: 0 auto;
    color: #333;
    &__h-upper {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      padding-bottom: 10px;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      position: relative;
      padding: 7px 7px 6px 6px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/1/bg.png"), url("../imgs/t0-b-media/1/bg2.png"), url("../imgs/t0-b-media/1/bg3.png"), url("../imgs/t0-b-media/1/bg4.png"), url("../imgs/t0-b-media/1/bg5.png"), url("../imgs/t0-b-media/1/bg6.png"), url("../imgs/t0-b-media/1/bg7.png"), url("../imgs/t0-b-media/1/bg8.png");
      box-shadow: 0px 0px 2px #f3ece0;
      box-sizing: border-box;
      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        width: 100%;
        max-width: 100% !important;
      }
      a {
        display: block;
        color: $g-baseTextColor;
        text-decoration: none;
      }
    }
    &__textOnImage-upper {
      position: absolute;
      top: 7px;
      left: 6px;
      right: 7px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 6px;
      left: 6px;
      right: 7px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }
    &__h-lower {
      @include g-font(16, 1);
      text-align: center;
      color: #553010;
      font-weight: bold;
      padding-top: 12px;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }

    // width variations
    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media2 {
    margin: 0 auto;
    color: #333;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 10px;
      text-align: center;
      color: #553010;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      position: relative;
      padding: 2px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/2/bg.png"), url("../imgs/t0-b-media/2/bg2.png"), url("../imgs/t0-b-media/2/bg3.png"), url("../imgs/t0-b-media/2/bg4.png"), url("../imgs/t0-b-media/2/bg5.png"), url("../imgs/t0-b-media/2/bg6.png"), url("../imgs/t0-b-media/2/bg7.png"), url("../imgs/t0-b-media/2/bg8.png");
      box-sizing: border-box;

      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        width: 100%;
        max-width: 100% !important;
      }
      a {
        text-decoration: none;
        display: block;
        color: $g-baseTextColor;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      padding-top: 14px;
      text-align: center;
      color: #553010;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    // width variations
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-media3 {
    margin: 0 auto;
    &__h-upper {
      @include g-font(16, 1);
      padding-bottom: 12px;
      text-align: center;
      color: #553010;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__media {
      text-align: center;
      padding: 2px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-media/3/bg.png"), url("../imgs/t0-b-media/3/bg2.png"), url("../imgs/t0-b-media/3/bg3.png"), url("../imgs/t0-b-media/3/bg4.png"), url("../imgs/t0-b-media/3/bg5.png"), url("../imgs/t0-b-media/3/bg6.png"), url("../imgs/t0-b-media/3/bg7.png"), url("../imgs/t0-b-media/3/bg8.png");
      box-sizing: border-box;
      > *, img {
        vertical-align: top;
      }
      > span {
        vertical-align: baseline;
      }
      img {
        width: 100%;
        max-width: 100% !important;
      }
      a {
        text-decoration: none;
        display: block;
        color: $g-baseTextColor;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__h-lower {
      @include g-font(16, 1);
      padding-top: 14px;
      text-align: center;
      color: #553010;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #553010;
      }
      div {
        display: inline-block;
      }
    }
    &__caption {
      padding-top: 10px;
      p {
        @include g-font(14, 1);
        text-align: center;
      }
      & + div {
        margin-top: 10px;
      }
    }
    // width variations
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }


  .t0-b-mediaOnly {

    img {
      width: 100%;
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
