@if $device == PC {

  .t0-b-navItem {
    $_block: &;
    display: table;
    width: 100%;
    margin: 0 auto;

    &--width-s {
      width: 50%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-l {
      width: 100%;
    }

    > a {
      display: block;
      box-sizing: border-box;
      color: #333;
      text-decoration: none;
      #{$_block}__inner:hover {
        > div {
            text-decoration: underline;
            color: #ee8100;
        }
      }
    }

    &__inner {
      display: table;
      width: 100%;
      color: #333;
      margin: 0 auto;

      #{$_block}--align-l & {
        margin: 0 auto 0 0;
      }
      #{$_block}--align-c & {
        margin: 0 auto;
      }
      #{$_block}--align-r & {
        margin: 0 0 0 auto;
      }
      > span {
        display: table-cell;
        padding-right: 8px;
        width: 24px;
        height: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-navItem/1/bg.png");

        #{$_block}--size-1 & {
          width: 19px;
          height: 19px;
          background-repeat: no-repeat;
          background-image: url("../imgs/t0-b-navItem/1/1.png");
        }
        #{$_block}--size-2 & {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-image: url("../imgs/t0-b-navItem/1/2.png");
        }
        #{$_block}--size-3 & {
          padding-right: 12px;
          background-repeat: no-repeat;
          background-image: url("../imgs/t0-b-navItem/1/3.png");
        }
        #{$_block}--size-4 & {
          padding-right: 16px;
          background-repeat: no-repeat;
          background-image: url("../imgs/t0-b-navItem/1/4.png");
        }
        #{$_block}--size-5 & {
          padding-right: 20px;
          background-repeat: no-repeat;
          background-image: url("../imgs/t0-b-navItem/1/5.png");
        }
      }
      > div {
        @include g-font(18, 0);
        text-decoration: underline;
        vertical-align: middle;

        #{$_block}--size-1 & {
          @include g-font(14, 1);
          padding: 0 0 2px;
        }
        #{$_block}--size-2 & {
          @include g-font(16, 1);
          padding: 1px 0 5px;
        }
        #{$_block}--size-3 & {
          @include g-font(18, 1);
          padding: 4px 0 5px;
        }
        #{$_block}--size-4 & {
          @include g-font(20, 1);
          padding: 5px 0;
        }
        #{$_block}--size-5 & {
          @include g-font(22, 1);
          padding: 5px 0;
        }
      }
    }
  }

  .t0-b-navItemDouble {
    display: flex;
    &__layout {
      padding-left: 4%;
      flex: 1 1 (100% / 2);
      &:first-child {
        padding-left: 0;
      }
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-navItem {
    $_block: &;
    display: table;
    margin: 0 auto;
    > a {
      display: block;
      box-sizing: border-box;
      color: #333;
    }
    #{$_block}__inner {
      display: table;
      width: 100%;
      color: #333;
      > span {
        display: table-cell;
        padding-right: 5px;
        width: 24px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-navItem/1/bg.png");
        vertical-align: middle;
      }
      > div {
        @include g-font(16, 0);
        display: table-cell;
        display: inline-block;
        text-decoration: underline;
      }
    }
    &--size-1 > a > div,
    &--size-2 > a > div,
    &--size-3 > a > div,
    &--size-4 > a > div,
    &--size-5 > a > div,
    &--size-1 > div,
    &--size-2 > div,
    &--size-3 > div,
    &--size-4 > div,
    &--size-5 > div {
      > div {
        padding: 0;
      }
    }

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-navItemDouble {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
