@if $device == PC {

  .t0-b-line {
    height: 7px;
    background-repeat: repeat-x;
    background-position: left bottom;
    background-image: url("../imgs/t0-b-line/bg.png");
  }
  hr {
    // visuallyhidden
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      // visuallyhidden
  }

}// PC


@if $device == SP {

  .t0-b-line {
    height: 7px;
    background-repeat: repeat-x;
    background-position: left bottom;
    background-image: url("../imgs/t0-b-line/bg.png");
    hr {
      // visuallyhidden
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      // visuallyhidden
    }
  }

}// SP
