@if $device == PC {

  .t0-b-iconText-tel {
    $_block: &;
    color: #ee8100;
    display: table;
    p {
      font-weight: bold;
      @include g-font-spacingKilled(14, 1);
      padding-bottom: 5px;
      color: #333;
      &:before,
      &:after {
        margin-top: 0;
      }
    }
    &__ruby {
      text-align: center;
      font-weight: bold;
    }
    &__bd {
      text-align: center;
      font-weight: bold;
      display: inline-block;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: left top;
    }
    &__wrap {
      display: table-cell;
      vertical-align: middle;
    }
    &__media {
      padding: 0 10px 0 0;
      display: table-cell;
      vertical-align: middle;
      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }
    // aligns
    &--align-l {
      margin: 0 auto 0 0;
      text-align: left;
    }
    &--align-c {
      margin: 0 auto;
      text-align: center;
    }
    &--align-r {
      margin: 0 0 0 auto;
      text-align: right;
    }
    //icon size
    &--size-1 {
      p {
        @include g-font-spacingKilled(12, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
        padding-bottom: 5px;
      }
      #{$_block}__ruby {
        @include g-font-spacingKilled(12, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
      #{$_block}__bd {
        @include g-font-spacingKilled(32, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }
      #{$_block}__icon {
        margin: 0 4px 0 0;
      }
      #{$_block}__tel {
        width: 24px;
        height: 24px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
      }
      #{$_block}__fax {
        width: 24px;
        height: 24px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
      }
      #{$_block}__free {
        width: 25px;
        height: 14px;
        background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
        margin-top: 9px;
      }
      #{$_block}__cell {
        width: 24px;
        height: 24px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
        margin-top: 0;
      }
    }
    &--size-2 {
      p {
        @include g-font-spacingKilled(14, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
        padding-bottom: 5px;
      }
      #{$_block}__ruby {
        @include g-font-spacingKilled(14, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
      #{$_block}__bd {
        @include g-font-spacingKilled(40, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }
      #{$_block}__icon {
        margin: 0 8px 0 0;
      }
      #{$_block}__tel {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/2.png");
      }
      #{$_block}__fax {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/2.png");
      }
      #{$_block}__free {
        width: 31px;
        height: 18px;
        margin-top: 9px;
        background-image: url("../imgs/t0-b-iconText/icons/free/2.png");
      }
      #{$_block}__cell {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/2.png");
        margin-top: 0;
      }
    }
    &--size-3 {
      p {
        @include g-font-spacingKilled(16, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
        padding-bottom: 5px;
      }
      #{$_block}__ruby {
        @include g-font-spacingKilled(16, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
      #{$_block}__bd {
        @include g-font-spacingKilled(46, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }
      #{$_block}__icon {
        margin: 0 10px 0 0;
      }
      #{$_block}__tel {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/3.png");
      }
      #{$_block}__fax {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/3.png");
      }
      #{$_block}__free {
        width: 37px;
        height: 21px;
        margin-top: 9px;
        background-image: url("../imgs/t0-b-iconText/icons/free/3.png");
      }
      #{$_block}__cell {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/3.png");
        margin-top: 0;
      }
    }
    &--size-4 {
      p {
        @include g-font-spacingKilled(16, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
        padding-bottom: 5px;
      }
      #{$_block}__ruby {
        @include g-font-spacingKilled(16, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
      #{$_block}__bd {
        @include g-font-spacingKilled(58, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }
      #{$_block}__icon {
        margin: 0 12px 0 0;
      }
      #{$_block}__tel {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/4.png");
      }
      #{$_block}__fax {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/4.png");
      }
      #{$_block}__free {
        width: 44px;
        height: 23px;
        margin-top: 14px;
        background-image: url("../imgs/t0-b-iconText/icons/free/4.png");
      }
      #{$_block}__cell {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/4.png");
        margin-top: 3px;
      }
    }
    &--size-5 {
      p {
        @include g-font-spacingKilled(18, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
        padding-bottom: 5px;
      }
      #{$_block}__ruby {
        @include g-font-spacingKilled(18, 1);
        &:before,
        &:after {
          margin-top: 0;
        }
      }
      #{$_block}__bd {
        @include g-font-spacingKilled(62, 1);
        line-height: 1;
        &:before,
        &:after {
          margin-top: 0;
        }
        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }
      #{$_block}__icon {
        margin: 0 12px 0 0;
      }
      #{$_block}__tel {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/5.png");
      }
      #{$_block}__fax {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/5.png");
      }
      #{$_block}__free {
        width: 53px;
        height: 29px;
        margin-top: 14px;
        background-image: url("../imgs/t0-b-iconText/icons/free/5.png");
      }
      #{$_block}__cell {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/5.png");
        margin-top: 0;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-iconText-tel {

    text-align: center;
    p {
      font-weight: bold;
      @include g-font(16, 1);
      padding-bottom: 15px;
    }
    a[href^=tel] {
      width: 95%;
      margin: 0 auto;
      background: linear-gradient(#fff, #f6f6f6, #eee);
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px 0 10px;
      word-break: break-all;
      vertical-align: top;
      display: block;
    }
    img {
      width: 25%;
    }
    &__bd {
      color: #ff0000;
      > span {
        vertical-align: middle;
      }
    }
    &__icon {
      display: inline-block;
      vertical-align: top;
    }
    &__ruby {
      @include g-font(12, 1);
    }
    &__bd {
      @include g-font(14, 1);
    }
    &__icon {
      padding: 0 3px 0 0;
      background-repeat: no-repeat;
    }
    &__tel {
      width: 16px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
      background-size: 16px 16px;
    }
    &__fax {
      width: 16px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
      background-size: 16px 16px;
    }
    &__free {
      width: 25px;
      height: 14px;
      background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
      background-position: left center;
    }
    &__cell {
      width: 7px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
      background-size: 7px 16px;
      margin-top: -4px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
