@if $device == PC {

  .t0-b-lv4H-voiceIcon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 59px;
      height: 57px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-voiceIcon/1.png");
      background-size: 59px 57px;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
               @include g-font(30, 1);
             } @else {
               @include g-font(26, 1);
             }
      color: #333;
      font-weight: bold;
    }
    &__caption-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: #{$_elementSpacing} 0 0;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &--size-1 {
      #{$_block}__icon {
        background-size: 59px*.8 57px*.8;
        width: 59px*.8;
        height: 57px*.8;
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 59px*1.2 57px*1.2;
        width: 59px*1.2;
        height: 57px*1.2;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      #{$_block}__h {
        &:hover {
          color: #ee8100;
        }
      }
    }
  }

  .t0-b-lv4H-voiceIcon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-voiceIcon/2.png");
      background-size: 60px;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
               @include g-font(30, 1);
             } @else {
               @include g-font(26, 1);
             }
      color: #333;
      font-weight: bold;
    }
    &__caption-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: #{$_elementSpacing} 0 0;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &--size-1 {
      #{$_block}__icon {
        background-size: 60px*.8;
        width: 60px*.8;
        height: 60px*.8;
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 60px*1.2;
        width: 60px*1.2;
        height: 60px*1.2;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      #{$_block}__h {
        &:hover {
          color: #ee8100;
        }
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv4H-voiceIcon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-position: 0 0;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-voiceIcon/1.png");
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(18, 1);
      font-weight: bold;
      color: #333;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
    }
  }

  .t0-b-lv4H-voiceIcon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-position: 0 0;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-voiceIcon/2.png");
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(18, 1);
      font-weight: bold;
      color: #333;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
    }
  }

}// SP
