@if $device == PC {

  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
               @include g-font(30, 1);
             } @else {
               @include g-font(26, 1);
             }
      color: #333;
    }
    &__caption-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: #{$_elementSpacing} 0 0;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 50px 48px;
      display: inline-block;
      width: 50px;
      height: 48px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &--size-1 {
      #{$_block}__icon {
        background-size: 50px*.8 48px*.8;
        width: 50px*.8;
        height: 48px*.8;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 50px*1.2 48px*1.2;
        width: 50px*1.2;
        height: 48px*1.2;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(34, 1);
        } @else {
          @include g-font(30, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      #{$_block}__h {
        &:hover {
          color: #ee8100;
        }
      }
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @if $layout == "N00" {
               @include g-font(30, 1);
             } @else {
               @include g-font(26, 1);
             }
      color: #333;
    }
    &__caption-lower {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding: #{$_elementSpacing} 0 0;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
               @include g-font(28, 1);
             } @else {
               @include g-font(24, 1);
             }
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 50px;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &--size-1 {
      #{$_block}__icon {
        background-size: 50px*.8;
        width: 50px*.8;
        height: 50px*.8;
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 50px*1.2;
        width: 50px*1.2;
        height: 50px*1.2;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      #{$_block}__h {
        &:hover {
          color: #ee8100;
        }
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(20, 1);
      color: #333;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 48px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }
    &__h {
      @include g-font(20, 1);
      color: #333;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }
    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$type}/#{$index}.png";
        background-image: url($_src);
      }
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
    }
  }

}// SP
