@if $device == PC {
  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength - 2}px;
    $_lineHeight: 1;
    color: #333;
    > div {
      display: inline-block;
    }

    &__iconPlacer,
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
    }

    &__caption-upper {
      @include g-font-layout(16, $_lineHeight, $layout);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font-layout(26, $_lineHeight, $layout);
      color: #333;
    }

    &__caption-lower {
      @include g-font-layout(16, $_lineHeight, $layout);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout(24, $_lineHeight, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout(24, $_lineHeight, $layout);
    }

    &__icon {
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 50px 48px;
      display: inline-block;
      width: 50px;
      height: 48px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--size-1 {
      #{$_block}__icon {
        background-size: 50px * .8 48px * .8;
        width: 50px * .8;
        height: 48px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font-layout(12, $_lineHeight, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout(12, $_lineHeight, $layout);
      }

      #{$_block}__h {
        @include g-font-layout(22, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout(20, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout(20, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__icon {
        background-size: 50px * 1.2 48px * 1.2;
        width: 50px * 1.2;
        height: 48px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font-layout(18, $_lineHeight, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout(18, $_lineHeight, $layout);
      }

      #{$_block}__h {
        @include g-font-layout(30, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout(28, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout(28, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        &:hover {
          color: $g-hoverColor;
        }
      }
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength - 2}px;
    $_lineHeight: 1;
    color: #333;
    > div {
      display: inline-block;
    }

    &__iconPlacer,
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
    }

    &__caption-upper {
      @include g-font-layout(16, $_lineHeight, $layout);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font-layout(26, $_lineHeight, $layout);
      color: #333;
    }

    &__caption-lower {
      @include g-font-layout(16, $_lineHeight, $layout);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout(24, $_lineHeight, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout(24, $_lineHeight, $layout);
    }

    &__icon {
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 50px;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--size-1 {
      #{$_block}__icon {
        background-size: 50px * .8;
        width: 50px * .8;
        height: 50px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font-layout(12, $_lineHeight, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout(12, $_lineHeight, $layout);
      }

      #{$_block}__h {
        @include g-font-layout(22, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout(20, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout(20, $_lineHeight, $layout);
      }
    }

    &--size-3 {
      #{$_block}__icon {
        background-size: 50px * 1.2;
        width: 50px * 1.2;
        height: 50px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font-layout(18, $_lineHeight, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout(18, $_lineHeight, $layout);
      }

      #{$_block}__h {
        @include g-font-layout(30, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout(28, $_lineHeight, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout(28, $_lineHeight, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        &:hover {
          color: $g-hoverColor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength - 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }

    &__iconPlacer,
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font(20, 1);
      color: #333;
      &::after {
        // Safariで最後の1文字が改行されないように
        content: ".";
        display: inline-block;
        width: 0;
        font-size: 0;
        color: transparent;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }

    &__icon {
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 48px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength - 2}px;
    color: #333;
    line-height: 0;
    > div {
      display: inline-block;
    }

    &__iconPlacer,
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font(20, 1);
      color: #333;
      &::after {
        // Safariで最後の1文字が改行されないように
        content: ".";
        display: inline-block;
        width: 0;
        font-size: 0;
        color: transparent;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }

    &__icon {
      $_types: number;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }
}
