@if $device == PC {

  .t0-b-navBItem#{$variation1of2} {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-navBItem#{$variation2of2} {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-navBItemDouble#{$variation1of2} {

  }

  .t0-b-navBItemDouble#{$variation2of2} {

  }

}// PC


@if $device == SP {

  .t0-b-navBItem#{$variation1of2} {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-navBItem#{$variation2of2} {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-navBItemDouble#{$variation1of2} {

  }

  .t0-b-navBItemDouble#{$variation2of2} {

  }

}// SP
