@if $device == PC {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;

    &--width-s {
      width: 50%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-l {
      width: 100%;
    }
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      display: block;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      display: table;
      width: 100%;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
      background-position: 50% top, left top, left bottom, right bottom, right top, left top, left bottom;
      background-image: url("../imgs/t0-b-navItemCaptioned/1/bg10.png"), url("../imgs/t0-b-navItemCaptioned/1/bg2.png"), url("../imgs/t0-b-navItemCaptioned/1/bg3.png"), url("../imgs/t0-b-navItemCaptioned/1/bg4.png"), url("../imgs/t0-b-navItemCaptioned/1/bg5.png"), url("../imgs/t0-b-navItemCaptioned/1/bg9.png"), url("../imgs/t0-b-navItemCaptioned/1/bg7.png");
      position: relative;
      color: #333;

      > span {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        top: 35px;
        bottom: 16px;
        left: 0;
        right: 0;
        background-repeat: no-repeat, repeat-y, repeat-y, repeat;
        background-position: 31px 11px, left top, right top, left top;
        background-image: url("../imgs/t0-b-navItemCaptioned/1/3.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");

        #{$_block}--size-1 & {
          background-position: 27px 3px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItemCaptioned/1/1.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");
        }
        #{$_block}--size-2 & {
          background-position: 32px 8px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItemCaptioned/1/2.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");
        }
        #{$_block}--size-3 & {
          background-position: 31px 11px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItemCaptioned/1/3.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");
        }
        #{$_block}--size-4 & {
          background-position: 30px 20px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItemCaptioned/1/4.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");
        }
        #{$_block}--size-5 & {
          background-position: 32px 23px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItemCaptioned/1/5.png"), url("../imgs/t0-b-navItemCaptioned/1/bg6.png"), url("../imgs/t0-b-navItemCaptioned/1/bg8.png"), url("../imgs/t0-b-navItemCaptioned/1/bg.png");
        }
      }
      > div {
        padding: 46px 43px 30px 48px;

        #{$_block}--size-1 & {
          padding: 38px 43px 21px 41px;
        }
        #{$_block}--size-2 & {
          padding: 44px 43px 25px 48px;
        }
        #{$_block}--size-3 & {
          padding: 46px 43px 30px 48px;
        }
        #{$_block}--size-4 & {
          padding: 54px 43px 35px 53px;
        }
        #{$_block}--size-5 & {
          padding: 59px 43px 40px 55px;
        }
      }
    }
    &__main {
      @include g-font(20, 1);
      position: relative;
      font-weight: bold;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;

      #{$_block}--size-1 & {
        @include g-font(16, 1);
      }
      #{$_block}--size-2 & {
        @include g-font(18, 1);
      }
      #{$_block}--size-3 & {
        @include g-font(20, 1);
      }
      #{$_block}--size-4 & {
        @include g-font(22, 1);
      }
      #{$_block}--size-5 & {
        @include g-font(24, 1);
      }
    }
    &__caption {
      padding: 11px 0 0;
      @include g-font(16, 1);
      position: relative;

      #{$_block}--size-1 & {
        padding: 3px 0 0;
        @include g-font(12, 1);
      }
      #{$_block}--size-2 & {
        padding: 7px 0 0;
        @include g-font(14, 1);
      }
      #{$_block}--size-3 & {
        padding: 11px 0 0;
        @include g-font(16, 1);
      }
      #{$_block}--size-4 & {
        padding: 8px 0 0;
        @include g-font(18, 1);
      }
      #{$_block}--size-5 & {
        padding: 17px 0 0;
        @include g-font(20, 1);
      }
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;

    &--width-s {
      width: 50%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-l {
      width: 100%;
    }
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      display: block;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      display: table;
      width: 100%;
      box-sizing: border-box;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom;
      background-image: url("../imgs/t0-b-navItemCaptioned/2/bg2.png"), url("../imgs/t0-b-navItemCaptioned/2/bg3.png"), url("../imgs/t0-b-navItemCaptioned/2/bg4.png"), url("../imgs/t0-b-navItemCaptioned/2/bg5.png"), url("../imgs/t0-b-navItemCaptioned/2/bg9.png"), url("../imgs/t0-b-navItemCaptioned/2/bg7.png");
      position: relative;
      border-radius: 16px;
      color: #333;

      > span {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        top: 14px;
        bottom: 14px;
        left: 0;
        right: 0;
        background-repeat: no-repeat, repeat-y, repeat-y, repeat;
        #{$_block}--size-1 & {
          background-position: 24px 13px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItem/3/1.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png"), url("../imgs/t0-b-navItemCaptioned/2/bg.png");
        }
        #{$_block}--size-2 & {
          background-position: 23px 12px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItem/3/2.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png"), url("../imgs/t0-b-navItemCaptioned/2/bg.png");
        }
        #{$_block}--size-3 & {
          background-position: 29px 11px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItem/3/3.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png"), url("../imgs/t0-b-navItemCaptioned/2/bg.png");
        }
        #{$_block}--size-4 & {
          background-position: 33px 16px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItem/3/4.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png"), url("../imgs/t0-b-navItemCaptioned/2/bg.png");
        }
        #{$_block}--size-5 & {
          background-position: 32px 14px, left top, right top, left top;
          background-image: url("../imgs/t0-b-navItem/3/5.png"), url("../imgs/t0-b-navItemCaptioned/2/bg6.png"), url("../imgs/t0-b-navItemCaptioned/2/bg8.png"), url("../imgs/t0-b-navItemCaptioned/2/bg.png");
        }
      }
      > div {
        #{$_block}--size-1 & {
          padding: 25px 29px 22px 52px;
        }
        #{$_block}--size-2 & {
          padding: 25px 29px 22px 52px;
        }
        #{$_block}--size-3 & {
          padding: 25px 29px 24px 58px;
        }
        #{$_block}--size-4 & {
          padding: 30px 29px 28px 68px;
        }
        #{$_block}--size-5 & {
          padding: 29px 29px 26px 68px;
        }
      }
    }//inner
    &__main {
      position: relative;
      font-weight: bold;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;

      #{$_block}--size-1 & {
        @include g-font(16, 1);
      }
      #{$_block}--size-2 & {
        @include g-font(18, 1);
      }
      #{$_block}--size-3 & {
        @include g-font(20, 1);
      }
      #{$_block}--size-4 & {
        @include g-font(22, 1);
      }
      #{$_block}--size-5 & {
        @include g-font(24, 1);
      }
    }
    &__caption {
      position: relative;

      #{$_block}--size-1 & {
        padding: 6px 0 0;
        @include g-font(12, 1);
      }
      #{$_block}--size-2 & {
        padding: 8px 0 0;
        @include g-font(14, 1);
      }
      #{$_block}--size-3 & {
        padding: 10px 0 0;
        @include g-font(16, 1);
      }
      #{$_block}--size-4 & {
        padding: 13px 0 0;
        @include g-font(18, 1);
      }
      #{$_block}--size-5 & {
        padding: 11px 0 0;
        @include g-font(20, 1);
      }
    }
  }
  .t0-b-navBItemCaptionedDouble{
    display: flex;
    &__layout {
      padding-left: 4%;
      flex: 1 1 (100% / 2);
      &:first-child {
        padding-left: 0;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #bda06d;
    background-repeat: no-repeat;
    background-size: 20px 20px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    > a {
      text-decoration: none;
      color: #333;
    }
    &__inner {
      padding: 12px 10px;
      margin-right: 10%;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      color: #333;
    }
    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      margin: 0 auto 0 0;
    }
    &--align-c {
      margin: 0 auto;
    }
    &--align-r {
      margin: 0 0 0 auto;
    }

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #ffcb51;
    background-repeat: no-repeat;
    background-size: 20px 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #eaae21;
    border-radius: 5px;
    > a {
      text-decoration: none;
      color: #333;
    }
    &__inner {
      padding: 12px 10px;
      margin-right: 10%;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      color: #333;
    }
    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptionedDouble{
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}// SP
