@if $device == PC {

  .t0-b-navBItem2Captioned#{$variation1of2} {
    a {
      display: block;
      color: #333;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      box-sizing: border-box;
      margin: 0 21px;
      color: #333;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-navItem2Captioned/1/bg.png"), url("../imgs/t0-b-navItem2Captioned/1/bg2.png"), url("../imgs/t0-b-navItem2Captioned/1/bg3.png"), url("../imgs/t0-b-navItem2Captioned/1/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-navItem2Captioned/1/bg5.png"), url("../imgs/t0-b-navItem2Captioned/1/bg7.png");
        position: absolute;
        top: 25px;
        bottom: 41px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-navItem2Captioned/1/bg6.png"), url("../imgs/t0-b-navItem2Captioned/1/bg8.png");
          position: absolute;
          top: -25px;
          bottom: -41px;
          left: 69px;
          right: 64px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-navItem2Captioned/1/bg9.png");
            position: absolute;
            top: 25px;
            bottom: 41px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__text {
      padding: 25px 0;
      text-align: center;
      position: relative;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url("../imgs/t0-b-navItem2Captioned/1/bg10.png");
    }
    &__caption-upper {
      @include g-font(16, 1);
      padding: 0 66px 5px 66px;
    }
    &__main {
      @include g-font(24, 1);
      font-weight: bold;
      padding: 0 66px;
      color: #333;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
    }
    &__caption-lower {
      @include g-font(16, 1);
      padding: 5px 66px 0 66px;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    a {
      display: block;
      color: #614123;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      box-sizing: border-box;
      margin: 0 27px;
      border-radius: 19px;
      color: #614123;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-navItem2Captioned/3/bg.png"), url("../imgs/t0-b-navItem2Captioned/3/bg2.png"), url("../imgs/t0-b-navItem2Captioned/3/bg3.png"), url("../imgs/t0-b-navItem2Captioned/3/bg4.png");
      position: relative;
      > span {
        background-repeat: no-repeat, repeat-y, repeat-y;
        background-position: left center, left top, right top;
        background-image: url("../imgs/t0-b-navItem2Captioned/3/bg10.png"), url("../imgs/t0-b-navItem2Captioned/3/bg5.png"), url("../imgs/t0-b-navItem2Captioned/3/bg7.png");
        position: absolute;
        top: 29px;
        bottom: 30px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-navItem2Captioned/3/bg6.png"), url("../imgs/t0-b-navItem2Captioned/3/bg8.png");
          position: absolute;
          top: -29px;
          bottom: -30px;
          left: 63px;
          right: 29px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-navItem2Captioned/3/bg9.png");
            position: absolute;
            top: 29px;
            bottom: 30px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__text {
      padding: 20px 0;
      text-align: center;
      position: relative;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url("../imgs/t0-b-navItem2Captioned/3/bg10.png");
    }
    &__caption-upper {
      @include g-font(16, 1);
      padding: 0 66px 5px 66px;
    }
    &__main {
      @include g-font(24, 1);
      font-weight: bold;
      padding: 0 66px;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
      text-decoration: none;
      color: #614123;
    }
    &__caption-lower {
      @include g-font(16, 1);
      padding: 5px 66px 0 66px;
    }
  }

}// PC


@if $device == SP {

  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png"), linear-gradient(#fff, #eae3db);
    background-color: #f2eee8;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    > a {
      text-decoration: none;
      color: #333;
    }
    &__inner {
      margin: 0 auto;
    }
    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    > a {
      text-decoration: none;
      color: #614123;
    }
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #ffcb51;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #eaae21;
    border-radius: 5px;

    &__inner {
      margin: 0 auto;
    }
    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }
    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -2px #fff, 1px -2px #fff, -1px 2px #fff, 1px 2px #fff, (-2px) -1px #fff, 2px -1px #fff, -2px 1px #fff, 2px 1px #fff, (-2px) -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }
  }

}// SP
