@if $device == PC {

  //frameOuterã®clearfix
  .frameOuter-clearfix.clearfix::after, .frameOuter-clearfix .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

  .t0-b-frameOuter#{$variation1of16} {

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    &__hd {
      text-align: center;
      color: $_textColor_hd;
      padding-bottom: 10px;
      &-h {
        text-align: center;
        h2 {
          @include g-font-layout($_fontSizePx_hd, $_lineHeightType, $layout);
        }
        &--size-1 {
          h2 {
            @include g-font-layout($_fontSizePx_hd - 2, $_lineHeightType, $layout);
          }
        }
        &--size-3 {
          h2 {
            @include g-font-layout($_fontSizePx_hd + 2, $_lineHeightType, $layout);
          }
        }
      }
      &-caption-upper {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 0 0 5px 0;
      }
      &-caption-lower {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 5px 0 0 0;
      }
    }
    &__bd {
      padding: 0;
    }
    &__ft {
      margin-top: 2%;
    }

  }

  .t0-b-frameOuter#{$variation2of16} {

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    &__hd {
      text-align: center;
      color: $_textColor_hd;
      padding-bottom: 10px;
      &-h {
        text-align: center;
        h2 {
          @include g-font-layout($_fontSizePx_hd, $_lineHeightType, $layout);
        }
        &--size-1 {
          h2 {
            @include g-font-layout($_fontSizePx_hd - 2, $_lineHeightType, $layout);
          }
        }
        &--size-3 {
          h2 {
            @include g-font-layout($_fontSizePx_hd + 2, $_lineHeightType, $layout);
          }
        }
      }
      &-caption-upper {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 0 0 5px 0;
      }
      &-caption-lower {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 5px 0 0 0;
      }
    }
    &__bd {
      box-sizing: border-box;
      margin: 0 auto;
      padding: 11% 2.5% 1.5%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frame/1/bg.png"), url("../imgs/t0-b-frame/1/bg2.png"), url("../imgs/t0-b-frame/1/bg3.png"), url("../imgs/t0-b-frame/1/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frame/1/bg5.png"), url("../imgs/t0-b-frame/1/bg7.png");
        position: absolute;
        top: 57px;
        bottom: 8px;
        left: 0;
        right: 0;
        > span {
          background-repeat: no-repeat, repeat-x, repeat-x;
          background-position: center top, left bottom, left top;
          background-image: url("../imgs/t0-b-frame/1/bg10.png"), url("../imgs/t0-b-frame/1/bg6.png"), url("../imgs/t0-b-frame/1/bg8.png");
          position: absolute;
          top: -57px;
          bottom: -8px;
          left: 8px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frame/1/bg9.png");
            position: absolute;
            top: 57px;
            bottom: 8px;
            left: 0;
            right: 0;
          }
        }
      }

      .t0-b-twoColsMedia {
        position: relative;
      }
    }

    &__ft {
      margin-top: 2%;
    }
  }

  .t0-b-frameOuter#{$variation3of16} {

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    &__hd {
      text-align: center;
      color: $_textColor_hd;
      padding-bottom: 10px;
      &-h {
        text-align: center;
        h2 {
          @include g-font-layout($_fontSizePx_hd, $_lineHeightType, $layout);
        }
        &--size-1 {
          h2 {
            @include g-font-layout($_fontSizePx_hd - 2, $_lineHeightType, $layout);
          }
        }
        &--size-3 {
          h2 {
            @include g-font-layout($_fontSizePx_hd + 2, $_lineHeightType, $layout);
          }
        }
      }
      &-caption-upper {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 0 0 5px 0;
      }
      &-caption-lower {
        @include g-font-layout($_fontSizePx_caption, $_lineHeightType, $layout);
        padding: 5px 0 0 0;
      }
    }
    &__bd {
      padding: 4%;
      box-sizing: border-box;
      margin: 0 auto;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frame/2/bg.png"), url("../imgs/t0-b-frame/2/bg2.png"), url("../imgs/t0-b-frame/2/bg3.png"), url("../imgs/t0-b-frame/2/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frame/2/bg5.png"), url("../imgs/t0-b-frame/2/bg7.png");
        position: absolute;
        top: 28px;
        bottom: 28px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-frame/2/bg6.png"), url("../imgs/t0-b-frame/2/bg8.png");
          position: absolute;
          top: -28px;
          bottom: -28px;
          left: 28px;
          right: 28px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frame/2/bg9.png");
            position: absolute;
            top: 28px;
            bottom: 28px;
            left: 0;
            right: 0;
          }
        }
      }

      .t0-b-twoColsMedia {
        position: relative;
      }
    }

    &__ft {
      margin-top: 2%;
    }
  }


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;
}

@if $device == SP {

  .t0-b-frameOuter#{$variation1of16} {
    &__hd {
      padding-bottom: 10px;
    }
    &__ft {
      margin-top: 20px;
    }

  }

  .t0-b-frameOuter#{$variation2of16} {

    margin: 0 -5px;

    &__hd {
      padding: 0 5px 10px;
    }

    &__bd {
      padding: 65px 15px 2px;
      box-sizing: border-box;
      margin: 0 auto;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frame/1/bg.png"), url("../imgs/t0-b-frame/1/bg2.png"), url("../imgs/t0-b-frame/1/bg3.png"), url("../imgs/t0-b-frame/1/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frame/1/bg5.png"), url("../imgs/t0-b-frame/1/bg7.png");
        position: absolute;
        top: 56px;
        bottom: 7px;
        left: 0;
        right: 0;
        > span {
          background-repeat: no-repeat, repeat-x, repeat-x;
          background-position: center top, left bottom, left top;
          background-image: url("../imgs/t0-b-frame/1/bg11.png"), url("../imgs/t0-b-frame/1/bg6.png"), url("../imgs/t0-b-frame/1/bg8.png");
          position: absolute;
          top: -56px;
          bottom: -7px;
          left: 7px;
          right: 8px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frame/1/bg9.png");
            position: absolute;
            top: 56px;
            bottom: 7px;
            left: 0;
            right: 0;
          }
        }
      }

      .t0-b-twoColsMedia {
        position: relative;
      }
    }

    &__ft {
      margin-top: 20px;
    }
  }

  .t0-b-frameOuter#{$variation3of16} {

    margin: 0 -5px;

    &__hd {
      padding: 0 5px 10px;
    }

    &__bd {
      padding: 30px 25px;
      max-width: 736px;
      box-sizing: border-box;
      margin: 0 auto;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-frame/2/bg.png"), url("../imgs/t0-b-frame/2/bg2.png"), url("../imgs/t0-b-frame/2/bg3.png"), url("../imgs/t0-b-frame/2/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-frame/2/bg5.png"), url("../imgs/t0-b-frame/2/bg7.png");
        position: absolute;
        top: 28px;
        bottom: 28px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: right bottom, right top;
          background-image: url("../imgs/t0-b-frame/2/bg6.png"), url("../imgs/t0-b-frame/2/bg8.png");
          position: absolute;
          top: -28px;
          bottom: -28px;
          left: 28px;
          right: 28px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-frame/2/bg9.png");
            position: absolute;
            top: 28px;
            bottom: 28px;
            left: 0;
            right: 0;
          }
        }
      }

      .t0-b-twoColsMedia {
        position: relative;
      }
    }

    &__ft {
      margin-top: 20px;
    }
  }


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;

    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;


    $_fontSizePx_hd: ######;
    $_fontSizePx_caption: ######;
    $_lineHeightType: 1;
    $_textColor_hd: ######;
}
