@if $device == PC {

  .t0-b-sideNavBItem#{$variation1of2} {
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      display: table;
      width: 100%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-navItem/2/bg.png"), url("../imgs/t0-b-navItem/2/bg2.png"), url("../imgs/t0-b-navItem/2/bg3.png"), url("../imgs/t0-b-navItem/2/bg4.png");
      position: relative;
      box-sizing: border-box;
      color: #fff;
      font-weight: bold;
      > span {
        display: table-cell;
        vertical-align: middle;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-navItem/2/bg5.png"), url("../imgs/t0-b-navItem/2/bg7.png");
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 0;
        right: 0;
         > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-navItem/2/bg6.png"), url("../imgs/t0-b-navItem/2/bg8.png");
          position: absolute;
          top: -12px;
          bottom: -12px;
          left: 31px;
          right: 15px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-navItem/2/bg9.png");
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        display: table-cell;
        vertical-align: middle;
        @include g-font(16, 1);
        position: relative;
        padding: 12px 10px 12px 39px;
        background-repeat: no-repeat;
        background-position: left 49%;
        background-image: url("../imgs/t0-b-navItem/2/bg10.png");
      }
    }
  }

  .t0-b-sideNavBItem#{$variation2of2} {
    a {
      display: block;
      text-decoration: none;
      color: #553010;
      font-weight: bold;
      &:hover {
        opacity: 0.8;
      }
    }
    &__inner {
      display: table;
      width: 100%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-navItem/3/bg.png"), url("../imgs/t0-b-navItem/3/bg2.png"), url("../imgs/t0-b-navItem/3/bg3.png"), url("../imgs/t0-b-navItem/3/bg4.png");
      position: relative;
      box-sizing: border-box;
      color: #553010;
      font-weight: bold;
      > span {
        display: table-cell;
        vertical-align: middle;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-navItem/3/bg5.png"), url("../imgs/t0-b-navItem/3/bg7.png");
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-navItem/3/bg6.png"), url("../imgs/t0-b-navItem/3/bg8.png");
          position: absolute;
          top: -12px;
          bottom: -12px;
          left: 31px;
          right: 15px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-navItem/3/bg9.png");
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        display: table-cell;
        vertical-align: middle;
        @include g-font(16, 1);
        position: relative;
        padding: 13px 10px 12px 39px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-navItem/3/bg10.png");
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideNavBItem#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #81674d;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
    }
    &__inner {
      border-radius: 5px;
      text-align: center;
      div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-sideNavBItem#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #ffcb51;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    border: 1px solid #ebaf24;
    color: #553010;
    a {
      text-decoration: none;
      color: #553010;
    }
    &__inner {
      border-radius: 5px;
      text-align: center;
      div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

}// SP
