@if $device == PC {

  .t0-b-sideBanner {
    margin: 0 auto;
    width: 100%;
    img {
      width: 100%;
      vertical-align: top;
      border: 1px solid #ae8b74;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

  .t0-b-sideBanner2 {
    margin: 0 auto;
    width: 100%;
    img {
      width: 100%;
      vertical-align: top;
      border-radius: 10px;
    }
    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// PC


@if $device == SP {

  .t0-b-sideBanner {
    margin: 0 auto;
    width: 100%;
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

  .t0-b-sideBanner2 {
    margin: 0 auto;
    width: 100%;
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      vertical-align: top;
      border-radius: 10px;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// SP
