@if $device == PC {

  .t0-b-sideFreeHtml {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px;
    > div {
      overflow: hidden;
    }
    &--width-100per {
      width: 100%;
    }
    &--width-90per {
      width: 90%;
    }
    &--width-80per {
      width: 80%;
    }
    &--width-70per {
      width: 70%;
    }
    .admin & {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #666;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// PC


@if $device == SP {

  .t0-b-sideFreeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }
    div {
      //border: 1px solid #a5a5a5
      color: #555;
      //overflow: hidden

    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// SP
