@if $device == PC {

  .t0-b-sideBoxLv1H#{$variation1of2} {
    padding: 10px 6px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right bottom, left bottom, right top;
    background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg4.png"), url("../imgs/t0-b-sideBoxLv1H/1/bg5.png"), url("../imgs/t0-b-sideBoxLv1H/1/bg6.png");
    position: relative;
    margin: 0 auto;
    color: #333;
    > span {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg2.png");
      position: absolute;
      top: 0;
      right: 1px;
      left: 2px;
      bottom: 0;
      pointer-events: none;
      > span {
        background-repeat: repeat-y;
        background-position: right top;
        background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg3.png");
        position: absolute;
        top: 2px;
        right: -1px;
        left: -2px;
        bottom: 2px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg.png");
          position: absolute;
          top: -2px;
          right: 1px;
          left: 0;
          bottom: 0;
        }
      }
    }
    h5 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      font-weight: bold;
      position: relative;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {
    padding: 6px 0 5px 6%;
    width: 94%;
    background-image: url("../imgs/t0-b-sideBoxLv1H/2/bg.png"), url("../imgs/t0-b-sideBoxLv1H/2/bg2.png");
    background-repeat: no-repeat, repeat-x;
    background-position: left center, left bottom;
    position: relative;
    margin: 0 auto;
    color: #333;
    h5 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }
  }

  .t0-b-sideBoxLv1H3 {
    padding: 9px 0 9px 6%;
    width: 94%;
    background-image: url("../imgs/t0-b-sideBoxLv1H/3/bg.png"), url("../imgs/t0-b-sideBoxLv1H/3/bg2.png"), url("../imgs/t0-b-sideBoxLv1H/3/bg2.png");
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-position: left center, left bottom, left top;
    position: relative;
    margin: 0 auto;
    color: #333;
    h5 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxLv1H#{$variation1of2} {
    padding: 13px 6px 10px 6px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right bottom, left bottom, right top;
    background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg4.png"), url("../imgs/t0-b-sideBoxLv1H/1/bg5.png"), url("../imgs/t0-b-sideBoxLv1H/1/bg6.png");
    position: relative;
    margin: 0 auto;
    color: #333;
    > span {
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg2.png");
      position: absolute;
      top: 0;
      right: 1px;
      left: 2px;
      bottom: 0;
      > span {
        background-repeat: repeat-y;
        background-position: right top;
        background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg3.png");
        position: absolute;
        top: 2px;
        right: -1px;
        left: -2px;
        bottom: 2px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-sideBoxLv1H/1/bg.png");
          position: absolute;
          top: -2px;
          right: 1px;
          left: 0;
          bottom: 0;
        }
      }
    }
    h5 {
      @include g-font(18, 1);
      font-weight: bold;
      position: relative;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {
    padding: 9px 0 9px 20px;
    background-image: url("../imgs/t0-b-sideBoxLv1H/2/bg.png"), url("../imgs/t0-b-sideBoxLv1H/2/bg2.png");
    background-repeat: no-repeat, repeat-x;
    background-position: left center, left bottom;
    position: relative;
    margin: 0 auto;
    color: #333;
    h5 {
      @include g-font(18, 1);
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

  .t0-b-sideBoxLv1H3 {
    padding: 11px 0 9px 6%;
    background-image: url("../imgs/t0-b-sideBoxLv1H/3/bg.png"), url("../imgs/t0-b-sideBoxLv1H/3/bg2.png"), url("../imgs/t0-b-sideBoxLv1H/3/bg2.png");
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-position: left center, left bottom, left top;
    position: relative;
    margin: 0 auto;
    color: #333;
    h5 {
      @include g-font(18, 1);
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

}// SP
