@if $device == PC {

  .t0-b-sideBoxText {
    @include g-font(16, 1);
    color: #333;
  }

  .t0-b-sideBoxText2 {
    color: #e07500;
    @include g-font(16, 1);
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxText {
    @include g-font(16, 1);
    color: #333;
  }

  .t0-b-sideBoxText2 {
    color: #e07500;
    @include g-font(16, 1);
  }

}// SP
