@if $device == PC {

  .t0-b-sideBoxTextStrong {
    font-weight: bold;
    @include g-font(16, 1);
    color: #333;
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxTextStrong {
    font-weight: bold;
    @include g-font(16, 1);
    color: #333;
  }

}// SP
