@if $device == PC {

  .t0-b-sideBoxIconText-tel {
    color: #e07500;
    font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    > div {
      display: inline-block;
    }
    &__ruby {
      @include g-font(14, 1);
      text-align: right;
    }
    &__bd {
      text-align: center;
      font-weight: bold;
      @if $layout == 'L30' or $layout == 'R30' {
        @include g-font(30, 1); // L30かR30で番号が折り返さない最大サイズ https://goo.gl/Ex1coV
      } @else {
        @include g-font(26, 1); // L25かR25で番号が折り返さない最大サイズ
      }
      margin-top: 3px;
      line-height: 1;
      display: flex;
      align-items: center;
    }
    &__icon {
      margin-bottom: 0;
      padding-right: 5px;
      background-repeat: no-repeat;
      width: 22px;
      height: 20px;

      & + span {
        display: inline;
        font-size: 90%; // ヒラギノ・11桁で折り返さないギリギリのサイズ
        vertical-align: top;
        padding-left: 5px;
      }
    }

    &__tel {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/tel/1.png");
      background-position: center 0;
    }
    &__fax {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/fax/1.png");
      background-position: center 0;
    }
    &__free {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/free/1.png");
      background-position: center 0;
    }
    &__cell {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/cell/1.png");
      background-position: center 0;
    }
  }

  .t0-b-sideBoxIconText-tel2 {
    color: #333;
    font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    > div {
      display: inline-block;
    }
    &__ruby {
      @include g-font(14, 1);
      text-align: right;
    }
    &__bd {
      text-align: center;
      font-weight: bold;
      @if $layout == 'L30' or $layout == 'R30' {
        @include g-font(30, 1); // L30かR30で番号が折り返さない最大サイズ https://goo.gl/Ex1coV
      } @else {
        @include g-font(26, 1); // L25かR25で番号が折り返さない最大サイズ
      }
      margin-top: 3px;
      line-height: 1;
      display: flex;
      align-items: center;
    }
    &__icon {
      margin-bottom: 0;
      padding-left: 5px;
      background-repeat: no-repeat;
      width: 22px;
      height: 20px;

      & + span {
        display: inline;
        font-size: 90%;
        vertical-align: top;
        padding-left: 5px;
      }
    }
    &__tel {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/tel/1.png");
      background-position: center 0;
    }
    &__fax {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/fax/1.png");
      background-position: center 0;
    }
    &__free {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/free/1.png");
      background-position: center 0;
    }
    &__cell {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/cell/1.png");
      background-position: center 0;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxIconText-tel {
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(#fff, #f6f6f6, #eee);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box;
    word-break: break-all;
    a {
      text-decoration: none;
    }
    &__ruby {
      @include g-font(12, 1);
      text-align: center;
    }
    &__bd {
      @include g-font(22, 1);
      text-align: center;
      color: #f00;
    }
    &__icon {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 20px;
    }
    &__tel {
      background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
    }
    &__fax {
      background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
    }
    &__free {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/free/1.png");
    }
    &__cell {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/cell/1.png");
    }
  }

  .t0-b-sideBoxIconText-tel2 {
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(#fff, #f6f6f6, #eee);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box;
    word-break: break-all;
    a {
      text-decoration: none;
    }
    &__ruby {
      @include g-font(12, 1);
      text-align: center;
    }
    &__bd {
      @include g-font(22, 1);
      text-align: center;
      color: #f00;
    }
    &__icon {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 20px;
    }
    &__tel {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/tel/1.png");
    }
    &__fax {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/fax/1.png");
    }
    &__free {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/free/1.png");
    }
    &__cell {
      background-image: url("../imgs/t0-b-sideBoxIconText/icons/cell/1.png");
    }
  }

}// SP
