@if $device == PC {

  .t0-b-sideBoxLabeledList#{$variation1of2} {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 2}px;
    color: #333;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }
    &__item-hd {
      padding-bottom: $_spacing_title;
      > div {
        display: inline-block;
        @include g-font(16, 1);
        background: #ffe297;
        border-radius: 10px;
        padding: 2px 10px;
      }
    }
    &__item-bd {
      @include g-font-spacingKilled(16, 1);
    }
  }

  .t0-b-sideBoxLabeledList#{$variation2of2} {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 2}px;
    color: #333;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }
    &__item-hd {
      margin-bottom: $_spacing_title;
      position: relative;
      display: inline-block;
      padding: 2px 10px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-sideBoxLabeledList/bg.png"), url("../imgs/t0-b-sideBoxLabeledList/bg2.png"), url("../imgs/t0-b-sideBoxLabeledList/bg3.png"), url("../imgs/t0-b-sideBoxLabeledList/bg4.png");
      position: relative;
      > div {
        @include g-font(16, 1);
        position: relative;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBoxLabeledList/bg5.png"), url("../imgs/t0-b-sideBoxLabeledList/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 11px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-sideBoxLabeledList/bg6.png"), url("../imgs/t0-b-sideBoxLabeledList/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -11px;
          left: 11px;
          right: 5px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-sideBoxLabeledList/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 11px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__item-bd {
      @include g-font-spacingKilled(16, 1);
      position: relative;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxLabeledList#{$variation1of2} {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 2}px;
    color: #333;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }
    &__item-hd {
      padding-bottom: $_spacing_title;
      > div {
        display: inline-block;
        @include g-font(16, 1);
        background: #ffe297;
        border-radius: 10px;
        padding: 3px 10px;
      }
    }
    &__item-bd {
      @include g-font-spacingKilled(16, 1);
    }
  }

  .t0-b-sideBoxLabeledList#{$variation2of2} {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 2}px;
    color: #333;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }
    &__item-hd {
      margin-bottom: $_spacing_title;
      position: relative;
      display: inline-block;
      padding: 3px 10px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-sideBoxLabeledList/bg.png"), url("../imgs/t0-b-sideBoxLabeledList/bg2.png"), url("../imgs/t0-b-sideBoxLabeledList/bg3.png"), url("../imgs/t0-b-sideBoxLabeledList/bg4.png");
      position: relative;
      > div {
        @include g-font(16, 1);
        position: relative;
      }
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBoxLabeledList/bg5.png"), url("../imgs/t0-b-sideBoxLabeledList/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 11px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-sideBoxLabeledList/bg6.png"), url("../imgs/t0-b-sideBoxLabeledList/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -11px;
          left: 11px;
          right: 5px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-sideBoxLabeledList/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 11px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__item-bd {
      @include g-font-spacingKilled(16, 1);
      position: relative;
    }
  }

}// SP
