@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: z(sideBoxFreeHtml, 0);
    // 動画挿入時の画面幅サイズ100%にするため、意図的にユニバーサルセレクタを使用
    > * {
      max-width: 100%;
      // スライド動画のスタイルを打ち消して中央寄せにする
      margin: 0 auto !important;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxFreeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      // 意図的にユニバーサルセレクタを使用
      > * {
        margin: 0 auto !important;
        // スライド動画のスタイルを打ち消して中央寄せにする
        max-width: 100% !important;
      }
    }

    div {
      color: #555;
    }
  }
}
