@if $device == PC {
  .t0-b-sideBoxNav {
    $_block: &;
    a {
      display: block;
      text-decoration: none;
      #{$_block}__inner:hover {
        > div {
          background-image: url("../imgs/t0-b-sideNavItem/1/bg3.png");
          color: #ee8100;
        }
      }
    }
    &__inner {
      display: table;
      width: 100%;
      box-sizing: border-box;
      color: #333;
      > span {
        display: table-cell;
        padding-right: 8px;
        width: 16px;
        height: 15px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItem/1/bg.png");
      }
      div {
        @include g-font(16, 0);
        display: inline;
        background-repeat: repeat-x;
        background-position: left bottom;
        background-image: url("../imgs/t0-b-sideNavItem/1/bg2.png");
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxNav {
    display: table;
    margin-left: 2.5%;
    a {
      display: block;
      text-decoration: none;
    }
    &__inner {
      display: table;
      width: 100%;
      box-sizing: border-box;
      color: #333;
      > span {
        display: table-cell;
        padding-right: 8px;
        width: 16px;
        height: 15px;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItem/1/bg.png");
      }
      div {
        display: inline-block;
        @include g-font(16, 0);
        background-repeat: repeat-x;
        background-position: left bottom;
        background-image: url("../imgs/t0-b-sideNavItem/1/bg2.png");
        font-weight: bold;
      }
    }
  }

}// SP
