@if $device == PC {

  .t0-b-lv1H-pageH#{$variation1of2} {
    $_block: &;
    width: 1062px;
    margin: 0 auto;
    a {
      text-decoration: none;
      position: relative;
      &:hover {
        #{$_block}__main {
          color: #ee8100;
        }
      }
    }
    > div {
      background-image: url("../imgs/t0-b-lv1H-pageH/bg.png"), url("../imgs/t0-b-lv1H-pageH/bg2.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left top, left bottom;
      position: relative;
      padding: 92px 36px 51px;
      min-height: 30px;
      > span {
        position: absolute;
        top: 69px;
        bottom: 25px;
        left: 0;
        right: 0;
        background-image: url("../imgs/t0-b-lv1H-pageH/bg3.png");
        background-repeat: repeat-y;
        background-position: left top;
      }
    }
    &__main {
      @include g-font(34, 1);
      font-weight: bold;
      color: #512f0f;
      position: relative;
    }
    &--align-l {
      text-align: left;
      position: relative;
    }
    &--align-c {
      text-align: center;
      position: relative;
    }
    &--align-r {
      text-align: right;
      position: relative;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    $_block: &;
    margin: 0 auto;
    padding-top: 10px;
    a {
      text-decoration: none;
      margin-left: 0;
      position: relative;
      &:hover {
        #{$_block}__main {
          color: #ee8100;
        }
      }
    }
    > div {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-lv1H-pageH/2/bg.png"), url("../imgs/t0-b-lv1H-pageH/2/bg2.png"), url("../imgs/t0-b-lv1H-pageH/2/bg3.png"), url("../imgs/t0-b-lv1H-pageH/2/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-lv1H-pageH/2/bg5.png"), url("../imgs/t0-b-lv1H-pageH/2/bg7.png");
        position: absolute;
        top: 14px;
        bottom: 18px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-lv1H-pageH/2/bg6.png"), url("../imgs/t0-b-lv1H-pageH/2/bg8.png");
          position: absolute;
          top: -14px;
          bottom: -18px;
          left: 8px;
          right: 18px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-lv1H-pageH/2/bg9.png");
            position: absolute;
            top: 14px;
            bottom: 18px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__main {
      @include g-font(34, 1);
      background-repeat: no-repeat;
      background-position: 0 center;
      background-image: url("../imgs/t0-b-lv1H-pageH/2/bg10.png");
      padding: 60px 90px;
      width: 1062px;
      box-sizing: border-box;
      margin: 0 auto;
      font-weight: bold;
      color: #512f0f;
      position: relative;
    }
    &--align-l {
      text-align: left;
      position: relative;
    }
    &--align-c {
      text-align: center;
      position: relative;
    }
    &--align-r {
      text-align: right;
      position: relative;
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv1H-pageH#{$variation1of2} {
    width: auto;
    margin: 0 -15px;
    > div {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-lv1H-pageH/3/bg.png"), url("../imgs/t0-b-lv1H-pageH/3/bg2.png"), url("../imgs/t0-b-lv1H-pageH/3/bg3.png"), url("../imgs/t0-b-lv1H-pageH/3/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-lv1H-pageH/3/bg5.png"), url("../imgs/t0-b-lv1H-pageH/3/bg7.png");
        position: absolute;
        top: 24px;
        bottom: 25px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-lv1H-pageH/3/bg6.png"), url("../imgs/t0-b-lv1H-pageH/3/bg8.png");
          position: absolute;
          top: -24px;
          bottom: -25px;
          left: 26px;
          right: 29px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-lv1H-pageH/3/bg9.png");
            position: absolute;
            top: 24px;
            bottom: 25px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__main {
      @include g-font(18, 1);
      padding: 35px 20px;
      font-weight: bold;
      color: #512f0f;
      position: relative;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    margin: 0 -15px;
    width: auto;
    a {
      text-decoration: none;
    }
    > div {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-lv1H-pageH/2/bg.png"), url("../imgs/t0-b-lv1H-pageH/2/bg2.png"), url("../imgs/t0-b-lv1H-pageH/2/bg3.png"), url("../imgs/t0-b-lv1H-pageH/2/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-lv1H-pageH/2/bg5.png"), url("../imgs/t0-b-lv1H-pageH/2/bg7.png");
        position: absolute;
        top: 14px;
        bottom: 18px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-lv1H-pageH/2/bg6.png"), url("../imgs/t0-b-lv1H-pageH/2/bg8.png");
          position: absolute;
          top: -14px;
          bottom: -18px;
          left: 8px;
          right: 18px;
          > span {
            background-repeat: no-repeat, repeat;
            background-position: left center, left top;
            background-image: url("../imgs/t0-b-lv1H-pageH/2/bg11.png"), url("../imgs/t0-b-lv1H-pageH/2/bg9.png");
            position: absolute;
            top: 14px;
            bottom: 18px;
            left: 0;
            right: 0;
          }
        }
      }
    }
    &__main {
      @include g-font(18, 1);
      padding: 35px 5px 35px 50px;
      font-weight: bold;
      color: #512f0f;
      position: relative;
    }
    &--align-l {
      text-align: left;
      position: relative;
    }
    &--align-c {
      text-align: center;
      position: relative;
    }
    &--align-r {
      text-align: right;
      position: relative;
    }
  }

}// SP
