@if $device == PC {
  .t0-b-headerMedia#{$variation3-1},
  .t0-b-headerMedia#{$variation3-2},
  .t0-b-headerMedia#{$variation3-3},
  .t0-b-headerMedia4 {
    margin: 0 auto;
    > div {
      width: 1079px;
      margin: 0 auto;
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
      a {
        display: block;
      }
    }
    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .t0-b-headerMedia#{$variation1of2} {
    padding-top: 10px;
    > div {
      padding: 20px 18px 22px 18px;
      width: 1043px;
      position: relative;
      > div {
        position: relative;
        width: 1043px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        > * {
          width: 100%;
        }
      }
      > span {
        background-image: url("../imgs/t0-b-headerMedia/bg.png"), url("../imgs/t0-b-headerMedia/bg2.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left top, left bottom;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 1;
        > span {
          position: absolute;
          left: 0;
          right: 0;
          top: 53px;
          bottom: 53px;
          width: 1079px;
          background-image: url("../imgs/t0-b-headerMedia/bg3.png");
          background-repeat: repeat-y;
          background-position: left top;
          pointer-events: none;
          > span {
            pointer-events: none;
            z-index: 1;
          }
        }
      }
    }
    img {
      border-radius: 10px;
      min-height: 50px;
      display: block;
      width: 1043px;
      height: auto;
      z-index: 2;
      position: relative;
    }
  }

  .t0-b-headerMedia#{$variation2of2} {
    > div {
      width: 1190px;
      position: relative;
      padding: 37px 0 40px 138px;
      background-image: url("../imgs/t0-b-headerMedia/bg4.png"), url("../imgs/t0-b-headerMedia/bg5.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left top, left bottom;
      > div {
        position: relative;
        width: 1060px;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-align: center;
        min-height: 300px;
        > * {
          width: 100%;
        }
      }
      > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 343px;
        width: 1328px;
        background-image: url("../imgs/t0-b-headerMedia/bg6.png");
        background-repeat: repeat-y;
        background-position: left top;
        pointer-events: none;
        > span {
          position: absolute;
          left: 0;
          right: 0;
          top: -80px;
          bottom: -21px;
          width: 1328px;
          background-image: url("../imgs/t0-b-headerMedia/bg7.png");
          background-repeat: no-repeat;
          background-position: left top;
          z-index: 99;
          pointer-events: none;
          > span {
            pointer-events: none;
          }
        }
      }
    }
    img {
      position: relative;
      min-height: 300px;
      width: 1060px;
      display: block;
      height: auto;
    }
  }

  .t0-b-headerMedia3 {
    > div {
      width: 1043px;
      position: relative;
      padding: 13px 13px 14px 13px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
      background-position: left top, left bottom, right bottom, right top, left top, left top, left bottom, right top;
      background-image: url("../imgs/t0-b-headerMedia/3/bg5.png"), url("../imgs/t0-b-headerMedia/3/bg6.png"), url("../imgs/t0-b-headerMedia/3/bg7.png"), url("../imgs/t0-b-headerMedia/3/bg8.png"), url("../imgs/t0-b-headerMedia/3/bg.png"), url("../imgs/t0-b-headerMedia/3/bg2.png"), url("../imgs/t0-b-headerMedia/3/bg3.png"), url("../imgs/t0-b-headerMedia/3/bg4.png");
      > div {
        position: relative;
        width: 1043px;
        margin: 0 auto !important;
        > * {
          width: 100%;
        }
      }
    }
    img {
      display: block;
      width: 1043px;
      height: auto;
    }
  }

  .t0-b-headerMedia4 {
    > div {
      width: 1062px;
      padding: 0;
      position: relative;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
      background-position: left top, left bottom, right bottom, right top, left top, left top, left bottom, right top;
      background-image: url("../imgs/t0-b-headerMedia/3/bg5.png"), url("../imgs/t0-b-headerMedia/3/bg6.png"), url("../imgs/t0-b-headerMedia/3/bg7.png"), url("../imgs/t0-b-headerMedia/3/bg8.png"), url("../imgs/t0-b-headerMedia/3/bg.png"), url("../imgs/t0-b-headerMedia/3/bg2.png"), url("../imgs/t0-b-headerMedia/3/bg3.png"), url("../imgs/t0-b-headerMedia/3/bg4.png");
      background: none;
      > div {
        position: relative;
        width: 1043px;
        margin: 0 auto !important;
        > * {
          width: 100%;
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}// PC


@if $device == SP {

  // Youtubeのレスポンシブ対応
  [class^=t0-b-headerMedia] {
    > div > div {
      max-height: 240px;
      iframe,
      object,
      embed {
        max-height: 240px;
        max-width: 100%;
      }
    }
  }

  .t0-b-headerMedia#{$variation3-1},
  .t0-b-headerMedia#{$variation3-2},
  .t0-b-headerMedia#{$variation3-3},
  .t0-b-headerMedia4 {
    text-align: center;
    margin: 0 -15px;
    overflow: auto;
    > div {
      width: 100%;
      margin: 0 auto;
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      > div {
        margin: 0 20px;
        overflow: auto;
        width: auto;
        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
        }
      }
    }
  }

}// SP
