@if $device == PC {

  .t0-b-headerMenu#{$variation1of2} {
    width: 100%;
    * {
      position: relative;
    }
    $_width_content: 1187px;
    background-repeat: repeat-x, repeat-x;
    background-position: left top, left bottom;
    background-image: url("../imgs/t0-b-headerMenu/1/1/bg.png"), url("../imgs/t0-b-headerMenu/1/1/bg2.png");
    position: relative;
    min-height: 66px;
    box-sizing: border-box;
    > span {
      background-repeat: repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-headerMenu/1/1/bg3.png");
      position: absolute;
      top: 6px;
      bottom: 11px;
      left: 0;
      right: 0;
    }
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          background-repeat: no-repeat;
          background-position: right center;
          background-image: url("../imgs/t0-b-headerMenu/1/1/bg4.png");
          &:first-child {
            background-repeat: no-repeat, no-repeat;
            background-position: right center, left center;
            background-image: url("../imgs/t0-b-headerMenu/1/1/bg4.png"), url("../imgs/t0-b-headerMenu/1/1/bg4.png");
          }
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .t0-b-headerMenu__item {
      div {
        text-align: center;
        color: #4d2a0e;
        font-weight: bold;
        @include g-font-spacingKilled(14, 1);
        padding: 0 20px;
        height: 63px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        > span {
          text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
        }
      }
      &:first-child {
        &:hover {
          > span {
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
            background-position: left top, left bottom, right bottom, right top;
            background-image: url("../imgs/t0-b-headerMenu/1/2/bg.png"), url("../imgs/t0-b-headerMenu/1/2/bg2.png"), url("../imgs/t0-b-headerMenu/1/2/bg3.png"), url("../imgs/t0-b-headerMenu/1/2/bg4.png");
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-y, repeat-y;
              background-position: left top, right top;
              background-image: url("../imgs/t0-b-headerMenu/1/2/bg5.png"), url("../imgs/t0-b-headerMenu/1/2/bg7.png");
              position: absolute;
              top: 19px;
              bottom: 17px;
              left: 0;
              right: 0;
              > span {
                background-repeat: repeat-x, repeat-x;
                background-position: left bottom, left top;
                background-image: url("../imgs/t0-b-headerMenu/1/2/bg6.png"), url("../imgs/t0-b-headerMenu/1/2/bg8.png");
                position: absolute;
                top: -19px;
                bottom: -17px;
                left: 24px;
                right: 24px;
                > span {
                  background-repeat: repeat;
                  background-position: left top;
                  background-image: url("../imgs/t0-b-headerMenu/1/2/bg9.png");
                  position: absolute;
                  top: 19px;
                  bottom: 17px;
                  left: 0;
                  right: 0;
                }
              }
            }
          }
        }
      }
      &:hover {
        > span {
          background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
          background-position: left top, left bottom, right bottom, right top;
          background-image: url("../imgs/t0-b-headerMenu/1/2/bg.png"), url("../imgs/t0-b-headerMenu/1/2/bg2.png"), url("../imgs/t0-b-headerMenu/1/2/bg3.png"), url("../imgs/t0-b-headerMenu/1/2/bg4.png");
          position: absolute;
          top: 7px;
          bottom: 7px;
          left: -3px;
          right: 0;
          > span {
            background-repeat: repeat-y, repeat-y;
            background-position: left top, right top;
            background-image: url("../imgs/t0-b-headerMenu/1/2/bg5.png"), url("../imgs/t0-b-headerMenu/1/2/bg7.png");
            position: absolute;
            top: 19px;
            bottom: 17px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-x, repeat-x;
              background-position: left bottom, left top;
              background-image: url("../imgs/t0-b-headerMenu/1/2/bg6.png"), url("../imgs/t0-b-headerMenu/1/2/bg8.png");
              position: absolute;
              top: -19px;
              bottom: -17px;
              left: 24px;
              right: 24px;
              > span {
                background-repeat: repeat;
                background-position: left top;
                background-image: url("../imgs/t0-b-headerMenu/1/2/bg9.png");
                position: absolute;
                top: 19px;
                bottom: 17px;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
    .state-em {
      &:first-child {
        > span {
          background-repeat: no-repeat, no-repeat;
          background-position: left bottom, right top;
          background-image: url("../imgs/t0-b-headerMenu/1/3/bg.png"), url("../imgs/t0-b-headerMenu/1/3/bg2.png");
          position: absolute;
          top: 7px;
          bottom: 7px;
          left: 0;
          right: 0;
          > span {
            background: none;
            > span {
              background: none;
            }
          }
        }
      }
      > span {
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right top;
        background-image: url("../imgs/t0-b-headerMenu/1/3/bg.png"), url("../imgs/t0-b-headerMenu/1/3/bg2.png");
        position: absolute;
        top: 7px;
        bottom: 7px;
        left: -3px;
        right: 0;
        > span {
          background: none;
          > span {
            background: none;
          }
        }
      }
    }
    .state-current {
      &:first-child {
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-headerMenu/1/4/bg.png");
          position: absolute;
          top: 5px;
          bottom: 3px;
          left: 2px;
          right: 3px;
          > span {
            background: none;
            > span {
              background: none;
            }
          }
        }
      }
      > span {
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-headerMenu/1/4/bg.png");
        position: absolute;
        top: 5px;
        bottom: 3px;
        left: -1px;
        right: 3px;
        > span {
          background: none;
          > span {
            background: none;
          }
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    * {
      position: relative;
    }
    margin: 0 auto;
    $_width_content: 1192px;
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    > div {
      width: $_width_content;
      margin: 0 auto;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-headerMenu/2/1/bg.png"), url("../imgs/t0-b-headerMenu/2/1/bg2.png"), url("../imgs/t0-b-headerMenu/2/1/bg3.png"), url("../imgs/t0-b-headerMenu/2/1/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-headerMenu/2/1/bg5.png"), url("../imgs/t0-b-headerMenu/2/1/bg7.png");
        position: absolute;
        top: 19px;
        bottom: 21px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-headerMenu/2/1/bg6.png"), url("../imgs/t0-b-headerMenu/2/1/bg8.png");
          position: absolute;
          top: -19px;
          bottom: -21px;
          left: 20px;
          right: 26px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-headerMenu/2/1/bg9.png");
            position: absolute;
            top: 19px;
            bottom: 21px;
            left: 0;
            right: 0;
          }
        }
      }
      > ul {
        display: table;
        min-height: 71px;
        width: 100%;
        > li {
          background-image: url("../imgs/t0-b-headerMenu/2/1/bg10.png");
          background-repeat: no-repeat;
          background-position: left center;
          display: table-cell;
          vertical-align: middle;
          &:first-child {
            background: none;
          }
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }
    .t0-b-headerMenu__item {
      @include g-font-spacingKilled(16, 1);
      div {
        text-align: center;
        color: #fff;
        font-weight: bold;
        padding: 0 20px;
        height: 72px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:hover {
          color: #ffe87d;
        }
        > span {
          text-shadow: 1px 1px #5e8019, -1px 1px #5e8019;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .state-em {
      position: relative;
      div {
        color: #28621d;
        &:hover {
          color: #28621d;
        }
        > span {
          text-shadow: none;
        }
      }
      a {
        color: #28621d;
        &:hover {
          color: #28621d;
          text-decoration: underline;
        }
      }
      > span {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-headerMenu/2/2/bg.png"), url("../imgs/t0-b-headerMenu/2/2/bg2.png"), url("../imgs/t0-b-headerMenu/2/2/bg3.png"), url("../imgs/t0-b-headerMenu/2/2/bg4.png");
        position: absolute;
        top: 9px;
        bottom: 11px;
        bottom: 6px\0;
        left: 5px;
        right: 0;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-headerMenu/2/2/bg5.png"), url("../imgs/t0-b-headerMenu/2/2/bg7.png");
          position: absolute;
          top: 19px;
          bottom: 13px;
          left: 0;
          right: 0;
          > span {
            background-repeat: repeat-x, repeat-x;
            background-position: left bottom, left top;
            background-image: url("../imgs/t0-b-headerMenu/2/2/bg6.png"), url("../imgs/t0-b-headerMenu/2/2/bg8.png");
            position: absolute;
            top: -19px;
            bottom: -13px;
            left: 30px;
            right: 20px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/2/2/bg9.png");
              position: absolute;
              top: 19px;
              bottom: 13px;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
    li {
      &:first-child[class~=".state-em"] {
        > span {
          background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
          background-position: left top, left bottom, right bottom, right top;
          background-image: url("../imgs/t0-b-headerMenu/2/2/bg.png"), url("../imgs/t0-b-headerMenu/2/2/bg2.png"), url("../imgs/t0-b-headerMenu/2/2/bg3.png"), url("../imgs/t0-b-headerMenu/2/2/bg4.png");
          position: absolute;
          top: 9px;
          bottom: 11px;
          bottom: 6px\0;
          left: 8px;
          right: 0;
          > span {
            background-repeat: repeat-y, repeat-y;
            background-position: left top, right top;
            background-image: url("../imgs/t0-b-headerMenu/2/2/bg5.png"), url("../imgs/t0-b-headerMenu/2/2/bg7.png");
            position: absolute;
            top: 19px;
            bottom: 13px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-x, repeat-x;
              background-position: left bottom, left top;
              background-image: url("../imgs/t0-b-headerMenu/2/2/bg6.png"), url("../imgs/t0-b-headerMenu/2/2/bg8.png");
              position: absolute;
              top: -19px;
              bottom: -13px;
              left: 30px;
              right: 20px;
              > span {
                background-repeat: repeat;
                background-position: left top;
                background-image: url("../imgs/t0-b-headerMenu/2/2/bg9.png");
                position: absolute;
                top: 19px;
                bottom: 13px;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
    .state-current {
      div {
        color: #28621d;
        &:hover {
          color: #28621d;
        }
        > span {
          text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
        }
      }
      a {
        &:hover {
          color: #28621d;
          text-decoration: underline;
        }
      }
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left top, left bottom;
        background-image: url("../imgs/t0-b-headerMenu/2/3/bg4.png"), url("../imgs/t0-b-headerMenu/2/3/bg6.png");
        position: absolute;
        top: 0;
        bottom: 0;
        bottom: -4px\0;
        left: 2px;
        right: -1px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-headerMenu/2/3/bg5.png");
          position: absolute;
          top: 14px;
          bottom: 19px;
          left: 0;
          right: 0;
          > span {
            background: none;
            > span {
              background: none;
            }
          }
        }
      }
    }
    li {
      &:first-child[class~="state-current"] {
        > span {
          background-repeat: no-repeat, no-repeat;
          background-position: left top, left bottom;
          background-image: url("../imgs/t0-b-headerMenu/2/3/bg.png"), url("../imgs/t0-b-headerMenu/2/3/bg2.png");
          position: absolute;
          top: 0;
          bottom: 0;
          bottom: -4px\0;
          left: 0;
          right: -1px;
          > span {
            background-repeat: repeat-y;
            background-position: left top;
            background-image: url("../imgs/t0-b-headerMenu/2/3/bg3.png");
            position: absolute;
            top: 14px;
            bottom: 19px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-x, repeat-x;
              background-position: left top, left bottom;
              background-image: url("../imgs/t0-b-headerMenu/2/3/bg4.png"), url("../imgs/t0-b-headerMenu/2/3/bg6.png");
              position: absolute;
              top: -14px;
              bottom: -19px;
              left: 20px;
              right: 0;
              > span {
                background-repeat: repeat;
                background-position: left top;
                background-image: url("../imgs/t0-b-headerMenu/2/3/bg5.png");
                position: absolute;
                top: 14px;
                bottom: 19px;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
      &:last-child[class~="state-current"] {
        > span {
          background-repeat: no-repeat, no-repeat;
          background-position: right top, right bottom;
          background-image: url("../imgs/t0-b-headerMenu/2/3/bg7.png"), url("../imgs/t0-b-headerMenu/2/3/bg8.png");
          position: absolute;
          top: 0;
          bottom: 0;
          left: 2px;
          right: 0;
          > span {
            background-repeat: repeat-y;
            background-position: right top;
            background-image: url("../imgs/t0-b-headerMenu/2/3/bg9.png");
            position: absolute;
            top: 14px;
            bottom: 19px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-x, repeat-x;
              background-position: left top, left bottom;
              background-image: url("../imgs/t0-b-headerMenu/2/3/bg4.png"), url("../imgs/t0-b-headerMenu/2/3/bg6.png");
              position: absolute;
              top: -14px;
              bottom: -19px;
              left: 0;
              right: 20px;
              > span {
                background-repeat: repeat;
                background-position: left top;
                background-image: url("../imgs/t0-b-headerMenu/2/3/bg5.png");
                position: absolute;
                top: 14px;
                bottom: 19px;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .t0-b-headerMenu3 {
    width: 100%;
    * {
      position: relative;
    }
    $_width_content: 1187px;
    background-repeat: repeat-x, repeat-x;
    background-position: left top, left bottom;
    background-image: url("../imgs/t0-b-headerMenu/3/1/bg.png"), url("../imgs/t0-b-headerMenu/3/1/bg2.png");
    position: relative;
    min-height: 73px;
    box-sizing: border-box;
    > span {
      background-repeat: repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-headerMenu/3/1/bg3.png");
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 0;
      right: 0;
    }
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        min-height: 45px;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }
    .t0-b-headerMenu__item {
      position: relative;
      font-weight: bold;
      div {
        text-align: center;
        color: #4d2a0e;
        @include g-font-spacingKilled(14, 1);
        line-height: 1.1;
        padding: 0 20px;
        height: 73px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        > span {
          text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff, (-1px) -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff, 1px 1px 1px #fff;
        }
      }
      > span {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-headerMenu/3/2/bg.png"), url("../imgs/t0-b-headerMenu/3/2/bg2.png"), url("../imgs/t0-b-headerMenu/3/2/bg3.png"), url("../imgs/t0-b-headerMenu/3/2/bg4.png");
        position: absolute;
        top: 11px;
        bottom: 11px;
        left: 3px;
        right: 3px;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-headerMenu/3/2/bg5.png"), url("../imgs/t0-b-headerMenu/3/2/bg7.png");
          position: absolute;
          top: 11px;
          bottom: 13px;
          left: 0;
          right: 0;
          > span {
            background-repeat: repeat-x, repeat-x;
            background-position: left bottom, left top;
            background-image: url("../imgs/t0-b-headerMenu/3/2/bg6.png"), url("../imgs/t0-b-headerMenu/3/2/bg8.png");
            position: absolute;
            top: -11px;
            bottom: -13px;
            left: 11px;
            right: 13px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/3/2/bg9.png");
              position: absolute;
              top: 11px;
              bottom: 13px;
              left: 0;
              right: 0;
            }
          }
        }
      }
      &:hover {
        position: relative;
        > span {
          background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
          background-position: left top, left bottom, right bottom, right top;
          background-image: url("../imgs/t0-b-headerMenu/3/3/bg.png"), url("../imgs/t0-b-headerMenu/3/3/bg2.png"), url("../imgs/t0-b-headerMenu/3/3/bg3.png"), url("../imgs/t0-b-headerMenu/3/3/bg4.png");
          position: absolute;
          top: 11px;
          bottom: 11px;
          left: 3px;
          right: 3px;
          > span {
            background-repeat: repeat-y, repeat-y;
            background-position: left top, right top;
            background-image: url("../imgs/t0-b-headerMenu/3/3/bg5.png"), url("../imgs/t0-b-headerMenu/3/3/bg7.png");
            position: absolute;
            top: 11px;
            bottom: 13px;
            left: 0;
            right: 0;
            > span {
              background-repeat: repeat-x, repeat-x;
              background-position: left bottom, left top;
              background-image: url("../imgs/t0-b-headerMenu/3/3/bg6.png"), url("../imgs/t0-b-headerMenu/3/3/bg8.png");
              position: absolute;
              top: -11px;
              bottom: -13px;
              left: 11px;
              right: 13px;
              > span {
                background-repeat: repeat;
                background-position: left top;
                background-image: url("../imgs/t0-b-headerMenu/3/3/bg9.png");
                position: absolute;
                top: 11px;
                bottom: 13px;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
    .state-em {
      position: relative;
      > span {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-headerMenu/3/4/bg.png"), url("../imgs/t0-b-headerMenu/3/4/bg2.png"), url("../imgs/t0-b-headerMenu/3/4/bg3.png"), url("../imgs/t0-b-headerMenu/3/4/bg4.png");
        position: absolute;
        top: 9px;
        bottom: 11px;
        left: 3px;
        right: 3px;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-headerMenu/3/4/bg5.png"), url("../imgs/t0-b-headerMenu/3/4/bg7.png");
          position: absolute;
          top: 12px;
          bottom: 11px;
          left: 0;
          right: 0;
          > span {
            background-repeat: no-repeat, repeat-x, repeat-x;
            background-position: center top, left bottom, left top;
            background-image: url("../imgs/t0-b-headerMenu/3/4/bg10.png"), url("../imgs/t0-b-headerMenu/3/4/bg6.png"), url("../imgs/t0-b-headerMenu/3/4/bg8.png");
            position: absolute;
            top: -12px;
            bottom: -11px;
            left: 11px;
            right: 12px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/3/4/bg9.png");
              position: absolute;
              top: 12px;
              bottom: 11px;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
    .state-current {
      position: relative;
      > span {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-headerMenu/3/5/bg.png"), url("../imgs/t0-b-headerMenu/3/5/bg2.png"), url("../imgs/t0-b-headerMenu/3/5/bg3.png"), url("../imgs/t0-b-headerMenu/3/5/bg4.png");
        position: absolute;
        top: 11px;
        bottom: 6px;
        left: 3px;
        right: 3px;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-headerMenu/3/5/bg5.png"), url("../imgs/t0-b-headerMenu/3/5/bg7.png");
          position: absolute;
          top: 11px;
          bottom: 18px;
          left: 0;
          right: 0;
          > span {
            background-repeat: no-repeat, repeat-x, repeat-x;
            background-position: center bottom, left bottom, left top;
            background-image: url("../imgs/t0-b-headerMenu/3/5/bg10.png"), url("../imgs/t0-b-headerMenu/3/5/bg6.png"), url("../imgs/t0-b-headerMenu/3/5/bg8.png");
            position: absolute;
            top: -11px;
            bottom: -18px;
            left: 11px;
            right: 12px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/3/5/bg9.png");
              position: absolute;
              top: 11px;
              bottom: 18px;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  .t0-b-headerMenu4 {

  }

  .t0-b-headerMenu5 {

  }

} // PC


@if $device == SP {

  .t0-b-headerMenu#{$variation1of2} {
    ul {
      padding: 5px 0;
    }
    background: #663f11;
    @include g-font-spacingKilled(12, 1);
    margin: 0 -15px;
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }
    a {
      color: #fff;
    }
    .state-em {
      font-weight: bold;
      > div,
      a > div {
        color: #68a617;
      }
      a {
        color: #4c8007;
      }
    }
    .state-current {
      font-weight: normal;
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #bda673;
          color: #4d2a0e;
        }
      }
      a {
        color: #4d2a0e;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    ul {
      padding: 5px 0;
    }
    margin: 0 -15px;
    background: #91b126;
    @include g-font-spacingKilled(12, 1);
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }
    a {
      color: #555;
    }
    .state-em {
      > div,
      a > div {
        &, &:hover {
          color: #28621d;
          font-weight: bold;
        }
      }
      a {
        color: #28621d;
        font-weight: bold;
      }
    }
    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #edd694;
          color: #28621d;
          font-weight: normal;
        }
      }
      a {
        &, &:hover {
          background: #edd694;
          color: #28621d;
          font-weight: normal;
        }
      }
    }
  }

  .t0-b-headerMenu3 {
    ul {
      padding: 5px 0;
    }
    margin: 0 -15px;
    background: #a88656;
    @include g-font-spacingKilled(12, 1);
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }
    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }
    a {
      color: #fff;
    }
    .state-em {
      > div,
      a > div {
        &, &:hover {}
        color: #f8c93a;
      }
      a {
        color: #f8c93a;
      }
    }
    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #f5db92;
          color: #4d2a0e;
          text-shadow: none;
        }
      }
      a {
        color: #4d2a0e;
        text-shadow: none;
      }
    }
  }

  .t0-b-headerMenu4 {

  }

  .t0-b-headerMenu5 {

  }

}// SP
