@if $device == PC {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    white-space: nowrap;
    width: 100%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-headerUnit-contact-nav/2/bg.png"), url("../imgs/t0-b-headerUnit-contact-nav/2/bg2.png"), url("../imgs/t0-b-headerUnit-contact-nav/2/bg3.png"), url("../imgs/t0-b-headerUnit-contact-nav/2/bg4.png");
    position: relative;
    color: #333;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-headerUnit-contact-nav/2/bg5.png"), url("../imgs/t0-b-headerUnit-contact-nav/2/bg7.png");
      position: absolute;
      top: 14px;
      bottom: 15px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-headerUnit-contact-nav/2/bg6.png"), url("../imgs/t0-b-headerUnit-contact-nav/2/bg8.png");
        position: absolute;
        top: -14px;
        bottom: -15px;
        left: 20px;
        right: 20px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-headerUnit-contact-nav/2/bg9.png");
          position: absolute;
          top: 14px;
          bottom: 15px;
          left: 0;
          right: 0;
        }
      }
    }
    a {
      display: table-cell;
      color: #333;
      text-decoration: none;
      position: relative;
      &:hover {
        opacity: 0.8;
      }
      p {
        display: table-cell;
        padding: 7px 10px 7px 0;
        @include g-font(14, 1);
        position: relative;
        width: 100%;
        text-align: left;
      }
    }
    div {
      display: table-cell;
      padding: 8px 4px 8px 10px;
      vertical-align: middle;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 14px;
        background: url("../imgs/t0-b-headerUnit-contact-nav/2/bg10.png") no-repeat 0 0;
      }
    }
    > p {
      display: table-cell;
      position: relative;
      background: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 7px 10px 7px 0;
      @include g-font(14, 1);
      width: 100%;
      text-align: left;
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    white-space: nowrap;
    width: 100%;
    background: #d8be78;
    border-radius: 14px;
    display: table;
    color: #562e00;
    a {
      display: table-cell;
      color: #562e00;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
      p {
        display: table-cell;
        padding: 7px 10px 7px 0;
        @include g-font(14, 1);
        width: 100%;
        text-align: left;
      }
    }
    div {
      display: table-cell;
      padding: 6px 0px 0px 10px;
      vertical-align: middle;
      &:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background: url("../imgs/t0-b-headerUnit-contact-nav/3/bg.png") no-repeat 0 0;
      }
    }
    > p {
      display: table-cell;
      padding: 7px 10px 7px 0;
      @include g-font(14, 1);
      width: 100%;
      text-align: left;
    }
  }

}// PC


@if $device == SP {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #f7d57b;
    background-repeat: no-repeat;
    background-size: 20px 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #f7d57b;
    border-radius: 5px;
    color: #333;
    a {
      text-decoration: none;
      color: #333;
      p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }
    > p {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png");
    background-color: #d8be78;
    background-repeat: no-repeat;
    background-size: 20px 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #d8be78;
    border-radius: 5px;
    color: #562e00;
    a {
      text-decoration: none;
      color: #562e00;
      p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }
    > p {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }
  }

}// SP
