@if $device == PC {

  .t0-b-headerUnit-contact-tel {
    margin: 0 auto;
    display: table;
    white-space: nowrap;
    $_block: &;
    color: #ee8100;
    &__ruby {
      text-align: right;
      padding: 0 0 7px;
    }
    &__bd {
      font-weight: bold;
      @include g-font(26, 1);
      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span, {
        font-size: 80%;
      }
      > span {
        vertical-align: middle;
        margin: (-14px) 8px 0 0;
        background-repeat: no-repeat;
        background-position: center 0;
        display: inline-block;
        &:last-child {
          margin: (-14px) 0 0 0;
        }
      }
    }
    &--size-1 {
      #{$_block}__bd {
        @include g-font(28, 1);
        #{$_block}__tel + span,
        #{$_block}__fax + span,
        #{$_block}__free + span,
        #{$_block}__cell + span, {
          font-size: 80%;
        }
      }
      #{$_block}__tel {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/2.png");
      }
      #{$_block}__fax {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/2.png");
      }
      #{$_block}__free {
        width: 31px;
        height: 18px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/2.png");
      }
      #{$_block}__cell {
        width: 28px;
        height: 28px;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/2.png");
      }
      #{$_block}__ruby {
        @include g-font(12, 1);
        padding: 0 0 7px;
      }
    }
    &--size-2 {
      #{$_block}__bd {
        @include g-font(38, 1);
        #{$_block}__tel + span,
        #{$_block}__fax + span,
        #{$_block}__free + span,
        #{$_block}__cell + span, {
          font-size: 80%;
        }
      }
      #{$_block}__tel {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/3.png");
      }
      #{$_block}__fax {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/3.png");
      }
      #{$_block}__free {
        width: 37px;
        height: 21px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/3.png");
      }
      #{$_block}__cell {
        width: 32px;
        height: 32px;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/3.png");
      }
      #{$_block}__ruby {
        @include g-font(16, 1);
      }
    }
    &--size-3 {
      #{$_block}__bd {
        @include g-font(46, 1);
        #{$_block}__tel + span,
        #{$_block}__fax + span,
        #{$_block}__free + span,
        #{$_block}__cell + span, {
          font-size: 80%;
        }
      }
      #{$_block}__tel {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/4.png");
      }
      #{$_block}__fax {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/4.png");
      }
      #{$_block}__free {
        width: 41px;
        height: 23px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/4.png");
      }
      #{$_block}__cell {
        width: 36px;
        height: 36px;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/4.png");
      }
      #{$_block}__ruby {
        @include g-font(20, 1);
      }
    }
    &--size-4 {
      #{$_block}__bd {
        @include g-font(58, 1);
        #{$_block}__tel + span,
        #{$_block}__fax + span,
        #{$_block}__free + span,
        #{$_block}__cell + span, {
          font-size: 80%;
        }
      }
      #{$_block}__tel {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-headerUnit-contact/tel/5.png");
      }
      #{$_block}__fax {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-headerUnit-contact/fax/5.png");
      }
      #{$_block}__free {
        width: 51px;
        height: 29px;
        background-image: url("../imgs/t0-b-headerUnit-contact/free/5.png");
      }
      #{$_block}__cell {
        width: 44px;
        height: 44px;
        background-image: url("../imgs/t0-b-headerUnit-contact/cell/5.png");
      }
      #{$_block}__ruby {
        @include g-font(24, 1);
      }
    }
    &__ruby {
      font-weight: bold;
      @include g-font(16, 1);
      padding: 0 0 5px;
    }
    &__bd {
      font-weight: bold;
      @include g-font(38, 1);
      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span, {
        font-size: 80%;
      }
      img {
        vertical-align: middle;
        margin: (-14px) 8px 0 0;
      }
    }
    &--size-1 {}
    &--size-2 {}
    &--size-3 {}
  }

}// PC


@if $device == SP {
  .t0-b-headerUnit-contact-tel {
    width: 95%;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #f6f6f6), to(#eee)) left top repeat;
    border: 1px solid #ccc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 10px 0;
    word-break: break-all;
    > div {
      vertical-align: top;
      text-align: center;
    }
    &__ruby {
      @include g-font(12, 1);
      text-align: center;
    }
    &__bd {
      @include g-font(22, 1);
      text-align: center;
      color: #ff0000;
      > span {
        vertical-align: middle;
        display: inline-block;
      }
    }
    &__icon {
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }
    &__tel {
      width: 16px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
      background-size: 16px 16px;
      padding: 0 5px 0 0;
      background-repeat: no-repeat;
    }
    &__fax {
      width: 16px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
      background-size: 16px 16px;
      padding: 0 5px 0 0;
      background-repeat: no-repeat;
    }
    &__free {
      width: 25px;
      height: 14px;
      background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
      padding: 0 5px 0 0;
      background-repeat: no-repeat;
      background-position: left center;
    }
    &__cell {
      width: 7px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
      background-size: 7px 16px;
      background-position: left center;
      padding: 0 5px 0 0;
      background-repeat: no-repeat;
      margin-top: -4px;
    }
  }

}// SP
