@if $device == PC {

  .t0-b-headerUnit-labeledList#{$variation1of2} {
    white-space: nowrap;
    color: #333;
    position: relative;
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    th {
      min-width: 65px;
      text-align: center;
      border-radius: 3px;
      padding: 4px 8px 3px;
      background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg2.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg2.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg3.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg4.png");
      position: relative;
      vertical-align: middle;
      display: inline-block;
      min-height: 18px;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg5.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 9px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg6.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -9px;
          left: 13px;
          right: 14px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 9px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        @include g-font(14, 0);
        position: relative;
      }
    }
    td {
      text-align: left;
      padding: 0 0 0 8px;
      @include g-font(14, 1);
      vertical-align: middle;
    }
  }

  .t0-b-headerUnit-labeledList#{$variation2of2} {
    white-space: nowrap;
    color: #333;
    position: relative;
    table {
      border-collapse: collapse;
    }
    th {
      min-width: 65px;
      text-align: center;
      border-radius: 3px;
      padding: 4px 8px 5px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-headerUnit-labeledList/2/bg.png"), url("../imgs/t0-b-headerUnit-labeledList/2/bg2.png"), url("../imgs/t0-b-headerUnit-labeledList/2/bg3.png"), url("../imgs/t0-b-headerUnit-labeledList/2/bg4.png");
      position: relative;
      vertical-align: middle;
      display: inline-block;
      min-height: 20px;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-headerUnit-labeledList/2/bg5.png"), url("../imgs/t0-b-headerUnit-labeledList/2/bg7.png");
        position: absolute;
        top: 5px;
        bottom: 15px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-headerUnit-labeledList/2/bg6.png"), url("../imgs/t0-b-headerUnit-labeledList/2/bg8.png");
          position: absolute;
          top: -5px;
          bottom: -15px;
          left: 5px;
          right: 6px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-headerUnit-labeledList/2/bg9.png");
            position: absolute;
            top: 5px;
            bottom: 15px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        @include g-font(14, 0);
        position: relative;
      }
    }
    td {
      text-align: left;
      padding: 0 0 3px 8px;
      @include g-font(14, 1);
      vertical-align: middle;
    }
  }

}// PC


@if $device == SP {

  .t0-b-headerUnit-labeledList#{$variation1of2} {
    word-break: break-all;
    width: 100%;
    color: #333;
    &--has-width {
      white-space: normal;
    }
    th,
    td {
      vertical-align: middle;
      @include g-font(16, 1);
    }
    th {
      width: 74px;
      text-align: center;
      border-radius: 3px;
      background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg2.png");
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg2.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg3.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg4.png");
      position: relative;
      vertical-align: middle;
      padding: 0 5px 0;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg5.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg7.png");
        position: absolute;
        top: 9px;
        bottom: 9px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg6.png"), url("../imgs/t0-b-headerUnit-labeledList/1/bg8.png");
          position: absolute;
          top: -9px;
          bottom: -9px;
          left: 13px;
          right: 14px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-headerUnit-labeledList/1/bg9.png");
            position: absolute;
            top: 9px;
            bottom: 9px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        position: relative;
      }
    }
    td {
      text-align: left;
      padding: 3px 0 3px 8px;
    }
  }

  .t0-b-headerUnit-labeledList#{$variation2of2} {
    word-break: break-all;
    width: 100%;
    color: #333;
    &--has-width {
      white-space: normal;
    }
    th,
    td {
      vertical-align: middle;
      @include g-font(16, 1);
    }
    th {
      width: 74px;
      text-align: center;
      padding: 0 5px 0;
      border-radius: 3px;
      position: relative;
      vertical-align: middle;
      background-color: #e3d6ad;
      > span {
        position: absolute;
        top: 5px;
        bottom: 15px;
        left: 0;
        right: 0;
        > span {
          position: absolute;
          top: -5px;
          bottom: -15px;
          left: 5px;
          right: 6px;
          > span {
            position: absolute;
            top: 5px;
            bottom: 15px;
            left: 0;
            right: 0;
          }
        }
      }
      div {
        position: relative;
      }
    }
    td {
      text-align: left;
      padding: 3px 0 3px 8px;
    }
  }

}// SP
