@if $device == PC {

  .t0-b-footerFreeHtml {
    width: 100%;
    min-width: 240px;
    margin: 0 auto;
    max-width: 1060px;
    box-sizing: border-box;
    &--width-100per {
      width: 100%;
    }
    &--width-90per {
      width: 90%;
    }
    $_width_content: 940px;
    div {
      padding: 1px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png");
      width: 100%;
      box-sizing: border-box;
      > * {
        width: 100%;
        margin: 0 auto !important;
      }
    }
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: $_width_content;
      margin: 0 auto;
      box-sizing: border-box;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

  .t0-b-footerUnit-freeHtml {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    div {
      width: 100%;
      box-sizing: border-box;
      > * {
        width: 100%;
        margin: 0 auto !important;
      }
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// PC


@if $device == SP {

  .t0-b-footerFreeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    div {
      //border: 1px solid #a5a5a5
      color: #555;
      width: 100%;
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

  .t0-b-footerUnit-freeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    div {
      //border: 1px solid #a5a5a5
      color: #555;
      width: 100%;
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// SP
