@if $device == PC {
  .t0-b-footerFreeHtml {
    width: 100%;
    min-width: 240px;
    margin: 0 auto;
    max-width: 1060px;
    box-sizing: border-box;
    $_width_content: 940px;
    div {
      padding: 1px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png");
      width: 100%;
      box-sizing: border-box;
      // 意図的にユニバーサルセレクタを使用
      > * {
        width: 100%;
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
      }
    }
  }

  .t0-b-footerFreeHtml2 {
    width: 100%;
    min-width: 240px;
    margin: 0 auto;
    box-sizing: border-box;
    $_width_content: 940px;
    div {
      padding: 1px;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg2.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png"), url("../imgs/t0-b-freeHtml/bg.png");
      width: 100%;
      box-sizing: border-box;
      // 意図的にユニバーサルセレクタを使用
      > * {
        width: 100%;
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
      }
    }
  }

  .t0-b-footerUnit-freeHtml {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    div {
      width: 100%;
      box-sizing: border-box;
      // 意図的にユニバーサルセレクタを使用
      > * {
        width: 100%;
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerFreeHtml {
    text-align: center;
    max-height: 240px;
    overflow: auto;
    padding: 0 5px;
    div {
      color: #555;
      width: 100%;
      // 意図的にユニバーサルセレクタを使用
      > * {
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
        width: 100% !important;
      }
    }
  }

  .t0-b-footerFreeHtml2 {
    text-align: center;
    max-height: 240px;
    overflow: auto;
    padding: 0 5px;
    div {
      color: #555;
      width: 100%;
      // 意図的にユニバーサルセレクタを使用
      > * {
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
        width: 100% !important;
      }
    }
  }

  .t0-b-footerUnit-freeHtml {
    text-align: center;
    max-height: 240px;
    overflow: auto;
    padding: 0 5px;
    div {
      color: #555;
      width: 100%;
      // 意図的にユニバーサルセレクタを使用
      > * {
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
        width: 100% !important;
      }
    }
  }
}
