@if $device == PC {

  .t0-b-footerUnit-media {
    &__media {
      text-align: center;
      position: relative;
      line-height: 0;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      a {
        color: $g-baseTextColor;
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(14, 1);
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg4.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 3px 6px, right bottom, left bottom;
          &:hover {
            color: #ee8100;
            background-image: url("../imgs/t0-b-footerUnit-media/bg2.png"), url("../imgs/t0-b-footerUnit-media/bg5.png");
            background-repeat: no-repeat, repeat-x;
            background-position: 3px 6px, left bottom;
          }
        }
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

  }

  .t0-b-footerUnit-media2 {
    &__media {
      text-align: center;
      position: relative;
      line-height: 0;
      border-radius: 50%;
      box-sizing: border-box;
      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        box-sizing: border-box;
      }
      a {
        color: $g-baseTextColor;
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 5px 10px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 15px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(14, 1);
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg4.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 3px 6px, right bottom, left bottom;
          &:hover {
            color: #ee8100;
            background-image: url("../imgs/t0-b-footerUnit-media/bg2.png"), url("../imgs/t0-b-footerUnit-media/bg5.png");
            background-repeat: no-repeat, repeat-x;
            background-position: 3px 6px, left bottom;
          }
        }
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

  }

  .t0-b-footerUnit-media3 {
    &__media {
      overflow: hidden;
      text-align: center;
      position: relative;
      line-height: 0;
      box-sizing: border-box;
      height: auto;
      transition: 0.5s ease;
      img {
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
      }
      a {
        color: $g-baseTextColor;
        display: block;
        transition: 0.5s ease;
        &:hover {
          opacity: .8;
          transform: scale(1.2);
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(14, 1);
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg4.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 3px 6px, right bottom, left bottom;
          &:hover {
            color: #ee8100;
            background-image: url("../imgs/t0-b-footerUnit-media/bg2.png"), url("../imgs/t0-b-footerUnit-media/bg5.png");
            background-repeat: no-repeat, repeat-x;
            background-position: 3px 6px, left bottom;
          }
        }
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }

  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-media {
    &__media {
      text-align: center;
      position: relative;
      line-height: 0;
      img {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(16, 1);
      text-align: center;
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, repeat-x;
          background-position: 3px 7px, left bottom;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-footerUnit-media2 {
    &__media {
      text-align: center;
      position: relative;
      line-height: 0;
      border-radius: 50%;
      box-sizing: border-box;
      img {
        width: 100%;
        display: block;
        border-radius: 50%;
        box-sizing: border-box;
      }
      a {
        text-decoration: none;
        display: block;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 5px 10px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        pointer-events: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 5px 15px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(16, 1);
      text-align: center;
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, repeat-x;
          background-position: 3px 7px, left bottom;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-footerUnit-media3 {
    &__media {
      text-align: center;
      position: relative;
      line-height: 0;
      img {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255,255,255,0.8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;
      @include g-font(16, 1);
      text-align: center;
      > div {
        > a {
          color: #333333;
          padding: 0 2px 2px 10px;
          text-decoration: none;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png"), url("../imgs/t0-b-footerUnit-media/bg3.png");
          background-repeat: no-repeat, repeat-x;
          background-position: 3px 7px, left bottom;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

}// SP
