@if $device == PC {

  .t0-b-footerMenu#{$variation1of2} {
    margin: 0 auto;
    $_width_content: 1062px;
    > div {
      width: $_width_content;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-footerMenu/1/bg.png"), url("../imgs/t0-b-footerMenu/1/bg2.png"), url("../imgs/t0-b-footerMenu/1/bg3.png"), url("../imgs/t0-b-footerMenu/1/bg4.png");
      position: relative;
      > span {
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-footerMenu/1/bg5.png"), url("../imgs/t0-b-footerMenu/1/bg7.png");
        position: absolute;
        top: 13px;
        bottom: 13px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-footerMenu/1/bg6.png"), url("../imgs/t0-b-footerMenu/1/bg8.png");
          position: absolute;
          top: -13px;
          bottom: -13px;
          left: 13px;
          right: 13px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-footerMenu/1/bg9.png");
            position: absolute;
            top: 13px;
            bottom: 13px;
            left: 0;
            right: 0;
          }
        }
      }
      min-height: 43px;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding: 13px 0;
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }
    .t0-b-footerMenu__item {
      display: table-cell;
      border-left: 1px solid #fff;
      vertical-align: middle;
      &:first-child {
        border-left: 0;
      }
      position: relative;
      div {
        text-align: center;
        padding: 2px 5px 2px;
        color: #fff;
        @include g-font-spacingKilled(14, 1);
        position: relative;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .state-em {
      div {
        color: #f9ff55;
      }
      a {
        color: #f9ff55;
      }
    }
  }

  .t0-b-footerMenu#{$variation2of2} {
    width: 100%;
    margin: 0 auto;
    $_width_content: 1062px;
    box-sizing: border-box;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-footerMenu/2/bg.png"), url("../imgs/t0-b-footerMenu/2/bg2.png"), url("../imgs/t0-b-footerMenu/2/bg3.png"), url("../imgs/t0-b-footerMenu/2/bg4.png");
    position: relative;
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-footerMenu/2/bg5.png"), url("../imgs/t0-b-footerMenu/2/bg7.png");
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-footerMenu/2/bg6.png"), url("../imgs/t0-b-footerMenu/2/bg8.png");
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: 10px;
        right: 10px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-footerMenu/2/bg9.png");
          position: absolute;
          top: 10px;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }
    }
    > div {
      min-height: 43px;
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding-top: 19px;
        padding-bottom: 7px;
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }
    .t0-b-footerMenu__item {
      display: table-cell;
      border-left: 1px solid #333;
      vertical-align: middle;
      &:first-child {
        border-left: 0;
      }
      position: relative;
      div {
        text-align: center;
        padding: 2px 5px 2px;
        color: #333;
        @include g-font-spacingKilled(14, 1);
      }
    }
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .state-em {
      div {
        font-weight: bold;
      }
      a {
        font-weight: bold;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerMenu#{$variation1of2} {
    ul {
      padding: 5px 10px;
    }
    width: auto;
    background: #7d9f0a;
    border: 1px solid #a3b84f;
    margin: 0 -15px;
    text-align: center;
    .t0-b-footerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 15px;
      display: inline-block;
      div {
        text-align: center;
        padding: 5px 0;
        @include g-font-spacingKilled(12, 1);
        text-decoration: underline;
      }
    }
    a {
      color: #fff;
    }
    .state-em {
      div {
        color: #f9ff55;
        font-weight: bold;
      }
      a {
        color: #f9ff55;
      }
    }
  }

  .t0-b-footerMenu#{$variation2of2} {
    ul {
      padding: 5px 10px;
    }
    width: auto;
    background: #f3f5e1;
    border: 1px solid #859f36;
    margin: 0 -15px;
    text-align: center;
    .t0-b-footerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 15px;
      display: inline-block;
      div {
        text-align: center;
        padding: 5px 0;
        @include g-font-spacingKilled(12, 1);
        text-decoration: underline;
      }
    }
    a {
      color: #333;
    }
    .state-em {
      div {
        color: #7d9f0a;
        font-weight: bold;
      }
      a {
        color: #7d9f0a;
      }
    }
  }

}// SP
