@if $device == PC {

  .t0-b-copyright {
    margin: 0 auto;
    background-image: url("../imgs/t0-b-copyright/bg.png");
    width: 100%;
    min-height: 36px;
    box-sizing: border-box;
    background-repeat: repeat-x;
    color: #fefefe;
    text-align: center;
    padding: 8.5px 210px 8.5px;
    @include g-font(14, 0);
    position: relative;
    > span {
      background-image: url("../imgs/t0-b-copyright/bg2.png");
      background-repeat: repeat;
      position: absolute;
      top: 39px;
      left: 0;
      right: 0;
      bottom: 0;
    }
    p {
      width: 980px;
      margin: 0 auto;
      position: relative;
    }
  }
}


@if $device == SP {

  .t0-b-copyright {
    margin: 0 -15px;
    background: #597207;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    @include g-font(12, 1);
    p {
      padding: 3px 0;
    }
  }

}
