@if $device == PC {

  .t0-b-footerUnit-nav {
    color: #333;
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      &:first-child {
        padding-left: 0;
      }
      a {
        display: block;
        color: #333;
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
          color: #ee8100;
        }
        p {
          padding: 0 0 0 25px;
          @include g-font-spacingKilled(14, 1);
          border-radius: 3px;
          background: #{image-url("t0-b-footerUnit-nav/1/bg.png")} no-repeat 0 center;
          min-height: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
      > p {
        padding: 0 0 0 25px;
        @include g-font-spacingKilled(14, 1);
        border-radius: 3px;
        text-decoration: underline;
        background: #{image-url("t0-b-footerUnit-nav/1/bg.png")} no-repeat 0 center;
        min-height: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-nav {
    color: #333;
    //white-space: nowrap
    &__item {
      display: table;
      margin: 0 auto;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: block;
        color: #333;
        text-decoration: underline;
        p {
          padding: 0 10px 0 25px;
          @include g-font-spacingKilled(16, 1);
          border-radius: 3px;
          background: #{image-url("t0-b-footerUnit-nav/1/bg.png")} no-repeat left center;
        }
      }
      > p {
        padding: 0 10px 0 25px;
        @include g-font-spacingKilled(16, 1);
        border-radius: 3px;
        text-decoration: underline;
        background: #{image-url("t0-b-footerUnit-nav/1/bg.png")} no-repeat left center;
      }
    }
  }

}// SP
