@if $device == PC {

  .t0-b-footerUnit-navB#{$variation1of2} {
    $_block: &;
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }
      > div {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-footerUnit-nav/2/bg.png"), url("../imgs/t0-b-footerUnit-nav/2/bg2.png"), url("../imgs/t0-b-footerUnit-nav/2/bg3.png"), url("../imgs/t0-b-footerUnit-nav/2/bg4.png");
        position: relative;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-footerUnit-nav/2/bg5.png"), url("../imgs/t0-b-footerUnit-nav/2/bg7.png");
          position: absolute;
          top: 13px;
          bottom: 13px;
          left: 0;
          right: 0;
          > span {
            background-repeat: repeat-x, repeat-x;
            background-position: left bottom, left top;
            background-image: url("../imgs/t0-b-footerUnit-nav/2/bg6.png"), url("../imgs/t0-b-footerUnit-nav/2/bg8.png");
            position: absolute;
            top: -13px;
            bottom: -13px;
            left: 18px;
            right: 18px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-footerUnit-nav/2/bg9.png");
              position: absolute;
              top: 13px;
              bottom: 13px;
              left: 0;
              right: 0;
            }
          }
        }
      }
      div {
        color: #333;
        @include g-font-spacingKilled(14, 1);
        font-weight: bold;
        border-radius: 13px;
        a {
          text-decoration: none;
          padding: 17px 12px;
          display: block;
          color: #333;
          &:hover {
            opacity: 0.8;
          }
          p {
            display: block;
            padding-left: 26px;
            position: relative;
            &:before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              height: 22px;
              margin: (-8px) 4px -6px -26px;
              background: #{image-url("t0-b-footerUnit-nav/2/bg10.png")} no-repeat 0 center;
            }
          }
        }
      }
      div > p {
        display: block;
        padding: 17px 12px;
        padding-left: 38px;
        position: relative;
        background: none;
        top: 0;
        bottom: 0;
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 22px;
          height: 22px;
          margin: (-8px) 4px -6px -26px;
          background: #{image-url("t0-b-footerUnit-nav/2/bg10.png")} no-repeat 0 center;
        }
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }
      > div {
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: left top, left bottom, right bottom, right top;
        background-image: url("../imgs/t0-b-footerUnit-nav/3/bg.png"), url("../imgs/t0-b-footerUnit-nav/3/bg2.png"), url("../imgs/t0-b-footerUnit-nav/3/bg3.png"), url("../imgs/t0-b-footerUnit-nav/3/bg4.png");
        position: relative;
        > span {
          background-repeat: repeat-y, repeat-y;
          background-position: left top, right top;
          background-image: url("../imgs/t0-b-footerUnit-nav/3/bg5.png"), url("../imgs/t0-b-footerUnit-nav/3/bg7.png");
          position: absolute;
          top: 13px;
          bottom: 13px;
          left: 0;
          right: 0;
          > span {
            background-repeat: repeat-x, repeat-x;
            background-position: left bottom, left top;
            background-image: url("../imgs/t0-b-footerUnit-nav/3/bg6.png"), url("../imgs/t0-b-footerUnit-nav/3/bg8.png");
            position: absolute;
            top: -13px;
            bottom: -13px;
            left: 18px;
            right: 18px;
            > span {
              background-repeat: repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-footerUnit-nav/3/bg9.png");
              position: absolute;
              top: 13px;
              bottom: 13px;
              left: 0;
              right: 0;
            }
          }
        }
      }
      div {
        color: #333;
        @include g-font-spacingKilled(14, 1);
        font-weight: bold;
        border-radius: 13px;
        a {
          text-decoration: none;
          padding: 17px 12px;
          display: block;
          color: #333;
          &:hover {
            opacity: 0.8;
          }
          p {
            display: block;
            padding-left: 26px;
            position: relative;
            &:before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              height: 22px;
              margin: (-8px) 4px -6px -26px;
              background: #{image-url("t0-b-footerUnit-nav/3/bg10.png")} no-repeat 0 center;
            }
          }
        }
      }
      div > p {
        display: block;
        padding: 17px 12px;
        padding-left: 38px;
        position: relative;
        background: none;
        top: 0;
        bottom: 0;
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 22px;
          height: 22px;
          margin: (-8px) 4px -6px -26px;
          background: #{image-url("t0-b-footerUnit-nav/3/bg10.png")} no-repeat 0 center;
        }
      }
    }
  }

}    // PC


@if $device == SP {

  .t0-b-footerUnit-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png");
      background-color: #cbaf89;
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #9b7541;
      border-radius: 5px;
      margin-top: 10px;
      color: #333;
      &:first-child {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        color: #333;
        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }
      div > p {
        &:last-child {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png");
      background-color: #9dc147;
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #78a33f;
      border-radius: 5px;
      margin-top: 10px;
      color: #333;
      &:first-child {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        color: #333;
        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }
      div > p {
        &:last-child {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }
    }
  }

} // SP
