@if $device == PC {

  .t0-b-footerUnit-siteTitle {
    white-space: nowrap;
    color: #333;
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        height: 45px;
        width: auto;
        max-width: 160px;
      }
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
        img {
          opacity: 0.8;
        }
      }
    }
    &__bd-note {
      @include g-font(14, 1);
    }
    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }
    &__bd-note + &__bd-siteName {
      @include g-font(24, 1);
      font-weight: bold;
    }
    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-siteTitle {
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        height: 45px;
        max-width: 160px;
      }
    }
    a {
      text-decoration: none;
      color: #333;
    }
    &__bd-note {
      @include g-font(14, 1);
    }
    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }
    &__bd-note + &__bd-siteName {
      @include g-font(24, 1);
    }
    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
    }
  }

}// SP
