@if $device == PC {

  .t0-b-footerUnit-siteName2 {
    &__bd {
      img {
        display: block;
        max-width: 100%;
        width: 100%;
      }
    }
    &__ft {
      @include g-font-spacingKilled(14, 1);
      color: #333;
      padding: 10px 0 0;
    }
    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-siteName2 {
    &__bd {
      img {
        display: block;
        width: 100%;
      }
    }
    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 10px 0 0;
    }
    &--width-s {}
    &--width-m {}
    &--width-l {}
  }

}// SP
