@if $device == PC {
  .t0-b-footerUnit-lv2H {
    $_lineHeight: 1;
    width: 100%;
    display: table;
    position: relative;
    min-height: 17px;
    padding: 10px 0;
    color: #333;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-footerUnit-lv2H/bg.png"), url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg3.png"), url("../imgs/t0-b-footerUnit-lv2H/bg4.png");
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg5.png"), url("../imgs/t0-b-footerUnit-lv2H/bg7.png");
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-footerUnit-lv2H/bg6.png"), url("../imgs/t0-b-footerUnit-lv2H/bg8.png");
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: 14px;
        right: 14px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-footerUnit-lv2H/bg9.png");
          position: absolute;
          top: 10px;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }
    }

    h5 {
      padding: 0 10px;
      font-weight: bold;
      position: relative;
      @include g-font-layout(16, $_lineHeight, $layout);
      white-space: nowrap;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      display: inline;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    position: relative;
    min-height: 17px;
    padding: 8px 10px;
    color: #333;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-footerUnit-lv2H/bg.png"), url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg3.png"), url("../imgs/t0-b-footerUnit-lv2H/bg4.png");
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg5.png"), url("../imgs/t0-b-footerUnit-lv2H/bg7.png");
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-footerUnit-lv2H/bg6.png"), url("../imgs/t0-b-footerUnit-lv2H/bg8.png");
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: 14px;
        right: 14px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-footerUnit-lv2H/bg9.png");
          position: absolute;
          top: 10px;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }
    }

    h5 {
      font-weight: bold;
      position: relative;
      @include g-font(18, 1);
      color: #333;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      display: inline;
      color: #333;
    }
  }
}
