@if $device == PC {

  .t0-b-footerUnit-lv2H {position: relative;
  min-height: 17px;
  padding: 10px;
  color: #333;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top, left bottom, right bottom, right top;
  background-image: url("../imgs/t0-b-footerUnit-lv2H/bg.png"), url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg3.png"), url("../imgs/t0-b-footerUnit-lv2H/bg4.png");
  > span {
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
    background-image: url("../imgs/t0-b-footerUnit-lv2H/bg5.png"), url("../imgs/t0-b-footerUnit-lv2H/bg7.png");
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 0;
    right: 0;
    > span {
      background-repeat: repeat-x, repeat-x;
      background-position: left bottom, left top;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg6.png"), url("../imgs/t0-b-footerUnit-lv2H/bg8.png");
      position: absolute;
      top: -11px;
      bottom: -11px;
      left: 15px;
      right: 15px;
      > span {
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-footerUnit-lv2H/bg9.png");
        position: absolute;
        top: 11px;
        bottom: 11px;
        left: 0;
        right: 0;
      }
    }
  }
  h5 {
    font-weight: bold;
    position: relative;
    @if $layout == "N00" {
             @include g-font(20, 1);
           } @else {
             @include g-font(16, 1);
           }
    white-space: nowrap;
  }
  &--align-l {
    text-align: left;
  }
  &--align-c {
    text-align: center;
  }
  &--align-r {
    text-align: right;
  }
  a {
    text-decoration: none;
    display: inline;
    color: #333;
    &:hover {
      color: #ee8100;
    }
  }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-lv2H {
    position: relative;
    min-height: 17px;
    padding: 8px 10px;
    color: #333;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-footerUnit-lv2H/bg.png"), url("../imgs/t0-b-footerUnit-lv2H/bg2.png"), url("../imgs/t0-b-footerUnit-lv2H/bg3.png"), url("../imgs/t0-b-footerUnit-lv2H/bg4.png");
    > span {
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-footerUnit-lv2H/bg5.png"), url("../imgs/t0-b-footerUnit-lv2H/bg7.png");
      position: absolute;
      top: 11px;
      bottom: 11px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-footerUnit-lv2H/bg6.png"), url("../imgs/t0-b-footerUnit-lv2H/bg8.png");
        position: absolute;
        top: -11px;
        bottom: -11px;
        left: 15px;
        right: 15px;
        > span {
          background-repeat: repeat;
          background-position: left top;
          background-image: url("../imgs/t0-b-footerUnit-lv2H/bg9.png");
          position: absolute;
          top: 11px;
          bottom: 11px;
          left: 0;
          right: 0;
        }
      }
    }
    h5 {
      font-weight: bold;
      position: relative;
      @include g-font(18, 1);
      color: #333;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      display: inline;
      color: #333;
    }
  }

}// SP
