@if $device == PC {

  .t0-b-footerUnit-lv1H {
    h4 {
      @if $layout == "N00" {
               @include g-font(20, 1);
             } @else {
               @include g-font(16, 1);
             }
      padding-bottom: 10px;
      white-space: nowrap;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-footerUnit-lv1H/bg.png");
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #ee8100;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-lv1H {
    h4 {
      @include g-font(16, 1);
      padding-bottom: 10px;
      color: #333;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-footerUnit-lv1H/bg.png");
      font-weight: bold;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  }

}// SP
