@if $device == PC {

  $fullWidthBgColor: rgba(146, 138, 76, 0.1);
  $fullWidthBgColor2: rgba(226, 156, 43, 0.2);
  $fullWidthBgColor3: rgba(103, 71, 32, 0.35);
  $fullWidthBgColor4: rgba(97, 130, 0, 0.75);
  $fullWidthBgColor5: transparent;

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    padding: 40px 1000px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;

    @if $layout == "L25" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "L30" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "N00" {
      margin: 0 (-1000px - $areaSubWidth / 2);
      padding: 40px (1000px + $areaSubWidth / 2);
    } @else if $layout == "R25" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    } @else if $layout == "R30" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    }
  }

  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame10 {
    @if $layout == "L25" {
      margin-left: -1000px;
    } @else if $layout == "L30" {
      margin-left: -1000px;
    } @else if $layout == "N00" {
      margin: 0 -1000px;
    } @else if $layout == "R25" {
      margin-right: -1000px;
    } @else if $layout == "R30" {
      margin-right: -1000px;
    }
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth
      } @else {
        width: $areaMainWidth
      }
    }
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    padding: 75px 1035px;
    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 40px;
      bottom: 40px;
      left: 1000px;
      right: 1000px;
      border-radius: 10px;
    }
    * {
      position: relative;
    }
    @if $layout == "N00" {
      padding: 75px (1035px + $areaSubWidth / 2);
      &::before {
        left: 1000 + $areaSubWidth / 2;
        right: 1000 + $areaSubWidth / 2;
      }
    }
  }

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &:before {
      background: url("../imgs/area-all/bg.png");
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }

  .area-main {

  }

}// PC


@if $device == SP {

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    margin: 0 -15px;
    padding: 40px 15px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    padding: 40px 35px;

    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      border-radius: 10px;
    }
    * {
      position: relative;
    }
  }


  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }

  .area-main {
  }

}// SP
