@if $device == PC {
  .t0-b-frame2 {
    &__bd {
      padding: 2.5% 2.5% 1%;
      margin-bottom: 2%;
      background: $frame2_backgroundColor;
      border: 1px solid $frame2_borderColor;
    }

    &__ft {
      margin-top: 2%;
    }
  }

  .t0-b-frameTransparency {
    min-height: 30px;
    &__bd {
      padding: 0;
    }
  }
}

@if $device == SP {
  .t0-b-frame2 {
    margin: 0 -5px;
    &__hd {
      //
    }

    &__bd {
      padding: 20px 20px 10px;
      background: $frame2_backgroundColor;
      border: 1px solid $frame2_borderColor;
    }

    &__ft {
      margin-top: 20px;
    }
  }
}
