@if $device == PC {
  .b-breadcrumbs {
    $_fontSize: 16;
    text-align: right;
    > div {
      @include g-font($_fontSize);
    }

    &__item {
      display: inline-block;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 12px;
        background-image: url("https://placehold.jp/8x12.png");
        background-size: contain;
      }

      &:first-child {
        &::before {
          content: none;
        }
      }
    }

    &--inMain {
      margin-bottom: 15px;
      > div {
        width: 100%;
      }
    }

    &--inHeader {
      margin: 15px 0;
      > div {
        width: 1100px;
      }
    }

    em {
      font-style: normal;
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@if $device == SP {
  .b-breadcrumbs {
    $_fontSize: 14;
    text-align: right;
    > div {
      @include g-font($_fontSize);
    }

    &__item {
      display: inline-block;
      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 12px;
        background-image: url("https://placehold.jp/8x12.png");
        background-size: contain;
      }

      &:first-child {
        &::before {
          content: none;
        }
      }
    }

    &--inMain > div {
      width: 100%;
    }

    &--inHeader > div {
      width: 100%;
    }

    em {
      font-style: normal;
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }
}
