@if $device == PC {
  .t0-b-orderedList {
    li {
      display: table;
    }

    &__num {
      display: table-cell;
      text-align: center;
      @include g-font(20, 1);
    }

    &__text {
      @include g-font(16, 1);
      display: table-cell;
      vertical-align: top;
    }

    a {
      color: inherit;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-orderedList {
    li {
      display: table;
    }

    &__num {
      box-sizing: border-box;
      display: table-cell;
      text-align: center;
      vertical-align: top;
      @include g-font(20, 1);
    }

    &__text {
      @include g-font(16, 1);
      display: table-cell;
      vertical-align: top;
    }

    a {
      color: inherit;
    }
  }
}
