@if $device == PC {
  .t0-b-labeledList {
    th {
      text-align: left;
      vertical-align: top;
      div {
        @include g-font(16);
      }
    }

    td {
      padding-left: 10px;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font(16);
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList2 {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      text-align: left;
      display: block;
      padding-top: 8px;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList3 {
    th {
      text-align: left;
      vertical-align: top;
      div {
        @include g-font(16);
      }
    }

    td {
      padding-left: 10px;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font(16);
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList4 {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      text-align: left;
      display: block;
      padding-top: 8px;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }
}

@if $device == SP {
  .t0-b-labeledList {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList2 {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList3 {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }

  .t0-b-labeledList4 {
    th {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    td {
      display: block;
      text-align: left;
      @include g-font(16);
    }

    a {
      text-decoration: underline;
    }
  }
}
