@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    $_fontPx: 26;
    $_fontPx_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontPx_sub - 2, $_lineHeight_sub, $layout);
    }

    &__text-sub2 {
      @include g-font-layout($_fontPx_sub, $_lineHeight_sub, $layout);
    }

    &__text-main {
      @include g-font-layout($_fontPx, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontPx_sub, $_lineHeight_sub, $layout);
    }

    &__text-sub4 {
      @include g-font-layout($_fontPx_sub - 2, $_lineHeight_sub, $layout);
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontPx: 26;
    $_fontPx_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontPx_sub - 2, $_lineHeight_sub, $layout);
    }

    &__text-sub2 {
      @include g-font-layout($_fontPx_sub, $_lineHeight_sub, $layout);
    }

    &__text-main {
      @include g-font-layout($_fontPx, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontPx_sub, $_lineHeight_sub, $layout);
    }

    &__text-sub4 {
      @include g-font-layout($_fontPx_sub - 2, $_lineHeight_sub, $layout);
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    $_fontPx: 18;
    $_fontPx_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontPx_sub - 2, $_lineHeight_sub);
    }

    &__text-sub2 {
      @include g-font($_fontPx_sub, $_lineHeight_sub);
    }

    &__text-main {
      @include g-font($_fontPx, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontPx_sub, $_lineHeight_sub);
    }

    &__text-sub4 {
      @include g-font($_fontPx_sub - 2, $_lineHeight_sub);
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontPx: 18;
    $_fontPx_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontPx_sub - 2, $_lineHeight_sub);
    }

    &__text-sub2 {
      @include g-font($_fontPx_sub, $_lineHeight_sub);
    }

    &__text-main {
      @include g-font($_fontPx, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontPx_sub, $_lineHeight_sub);
    }

    &__text-sub4 {
      @include g-font($_fontPx_sub - 2, $_lineHeight_sub);
    }
  }
}
