@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    $_fontSize: 26;
    $_fontSize_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
    }

    &__text-sub2 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
    }

    &__text-main {
      @include g-font-layout($_fontSize, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
    }

    &__text-sub4 {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSize: 26;
    $_fontSize_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
    }

    &__text-sub2 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
    }

    &__text-main {
      @include g-font-layout($_fontSize, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
    }

    &__text-sub4 {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    $_fontSize: 18;
    $_fontSize_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
    }

    &__text-sub2 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
    }

    &__text-main {
      @include g-font($_fontSize, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
    }

    &__text-sub4 {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSize: 18;
    $_fontSize_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
    }

    &__text-sub2 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
    }

    &__text-main {
      @include g-font($_fontSize, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
    }

    &__text-sub4 {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
    }
  }
}
