@if $device == PC {
  .t0-b-lv4H {
    $_block: &;
    $_fontSize_bd: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    &__box {
      //
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 5px;
    }

    &__bd {
      h4 {
        @include g-font-layout($_fontSize_bd, 1, $layout);
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 5px;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-bottom: 3px;
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, 1, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-top: 3px;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-bottom: 7px;
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, 1, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-top: 7px;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H2 {
    $_block: &;
    $_fontSize_bd: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    &__box {
      //
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
    }

    &__bd {
      h4 {
        @include g-font-layout($_fontSize_bd, 1, $layout);
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_s, 1, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSize_bd_l, 1, $layout);
        }
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv4H {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    &__box {
      //
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 5px;
    }

    &__bd {
      h4 {
        @include g-font($_fontSize_bd);
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H2 {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    &__box {
      //
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 5px;
    }

    &__bd {
      h4 {
        @include g-font($_fontSize_bd);
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
