@if $device == PC {
  .t0-b-navItem2Captioned {
    $_block: &;
    $_fontSizePx_main: 26;
    $_fontSizePx_caption: 16;
    $_lineHeightType: 1;
    display: table;
    margin: 0 auto;
    > div {
      display: table;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__main {
      @include g-font($_fontSizePx_main, $_fontSizePx_caption);
      padding-bottom: 3px;
    }

    a {
      text-decoration: none;
      #{$_block}__main {
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-navItem2Captioned {
    $_block: &;
    $_fontSizePx_main: 16;
    $_fontSizePx_caption: 14;
    $_lineHeightType: 1;
    display: table;
    margin: 0 auto;
    > div {
      display: table;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &__main {
      @include g-font($_fontSizePx_main, $_lineHeightType);
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType);
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
