@if $device == PC {
  .t0-b-iconText-mail {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    > div {
      display: inline-block;
      vertical-align: top;
    }

    a {
      display: table-cell;
      color: inherit;
      text-decoration: none;
      word-break: break-all;
      &:hover {
        text-decoration: underline;
      }
    }

    &__bd {
      @include g-font($_fontSizePx, $_lineHeightType);
      font-weight: bold;
      text-align: left;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-iconText-mail {
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    text-align: center;
    > div {
      display: inline-block;
      vertical-align: top;
    }

    a {
      display: table-cell;
      color: $g-baseFontColor;
      text-align: center;
      text-decoration: none;
      word-break: break-all;
    }

    &__bd {
      color: $g-baseFontColor;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
