@if $device == PC {
  .t0-b-priceTable {
    padding-bottom: 1px;
    overflow: hidden;
    &__inner {
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    table {
      width: 100%;
    }

    th, td {
      @include g-font(20, 1);
      vertical-align: middle;
    }

    th {
      text-align: center;
      background-image: url("");
      background-repeat: repeat;
      background-position: 0 0;
    }

    td {
      background: #fff;
    }
  }
}

@if $device == SP {
  .t0-b-priceTable {
    &__inner {
      a {
        color: inherit;
      }
    }

    table {
      width: 100%;
    }

    th, td {
      @include g-font(16, 1);
      vertical-align: middle;
    }

    th {
      text-align: center;
      background-image: url("");
      background-position: 0 0;
      background-repeat: no-repeat;
    }

    td {
      text-align: right;
      background: #fff;
    }
  }
}
