@if $device == PC {
  .t0-b-arrow {
    background-image: url("");
    background-repeat: no-repeat;
    background-position:center center;
  }
}

@if $device == SP {
  .t0-b-arrow {
    background-image: url("");
    background-repeat: no-repeat;
    background-position:center center;
  }
}
