@if $device == PC {
  .t0-b-navBItemCaptioned {
    $_block: &;
    width: 100%;
    &__inner {
      position: relative;
      padding: 10px 13px 10px 43px;
      color: $navBItemCaptioned-textColor;
      background-color: $navBItemCaptioned-BGColor;
      min-height: 28px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url("https://placehold.jp/28x28.png");
        background-size: contain;
      }
    }

    &__main {
      @include g-font(20);
    }

    &__caption {
      @include g-font(16);
      padding-top: 3px;
    }

    a {
      &:hover {
        //
      }
    }

    &--size-1 {
      #{$_block}__inner {
        padding: 10px 10px 10px 38px;
        &::before {
          width: 20px;
          height: 20px;
        }
      }

      #{$_block}__main {
        @include g-font(14);
      }

      #{$_block}__caption {
        @include g-font(14);
      }
    }

    &--size-2 {
      #{$_block}__inner {
        padding: 10px 11px 10px 41px;
        &::before {
          width: 22px;
          height: 22px;
        }
      }

      #{$_block}__main {
        @include g-font(18);
      }

      #{$_block}__caption {
        @include g-font(14);
      }
    }

    &--size-4 {
      #{$_block}__inner {
        padding: 10px 15px 10px 45px;
        &::before {
          width: 26px;
          height: 26px;
        }
      }

      #{$_block}__main {
        @include g-font(22);
      }

      #{$_block}__caption {
        @include g-font(18);
      }
    }

    &--size-5 {
      #{$_block}__inner {
        padding: 10px 17px 10px 47px;
        &::before {
          width: 28px;
          height: 28px;
        }
      }

      #{$_block}__main {
        @include g-font(24);
      }

      #{$_block}__caption {
        @include g-font(20);
      }
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin-left: auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptionedDouble {
    display: flex;
    &__layout {
      flex: 1 1 50%;
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navBItemCaptioned {
    width: 100%;
    &__inner {
      position: relative;
      padding: 10px 27px 9px 8.5px;
      text-align: center;
      width: 95%;
      margin: 0 auto;
      color: $navBItemCaptioned-textColor;
      background-color: $navBItemCaptioned-BGColor;
      min-height: 20px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
        width: 19px;
        height: 19px;
        background-image: url("https://placehold.jp/28x28.png");
        background-size: contain;
      }
    }

    &__main {
      @include g-font(16);
    }

    &__caption {
      @include g-font(14);
    }
  }

  .t0-b-navBItemCaptionedDouble {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
