@if $device == PC {
  .t0-b-navBItem2Captioned {
    $_block: &;
    &__inner {
      position: relative;
      background-color: $navBItem2Captioned-BGColor;
      padding: 12px 20px;
      min-height: 32px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-image: url("https://placehold.jp/32x32.png");
      background-size: contain;
    }

    &__text {
      padding: 0 48px;
      text-align: center;
      color: $navBItem2Captioned-textColor;
    }

    &__caption-upper {
      @include g-font(16);
      padding-bottom: 3px;
    }

    &__main {
      @include g-font(26);
    }

    &__caption-lower {
      @include g-font(16);
      padding-top: 3px;
    }

    a:hover {
      #{$_block}__inner {
        opacity: .8;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned {
    width: 95%;
    margin: 0 auto;
    &__inner {
      position: relative;
      background-color: $navBItem2Captioned-BGColor;
      padding: 7px 9px;
      min-height: 32px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url("https://placehold.jp/18x18.png");
      background-size: contain;
    }

    &__text {
      padding-right: 20px;
      text-align: center;
      color: $navBItem2Captioned-textColor;
    }

    &__caption-upper {
      @include g-font(14);
      padding-bottom: 3px;
    }

    &__main {
      @include g-font(16);
    }

    &__caption-lower {
      @include g-font(14);
      padding-top: 3px;
    }
  }
}
