@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    a {
      display: block;
      text-decoration: none;
      &:hover {
        color: $g-textcolor;
        opacity: .8;
      }
    }

    &__inner {
    }

    &__icon {
    }

    &__text {
    }

    &__caption-upper {
      @include g-font(16, 1);
    }

    &__main {
      @include g-font(26, 1);
    }

    &__caption-lower {
      @include g-font(16, 1);
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    a {
      display: block;
      text-decoration: none;
      &:hover {
        color: $g-textcolor;
        opacity: .8;
      }
    }

    &__inner {
      background: url("");
      background-repeat: repeat;
      background-position: left center;
    }

    &__icon {
    }

    &__text {
    }

    &__caption-upper {
      @include g-font(16, 1);
    }

    &__main {
      @include g-font(26, 1);
    }

    &__caption-lower {
      @include g-font(16, 1);
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    a {
      text-decoration: none;
    }

    &__inner {
    }

    &__text {
    }

    &__icon {
    }

    &__caption-upper {
      @include g-font(14, 1);
    }

    &__main {
      @include g-font(16, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    a {
      text-decoration: none;
    }

    &__inner {
    }

    &__text {
    }

    &__icon {
    }

    &__caption-upper {
      @include g-font(14, 1);
    }

    &__main {
      @include g-font(16, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);
    }
  }
}
