@if $device == PC {
  .t0-b-sideNavBItem#{$variation1of2} {
    a {
      display: block;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      padding: 7px 10px 6px 0;
      text-decoration: none;
      > span {
        display: table-cell;
        vertical-align: middle;
      }

      > div {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .t0-b-sideNavBItem#{$variation2of2} {
    a {
      display: block;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      padding: 7px 10px 6px 0;
      text-decoration: none;
      > span {
        display: table-cell;
        vertical-align: middle;
      }

      > div {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavBItem#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    &__inner {
      > div {
        @include g-font(16, 1);
        min-height: 20px;
        padding: 12px 10px;
        margin-right: 10px;
      }
    }
  }

  .t0-b-sideNavBItem#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    &__inner {
      > div {
        @include g-font(16, 1);
        min-height: 20px;
        padding: 12px 10px;
        margin-right: 10px;
      }
    }
  }
}
