@if $device == PC {
  .t0-b-sideNavBItem {
    $_block: &;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 6px 19px 5px 29px;
      color: $sideNavBItem-textColor;
      background-color: $sideNavBItem-BGColor;
      min-height: 14px;
      > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 8px;
        height: 14px;
        background-image: url("https://placehold.jp/8x14.png");
        background-size: contain;
      }
    }

    a:hover {
      #{$_block}__inner {
        //
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavBItem {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 12px 30px 12px 15px;
      text-align: center;
      color: $sideNavBItem-textColor;
      background-color: $sideNavBItem-BGColor;
      > span {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 10px;
        height: 15px;
        background-image: url("https://placehold.jp/10x15.png");
        background-size: contain;
      }
    }
  }
}
