@if $device == PC {
  .t0-b-sideBoxLv2H {
    &__iconPlacer {
      //
    }

    &__icon {
      //
    }

    h6 {
      @include g-font(18);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    &__iconPlacer {
      //
    }

    &__icon {
      //
    }

    h6 {
      @include g-font(16);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
