@if $device == PC {
  .t0-b-sideBoxIconText-mail {
    $_block: &;
    &__bd {
      display: flex;
      align-items: center;
      a {
        @include g-font(16);
        font-weight: bold;
        word-break: break-all;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__mail {
      display: block;
      width: 20px;
      height: 10px;
      background-image: url("https://placehold.jp/20x10.png");
      background-size: contain;
      margin-right: 10px;
    }

    &--align-l {
      #{$_block}__bd {
        justify-content: flex-start;
      }
    }

    &--align-c {
      #{$_block}__bd {
        justify-content: center;
      }
    }

    &--align-r {
      #{$_block}__bd {
        justify-content: flex-end;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxIconText-mail {
    &__bd {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        @include g-font(16);
        word-break: break-all;
      }
    }

    &__mail {
      display: block;
      width: 20px;
      height: 10px;
      background-image: url("https://placehold.jp/20x10.png");
      background-size: contain;
      margin-right: 10px;
    }
  }
}
