@if $device == PC {
  .t0-b-sideBoxMedia {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__main {
      position: relative;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia2 {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__main {
      position: relative;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 15px 5px 10px;
        pointer-events: auto;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        pointer-events: auto;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia3 {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__main {
      position: relative;
      overflow: hidden;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
        transition: .5s ease;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxMedia {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      text-align: center;
    }

    &__main {
      position: relative;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia2 {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      text-align: center;
    }

    &__main {
      position: relative;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 15px 5px 10px;
        pointer-events: auto;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 5px 15px;
        pointer-events: auto;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia3 {
    width: 100%;
    margin: 0 auto;
    &__caption-upper {
      @include g-font(16);
      margin-bottom: 10px;
      text-align: center;
    }

    &__main {
      position: relative;
      line-height: 0;
      text-align: center;
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background-color: rgba($sideBoxMedia_BGColor, .8);
      }
    }

    &__caption-lower {
      @include g-font(16);
      margin-top: 10px;
      text-align: center;
    }

    &__caption-upper,
    &__caption-lower {
      a {
        position: relative;
      }

      div {
        display: inline-block;
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
