@if $device == PC {
  .b-sideMenu {
    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20);
    }

    &__bd {
      @include g-font(16);
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }

            > a:hover > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }

              > a:hover > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }

                > a:hover > span {
                  //
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenu2 {
    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20);
    }

    &__bd {
      @include g-font(16);
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }

            > a:hover > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }

              > a:hover > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }

                > a:hover > span {
                  //
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .b-sideMenuHandle {
    label {
      display: none;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      @include g-font(20);
      a {
        &:hover {
          color: $g-baseHoverColor3;
        }
      }
    }

    &__bd {
      @include g-font(16);
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }

            > a:hover > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }

              > a:hover > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }

                > a:hover > span {
                  //
                }
              }
            }
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .b-sideMenu {
    @include g-font(14);
    label {
      display: inline-block;
      width: 98%;
      padding: 10px 0 10px 15px;
      &::before {
        display: inline-block;
        margin: 0 .5em 0 .2em;
        content: "▶︎";
      }

      &.active {
        &::before {
          content: "▼";
        }
      }
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      display: none;
    }

    &__bd {
      display: none;
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }
          }
        }
      }
    }
  }

  .b-sideMenu2 {
    @include g-font(14);
    label {
      display: inline-block;
      width: 98%;
      padding: 10px 0 10px 15px;
      &::before {
        display: inline-block;
        margin: 0 .5em 0 .2em;
        content: "▶︎";
      }

      &.active {
        &::before {
          content: "▼";
        }
      }
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      display: none;
    }

    &__bd {
      display: none;
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }
          }
        }
      }
    }
  }

  .b-sideMenuHandle {
    @include g-font(14);
    label {
      display: inline-block;
      width: 98%;
      padding: 10px 0 10px 15px;
      &::before {
        display: inline-block;
        margin: 0 .5em 0 .2em;
        content: "▶︎";
      }

      &.active {
        &::before {
          content: "▼";
        }
      }
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    &__hd {
      display: none;
    }

    &__bd {
      display: none;
      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 親要素のカレント
        &.state-current > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        // 親要素
        > .b-sideMenu__item2 {
          > div {
            > span,
            > a > span {
              //
            }
          }
        }

        > .b-sideMenu__list > ul > .b-sideMenu__item {
          // 子要素のカレント
          &.state-current > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          // 子要素
          > .b-sideMenu__item2 {
            > div {
              > span,
              > a > span {
                //
              }
            }
          }

          > .b-sideMenu__list > ul > .b-sideMenu__item {
            // 孫要素のカレント
            &.state-current > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }

            // 孫要素
            > .b-sideMenu__item2 {
              > div {
                > span,
                > a > span {
                  //
                }
              }
            }
          }
        }
      }
    }
  }
}
