@if $device == PC {
  .t0-b-sideBox {
    &__hd {
      @include g-font(20);
    }

    &__bd {
      //
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox2 {
    &__hd {
      @include g-font(20);
    }

    &__bd {
      //
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox {
    margin: 0 -5px;
    &__hd {
      @include g-font(18);
    }

    &__bd {
      //
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox2 {
    margin: 0 -5px;
    &__hd {
      @include g-font(18);
    }

    &__bd {
      //
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
