@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    position: relative;
    &__hd {
      a {
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(20, 1);
      }
    }

    &__bd {
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    position: relative;
    &__hd {
      a {
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }

      h4 {
        @include g-font(20, 1);
      }
    }

    &__bd {
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    position: relative;
    margin: 0 -5px;
    &__hd {
      a {
        color: $g-textColor;
        text-decoration: none;
      }

      h4 {
        @include g-font(18, 1);
      }
    }

    &__bd {
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    position: relative;
    margin: 0 -5px;
    &__hd {
      a {
        color: $g-textColor;
        text-decoration: none;
      }

      h4 {
        @include g-font(18, 1);
      }
    }

    &__bd {
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}
