@if $device == PC {
  .t0-b-headerMedia {
    min-width: $areaContainerWidth;
    max-width: 1400px;
    margin: 0 auto;
    line-height: 0;
    a {
      display: block;
      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
    }

    div > a,
    > div {
      position: relative;
      margin: 0 auto;
      text-align: center;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia2 {
    margin: 0 auto;
    line-height: 0;
    a {
      display: block;
      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
    }

    div > a,
    > div {
      position: relative;
      width: $areaContainerWidth;
      margin: 0 auto;
      text-align: center;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia3 {
    margin: 0 auto;
    line-height: 0;
    a {
      display: block;
      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
    }

    div > a,
    > div {
      position: relative;
      width: $areaContainerWidth;
      margin: 0 auto;
      text-align: center;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMedia,
  .t0-b-headerMedia2,
  .t0-b-headerMedia3 {
    margin: 0 -15px;
    overflow: auto;
    line-height: 0;
    text-align: center;
    div > a,
    > div {
      margin: 0 auto;
      > div {
        width: auto;
        max-height: 240px;
        overflow: auto;
        // YouTubeのレスポンシブ対応
        iframe,
        object,
        embed {
          max-width: 100%;
          max-height: 240px;
        }

        > * {
          max-width: 100% !important;
          margin: 0 auto !important;
          overflow: auto;
          line-height: 1.5;
        }
      }
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
