@if $device == PC {
  .t0-b-headerText {
    $_block: &;
    padding: 15px 0;
    width: 1100px;
    margin: 0 auto;
    &__col {
      p {
        @include g-font($g-fontSize, 2);
        padding-top: $g-spacing4x;
        &:first-child {
          padding-top: 0;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerText {
    padding-top: 20px;
    &__col {
      p {
        @include g-font($g-fontSize, 2);
        padding-top: $g-spacing4x;
        &:first-child {
          padding-top: 0;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
