@if $device == PC {
  .t0-b-headerMenu {
    width: $areaContainerWidth;
    margin: 0 auto;
    .on-off {
      display: none;
    }

    label {
      display: none;
    }

    ul {
      display: flex;
      align-items: stretch;
    }

    .t0-b-headerMenu__item {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      div {
        @include g-font(16);
        padding: 0 20px;
      }

      &.state-em {
        //
      }

      &.state-current {
        //
      }
    }

    &--widthEqualized .t0-b-headerMenu__item {
      flex: 1 1;
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu {
    margin: 0 -15px;
    text-align: center;
    ul {
      padding: 5px 0;
    }

    .on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      @include g-font(12);
      div {
        padding: 5px 0;
        text-decoration: underline;
      }

      &:first-child {
        margin-left: 0;
      }

      &.state-em {
        font-weight: bold;
      }

      &.state-current {
        font-weight: normal;
      }
    }
  }
}
