@if $device == PC {
  .t0-b-headerUnit-contact-tel {
    $_block: &;

    display: table;
    white-space: nowrap;
    &__ruby {
      text-align: right;
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      display: flex;
      font-weight: bold;
      line-height: 1;
      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span, {
        font-size: 80%;
      }

      > span {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
      }
    }

    &--size-1 {
      #{$_block}__bd {
        @include g-font(28, 1);
        line-height: 1;
      }

      #{$_block}__tel {
      }

      #{$_block}__fax {
      }

      #{$_block}__free {
      }

      #{$_block}__cell {
      }

      #{$_block}__ruby {
        @include g-font(10, 1);
      }
    }

    &--size-2 {
      #{$_block}__bd {
        @include g-font(36, 1);
        line-height: 1;
      }

      #{$_block}__tel {
      }

      #{$_block}__fax {
      }

      #{$_block}__free {
      }

      #{$_block}__cell {
      }

      #{$_block}__ruby {
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      #{$_block}__bd {
        @include g-font(42, 1);
        line-height: 1;
      }

      #{$_block}__tel {
      }

      #{$_block}__fax {
      }

      #{$_block}__free {
      }

      #{$_block}__cell {
      }

      #{$_block}__ruby {
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      #{$_block}__bd {
        @include g-font(50, 1);
        line-height: 1;
      }

      #{$_block}__tel {
      }

      #{$_block}__fax {
      }

      #{$_block}__free {
      }

      #{$_block}__cell {
      }

      #{$_block}__ruby {
        @include g-font(16, 1);
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-tel {
    $_block: &;

    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    word-break: break-all;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #f6f6f6), to(#eee)) left top repeat;
    border: 1px solid #ccc;
    border-radius: 8px;
    > div {
      text-align: center;
      vertical-align: top;
    }

    &__ruby {
      color: #555;
      text-align: center;
      @include g-font(12, 1);
    }

    &__bd {
      color: #f00;
      text-align: center;
      @include g-font(22, 1);
      > span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__icon {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      background-repeat: no-repeat;
    }

    &__tel {
    }

    &__fax {
    }

    &__free {
    }

    &__cell {
    }
  }
}
