@if $device == PC {
  .t0-b-headerUnit-contact-tel {
    $_block: &;
    $_bd_fontSize: 34px;
    $_ruby_fontSize: 12px;
    $_icon_size: 26px;
    $_icon_padding: 10px;
    display: inline-block;
    white-space: nowrap;
    &__ruby {
      @include g-font($_ruby_fontSize);
      text-align: right;
    }

    &__bd {
      @include g-font($_bd_fontSize, 0);
      display: flex;
      align-items: center;
      > span {
        font-weight: bold;
      }

      span + span {
        font-size: 80%;
      }
    }

    &__tel {
      width: $_icon_size;
      height: $_icon_size;
      background-image: url("https://placehold.jp/26x26.png?text=tel");
      background-size: contain;
      margin-right: $_icon_padding;
    }

    &__fax {
      width: $_icon_size;
      height: $_icon_size;
      background-image: url("https://placehold.jp/26x26.png?text=fax");
      background-size: contain;
      margin-right: $_icon_padding;
    }

    &__free {
      width: $_icon_size;
      height: $_icon_size;
      background-image: url("https://placehold.jp/26x26.png?text=free");
      background-size: contain;
      margin-right: $_icon_padding;
    }

    &__cell {
      width: $_icon_size;
      height: $_icon_size;
      background-image: url("https://placehold.jp/26x26.png?text=cell");
      background-size: contain;
      margin-right: $_icon_padding;
    }

    &--size-1 {
      $_magnification: .8;
      #{$_block}__ruby {
        @include g-font($_ruby_fontSize * $_magnification);
      }

      #{$_block}__bd {
        @include g-font($_bd_fontSize * $_magnification, 0);
      }

      #{$_block}__tel, #{$_block}__fax, #{$_block}__free, #{$_block}__cell {
        width: $_icon_size * $_magnification;
        height: $_icon_size * $_magnification;
        margin-right: $_icon_padding * $_magnification;
      }
    }

    &--size-3 {
      $_magnification: 1.2;
      #{$_block}__ruby {
        @include g-font($_ruby_fontSize * $_magnification);
      }

      #{$_block}__bd {
        @include g-font($_bd_fontSize * $_magnification, 0);
      }

      #{$_block}__tel, #{$_block}__fax, #{$_block}__free, #{$_block}__cell {
        width: $_icon_size * $_magnification;
        height: $_icon_size * $_magnification;
        margin-right: $_icon_padding * $_magnification;
      }
    }

    &--size-4 {
      $_magnification: 1.3;
      #{$_block}__ruby {
        @include g-font($_ruby_fontSize * $_magnification);
      }

      #{$_block}__bd {
        @include g-font($_bd_fontSize * $_magnification, 0);
      }

      #{$_block}__tel, #{$_block}__fax, #{$_block}__free, #{$_block}__cell {
        width: $_icon_size * $_magnification;
        height: $_icon_size * $_magnification;
        margin-right: $_icon_padding * $_magnification;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-tel {
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    word-break: break-all;
    border-radius: 8px;
    > div {
      text-align: center;
      vertical-align: top;
    }

    &__ruby {
      @include g-font(12);
      color: $headerUnit-contact-tel_textColor;
      text-align: center;
    }

    &__bd {
      @include g-font(22, 0);
      color: $headerUnit-contact-tel_textColor2;
      text-align: center;
      > span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__icon {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      background-repeat: no-repeat;
    }

    &__tel {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-image: url("https://placehold.jp/25x25.png?text=tel");
      background-size: contain;
    }

    &__fax {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-image: url("https://placehold.jp/25x25.png?text=fax");
      background-size: contain;
    }

    &__free {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-image: url("https://placehold.jp/25x25.png?text=free");
      background-size: contain;
    }

    &__cell {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      background-image: url("https://placehold.jp/25x25.png?text=cell");
      background-size: contain;
    }
  }
}
