@if $device == PC {
  .t0-b-headerUnit-siteName2 {
    &__bd {
      img {
        display: block;
        min-width: 300px;
        max-width: 100%;
      }

      a {
        img {
          &:hover {
            opacity: .8;
          }
        }
      }
    }

    &__ft {
      @include g-font($g-fontSize);
      padding-top: 5px;
      a {
        text-decoration: underline;
      }
    }

    &--width-l {
      img {
        width: 100%;
        min-width: 300px;
      }
    }

    &--width-m {
      img {
        width: 75%;
        min-width: 200px;
      }
    }

    &--width-s {
      img {
        width: 50%;
        min-width: 100px;
      }
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] &__bd {
      display: flex;
      justify-content: center;
    }

    [class^="t0-b-headerSingle"] &__ft {
      text-align: center;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-siteName2 {
    &__bd {
      img {
        display: block;
        width: 100%;
      }
    }

    &__ft {
      @include g-font($g-fontSize);
      padding-top: 5px;
      a {
        text-decoration: underline;
      }
    }

    &--width-l {
      img {
        width: 100%;
      }
    }

    &--width-m {
      img {
        width: 75%;
      }
    }

    &--width-s {
      img {
        width: 50%;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] &__ft {
      text-align: center;
    }
  }
}
