@if $device == PC {
  .t0-b-footerMenu {
    margin: 0 auto;
    ul {
      display: flex;
      align-items: center;
      justify-content: stretch;
      width: 100%;
      > li {
        flex-grow: 1;
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          > li {
            flex: 1 1;
          }
        }
      }
    }

    .t0-b-footerMenu__item {
      div {
        @include g-font(16);
        position: relative;
        text-align: center;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .state-em {
      //
    }
  }
}

@if $device == SP {
  .t0-b-footerMenu {
    margin: 0 -15px;
    text-align: center;
    ul {
      padding: 5px 10px;
    }

    .t0-b-footerMenu__item {
      display: inline-block;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }

      div {
        @include g-font(12);
        padding: 5px 0;
        text-align: center;
        text-decoration: underline;
      }
    }

    .state-em {
      //
    }
  }
}
