@if $device == PC {
  .t0-b-footerUnit-navB {
    $_block: &;
    &__item {
      display: inline-block;
      position: relative;
      p {
        @include g-font(16);
        padding: 4px 10px 4px 20px;
        color: $footerUnit-navB-textColor;
        background-color: $footerUnit-navB-BGColor;
        min-height: 10px;
        white-space: nowrap;
        > span {
          display: block;
          position: absolute;
          top: 50%;
          left: 8px;
          transform: translateY(-50%);
          width: 6px;
          height: 10px;
          background-image: url("https://placehold.jp/6x10.png");
          background-size: contain;
        }
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      #{$_block}__item {
        p {
          //
          > span {
            //
          }
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navB {
    width: 95%;
    margin: 0 auto;
    &__item {
      position: relative;
      p {
        @include g-font(16);
        padding: 13px 25px;
        color: $footerUnit-navB-textColor;
        background-color: $footerUnit-navB-BGColor;
        min-height: 16px;
        text-align: center;
        > span {
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          width: 10px;
          height: 15px;
          background-image: url("https://placehold.jp/10x15.png");
          background-size: contain;
        }
      }

      & + & {
        margin-top: 10px;
      }
    }
  }
}
