@if $device == PC {
  .t0-b-footerUnit-textStrong {
    @include RTE;
    white-space: nowrap;
    > p {
      font-weight: bold;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-textStrong {
    @include RTE;
    > p {
      font-weight: bold;
    }
  }
}
