@if $device == PC {
  .t0-b-footerUnit-lv1H {
    color: $g-baseFontColor;
    h4 {
      @include g-font(18, 1);
      white-space: nowrap;
    }

    a {
      color: inherit;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv1H {
    color: $g-baseFontColor;
    h4 {
      @include g-font(16, 1);
    }

    a {
      color: $g-baseFontColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
