@if $device == PC {
  .t0-b-footerMenuWithCp {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    color: $g-baseFontColor;
    text-align: center;
    > div {
      display: table;
      width: 100%;
      width: 1100px;
      margin: 0 auto;
    }

    p {
      display: table-cell;
      @include g-font(14, 1);
      a {
        color: inherit;
      }
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        padding: 0 13px;
        color: $g-baseFontColor;
        text-decoration: none;
        @include g-font(14, 1);
        &:nth-child(2) {
          background: none;
        }
      }

      a {
        color: $g-baseFontColor;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: $g-baseHoverColor; //他の変数名に変える必要がある
    }
  }
}

@if $device == SP {
  .t0-b-footerMenuWithCp {
    @include g-font(12, 1);
    margin: 0 -15px;
    text-align: center;
    > div {
      display: table;
      width: 100%;
      p {
        > a {
          color: $g-baseFontColor;
        }
      }
    }

    p {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 0 0 5px;
      color: $g-baseFontColor;
      text-align: center;
      > a {
        color: $g-baseFontColor;
      }
    }

    .state-em {
      color: $g-baseHoverColor; //他の変数名に変える必要がある
    }

    &__menu {
      display: table-header-group;
      a {
        color: $g-baseFontColor;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }
        display: inline-block;
        padding: 5px 0;
        margin-left: 15px;
        color: $g-baseFontColor;
        text-align: left;
        text-decoration: underline;
      }
    }
  }
}
