@if $device == PC {
  .t0-b-footerFullWidthFrame {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame2 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame2_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame3 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame3_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame4 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame4_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame5 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame5_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame6 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame6_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame7 {
    position: relative;
    padding: 75px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame7_BGColor;
    background-position: center center;
    &::before {
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 40px;
      left: 0;
      width: $areaContainerWidth;
      margin: 0 auto;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame7_BGColor2;
      border-radius: 10px;
    }

    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth - 70px;
      margin: 0 auto;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame8 {
    position: relative;
    padding: 75px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame8_BGColor;
    background-position: center center;
    &::before {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 40px;
      left: 0;
      width: $areaMainWidth;
      margin: 0 auto;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame7_BGColor2;
      border-radius: 10px;
    }

    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - (70px + $areaSubWidth);
      }
      width: $areaMainWidth - 70px;
      margin: 0 auto;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame9 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame9_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame10 {
    position: relative;
    padding: 40px 0;
    background: no-repeat;
    background-color: $footerFullWidthFrame10_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-footerFullWidthFrame {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame2 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame3 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame4 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame5 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame6 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame7 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame7_BGColor2;
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame8 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame8_BGColor2;
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame9 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame10 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }
}
