@if $device == PC {
  .mod-login {
    @include g-font(14);
    padding: 11px 0;
    text-align: right;
    background-color: $login_BGColor;
    // CopyRightのバリエーション1と同じデザインにしておく
    border-top: 1px solid $login_borderColor;
    a {
      color: $login_textColor;
    }
  }
}
