@if $device == PC {
  .mod-login {
    @include g-font(14);
    position: relative;
    padding: 11px 0;
    color: $login_textColor;
    text-align: right;
    background: $login_BGColor;
    // CopyRightのバリエーション1と同じデザインにしておく
    border-top: 1px solid $login_borderColor;
    &::before {
      position: absolute;
      top: -2px;
      right: 0;
      left: 0;
      height: 1px;
      pointer-events: none;
      content: "";
      border-top: 1px solid $login_borderColor2;
    }

    a {
      color: $login_textColor;
    }
  }
}
