@if $device == SP {
  .mod-sp-head-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 51px;
    background-color: rgba($mod-sp-head-bar_BGColor, .9);
    border-bottom: 1px solid $mod-sp-head-bar_borderColor;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }

    &-name {
      max-height: 51px;
      padding: 5px 7px;
      flex: 1 1;
      overflow: hidden;
      p {
        font-weight: bold;
        text-align: center;
        &.mod-sp-fsizeS {
          font-size: 14px !important;
          line-height: 1.4;
        }

        &.mod-sp-fsizeM {
          font-size: 16px !important;
          line-height: 1.3;
        }

        &.mod-sp-fsizeL {
          font-size: 18px !important;
          line-height: 1.3;
        }
      }
    }

    &-tel {
      a {
        display: block;
        width: 50px;
        height: 50px;
        background-color: $mod-sp-head-bar-tel_BGColor;
        background-image: url("../imgs/t0-b-iconText/icons/tel.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
      }
    }

    &-menu {
      width: 50px;
      background-color: $mod-sp-head-bar-menu_BGColor;
    }
  }

  .mod-sp-accordion {
    &-h {
      position: relative;
      z-index: 2;
      height: 50px;
      span {
        position: absolute;
        left: 50%;
        display: block;
        width: 20px;
        height: 2px;
        background-color: $mod-sp-accordion_BGColor;
        transition-duration: .3s;
        transform: translateY(-50%) translateX(-50%);
        &:nth-child(1) {
          top: 36%;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 64%;
        }
      }

      &.open {
        span {
          &:nth-child(1) {
            top: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(45deg);
          }

          &:nth-child(2) {
            width: 0%;
          }

          &:nth-child(3) {
            top: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  .mod-side-menu {
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 20;
    display: none;
    width: 100%;
    overflow: auto;
    background-color: rgba($mod-side-menu_BGColor, .9);
    color: $mod-side-menu_textColor;
    a {
      color: $mod-side-menu_textColor2;
    }

    .b-sideMenu__list > ul > .b-sideMenu__item {
      // 親要素
      > .b-sideMenu__item2 > div {
        background-color: rgba($mod-side-menu_BGColor, .7);
        > a > span,
        > span {
          display: block;
          padding: 9px 45px 9px 10px;
        }

        &:last-child {
          border-bottom: 1px solid $mod-side-menu_borderColor;
        }
      }

      > .b-sideMenu__list > ul > .b-sideMenu__item {
        // 子要素
        > .b-sideMenu__item2 > div {
          background-color: rgba($mod-side-menu_BGColor2, .7);
          > a > span,
          > span {
            display: block;
            padding: 9px 45px 9px 20px;
          }
        }

        // 孫要素
        > .b-sideMenu__list > ul > .b-sideMenu__item > .b-sideMenu__item2 > div {
          background-color: rgba($mod-side-menu_BGColor3, .7);
          > a > span,
          > span {
            display: block;
            padding: 9px 45px 9px 30px;
          }
        }
      }
    }
  }
}
