@if $device == PC {
  .t0-b-headerFullWidthMedia-navBItem {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    @include g-font($_fontSize, 1);
    color: $headerFullWidthMedia-navBItem_textColor;
    text-align: center;
    a {
      display: block;
      color: $headerFullWidthMedia-navBItem_textColor;
      #{$_block}__inner {
        transition:
          color .3s ease-in-out .2s,
          background-color .3s ease-in-out .2s,
          border-color .3s ease-in-out .2s;
        &:hover {
          color: $headerFullWidthMedia-navBItem_hoverColor;
          background: rgba($headerFullWidthMedia-navBItem_BGColor, 0);
          border: 3px solid $headerFullWidthMedia-navBItem_borderColor;
        }
      }
    }

    &__inner {
      min-height: 27px;
      padding: 3px 30px;
      background: rgba($headerFullWidthMedia-navBItem_borderColor, .8);
      border: 3px solid $headerFullWidthMedia-navBItem_borderColor;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, 1);
      #{$_block}__inner {
        padding: 5px 15px 4px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, 1);
      #{$_block}__inner {
        padding: 7px 15px 6px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize, 1);
      #{$_block}__inner {
        padding: 9px 15px 8px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, 1);
      #{$_block}__inner {
        padding: 11px 15px 10px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, 1);
      #{$_block}__inner {
        padding: 13px 15px 12px;
      }
    }

    &--width-l {
      width: 75%;
    }

    &--width-m {
      width: 50%;
    }

    &--width-s {
      width: 25%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  .t0-b-headerFullWidthMedia-navBItem2 {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 2;
    $_fontSize_ss: $_fontSize - $_fontSizeDiff - 2;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_ll: $_fontSize + $_fontSizeDiff + 2;
    @include g-font($_fontSize, 1);
    color: $headerFullWidthMedia-navBItem2_textColor;
    text-align: center;
    a {
      display: block;
      color: $headerFullWidthMedia-navBItem2_textColor;
      text-decoration: none;
      #{$_block}__inner {
        transition:
          color .3s ease-in-out .2s,
          background-color .3s ease-in-out .2s,
          border-color .3s ease-in-out .2s;
        &:hover {
          color: $headerFullWidthMedia-navBItem2_hoverColor;
          background: $headerFullWidthMedia-navBItem2_BGColor;
          border: 3px solid $headerFullWidthMedia-navBItem2_borderColor;
        }
      }
    }

    &__inner {
      min-height: 20px;
      padding: 3px 30px;
      background: rgba($headerFullWidthMedia-navBItem2_BGColor, 0);
      border: 3px solid $headerFullWidthMedia-navBItem2_borderColor;
    }

    &--size-1 {
      @include g-font($_fontSize_ss, 1);
      #{$_block}__inner {
        padding: 4px 15px;
      }
    }

    &--size-2 {
      @include g-font($_fontSize_s, 1);
      #{$_block}__inner {
        padding: 6px 15px;
      }
    }

    &--size-3 {
      @include g-font($_fontSize, 1);
      #{$_block}__inner {
        padding: 8px 15px;
      }
    }

    &--size-4 {
      @include g-font($_fontSize_l, 1);
      #{$_block}__inner {
        padding: 10px 15px;
      }
    }

    &--size-5 {
      @include g-font($_fontSize_ll, 1);
      #{$_block}__inner {
        padding: 12px 15px;
      }
    }

    &--width-l {
      width: 75%;
    }

    &--width-m {
      width: 50%;
    }

    &--width-s {
      width: 25%;
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }

    &--align-r {
      margin-left: auto;
    }
  }

  @for $i from 1 through 10 {
    .ex-headerFullWidthMedia-navBitem-lift-up-#{$i}s {
      position: relative;
      top: -#{$i * 50}px;
    }
  }

  @for $i from 1 through 10 {
    .ex-headerFullWidthMedia-navBitem-lift-down-#{$i}s {
      position: relative;
      top: #{$i * 50}px;
    }
  }
}

@if $device == SP {
  .t0-b-headerFullWidthMedia-navBItem {
    $_block: &;
    $_fontSize: 16;
    @include g-font($_fontSize, 1);
    width: 95%;
    margin: 0 auto;
    color: $headerFullWidthMedia-navBItem_textColor;
    text-align: center;
    background: rgba($headerFullWidthMedia-navBItem_BGColor, .8);
    border: 2px solid $headerFullWidthMedia-navBItem_borderColor;
    a {
      display: block;
      color: $headerFullWidthMedia-navBItem_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
    }
  }

  .t0-b-headerFullWidthMedia-navBItem2 {
    $_block: &;
    $_fontSize: 16;
    @include g-font($_fontSize, 1);
    width: 95%;
    margin: 0 auto;
    color: $headerFullWidthMedia-navBItem_textColor;
    text-align: center;
    border: 2px solid $headerFullWidthMedia-navBItem2_borderColor;
    a {
      display: block;
      color: $headerFullWidthMedia-navBItem_textColor;
    }

    &__inner {
      padding: 24px * .5 10px;
    }
  }
}
