$areaContainerWidth: 1060px;
$areaMainWidth: 1060px;
$areaSubWidth: 320px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #edfaf9;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  &::before, &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

.area-main {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  box-sizing: border-box;
  width: $areaMainWidth;
  min-height: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.area-sub {
  display: none;
}

.area-footer {
  position: relative;
  // フッターメニューの背景が伸びないように
  padding-top: 1px;
  background: #fff;
}
