.area-all {
  padding-top: 50px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #edfaf9;
}

.area-header {
  padding: 0 15px;
  background: #edfaf9;
}

.area-footer {
  position: relative;
  padding: 0 15px;
  background: #fff;
}

.area-main {
  position: relative;
  padding: 20px 15px 0;
  background: #edfaf9;
}

.area-sub {
  padding: 20px 15px 0;
  background: #edfaf9;
}
