$areaContainerWidth: 1060px;
$areaMainWidth: 740px;
$areaSubWidth: 320px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #edfaf9;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.area-main {
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  float: left;
  width: $areaMainWidth;
  min-height: 100px;
  padding-bottom: 50px;
}

.area-sub {
  position: relative;
  //R比率の際に、画像列の下(z-index: 10)の下にもぐらないよう11を指定
  z-index: 11;
  box-sizing: border-box;
  float: right;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 0 50px 50px;
}

.area-footer {
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
  padding-top: 1px; //フッター最上部のフッターメニューの背景が伸びないための指定
  background: #fff;
}
