// デザイン仕様 d07 SPではRTEによるフォントサイズ変更を無効にするために必要。mixin g-fontの!importantと合わせて使用する
span {
  font-size: inherit !important;
}

@mixin g-font-killSpacing($position, $fontSize, $lineHeight: 1) {
  @if $position == top {
    &::before {
      content: "";
      display: block;
      height: 0;
      @if $lineHeight == 1 {
        @if $fontSize < 14 {
          margin-top: -.05em;
        } @else if $fontSize == 20 {
          margin-top: -.175em;
        } @else if $fontSize == 22 {
          margin-top: -.175em;
        } @else if $fontSize < 24 {
          margin-top: -.08em;
        } @else {
          margin-top: -.15em;
        }
      } @else if $lineHeight == 2 {
        margin-top: -.3em;
      }
    }
  } @else if $position == bottom {
    &::after {
      content: "";
      display: block;
      height: 0;
      @if $lineHeight == 1 {
        @if $fontSize == 12 {
          margin-top: -.25em;
        } @else if $fontSize == 16 {
          margin-top: -.25em;
        } @else {
          margin-top: -.18em;
        }
      } @else if $lineHeight == 2 {
        @if $fontSize < 18 {
          margin-top: -.4em;
        } @else {
          margin-top: -.35em;
        }
      }
    }
  }
}

@mixin g-font-spacingKilled($fontSize, $lineHeight: 1) {
  @include g-font($fontSize, $lineHeight);
  @include g-font-killSpacing(top, $fontSize, $lineHeight);
  @include g-font-killSpacing(bottom, $fontSize, $lineHeight);
}

@mixin g-linePadKiller-top($preset) {
  &::before {
    content: "";
    display: block;
    height: 0;
    @if $preset == 1 {
      margin-top: -.15em;
    } @else if $preset == 2 {
      margin-top: -.05em;
    } @else if $preset == 3 {
      margin-top: -.05em;
    } @else if $preset == 4 {
      margin-top: -.05em;
    } @else if $preset == 5 {
      margin-top: -.025em;
    } @else if $preset == 6 {
      margin-top: -.075em;
    } @else if $preset == 7 {
      margin-top: -.05em;
    } @else if $preset == 8 {
      margin-top: -.1em;
    } @else if $preset == 9 {
      margin-top: -.1em;
    } @else if $preset == 10 {
      margin-top: -.1em;
    } @else if $preset == 11 {
      margin-top: -.1em;
    } @else if $preset == 12 {
      margin-top: -.125em;
    } @else if $preset == 13 {
      margin-top: -.1em;
    } @else if $preset == 14 {
      margin-top: -.1em;
    }
  }
}

@mixin g-linePadKiller-bottom($preset) {
  &::after {
    content: "";
    display: block;
    height: 0;
    @if $preset == 1 {
      margin-top: -.25em;
    } @else if $preset == 2 {
      margin-top: -.2em;
    } @else if $preset == 3 {
      margin-top: -.2em;
    } @else if $preset == 4 {
      margin-top: -.15em;
    } @else if $preset == 5 {
      margin-top: -.125em;
    } @else if $preset == 6 {
      margin-top: -.2em;
    } @else if $preset == 7 {
      margin-top: -.2em;
    } @else if $preset == 8 {
      margin-top: -.175em;
    } @else if $preset == 9 {
      margin-top: -.15em;
    } @else if $preset == 10 {
      margin-top: -.15em;
    } @else if $preset == 11 {
      margin-top: -.15em;
    } @else if $preset == 12 {
      margin-top: -.225em;
    } @else if $preset == 13 {
      margin-top: -.175em;
    } @else if $preset == 14 {
      margin-top: -.175em;
    }
  }
}

@mixin cf {
  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
