@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    background-image: url("../imgs/t0-b-catchText/bg9.png"), url("../imgs/t0-b-catchText/bg10.png"), url("../imgs/t0-b-catchText/bg11.png"), url("../imgs/t0-b-catchText/bg12.png");
    background-position: left top, right bottom, right top, left bottom, left top, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
    position: relative;
    text-align: center;
    padding: 25px 66px 65px 60px;
    margin-bottom: 8px;
    &__inner {
      > span {
        background-image: url("../imgs/t0-b-catchText/bg14.png"), url("../imgs/t0-b-catchText/bg16.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        position: absolute;
        top: 50px;
        bottom: 89px;
        left: 0;
        right: 0;
        > span {
          background-image: url("../imgs/t0-b-catchText/bg15.png"), url("../imgs/t0-b-catchText/bg13.png");
          background-repeat: repeat-x, repeat-x;
          background-position: left top, left bottom;
          position: absolute;
          top: -50px;
          bottom: -89px;
          left: 50px;
          right: 204px;
          > span {
            background-color: #fff;
            position: absolute;
            top: 47px;
            bottom: 89px;
            left: -47px;
            right: -193px;
          }
        }
      }
    }
    &__text-sub {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      margin-bottom: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
    }
    &__text-sub2 {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      margin-bottom: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
    }
    &__text-main {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      // メインの要素はスイッチャブルでOFFにできないが、文字を全部消したときの崩れを防ぐためにmin-heightで1文字分の高さを指定しておく
      min-height: 29px;
      font-weight: bold;
      position: relative;
      padding: 28px 0;
      background-image: url("../imgs/t0-b-catchText/bg17.png"), url("../imgs/t0-b-catchText/bg18.png"), url("../imgs/t0-b-catchText/bg19.png"), url("../imgs/t0-b-catchText/bg20.png");
      background-position: left top, right top, left bottom, right bottom;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      > span {
        pointer-events: none;
        background-image: url("../imgs/t0-b-catchText/bg21.png"), url("../imgs/t0-b-catchText/bg22.png");
        background-position: left top, left bottom;
        background-repeat: repeat-x, repeat-x;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 74px;
        right: 74px;
      }
      p {
        position: relative;
      }
      &:first-child {
        padding-top: 0;
      }
    }
    &__text-sub3 {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }
      margin-top: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
    }
    &__text-sub4 {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      margin-top: 10px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .t0-b-catchText#{$variation2of2} {
    padding: 40px 70px;
    background-color: #fff;
    text-align: center;
    box-shadow: #D8D7D0 0 0 6px 3px;
    background-image: url("../imgs/t0-b-catchText/bg.png"), url("../imgs/t0-b-catchText/bg2.png"), url("../imgs/t0-b-catchText/bg3.png"), url("../imgs/t0-b-catchText/bg4.png"), url("../imgs/t0-b-catchText/bg7.png"), url("../imgs/t0-b-catchText/bg5.png");
    background-position: left top, right bottom, right top, left bottom, left top, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
    position: relative;
    margin-bottom: 50px;
    &__inner {
      > span {
        background-image: url("../imgs/t0-b-catchText/bg6.png"), url("../imgs/t0-b-catchText/bg8.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        position: absolute;
        top: 48px;
        bottom: 63px;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }
    &__text-sub {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      position: relative;
      margin-bottom: 10px;
    }
    &__text-sub2 {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
      position: relative;
      margin-bottom: 10px;
    }
    &__text-main {
      @if $layout == "N00" {
        @include g-font(32, 1);
      } @else {
        @include g-font(28, 1);
      }
      // メインの要素はスイッチャブルでOFFにできないが、文字を全部消したときの崩れを防ぐためにmin-heightで1文字分の高さを指定しておく
      min-height: 35px;
      font-weight: bold;
      position: relative;
    }
    &__text-sub3 {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
      position: relative;
      margin-top: 10px;
    }
    &__text-sub4 {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      position: relative;
      margin-top: 10px;
    }
  }
}

@if $device == SP {

  .t0-b-catchText#{$variation1of2} {
    background-image: url("../imgs/t0-b-catchText/bg24.png"), url("../imgs/t0-b-catchText/bg23.png"), url("../imgs/t0-b-catchText/bg11.png"), url("../imgs/t0-b-catchText/bg12.png");
    background-position: left top, right bottom, right top, left bottom, left top, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
    position: relative;
    text-align: center;
    padding: 17px 13px 60px 4px;
    &__inner{
      > span {
        background-image: url("../imgs/t0-b-catchText/bg14.png"), url("../imgs/t0-b-catchText/bg16.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        position: absolute;
        top: 50px;
        bottom: 89px;
        left: 0;
        right: 0;
        > span {
          background-image: url("../imgs/t0-b-catchText/bg15.png"), url("../imgs/t0-b-catchText/bg13.png");
          background-repeat: repeat-x, repeat-x;
          background-position: left top, left bottom;
          position: absolute;
          top: -50px;
          bottom: -89px;
          left: 50px;
          right: 204px;
          > span {
            background-color: #fff;
            position: absolute;
            top: 47px;
            bottom: 89px;
            left: -47px;
            right: -193px;
          }
        }
      }
    }
    &__text-sub {
      @include g-font(12, 1);
      margin: 0 10px 10px;
      position: relative;
    }
    &__text-sub2 {
      @include g-font(14, 1);
      margin: 0 10px 10px;
      position: relative;
    }
    &__text-main {
      @include g-font(18, 1);
      // メインの要素はスイッチャブルでOFFにできないが、文字を全部消したときの崩れを防ぐためにmin-heightで1文字分の高さを指定しておく
      min-height: 22px;
      font-weight: bold;
      position: relative;
      padding: 20px 10px;
      background-image: url("../imgs/t0-b-catchText/bg17.png"), url("../imgs/t0-b-catchText/bg18.png"), url("../imgs/t0-b-catchText/bg19.png"), url("../imgs/t0-b-catchText/bg20.png");
      background-position: left top, right top, left bottom, right bottom;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      > span {
        pointer-events: none;
        background-image: url("../imgs/t0-b-catchText/bg21.png"), url("../imgs/t0-b-catchText/bg22.png");
        background-position: left top, left bottom;
        background-repeat: repeat-x, repeat-x;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 74px;
        right: 74px;
      }
      p {
        position: relative;
      }
    }
    &__text-sub3 {
      @include g-font(14, 1);
      margin: 10px 10px 0;
      position: relative;
    }
    &__text-sub4 {
      @include g-font(12, 1);
      margin: 10px 10px 0;
      position: relative;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    padding: 30px 19px;
    background-color: #fff;
    text-align: center;
    box-shadow: #D8D7D0 0 0 6px 3px;
    background-image: url("../imgs/t0-b-catchText/bg.png"), url("../imgs/t0-b-catchText/bg2.png"), url("../imgs/t0-b-catchText/bg3.png"), url("../imgs/t0-b-catchText/bg4.png"), url("../imgs/t0-b-catchText/bg7.png"), url("../imgs/t0-b-catchText/bg5.png");
    background-position: left top, right bottom, right top, left bottom, left top, left bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
    position: relative;
    margin-bottom: 20px;
    &__inner {
      > span {
        background-image: url("../imgs/t0-b-catchText/bg6.png"), url("../imgs/t0-b-catchText/bg8.png");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        position: absolute;
        top: 48px;
        bottom: 63px;
        left: 0;
        right: 0;
      }
    }
    &__text-sub {
      @include g-font(12, 1);
      margin: 0 10px 10px;
    }
    &__text-sub2 {
      @include g-font(14, 1);
      margin: 0 10px 10px;
    }
    &__text-main {
      @include g-font(18, 1);
      // メインの要素はスイッチャブルでOFFにできないが、文字を全部消したときの崩れを防ぐためにmin-heightで1文字分の高さを指定しておく
      min-height: 22px;
      font-weight: bold;
    }
    &__text-sub3 {
      @include g-font(14, 1);
      margin: 10px 10px 0;
    }
    &__text-sub4 {
      @include g-font(12, 1);
      margin: 10px 10px 0;
    }
  }
}
