@if $device == PC {
  .t0-b-sideBoxNav {
    a {
      display: block;
      text-decoration: none;
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      color: #555;
      > span {
        display: table-cell;
        width: 20px;
        height: 20px;
        padding-right: 8px;
        background-image: url("../imgs/t0-b-sideNavItem/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
      }

      > div {
        @include g-font(16, 0);
        display: inline;
        border-bottom: 1px solid #555;
        a:hover & {
          color: #ff8c00;
          border-bottom: 1px solid #ff8c00;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxNav {
    // バナー要素（横幅95%）と左端を揃える
    margin-left: 2.5%;
    a {
      display: block;
      text-decoration: none;
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      color: #555;
      > span {
        display: table-cell;
        width: 20px;
        height: 20px;
        padding-right: 8px;
        background-image: url("../imgs/t0-b-sideNavItem/bg.png");
        background-repeat: no-repeat;
        background-position: left center;
      }

      > div {
        @include g-font(16, 0);
        display: inline;
        font-weight: bold;
        border-bottom: 1px solid #555;
      }
    }
  }
}
