@if $device == PC {

  .t0-b-sideBoxNavB#{$variation1of2} {

    a {
      text-decoration: none;
      display: block;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      border-radius: 6px;
      color: #fff;
      display: table;
      width: 100%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x, repeat;
      background-position: left top, left bottom, right bottom, right top, left top, right top, left bottom, left top, left top;
      background-image: url("../imgs/t0-b-navItem/3/bg7.png"), url("../imgs/t0-b-navItem/3/bg8.png"), url("../imgs/t0-b-navItem/3/bg9.png"), url("../imgs/t0-b-navItem/3/bg10.png"), url("../imgs/t0-b-navItem/3/bg5.png"), url("../imgs/t0-b-navItem/3/bg6.png"), url("../imgs/t0-b-navItem/3/bg4.png"), url("../imgs/t0-b-navItem/3/bg3.png"), url("../imgs/t0-b-navItem/3/bg.png");
      box-sizing: border-box;
      padding: 8px 10px 8px 0;

      > span {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 11px center;
        background-image: url("../imgs/t0-b-navItem/3/1/bg3.png");
        pointer-events: none;

      }

      > div {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;

      }
    }
  }

  .t0-b-sideBoxNavB#{$variation2of2} {
    @include g-font(16, 1);
    width: auto;
    margin: 0 auto;
    text-align: center;
    background: url("../imgs/t0-b-sideBoxNavB/2/bg.png") 9px center no-repeat;
    background-color: #c9e05f;
    border: 1px solid #9dbe3e;
    border-radius: 5px;
    position: relative;


    a {
      display: block;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      min-height: 20px;
      color: #614e00;
      display: inline-block;

      > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
      }

      > div {
        padding: 7px 10px 7px 18px;
      }
    }
  }

  .t0-b-sideBoxNavB3 {

    a {
      text-decoration: none;
      display: block;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      border-radius: 6px;
      color: #fff;
      display: table;
      width: 100%;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x, repeat;
      background-position: left top, left bottom, right bottom, right top, left top, right top, left bottom, left top, left top;
      background-image: url("../imgs/t0-b-navItem/4/bg7.png"), url("../imgs/t0-b-navItem/4/bg8.png"), url("../imgs/t0-b-navItem/4/bg9.png"), url("../imgs/t0-b-navItem/4/bg10.png"), url("../imgs/t0-b-navItem/4/bg5.png"), url("../imgs/t0-b-navItem/4/bg6.png"), url("../imgs/t0-b-navItem/4/bg4.png"), url("../imgs/t0-b-navItem/4/bg3.png"), url("../imgs/t0-b-navItem/4/bg.png");
      box-sizing: border-box;
      padding: 8px 10px 8px 0;

      > span {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 11px center;
        background-image: url("../imgs/t0-b-navItem/4/1/bg3.png");
        pointer-events: none;

      }

      > div {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;

      }
    }
  }

  .t0-b-sideBoxNavB4 {
    @include g-font(16, 1);
    width: auto;
    margin: 0 auto;
    text-align: center;
    background: url("../imgs/t0-b-sideBoxNavB/2/bg.png") 9px center no-repeat;
    background-color: #c9e05f;
    border: 1px solid #9dbe3e;
    border-radius: 5px;
    position: relative;


    a {
      display: block;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      min-height: 20px;
      color: #614e00;
      display: inline-block;

      > span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
      }

      > div {
        padding: 7px 10px 7px 18px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxNavB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#9eba1f, #9eba1f, #91b000);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #fff;
    }

    &__inner {
      border: 1px solid #91b000;
      border-radius: 5px;

      > div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-sideBoxNavB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#c9e05f, #c9e05f, #c9e05f);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    border-radius: 5px;
    background-position: 95% 50%;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #614e00;
    }

    &__inner {
      border: 1px solid #9dbe3e;
      border-radius: 5px;

      > div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-sideBoxNavB3 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#f17f43, #f17f43, #ef6d29);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #fff;
    }

    &__inner {
      border: 1px solid #ef6d29;
      border-radius: 5px;

      > div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-sideBoxNavB4 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#c9e05f, #c9e05f, #c9e05f);
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    border-radius: 5px;
    background-position: 95% 50%;
    font-weight: bold;

    a {
      text-decoration: none;
      color: #614e00;
    }

    &__inner {
      border: 1px solid #9dbe3e;
      border-radius: 5px;

      > div {
        @include g-font(16, 1);
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }
}
