@if $device == PC {
  .t0-b-sideBox#{$variation1of3} {
    margin: 0 auto;
    position: relative;
    background-image: url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg2.png");
    background-repeat: repeat-y, repeat-x, repeat-y, repeat-x, repeat;
    background-position: left top, left bottom, right top, left top, left top;
    background-color: #fff;
    box-shadow: 2px 2px 2px #DCD8D4, -2px -2px 2px #DCD8D4;
    &__hd {
      position: relative;
      text-align: center;
      min-height: 52px;
      max-height: 143px;
      background-image: url("../imgs/t0-b-sideBox/bg7.png"), url("../imgs/t0-b-sideBox/bg8.png"), url("../imgs/t0-b-sideBox/bg6.png"), url("../imgs/t0-b-sideBox/bg6.png"), url("../imgs/t0-b-sideBox/bg9.png"), url("../imgs/t0-b-sideBox/bg4.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
      background-position: left top, right top, left top, right top, left top, left bottom;
      > span {
        background-image: url("../imgs/t0-b-sideBox/bg5.png"), url("../imgs/t0-b-sideBox/bg10.png"), url("../imgs/t0-b-sideBox/bg3.png");
        background-repeat: repeat-x, no-repeat, repeat;
        background-position: left bottom, right top, left top;
        position: absolute;
        left: 1px;
        right: 1px;
        top: 17px;
        bottom: 5px;
        background-size: auto, 100%, auto;
      }
      h4 {
        @include g-font(18, 0);
        color: #fff;
        padding: 12px 10px 10px;
        position: relative;
      }
    }
    &__bd {
      padding: 20px 20px 10px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      h4 {
        &:hover {
          color: #555;
        }
      }
    }
  }

  .t0-b-sideBox#{$variation2of3} {
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #DCD8D4, -2px -2px 2px #DCD8D4;
    &__hd {
      padding: 10px 10px 10px 35px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-weight: bold;
      background-image: url("../imgs/t0-b-sideBox/bg16.png"), url("../imgs/t0-b-sideBox/bg12.png"), url("../imgs/t0-b-sideBox/bg15.png");
      background-repeat: no-repeat, repeat-x, repeat-x;
      background-position: 20px center, left bottom, left top;
      background-color: #e98712;
      h4 {
        @include g-font(18, 0);
        color: #fff;
      }
    }
    &__bd {
      padding: 20px 20px 10px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      h4 {
        &:hover {
          color: #555;
        }
      }
    }
  }

  .t0-b-sideBox#{$variation3of3} {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dcd8d4, -2px -2px 2px #dcd8d4;
    &__hd {
      padding: 12px 9px 14px 31px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-image: url("../imgs/t0-b-sideBox/bg18.png"), url("../imgs/t0-b-sideBox/bg11.png"), linear-gradient(#fffffe, #ffffed, #ffffe0);
      background-repeat: repeat-x, no-repeat, no-repeat;
      background-position: left bottom, 9px center, left top;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #fff;
        pointer-events: none;
      }
    }
    h4 {
      @include g-font(18, 0);
      color: #e27c00;
      font-weight: bold;
    }
    &__bd {
      padding: 20px 20px 10px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      h4 {
        &:hover {
          color: #ff8c00;
        }
      }
    }
  }
}

@if $device == SP {



  .t0-b-sideBox#{$variation1of3} {
    margin: 0 -5px;
    position: relative;
    background-color: #fff;
    background-image: url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg.png"), url("../imgs/t0-b-sideBox/bg2.png");
    background-repeat: repeat-y, repeat-x, repeat-y, repeat-x, repeat;
    background-position: left top, left bottom, right top, left top, left top;
    box-shadow: 2px 2px 2px #dcd8d4, -2px -2px 2px #dcd8d4;
    &__hd {
      position: relative;
      text-align: center;
      min-height: 52px;
      max-height: 143px;
      background-image: url("../imgs/t0-b-sideBox/bg7.png"), url("../imgs/t0-b-sideBox/bg8.png"), url("../imgs/t0-b-sideBox/bg6.png"), url("../imgs/t0-b-sideBox/bg6.png"), url("../imgs/t0-b-sideBox/bg9.png"), url("../imgs/t0-b-sideBox/bg4.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat-x, repeat-x;
      background-position: left top, right top, left top, right top, left top, left bottom;
      > span {
        background-image: url("../imgs/t0-b-sideBox/bg5.png"), url("../imgs/t0-b-sideBox/bg10.png"), url("../imgs/t0-b-sideBox/bg3.png");
        background-repeat: repeat-x, no-repeat, repeat;
        background-position: left bottom, right top, left top;
        position: absolute;
        left: 1px;
        right: 1px;
        top: 17px;
        bottom: 5px;
      }
      h4 {
        @include g-font(18, 0);
        color: #fff;
        padding: 12px 10px 10px;
        position: relative;
      }
      a {
        text-decoration: none;
        h4 {
          &:hover {
            color: #555;
          }
        }
      }
    }
    &__bd {
      padding: 10px 20px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of3} {
    margin: 0 -5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dcd8d4, -2px -2px 2px #dcd8d4;
    &__hd {
      padding: 10px 10px 10px 35px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-weight: bold;
      background-image: url("../imgs/t0-b-sideBox/bg16.png"), url("../imgs/t0-b-sideBox/bg12.png"), url("../imgs/t0-b-sideBox/bg15.png");
      background-repeat: no-repeat, repeat-x, repeat-x;
      background-position: 20px center, left bottom, left top;
      background-color: #e98712;
      h4 {
        @include g-font(18, 0);
        color: #fff;
      }
      a {
        text-decoration: none;
        h4 {
          &:hover {
            color: #555;
          }
        }
      }
    }
    &__bd {
      padding: 10px 20px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation3of3} {
    margin: 0 -5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #dcd8d4, -2px -2px 2px #dcd8d4;
    &__hd {
      padding: 12px 9px 14px 31px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background-image: url("../imgs/t0-b-sideBox/bg18.png"), url("../imgs/t0-b-sideBox/bg11.png"), linear-gradient(#fffffe, #ffffed, #ffffe0);
      background-repeat: repeat-x, no-repeat, no-repeat;
      background-position: left bottom, 9px center, left top;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 3px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #fff;
        pointer-events: none;
      }
      h4 {
        @include g-font(18, 0);
        color: #e27c00;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        h4 {
          &:hover {
            color: #ff8c00;
          }
        }
      }
    }
    &__bd {
      padding: 10px 20px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }



}
