@if $device == PC {
  .t0-b-footerUnit-nav {
    color: #502d03;
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      padding-left: 23px;
      vertical-align: middle;
      background: url("../imgs/t0-b-footerUnit-nav/bg17.png") no-repeat left center;
      a {
        display: block;
        color: #502d03;
        text-decoration: none;
        &:hover {
          color: #ff8c00;
          p {
            border-bottom: 1px solid #ff8c00;
          }
        }

        p {
          @include g-font(14, 1);
          display: block;
          padding: 0 0 2px;
          padding-bottom: 2px;
          border-bottom: 1px solid #a99d94;
        }
      }

      > p {
        @include g-font(14, 1);
        display: block;
        padding: 0 0 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid #a99d94;
      }
    }

    #{$_block}__item + #{$_block}__item {
      margin-left: 15px;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-nav {
    // バナー要素（横幅95%）と左端を揃える
    margin-left: 2.5%;
    font-weight: bold;
    color: #502d03;
    &__item {
      display: table;
      padding-left: 20px;
      margin-top: 20px;
      background: url("../imgs/t0-b-footerUnit-nav/bg17.png") no-repeat left center;
      &:first-child {
        margin-top: 0;
      }

      a {
        display: block;
        color: #502d03;
        text-decoration: none;
        p {
          @include g-font(16, 1);
          display: block;
          padding: 0 0 2px;
          padding-bottom: 2px;
          border-bottom: 1px solid #a99d94;
        }
      }

      > p {
        @include g-font(16, 1);
        display: block;
        padding: 0 0 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid #a99d94;
      }
    }
  }
}
