@if $device == PC {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24 {
    position: relative;
    padding: 40px 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    @if $layout == "L25" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "L30" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "N00" {
      padding: 40px (1000px + $areaSubWidth / 2);
      margin: 0 (-1000px - $areaSubWidth / 2);
    } @else if $layout == "R25" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    } @else if $layout == "R30" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    }
  }

  .t0-b-fullWidthFrame17::before,
  .t0-b-fullWidthFrame18::before,
  .t0-b-fullWidthFrame19::before,
  .t0-b-fullWidthFrame20::before,
  .t0-b-fullWidthFrame21::before,
  .t0-b-fullWidthFrame22::before,
  .t0-b-fullWidthFrame23::before,
  .t0-b-fullWidthFrame24::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
  }

  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame24 {
    @if $layout == "L25" {
      margin-left: -1000px;
    } @else if $layout == "L30" {
      margin-left: -1000px;
    } @else if $layout == "N00" {
      margin: 0 -1000px;
    } @else if $layout == "R25" {
      margin-right: -1000px;
    } @else if $layout == "R30" {
      margin-right: -1000px;
    }
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    position: relative;
    padding: 75px 1035px;
    &::before {
      position: absolute;
      top: 40px;
      right: 1000px;
      bottom: 40px;
      left: 1000px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
    @if $layout == "N00" {
      padding: 75px (1035px + $areaSubWidth / 2);
      &::before {
        right: 1000 + $areaSubWidth / 2;
        left: 1000 + $areaSubWidth / 2;
      }
    }
  }

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $g-fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $g-fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $g-fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $g-fullWidthBgColor4;
    &::before {
      background-color: $g-fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $g-fullWidthBgColor5;
  }

  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12 {
    background-color: $g-fullWidthBgColor6;
  }

  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14 {
    background-color: $g-fullWidthBgColor7;
  }

  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16 {
    background-color: $g-fullWidthBgColor8;
  }

  .t0-b-fullWidthFrame17::before,
  .t0-b-fullWidthFrame18::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_1.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame19::before,
  .t0-b-fullWidthFrame20::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_2.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame21::before,
  .t0-b-fullWidthFrame22::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_3.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame23::before,
  .t0-b-fullWidthFrame24::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_4.png");
    background-repeat: repeat;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 5%;
    }
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame17::before,
  .t0-b-fullWidthFrame18::before,
  .t0-b-fullWidthFrame19::before,
  .t0-b-fullWidthFrame20::before,
  .t0-b-fullWidthFrame21::before,
  .t0-b-fullWidthFrame22::before,
  .t0-b-fullWidthFrame23::before,
  .t0-b-fullWidthFrame24::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    padding: 40px 35px;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $g-fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $g-fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $g-fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $g-fullWidthBgColor4;
    &::before {
      background-color: $g-fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $g-fullWidthBgColor5;
  }

  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12 {
    background-color: $g-fullWidthBgColor6;
  }

  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14 {
    background-color: $g-fullWidthBgColor7;
  }

  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16 {
    background-color: $g-fullWidthBgColor8;
  }

  .t0-b-fullWidthFrame17::before,
  .t0-b-fullWidthFrame18::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_1.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame19::before,
  .t0-b-fullWidthFrame20::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_2.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame21::before,
  .t0-b-fullWidthFrame22::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_3.png");
    background-repeat: repeat;
  }

  .t0-b-fullWidthFrame23::before,
  .t0-b-fullWidthFrame24::before {
    background-image: url("../imgs/t0-b-fullWidthFrame/texture_4.png");
    background-repeat: repeat;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      padding-top: 30px; // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
    }
  }
}
