//グルーピング旧部品。新しくバリエーションを作らないこと
@if $device == PC {
  .t0-b-frameWithHCaptionNumIcon {
    $_block: &;
    $_fontSize_hd-h: 28;
    $_fontSize_caption: 16;
    $_fontSize_numIcon-h: 26;
    $_fontSizeDiff: 4;
    $_fontSize_hd-h_s: $_fontSize_hd-h - $_fontSizeDiff;
    $_fontSize_hd-h_l: $_fontSize_hd-h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_fontSize_numIcon-h_s: $_fontSize_numIcon-h - $_fontSizeDiff;
    $_fontSize_numIcon-h_l: $_fontSize_numIcon-h + $_fontSizeDiff;
    &__hd {
      #{$_block}__hd-caption-upper {
        @include g-font-layout($_fontSize_caption, 1, $layout);
        padding: 0 0 5px;
        a {
          text-decoration: underline;
        }
      }

      #{$_block}__hd-caption-lower {
        @include g-font-layout($_fontSize_caption, 1, $layout);
        padding: 5px 0 0;
        a {
          text-decoration: underline;
        }
      }

      #{$_block}__hd-h h3 {
        @include g-font-layout($_fontSize_hd-h, 1, $layout);
      }

      &--size-1 {
        #{$_block}__hd-caption-upper {
          @include g-font-layout($_fontSize_caption_s, 1, $layout);
        }

        #{$_block}__hd-caption-lower {
          @include g-font-layout($_fontSize_caption_s, 1, $layout);
        }

        #{$_block}__hd-h h3 {
          @include g-font-layout($_fontSize_hd-h_s, 1, $layout);
        }
      }

      &--size-3 {
        #{$_block}__hd-caption-upper {
          @include g-font-layout($_fontSize_caption_l, 1, $layout);
        }

        #{$_block}__hd-caption-lower {
          @include g-font-layout($_fontSize_caption_l, 1, $layout);
        }

        #{$_block}__hd-h h3 {
          @include g-font-layout($_fontSize_hd-h_l, 1, $layout);
        }
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }
    }

    &__numIcon {
      display: inline-block;
      padding-bottom: 2%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      &-h {
        @include g-font-layout($_fontSize_numIcon-h, 1, $layout);
      }

      &-caption-upper {
        @include g-font-layout($_fontSize_caption, 1, $layout);
        padding: 0 0 5px;
        a {
          text-decoration: underline;
        }
      }

      &-caption-lower {
        @include g-font-layout($_fontSize_caption, 1, $layout);
        padding: 5px 0 0;
        a {
          text-decoration: underline;
        }
      }

      &-caption-upper + &-h {
        @include g-font-layout($_fontSize_numIcon-h - 2, 1, $layout);
      }

      &-caption-upper + a > &-h {
        @include g-font-layout($_fontSize_numIcon-h - 2, 1, $layout);
      }

      &--size-1 {
        #{$_block}__caption-upper {
          @include g-font-layout($_fontSize_caption_s, 1, $layout);
        }

        #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_s, 1, $layout);
        }

        #{$_block}__caption-lower {
          @include g-font-layout($_fontSize_caption_s, 1, $layout);
        }

        #{$_block}__caption-upper + #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_s - 2, 1, $layout);
        }

        #{$_block}__caption-upper + a > #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_s - 2, 1, $layout);
        }
      }

      &--size-3 {
        #{$_block}__caption-upper {
          @include g-font-layout($_fontSize_caption_l, 1, $layout);
        }

        #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_l, 1, $layout);
        }

        #{$_block}__caption-lower {
          @include g-font-layout($_fontSize_caption_l, 1, $layout);
        }

        #{$_block}__caption-upper + #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_l - 2, 1, $layout);
        }

        #{$_block}__caption-upper + a > #{$_block}__numIcon-h {
          @include g-font-layout($_fontSize_numIcon-h_l - 2, 1, $layout);
        }
      }

      &--align {
        width: 100%;
        line-height: 0;
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }
    }

    &__box {
      padding-bottom: 2%;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    // 最下部の枠があるとき
    & + div {
      margin-top: 2%;
    }
  }
}

@if $device == SP {
  .t0-b-frameWithHCaptionNumIcon {
    $_block: &;
    $_fontSize_hd-h: 20;
    $_fontSize_caption: 14;
    $_fontSize_numIcon-h: 20;
    $_fontSize_caption: 14;
    padding: 20px 15px 10px;
    margin: 0 -5px;
    &__hd {
      h3 {
        @include g-font($_fontSize_hd-h, 1);
      }

      &-caption-upper {
        @include g-font($_fontSize_caption, 1);
        padding: 0 0 5px;
        a {
          text-decoration: underline;
        }
      }

      &-caption-lower {
        @include g-font($_fontSize_caption, 1);
        padding: 5px 0 0;
        a {
          text-decoration: underline;
        }
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }
    }

    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      &-h {
        @include g-font($_fontSize_numIcon-h, 1);
      }

      &-caption-upper {
        @include g-font($_fontSize_caption, 1);
        padding: 0 0 5px;
        a {
          text-decoration: underline;
        }
      }

      &-caption-lower {
        @include g-font($_fontSize_caption, 1);
        padding: 5px 0 0;
        a {
          text-decoration: underline;
        }
      }

      &--align {
        width: 100%;
        line-height: 0;
      }

      &--align-l {
        text-align: left;
      }

      &--align-c {
        text-align: center;
      }

      &--align-r {
        text-align: right;
      }
    }

    // 最下部の枠があるとき
    & + div {
      margin-top: 20px;
    }
  }
}
