@if $device == PC {
  .t0-b-fileDownloads {
    $_block: &;
    padding: $g-spacing4x 0 0;
    &:first-child {
      padding-top: 0;
    }

    &__item {
      @include cf;
      padding: $g-spacing2x 0 0;
    }

    a {
      display: block;
      float: left;
      text-decoration: underline;
    }

    &__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    &__itemIcon {
      padding-right: 10px;
    }

    &__itemText {
      @include g-font($g-fontSize);
      #{$_block}--size-2 & {
        @include g-font($g-fontSize + 4);
      }

      #{$_block}--size-3 & {
        @include g-font($g-fontSize + 8);
      }

      #{$_block}--size-4 & {
        @include g-font($g-fontSize + 12);
      }

      #{$_block}--size-5 & {
        @include g-font($g-fontSize + 16);
      }
    }
  }

  .b-downloadIcon {
    @include fileIcon("doc", 1);
    @include fileIcon("img", 1);
    @include fileIcon("pdf", 1);
    @include fileIcon("xls", 1);
    display: inline-block;
    vertical-align: middle;
    .t0-b-fileDownloads--size-2 & {
      @include fileIcon("doc", 1.25);
      @include fileIcon("img", 1.25);
      @include fileIcon("pdf", 1.25);
      @include fileIcon("xls", 1.25);
    }

    .t0-b-fileDownloads--size-3 & {
      @include fileIcon("doc", 1.5);
      @include fileIcon("img", 1.5);
      @include fileIcon("pdf", 1.5);
      @include fileIcon("xls", 1.5);
    }

    .t0-b-fileDownloads--size-4 & {
      @include fileIcon("doc", 1.75);
      @include fileIcon("img", 1.75);
      @include fileIcon("pdf", 1.75);
      @include fileIcon("xls", 1.75);
    }

    .t0-b-fileDownloads--size-5 & {
      @include fileIcon("doc", 2);
      @include fileIcon("img", 2);
      @include fileIcon("pdf", 2);
      @include fileIcon("xls", 2);
    }
  }
}

@if $device == SP {
  .t0-b-fileDownloads {
    padding: $g-spacing4x 0 0;
    &:first-child {
      padding-top: 0;
    }

    &__item {
      @include cf;
      padding: $g-spacing2x 0 0;
      &:first-child {
        padding-top: 0;
      }
    }

    a {
      display: block;
      float: left;
      text-decoration: underline;
    }

    &__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    &__itemIcon {
      padding-right: 8px;
    }

    &__itemText {
      @include g-font($g-fontSize, 2);
      text-decoration: underline;
    }
  }

  .b-downloadIcon {
    @include fileIcon("doc", 1);
    @include fileIcon("img", 1);
    @include fileIcon("pdf", 1);
    @include fileIcon("xls", 1);
    display: inline-block;
    vertical-align: middle;
  }
}
