/*

---
name: 014_枠(<画像＋文字> ３列)
tag:
  - main
category:
  - 全部品
  - 11.枠
  - 11.枠/014_枠(<画像＋文字> ３列)
---

### 基本形

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__hd outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-article3Image__hd --></div>
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
    <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

*/

/*

---
name: 014_枠(<画像＋文字> ３列)（確認用）
tag:
  - main
category:
  - 11.枠/014_枠(<画像＋文字> ３列)
---

### 画像の左右

画像左

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__hd outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-article3Image__hd --></div>
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgL">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgL">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgL">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
              <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
    <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

### 回り込み

#### 回り込み無し

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

#### 回り込みあり

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR  ex-imageFloat">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR  ex-imageFloat">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR  ex-imageFloat">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

### 列の幅

#### 設定無し

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

#### 小

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-s t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-s t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-s t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

#### 中

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-m t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

#### 大

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-l t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-l t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW-l t0-b-twoColsMedia--imgR">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

### スマホサイトでの並び

#### horizon

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__horizon">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__horizon">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__horizon">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

#### vertical

```html
<div class="b-bPlacer-12s">
  <div class="t0-b-article3Image">
    <div class="t0-b-article3Image__bd">
      <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div>
          </div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__vertical">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div>
              <!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
          <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__vertical">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
        <div class="t0-b-layoutSplitter__div"><div>
          <div class="outerHtml">
            <div class="b-bPlacer-7s">
              <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
              <!-- /t0-b-wysiwyg --></div>
            <!-- /b-bPlacer-7s --></div></div>
            <div class="t0-b-twoColsMedia t0-b-twoColsMedia--colW- t0-b-twoColsMedia--imgR ex-spLayout__vertical">
            <div class="t0-b-twoColsMedia__div t0-b-twoColsMedia--spacing-4s">
              <div class="t0-b-twoColsMedia__row1col1 outerHtml">
                <div class="b-bPlacer-3s">
                  <div class=" t0-b-layoutSplitter t0-b-layoutSplitter--count-1 t0-b-layoutSplitter--spacing-4s"><div>
                    <div class="t0-b-layoutSplitter__div"><div>
                      <div class="t0-b-media t0-b-media--width-">
                        <div class="t0-b-media__media"><span><span><span></span></span></span>
                          <img src="https://placehold.jp/400x160.png">
                        </div>
                      <!-- /t0-b-media --></div>
                    <!-- /t0-b-layoutSplitter__div --></div></div>
                  <!-- /t0-b-layoutSplitter --></div></div>
                <!-- /b-bPlacer-3s --></div><!-- /t0-b-twoColsMedia__row1col1 --></div>
              <div class="t0-b-twoColsMedia__row1col2">
                <div class="outerHtml">
                  <div class="b-bPlacer-7s">
                    <div class="t0-b-wysiwyg"><p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
                    <!-- /t0-b-wysiwyg --></div>
                  <!-- /b-bPlacer-7s --></div>
                </div>
              <!-- /t0-b-twoColsMedia__row1col2 --></div>
            <div class="clearfix"></div><!-- /t0-b-twoColsMedia__div --></div>
          <!-- /t0-b-twoColsMedia --></div>
          <!-- /b-bPlacer-4s --></div>
        <!-- /t0-b-layoutSplitter__div --></div></div>
      <!-- /t0-b-layoutSplitter --></div>
    <!-- /b-bPlacer-4s --></div>
  <!-- /t0-b-article3Image --></div>
<!-- /b-bPlacer-12s --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
