/*
---
name: 020_枠(流れ 左 → 右)×７
tag:
  - main
category:
  - 全部品
  - 11.枠
  - 11.枠/020_枠(流れ 左 → 右)×７
---

### 基本形

#### バリエーション1

基本形のhdの下には15pxの余白をあける。

```html
<div class="t0-b-flow7LeftToRight-bPlacer">
  <div class="t0-b-flow7LeftToRight">
    <div class="t0-b-flow7LeftToRight__hd outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
    <div class="t0-b-flow7LeftToRight__bd">
    <div class="t0-b-flow7LeftToRight__row">
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
     </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
    <div data-switchable-key="contents.8.switchable" class="t0-b-flow7LeftToRight__row">
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
    <div data-switchable-key="contents.15.switchable" class="t0-b-flow7LeftToRight__row">
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight__arrow">
        <div class="t0-b-flow7LeftToRight__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
  </div>
  <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
<!-- /t0-b-flow7LeftToRight-bPlacer --></div></div>
```

#### バリエーション2

```html
<div class="t0-b-flow7LeftToRight2-bPlacer">
  <div class="t0-b-flow7LeftToRight2">
    <div class="t0-b-flow7LeftToRight2__hd outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
    <div class="t0-b-flow7LeftToRight2__bd">
    <div class="t0-b-flow7LeftToRight2__row">
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
     </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
    <div data-switchable-key="contents.8.switchable" class="t0-b-flow7LeftToRight2__row">
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
    <div data-switchable-key="contents.15.switchable" class="t0-b-flow7LeftToRight2__row">
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__arrow">
        <div class="t0-b-flow7LeftToRight2__arrow-inner"></div>
      </div>
      <div class="t0-b-flow7LeftToRight2__box">
        <div><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div></div>
      </div>
    </div>
  </div>
  <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div></div>
<!-- /t0-b-flow7LeftToRight-bPlacer --></div></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
