/*
---
name: 025_トップへ戻る
tag:
  - main
category:
  - 全部品
  - 12.その他
  - 12.その他/025_トップへ戻る
---

### 基本形

```html
<div class="t0-b-goToTop-bPlacer">
  <div class="t0-b-goToTop">
    <a href="#"><div>PAGE TOP</div></a>
  <!-- /t0-b-goToTop --></div>
<!-- /t0-b-goToTop-bPlacer --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}
