/*
---
name: 029_ラベル付きリスト
tag:
  - main
category:
  - 全部品
  - 03.リスト
  - 03.リスト/029_ラベル付きリスト
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-labeledList-bPlacer">
  <div class="t0-b-labeledList">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList-bPlacer --></div>
<div class="t0-b-labeledList-bPlacer">
  <div class="t0-b-labeledList">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList-bPlacer --></div>
<div class="t0-b-labeledList-bPlacer">
  <div class="t0-b-labeledList">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList-bPlacer --></div>
<div class="t0-b-labeledList-bPlacer">
  <div class="t0-b-labeledList">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList-bPlacer --></div>
<div class="t0-b-labeledList-bPlacer">
  <div class="t0-b-labeledList">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-labeledList2-bPlacer">
  <div class="t0-b-labeledList2">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList2-bPlacer --></div>
<div class="t0-b-labeledList2-bPlacer">
  <div class="t0-b-labeledList2">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList2-bPlacer --></div>
<div class="t0-b-labeledList2-bPlacer">
  <div class="t0-b-labeledList2">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList2-bPlacer --></div>
<div class="t0-b-labeledList2-bPlacer">
  <div class="t0-b-labeledList2">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList2-bPlacer --></div>
<div class="t0-b-labeledList2-bPlacer">
  <div class="t0-b-labeledList2">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-labeledList3-bPlacer">
  <div class="t0-b-labeledList3">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList3-bPlacer --></div>
<div class="t0-b-labeledList3-bPlacer">
  <div class="t0-b-labeledList3">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList3-bPlacer --></div>
<div class="t0-b-labeledList3-bPlacer">
  <div class="t0-b-labeledList3">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList3-bPlacer --></div>
<div class="t0-b-labeledList3-bPlacer">
  <div class="t0-b-labeledList3">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList3-bPlacer --></div>
<div class="t0-b-labeledList3-bPlacer">
  <div class="t0-b-labeledList3">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList3-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-labeledList4-bPlacer">
  <div class="t0-b-labeledList4">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList4-bPlacer --></div>
<div class="t0-b-labeledList4-bPlacer">
  <div class="t0-b-labeledList4">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList4-bPlacer --></div>
<div class="t0-b-labeledList4-bPlacer">
  <div class="t0-b-labeledList4">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList4-bPlacer --></div>
<div class="t0-b-labeledList4-bPlacer">
  <div class="t0-b-labeledList4">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList4-bPlacer --></div>
<div class="t0-b-labeledList4-bPlacer">
  <div class="t0-b-labeledList4">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList4-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-labeledList5-bPlacer">
  <div class="t0-b-labeledList5">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList5-bPlacer --></div>
<div class="t0-b-labeledList5-bPlacer">
  <div class="t0-b-labeledList5">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList5-bPlacer --></div>
<div class="t0-b-labeledList5-bPlacer">
  <div class="t0-b-labeledList5">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList5-bPlacer --></div>
<div class="t0-b-labeledList5-bPlacer">
  <div class="t0-b-labeledList5">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList5-bPlacer --></div>
<div class="t0-b-labeledList5-bPlacer">
  <div class="t0-b-labeledList5">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList5-bPlacer --></div>
```

#### バリエーション6

```html
<div class="t0-b-labeledList6-bPlacer">
  <div class="t0-b-labeledList6">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList6-bPlacer --></div>
<div class="t0-b-labeledList6-bPlacer">
  <div class="t0-b-labeledList6">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList6-bPlacer --></div>
<div class="t0-b-labeledList6-bPlacer">
  <div class="t0-b-labeledList6">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList6-bPlacer --></div>
<div class="t0-b-labeledList6-bPlacer">
  <div class="t0-b-labeledList6">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList6-bPlacer --></div>
<div class="t0-b-labeledList6-bPlacer">
  <div class="t0-b-labeledList6">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList6-bPlacer --></div>
```

#### バリエーション7

```html
<div class="t0-b-labeledList7-bPlacer">
  <div class="t0-b-labeledList7">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList7-bPlacer --></div>
<div class="t0-b-labeledList7-bPlacer">
  <div class="t0-b-labeledList7">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList7-bPlacer --></div>
<div class="t0-b-labeledList7-bPlacer">
  <div class="t0-b-labeledList7">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList7-bPlacer --></div>
<div class="t0-b-labeledList7-bPlacer">
  <div class="t0-b-labeledList7">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList7-bPlacer --></div>
<div class="t0-b-labeledList7-bPlacer">
  <div class="t0-b-labeledList7">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList7-bPlacer --></div>
```

#### バリエーション8

```html
<div class="t0-b-labeledList8-bPlacer">
  <div class="t0-b-labeledList8">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList8-bPlacer --></div>
<div class="t0-b-labeledList8-bPlacer">
  <div class="t0-b-labeledList8">
    <table><tr><th><span><span><span></span></span></span>
    <div>ラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベルラベル</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList8-bPlacer --></div>
<div class="t0-b-labeledList8-bPlacer">
  <div class="t0-b-labeledList8">
    <table><tr><th><span><span><span></span></span></span>
    <div><span style="color:red">ラベル</span></div>
    </th>
    <td>
    <div><span style="color:red">彼は背後にひそかな足音を聞いた</span></div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList8-bPlacer --></div>
<div class="t0-b-labeledList8-bPlacer">
  <div class="t0-b-labeledList8">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList8-bPlacer --></div>
<div class="t0-b-labeledList8-bPlacer">
  <div class="t0-b-labeledList8">
    <table><tr><th><span><span><span></span></span></span>
    <div>2014.05.12</div>
    </th>
    <td>
    <div>彼は背後にひそかな足音を聞いた</div>
    </td></tr></table>
  <!-- /t0-b-labeledList --></div>
<!-- /t0-b-labeledList8-bPlacer --></div>
```


*/
@if $device == PC {

}

@if $device == SP {

}
