/*
---
name: 031_キャッチコピー
tag:
  - main
category:
  - 全部品
  - 02.テキスト
  - 02.テキスト/031_キャッチコピー
---
# キャッチコピー

### 基本形

#### バリエーション1

```html
<div class="t0-b-catchText-bPlacer">
  <div class="t0-b-catchText"><span><span><span></span></span></span>
    <div class="t0-b-catchText__text-sub"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
    <div class="t0-b-catchText__text-sub2"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
    <div class="t0-b-catchText__text-main"><span><span><span></span></span></span><p>何より大切にしているのは、安心感です</p></div>
    <div class="t0-b-catchText__text-sub3"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
    <div class="t0-b-catchText__text-sub4"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
  <!-- /t0-b-catchText --></div>
<!-- /t0-b-catchText-bPlacer --></div>

<div class="t0-b-catchText-bPlacer">
  <div class="t0-b-catchText"><span><span><span></span></span></span>
    <div class="t0-b-catchText__text-main"><span><span><span></span></span></span><p>補足無し補足無し補足無し補足無し</p></div>
  <!-- /t0-b-catchText --></div>
<!-- /t0-b-catchText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-catchText2-bPlacer">
  <div class="t0-b-catchText2"><span><span><span></span></span></span>
    <div class="t0-b-catchText2__text-sub"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
    <div class="t0-b-catchText2__text-sub2"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
    <div class="t0-b-catchText2__text-main"><span><span><span></span></span></span><p>何より大切にしているのは、安心感です</p></div>
    <div class="t0-b-catchText2__text-sub3"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
    <div class="t0-b-catchText2__text-sub4"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
  <!-- /t0-b-catchText --></div>
<!-- /t0-b-catchText2-bPlacer --></div>

<div class="t0-b-catchText2-bPlacer">
  <div class="t0-b-catchText2"><span><span><span></span></span></span>
    <div class="t0-b-catchText2__text-main"><span><span><span></span></span></span><p>補足無し補足無し補足無し補足無し</p></div>
  <!-- /t0-b-catchText --></div>
<!-- /t0-b-catchText2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-catchText3-bPlacer">
  <div class="t0-b-catchText3">
    <div class="t0-b-catchText3__inner"><span><span><span></span></span></span>
      <div class="t0-b-catchText3__text-sub"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
      <div class="t0-b-catchText3__text-sub2"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
      <div class="t0-b-catchText3__text-main"><span><span><span></span></span></span><p>何より大切にしているのは、安心感です</p></div>
      <div class="t0-b-catchText3__text-sub3"><span><span><span></span></span></span><p>患者様の笑顔のために精一杯頑張ります</p></div>
      <div class="t0-b-catchText3__text-sub4"><span><span><span></span></span></span><p>あきばれ歯科医院の想いをみなさまに</p></div>
      <!-- /t0-b-catchText3__inner --></div>
    <!-- /t0-b-catchText3 --></div>
<!-- /t0-b-catchText3-bPlacer --></div>

<div class="t0-b-catchText3-bPlacer">
  <div class="t0-b-catchText3">
    <div class="t0-b-catchText3__inner"><span><span><span></span></span></span>
      <div class="t0-b-catchText3__text-main"><span><span><span></span></span></span><p>補足無し補足無し補足無し補足無し</p></div>
    <!-- /t0-b-catchText3__inner --></div>
  <!-- /t0-b-catchText3 --></div>
<!-- /t0-b-catchText3-bPlacer --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}
