/*
---
name: 036_番号アイコン付き見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/036_番号アイコン付き見出し
---

### 基本形

#### バリエーション1

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon__bd">
      <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-numIcon__h">リンク設定</h4>
      </a>
    <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-numIcon__bd --></div>
  <!-- /t0-b-lv4H-numIcon --></div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon__bd">
      <a href="#" target="">
        <h4 class="t0-b-lv4H-numIcon__h">補足無し<span style="color:red">(文字大きくなる)</span></h4>
      </a>
    <!-- /t0-b-lv4H-numIcon__bd --></div>
  <!-- /t0-b-lv4H-numIcon --></div></div>
<!-- /b-bPlacer-4s --></div>
```

#### バリエーション2

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon2__bd">
      <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-numIcon2__h">リンク設定あり</h4>
      </a>
    <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-numIcon2__bd --></div>
  <!-- /t0-b-lv4H-numIcon2 --></div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon2__bd">
      <a href="#" target="">
        <h4 class="t0-b-lv4H-numIcon2__h">補足無し<span style="color:red">(文字大きくなる)</span></h4>
      </a>
    <!-- /t0-b-lv4H-numIcon2__bd --></div>
  <!-- /t0-b-lv4H-numIcon2 --></div></div>
<!-- /b-bPlacer-4s --></div>
```
*/

/*
---
name: 036_番号アイコン付き見出し（確認用）
tag:
  - main
category:
  - 01.見出し/036_番号アイコン付き見出し
---

### リンク・アンカーリンク設定無し

```html
<div class="b-bPlacer-4s">
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon__bd">
      <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
      <h4 class="t0-b-lv4H-numIcon__h">リンク設定なし</h4>
      <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-numIcon__bd --></div>
  <!-- /t0-b-lv4H-numIcon --></div></div>
<!-- /b-bPlacer-4s --></div>

<div class="b-bPlacer-4s">
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
    <div class="t0-b-lv4H-numIcon2__bd">
      <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
      <h4 class="t0-b-lv4H-numIcon2__h">リンク設定なし</h4>
      <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
<!-- /b-bPlacer-4s --></div>
```

### 寄せ

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon__bd">
        <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon__h">設定無し</h4>
        </a>
      <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon__bd --></div>
    <!-- /t0-b-lv4H-numIcon --></div></div>
  <!-- /b-bPlacer-4s --></div>
  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon2__bd">
        <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon2__h">設定無し</h4>
        </a>
      <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
  <!-- /b-bPlacer-4s --></div>

  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-l"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon__bd">
        <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon__h">左寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon__bd --></div>
    <!-- /t0-b-lv4H-numIcon --></div></div>
  <!-- /b-bPlacer-4s --></div>
  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-l"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon2__bd">
        <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon2__h">左寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
  <!-- /b-bPlacer-4s --></div>

  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-c"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon__bd">
        <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon__h">中央寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon__bd --></div>
    <!-- /t0-b-lv4H-numIcon --></div></div>
  <!-- /b-bPlacer-4s --></div>
  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-c"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon2__bd">
        <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon2__h">中央寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
  <!-- /b-bPlacer-4s --></div>

  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-r"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon__bd">
        <div class="t0-b-lv4H-numIcon__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon__h">右寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon__bd --></div>
    <!-- /t0-b-lv4H-numIcon --></div></div>
  <!-- /b-bPlacer-4s --></div>
  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-r"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon2__bd">
        <div class="t0-b-lv4H-numIcon2__caption-upper">キャプション上</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon2__h">右寄せ</h4>
        </a>
      <div class="t0-b-lv4H-numIcon2__caption-lower">キャプション下</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
  <!-- /b-bPlacer-4s --></div>
```

### 複数行

```html
<div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon t0-b-lv4H-numIcon--align-"><div>
    <div class="t0-b-lv4H-numIcon__iconPlacer"><span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon__bd">
        <div class="t0-b-lv4H-numIcon__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon__h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
        </a>
      <div class="t0-b-lv4H-numIcon__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
      <!-- /t0-b-lv4H-numIcon__bd --></div>
    <!-- /t0-b-lv4H-numIcon --></div></div>
  <!-- /b-bPlacer-4s --></div>
  <div class="b-bPlacer-4s">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-numIcon2 t0-b-lv4H-numIcon2--align-"><div>
    <div class="t0-b-lv4H-numIcon2__iconPlacer"><span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span></div>
      <div class="t0-b-lv4H-numIcon2__bd">
        <div class="t0-b-lv4H-numIcon2__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
        <a href="#" target="">
          <h4 class="t0-b-lv4H-numIcon2__h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
        </a>
      <div class="t0-b-lv4H-numIcon2__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
      <!-- /t0-b-lv4H-numIcon2__bd --></div>
    <!-- /t0-b-lv4H-numIcon2 --></div></div>
  <!-- /b-bPlacer-4s --></div>
```

### アイコン

#### 安心

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--anshin-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--anshin-10"></span>
```

#### Concept

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--concept-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--concept-10"></span>
```

#### 方針

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--houshin-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--houshin-10"></span>
```

#### こだわり

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--kodawari-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--kodawari-10"></span>
```

#### メリット

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--merit-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--merit-10"></span>
```

#### お約束

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--oyakusoku-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--oyakusoku-10"></span>
```

#### Point

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--point-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--point-10"></span>
```

#### 理由

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--riyu-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--riyu-10"></span>
```

#### 特徴

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho-10"></span>
```

#### 特長

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tokucho2-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tokucho2-10"></span>
```

#### 強み

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--tsuyomi-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--tsuyomi-10"></span>
```

#### Step

```html
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-1"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-2"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-3"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-4"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-5"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-6"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-7"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-8"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-9"></span>
<span class="t0-b-lv4H-numIcon__icon t0-b-lv4H-numIcon__icon--step-10"></span>
<br>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-1"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-2"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-3"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-4"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-5"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-6"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-7"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-8"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-9"></span>
<span class="t0-b-lv4H-numIcon2__icon t0-b-lv4H-numIcon2__icon--step-10"></span>
```

*/

@if $device == PC {

}

@if $device == SP {

}
