/*
---
name: 042_誘導リンク（上下補足付）
tag:
  - main
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/042_誘導リンク（上下補足付）
---

### 基本形

```html
<div class="b-bPlacer-4s">
  <div class="t0-b-navItem2Captioned"><div>
    <div class="t0-b-navItem2Captioned__icon"></div>
    <div class="t0-b-navItem2Captioned__text">
      <div class="t0-b-navItem2Captioned__caption-upper">キャプション上</div>
      <a href="#" target="">
        <div class="t0-b-navItem2Captioned__main">リンク設定あり</div>
      </a>
      <div class="t0-b-navItem2Captioned__caption-lower">キャプション下</div>
    </div>
  <!-- /t0-b-navItem2Captioned --></div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <div class="t0-b-navItem2Captioned"><div>
    <div class="t0-b-navItem2Captioned__icon"></div>
    <div class="t0-b-navItem2Captioned__text">
      <a href="#" target="">
        <div class="t0-b-navItem2Captioned__main">補足無し</div>
      </a>
    </div>
  <!-- /t0-b-navItem2Captioned --></div></div>
<!-- /b-bPlacer-4s --></div>
```

### リンク設定無し

```html
<div class="b-bPlacer-4s">
  <div class="t0-b-navItem2Captioned"><div>
    <div class="t0-b-navItem2Captioned__icon"></div>
    <div class="t0-b-navItem2Captioned__text">
      <div class="t0-b-navItem2Captioned__caption-upper">キャプション上</div>
      <div class="t0-b-navItem2Captioned__main">リンク設定無し</div>
      <div class="t0-b-navItem2Captioned__caption-lower">キャプション下</div>
    </div>
  <!-- /t0-b-navItem2Captioned --></div></div>
<!-- /b-bPlacer-4s --></div>
<div class="b-bPlacer-4s">
  <div class="t0-b-navItem2Captioned"><div>
    <div class="t0-b-navItem2Captioned__icon"></div>
    <div class="t0-b-navItem2Captioned__text">
      <div class="t0-b-navItem2Captioned__main">補足無し</div>
    </div>
  <!-- /t0-b-navItem2Captioned --></div></div>
<!-- /b-bPlacer-4s --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}
