/*
---
name: 044_区切り線
tag:
  - main
category:
  - 全部品
  - 12.その他
  - 12.その他/044_区切り線
---

### 基本形

```html
<div class="t0-b-line-bPlacer">
  <div class="t0-b-line"><hr></div>
<!-- /t0-b-line-bPlacer --></div>
```


*/
@if $device == PC {

}

@if $device == SP {

}
