/*
---
name: 048_FAQ見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/048_FAQ見出し
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

*/

/*
---
name: 048_FAQ見出し（確認用）
tag:
  - main
category:
  - 01.見出し/048_FAQ見出し
---

### リンク・アンカーリンク設定無し

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定無し</h2>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
      <h2 class="t0-b-lv2H-faqIcon2__h">リンク設定無し</h2>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

### 寄せ

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">設定無し</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-l t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">左寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-c t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">中央寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align-r t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">右寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">設定無し</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align-l t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">左寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align-c t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">中央寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align-r t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">右寄せ</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

### 複数行

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

### サイズ

#### 小さい

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-1"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-1"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

#### 中

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-2"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-2"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

#### 大きい

```html
<div class="t0-b-lv2H-faqIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon t0-b-lv2H-faqIcon--align- t0-b-lv2H-faqIcon--size-3"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon__iconPlacer"><span class="t0-b-lv2H-faqIcon__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon-bPlacer --></div>

<div class="t0-b-lv2H-faqIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv2H-faqIcon2 t0-b-lv2H-faqIcon2--align- t0-b-lv2H-faqIcon2--size-3"><span><span><span></span></span></span><div>
    <div class="t0-b-lv2H-faqIcon2__iconPlacer"><span class="t0-b-lv2H-faqIcon2__icon"></span></div>
    <a href="#" target="">
      <h2 class="t0-b-lv2H-faqIcon2__h">リンク設定あり</h2>
    </a>
  </div></div>
<!-- /t0-b-lv2H-faqIcon2-bPlacer --></div>
```

*/
@if $device == PC {

}

@if $device == SP {

}
