/*
---
name: 052_用途別の装飾見出し(A)
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/052_用途別の装飾見出し(A)
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align- t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-">リンク設定あり</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>

<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align- t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-">補足無し<span style="color:red">(文字大きくなる)</span></h4>
      </a>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align- t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-">リンク設定あり</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>

<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align- t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-">補足無し<span style="color:red">(文字大きくなる)</span></h4>
      </a>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>
```
*/

/*
---
name: 052_用途別の装飾見出し(A)（確認用）
tag:
  - main
category:
  - 01.見出し/052_用途別の装飾見出し(A)
---

### リンク・アンカーリンク設定無し

```html
<div class="t0-b-lv4H-aIcon-bPlacer">
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align- t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-">リンク設定無し</h4>
     <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align- t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-">リンク設定無し</h4>
     <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>
```

### 寄せ

```html
<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align- t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-">設定無し</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align- t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-">設定無し</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>

<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align-l t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-l">左寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align-l t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-l">左寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>

<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align-c t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-c">中央寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align-c t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-c">中央寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>
<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align-r t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-r">中央寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>
<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align-r t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">キャプション上</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-r">中央寄せ</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">キャプション下</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>
```

### 複数行

```html
<div class="t0-b-lv4H-aIcon-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon t0-b-lv4H-aIcon--align- t0-b-lv4H-aIcon--size-"><div>
     <div class="t0-b-lv4H-aIcon__iconPlacer"><span class="t0-b-lv4H-aIcon__icon"></span></div>
     <div class="t0-b-lv4H-aIcon__bd">
     <div class="t0-b-lv4H-aIcon__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon__h t0-b-lv4H-aIcon--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
      </a>
    <div class="t0-b-lv4H-aIcon__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <!-- /t0-b-lv4H-aIcon__bd --></div>
  <!-- /t0-b-lv4H-aIcon --></div></div>
<!-- /t0-b-lv4H-aIcon-bPlacer --></div>

<div class="t0-b-lv4H-aIcon2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-lv4H-aIcon2 t0-b-lv4H-aIcon2--align- t0-b-lv4H-aIcon2--size-"><div>
     <div class="t0-b-lv4H-aIcon2__iconPlacer"><span class="t0-b-lv4H-aIcon2__icon"></span></div>
     <div class="t0-b-lv4H-aIcon2__bd">
     <div class="t0-b-lv4H-aIcon2__caption-upper">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
      <a href="#" target="">
        <h4 class="t0-b-lv4H-aIcon2__h t0-b-lv4H-aIcon2--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
      </a>
    <div class="t0-b-lv4H-aIcon2__caption-lower">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</div>
    <!-- /t0-b-lv4H-aIcon2__bd --></div>
  <!-- /t0-b-lv4H-aIcon2 --></div></div>
<!-- /t0-b-lv4H-aIcon2-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
