@if $device == PC {

  .t0-b-frame3col {
    &__row {
      padding-bottom: 5%;
      display: flex;
      &:last-child {
        padding-bottom: 0;
      }
    }

    &__col--colSpacing {
      &- {
        flex-basis: (100%-2*2)/3;
      }
      &-l {
        flex-basis: (100%-6*2)/3;
      }
      &-m {
        flex-basis: (100%-3.5*2)/3;
      }
      &-s {
        flex-basis: (100%-1*2)/3;
      }
    }

    &--colSpacing {
      &- {
        flex-basis: 2%;
      }
      &-l {
        flex-basis: 6%;
      }
      &-m {
        flex-basis: 3.5%;
      }
      &-s {
        flex-basis: 1%;
      }
    }
  }

}

@if $device == SP {

  .t0-b-frame3col {
    &__col--colSpacing {
      height: 20px;
    }
  }

}