@if $device == PC {
  .t0-b-frame6col {
    &__row {
      display: flex;
    }

    &__colBasis {
      flex-basis: 100%;
    }

    &__box {
      &- {
        display: flex;
        flex-basis: ((100% - (2% * 5)) / 6);
      }

      &-l {
        display: flex;
        flex-basis: ((100% - (3.5% * 5)) / 6);
      }

      &-m {
        display: flex;
        flex-basis: ((100% - (2% * 5)) / 6);
      }

      &-s {
        display: flex;
        flex-basis: ((100% - (.5% * 5)) / 6);
      }
    }

    &__colSpacing {
      &- {
        flex-basis: 2%;
      }

      &-l {
        flex-basis: 3.5%;
      }

      &-m {
        flex-basis: 2%;
      }

      &-s {
        flex-basis: .5%;
      }
    }
  }
}

@if $device == SP {
  div[class^="t0-b-frame6col__box-"] {
    .t0-b-frame6col {
      &__colBasis {
        padding-bottom: 15px;
      }
    }

    :last-child {
      .t0-b-frame6col {
        &__colBasis {
          padding-bottom: 0;
        }
      }
    }
  }
}
