//グルーピング旧部品。新しくバリエーションを作らないこと
@if $device == PC {
  .t0-b-articleDecoration {
    $_block: &;
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    &__row {
      display: flex;
    }

    &__col {
      flex: 1 1 50%;
      padding-left: 7%;
      &:first-child {
        padding-left: 0;
      }
    }

    &__bd {
      display: table;
      width: 100%;
    }

    &__hd-h {
      position: relative;
      // 回り込みなしに必要
      overflow: hidden;
      h4 {
        @include g-font-layout($_fontSize, 1, $layout);
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }

      &--size-1 {
        h4 {
          @include g-font-layout($_fontSize_s, 1, $layout);
        }
      }

      &--size-3 {
        h4 {
          @include g-font-layout($_fontSize_l, 1, $layout);
        }
      }
    }

    &__ft {
      margin-top: 2%;
    }
  }
}

@if $device == SP {
  .t0-b-articleDecoration {
    $_block: &;
    $_fontSize: 20;
    margin: 0 -5px;
    &__col {
      padding-bottom: 30px;
      &:last-child {
        padding-bottom: 0;
      }
    }

    &__bd &__arrow {
      //
    }

    &__hd-h {
      // 回り込みなしに必要
      overflow: hidden;
      h4 {
        @include g-font($_fontSize, 1);
      }

      #{$_block}--align-l {
        text-align: left;
      }

      #{$_block}--align-c {
        text-align: center;
      }

      #{$_block}--align-r {
        text-align: right;
      }
    }

    &__ft {
      margin-top: 2%;
    }
  }
}
