/*
---
name: 130_サイド誘導リンク
tag:
  - side
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/130_サイド誘導リンク
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideNavItem-bPlacer">
  <div class="t0-b-sideNavItem">
    <a href="#" target="">
      <div class="t0-b-sideNavItem__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideNavItem2-bPlacer">
  <div class="t0-b-sideNavItem2">
    <a href="#" target="">
      <div class="t0-b-sideNavItem2__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-sideNavItem3-bPlacer">
  <div class="t0-b-sideNavItem3">
    <a href="#" target="">
      <div class="t0-b-sideNavItem3__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem3-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-sideNavItem4-bPlacer">
  <div class="t0-b-sideNavItem4">
    <a href="#" target="">
      <div class="t0-b-sideNavItem4__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem4-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-sideNavItem5-bPlacer">
  <div class="t0-b-sideNavItem5">
    <a href="#" target="">
      <div class="t0-b-sideNavItem5__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem5-bPlacer --></div>
```

#### バリエーション6

```html
<div class="t0-b-sideNavItem6-bPlacer">
  <div class="t0-b-sideNavItem6">
    <a href="#" target="">
      <div class="t0-b-sideNavItem6__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem6-bPlacer --></div>
```

#### バリエーション7

```html
<div class="t0-b-sideNavItem7-bPlacer">
  <div class="t0-b-sideNavItem7">
    <a href="#" target="">
      <div class="t0-b-sideNavItem7__inner">
        <span></span>
          <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem7-bPlacer --></div>
```
*/

/*
---
name: 130_サイド誘導リンク（確認用）
tag:
  - side
category:
  - 06.ナビゲーション/130_サイド誘導リンク
---

### リンク設定無し

```html
<div class="t0-b-sideNavItem-bPlacer">
  <div class="t0-b-sideNavItem">
    <div class="t0-b-sideNavItem__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem-bPlacer --></div>

<div class="t0-b-sideNavItem2-bPlacer">
  <div class="t0-b-sideNavItem2">
    <div class="t0-b-sideNavItem2__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem2-bPlacer --></div>

<div class="t0-b-sideNavItem3-bPlacer">
  <div class="t0-b-sideNavItem3">
    <div class="t0-b-sideNavItem3__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem3-bPlacer --></div>

<div class="t0-b-sideNavItem4-bPlacer">
  <div class="t0-b-sideNavItem4">
    <div class="t0-b-sideNavItem4__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem4-bPlacer --></div>

<div class="t0-b-sideNavItem5-bPlacer">
  <div class="t0-b-sideNavItem5">
    <div class="t0-b-sideNavItem5__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem5-bPlacer --></div>

<div class="t0-b-sideNavItem6-bPlacer">
  <div class="t0-b-sideNavItem6">
    <div class="t0-b-sideNavItem6__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem6-bPlacer --></div>

<div class="t0-b-sideNavItem7-bPlacer">
  <div class="t0-b-sideNavItem7">
    <div class="t0-b-sideNavItem7__inner">
      <span></span>
        <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavItem7-bPlacer --></div>
```

### 文字色を変更した場合

```html
<div class="t0-b-sideNavItem-bPlacer">
  <div class="t0-b-sideNavItem">
    <a href="#" target="">
    <div class="t0-b-sideNavItem__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem-bPlacer --></div>

<div class="t0-b-sideNavItem2-bPlacer">
  <div class="t0-b-sideNavItem2">
    <a href="#" target="">
    <div class="t0-b-sideNavItem2__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem2-bPlacer --></div>

<div class="t0-b-sideNavItem3-bPlacer">
  <div class="t0-b-sideNavItem3">
    <a href="#" target="">
    <div class="t0-b-sideNavItem3__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem3-bPlacer --></div>

<div class="t0-b-sideNavItem4-bPlacer">
  <div class="t0-b-sideNavItem4">
    <a href="#" target="">
    <div class="t0-b-sideNavItem4__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem4-bPlacer --></div>

<div class="t0-b-sideNavItem5-bPlacer">
  <div class="t0-b-sideNavItem5">
    <a href="#" target="">
    <div class="t0-b-sideNavItem5__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem5-bPlacer --></div>

<div class="t0-b-sideNavItem6-bPlacer">
  <div class="t0-b-sideNavItem6">
    <a href="#" target="">
    <div class="t0-b-sideNavItem6__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem6-bPlacer --></div>

<div class="t0-b-sideNavItem7-bPlacer">
  <div class="t0-b-sideNavItem7">
    <a href="#" target="">
    <div class="t0-b-sideNavItem7__inner">
      <span></span>
        <div><span style="color:#f00;">リンク設定あり</span></div>
    </div>
    </a>
  </div>
<!-- /t0-b-sideNavItem7-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
