/*
---
name: 131_サイド誘導バナー
tag:
  - side
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/131_サイド誘導バナー
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideNavBItem-bPlacer">
  <div class="t0-b-sideNavBItem">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideNavBItem2-bPlacer">
  <div class="t0-b-sideNavBItem2">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem2__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-sideNavBItem3-bPlacer">
  <div class="t0-b-sideNavBItem3">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem3__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem3-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-sideNavBItem4-bPlacer">
  <div class="t0-b-sideNavBItem4">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem4__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem4-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-sideNavBItem5-bPlacer">
  <div class="t0-b-sideNavBItem5">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem5__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem5-bPlacer --></div>
```

#### バリエーション6

```html
<div class="t0-b-sideNavBItem6-bPlacer">
  <div class="t0-b-sideNavBItem6">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem6__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem6-bPlacer --></div>
```

#### バリエーション7

```html
<div class="t0-b-sideNavBItem7-bPlacer">
  <div class="t0-b-sideNavBItem7">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem7__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem7-bPlacer --></div>
```

#### バリエーション8

```html
<div class="t0-b-sideNavBItem8-bPlacer">
  <div class="t0-b-sideNavBItem8">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem8__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem8-bPlacer --></div>
```

#### バリエーション9

```html
<div class="t0-b-sideNavBItem9-bPlacer">
  <div class="t0-b-sideNavBItem9">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem9__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem9-bPlacer --></div>
```

#### バリエーション10

```html
<div class="t0-b-sideNavBItem10-bPlacer">
  <div class="t0-b-sideNavBItem10">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem10__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem10-bPlacer --></div>
```
*/

/*
---
name: 131_サイド誘導バナー（確認用）
tag:
  - side
category:
  - 06.ナビゲーション/131_サイド誘導バナー
---

### リンク設定無し

```html
<div class="t0-b-sideNavBItem-bPlacer">
  <div class="t0-b-sideNavBItem">
    <div class="t0-b-sideNavBItem__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem-bPlacer --></div>
<div class="t0-b-sideNavBItem2-bPlacer">
  <div class="t0-b-sideNavBItem2">
    <div class="t0-b-sideNavBItem2__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem2-bPlacer --></div>
<div class="t0-b-sideNavBItem3-bPlacer">
  <div class="t0-b-sideNavBItem3">
    <div class="t0-b-sideNavBItem3__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem3-bPlacer --></div>
<div class="t0-b-sideNavBItem4-bPlacer">
  <div class="t0-b-sideNavBItem4">
    <div class="t0-b-sideNavBItem4__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem4-bPlacer --></div>
<div class="t0-b-sideNavBItem5-bPlacer">
  <div class="t0-b-sideNavBItem5">
    <div class="t0-b-sideNavBItem5__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem5-bPlacer --></div>
<div class="t0-b-sideNavBItem6-bPlacer">
  <div class="t0-b-sideNavBItem6">
    <div class="t0-b-sideNavBItem6__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem6-bPlacer --></div>
<div class="t0-b-sideNavBItem7-bPlacer">
  <div class="t0-b-sideNavBItem7">
    <div class="t0-b-sideNavBItem7__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem7-bPlacer --></div>
<div class="t0-b-sideNavBItem8-bPlacer">
  <div class="t0-b-sideNavBItem8">
    <div class="t0-b-sideNavBItem8__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem8-bPlacer --></div>
<div class="t0-b-sideNavBItem9-bPlacer">
  <div class="t0-b-sideNavBItem9">
    <div class="t0-b-sideNavBItem9__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem9-bPlacer --></div>
<div class="t0-b-sideNavBItem10-bPlacer">
  <div class="t0-b-sideNavBItem10">
    <div class="t0-b-sideNavBItem10__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem10-bPlacer --></div>
```

### 文字色を変更した場合

```html
<div class="t0-b-sideNavBItem-bPlacer">
  <div class="t0-b-sideNavBItem">
    <div class="t0-b-sideNavBItem__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem-bPlacer --></div>
<div class="t0-b-sideNavBItem2-bPlacer">
  <div class="t0-b-sideNavBItem2">
    <div class="t0-b-sideNavBItem2__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem2-bPlacer --></div>
<div class="t0-b-sideNavBItem3-bPlacer">
  <div class="t0-b-sideNavBItem3">
    <div class="t0-b-sideNavBItem3__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem3-bPlacer --></div>
<div class="t0-b-sideNavBItem4-bPlacer">
  <div class="t0-b-sideNavBItem4">
    <div class="t0-b-sideNavBItem4__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem4-bPlacer --></div>
<div class="t0-b-sideNavBItem5-bPlacer">
  <div class="t0-b-sideNavBItem5">
    <div class="t0-b-sideNavBItem5__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem5-bPlacer --></div>
<div class="t0-b-sideNavBItem6-bPlacer">
  <div class="t0-b-sideNavBItem6">
    <div class="t0-b-sideNavBItem6__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem6-bPlacer --></div>
<div class="t0-b-sideNavBItem7-bPlacer">
  <div class="t0-b-sideNavBItem7">
    <div class="t0-b-sideNavBItem7__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem7-bPlacer --></div>
<div class="t0-b-sideNavBItem8-bPlacer">
  <div class="t0-b-sideNavBItem8">
    <div class="t0-b-sideNavBItem8__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem8-bPlacer --></div>
<div class="t0-b-sideNavBItem9-bPlacer">
  <div class="t0-b-sideNavBItem9">
    <div class="t0-b-sideNavBItem9__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem9-bPlacer --></div>
<div class="t0-b-sideNavBItem10-bPlacer">
  <div class="t0-b-sideNavBItem10">
    <div class="t0-b-sideNavBItem10__inner">
      <span><span><span></span></span></span>
      <div><span style="color:#f00;">リンク設定無し</span></div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem10-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
