/*
---
name: 131_サイド誘導バナー
tag:
  - side
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/131_サイド誘導バナー
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideNavBItem-bPlacer">
  <div class="t0-b-sideNavBItem">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideNavBItem2-bPlacer">
  <div class="t0-b-sideNavBItem2">
    <a href="#" target="">
      <div class="t0-b-sideNavBItem2__inner">
        <span><span><span></span></span></span>
        <div>リンク設定あり</div>
      </div>
    </a>
  </div>
<!-- /t0-b-sideNavBItem2-bPlacer --></div>
```

*/

/*
---
name: 131_サイド誘導バナー（確認用）
tag:
  - side
category:
  - 06.ナビゲーション/131_サイド誘導バナー
---

### リンク設定無し

```html
<div class="t0-b-sideNavBItem-bPlacer">
  <div class="t0-b-sideNavBItem">
    <div class="t0-b-sideNavBItem__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem-bPlacer --></div>
<div class="t0-b-sideNavBItem2-bPlacer">
  <div class="t0-b-sideNavBItem2">
    <div class="t0-b-sideNavBItem2__inner">
      <span><span><span></span></span></span>
      <div>リンク設定無し</div>
    </div>
  </div>
<!-- /t0-b-sideNavBItem2-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
