/*
---
name: 133_サイドバナー
tag:
  - side
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/133_サイドバナー
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBanner-bPlacer">
  <div class="t0-b-sideBanner t0-b-sideBanner--width-">
    <a href="#" target="">
      <img src="https://placehold.jp/400x160.png">
    </a>
  </div>
<!-- /t0-b-sideBanner-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBanner2-bPlacer">
  <div class="t0-b-sideBanner2 t0-b-sideBanner2--width-">
    <a href="#" target="">
      <img src="https://placehold.jp/400x160.png">
    </a>
  </div>
<!-- /t0-b-sideBanner2-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
