/*
---
name: 137_サイドボックステキスト
tag:
  - side
  - sidebox
category:
  - 全部品
  - 02.テキスト
  - 02.テキスト/137_サイドボックステキスト
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```
*/

/*
---
name: 137_サイドボックステキスト（確認用）
tag:
  - side
  - sidebox
category:
  - 02.テキスト/137_サイドボックステキスト
---

RTEによって挿入することができるHTML要素の見た目を確認する。

RTEによって挿入することができるHTML要素は以下。

- br
- a
- strong
- em
- u

### 改行

- 改行（`br`要素が追加される）したときは、上余白をとらない

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    brで改行<br>brで改行<br>brで改行<br>
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    brで改行<br>brで改行<br>brで改行<br>
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### リンク設定

- リンク設定された部分は、文字色は変化せず、下線が付く
- リンク設定された部分のホバー時は、テーマで規定されたホバー色が当たる

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 文字サイズ

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    文字サイズが<span style="font-size:36px">大きくなったり</span><span style="font-size:10px">小さくなったり</span>する
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    文字サイズが<span style="font-size:36px">大きくなったり</span><span style="font-size:10px">小さくなったり</span>する
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 太字

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    <strong>太字になる</strong>
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    <strong>太字になる</strong>
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 斜体

- font-family: italic;になる
- フォントファミリーによっては、斜体にならないことがある

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    <em>font-family: italic;になる</em>
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    <em>font-family: italic;になる</em>
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 下線

- 下線が引かれる

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    <u>下線が引かれる</u>
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    <u>下線が引かれる</u>
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 文字色

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    文字に<span style="color:#A52A2A">色</span>がつく
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    文字に<span style="color:#A52A2A">色</span>がつく
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```

### 文字の背景色

#### バリエーション1

```html
<div class="t0-b-sideBoxText-bPlacer">
  <p class="t0-b-sideBoxText">
    文字に<span style="background-color:#FFFF00">背景色</span>がつく
  </p>
<!-- /t0-b-sideBoxText-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxText2-bPlacer">
  <p class="t0-b-sideBoxText2">
    文字に<span style="background-color:#FFFF00">背景色</span>がつく
  </p>
<!-- /t0-b-sideBoxText2-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
