/*
---
name: 139_サイドボックスリスト
tag:
  - side
  - sidebox
category:
  - 全部品
  - 03.リスト
  - 03.リスト/139_サイドボックスリスト
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBoxList-bPlacer">
  <div class="t0-b-sideBoxList">
    <ul>
      <li>彼は背後にひそかな足音を聞いた</li>
      <li>それはあまり良い意味を示すものではない。</li>
      <li>誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><a href="#" target="">彼は背後にひそかな足音</a>
        <ul>
          <li>彼は背後にひそかな足音を聞いた
            <ul>
              <li>彼は背後にひそかな足音を聞いた
                <ul>
                  <li>彼は背後にひそかな足音を聞いた</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><span style="color:red">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</span></li>
    </ul>
  <!-- /t0-b-sideBoxList --></div>
<!-- /t0-b-sideBoxList-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxList2-bPlacer">
  <div class="t0-b-sideBoxList2">
    <ul>
      <li>彼は背後にひそかな足音を聞いた</li>
      <li>それはあまり良い意味を示すものではない。</li>
      <li>誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><a href="#" target="">彼は背後にひそかな足音</a>
        <ul>
          <li>彼は背後にひそかな足音を聞いた
            <ul>
              <li>彼は背後にひそかな足音を聞いた
                <ul>
                  <li>彼は背後にひそかな足音を聞いた</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><span style="color:red">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</span></li>
    </ul>
  <!-- /t0-b-sideBoxList2 --></div>
<!-- /t0-b-sideBoxList2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-sideBoxList3-bPlacer">
  <div class="t0-b-sideBoxList3">
    <ul>
      <li>彼は背後にひそかな足音を聞いた</li>
      <li>それはあまり良い意味を示すものではない。</li>
      <li>誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><a href="#" target="">彼は背後にひそかな足音</a>
        <ul>
          <li>彼は背後にひそかな足音を聞いた
            <ul>
              <li>彼は背後にひそかな足音を聞いた
                <ul>
                  <li>彼は背後にひそかな足音を聞いた</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</li>
      <li><span style="color:red">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</span></li>
    </ul>
  <!-- /t0-b-sideBoxList3 --></div>
<!-- /t0-b-sideBoxList3-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
