/*
---
name: 140_サイドボックス電話番号
tag:
  - side
  - sidebox
category:
  - 全部品
  - 09.電話番号・メールアドレス
  - 09.電話番号・メールアドレス/140_サイドボックス電話番号
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
```
*/

/*
---
name: 140_サイドボックス電話番号（確認用）
tag:
  - side
  - sidebox
category:
  - 09.電話番号・メールアドレス/140_サイドボックス電話番号
---

#### 全要素ON

```html
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">電話番号の語呂を入力</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>

<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">電話番号の語呂を入力</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
```

#### SP

teltoリンクが追加される

```html
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">電話番号の語呂を入力</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__tel"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>

<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">電話番号の語呂を入力</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__tel"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
```

### アイコン

#### PC

```html
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">なし</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">電話番号</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">FAX</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__fax"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">フリーダイヤル</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__free"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel__ruby">携帯電話</div>
    <div class="t0-b-sideBoxIconText-tel__bd">
      <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__cell"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel --></div></div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>


<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">なし</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">電話番号</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__tel"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">FAX</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__fax"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">フリーダイヤル</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__free"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1"><div>
    <div class="t0-b-sideBoxIconText-tel2__ruby">携帯電話</div>
    <div class="t0-b-sideBoxIconText-tel2__bd">
      <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__cell"></span>
      <span>03-0000-0000</span>
    </div>
  <!-- /t0-b-sideBoxIconText-tel2 --></div></div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
```

#### SP

```html
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">なし</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">電話番号</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__tel"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">FAX</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__fax"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
      </div>
    </a>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">フリーダイヤル</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__free"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel-bPlacer">
  <div class="t0-b-sideBoxIconText-tel t0-b-sideBoxIconText-tel--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel__ruby">携帯電話</div>
        <div class="t0-b-sideBoxIconText-tel__bd">
          <span class="t0-b-sideBoxIconText-tel__icon t0-b-sideBoxIconText-tel__cell"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel-bPlacer --></div>

<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">なし</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">電話番号</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__tel"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">FAX</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__fax"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">フリーダイヤル</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__free"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
<div class="t0-b-sideBoxIconText-tel2-bPlacer">
  <div class="t0-b-sideBoxIconText-tel2 t0-b-sideBoxIconText-tel2--size-1">
    <a href="tel:03-0000-0000">
      <div>
        <div class="t0-b-sideBoxIconText-tel2__ruby">携帯電話</div>
        <div class="t0-b-sideBoxIconText-tel2__bd">
          <span class="t0-b-sideBoxIconText-tel2__icon t0-b-sideBoxIconText-tel2__cell"></span>
          <span>03-0000-0000</span>
        </div>
      <!-- /t0-b-sideBoxIconText-tel2 --></div>
    </a>
  </div>
<!-- /t0-b-sideBoxIconText-tel2-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
