/*
---
name: 142_サイドボックスラベル付きリスト
tag:
  - side
  - sidebox
category:
  - 全部品
  - 03.リスト
  - 03.リスト/142_サイドボックスラベル付きリスト
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBoxLabeledList-bPlacer">
  <div class="t0-b-sideBoxLabeledList">
    <div class="t0-b-sideBoxLabeledList__item">
      <div class="t0-b-sideBoxLabeledList__item-hd"><span><span><span></span></span></span><div>2014年12月27日</div></div>
      <div class="t0-b-sideBoxLabeledList__item-bd">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</div>
    </div>
  </div>
<!-- /t0-b-sideBoxLabeledList-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxLabeledList2-bPlacer">
  <div class="t0-b-sideBoxLabeledList2">
    <div class="t0-b-sideBoxLabeledList2__item">
      <div class="t0-b-sideBoxLabeledList2__item-hd"><span><span><span></span></span></span><div>2014年12月27日</div></div>
      <div class="t0-b-sideBoxLabeledList2__item-bd">彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</div>
    </div>
  </div>
<!-- /t0-b-sideBoxLabeledList2-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
