/*
---
name: 143_サイドボックス表
tag:
  - side
  - sidebox
category:
  - 全部品
  - 04.表
  - 04.表/143_サイドボックス表
---

### 基本形

### 確認項目

* 表部品内のフォントサイズは、文章要素と同じ大きさであること。

#### バリエーション1

```html
<div>
  <div class="t0-b-sideBoxText-bPlacer">
    <p class="t0-b-sideBoxText">あいうえおかきくけこさしすせ</p>
  </div>
</div>

<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <table>
      <tr>
        <th>項目1</th>
        <th><span style="color:red">項目2</span></th>
        <th>項目3</th>
        <th>項目4</th>
      </tr>
      <tr>
        <th>項目1-1</th>
        <td><span style="color:red">内容</span></td>
        <td>内容</td>
        <td>内容</td>
      </tr>
      <tr>
        <th>項目1-2</th>
        <td><span style="color:red">内容</span></td>
        <td>内容</td>
        <td>内容</td>
      </tr>
    </table>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div>
  <div class="t0-b-sideBoxText-bPlacer">
    <p class="t0-b-sideBoxText">あいうえおかきくけこさしすせ</p>
  </div>
</div>

<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <table>
      <tr>
        <th>項目1</th>
        <th><span style="color:red">項目2</span></th>
        <th>項目3</th>
        <th>項目4</th>
      </tr>
      <tr>
        <th>項目1-1</th>
        <td><span style="color:red">内容</span></td>
        <td>内容</td>
        <td>内容</td>
      </tr>
      <tr>
        <th>項目1-2</th>
        <td><span style="color:red">内容</span></td>
        <td>内容</td>
        <td>内容</td>
      </tr>
    </table>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

*/




/*
---
name: 143_サイドボックス表（確認用）
tag:
  - side
  - sidebox
category:
  - 04.表/143_サイドボックス表
---

RTEによって挿入することができるHTML要素の見た目を確認する。

RTEによって挿入することができるHTML要素は以下。

- p、br
- a
- table,tr,th,td
- strong
- em
- u
- ol,ul,li
- blockquote
- hr （現在は追加できないが、過去に追加されたものが残っている場合がある）

### p要素の改行

- p要素をShift+Enterで改行（`br`要素が追加される）したときは、上余白をとらない
- p要素をEnterで改行（`p`要素で区切られる）したときは、1emの上余白をとる

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <p>brで改行<br>brで改行<br>brで改行<br></p>
  <p>pで改行</p>
  <p>pで改行</p>
  <p>pで改行</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <p>brで改行<br>brで改行<br>brで改行<br></p>
  <p>pで改行</p>
  <p>pで改行</p>
  <p>pで改行</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### リンク設定

- リンク設定された部分は、文字色は変化せず、下線が付く
- リンク設定された部分のホバー時は、テーマで規定されたホバー色が当たる

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <p>リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分</p>
  <p>リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <p>リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分</p>
  <p>リンク設定のない部分<a href="#">リンク設定のある部分</a>リンク設定のない部分</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 表

- 基本テキストセットにRTEで追加されたtable要素は、030_表と同じ見た目にする
- 基本テキストセットのバリエーション1には表のバリエーション1、基本テキストセットのバリエーション2には表のバリエーション2と同じ見た目にする。
- 表のバリエーション数が基本テキストセットよりも少ない場合は、全て表のバリエーション1の見た目にする

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
      <tbody>
        <tr>
          <th>th</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>td</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
      <tbody>
        <tr>
          <th>th</th>
          <th>&nbsp;</th>
        </tr>
        <tr>
          <td>td</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 文字サイズ

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <p>文字サイズが<span style="font-size:36px">大きくなったり</span><span style="font-size:10px">小さくなったり</span>する</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <p>文字サイズが<span style="font-size:36px">大きくなったり</span><span style="font-size:10px">小さくなったり</span>する</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 太字

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <p><strong>太字になる</strong></p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <p><strong>太字になる</strong></p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 斜体

- font-family: italic;になる
- フォントファミリーによっては、斜体にならないことがある

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <p><em>font-family: italic;になる</em></p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <p><em>font-family: italic;になる</em></p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 下線

- 下線が引かれる

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <p><u>下線が引かれる</u></p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <p><u>下線が引かれる</u></p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 文字色

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <p>文字に<span style="color:#A52A2A">色</span>がつく</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <p>文字に<span style="color:#A52A2A">色</span>がつく</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 文字の背景色

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <p>文字に<span style="background-color:#FFFF00">背景色</span>がつく</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <p>文字に<span style="background-color:#FFFF00">背景色</span>がつく</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 箇条書き

- `ul`には`list-style-type: disc;`、olには`list-style-type: decimal;`を指定する

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <ul>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き
        <ul>
          <li>箇条書き箇条書き箇条書き
            <ul>
              <li>箇条書き箇条書き箇条書き
                <ul>
                  <li>箇条書き箇条書き箇条書き</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <ol>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き
        <ol>
          <li>箇条書き箇条書き箇条書き
            <ol>
              <li>箇条書き箇条書き箇条書き
                <ol>
                  <li>箇条書き箇条書き箇条書き</li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <ul>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き
        <ul>
          <li>箇条書き箇条書き箇条書き
            <ul>
              <li>箇条書き箇条書き箇条書き
                <ul>
                  <li>箇条書き箇条書き箇条書き</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ol>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き</li>
      <li>箇条書き箇条書き箇条書き
        <ol>
          <li>箇条書き箇条書き箇条書き
            <ol>
              <li>箇条書き箇条書き箇条書き
                <ol>
                  <li>箇条書き箇条書き箇条書き</li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 引用

- ブラウザのデフォルトスタイルが適用され、左右に余白ができる

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
  <blockquote> <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・ん<a href="#">アイウエオ</a>カキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p> </blockquote>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
  <blockquote> <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・ん<a href="#">アイウエオ</a>カキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p> </blockquote>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 寄せ

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <p>文字が左寄せになる（text-alignはつかない）</p>
    <p style="text-align: center;">文字が中央寄せになる</p>
    <p style="text-align: right;">文字が右寄せになる</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <p>文字が左寄せになる（text-alignはつかない）</p>
    <p style="text-align: center;">文字が中央寄せになる</p>
    <p style="text-align: right;">文字が右寄せになる</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 水平線

- ブラウザのデフォルトスタイルが適用される

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・んアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p>
    <hr>
    <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・んアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・んアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p>
    <hr>
    <p>あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゃゆゅよらりるれろわ・を・んアイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤャユュヨララリルレロワ・ヲ・ン</p>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```

### 組み合わせ

- 各要素の組み合わせによって、異常な見た目になっていないことを確認する

#### バリエーション1

```html
<div class="t0-b-sideBoxTable-bPlacer">
  <div class="t0-b-sideBoxTable">
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%"> <tbody> <tr> <th> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> </th> </tr> <tr> <th> <ol> <li style="font-size: 1em;">表内に入れたol</li> <li style="font-size: 1em;">表内に入れたol <ol> <li style="font-size: 1em;">表内に入れたol <ol> <li style="font-size: 1em;">表内に入れたol</li> </ol> </li> </ol> </li> </ol> </th> </tr> <tr> <th><a href="http://あ">リンク設定</a></th> </tr> <tr> <th> <ul> <li style="font-size: 1em;">表内に入れたul</li> <li style="font-size: 1em;">表内に入れたul <ul> <li style="font-size: 1em;">表内に入れたul <ul> <li style="font-size: 1em;">表内に入れたul</li> </ul> </li> </ul> </li> </ul> </th> </tr> <tr> <th> <table border="1" cellpadding="1" cellspacing="1" style="width:100%"> <tbody> <tr> <th>デフォルト</th> <th>&nbsp;</th> </tr> <tr> <td>デフォルト</td> <td>&nbsp;</td> </tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td> </tr> </tbody> </table> </th> </tr> <tr> <td> <p>デフォルトデフォルトデフォルト</p> <p>デフォルトデフォルトデフォルト</p> <p>デフォルトデフォルトデフォルト</p> </td> </tr> <tr> <td><a href="http://あ">リンク設定</a></td> </tr> <tr> <td> <ul> <li>表内に入れたul</li> <li>表内に入れたul <ul> <li>表内に入れたul <ul> <li>表内に入れたul</li> </ul> </li> </ul> </li> </ul> </td> </tr> <tr> <td> <ol> <li>表内に入れたol</li> <li>表内に入れたul <ol> <li>表内に入れたol <ol> <li>表内に入れたol</li> </ol> </li> </ol> </li> </ol> </td> </tr> <tr> <td> <table border="1" cellpadding="1" cellspacing="1"> <tbody> <tr> <th>デフォルト</th> <th>&nbsp;</th> </tr> <tr> <td>デフォルト</td> <td>&nbsp;</td> </tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td> </tr> </tbody> </table> </td> </tr> </tbody> </table>
  <!-- /t0-b-sideBoxTable --></div>
<!-- /t0-b-sideBoxTable-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBoxTable2-bPlacer">
  <div class="t0-b-sideBoxTable2">
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%"> <tbody> <tr> <th> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> <p><span style="color:rgb(255, 255, 255)">文字色にrgb(255, 255, 255)を指定</span></p> </th> </tr> <tr> <th> <ol> <li style="font-size: 1em;">表内に入れたol</li> <li style="font-size: 1em;">表内に入れたol <ol> <li style="font-size: 1em;">表内に入れたol <ol> <li style="font-size: 1em;">表内に入れたol</li> </ol> </li> </ol> </li> </ol> </th> </tr> <tr> <th><a href="http://あ">リンク設定</a></th> </tr> <tr> <th> <ul> <li style="font-size: 1em;">表内に入れたul</li> <li style="font-size: 1em;">表内に入れたul <ul> <li style="font-size: 1em;">表内に入れたul <ul> <li style="font-size: 1em;">表内に入れたul</li> </ul> </li> </ul> </li> </ul> </th> </tr> <tr> <th> <table border="1" cellpadding="1" cellspacing="1" style="width:100%"> <tbody> <tr> <th>デフォルト</th> <th>&nbsp;</th> </tr> <tr> <td>デフォルト</td> <td>&nbsp;</td> </tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td> </tr> </tbody> </table> </th> </tr> <tr> <td> <p>デフォルトデフォルトデフォルト</p> <p>デフォルトデフォルトデフォルト</p> <p>デフォルトデフォルトデフォルト</p> </td> </tr> <tr> <td><a href="http://あ">リンク設定</a></td> </tr> <tr> <td> <ul> <li>表内に入れたul</li> <li>表内に入れたul <ul> <li>表内に入れたul <ul> <li>表内に入れたul</li> </ul> </li> </ul> </li> </ul> </td> </tr> <tr> <td> <ol> <li>表内に入れたol</li> <li>表内に入れたul <ol> <li>表内に入れたol <ol> <li>表内に入れたol</li> </ol> </li> </ol> </li> </ol> </td> </tr> <tr> <td> <table border="1" cellpadding="1" cellspacing="1"> <tbody> <tr> <th>デフォルト</th> <th>&nbsp;</th> </tr> <tr> <td>デフォルト</td> <td>&nbsp;</td> </tr> <tr> <td>&nbsp;</td> <td>&nbsp;</td> </tr> </tbody> </table> </td> </tr> </tbody> </table>
  <!-- /t0-b-sideBoxTable2 --></div>
<!-- /t0-b-sideBoxTable2-bPlacer --></div>
```
*/


@if $device == PC {

}

@if $device == SP {

}
