/*
---
name: 145_サイドボックス片側画像ブロック
tag:
  - side
  - sidebox
category:
  - 全部品
  - 05.メディア
  - 05.メディア/145_サイドボックス片側画像ブロック
---

### 基本形

#### 画像を右に配置

```html
<div class="t0-b-sideBoxMediaBox-bPlacer">
    <div class="t0-b-sideBoxMediaBox t0-b-sideBoxMediaBox--imgR">
        <div class="t0-b-sideBoxMediaBox__media">
            <img src="https://placehold.jp/70x70.png">
        </div>
        <div class="t0-b-sideBoxMediaBox__text">
            <p>彼は背後にひそかな足音を聞いた。<span style="color:#FF0000">それはあまり良い意味を示すものではない。</span>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。</p>
        </div>
        <div class="clearfix"></div>
  <!-- /t0-b-sideBoxMediaBox --></div>
<!-- /t0-b-sideBoxMediaBox-bPlacer --></div>
```

#### 画像を左に配置

```html
<div class="t0-b-sideBoxMediaBox-bPlacer">
    <div class="t0-b-sideBoxMediaBox t0-b-sideBoxMediaBox--imgL">
        <div class="t0-b-sideBoxMediaBox__media">
            <img src="https://placehold.jp/70x70.png">
        </div>
        <div class="t0-b-sideBoxMediaBox__text">
            <p>彼は背後にひそかな足音を聞いた。<span style="color:#FF0000">それはあまり良い意味を示すものではない。</span>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。</p>
        </div>
        <div class="clearfix"></div>
  <!-- /t0-b-sideBoxMediaBox --></div>
<!-- /t0-b-sideBoxMediaBox-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
