/*
---
name: 155_サイドボックス
tag:
  - side
category:
  - 全部品
  - 11.枠
  - 11.枠/155_サイドボックス
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>
```

### 見出しのスイッチがOFFの場合

```html
<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>

<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>

<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
     <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>
```
*/

/*
---
name: サイドボックスの見出し
tag:
  - main
category:
  - 全部品
  - 01.見出し
  - 01.見出し/サイドボックスの見出し
  - 11.枠/155_サイドボックス
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>リンク設定あり</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>
```
*/

/*
---
name: サイドボックスの見出し（確認用）
tag:
  - main
category:
  - 01.見出し/サイドボックスの見出し
  - 11.枠/155_サイドボックス
---

### リンク・アンカーリンク設定無し

```html
<div class="t0-b-sideBox-bPlacer">
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span></span>
        <h4>リンク設定無し</h4>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span></span>
        <h4>リンク設定無し</h4>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-"><span><span><span></span></span></span>
        <h4>リンク設定無し</h4>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>
```

### 寄せ

```html
<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>設定無し</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>設定無し</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>設定無し</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>

<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-l"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>左寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-l"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>左寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-l"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>左寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>

<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-c"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>中央寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-c"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>中央寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-c"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>中央寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>

<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-r"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>右寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-r"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>右寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-r"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>右寄せ</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>

```

### 複数行

```html
<div class="t0-b-sideBox-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox"><span><span><span></span></span></span>
    <div class="t0-b-sideBox__hd t0-b-sideBox--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
      </a>
    </div>
    <div class="t0-b-sideBox__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox__bd --></div>
  <!-- /t0-b-sideBox --></div>
<!-- /t0-b-sideBox-bPlacer --></div>
<div class="t0-b-sideBox2-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox2"><span><span><span></span></span></span>
    <div class="t0-b-sideBox2__hd t0-b-sideBox2--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
      </a>
    </div>
    <div class="t0-b-sideBox2__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox2__bd --></div>
  <!-- /t0-b-sideBox2 --></div>
<!-- /t0-b-sideBox2-bPlacer --></div>
<div class="t0-b-sideBox3-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-sideBox3"><span><span><span></span></span></span>
    <div class="t0-b-sideBox3__hd t0-b-sideBox3--align-"><span><span><span></span></span></span>
      <a href="#" target="">
        <h4>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
      </a>
    </div>
    <div class="t0-b-sideBox3__bd"><span><span><span></span></span></span>
    <!-- /t0-b-sideBox3__bd --></div>
  <!-- /t0-b-sideBox3 --></div>
<!-- /t0-b-sideBox3-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
