/*
---
name: 163_ページ見出し - ヘッダエリア用
tag:
  - header
category:
  - 全部品
  - 01.見出し
  - 01.見出し/163_ページ見出し - ヘッダエリア用
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
```

#### バリエーション6

```html
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-">リンク設定あり</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>
```

*/

/*
---
name: 163_ページ見出し - ヘッダエリア用（確認用）
tag:
  - header
category:
  - 01.見出し/163_ページ見出し - ヘッダエリア用
---

### リンク・アンカーリンク設定無し

```html
<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-">リンク設定無し</h1>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>
```

### 寄せ

```html
<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-">設定無し</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>

<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-l">左寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>

<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-c">中央寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>

<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-r">右寄せ</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>
```

### 複数行

```html
<div class="t0-b-lv1H-pageH-bPlacer">
  <div class="t0-b-lv1H-pageH"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH__main t0-b-lv1H-pageH--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH --></div></div>
<!-- /t0-b-lv1H-pageH-bPlacer --></div>
<div class="t0-b-lv1H-pageH2-bPlacer">
  <div class="t0-b-lv1H-pageH2"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH2__main t0-b-lv1H-pageH2--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH2 --></div></div>
<!-- /t0-b-lv1H-pageH2-bPlacer --></div>
<div class="t0-b-lv1H-pageH3-bPlacer">
  <div class="t0-b-lv1H-pageH3"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH3__main t0-b-lv1H-pageH3--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH3 --></div></div>
<!-- /t0-b-lv1H-pageH3-bPlacer --></div>
<div class="t0-b-lv1H-pageH4-bPlacer">
  <div class="t0-b-lv1H-pageH4"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH4__main t0-b-lv1H-pageH4--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH4 --></div></div>
<!-- /t0-b-lv1H-pageH4-bPlacer --></div>
<div class="t0-b-lv1H-pageH5-bPlacer">
  <div class="t0-b-lv1H-pageH5"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH5__main t0-b-lv1H-pageH5--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH5 --></div></div>
<!-- /t0-b-lv1H-pageH5-bPlacer --></div>
<div class="t0-b-lv1H-pageH6-bPlacer">
  <div class="t0-b-lv1H-pageH6"><div><span><span><span></span></span></span>
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <a href="#" target="">
    <h1 class="t0-b-lv1H-pageH6__main t0-b-lv1H-pageH6--align-">大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h1>
  </a>
  <!-- /t0-b-lv1H-pageH6 --></div></div>
<!-- /t0-b-lv1H-pageH6-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
