/*
---
name: 167_パンくずリスト（ヘッダエリア）
tag:
  - header
category:
  - 全部品
  - 12.その他
  - 12.その他/167_パンくずリスト（ヘッダエリア）
---

### 基本形

```html
<div class="b-bPlacer-0s">
  <div class="b-breadcrumbs b-breadcrumbs--inHeader b-breadcrumbs--align-"><div><div>
    <div>
      <div>
        <span class="b-breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="#" itemprop="url">
            <span itemprop="title">トップページ</span>
          </a>
        </span>
        <span class="b-breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="#" itemprop="url">
            <span itemprop="title">子ページ</span>
          </a>
        </span>
        <span class="b-breadcrumbs__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="#" itemprop="url">
            <em><span itemprop="title">現在のページ</span></em>
          </a>
        </span>
      </div>
    </div>
  </div></div></div>
<!-- /b-bPlacer-0s --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
