/*
---
name: 171_ヘッダー誘導リンク
tag:
  - header
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/171_ヘッダー誘導リンク
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-headerUnit-contact-nav-bPlacer">
  <div class="t0-b-headerUnit-contact-nav">
    <a href="#" target="">
      <div></div>
      <p>リンク設定あり</p>
    </a>
  </div>
</div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
