/*
---
name: 175_ヘッダーラベル付きリスト
tag:
  - header
category:
  - 全部品
  - 03.リスト
  - 03.リスト/175_ヘッダーラベル付きリスト
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-headerUnit-labeledList-bPlacer">
  <div class="t0-b-headerUnit-labeledList"><table>
    <tr>
      <th><span><span><span></span></span></span><div>営業時間</div></th>
      <td><div>10:00〜17:00<br>（土日祝日を除く）</div></td>
    </tr>
  <!-- /t0-b-headerUnit-labeledList --></table></div>
</div>
```

#### バリエーション2

```html
<div class="t0-b-headerUnit-labeledList2-bPlacer">
  <div class="t0-b-headerUnit-labeledList2"><table>
    <tr>
      <th><span><span><span></span></span></span><div>営業時間</div></th>
      <td><div>10:00〜17:00<br>（土日祝日を除く）</div></td>
    </tr>
  <!-- /t0-b-headerUnit-labeledList2 --></table></div>
</div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
