/*
---
name: 186_コピーライト
tag:
  - footer
category:
  - 全部品
  - 12.その他
  - 12.その他/186_コピーライト
---

### 基本形

```html
<div class="t0-b-copyright"><span><span><span></span></span></span>
  <p>(c)　Yamada</p>
</div>
```

*/

@if $device == PC {

}
@if $device == SP {

}
