/*
---
name: 189_フッター誘導リンク
tag:
  - footer
category:
  - 全部品
  - 06.ナビゲーション
  - 06.ナビゲーション/189_フッター誘導リンク
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-footerUnit-nav-bPlacer">
  <div class="t0-b-footerUnit-nav">
    <div class="t0-b-footerUnit-nav__item">
      <a href="#" target="">
        <p>リンク設定あり</p>
      </a>
    </div>
    <div class="t0-b-footerUnit-nav__item">
      <a href="#" target="">
        <p>リンク設定あり</p>
      </a>
    </div>
  <!-- /t0-b-footerUnit-nav --></div>
</div>
```

#### バリエーション2

```html
<div class="t0-b-footerUnit-nav2-bPlacer">
  <div class="t0-b-footerUnit-nav2">
    <div class="t0-b-footerUnit-nav2__item">
      <a href="#" target="">
        <p>リンク設定あり</p>
      </a>
    </div>
    <div class="t0-b-footerUnit-nav2__item">
      <a href="#" target="">
        <p>リンク設定あり</p>
      </a>
    </div>
  <!-- /t0-b-footerUnit-nav2 --></div>
</div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
