/*
---
name: 195_フッターメディアブロック
tag:
  - footer
category:
  - 全部品
  - 05.メディア
  - 05.メディア/195_フッターメディアブロック
---

### 基本形

```block
<div class="t0-b-footerMedia-bPlacer">
  <div class="t0-b-footerMedia t0-b-footerMedia--width-"><div>
    <span><span></span></span>
    <a href="#" target="">
      <img src="https://placehold.jp/1400x600.png">
    </a>
  <!-- /t0-b-footerMedia --></div></div>
<!-- /t0-b-footerMedia-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
