/*
---
name: 199_フッター小見出し
tag:
  - footer
category:
  - 全部品
  - 01.見出し
  - 01.見出し/199_フッター小見出し
---

### 基本形

```html
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>リンク設定あり</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
```
*/

/*
---
name: 199_フッター小見出し（確認用）
tag:
  - footer
category:
  - 01.見出し/199_フッター小見出し
---

### リンク・アンカーリンク設定無し

```html
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-"><span><span><span></span></span></span>
    　<h4>リンク設定無し</h4>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
```

### 寄せ

```html
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>設定無し</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-l"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>左寄せ</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-c"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>中央寄せ</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-r"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>右寄せ</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
```

### 複数行

```html
<div class="t0-b-footerUnit-lv1H-bPlacer">
  <a id="aaa" class="cms-admin-anchorFlag"></a>
  <div class="t0-b-footerUnit-lv1H t0-b-footerUnit-lv1H--align-"><span><span><span></span></span></span>
    <a href="#" target="">
    　<h4>大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合大量テキストが入った場合</h4>
    </a>
  </div>
<!-- /t0-b-footerUnit-lv1H-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
