/*
---
name: 201_フッターメニュー（コピーライト付き）
tag:
  - footer
category:
  - 全部品
  - 08.メニュー
  - 08.メニュー/201_フッターメニュー（コピーライト付き）
---

### 基本形

```html
<div class="t0-b-footerMenuWithCp t0-b-footerMenuWithCp--widthEqualized">
  <div>
    <p>Copyright(c) xxxx, All Rights Reserved</p>
    <div class="t0-b-footerMenuWithCp__menu">
      <ul>
        <li>
          <a href="#" target="">
            <div>トップページ</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>商品情報</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>会社情報</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>採用</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>お問合せ</div>
          </a>
        </li>
      </ul>
    </div>
  <!-- /t0-b-footerMenuWithCp --></div>
</div>
```

*/
/*
---
name: 201_フッターメニュー（コピーライト付き）（確認用）
tag:
  - footer
category:
  - 08.メニュー/201_フッターメニュー（コピーライト付き）
---

### 強調表示

* エレメントのモディファイアを利用し、強調表示を実現する
* カンプにデザインがない場合、colorやfont-weightを変えるなどをして差異が少しでも出ればよい。

```html
<div class="t0-b-footerMenuWithCp t0-b-footerMenuWithCp--widthEqualized">
  <div>
    <p>Copyright(c) xxxx, All Rights Reserved</p>
    <div class="t0-b-footerMenuWithCp__menu">
      <ul>
        <li>
          <a href="#" target="">
            <div>トップページ</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>商品情報</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>会社情報</div>
          </a>
        </li>
        <li>
          <a href="#" target="">
            <div>採用</div>
          </a>
        </li>
        <li class="state-em">
          <a href="#" target="">
            <div>お問合せ</div>
          </a>
        </li>
      </ul>
    </div>
  <!-- /t0-b-footerMenuWithCp --></div>
</div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
