/*
---
name: 205_ヘッダーセット
tag:
  - header
category:
  - 全部品
  - 11.枠
  - 11.枠/205_ヘッダーセット
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-headerCombi-bPlacer">
<header class="t0-b-headerCombi"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi__hd --></div>
  <div class="t0-b-headerCombi__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col1 --></div>
    <div class="t0-b-headerCombi__col2"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col2 --></div>
    <div class="t0-b-headerCombi__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col3 --></div>
  <!-- /t0-b-headerCombi__bd --></div></div>
<!-- /t0-b-headerCombi --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-headerCombi2-bPlacer">
<header class="t0-b-headerCombi2"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi2__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi2__hd --></div>
  <div class="t0-b-headerCombi2__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi2__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col1 --></div>
    <div class="t0-b-headerCombi2__col2"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col2 --></div>
    <div class="t0-b-headerCombi2__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col3 --></div>
  <!-- /t0-b-headerCombi2__bd --></div></div>
<!-- /t0-b-headerCombi2 --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
