/*
---
name: 205_ヘッダーセット
tag:
  - header
category:
  - 全部品
  - 11.枠
  - 11.枠/205_ヘッダーセット
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-headerCombi-bPlacer">
<header class="t0-b-headerCombi"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi__hd --></div>
  <div class="t0-b-headerCombi__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col1 --></div>
    <div class="t0-b-headerCombi__col2"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col2 --></div>
    <div class="t0-b-headerCombi__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi__col3 --></div>
  <!-- /t0-b-headerCombi__bd --></div></div>
<!-- /t0-b-headerCombi --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-headerCombi2-bPlacer">
<header class="t0-b-headerCombi2"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi2__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi2__hd --></div>
  <div class="t0-b-headerCombi2__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi2__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col1 --></div>
    <div class="t0-b-headerCombi2__col2"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col2 --></div>
    <div class="t0-b-headerCombi2__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi2__col3 --></div>
  <!-- /t0-b-headerCombi2__bd --></div></div>
<!-- /t0-b-headerCombi2 --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-headerCombi3-bPlacer">
<header class="t0-b-headerCombi3"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi3__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi3__hd --></div>
  <div class="t0-b-headerCombi3__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi3__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi3__col1 --></div>
    <div class="t0-b-headerCombi3__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi3__col3 --></div>
    <div class="t0-b-headerCombi3__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi3__col3 --></div>
  <!-- /t0-b-headerCombi3__bd --></div></div>
<!-- /t0-b-headerCombi3 --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-headerCombi4-bPlacer">
<header class="t0-b-headerCombi4"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi4__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi4__hd --></div>
  <div class="t0-b-headerCombi4__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi4__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi4__col1 --></div>
    <div class="t0-b-headerCombi4__col4"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi4__col4 --></div>
    <div class="t0-b-headerCombi4__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi4__col3 --></div>
  <!-- /t0-b-headerCombi4__bd --></div></div>
<!-- /t0-b-headerCombi4 --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-headerCombi5-bPlacer">
<header class="t0-b-headerCombi5"><span><span><span></span></span></span>
    <div class="t0-b-headerCombi5__hd"><span><span><span></span></span></span>
    <p data-cms-path="data.contents.0">ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerCombi5__hd --></div>
  <div class="t0-b-headerCombi5__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerCombi5__col1"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi5__col1 --></div>
    <div class="t0-b-headerCombi5__col5"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi5__col5 --></div>
    <div class="t0-b-headerCombi5__col3"><span><span><span></span></span></span>
      <div style="border: 1px dashed red;padding: 5px;">要素が入る</div>
    <!-- /t0-b-headerCombi5__col3 --></div>
  <!-- /t0-b-headerCombi5__bd --></div></div>
<!-- /t0-b-headerCombi5 --></header>
<!-- /t0-b-headerCombi-bPlacer --></div>
```

*/

@if $device == PC {

}

@if $device == SP {

}
