/*
---
name: 208_ヘッダーセット（中央）
tag:
  - header
category:
  - 全部品
  - 11.枠
  - 11.枠/208_ヘッダーセット（中央）
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-headerSingle-bPlacer">
<header class="t0-b-headerSingle"><span><span><span></span></span></span>
    <div class="t0-b-headerSingle__hd"><span><span><span></span></span></span>
    <p>ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerSingle__hd --></div>
  <div class="t0-b-headerSingle__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerSingle__col"><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-headerSingle__col --></div></div>
  <!-- /t0-b-headerSingle__bd --></div></div>
<!-- /t0-b-headerSingle --></header>
<!-- /t0-b-headerSingle-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-headerSingle2-bPlacer">
<header class="t0-b-headerSingle2"><span><span><span></span></span></span>
    <div class="t0-b-headerSingle2__hd"><span><span><span></span></span></span>
    <p>ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerSingle2__hd --></div>
  <div class="t0-b-headerSingle2__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerSingle2__col"><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-headerSingle2__col --></div></div>
  <!-- /t0-b-headerSingle2__bd --></div></div>
<!-- /t0-b-headerSingle2 --></header>
<!-- /t0-b-headerSingle-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-headerSingle3-bPlacer">
<header class="t0-b-headerSingle3"><span><span><span></span></span></span>
    <div class="t0-b-headerSingle3__hd"><span><span><span></span></span></span>
    <p>ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerSingle3__hd --></div>
  <div class="t0-b-headerSingle3__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerSingle3__col"><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-headerSingle3__col --></div></div>
  <!-- /t0-b-headerSingle3__bd --></div></div>
<!-- /t0-b-headerSingle3 --></header>
<!-- /t0-b-headerSingle-bPlacer --></div>
```

#### バリエーション4

```html
<div class="t0-b-headerSingle4-bPlacer">
<header class="t0-b-headerSingle4"><span><span><span></span></span></span>
    <div class="t0-b-headerSingle4__hd"><span><span><span></span></span></span>
    <p>ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerSingle4__hd --></div>
  <div class="t0-b-headerSingle4__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerSingle4__col"><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-headerSingle4__col --></div></div>
  <!-- /t0-b-headerSingle4__bd --></div></div>
<!-- /t0-b-headerSingle4 --></header>
<!-- /t0-b-headerSingle-bPlacer --></div>
```

#### バリエーション5

```html
<div class="t0-b-headerSingle5-bPlacer">
<header class="t0-b-headerSingle5"><span><span><span></span></span></span>
    <div class="t0-b-headerSingle5__hd"><span><span><span></span></span></span>
    <p>ヘッダーテキストヘッダーテキストヘッダーテキスト</p>
  <!-- /t0-b-headerSingle5__hd --></div>
  <div class="t0-b-headerSingle5__bd"><div><span><span><span></span></span></span>
    <div class="t0-b-headerSingle5__col"><span><span><span></span></span></span><div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-headerSingle5__col --></div></div>
  <!-- /t0-b-headerSingle5__bd --></div></div>
<!-- /t0-b-headerSingle5 --></header>
<!-- /t0-b-headerSingle-bPlacer --></div>
```
*/

@if $device == PC {

}

@if $device == SP {

}
