/*

---
name: 211_レイアウト分割
tag:
  - other
category:
  - 全部品
  - 12.その他
  - 12.その他/211_レイアウト分割
---

他の要素やブロックを内包できるブロック。
当初、ユーザの操作によって更新画面上で要素を追加する枠を増やしていく構想があり、その機能の実装のために用意した。
しかしこの機能は開発されなかったため、単にレイアウトを分割するHTMLとして現在は使われている。

### 備考

レイアウト分割数の分だけ`.t0-b-layoutSplitter__div`が繰り返される

### 基本形

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-3">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>
```

### レイアウト分割数

レイアウト分割数は、`.t0-b-layoutSplitter`の要素のモディファイア`t0-b-layoutSplitter--count-[N]`にて指定する。

このモディファイアの指定は必須。

　

`[N]`には、`2`〜`5`の値を取ることが出来、数値が示すカラムを再現する。

指定したカラムの数分、以下の要素を中で繰り返す。

```html
<div class="t0-b-layoutSplitter__div">
  <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
</div>
```

　

以下がレイアウト分割数を指定したサンプル。

#### 1

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-1">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>
```

#### 2

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-2">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>
```

#### 3

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-3">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>
```

#### 4

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-4">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>
```

#### 5

```html
<div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-5">
  <div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
    <div class="t0-b-layoutSplitter__div">
      <div class="outerHtml"><div style="border: 1px dashed red;padding: 5px;">要素が入る</div><!-- /t0-b-layoutSplitter__div --></div>
    </div>
  </div>
<!-- /t0-b-layoutSplitter --></div>

```



*/
@if $device == PC {

  .t0-b-layoutSplitter {
    > div {
      display: flex;
      width: 100%;
    }
    &--count-1 &__div {
      flex-basis: 100%;
    }
    &--count-2 &__div {
      flex-basis: (100%/2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-3 &__div {
      flex-basis: (100%/3);
      padding-left: 3.5%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-4 &__div {
      flex-basis: (100%/4);
      padding-left: 3%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-5 &__div {
      flex-basis: (100%/5);
      padding-left: 2%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
}

