/*
---
name: 213_画像×横２〜５
tag:
  - main
category:
  - 全部品
  - 05.メディア
  - 05.メディア/213_画像×横２〜５
---

### 基本形

#### バリエーション1

```html
<div class="t0-b-mediaDouble-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-2 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
        <div class="t0-b-media__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /t0-b-mediaDouble-bPlacer --></div>

<div class="media3col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
        <div class="t0-b-media__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media3col-bPlacer --></div>

<div class="media4col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-4 t0-b-layoutSplitter--spacing-4s" data-height-part=""><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
        <div class="t0-b-media__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media4col-bPlacer --></div>

<div class="media5col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-5 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
        <div class="t0-b-media__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media t0-b-media--width-">
          <div class="t0-b-media__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media5col-bPlacer --></div>
```

#### バリエーション2

```html
<div class="t0-b-mediaDouble-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-2 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
        <div class="t0-b-media2__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /t0-b-mediaDouble-bPlacer --></div><div class="media3col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
        <div class="t0-b-media2__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media3col-bPlacer --></div>
<div class="media4col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-4 t0-b-layoutSplitter--spacing-4s" data-height-part=""><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
        <div class="t0-b-media2__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media4col-bPlacer --></div>

<div class="media5col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-5 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
        <div class="t0-b-media2__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media2-bPlacer">
        <div class="t0-b-media2 t0-b-media2--width-">
          <div class="t0-b-media2__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media2 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media5col-bPlacer --></div>
```

#### バリエーション3

```html
<div class="t0-b-mediaDouble-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-2 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
        <div class="t0-b-media3__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /t0-b-mediaDouble-bPlacer --></div><div class="media3col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-3 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
        <div class="t0-b-media3__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media3col-bPlacer --></div>
<div class="media4col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-4 t0-b-layoutSplitter--spacing-4s" data-height-part=""><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
        <div class="t0-b-media3__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media4col-bPlacer --></div>

<div class="media5col-bPlacer">
  <div class="t0-b-layoutSplitter t0-b-layoutSplitter--count-5 t0-b-layoutSplitter--spacing-4s"><div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
        <div class="t0-b-media3__media"><span><span><span></span></span></span>
        <a href="#" target="">
        <img src="https://placehold.jp/400x160.png">
        </a>
        </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
    <div class="t0-b-layoutSplitter__div"><div>
      <div class="t0-b-media3-bPlacer">
        <div class="t0-b-media3 t0-b-media3--width-">
          <div class="t0-b-media3__media"><span><span><span></span></span></span>
          <a href="#" target="">
          <img src="https://placehold.jp/400x160.png">
          </a>
          </div>
      <!-- /t0-b-media3 --></div>
      <!-- /t0-b-media-bPlacer --></div>
    <!-- /t0-b-layoutSplitter__div --></div></div>
  <!-- /t0-b-layoutSplitter --></div></div>
<!-- /media5col-bPlacer --></div>
```

*/

@if $device == PC {
}

@if $device == SP {

}
