// バリエーションは画像要素（`t0-b-media`）が持ち、横２〜５を定義する枠部分（`t0-b-mediaXCol`）はバリエーションを持たない
@if $device == PC {
  .t0-b-mediaDouble {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 20px;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .t0-b-media3col {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 3);
      padding-left: 15px;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .t0-b-media4col {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 4);
      padding-left: 10px;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .t0-b-media5col {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 5);
      padding-left: 10px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-mediaDouble,
  .t0-b-media3col,
  .t0-b-media4col,
  .t0-b-media5col {
    &__layout {
      padding-top: 15px;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
