@if $device == PC {

  .t0-b-twoColsMediaCardLandscape {
    &__row {
      display: flex;
      width: 100%;
      max-width: 1000px;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
      margin: 40px auto;
    }
    [class^=t0-b-twoColsMediaCardLandscape__row][class*=col2] {
      flex: 1;
      padding: 0 3%;
      margin: 2% 0 1%;
    }
    &--colW-l {
      [class^=t0-b-twoColsMediaCardLandscape__row][class*=col1] {
        width: 50%;
      }
    }
    &--colW-m {
      [class^=t0-b-twoColsMediaCardLandscape__row][class*=col1] {
        width: 40%;
      }
    }
    &--colW-s {
      [class^=t0-b-twoColsMediaCardLandscape__row][class*=col1] {
        width: 30%;
      }
    }
    &--imgR {
      .t0-b-twoColsMediaCardLandscape {
        &__row {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-twoColsMediaCardLandscape {
    display: flex;
    flex-direction: column;
    &__row {
      width: 100%;
      margin: 20px auto;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }
    [class^=t0-b-twoColsMediaCardLandscape__row][class*=col1] {
      img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
      }
    }
  }
  [class^=t0-b-twoColsMediaCardLandscape__row][class*=col2] {
    padding: 16px 24px 8px;
  }
}
