@if $device == PC {
  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    $_block: &;

    padding: 9px;
    color: #594c46;
    margin-bottom: 20px;

    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: left top, left bottom, right bottom, right top, left 9px top, left 9px bottom, left top 9px, right top 9px;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg8.png");
    position: relative;
    &__hd {
      padding: 20px 10px;
      background-color: #fff000;
      text-align: center;
    }

    &__hd-caption-upper {
      @include g-font-spacingKilled(14, 1);
    }

    &__hd-h {
      > a > h3 {
        @include g-font-spacingKilled(24, 1);

        margin: 15px 0;
        &:hover {
          opacity: .8;
        }
      }

      h3 {
        @include g-font-spacingKilled(24, 1);

        margin: 15px 0;
      }
    }

    &__hd-caption-lower {
      @include g-font-spacingKilled(14, 1);
    }

    a {
      text-decoration: none;
    }

    &__bd {
      padding: 20px 20px 15px;
    }

    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__numIcon-bd {
      > a > h4 {
        &:hover {
          opacity: .8;
        }
      }
    }

    &__box {
      padding: 10px 0 0 80px;
    }

    &__iconPlacer {
      padding: 0 20px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 #{$_elementSpacing};
    }

    &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: #{$_elementSpacing} 0 0;
    }

    &__numIcon-caption-upper + &__numIcon-h {
      @include g-font-spacingKilled(22, 1);
    }

    &__numIcon-caption-upper + a > &__numIcon-h {
      @include g-font-spacingKilled(22, 1);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 60px 60px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-frameWithHCaptionNumIcon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }

    &__numIcon--align {
      line-height: 0;
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {
    $_block: &;

    padding: 11px;

    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg.png");
    position: relative;
    margin-bottom: 20px;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg6.png");
      background-position: left top, left bottom;
      background-size: 11px 11px, 12px 12px;
      background-repeat: repeat-x, repeat-x;
      > span {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: -10px;
        right: -10px;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg8.png");
        background-position: left top, right top;
        background-repeat: repeat-y, repeat-y;
      }
    }

    &__hd-caption-upper {
      @include g-font-spacingKilled(14, 1);
    }

    &__hd-h {
      padding: 20px 0 10px;
      h3 {
        @include g-font-spacingKilled(24, 1);
      }
    }

    div + &__hd-h {
      padding-top: 10px;
    }

    &__hd-h:last-child {
      padding-bottom: 20px;
    }

    &__hd-caption-lower {
      @include g-font-spacingKilled(14, 1);
    }

    a {
      text-decoration: none;
      &:hover {
        color: #86766e;
      }
    }

    &__hd {
      color: #594c46;
      background-color: #f9dbe1;
      padding: 10px;
      margin: 10px;
      position: relative;
      text-align: center;
      > span {
        display: block;
        height: 20px;
        background: radial-gradient(50% 50%, 370px 10px, #000 0%, #7f7f7f 50%, #fff 100%);
        background: -webkit-radial-gradient(50% 50%, 370px 10px, #000 0%, #7f7f7f 50%, #fff 100%);
        position: absolute;
        margin: 0;
        bottom: -10px;
        left: 0;
        right: 0;
        > span {
          display: block;
          height: 10px;
          background-color: #f9dbe1;
          position: absolute;
          top: 0;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }

      a {
        color: #594c46;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 20px 10px 15px;
      margin: 0 10px;
      position: relative;
    }

    &__numIcon {
      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__box {
      padding: 10px 0 0 72px;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 #{$_elementSpacing};
    }

    &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: #{$_elementSpacing} 0 0;
    }

    &__numIcon-caption-upper + &__numIcon-h {
      @include g-font-spacingKilled(22, 1);
    }

    &__numIcon-caption-upper + a > &__numIcon-h {
      @include g-font-spacingKilled(22, 1);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 60px 60px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-frameWithHCaptionNumIcon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }

    &__numIcon--align {
      line-height: 0;
    }
  }
}

@if $device == SP {
  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    $_block: &;

    margin: 0 -15px 20px;
    padding: 9px;
    color: #594c46;
    a {
      color: #594c46;
    }

    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: left top, left bottom, right bottom, right top, left 9px top, left 9px bottom, left top 9px, right top 9px;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg6.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon__icon/1/1/bg8.png");
    position: relative;
    &__hd {
      padding: 15px 10px;
      background-color: #fff000;
      text-align: center;
    }

    &__hd-caption-upper {
      @include g-font-spacingKilled(14, 1);
    }

    a {
      color: #594c46;
      text-decoration: none;
    }

    &__hd-h {
      h3 {
        @include g-font-spacingKilled(18, 1);

        margin: 5px 0;
      }
    }

    &__hd-caption-lower {
      @include g-font-spacingKilled(14, 1);
    }

    &__bd {
      padding: 20px 20px 0;
    }

    &__numIcon {
      display: table;
      line-height: 0;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-bd {
      width: 100%;
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 #{$_elementSpacing};
    }

    &__numIcon-h {
      @include g-font-spacingKilled(18, 1);
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: #{$_elementSpacing} 0 2px;
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-frameWithHCaptionNumIcon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
      line-height: 0;
      padding: 10px 0;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {
    margin: 0 -15px 20px;
    padding: 11px;

    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg3.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg4.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg2.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg.png");
    position: relative;
    > span {
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
      background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg5.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg6.png");
      background-position: left top, left bottom;
      background-size: 11px 11px, 12px 12px;
      background-repeat: repeat-x, repeat-x;
      > span {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: -10px;
        right: -10px;
        background-image: url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg7.png"), url("../imgs/t0-b-frameWithHCaptionNumIcon2__icon/bg8.png");
        background-position: left top, right top;
        background-repeat: repeat-y, repeat-y;
      }
    }

    &__hd-caption-upper {
      @include g-font-spacingKilled(14, 1);

      margin-bottom: -10px;
    }

    &__hd-h {
      padding: 20px 0 10px;
      h3 {
        @include g-font-spacingKilled(18, 1);

        margin: 5px 0 8px;
      }
    }

    div + &__hd-h {
      padding-top: 10px;
    }

    &__hd-h:last-child {
      padding-bottom: 20px;
    }

    &__hd-caption-lower {
      @include g-font-spacingKilled(14, 1);

      margin-top: -10px;
    }

    a {
      color: #594c46;
      text-decoration: none;
    }

    &__numIcon-bd {
      width: 100%;
    }

    &__hd {
      color: #594c46;
      background-color: #f9dbe1;
      padding: 10px;
      margin: 10px;
      position: relative;
      text-align: center;
      > span {
        display: block;
        height: 20px;
        background: radial-gradient(50% 50%, 370px 10px, #000 0%, #7f7f7f 50%, #fff 100%);
        background: -webkit-radial-gradient(50% 50%, 50% 10px, #666 0%, #7f7f7f 50%, #fff 100%);
        position: absolute;
        margin: 0;
        bottom: -10px;
        left: 0;
        right: 0;
        > span {
          display: block;
          height: 10px;
          background-color: #f9dbe1;
          position: absolute;
          top: 0;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }

      a {
        color: #594c46;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 20px 0 0;
      margin: 0 10px;
    }

    &__numIcon {
      display: inline-block;
      line-height: 0;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 #{$_elementSpacing};
    }

    &__numIcon-h {
      @include g-font-spacingKilled(18, 1);
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: #{$_elementSpacing} 0 2px;
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-frameWithHCaptionNumIcon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
      line-height: 0;
      padding: 10px 0;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }
}
