@if $device == PC {
  .t0-b-frameWithHCaption#{$variation1of2} {
    margin-bottom: 20px;

    $_block: &;

    color: #594c46;
    padding: 10px;
    background-repeat: repeat;
    background-position: left top;
    background-image: url("../imgs/t0-b-frameWithHCaption/1/1/bg.png");
    background-color: #ffe100;
    position: relative;
    &__hd {
      padding: 10px 0 20px;
      text-align: center;
      > * {
        position: relative;

        @include g-font-spacingKilled(14, 1);
      }

      #{$_block}__hd-h {
        @include g-font-spacingKilled(24, 1);
      }

      #{$_block}__hd-caption-upper {
        padding-bottom: 8px;
      }

      #{$_block}__hd-caption-lower {
        padding-top: 8px;
      }

      a {
        color: #594c46;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &__hd-h {
      font-weight: bold;
      > a > h3 {
        text-decoration: none;
        &:hover {
          opacity: .8;
          text-decoration: none;
        }
      }
    }

    &__bd {
      padding: 20px 20px 10px;
      background-repeat: repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-frameWithHCaption/1/1/bg.png");
      background-color: #fff;
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    .t0-b-formTable#{$variation1of2},
    .t0-b-formTable#{$variation2of2} {
      table {
        border: 10px solid #fff;
      }
    }
  }

  .t0-b-frameWithHCaption#{$variation2of2} {
    margin-bottom: 20px;

    $_block: &;

    border: 5px solid #fff000;
    color: #594c46;
    padding: 0;
    &__hd {
      padding: 20px 0;
      background-color: #fff000;
      position: relative;
      text-align: center;
      > * {
        position: relative;

        @include g-font-spacingKilled(14, 1);
      }

      #{$_block}__hd-h {
        @include g-font-spacingKilled(24, 1);

        font-weight: bold;
      }

      #{$_block}__hd-caption-upper {
        padding-bottom: 8px;
      }

      #{$_block}__hd-caption-lower {
        padding-top: 8px;
      }

      a {
        color: #594c46;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &__hd-h {
      > a > h3 {
        text-decoration: none;
        &:hover {
          opacity: .8;
          text-decoration: none;
        }
      }
    }

    &__bd {
      padding: 20px 20px 10px;
      background-color: #fff;
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-frameWithHCaption#{$variation1of2} {
    $_block: &;

    margin: 0 -5px 20px;
    padding: 10px;
    color: #594c46;
    a {
      color: #594c46;
    }

    .t0-b-media__caption {
      p {
        line-height: 14px;
      }
    }

    background-repeat: repeat;
    background-position: left top;
    background-image: url("../imgs/t0-b-frameWithHCaption/1/1/bg.png");
    background-color: #ffe100;
    position: relative;
    &__hd {
      padding: 10px 0 20px;
      text-align: center;
      > * {
        position: relative;

        @include g-font-spacingKilled(14, 1);
      }

      #{$_block}__hd-h {
        @include g-font-spacingKilled(18, 1);
      }

      #{$_block}__hd-caption-upper {
        padding-bottom: 8px;
      }

      #{$_block}__hd-caption-lower {
        padding-top: 8px;
      }

      a {
        color: #594c46;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 15px 15px 5px;
      background-repeat: repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-frameWithHCaption/1/1/bg.png");
      background-color: #fff;
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaption#{$variation2of2} {
    $_block: &;

    margin: 0 -5px 20px;
    border: 5px solid #fff000;
    color: #594c46;
    padding: 0;
    a {
      color: #594c46;
    }

    .t0-b-media__caption {
      p {
        line-height: 14px;
      }
    }

    &__hd {
      background-color: #fff000;
      position: relative;
      padding: 20px 0;
      text-align: center;
      > * {
        position: relative;

        @include g-font-spacingKilled(14, 1);
      }

      #{$_block}__hd-h {
        @include g-font-spacingKilled(18, 1);
      }

      #{$_block}__hd-caption-upper {
        padding-bottom: 8px;
      }

      #{$_block}__hd-caption-lower {
        padding-top: 8px;
      }

      a {
        color: #594c46;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 15px 15px 5px;
      background-color: #fff;
      position: relative;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }
  }
}
