@if $device == PC {
  .t0-b-navItemCaptioned {
    $_block: &;
    display: table;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          padding: 0 0 0 10px;
          &::before {
            content: "";
            display: block;
            line-height: 1;
            padding: 2px 0 0;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url("../imgs/t0-b-navItem/bg.png");
            width: 15px;
            height: 15px;
          }
        }

        > div {
          width: 100%;
          color: #009fe8;
          &:hover {
            color: #00f;
          }
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      box-sizing: border-box;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        padding: 0 0 0 10px;
        &::before {
          content: "";
          display: block;
          line-height: 1;
          padding: 2px 0 0;
          background-repeat: no-repeat;
          background-position: left center;
          background-image: url("../imgs/t0-b-navItem/bg.png");
          width: 15px;
          height: 15px;
        }
      }

      > div {
        width: 100%;
        color: #009fe8;
      }
    }

    &__main {
      padding-left: 5px;
      font-weight: bold;
      text-decoration: underline;
    }

    &__caption {
      padding: 4px 0 0 5px;
      color: #009582;
      font-size: 84%;
      text-decoration: none;
    }

    &--size-1 {
      #{$_block}__main {
        @include g-font(12, 1);
      }

      #{$_block}__caption {
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      #{$_block}__main {
        @include g-font(22, 1);
      }

      #{$_block}__caption {
        @include g-font(18, 1);
      }
    }

    &--align-l > a,
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c > a,
    &--align-c {
      margin: 0 auto;
    }

    &--align-r > a,
    &--align-r {
      margin: 0 0 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-navItemCaptioned {
    $_block: &;
    margin: 0 auto;
    display: table;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          padding: 0 0 0 10px;
          &::before {
            content: "";
            display: block;
            line-height: 1;
            padding: 2px 0 0;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url("../imgs/t0-b-navItem/bg.png");
            width: 15px;
            height: 15px;
          }
        }

        > div {
          width: 100%;
          color: #009fe8;
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      box-sizing: border-box;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        padding: 0 0 0 10px;
        &::before {
          content: "";
          display: block;
          line-height: 1;
          padding: 2px 0 0;
          background-repeat: no-repeat;
          background-position: left center;
          background-image: url("../imgs/t0-b-navItem/bg.png");
          width: 15px;
          height: 15px;
        }
      }

      > div {
        width: 100%;
        color: #009fe8;
      }
    }

    &__main {
      font-weight: bold;
      text-decoration: underline;
    }

    &__caption {
      padding: 6px 0 0 5px;
      color: #009582;
      font-size: 84%;
      text-decoration: none;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div {
        > div {
          padding: 0 10px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding: 4px 0 0;
        @include g-font(14, 1);
      }

      > div {
        > div {
          padding: 0 10px;
        }
      }
    }
  }
}
