@if $device == PC {
  .t0-b-iconText-tel {
    $_block: &;
    color: #594c46;
    margin-bottom: 10px;
    display: table;
    p {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      &::before,
      &::after {
        margin-top: 0;
      }

      padding-bottom: 15px;
    }

    &__ruby {
      text-align: right;
    }

    &__bd {
      text-align: center;
      display: inline-block;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: left top;
    }

    &__wrap {
      display: table-cell;
      vertical-align: middle;
    }

    &__media {
      padding: 0 10px 0 0;
      display: table-cell;
      vertical-align: middle;
      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
      text-align: left;
    }

    &--align-c {
      margin: 0 auto;
      text-align: center;
    }

    &--align-r {
      margin: 0 0 0 auto;
      text-align: right;
    }

    &--size-1 {
      p {
        @include g-font-spacingKilled(12, 1);
        &::before,
        &::after {
          margin-top: 0;
        }

        padding-bottom: 10px;
      }

      #{$_block}__ruby {
        @include g-font-spacingKilled(12, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__bd {
        @include g-font-spacingKilled(24, 1);
        line-height: 1;
        &::before,
        &::after {
          margin-top: 0;
        }

        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }

      #{$_block}__icon {
        margin: 0 4px 0 0;
      }

      #{$_block}__tel {
        width: 24px;
        height: 20px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
        background-size: 100% 100%;
        margin-top: -2px;
      }

      #{$_block}__fax {
        width: 20px;
        height: 21px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
        background-size: 100% 100%;
      }

      #{$_block}__free {
        width: 23px;
        height: 16px;
        background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
        background-size: 100% 100%;
        margin-top: 2px;
      }

      #{$_block}__cell {
        width: 15px;
        height: 23px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
        background-size: 100% 100%;
        margin-top: -4px;
      }
    }

    &--size-2 {
      p {
        @include g-font-spacingKilled(14, 1);
        &::before,
        &::after {
          margin-top: 0;
        }

        padding-bottom: 10px;
      }

      #{$_block}__ruby {
        @include g-font-spacingKilled(14, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__bd {
        @include g-font-spacingKilled(30, 1);
        line-height: 1;
        &::before,
        &::after {
          margin-top: 0;
        }

        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }

      #{$_block}__icon {
        margin: 0 8px 0 0;
      }

      #{$_block}__tel {
        width: 30px;
        height: 24px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/2.png");
        background-size: 100% 100%;
      }

      #{$_block}__fax {
        width: 25px;
        height: 26px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/2.png");
        background-size: 100% 100%;
      }

      #{$_block}__free {
        width: 29px;
        height: 19px;
        background-image: url("../imgs/t0-b-iconText/icons/free/2.png");
        background-size: 100% 100%;
        margin-top: 3px;
      }

      #{$_block}__cell {
        width: 18px;
        height: 29px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/2.png");
        background-size: 100% 100%;
        margin-top: -6px;
      }
    }

    &--size-3 {
      p {
        @include g-font-spacingKilled(16, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__ruby {
        @include g-font-spacingKilled(16, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__bd {
        @include g-font-spacingKilled(38, 1);
        line-height: 1;
        &::before,
        &::after {
          margin-top: 0;
        }

        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }

      #{$_block}__icon {
        margin: 0 10px 0 0;
      }

      #{$_block}__tel {
        width: 36px;
        height: 30px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/3.png");
        background-size: 100% 100%;
      }

      #{$_block}__fax {
        width: 31px;
        height: 33px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/3.png");
      }

      #{$_block}__free {
        width: 36px;
        height: 24px;
        background-image: url("../imgs/t0-b-iconText/icons/free/3.png");
        margin-top: 3px;
      }

      #{$_block}__cell {
        width: 23px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/3.png");
        margin-top: -8px;
      }
    }

    &--size-4 {
      p {
        @include g-font-spacingKilled(18, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__ruby {
        @include g-font-spacingKilled(18, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__bd {
        @include g-font-spacingKilled(44, 1);
        line-height: 1;
        &::before,
        &::after {
          margin-top: 0;
        }

        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }

      #{$_block}__icon {
        margin: 0 12px 0 0;
      }

      #{$_block}__tel {
        width: 44px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/4.png");
        background-size: 100% 100%;
      }

      #{$_block}__fax {
        width: 37px;
        height: 40px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/4.png");
        background-size: 100% 100%;
      }

      #{$_block}__free {
        width: 43px;
        height: 29px;
        background-image: url("../imgs/t0-b-iconText/icons/free/4.png");
        background-size: 100% 100%;
        margin-top: 3px;
      }

      #{$_block}__cell {
        width: 28px;
        height: 43px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/4.png");
        background-size: 100% 100%;
        margin-top: -9px;
      }
    }

    &--size-5 {
      p {
        @include g-font-spacingKilled(20, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__ruby {
        @include g-font-spacingKilled(20, 1);
        &::before,
        &::after {
          margin-top: 0;
        }
      }

      #{$_block}__bd {
        @include g-font-spacingKilled(48, 1);
        line-height: 1;
        &::before,
        &::after {
          margin-top: 0;
        }

        #{$_block}__icon + span {
          font-size: 80%;
          vertical-align: middle;
        }
      }

      #{$_block}__icon {
        margin: 0 12px 0 0;
      }

      #{$_block}__tel {
        width: 48px;
        height: 39px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/5.png");
        background-size: 100% 100%;
      }

      #{$_block}__fax {
        width: 40px;
        height: 43px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/5.png");
        background-size: 100% 100%;
      }

      #{$_block}__free {
        width: 47px;
        height: 31px;
        background-image: url("../imgs/t0-b-iconText/icons/free/5.png");
        background-size: 100% 100%;
        margin-top: 4px;
      }

      #{$_block}__cell {
        width: 30px;
        height: 47px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/5.png");
        background-size: 100% 100%;
        margin-top: -12px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-iconText-tel {
    text-align: center;
    p {
      @include g-font(16, 1);
      padding-bottom: 15px;
    }

    a[href^=tel] {
      width: 95%;
      margin: 0 auto;
      background: linear-gradient(#fff, #f6f6f6, #eee);
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px 0;
      word-break: break-all;
      display: block;
    }

    img {
      width: 25%;
    }

    &__bd {
      color: #f00;
      font-family: "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "游ゴシック体", "Yu Goth  ic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      > span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__icon {
      display: inline-block;
      vertical-align: top;
    }

    &__ruby {
      @include g-font(12, 1);
    }

    &__bd {
      @include g-font(14, 1);
    }

    &__icon {
      padding: 0 3px 0 0;
      background-repeat: no-repeat;
    }

    &__tel {
      width: 20px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
      background-size: 20px 16px;
      margin-top: -2px;
    }

    &__fax {
      width: 15px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
      background-size: 15px 16px;
    }

    &__free {
      width: 24px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
      background-size: 24px 16px;
    }

    &__cell {
      width: 11px;
      height: 16px;
      background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
      background-size: 11px 16px;
      margin-top: -4px;
    }
  }
}
