@if $device == PC {
  .t0-b-lv2H-faqIcon {
    $_block: &;
    $_fontSize_h: 24;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_lineHeight_h: 0;
  
    margin: 0 auto;
    border-top: 10px solid #fcee50;
    border-bottom: 10px solid #fcee50;
    position: relative;
    text-align: center;
    color: #594c46;
    a {
      text-decoration: none;
      color: #594c46;
      width: 100%;
      &:hover {
        color: #86766e;
      }
    }

    > div {
      display: inline-block;
      position: relative;
      padding: 0 10px;
    }

    &__icon {
      display: block;
      background: url("../imgs/t0-b-lv2H-faqIcon/1.png") center center no-repeat;
      width: 54px;
      height: 80px;
    }

    &__iconPlacer {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -22px;
      margin-top: -40px;
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
      text-align: center;
      padding: 22px 0;
      position: relative;
      z-index: 2;
    }


    &--size-1 {
      #{$_block}__icon {
        width: 54px * .8;
        height: 80px * .8;
      }
      
      #{$_block}__iconPlacer {
        margin-left: -22px * .8;
        margin-top: -40px * .8;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
        padding: 22px * .8 0;
      }

    }

    &--size-3 {
      #{$_block}__icon {
        width: 54px * 1.2;
        height: 80px * 1.2;
      }
      
      #{$_block}__iconPlacer {
        margin-left: -22px * 1.2;
        margin-top: -40px * 1.2;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
        padding: 22px * 1.2 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv2H-faqIcon {
    margin: 0 auto;
    border-top: 10px solid #fcee50;
    border-bottom: 10px solid #fcee50;
    position: relative;
    text-align: center;
    color: #594c46;
    a {
      text-decoration: none;
      color: #594c46;
      width: 100%;
    }

    > div {
      display: inline-block;
      position: relative;
      padding: 0 10px;
    }

    &__icon {
      display: block;
      background: url("../imgs/t0-b-lv2H-faqIcon/1.png") center center no-repeat;
      width: 54px;
      height: 80px;
    }

    &__iconPlacer {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -22px;
      margin-top: -40px;
    }

    &__h {
      @include g-font-spacingKilled(18, 0);
      text-align: center;
      padding: 22px 0;
      position: relative;
      z-index: 2;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
