@if $device == PC {
  .t0-b-sideBoxLabeledList {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 3}px;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      padding-bottom: $_spacing_title;
      > div {
        display: inline-block;

        @include g-font-spacingKilled(14, 2);

        color: #fff;
        background: #594c47;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    &__item-bd {
      @include g-font-spacingKilled(16, 2);

      color: #594c46;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLabeledList {
    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_spacing_title: #{$g-spacingBaseLength * 2}px;
    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      padding-bottom: $_spacing_title;
      > div {
        display: inline-block;

        @include g-font(16, 1);

        color: #fff;
        background: #594c47;
        border-radius: 10px;
        padding: 2px 10px;
      }
    }

    &__item-bd {
      @include g-font-spacingKilled(16, 1);
    }
  }
}
