@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    border: 0 solid #555;
    &__hd {
      background-image: url("../imgs/t0-b-frameWithHCaption/1/1/bg.png");
      background-color: #ffe100;
      background-repeat: repeat;
      background-position: left top;
      color: #594c46;
      padding: 15px 20px;
      text-align: center;
      a {
        text-decoration: none;
      }

      h4 {
        color: #594c46;
        position: relative;

        @include g-font-spacingKilled(20, 0);

        font-weight: bold;
      }

      a {
        h4 {
          &:hover {
            color: #86766e;
          }
        }
      }
    }

    &__bd {
      padding: 20px 10px 10px;
      background: #fdf7f9;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    &__hd {
      background-color: #fff000;
      color: #594c46;
      padding: 15px 20px;
      position: relative;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: -8px;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-sideBox/2/1/bg.png") center bottom no-repeat;
        background-size: 100% 8px;
        pointer-events: none;
      }

      a {
        text-decoration: none;
        color: #594c46;
        h4 {
          &:hover {
            color: #86766e;
          }
        }
      }

      h4 {
        color: #594c46;
        position: relative;

        @include g-font-spacingKilled(20, 0);

        font-weight: bold;
      }
    }

    &__bd {
      padding: 20px 10px 10px;
      background: #fdf7f9;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    padding-bottom: 10px;
    border: 0 solid #555;
    &__hd {
      background-image: url("../imgs/t0-b-sideBox/1/1/bg.png");
      background-repeat: repeat;
      background-position: left top;
      color: #594c46;
      padding: 15px 20px;

      @include g-font-spacingKilled(18, 0);
      a {
        text-decoration: none;
      }
    }

    &__bd {
      padding: 20px 20px 0;
      background: #fdf7f9;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    padding-bottom: 10px;
    border: 0 solid #555;
    &__hd {
      background-color: #fff000;
      color: #594c46;
      padding: 15px 20px;
      position: relative;
      border-width: 0 0 8px;
      -moz-border-image: url("../imgs/t0-b-sideBox/2/1/bg.png") 0 0 8;
      -webkit-border-image: url("../imgs/t0-b-sideBox/2/1/bg.png") 0 0 8;
      border-image: url("../imgs/t0-b-sideBox/2/1/bg.png") 0 0 8;
      a {
        text-decoration: none;
      }

      h4 {
        color: #594c46;
        position: relative;

        @include g-font-spacingKilled(18, 0);
      }
    }

    &__bd {
      padding: 20px 20px 0;
      background: #fdf7f9;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
