@if $device == PC {
  .t0-b-headerMedia#{$variation1of2} {
    line-height: 0;
    margin: 0 auto;

    $_width_content: 1060px;
    > div {
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      > div {
        width: 100%;
        > * {
          margin: 0 auto !important;
          line-height: 1.5;
        }

        > iframe {
          width: 100%;
        }
      }
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      min-height: 50px;
      display: block;
      width: 1060px;
      height: auto;
    }
  }

  .t0-b-headerMedia#{$variation2of2} {
    line-height: 0;
    margin: 0 auto;
    background: transparent;

    $_width_content: 1060px;
    > div {
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      > div {
        width: 100%;
        > * {
          margin: 0 auto !important;
          line-height: 1.5;
        }

        > iframe {
          width: 100%;
        }
      }
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      padding: 0 0 15px;
      background: url("../imgs/t0-b-headerMedia/bg.png") left bottom no-repeat;
    }
  }
}

@if $device == SP {
  .t0-b-headerMedia#{$variation1of2} {
    text-align: center;
    margin: 0 -15px;
    overflow: auto;
    line-height: 0;
    background: #fff;
    > div {
      width: 100%;
      margin: 0 auto;
      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      > div {
        margin: 0 20px;
        overflow: auto;
        width: auto;
        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia#{$variation2of2} {
    text-align: center;
    margin: 0 -15px;
    overflow: auto;
    line-height: 0;
    background: transparent;
    > div {
      width: 100%;
      margin: 0 auto;
      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      > div {
        margin: 0 20px;
        overflow: auto;
        width: auto;
        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }

    img {
      border-width: 0 0 15px;
      border-image: url("../imgs/t0-b-headerMedia/bg.png") 0 0 15 stretch;
    }
  }
}
