@if $device == PC {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    padding: 75px 105px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $fullWidthBgColor;
    @if $layout == "L25" {
      margin: 0 -70px 0 (-70px - $areaSubWidth);
    }
    @else if $layout == "L30" {
      margin: 0 -70px 0 (-70px - $areaSubWidth);
    }
    @else if $layout == "N00" {
      margin: 0 -70px;
    }
    @else if $layout == "R25" {
      margin: 0 (-70px - $areaSubWidth) 0 -70px;
    }
    @else if $layout == "R30" {
      margin: 0 (-70px - $areaSubWidth) 0 -70px;
    }
    > * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 35px;
      bottom: 35px;
      left: 70px;
      right: 70px;
      background-image: url("../imgs/t0-b-frame/1/bg.png");
      > span {
        position: absolute;
        pointer-events: none;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background-color: #fff;
      }
    }
  }

  .t0-b-fullWidthFrame2 {
    @if $layout == "L25" {
      margin-left: -70px - $areaSubWidth;
      padding: 75px 105px 75px (105px + $areaSubWidth);
      > span {
        left: 70px + $areaSubWidth;
      }
    }
    @else if $layout == "L30" {
      margin-left: -70px - $areaSubWidth;
      padding: 75px 105px 75px (105px + $areaSubWidth);
      > span {
        left: 70px + $areaSubWidth;
      }
    }
    @else if $layout == "N00" {
      margin: 0 -70px;
      padding: 75px (105px + $areaSubWidth / 2);
      > span {
        left: 225px;
        right: 225px;
      }
    }
    @else if $layout == "R25" {
      margin-right: -70px - $areaSubWidth;
      padding: 75px (105px + $areaSubWidth) 75px 105px;
      > span {
        right: 70px + $areaSubWidth;
      }
    }
    @else if $layout == "R30" {
      margin-right: -70px - $areaSubWidth;
      padding: 75px (105px + $areaSubWidth) 75px 105px;
      > span {
        right: 70px + $areaSubWidth;
      }
    }
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame {
    margin: 0 -15px;
    padding: 40px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    background-color: $fullWidthBgColor;
    position: relative;
    > * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      background-image: url("../imgs/t0-b-frame/1/bg.png");
      > span {
        position: absolute;
        pointer-events: none;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background-color: #fff;
      }
    }
  }

  .t0-b-fullWidthFrame2 {
    margin: 0 -15px;
    padding: 40px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    background-color: $fullWidthBgColor;
    position: relative;
    > * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 15px;
      bottom: 15px;
      left: 15px;
      right: 15px;
      background-image: url("../imgs/t0-b-frame/1/bg.png");
      > span {
        position: absolute;
        pointer-events: none;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        background-color: #fff;
      }
    }
  }
}
