@if $device == PC {

  .t0-b-frame#{$variation1of3} {
    &__hd {
      padding-bottom: 15px;
    }
    &__bd {
      padding: 0;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }

  .t0-b-frame#{$variation2of3} {
    &__hd {
      padding-bottom: 15px;
    }
    &__bd {
      margin-bottom: 25px;
      padding: 25px 30px 10px;
      border: 2px solid #4a9e96;
      background: #fff;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }

  .t0-b-frame#{$variation3of3} {
    &__hd {
      padding-bottom: 15px;
    }
    &__bd {
      margin-bottom: 25px;
      padding: 25px 30px 10px;
      border: 1px solid #555;
      background: #fff;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }
  .t0-b-frameTransparency {
    min-height: 30px;
    &__hd {
      padding-bottom: 15px;
    }
    &__bd {
      padding: 0;
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }
}

@if $device == SP {

  .t0-b-frame#{$variation1of3} {
    &__hd {
      padding-bottom: 25px;
    }
    &__bd {
      padding-bottom: 25px;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }

  .t0-b-frame#{$variation2of3} {
    margin: 0 -5px;
    &__hd {
      padding-bottom: 25px;
    }
    &__bd {
      margin-bottom: 25px;
      padding: 20px 20px 10px;
      border: 1px solid #4a9e96;
      background: #fff;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }

  .t0-b-frame#{$variation3of3} {
    margin: 0 -5px;
    &__hd {
      padding-bottom: 25px;
    }
    &__bd {
      margin-bottom: 25px;
      padding: 20px 20px 10px;
      border: 2px solid #555;
      background: #fff;
    }
    &-bPlacer {
      padding-bottom: 50px;
    }
  }

  .t0-b-frameTransparency {
    &-bPlacer {
      padding-bottom: 10px;
    }
  }
}
