@if $device == PC {

  .t0-b-orderedList#{$variation1of2} {
    li {
      padding-left: 42px;
      text-indent: -42px;
    }

    &__num {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      text-indent: 0;
      background-image: url("../imgs/t0-b-orderedList/bg.png");
      background-size: 32px;
      background-repeat: no-repeat;

      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
        line-height: 30px;
        text-align: center;
      }
    }

    &__text {
      @include g-font(16, 1);
      line-height: 30px;
      display: inline;
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    li {
      padding-left: 42px;
      text-indent: -42px;
    }

    &__num {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      text-indent: 0;
      background-image: url("../imgs/t0-b-orderedList/bg2.png");
      background-repeat: no-repeat;
      background-size: 32px;

      > div {
        @include g-font(18, 1);
        text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
        line-height: 30px;
        text-align: center;
      }
    }

    &__text {
      @include g-font(16, 1);
      line-height: 30px;
      display: inline;
    }
  }
}

@if $device == SP {
  .t0-b-orderedList#{$variation1of2} {
    li {
      padding-left: 42px;
      text-indent: -42px;
    }
    &__num {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      text-indent: 0;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-orderedList/bg.png");
      background-size: 32px;
      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
        line-height: 30px;
        text-align: center;
      }
    }
    &__text {
      @include g-font(16, 1);
      line-height: 30px;
      display: inline;
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    li {
      padding-left: 42px;
      text-indent: -42px;
    }
    &__num {
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      text-indent: 0;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-orderedList/bg2.png");
      background-size: 32px;

      > div {
        @include g-font(18, 1);
        text-shadow: (-1px) -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
        line-height: 30px;
        text-align: center;
      }
    }
    &__text {
      @include g-font(16, 1);
      line-height: 30px;
      display: inline;
    }
  }
}
