@if $device == PC {

  .t0-b-table#{$variation1of2} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 10px 15px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background-color: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
      tr {
        border-bottom: 1px solid #777;
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 25px;
    }
  }

  .t0-b-table#{$variation2of2} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #999;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {}
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 10px 15px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: #555;
        background-image: url("../imgs/t0-b-table/bg3.png");
        background-repeat: repeat;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 25px;
    }
  }

}

@if $device == SP {

  .t0-b-table#{$variation1of2} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
      tr {
        border-bottom: 1px solid #777;
        > th,
        td {
          background-repeat: repeat-x;
          background-position: left bottom;
          background-image: url("../imgs/t0-b-table/bg2.png");
        }
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 25px;
    }
  }

  .t0-b-table#{$variation2of2} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #999;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: #555;
        background-image: url("../imgs/t0-b-table/bg3.png");
        background-repeat: repeat;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 25px;
    }
  }
}
