@if $device == PC {

  .t0-b-lv4HBig#{$variation1of2} {

    padding: 10px 55px;
    color: #fff;
    background-color: #77cfc4;
    background-image: url("../imgs/t0-b-lv4HBig/bg.png"), url("../imgs/t0-b-lv4HBig/bg2.png");
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
    text-align: center;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 10px 5px;
      @if $layout == "N00" {
        @include g-font(18, 1);
      }
    }
    &__bd {
      h4 {
        @include g-font(28, 1);
        //font-weight: bold
        padding: 10px;
        text-shadow: 3px 3px 3px #87d7ce, -3px 3px 3px #87d7ce, 3px -3px 3px #87d7ce, -3px -3px 3px #87d7ce;
        @if $layout == "N00" {
          @include g-font(32, 1);
        }
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 10px 0;
      @if $layout == "N00" {
        @include g-font(18, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font(10, 1);
      }
      #{$_block}__caption-lower {
        @include g-font(10, 1);
      }
      #{$_block}__bd {
        h4 {
          @include g-font(24, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font(18, 1);
      }
      #{$_block}__caption-lower {
        @include g-font(18, 1);
      }
      #{$_block}__bd {
        h4 {
          @include g-font(32, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #16998f;
      }
    }
  }

  .t0-b-lv4HBig#{$variation2of2} {

    padding: 10px 30px;
    border: 2px solid #57a299;
    border-radius: 5px;
    text-align: center;
    background-color: #d9f8f2;
    background-image: url("../imgs/t0-b-lv4HBig2/bg.png"), url("../imgs/t0-b-lv4HBig2/bg2.png"), url("../imgs/t0-b-lv4HBig2/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right bottom, left top;
    box-sizing: border-box;
    min-height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid #fff;
      border-radius: 3px;
      pointer-events: none;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 5px 0;
      @if $layout == "N00" {
        @include g-font(18, 1);
      }
    }
    &__bd {
      h4 {
        @include g-font(28, 1);
        font-weight: bold;
        padding: 5px 0;
        @if $layout == "N00" {
          @include g-font(32, 1);
        }
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0;
      @if $layout == "N00" {
        @include g-font(18, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font(10, 1);
      }
      #{$_block}__caption-lower {
        @include g-font(10, 1);
      }
      #{$_block}__bd {
        h4 {
          @include g-font(24, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font(18, 1);
      }
      #{$_block}__caption-lower {
        @include g-font(18, 1);
      }
      #{$_block}__bd {
        h4 {
          @include g-font(32, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }



}

@if $device == SP {

  .t0-b-lv4HBig#{$variation1of2} {
    padding: 10px 0;
    color: #fff;
    background-color: #77cfc4;
    text-align: center;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 10px 5px;
    }
    &__bd {
      h4 {
        @include g-font(18, 1);
        font-weight: bold;
        padding: 10px;
        text-shadow: 3px 3px 3px #87d7ce, -3px 3px 3px #87d7ce, 3px -3px 3px #87d7ce, -3px -3px 3px #87d7ce;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 10px 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #16998f;
      }
    }
  }

  .t0-b-lv4HBig#{$variation2of2} {
    padding: 2px;
    border: 2px solid #57a299;
    border-radius: 5px;
    text-align: center;
    background-color: #d9f8f2;
    background-image: url("../imgs/t0-b-lv4HBig2/bg.png"), url("../imgs/t0-b-lv4HBig2/bg2.png"), url("../imgs/t0-b-lv4HBig2/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right bottom, left top;
    position: relative;
    min-height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid #fff;
      border-radius: 3px;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 5px 25px;
    }
    &__bd {
      h4 {
        @include g-font(18, 1);
        font-weight: bold;
        padding: 5px 10px;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 25px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }
}
