@if $device == PC {

  .t0-b-getAdobeReader {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;
    padding: #{$_blockSpacing} 0 0;
    &:first-child {
      padding-top: 0;
    }
    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;
      // clearfix
      &::before,
      &::after {
        content: "";
        display: table;
      }
      &::after {
        clear: both;
      }
      &:first-child {
        padding-top: 0;
      }
      // clearfix
      &:first-child {
        padding-top: 0;
      }
    }
    a {
      text-decoration: underline;
      color: #555;
      display: block;
      float: left;
      &:hover {
        color: #16998f;
      }
    }
    #{$_block}__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
    #{$_block}__itemText {
      @include g-font-spacingKilled(16, 1);
      text-decoration: underline;
    }
    &-bPlacer {
      padding-bottom: 40px;
    }
  }
}

@if $device == SP {


  .t0-b-getAdobeReader {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;
    padding: #{$_blockSpacing} 0 0;
    &:first-child {
      padding-top: 0;
    }
    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;
      // clearfix
      &::before,
      &::after {
        content: "";
        display: table;
      }
      &::after {
        clear: both;
      }
      &:first-child {
        padding-top: 0;
      }
      // clearfix
      &:first-child {
        padding-top: 0;
      }
    }
    a {
      text-decoration: underline;
      color: #555;
      display: block;
      float: left;
      &:hover {
        color: #16998f;
      }
    }
    #{$_block}__itemSplit {
      display: table;
      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
    #{$_block}__itemIcon {
      padding: 0 10px 0 0;
    }
    #{$_block}__itemText {
      @include g-font(16, 1);
      text-decoration: underline;
    }
    .b-downloadIcon--reader {
      height: 39px;
      background-position: 17px 6px;
    }
    &-bPlacer {
      padding-bottom: 40px;
    }
  }

}
