@if $device == PC {

  .t0-b-sideNavItemWithImg#{$variation1of3} {
    $_block: &;
    border: 3px solid #ccc;
    background-color: #fff;
    background-image: url("../imgs/t0-b-sideNavItemWithImg/bg.png");
    background-repeat: repeat-y;
    background-position: left top;
    > a {
      display: block;
      padding: 7px 10px 7px 18px;
      text-decoration: none;
      color: #555;
      &:hover {
        opacity: .8;
      }
      > div {
        display: table;
        width: 100%;
        > span {
          pointer-events: none;
        }
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      padding: 7px 10px 7px 18px;
      text-decoration: none;
      box-sizing: border-box;
      color: #555;
      display: table;
      width: 100%;
      > span {
        pointer-events: none;
      }
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
      }
    }
    &__text {
      @include g-font-spacingKilled(20, 1);
      width: 100%;
      font-weight: bold;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-right: 10px;
      }
      #{$_block}__text {
        padding-right: 10px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg2.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
      }
      #{$_block}__text {
        padding-left: 15px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg2.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of3} {
    $_block: &;
    border: 1px solid #1d8a7e;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px 2px #ced5d4;
    > a {
      display: block;
      background-color: #fff;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
      > div {
        display: table;
        border-radius: 3px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg4.png");
        background-repeat: repeat-x;
        background-position: left top;
        background-color: #e1f1f0;
        padding: 6px 10px 6px 7px;
        > span {
          pointer-events: none;
        }
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      display: table;
      box-sizing: border-box;
      border-radius: 3px;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/bg4.png");
      background-repeat: repeat-x;
      background-position: left top;
      background-color: #e1f1f0;
      padding: 6px 10px 6px 7px;
      > span {
        pointer-events: none;
      }
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
        padding-right: 10px;
      }
    }
    &__text {
      @include g-font-spacingKilled(20, 1);
      text-shadow: (-1px) -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
      font-weight: bold;
      width: 100%;
      color: #555;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {}
      #{$_block}__text {
        padding-right: 23px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg5.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
        img {
          padding: 0;
          margin-right: -3px;
        }
      }
      #{$_block}__text {
        padding-left: 26px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg5.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-sideNavItemWithImg#{$variation3of3} {
    $_block: &;
    border: 1px solid #9a9d9c;
    box-shadow: 2px 2px 2px #ced5d4;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    > a {
      display: block;
      background-color: #fff;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
      > div {
        padding: 6px 10px 6px 7px;
        display: table;
        border-radius: 3px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg9.png");
        background-repeat: repeat-x;
        background-position: left top;
        background-color: #41a39b;
        > span {
          pointer-events: none;
        }
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      padding: 6px 10px 6px 7px;
      display: table;
      border-radius: 3px;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/bg9.png");
      background-repeat: repeat-x;
      background-position: left top;
      background-color: #41a39b;
      > span {
        pointer-events: none;
      }
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
        padding-right: 10px;
      }
    }
    &__text {
      @include g-font-spacingKilled(20, 1);
      font-weight: bold;
      width: 100%;
      color: #fff;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {}
      #{$_block}__text {
        padding-right: 23px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg3.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
        img {
          padding: 0;
          margin-right: -3px;
        }
      }
      #{$_block}__text {
        padding-left: 26px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg3.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

}

@if $device == SP {

  .t0-b-sideNavItemWithImg#{$variation1of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    border: 3px solid #ccc;
    background-color: #fff;
    background-image: url("../imgs/t0-b-sideNavItemWithImg/bg.png");
    background-repeat: repeat-y;
    background-position: left top;
    > a {
      display: block;
      padding: 7px 10px 7px 18px;
      text-decoration: none;
      color: #555;
      &:hover {
        opacity: .8;
      }
      > div {
        display: table;
        width: 100%;
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      padding: 7px 10px 7px 18px;
      text-decoration: none;
      box-sizing: border-box;
      color: #555;
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
      }
    }
    &__text {
      @include g-font-spacingKilled(16, 1);
      font-weight: bold;
      width: 100%;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-right: 10px;
      }
      #{$_block}__text {
        padding-right: 10px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg2.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
      }
      #{$_block}__text {
        padding-left: 20px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg2.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #1d8a7e;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px 2px #ced5d4;
    > a {
      display: block;
      background-color: #fff;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
      > div {
        display: table;
        border-radius: 3px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg4.png");
        background-repeat: repeat-x;
        background-position: left top;
        background-color: #e1f1f0;
        padding: 6px 10px 6px 7px;
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      display: table;
      box-sizing: border-box;
      border-radius: 3px;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/bg4.png");
      background-repeat: repeat-x;
      background-position: left top;
      background-color: #e1f1f0;
      padding: 6px 10px 6px 7px;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
        padding-right: 10px;
      }
    }
    &__text {
      @include g-font-spacingKilled(16, 1);
      text-shadow: (-1px) -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
      font-weight: bold;
      width: 100%;
      color: #555;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {}
      #{$_block}__text {
        padding-right: 23px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg5.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
        img {
          padding: 0;
          margin-right: -3px;
        }
      }
      #{$_block}__text {
        padding-left: 26px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg5.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-sideNavItemWithImg#{$variation3of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #9a9d9c;
    box-shadow: 2px 2px 2px #ced5d4;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    > a {
      display: block;
      background-color: #fff;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
      > div {
        padding: 6px 10px 6px 7px;
        display: table;
        border-radius: 3px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg9.png");
        background-repeat: repeat-x;
        background-position: left top;
        background-color: #41a39b;
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }
    > div {
      padding: 6px 10px 6px 7px;
      display: table;
      border-radius: 3px;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/bg9.png");
      background-repeat: repeat-x;
      background-position: left top;
      background-color: #41a39b;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__img {
      img {
        display: block;
        width: 70px;
        height: 70px;
        padding-right: 10px;
      }
    }
    &__text {
      @include g-font-spacingKilled(16, 1);
      font-weight: bold;
      width: 100%;
      color: #fff;
    }
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }
      #{$_block}__img {}
      #{$_block}__text {
        padding-right: 23px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg3.png");
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }
      #{$_block}__img {
        padding-left: 10px;
        img {
          padding: 0;
          margin-right: -3px;
        }
      }
      #{$_block}__text {
        padding-left: 26px;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/bg3.png");
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }
}
