@if $device == PC {

  .t0-b-sideBoxLv2H {
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 10px;
      height: 9px;
      background-image: url("../imgs/t0-b-sideBoxLv2H/bg.png");
      position: relative;
    }
    &__iconPlacer {
      > * {
        display: block;
      }
    }
    h6 {
      @include g-font(18, 1);
      padding-left: 5px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }

}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      width: 10px;
      height: 9px;
      background-image: url("../imgs/t0-b-sideBoxLv2H/bg.png");
      position: relative;
    }
    &__iconPlacer {
      > * {
        display: block;
      }
    }
    h6 {
      @include g-font(16, 1);
      padding-left: 5px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #16998f;
      }
    }
  }
}
