@if $device == PC {

  .t0-b-sideBoxText {
    @include g-font-spacingKilled(16, 2);
    &-bPlacer {
      padding-bottom: 30px;
    }
  }

  .t0-b-sideBoxText2 {
    @include g-font-spacingKilled(16, 2);
    color: #288278;
    &-bPlacer {
      padding-bottom: 30px;
    }
  }
}

@if $device == SP {

  .t0-b-sideBoxText {
    @include g-font-spacingKilled(16, 1);
    &-bPlacer {
      padding-bottom: 30px;
    }
  }

  .t0-b-sideBoxText2 {
    @include g-font-spacingKilled(16, 1);
    color: #288278;
    &-bPlacer {
      padding-bottom: 30px;
    }
  }
}
