@if $device == PC {
  .t0-b-sideBoxList#{$variation1of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;

    .t0-b-sideBox & {
      a {
        text-decoration: underline;
      }
    }
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0 10px;
        padding: 0 0 0 12px;
        background: url("../imgs/t0-b-sideBoxList/bg.png") no-repeat 0 .4em;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo element
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 10px 5px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .t0-b-sideBoxList#{$variation2of3} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    .t0-b-sideBox & {
      a {
        text-decoration: underline;
      }
    }
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0 10px;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideBoxList/bg2.png") no-repeat 0 .4em;
        color: #555;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 10px 5px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .t0-b-sideBoxList#{$variation3of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;

    .t0-b-sideBox & {
      a {
        text-decoration: underline;
      }
    }
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0 10px;
        padding: 0 0 0 12px;
        background: url("../imgs/t0-b-sideBoxList/bg3.png") no-repeat 0 .4em;
        background-position: 0 6px;
        color: #555;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 10px 5px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@if $device == SP {

  .t0-b-sideBoxList#{$variation1of3} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: 5px;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0;
        padding: 0 0 0 12px;
        background: url("../imgs/t0-b-sideBoxList/bg.png") no-repeat 0 .4em;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .t0-b-sideBoxList#{$variation2of3} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: 5px;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideBoxList/bg2.png") no-repeat 0 .4em;
        color: #555;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .t0-b-sideBoxList#{$variation3of3} {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: 5px;
      }
      li {
        @include g-font(16, 1);
        margin: 5px 0 0;
        padding: 0 0 0 12px;
        background: url("../imgs/t0-b-sideBoxList/bg3.png") no-repeat 0 .4em;
        background-position: 0 8px;
        color: #555;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }
      tr {
        border-top: 1px solid $_color_table_border;
        border-bottom: 1px solid #7f8a88;
        border-right: 1px solid $_color_table_border;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > td {
            background-image: none;
          }
        }
      }
      th,
      td {
        @include g-font(14, 1);
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
      td {
        background-color: #fff;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
