@if $device == PC {

  .t0-b-headerMedia#{$variation1of3} {
    line-height: 0;
    margin: 0 auto;
    $_width_content: 1060px;
    width: 100%;
    background-image: url("../imgs/t0-b-headerMedia/bg5.png"), url("../imgs/t0-b-headerMedia/bg5.png"), url("../imgs/t0-b-headerMedia/bg4.png");
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: left top, left bottom, left top;
    padding: 20px 0;
    > div {
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      position: relative;
      width: 1060px;
      > div {
        position: relative;
        width: 100%;
        margin: 0 auto !important;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        width: 1060px;
        height: auto;
        margin: 0 auto;
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }


  .t0-b-headerMedia#{$variation2of3} {
    line-height: 0;
    margin: 0 auto;
    $_width_content: 1060px;
    width: 100%;
    min-width: 1060px;
    max-width: 1400px;
    > div {
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      position: relative;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          line-height: 1.5;
          margin: 0 auto !important;
          width: 100%;
        }
      }
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }

  .t0-b-headerMedia#{$variation3of3} {

    line-height: 0;
    width: 100%;
    padding-top: 15px;
    background-image: url("../imgs/t0-b-headerMedia/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #edfaf9;
    margin: 0 auto;
    $_width_content: 1060px;
    > div {
      position: relative;
      width: 1060px;
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      > div {
        position: relative;
        width: 100%;
        margin: 0 auto !important;
        > * {
          line-height: 1.5;
          width: 100%;
          margin: 0 auto !important;
        }
      }
    }
    > div {
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }

  .t0-b-headerMedia4 {
    line-height: 0;
    margin: 0 auto;
    $_width_content: 1060px;
    width: 100%;
    background-image: url("../imgs/t0-b-headerMedia/bg5.png"), url("../imgs/t0-b-headerMedia/bg5.png"), url("../imgs/t0-b-headerMedia/bg4.png");
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: left top, left bottom, left top;
    padding: 20px 0;
    padding: 0;
    background: none;
    > div {
      width: $_width_content;
      margin: 0 auto;
      text-align: center;
      position: relative;
      width: 1060px;
      > div {
        position: relative;
        width: 100%;
        margin: 0 auto !important;
        > * {
          line-height: 1.5;
          margin: 0 auto !important;
          width: 100%;
        }
      }
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &-bPlacer {
      padding-bottom: 0;
    }
    > div {
      img {
        width: 1060px;
        height: auto;
        margin: 0 auto;
      }
    }
  }

}

@if $device == SP {

  // Youtubeのレスポンシブ対応
  [class^=t0-b-headerMedia] {
    > div > div {
      max-height: 240px;
      iframe,
      object,
      embed {
        max-height: 240px;
        max-width: 100%;
      }
    }
  }

  .t0-b-headerMedia#{$variation1of3},
  .t0-b-headerMedia#{$variation2of3},
  .t0-b-headerMedia#{$variation3of3},
  .t0-b-headerMedia4 {
    > div > div > * {
      line-height: 1.5;
    }
    line-height: 0;
    margin: 0 -15px;
    overflow: auto;
    text-align: center;
    > div {
      width: 100%;
      margin: 0 auto;
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      > div {
        margin: 0 20px 0 10px;
        padding: 0 0 0 10px;
        overflow: auto;
        max-height: 200px;
        width: auto;
        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
        }
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }
}
