@if $device == PC {

  .t0-b-footerUnit-nav {
    white-space: nowrap;
    color: #164a76;
    $_block: &;
    &__item {
      display: inline-block;
      padding-left: 23px;
      background: url("../imgs/t0-b-footerUnit-nav/bg17.png") no-repeat left center;
      vertical-align: middle;
      a {
        display: block;
        color: #164a76;
        text-decoration: none;
        &:hover {
          color: #16998f;
          p {
            border-bottom: 1px solid #16998f;
          }
        }
        p {
          @include g-font-spacingKilled(14, 1);
          padding-bottom: 2px;
          display: block;
          padding: 0 0 2px;
          border-bottom: 1px solid #97a6b8;
        }
      }
      > p {
        @include g-font-spacingKilled(14, 1);
        padding-bottom: 2px;
        display: block;
        padding: 0 0 2px;
        border-bottom: 1px solid #97a6b8;
      }
    }
    #{$_block}__item + #{$_block}__item {
      margin-left: 15px;
    }
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
}

@if $device == SP {

  .t0-b-footerUnit-nav {
    color: #164a76;
    &__item {
      display: table;
      margin: 0 auto;
      margin-top: 20px;
      padding-left: 20px;
      background: url("../imgs/t0-b-footerUnit-nav/bg17.png") no-repeat left center;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: block;
        color: #164a76;
        text-decoration: none;
        p {
          @include g-font-spacingKilled(16, 1);
          padding-bottom: 2px;
          display: block;
          padding: 0 0 2px;
          border-bottom: 1px solid #97a6b8;
        }
      }
      > p {
        @include g-font-spacingKilled(16, 1);
        padding-bottom: 2px;
        display: block;
        padding: 0 0 2px;
        border-bottom: 1px solid #97a6b8;
      }
    }
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
}
