@if $device == PC {

  .t0-b-footerUnit-navB#{$variation1of2} {
    white-space: nowrap;
    color: #fff;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }
      div {
        @include g-font(14, 1);
        background-image: url("../imgs/t0-b-footerUnit-nav/bg5.png"), url("../imgs/t0-b-footerUnit-nav/bg6.png"), url("../imgs/t0-b-footerUnit-nav/bg7.png"), url("../imgs/t0-b-footerUnit-nav/bg8.png"), url("../imgs/t0-b-footerUnit-nav/bg4.png"), url("../imgs/t0-b-footerUnit-nav/bg2.png"), url("../imgs/t0-b-footerUnit-nav/bg2.png"), url("../imgs/t0-b-footerUnit-nav/bg2.png"), url("../imgs/t0-b-footerUnit-nav/bg3.png");
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y, repeat;
        background-position: left top, left bottom, right bottom, right top, left top, left top, left bottom, right top, left top;
        border-radius: 4px;
        box-shadow: 3px 3px #7badcb;
        a {
          display: block;
          color: #fff;
          text-decoration: none;
          &:hover {
            opacity: .8;
          }
          p {
            padding: 10px 16px 9px 32px;
            background: url("../imgs/t0-b-footerUnit-nav/bg.png") no-repeat 10px center;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
      div > p {
        padding: 10px 16px 9px 32px;
        background: url("../imgs/t0-b-footerUnit-nav/bg.png") no-repeat 10px center;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    white-space: nowrap;
    color: #fff;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }
      div {
        @include g-font(14, 1);
        background-image: url("../imgs/t0-b-footerUnit-nav/bg12.png"), url("../imgs/t0-b-footerUnit-nav/bg13.png"), url("../imgs/t0-b-footerUnit-nav/bg14.png"), url("../imgs/t0-b-footerUnit-nav/bg15.png"), url("../imgs/t0-b-footerUnit-nav/bg11.png"), url("../imgs/t0-b-footerUnit-nav/bg9.png"), url("../imgs/t0-b-footerUnit-nav/bg9.png"), url("../imgs/t0-b-footerUnit-nav/bg9.png"), url("../imgs/t0-b-footerUnit-nav/bg10.png");
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y, repeat;
        background-position: left top, left bottom, right bottom, right top, left top, left top, left bottom, right top, left top;
        border-radius: 4px;
        box-shadow: 3px 3px #b2dfdb;
        a {
          display: block;
          color: #fff;
          text-decoration: none;
          &:hover {
            opacity: .8;
          }
          p {
            padding: 10px 16px 9px 32px;
            background: url("../imgs/t0-b-footerUnit-nav/bg16.png") no-repeat 10px center;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
      div > p {
        padding: 10px 16px 9px 32px;
        background: url("../imgs/t0-b-footerUnit-nav/bg16.png") no-repeat 10px center;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

}

@if $device == SP {

  .t0-b-footerUnit-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#265d9b, #265d9b, #255995);
      background-repeat: no-repeat;
      background-size: 20px, 100%;
      background-position: 95% 50%;
      border: 1px solid #13467f;
      border-radius: 5px;
      margin-top: 10px;
      color: #fff;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        p {
          @include g-font(16, 1);
          display: block;
          text-decoration: none;
          margin-right: 10%;
          padding: 12px 10px;
        }
      }
      div > p {
        @include g-font(16, 1);
        display: block;
        text-decoration: none;
        margin-right: 10%;
        padding: 12px 10px;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#16998f, #16998f, #159389);
      background-repeat: no-repeat;
      background-size: 20px, 100%;
      background-position: 95% 50%;
      border: 1px solid #06776e;
      border-radius: 5px;
      margin-top: 10px;
      color: #fff;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }
      a {
        text-decoration: none;
        color: #fff;
        p {
          @include g-font(16, 1);
          display: block;
          text-decoration: none;
          margin-right: 10%;
          padding: 12px 10px;
        }
      }
      div > p {
        @include g-font(16, 1);
        display: block;
        text-decoration: none;
        margin-right: 10%;
        padding: 12px 10px;
      }
    }
    &-bPlacer {
      padding-bottom: 10px;
    }
  }

}
