@if $device == PC {

  .t0-b-footerUnit-siteName,
  .t0-b-footerUnit-siteTitle {
    white-space: nowrap;
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 50px;
        width: auto;
        max-width: 160px;
      }
    }
    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #16998f;
        img {
          opacity: 0.8;
        }
      }
    }
    &__bd-textCol {
      @include g-font-spacingKilled(14, 1);
    }
    &__bd-note {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 10px;
    }
    &__bd-siteName {
      @include g-font-spacingKilled(40, 1);
      font-weight: bold;
    }
    &__bd-note + &__bd-siteName {
      @include g-font-spacingKilled(28, 1);
    }
    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 15px 0 0;
    }
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
}

@if $device == SP {

  .t0-b-footerUnit-siteName,
  .t0-b-footerUnit-siteTitle {
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 40px;
        max-width: 80px;
      }
    }
    a {
      color: #555;
      text-decoration: none;
    }
    &__bd-textCol {
      @include g-font-spacingKilled(14, 1);
    }
    &__bd-note {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 10px;
    }
    &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
      font-weight: bold;
    }
    &__bd-note + &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
    }
    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 10px 0 0;
    }
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
}
