@if $device == PC {
  .t0-b-footerUnit-text {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    white-space: nowrap;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font-spacingKilled(14, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 25px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }
      p {
        @include g-font-spacingKilled(14, 1);
      }
      li {
        @include g-font-spacingKilled(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 25px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font-spacingKilled(14, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    &--has-width {
      white-space: normal;
    }
    table {
      white-space: nowrap;
      width: 100%;
      margin-top: $_blockSpacing;
      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font-spacingKilled(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 15px 10px;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }
      p {
        @include g-font-spacingKilled(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 15px;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-text {
    @include g-rteTableReset;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #555;
    $_color_table_th_bg: #d2f4ee;
    $_color_table_td_typo: #555;
    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font-spacingKilled(16, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font-spacingKilled(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font-spacingKilled(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: 15px;
      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }
      th,
      td {
        @include g-font-spacingKilled(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }
      ul,
      ol {
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }
      p {
        @include g-font-spacingKilled(14, 1);
      }
      th {
        color: $_color_table_td_typo;
        background: $_color_table_th_bg;
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    &-bPlacer {
      padding-bottom: 15px;
    }
  }
}
