@if $device == PC {

  .t0-b-headerCombi {
    $_width_content: 1060px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;
    background-color: #fff;
    padding-top: 5px;
    background-repeat: repeat-x;
    background-position: left top;
    background-image: url("../imgs/t0-b-headerCombi/bg.png");
    &__hd {
      padding: 10px 0 0;
      > p {
        @include g-font(14, 1);
        width: $_width_content;
        margin: 0 auto;
      }
    }
    &__bd {
      padding-bottom: 10px;
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }
    &__col1 {
      width: 100%;
    }
    &__col2 {
      padding-left: $_colSpacing;
    }
    &__col3 {
      padding-left: $_colSpacing;
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }
}

@if $device == SP {

  .t0-b-headerCombi {
    margin: 0 -15px;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;
    padding-top: 10px;
    background-repeat: repeat-x;
    background-position: left top;
    background-image: url("../imgs/t0-b-headerCombi/bg.png");
    &__hd {
      padding: 5px 5px 10px;
      > p {
        @include g-font(14, 1);
        width: 100%;
        margin: 0 auto;
      }
    }
    &__bd {
      padding: 5px 20px 0;
      > div {
        width: 100%;
        margin: 0 auto;
        > div {
          text-align: left;
          vertical-align: middle;
        }
      }
    }
    &__col1 {
      width: 100%;
    }
    &__col2 {
      width: 100%;
    }
    &__col3 {
      width: 100%;
    }
    &-bPlacer {
      padding-bottom: 0;
    }
  }
}
