@if $device == PC {

  .t0-b-layoutSplitter {
    > div {
      display: flex;
      width: 100%;
    }
    &--count-1 &__div {
      flex-basis: 100%;
    }
    &--count-2 &__div {
      flex-basis: (100%/2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-3 &__div {
      flex-basis: (100%/3);
      padding-left: 3.5%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-4 &__div {
      flex-basis: (100%/4);
      padding-left: 3%;
      &:first-child {
        padding-left: 0;
      }
    }
    &--count-5 &__div {
      flex-basis: (100%/5);
      padding-left: 2%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {

  .t0-b-layoutSplitter {
    > div {
      width: 100%;
      > div {
        &:first-child {
          >div {
            padding-top: 0;
          }
        }
      }
    }
  }
}
