@if $device == PC {
  .t0-b-mediaDouble {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }

  .media3col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }

  .media4col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }

  .media5col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }


}

@if $device == SP {


  .t0-b-mediaDouble {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
  .media3col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }

  .media4col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }

  .media5col {
    &-bPlacer {
      padding-bottom: 20px;
    }
  }
}
