$layout: "L25";
$areaContainerWidth: 1060px;
$areaMainWidth: 738px;
$areaSubWidth: 322px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $g-baseBackgroundColor;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  background-color: #e1f3f0;
}

.area-main {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 50px 50px 0;
  position: relative;
  //R比率の際に、画像列の下(z-index: 10)の下にもぐらないよう11を指定
  z-index: 11;
}

.area-footer {
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
  background-image: url("../imgs/area-all/4.png"), url("../imgs/area-all/5.png");
  background-position: left top, left top;
  background-repeat: no-repeat, repeat-y;
  background-size: 100% 96px, 100% 1px;
  padding-top: 160px;
}
