$layout: "N00";
$areaContainerWidth: 980px;
$areaMainWidth: 980px;
$areaSubWidth: 280px;
.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fbfbe6;
  min-width: 1200px;
  overflow: hidden;
}

.area-header {
  background-color: #fbfbe6;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  *zoom: 1;
  background-color: #fbfbe6;
}

.area-container::before,
.area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  box-sizing: border-box;
  width: $areaMainWidth;
  margin: 0 auto;
  padding: 0 0 50px;
  min-height: 100px;
}

.area-sub {
  display: none;
}

.area-footer {
  padding-top: 1px;
  background: none;
  background-color: #ebb7bf;
}
