@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    $_block: &;
    $_fontSize_main: 24;
    $_fontSize_caption: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    color: $_textColor;
    a {
      display: block;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      padding: 12px 20px;
      text-align: center;
      background: url("../imgs/common/navItem001/Banner_bg003_v1f1.png");
      background-repeat: repeat;
      background-position: left center;
      background-size: 8px 1px;
      border: 4px solid #000;
    }

    &__text {
      height: auto;
      min-height: 32px;
      padding: 0 48px;
      font-family: $font-tenorSans;
      background-image: url("../imgs/common/navItem001/Banner_arrow007_v1.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 32px 32px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
    }

    &__main {
      @include g-font($_fontSize_main, $_lineHeight);
      padding: 5px 0;
      color: $_textColor;
      text-shadow: 2px 0 #000, -2px 0 #000, 0 -2px #000, 0 2px #000, 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 1px 2px #000, -1px 2px #000, 1px -2px #000, -1px -2px #000, 2px 1px #000, -2px 1px #000, 2px -1px #000, -2px -1px #000;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;
    $_fontSize_main: 24;
    $_fontSize_caption: 16;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_borderColor: #ccc;
    $_bgColor: #000;
    color: $_textColor;
    a {
      display: block;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      padding: 12px 20px;
      text-align: center;
      background-color: $_bgColor;
      border: 3px solid $_borderColor;
    }

    &__text {
      height: auto;
      min-height: 38px;
      padding: 0 48px;
      font-family: $font-tenorSans;
      background: url("../imgs/common/navItem001/Banner_arrow007_v3.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 38px 38px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
    }

    &__main {
      @include g-font($_fontSize_main, $_lineHeight);
      padding: 5px 0;
      color: $_textColor;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    $_block: &;
    $_fontSize_main: 16;
    $_fontSize_caption: 14;
    $_lineHeight: 1;
    $_textColor: #fff;
    width: 95%;
    margin: 0 auto;
    color: $_textColor;
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      box-sizing: border-box;
      padding: 7px 8px;
      text-align: center;
      background: url("../imgs/common/navItem001/Banner_bg003_v1f1.png");
      background-repeat: repeat;
      background-position: left center;
      background-size: 8px 1px;
      border: 3px solid #000;
    }

    &__text {
      height: auto;
      min-height: 18px;
      padding: 0 20px 0 0;
      font-family: $font-tenorSans;
      background-image: url("../imgs/common/navItem001/Banner_arrow007_v1.svg");
      background-repeat: no-repeat;
      background-position: 99.9% center;
      background-size: 18px 18px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
    }

    &__main {
      @include g-font($_fontSize_main, $_lineHeight);
      padding: 5px 0;
      color: $_textColor;
      text-shadow: 2px 0 #000, -2px 0 #000, 0 -2px #000, 0 2px #000, 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 1px 2px #000, -1px 2px #000, 1px -2px #000, -1px -2px #000, 2px 1px #000, -2px 1px #000, 2px -1px #000, -2px -1px #000;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;
    $_fontSize_main: 16;
    $_fontSize_caption: 14;
    $_lineHeight: 1;
    $_textColor: #fff;
    $_borderColor: #ccc;
    $_bgColor: #000;
    width: 95%;
    margin: 0 auto;
    color: $_textColor;
    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      box-sizing: border-box;
      padding: 7px 9px;
      text-align: center;
      background-color: $_bgColor;
      border: 3px solid $_borderColor;
    }

    &__text {
      height: auto;
      min-height: 20px;
      padding: 0 25px 0 0;
      font-family: $font-tenorSans;
      background: url("../imgs/common/navItem001/Banner_arrow007_v3.svg");
      background-repeat: no-repeat;
      background-position: 99.9% center;
      background-size: 20px 20px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight);
    }

    &__main {
      @include g-font($_fontSize_main, $_lineHeight);
      padding: 5px 0;
      color: $_textColor;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight);
    }
  }
}
