@if $device == PC {

  .t0-b-sideBanner {

    margin: 0 auto;

    img {
      width: 100%;
      vertical-align: top;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {

    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #cabb8c;
    background-color: #fff;

    img {
      width: 100%;
      vertical-align: top;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBanner {

    margin: 0 auto;

    img {
      width: 100%;
      vertical-align: top;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {

    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #cabb8c;
    background-color: #fff;

    img {
      width: 100%;
      vertical-align: top;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

}// SP
