@if $device == PC {

  .t0-b-sideBoxTextStrong {

    $_fontSizePx: 14;
    $_lineHeightType: 2;
    $_textColor: #000;

    @include g-font($_fontSizePx, $_lineHeightType);
    font-weight: bold;
    color: $_textColor;

    a {
      color: $_textColor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxTextStrong {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #000;

    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;

    a {
      color: $_textColor;
      text-decoration: underline;
    }
  }

}// SP
