@if $device == PC {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #444444;
    $_bgHoverColor: #bbbbbb;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
          }
        }
      }
    }

    &__inner {
      padding: 5px 19px 5px 29px;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-timing-function: ease;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #444444;
    $_bgHoverColor: #f0f0f0;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow002_size2_v2.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 19px 3px 29px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .2s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB3 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #947f4d;
    $_bgHoverColor: #bfb294;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
          }
        }
      }
    }

    &__inner {
      padding: 5px 19px 5px 29px;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB4 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #947f4d;
    $_bgHoverColor: #eae5db;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow003_size2_v4.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 19px 3px 29px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB5 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #00366d;
    $_bgHoverColor: #7f9ab6;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
          }
        }
      }
    }

    &__inner {
      padding: 5px 19px 5px 29px;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB6 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #00366d;
    $_bgHoverColor: #dbe3eb;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow004_size2_v6.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 19px 3px 29px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB7 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #770000;
    $_bgHoverColor: #ca9b9b;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: background-color .5s ease;
        &:hover {
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
          }
        }
      }
    }

    &__inner {
      padding: 5px 19px 5px 29px;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB8 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #770000;
    $_bgHoverColor: #f1e5e5;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          &:after {
            // 矢印アニメーション
            left: 15px;
            background-image: url("../imgs/common/navItem001/Banner_arrow005_size2_v8.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 19px 3px 29px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
      
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB9 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #000;
    $_hoverColor: #fff;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;

      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          border: 2px solid $_textColor;
          background-color: $_textColor;
        }
      }
    }

    &__inner {
      padding: 3px 10px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-contact-navB10 {

    $_block: &;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #000;
    $_hoverColor: #fff;

    white-space: nowrap;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;

      #{$_block}__inner {
        transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        &:hover {
          color: $_hoverColor;
          border: 2px solid $_textColor;
          background-color: $_textColor;
        }
      }
    }

    &__inner {
      padding: 3px 10px;
      border-radius: 20px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 12px;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
      display: table;
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

}// PC


@if $device == SP {

  .t0-b-headerUnit-contact-navB#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #444444;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #444444;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      border-radius:  30px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow002_size4_v2.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #947f4d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #947f4d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      border-radius:  30px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow003_size4_v4.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB5 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #00366d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB6 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #00366d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      border-radius:  30px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB7 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #770000;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB8 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #770000;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 12px 30px 12px 15px;
      border-radius:  30px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        right: 10px;
        display: block;
        width: 20px *.5;
        height: 30px *.5;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size4_v1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px *.5 30px *.5;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-headerUnit-contact-navB9 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #000;
    $_bgColor: #fff;
    // 背景白のためボーダー追加
    border: 2px solid $_textColor;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px *.5 10px;
      background-color: $_bgColor;
    }
  }

  .t0-b-headerUnit-contact-navB10 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #000;
    $_bgColor: #fff;
    // 背景白のためボーダー追加
    border: 2px solid $_textColor;
    // ボーダー追加のため、radiusも追加
    border-radius: 30px;


    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    
    width: 95%;
    margin: 0 auto;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 24px *.5 10px;
      border-radius: 30px;
      background-color: $_bgColor;
    }
  }

}// SP
