@if $device == PC {
  .b-breadcrumbs {
    $_fontSize: 15;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $g-baseHoverColor2;
      }
    }

    em {
      font-style: normal;
    }

    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    &__item {
      &:first-child::before {
        content: "";
        vertical-align: middle;
        width: 29px * .5;
        height: 28px * .5;
        background-size: contain;
        margin: 0 8px 4px;
        background-image: url("../imgs/breadcrumbs/01/house.svg");
        background-repeat: no-repeat;
      }
      &::before {
        content: "";
        vertical-align: middle;
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px 3px;
        background-image: url("../imgs/breadcrumbs/01/01.svg");
        background-repeat: no-repeat;
      }
    }

    &--inHeader {
      margin: 15px 0;
      > div {
        width: 1100px;
      }
    }

    &--inMain {
      margin-bottom: 15px;
      > div {
        width: 100%;
      }
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }

  .b-breadcrumbs2 {
    $_fontSize: 15;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $g-baseHoverColor2;
      }
    }

    em {
      font-style: normal;
    }

    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    .b-breadcrumbs__item {
      &::before {
        content: "";
        vertical-align: middle;
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px 3px;
        background-image: url("../imgs/breadcrumbs/01/01.svg");
        background-repeat: no-repeat;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    &--inHeader {
      margin: 15px 0;
      > div {
        width: 1100px;
      }
    }

    &--inMain {
      margin-bottom: 15px;
      > div {
        width: 100%;
      }
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }

  .b-breadcrumbs3 {
    $_fontSize: 14;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    em {
      font-style: normal;
    }

    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    .b-breadcrumbs__item:first-child::before {
      content: "";
      vertical-align: middle;
      width: 29px * .5;
      height: 28px * .5;
      background-size: contain;
      margin: 0 8px 4px;
      background-image: url("../imgs/breadcrumbs/03/house.svg");
      background-repeat: no-repeat;
    }

    .b-breadcrumbs__item {
      &::before {
        content: "";
        vertical-align: middle;
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px 3px;
        background-image: url("../imgs/breadcrumbs/03/01.svg");
        background-repeat: no-repeat;
      }
    }

    &--inHeader {
      margin: 15px 0;
      > div {
        width: 1100px;
      }
    }

    &--inMain {
      margin-bottom: 15px;
      > div {
        width: 100%;
      }
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }
}

@if $device == SP {
  .b-breadcrumbs {
    $_fontSize: 14;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    &__item {
      &:first-child::before {
        content: "";
        vertical-align: middle;
        width: 29px * .5;
        height: 28px * .5;
        background-size: contain;
        margin: 0 5px 5px;
        background-image: url("../imgs/breadcrumbs/01/house.svg");
        background-repeat: no-repeat;
      }
    }

    &__item {
      vertical-align: middle;
      &::before {
        content: "";
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px;
        background-image: url("../imgs/breadcrumbs/01/01.svg");
        background-repeat: no-repeat;
      }
    }

    em {
      font-style: normal;
    }

    &--inHeader > div {
      width: 100%;
    }

    &--inMain > div {
      width: 100%;
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }

  .b-breadcrumbs2 {
    $_fontSize: 14;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    .b-breadcrumbs__item {
      &::before {
        content: "";
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px;
        background-image: url("../imgs/breadcrumbs/02/01.svg");
        background-repeat: no-repeat;
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    em {
      font-style: normal;
    }

    &--inHeader > div {
      width: 100%;
    }

    &--inMain > div {
      width: 100%;
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }

  .b-breadcrumbs3 {
    $_fontSize: 14;
    $_lineHeight: 0;
    color: $g-baseLinkColor;
    text-align: right;
    > div {
      width: 100%;
      margin: 0 auto;
      @include g-font($_fontSize, $_lineHeight);
    }

    .b-breadcrumbs__item {
      &:first-child::before {
        content: "";
        vertical-align: middle;
        width: 29px * .5;
        height: 28px * .5;
        background-size: contain;
        margin: 0 5px 5px;
        background-image: url("../imgs/breadcrumbs/03/house.svg");
        background-repeat: no-repeat;
      }
    }

    .b-breadcrumbs__item {
      vertical-align: middle;
      &::before {
        content: "";
        display: inline-block;
        width: 8px * .9;
        height: 12px * .9;
        background-size: contain;
        margin: 0 8px;
        background-image: url("../imgs/breadcrumbs/03/01.svg");
        background-repeat: no-repeat;
      }
    }

    em {
      font-style: normal;
    }

    &--inHeader > div {
      width: 100%;
    }

    &--inMain > div {
      width: 100%;
    }

    &--align-l > div {
      text-align: left;
    }

    &--align-c > div {
      text-align: center;
    }

    &--align-r > div {
      text-align: right;
    }
  }
}
