@if $device == PC {
  .t0-b-navList {
    @include RTE;
    ul {
      padding: 0;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/navList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }

  .t0-b-navList2 {
    @include RTE;
    ul {
      padding: 0;
      li {
        @include g-font(18);
        min-height: 16px;
        padding-left: 16px;
        margin: 10px 0 0;
        list-style: none;
        background: url("../imgs/navList/02/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 8px;
      }
    }
  }

  .t0-b-navList3 {
    @include RTE;
    ul {
      padding: 0;
      li {
        @include g-font(18);
        min-height: 33px * .7;
        padding-left: 32px;
        margin: 12px 0 0;
        list-style: none;
        background: url("../imgs/navList/03/01.svg");
        background-repeat: no-repeat;
        background-size: 37px * .7 33px * .7;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navList {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/navList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }

  .t0-b-navList2 {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        @include g-font(18);
        min-height: 16px;
        padding-left: 16px;
        margin: 10px 0 0;
        list-style: none;
        background: url("../imgs/navList/02/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 8px;
      }
    }
  }

  .t0-b-navList3 {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        @include g-font(18);
        min-height: 33px * .7;
        padding-left: 32px;
        margin: 12px 0 0;
        list-style: none;
        background: url("../imgs/navList/03/01.svg");
        background-repeat: no-repeat;
        background-size: 37px * .7 33px * .7;
      }
    }
  }
}
