@if $device == PC {
  .t0-b-orderedList {
    $_fontSize: 17;
    $_lineHeight: 1;
    li {
      display: table;
    }

    &__num {
      display: table-cell;
      min-width: 29px;
      height: 29px;
      background: $orderedList_BGColor;
      @include g-font($_fontSize, 0);
      line-height: $_lineHeight;
      color: $orderedList2_textColor;
      text-align: center;
      vertical-align: middle;
      a {
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &__text {
      @include g-font($_fontSize, $_lineHeight);
      display: table-cell;
      vertical-align: top;
      padding: 4px 0 0 10px;
      color: $orderedList_textColor;
      a {
        text-decoration: underline;
        &:hover {
          color: $g-baseHoverColor2;
        }
      }
    }
  }

  .t0-b-orderedList2 {
    $_fontSize: 17;
    $_lineHeight: 1;
    li {
      display: table;
    }

    &__num {
      display: table-cell;
      min-width: 29px;
      height: 29px;
      border-radius: 5px 2px;
      background: $orderedList2_BGColor;
      @include g-font($_fontSize, 0);
      line-height: $_lineHeight;
      color: $orderedList2_textColor;
      text-align: center;
      vertical-align: middle;
      a {
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &__text {
      @include g-font($_fontSize, $_lineHeight);
      display: table-cell;
      vertical-align: top;
      padding: 4px 0 0 10px;
      color: $orderedList_textColor;
      a {
        text-decoration: underline;
        &:hover {
          color: $orderedList2_hoverColor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-orderedList {
    $_fontSize: 17;
    $_lineHeight: 1;
    li {
      display: table;
    }

    a {
      text-decoration: underline;
    }

    &__num {
      display: table-cell;
      min-width: 29px;
      height: 29px;
      background: $orderedList_BGColor;
      @include g-font($_fontSize, 0);
      line-height: $_lineHeight;
      color: $orderedList2_textColor;
      text-align: center;
      vertical-align: middle;
    }

    &__text {
      @include g-font($_fontSize, $_lineHeight);
      display: table-cell;
      vertical-align: top;
      padding: 4px 0 0 10px;
      color: $orderedList_textColor;
    }
  }

  .t0-b-orderedList2 {
    $_fontSize: 17;
    $_lineHeight: 1;
    li {
      display: table;
    }

    a {
      text-decoration: underline;
    }

    &__num {
      display: table-cell;
      min-width: 29px;
      height: 29px;
      border-radius: 5px 2px;
      background: $orderedList2_BGColor;
      @include g-font($_fontSize, 0);
      line-height: $_lineHeight;
      color: $orderedList2_textColor;
      text-align: center;
      vertical-align: middle;
    }

    &__text {
      @include g-font($_fontSize, $_lineHeight);
      display: table-cell;
      vertical-align: top;
      padding: 4px 0 0 10px;
      color: $orderedList_textColor;
    }
  }
}
