@if $device == PC {
  .t0-b-labeledList {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table {
      border-collapse: collapse;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        text-align: center;
        font-weight: bold;
        color: $labeledList_textColor;
      }
    }

    td {
      padding: 0 0 0 10px;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList2 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      font-size: 0;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: $labeledList2_textColor;
      }
    }

    td {
      padding: 3px 0 0;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList3 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table {
      border-collapse: collapse;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        text-align: center;
        padding: 0 2px;
        color: $labeledList3_textColor;
        background: linear-gradient(transparent 50%, $labeledList3_BGColor 0%);
      }
    }

    td {
      padding: 0 0 0 10px;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList4 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      font-size: 0;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $labeledList4_textColor;
        background: linear-gradient(transparent 50%, $labeledList4_BGColor 0%);
      }
    }

    td {
      padding: 5px 2px 0;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList5 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table {
      border-collapse: collapse;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        text-align: center;
        padding: 0 2px;
        color: $labeledList5_textColor;
        background: linear-gradient(transparent 50%, $labeledList5_BGColor 0%);
      }
    }

    td {
      padding: 0 0 0 10px;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList6 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      font-size: 0;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $labeledList6_textColor;
        background: linear-gradient(transparent 50%, $labeledList6_BGColor 0%);
      }
    }

    td {
      padding: 5px 2px 0;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList7 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table {
      border-collapse: collapse;
    }

    th {
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_th);
        text-align: center;
        font-weight: bold;
        color: $labeledList7_textColor;
        border: 2px solid $labeledList7_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
      }
    }

    td {
      padding: 1px 0 0 10px;
      text-align: left;
      vertical-align: middle;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }

  .t0-b-labeledList8 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
      font-size: 0;
    }

    th {
      text-align: left;
      vertical-align: top;
      padding: 0;
      div {
        @include g-font($_fontSize_th);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: $labeledList8_textColor;
        border: 2px solid $labeledList8_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
      }
    }

    td {
      padding: 8px 3px 0;
      text-align: left;
      vertical-align: top;
      div {
        @include g-font($_fontSize_td);
      }
    }
  }
}

@if $device == SP {
  .t0-b-labeledList {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: $labeledList_textColor;
    }

    td div {
      @include g-font($_fontSize_td);
    }
  }

  .t0-b-labeledList2 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: $labeledList_textColor;
    }

    td div {
      @include g-font($_fontSize_td);
    }
  }

  .t0-b-labeledList3 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      padding: 0 2px;
      color: $labeledList3_textColor;
      background: linear-gradient(transparent 50%, $labeledList3_BGColor 0%);
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 0 2px;
    }
  }

  .t0-b-labeledList4 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      padding: 0 2px;
      color: $labeledList4_textColor;
      background: linear-gradient(transparent 50%, $labeledList4_BGColor 0%);
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 0 2px;
    }
  }

  .t0-b-labeledList5 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      padding: 0 2px;
      color: $labeledList5_textColor;
      background: linear-gradient(transparent 50%, $labeledList5_BGColor 0%);
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 0 2px;
    }
  }

  .t0-b-labeledList6 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      padding: 0 2px;
      color: $labeledList6_textColor;
      background: linear-gradient(transparent 50%, $labeledList6_BGColor 0%);
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 0 2px;
    }
  }

  .t0-b-labeledList7 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: $labeledList7_textColor;
      border: 2px solid $labeledList7_borderColor;
      border-radius: 20px;
      padding: 0 10px;
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 5px 3px 0;
    }
  }

  .t0-b-labeledList8 {
    $_fontSize_th: 15;
    $_fontSize_td: 15;
    table,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
    }

    th div {
      @include g-font($_fontSize_th);
      display: inline-block;
      text-align: center;
      font-weight: bold;
      color: $labeledList8_textColor;
      border: 2px solid $labeledList8_borderColor;
      border-radius: 20px;
      padding: 0 10px;
    }

    td div {
      @include g-font($_fontSize_td);
      padding: 5px 3px 0;
    }
  }
}
