@if $device == PC {
  .t0-b-catchText {
    $_fontSize: 26;
    $_fontSize_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;

    &__inner {
      @include g-font-layout($_fontSize, 1, $layout);
      position: relative;
      display: inline-block;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      min-height: 110px;
      padding: 0 130px;
      margin: 0 auto;
      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 120px;
        height: 90%;
        min-height: 220px;
        min-height: 110px;
        content: "";
        background: url("../imgs/catchText/01/left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
      }

      &::after {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 120px;
        height: 90%;
        min-height: 220px;
        min-height: 110px;
        content: "";
        background: url("../imgs/catchText/01/right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
      }
    }

    &__text-sub {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-main {
        @include g-font-layout($_fontSize, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }
  }

  .t0-b-catchText2 {
    $_fontSize: 26;
    $_fontSize_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    a {
      text-decoration: underline;
    }

    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-main {
      @include g-font-layout($_fontSize, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }
  }

  .t0-b-catchText3 {
    $_fontSize: 26;
    $_fontSize_sub: 20;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    a {
      text-decoration: underline;
    }

    &__inner {
      //
    }

    &__text-sub {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-bottom: 10px;
    }

    &__text-main {
      @include g-font-layout($_fontSize, $_lineHeight_main, $layout);
    }

    &__text-sub3 {
      @include g-font-layout($_fontSize_sub, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font-layout($_fontSize_sub - 2, $_lineHeight_sub, $layout);
      padding-top: 10px;
    }
  }
}

@if $device == SP {
  .t0-b-catchText {
    $_fontSize: 18;
    $_fontSize_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    a {
      text-decoration: underline;
    }

    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-main {
      @include g-font($_fontSize, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-top: 10px;
    }
  }

  .t0-b-catchText2 {
    $_fontSize: 18;
    $_fontSize_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    a {
      text-decoration: underline;
    }

    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-main {
      @include g-font($_fontSize, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-top: 10px;
    }
  }

  .t0-b-catchText3 {
    $_fontSize: 18;
    $_fontSize_sub: 14;
    $_lineHeight_main: 1;
    $_lineHeight_sub: 1;
    a {
      text-decoration: underline;
    }

    &__inner {
      //
    }

    &__text-sub {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-sub2 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-bottom: 10px;
    }

    &__text-main {
      @include g-font($_fontSize, $_lineHeight_main);
    }

    &__text-sub3 {
      @include g-font($_fontSize_sub, $_lineHeight_sub);
      padding-top: 10px;
    }

    &__text-sub4 {
      @include g-font($_fontSize_sub - 2, $_lineHeight_sub);
      padding-top: 10px;
    }
  }
}
