@if $device == PC {
  .t0-b-lv1H-mainH {
    $_fontSize_bd: 42;
    $_fontSize_caption: 20;
    text-align: center;
    color: $lv1H-mainH_textColor;

    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH2 {
    $_fontSize_bd: 38;
    $_fontSize_caption: 20;
    color: $lv1H-mainH2_textColor;
    text-shadow: 1px 1px 0 $lv1H-mainH2_textShadowColor, -1px -1px 0 $lv1H-mainH2_textShadowColor, 0 1px 0 $lv1H-mainH2_textShadowColor, 0 -1px 0 $lv1H-mainH2_textShadowColor, -1px 0 0 $lv1H-mainH2_textShadowColor, 1px 0 0 $lv1H-mainH2_textShadowColor;
    min-height: 110px;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 10px;
    }

    h1 {
      @include g-font-layout($_fontSize_bd, 1, $layout);
      position: relative;
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        background: url("../imgs/lv2H/02/01.png");
        background-size: contain;
        width: 110px;
        height: 110px;
        z-index: -1;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &--align-r {
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .t0-b-lv1H-mainH3 {
    $_fontSize_bd: 38;
    $_fontSize_caption: 20;
    color: $lv1H-mainH3_textColor;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 10px;
    }

    h1 {
      @include g-font-layout($_fontSize_bd, 1, $layout);
      position: relative;
      display: inline-block;
      vertical-align: bottom;
      min-height: 38px;
      padding: 0 70px;
      margin: 0 auto;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 70px;
        height: 100%;
        max-height: 100px;
        min-height: 38px;
        content: "";
        background: url("../imgs/lv1H-mainH/03/01.svg");
        background-repeat: no-repeat;
        // background-position: left bottom;
        background-size: contain;
      }

      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        width: 70px;
        height: 100%;
        max-height: 100px;
        min-height: 38px;
        content: "";
        background: url("../imgs/lv1H-mainH/03/01.svg");
        background-repeat: no-repeat;
        // background-position: left bottom;
        background-size: contain;
        transform: scale(-1, 1);
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      h1 {
        margin-left: 0;
      }
    }


    &--align-r {
      text-align: right;
      align-items: flex-end;
      justify-content: flex-end;
      h1 {
        margin-right: 0;
      }
    }
  }

  .t0-b-lv1H-mainH4 {
    $_fontSize_bd: 34;
    $_fontSize_caption: 18;
    text-align: center;
    color: $lv1H-mainH4_textColor;
    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-mainH {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH2 {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
