@if $device == PC {
  .t0-b-lv3H {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    text-align: center;
    color: $lv3H_textColor;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
    }

    &--size-1 {
      h3 {
        @include g-font-layout($_fontSize_s, 1, $layout);
      }
    }

    &--size-3 {
      h3 {
        @include g-font-layout($_fontSize_l, 1, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv3H2 {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    color: $lv3H2_textColor;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        background: url("../imgs/lv3H/02/01.png");
        background-size: contain;
        width: 90px;
        height: 90px;
        z-index: -1;
      }
    }

    &--size-1 {
      h3 {
        @include g-font-layout($_fontSize_s, 1, $layout);
      }
    }

    &--size-3 {
      h3 {
        @include g-font-layout($_fontSize_l, 1, $layout);
      }
    }

    &--align-l {
      justify-content: flex-start;
    }

    &--align-r {
      justify-content: flex-end;
    }
  }

  .t0-b-lv3H3 {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    color: $lv3H3_textColor;
    display: flex;
    justify-content: center;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
      position: relative;
      padding: 0 15px;
      margin: 0 20px;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 80%;
        max-height: 40px;
        border-radius: 1px;
        background: $lv3H3_BGColor;
        bottom: 3px;
        left: -10px;
        transform: rotate(-30deg);
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 80%;
        max-height: 40px;
        border-radius: 1px;
        background: $lv3H3_BGColor;
        bottom: 3px;
        right: -10px;
        transform: rotate(30deg);
      }
    }

    &--size-1 {
      h3 {
        @include g-font-layout($_fontSize_s, 1, $layout);
      }
    }

    &--size-3 {
      h3 {
        @include g-font-layout($_fontSize_l, 1, $layout);
      }
    }

    &--align-l {
      justify-content: flex-start;
    }

    &--align-r {
      justify-content: flex-end;
    }
  }

  .t0-b-lv3H4 {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_textlinePadding: 25px;
    text-align: center;
    overflow: hidden;
    color: $lv3H4_textColor;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
      position: relative;
      display: inline-block;
      max-width: 90%;
      padding: 0 $_textlinePadding;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        width: 100vw;
        border-top: 1px solid $lv3H4_borderColor;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 100vw;
        border-top: 1px solid $lv3H4_borderColor;
      }
    }

    &--size-1 {
      h3 {
        @include g-font-layout($_fontSize_s, 1, $layout);
      }
    }

    &--size-3 {
      h3 {
        @include g-font-layout($_fontSize_l, 1, $layout);
      }
    }

    &--align-l {
      text-align: left;
      h3 {
        padding-left: 0;
      }
    }

    &--align-r {
      text-align: right;
      h3 {
        padding-right: 0;
      }
    }
  }

  .t0-b-lv3H5 {
    $_block: &;
    $_fontSize: 26;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    border-bottom: 2px solid $lv3H5_borderColor;
    padding: 0 5px 8px;
    text-align: center;
    color: $lv3H5_textColor;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
    }

    &--size-1 {
      h3 {
        @include g-font-layout($_fontSize_s, 1, $layout);
      }
    }

    &--size-3 {
      h3 {
        @include g-font-layout($_fontSize_l, 1, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv3H {
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    text-align: center;
    color: $lv3H_textColor;
    h3 {
      @include g-font($_fontSize);
    }

    &--align-l {
      text-align: left;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv3H2 {
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    color: $lv3H2_textColor;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      @include g-font-layout($_fontSize, 1, $layout);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        background: url("../imgs/lv3H/02/01.png");
        background-size: contain;
        width: 70px;
        height: 70px;
        z-index: -1;
      }
    }

    &--align-l {
      justify-content: flex-start;
    }

    &--align-r {
      justify-content: flex-end;
    }
  }

  .t0-b-lv3H3 {
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    color: $lv3H_textColor;
    display: flex;
    justify-content: center;
    h3 {
      @include g-font($_fontSize);
      position: relative;
      padding: 0 15px;
      margin: 0 20px;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 70%;
        max-height: 30px;
        border-radius: 1px;
        background: $lv3H3_BGColor;
        bottom: 3px;
        left: -10px;
        transform: rotate(-30deg);
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 70%;
        max-height: 30px;
        border-radius: 1px;
        background: $lv3H3_BGColor;
        bottom: 3px;
        right: -10px;
        transform: rotate(30deg);
      }
    }

    &--align-l {
      justify-content: flex-start;
    }

    &--align-r {
      justify-content: flex-end;
    }
  }

  .t0-b-lv3H4 {
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_textlinePadding: 20px;
    text-align: center;
    overflow: hidden;
    color: $lv3H4_textColor;
    h3 {
      @include g-font($_fontSize);
      position: relative;
      display: inline-block;
      max-width: 90%;
      padding: 0 $_textlinePadding;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        width: 100vw;
        border-top: 2px solid $lv3H4_borderColor;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 100vw;
        border-top: 2px solid $lv3H4_borderColor;
      }
    }

    &--align-l {
      text-align: left;
      h3 {
        padding-left: 0;
      }
    }

    &--align-r {
      text-align: right;
      h3 {
        padding-right: 0;
      }
    }
  }

  .t0-b-lv3H5 {
    $_fontSize: 20;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    border-bottom: 2px solid $lv3H5_borderColor;
    padding: 0 5px 5px;
    text-align: center;
    color: $lv3H5_textColor;
    h3 {
      @include g-font($_fontSize);
    }

    &--align-l {
      text-align: left;
    }

    &--align-r {
      text-align: right;
    }
  }
}
