@if $device == PC {
  .t0-b-lv4H-numIcon {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    > div {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: block;
      width: 56px;
      height: 56px;
      background-size: contain;
      background-image: url("https://placehold.jp/66x66.png");
      margin-right: 14px;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        //
      }

      #{$_block}__icon {
        width: 45px;
        height: 45px;
        margin-right: 11px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-bottom: 2px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-top: 2px;
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        //
      }

      #{$_block}__icon {
        width: 67px;
        height: 67px;
        margin-right: 17px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-bottom: 4px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-top: 4px;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H-numIcon2 {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    > div {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: block;
      width: 56px;
      height: 56px;
      background-size: contain;
      background-image: url("https://placehold.jp/66x66.png");
      margin-right: 14px;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        //
      }

      #{$_block}__icon {
        width: 45px;
        height: 45px;
        margin-right: 11px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-bottom: 2px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
        padding-top: 2px;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        //
      }

      #{$_block}__icon {
        width: 67px;
        height: 67px;
        margin-right: 17px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-bottom: 4px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
        padding-top: 4px;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-numIcon {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    > div {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: block;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-image: url("https://placehold.jp/66x66.png");
      margin-right: 10px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H-numIcon2 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    > div {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: block;
      width: 40px;
      height: 40px;
      background-size: contain;
      background-image: url("https://placehold.jp/66x66.png");
      margin-right: 10px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
