@if $device == PC {
  .t0-b-line {
    height: 3px;
    background-image: url("../imgs/line/01.svg");
    hr {
      display: none;
    }
  }
}

@if $device == SP {
  .t0-b-line {
    height: 3px;
    background-image: url("../imgs/line/01.svg");
    hr {
      display: none;
    }
  }
}
