@if $device == PC {
  .t0-b-lv4H-voiceIcon {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-voiceIcon_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $lv4H-voiceIcon_hoverColor;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 8px;
    }

    &__icon {
      display: inline-block;
      width: 123px * .5;
      height: 106px * .5;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/lv4H-voiceIcon/01/01.svg");
      margin-top: 17px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
      padding-top: 4px;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 6px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 123px * .4;
        height: 106px * .4;
        margin-top: 14px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 123px * .6;
        height: 106px * .6;
        margin-top: 18px;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon2 {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-voiceIcon2_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 130px * .5;
      height: 102px * .5;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/lv4H-voiceIcon/02/01.svg");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 8px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 130px * .4;
        height: 102px * .4;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 12px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 130px * .6;
        height: 102px * .6;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon3 {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-voiceIcon3_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $lv4H-voiceIcon3_hoverColor;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 128px * .5;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/lv4H-voiceIcon/03/01.svg");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 8px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 128px * .4;
        height: 128px * .4;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 12px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 128px * .6;
        height: 128px * .6;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon4 {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-voiceIcon4_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $lv4H-voiceIcon4_hoverColor;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 84px * .5;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/lv4H-voiceIcon/04/01.svg");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 8px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 128px * .4;
        height: 84px * .4;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 12px;
      }

      #{$_block}__icon {
        display: inline-block;
        width: 128px * .6;
        height: 84px * .6;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-voiceIcon {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-caseIcon_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 8px;
    }

    &__icon {
      display: inline-block;
      width: 123px * .5;
      height: 106px * .5;
      background-size: contain;
      vertical-align: middle;
      background-image: url("../imgs/lv4H-voiceIcon/01/01.svg");
      background-repeat: no-repeat;
      margin-top: 17px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
      padding-top: 4px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon2 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-caseIcon2_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 130px * .5;
      height: 102px * .5;
      background-size: contain;
      vertical-align: middle;
      background-image: url("../imgs/lv4H-caseIcon/02/01.svg");
      background-repeat: no-repeat;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon3 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-caseIcon3_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 128px * .5;
      background-size: contain;
      vertical-align: middle;
      background-image: url("../imgs/lv4H-caseIcon/03/01.svg");
      background-repeat: no-repeat;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-voiceIcon4 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-caseIcon4_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 84px * .5;
      background-size: contain;
      vertical-align: middle;
      background-image: url("../imgs/lv4H-voiceIcon/04/01.svg");
      background-repeat: no-repeat;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
