@if $device == PC {
  .t0-b-lv4H-qIcon {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-qIcon_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $lv4H-qIcon_hoverColor;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 6px;
    }

    &__icon {
      display: inline-block;
      width: 53.281px * .45;
      height: 62.81px * .45;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../imgs/lv4H-qIcon/01/01.svg");
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 5px;
      }

      #{$_block}__icon {
        width: 53.281px * .35;
        height: 62.81px * .35;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 8px;
      }

      #{$_block}__icon {
        width: 53.281px * .55;
        height: 62.81px * .55;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-qIcon2 {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    color: $lv4H-qIcon2_textColor;
    > div {
      display: table;
    }

    a {
      &:hover {
        color: $lv4H-qIcon2_hoverColor;
      }
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 6px;
    }

    &__icon {
      display: inline-block;
      width: 53.281px * .45;
      height: 62.81px * .45;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../imgs/lv4H-qIcon/02/01.svg");
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 5px;
      }

      #{$_block}__icon {
        width: 53.281px * .35;
        height: 62.81px * .35;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 8px;
      }

      #{$_block}__icon {
        width: 53.281px * .55;
        height: 62.81px * .55;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-qIcon {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-qIcon_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 6px;
    }

    &__icon {
      display: inline-block;
      width: 53.281px * .45;
      height: 62.81px * .45;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../imgs/lv4H-qIcon/01/01.svg");
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-qIcon2 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    color: $lv4H-qIcon2_textColor;
    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 6px;
    }

    &__icon {
      display: inline-block;
      width: 53.281px * .45;
      height: 62.81px * .45;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../imgs/lv4H-qIcon/02/01.svg");
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
      padding-top: 3px;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
