@if $device == PC {
  .t0-b-lv4H-num2Icon {
    $_block: &;
    $_fontSize_h: 24;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 102px * .46;
      height: 86px * .46;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/01/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 102px * .36;
        height: 86px * .36;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 12px;
      }

      #{$_block}__icon {
        width: 102px * .56;
        height: 86px * .56;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon2 {
    $_block: &;
    $_fontSize_h: 24;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 111px * .5;
      height: 65px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/02/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    a {
      &:hover {
        color: $lv4H-num2Icon_hoverColor2;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 111px * .4;
        height: 65px * .4;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 111px * .6;
        height: 65px * .6;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon3 {
    $_block: &;
    $_fontSize_h: 24;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 88px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/03/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    a {
      &:hover {
        color: $lv4H-num2Icon_hoverColor3;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 128px * .4;
        height: 88px * .4;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 128px * .6;
        height: 88px * .6;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon4 {
    $_block: &;
    $_fontSize_h: 24;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff + 2;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff - 2;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 12px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 86px * .5;
      height: 86px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/04/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font-layout($_fontSize_h, 1, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, 1, $layout);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, 1, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding-right: 10px;
      }

      #{$_block}__icon {
        width: 86px * .4;
        height: 86px * .4;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, 1, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding-right: 14px;
      }

      #{$_block}__icon {
        width: 86px * .6;
        height: 86px * .6;
        background-size: contain;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, 1, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, 1, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, 1, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-num2Icon {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
    }

    &__icon {
      display: inline-block;
      width: 102px * .46;
      height: 86px * .46;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/01/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon2 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
    }

    &__icon {
      display: inline-block;
      width: 111px * .5;
      height: 65px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/02/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon3 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
    }

    &__icon {
      display: inline-block;
      width: 128px * .5;
      height: 88px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/03/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-num2Icon4 {
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    line-height: 0;
    display: table;
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 12px;
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption);
    }

    &__h {
      @include g-font($_fontSize_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption);
    }

    &__icon {
      display: inline-block;
      width: 86px * .5;
      height: 86px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      @for $_i from 1 through 10 {
        &--number-#{$_i} {
          $_src: "../imgs/lv4H-num2Icon/04/#{pad-zeros($_i, 2)}.svg";
          background-image: url($_src);
        }
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
