@if $device == PC {
  .t0-b-arrow {
    height: 38px;
    background: url("../imgs/arrow/01/01.svg") no-repeat center 0;
    background-size: auto 38px;
  }
}

@if $device == SP {
  .t0-b-arrow {
    height: 19px;
    background: url("../imgs/arrow/01/01.svg") no-repeat center 0;
    background-size: auto 19px;
  }
}
