@if $device == PC {
  .t0-b-sideNavBItem {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem_textColor;
      background: $sideNavBItem_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem2 {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem2_textColor;
      background: $sideNavBItem2_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem2_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem3 {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem3_textColor;
      background: $sideNavBItem3_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem3_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem4 {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem4_textColor;
      background: $sideNavBItem4_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem4_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem5 {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem5_textColor;
      background: $sideNavBItem5_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem5_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem6 {
    $_block: &;
    &__inner {
      @include g-font(14);
      padding: 10px;
      color: $sideNavBItem6_textColor;
      background: $sideNavBItem6_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover{
      #{$_block}__inner {
        background: $sideNavBItem6_BGColor2;
      }
    }
  }

  .t0-b-sideNavBItem7 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem7_textColor;
      border: 2px solid $navBItem7_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem7_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem7_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }

  .t0-b-sideNavBItem8 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem8_textColor;
      border: 2px solid $navBItem8_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem8_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem8_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }

  .t0-b-sideNavBItem9 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem9_textColor;
      border: 2px solid $navBItem9_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem9_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem9_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }

  .t0-b-sideNavBItem10 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem10_textColor;
      border: 2px solid $navBItem10_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem10_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem10_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }

  .t0-b-sideNavBItem11 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem11_textColor;
      border: 2px solid $navBItem11_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem11_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem11_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }

  .t0-b-sideNavBItem12 {
    $_block: &;
    &__inner {
      @include g-font(14);
      position: relative;
      padding: 8px 10px;
      color: $navBItem12_textColor;
      border: 2px solid $navBItem12_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: $navBItem12_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover{
      #{$_block}__inner {
        color: $navBItem12_hoverColor;
        transition: color .2s;
        &::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavBItem {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem_textColor;
      background: $sideNavBItem_BGColor;
    }
  }

  .t0-b-sideNavBItem2 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem2_textColor;
      background: $sideNavBItem2_BGColor;
    }
  }

  .t0-b-sideNavBItem3 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem3_textColor;
      background: $sideNavBItem3_BGColor;
    }
  }

  .t0-b-sideNavBItem4 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem4_textColor;
      background: $sideNavBItem4_BGColor;
    }
  }

  .t0-b-sideNavBItem5 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem5_textColor;
      background: $sideNavBItem5_BGColor;
    }
  }

  .t0-b-sideNavBItem6 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $sideNavBItem6_textColor;
      background: $sideNavBItem6_BGColor;
    }
  }

  .t0-b-sideNavBItem7 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem7_textColor;
      border: 2px solid $sideNavBItem7_borderColor;
    }
  }

  .t0-b-sideNavBItem8 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem8_textColor;
      border: 2px solid $sideNavBItem8_borderColor;
    }
  }

  .t0-b-sideNavBItem8 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem8_textColor;
      border: 2px solid $sideNavBItem8_borderColor;
    }
  }

  .t0-b-sideNavBItem9 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem9_textColor;
      border: 2px solid $sideNavBItem9_borderColor;
    }
  }

  .t0-b-sideNavBItem10 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem10_textColor;
      border: 2px solid $sideNavBItem10_borderColor;
    }
  }

  .t0-b-sideNavBItem11 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem11_textColor;
      border: 2px solid $sideNavBItem11_borderColor;
    }
  }

  .t0-b-sideNavBItem12 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $sideNavBItem12_textColor;
      border: 2px solid $sideNavBItem12_borderColor;
    }
  }
}
