@if $device == PC {
  .t0-b-sideNavItemWithImg {
    $_block: &;
    color: $sideNavItemWithImg_textColor;
    &__inner {
      border: 1px solid $sideNavItemWithImg_borderColor;
      display: flex;
      align-items: center;
      > span {
        flex: 0 1 20px;
        order: 1;
        display: block;
        width: 100%;
        height: 20px;
        background-image: url("https://placehold.jp/20x20.png");
        background-size: contain;
        margin: 0 0 0 8px;
      }
    }

    &__text {
      flex: 1 1;
      order: 2;
      @include g-font(20);
      text-align: left;
      padding: 0 10px;
    }

    &__img {
      flex: 0 1 75px;
      order: 3;
      img {
        display: block;
        max-width: 100%;
      }
    }

    a:hover {
      #{$_block}__inner {
        opacity: .8;
        color: $sideNavItemWithImg_textColor;
      }
    }

    &--imgL {
      #{$_block}__inner {
        flex-direction: row-reverse;
        > span {
          margin: 0 8px 0 0;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavItemWithImg {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    color: $sideNavItemWithImg_textColor;
    &__inner {
      border: 1px solid $sideNavItemWithImg_borderColor;
      display: flex;
      align-items: center;
      > span {
        flex: 0 1 20px;
        order: 1;
        display: block;
        width: 100%;
        height: 20px;
        background-image: url("https://placehold.jp/20x20.png");
        background-size: contain;
        margin: 0 0 0 8px;
      }
    }

    &__text {
      flex: 1 1;
      order: 2;
      @include g-font(16);
      text-align: left;
      padding: 0 7px;
    }

    &__img {
      flex: 0 1 75px;
      order: 3;
      img {
        display: block;
        max-width: 100%;
      }
    }

    &--imgL {
      #{$_block}__inner {
        flex-direction: row-reverse;
        > span {
          margin: 0 8px 0 0;
        }
      }
    }
  }
}
