@if $device == PC {
  .t0-b-sideBoxLv2H {
    color: $sideBoxLv2H_textColor;
    padding: 0 5px 5px;
    text-align: center;
    border-bottom: 1px solid $sideBoxLv2H_borderColor;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h6 {
      @include g-font(17);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv2H2 {
    color: $sideBoxLv2H2_textColor;
    text-align: center;
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    h6 {
      @include g-font(17);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    color: $sideBoxLv2H_textColor;
    padding: 0 5px 5px;
    text-align: center;
    border-bottom: 1px solid $sideBoxLv2H_borderColor;
    h6 {
      @include g-font(17);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv2H2 {
    color: $sideBoxLv2H2_textColor;
    text-align: center;
    h6 {
      @include g-font(17);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
