@if $device == PC {
  .t0-b-sideBoxList {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/sideBoxList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }

  .t0-b-sideBoxList2 {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/sideBoxList/02/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxList {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/sideBoxList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }

  .t0-b-sideBoxList2 {
    @include RTE;
    ul {
      padding: 0 0 0 5px;
      li {
        min-height: 12px;
        padding-left: 13px;
        margin-top: 8px;
        list-style: none;
        background: url("../imgs/sideBoxList/02/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 6px;
      }
    }
  }
}
