@if $device == PC {
  .t0-b-sideBoxIconText-tel {
    > div {
      display: inline-block;
    }

    &__ruby {
      @include g-font(14);
      text-align: right;
    }

    &__bd {
      display: flex;
      align-items: center;
      @if $layout == "L30" or $layout == "R30" {
        // L30かR30で番号が折り返さない最大サイズ
        @include g-font(30, 0);
      } @else {
        // L25かR25で番号が折り返さない最大サイズ
        @include g-font(26, 0);
      }
      > span {
        // 11桁で折り返さないギリギリのサイズ
        font-size: 90%;
      }
    }

    &__icon {
      background-size: contain;
      margin-right: 8px;
      background-repeat: no-repeat;
    }

    &__tel {
      background-image: url("../imgs/iconText-tel/01/tel.svg");
      width: 46px * .4;
      height: 46px * .4;
    }

    &__fax {
      background-image: url("../imgs/iconText-tel/01/fax.svg");
      width: 82px * .4;
      height: 48px * .4;
    }

    &__free {
      background-image: url("../imgs/iconText-tel/01/free.svg");
      width: 140px * .25;
      height: 80px * .25;
      margin-right: 5px;
    }

    &__cell {
      background-image: url("../imgs/iconText-tel/01/cell.svg");
      width: 44px * .35;
      height: 72px * .35;
      margin-bottom: .6%;
    }

    &--align-l {
      justify-content: flex-start;
    }

    &--align-c {
      justify-content: center;
    }

    &--align-r {
      justify-content: flex-end;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxIconText-tel {
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    word-break: break-all;
    &__ruby {
      @include g-font(12);
      text-align: center;
    }

    &__bd {
      display: flex;
      align-items: center;
      justify-content: center;
      @include g-font(22);
      color: $sideBoxIconText-tel_textColor;
    }

    &__icon {
      background-size: contain;
      margin-right: 8px;
      background-repeat: no-repeat;
    }

    &__tel {
      background-image: url("../imgs/iconText-tel/01/tel.svg");
      width: 46px * .4;
      height: 46px * .4;
    }

    &__fax {
      background-image: url("../imgs/iconText-tel/01/fax.svg");
      width: 82px * .4;
      height: 48px * .4;
    }

    &__free {
      background-image: url("../imgs/iconText-tel/01/free.svg");
      width: 140px * .25;
      height: 80px * .25;
      margin-right: 5px;
    }

    &__cell {
      background-image: url("../imgs/iconText-tel/01/cell.svg");
      width: 44px * .35;
      height: 72px * .35;
      margin-bottom: .6%;
    }
  }
}
