@if $device == PC {
  .t0-b-sideBoxLabeledList {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        font-weight: bold;
        color: $sideBoxLabeledList_textColor;
      }
    }

    &__item-bd {
      @include g-font(15);
    }
  }

  .t0-b-sideBoxLabeledList2 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $sideBoxLabeledList2_textColor;
        background: linear-gradient(transparent 50%, $sideBoxLabeledList2_BGColor 0%);
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 3px 2px 0;
      text-align: left;
      vertical-align: top;
    }
  }

  .t0-b-sideBoxLabeledList3 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $sideBoxLabeledList3_textColor;
        background: linear-gradient(transparent 50%, $sideBoxLabeledList3_BGColor 0%);
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 3px 2px 0;
      text-align: left;
      vertical-align: top;
    }
  }

  .t0-b-sideBoxLabeledList4 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: $sideBoxLabeledList4_textColor;
        border: 2px solid $sideBoxLabeledList4_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 5px 3px 0;
      text-align: left;
      vertical-align: top;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLabeledList {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        font-weight: bold;
        color: $sideBoxLabeledList_textColor;
      }
    }

    &__item-bd {
      @include g-font(15);
    }
  }

  .t0-b-sideBoxLabeledList2 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $sideBoxLabeledList2_textColor;
        background: linear-gradient(transparent 50%, $sideBoxLabeledList2_BGColor 0%);
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 3px 2px 0;
      text-align: left;
      vertical-align: top;
    }
  }

  .t0-b-sideBoxLabeledList3 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        padding: 0 2px;
        color: $sideBoxLabeledList3_textColor;
        background: linear-gradient(transparent 50%, $sideBoxLabeledList3_BGColor 0%);
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 3px 2px 0;
      text-align: left;
      vertical-align: top;
    }
  }

  .t0-b-sideBoxLabeledList4 {
    a {
      text-decoration: underline;
    }

    &__item {
      padding-top: $g-spacing3x;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      > div {
        @include g-font(15);
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: $sideBoxLabeledList4_textColor;
        border: 2px solid $sideBoxLabeledList4_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
      }
    }

    &__item-bd {
      @include g-font(15);
      padding: 5px 3px 0;
      text-align: left;
      vertical-align: top;
    }
  }
}
