@if $device == PC {
  .t0-b-lv1H-pageH {
    padding: 38px 20px;
    text-align: center;
    color: $lv1H-pageH_textColor;
    background: $lv1H-pageH_BGColor;
    @include g-font(34);
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH2 {
    padding: 38px 20px;
    text-align: center;
    color: $lv1H-pageH2_textColor;
    background: $lv1H-pageH2_BGColor;
    @include g-font(34);
    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {
    padding: 38px 20px;
    text-align: center;
    color: $lv1H-pageH3_textColor;
    background: $lv1H-pageH3_BGColor;
    @include g-font(34);
    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-pageH {
    padding: 18px 15px;
    // 枠をはみ出して表示する為
    margin: 0 -15px;
    text-align: center;
    color: $lv1H-pageH_textColor;
    background: $lv1H-pageH_BGColor;
    @include g-font(20);
    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH2 {
    padding: 18px 15px;
    margin: 0 -15px;
    text-align: center;
    color: $lv1H-pageH2_textColor;
    background: $lv1H-pageH2_BGColor;
    @include g-font(20);
    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {
    padding: 18px 15px;
    margin: 0 -15px;
    text-align: center;
    color: $lv1H-pageH3_textColor;
    background: $lv1H-pageH3_BGColor;
    @include g-font(20);
    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
