@if $device == PC {
  .t0-b-headerUnit-contact-navB {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB_textColor;
      background-color: $headerUnit-contact-navB_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB2 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB2_textColor;
      background-color: $headerUnit-contact-navB2_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB2_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB3 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB3_textColor;
      background-color: $headerUnit-contact-navB3_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB3_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB4 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB4_textColor;
      background-color: $headerUnit-contact-navB4_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB4_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB5 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB5_textColor;
      background-color: $headerUnit-contact-navB5_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB5_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB6 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      padding: 12px;
      color: $headerUnit-contact-navB6_textColor;
      background-color: $headerUnit-contact-navB6_BGColor;
      min-height: 31px;
      text-align: center;
      transition: ease-in-out .4s;
    }

    a:hover {
      #{$_block}__inner {
        background-color: $headerUnit-contact-navB6_hoverBGColor;
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 8px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 14px 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 16px 12px;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    [class^="t0-b-headerSingle"] & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB7 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB7_textColor;
      border: 2px solid $headerUnit-contact-navB7_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB7_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB7_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }

  .t0-b-headerUnit-contact-navB8 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB8_textColor;
      border: 2px solid $headerUnit-contact-navB8_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB8_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB8_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }

  .t0-b-headerUnit-contact-navB9 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB9_textColor;
      border: 2px solid $headerUnit-contact-navB9_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB9_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB9_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }

  .t0-b-headerUnit-contact-navB10 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB10_textColor;
      border: 2px solid $headerUnit-contact-navB10_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB10_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB10_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }

  .t0-b-headerUnit-contact-navB11 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB11_textColor;
      border: 2px solid $headerUnit-contact-navB11_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB11_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB11_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }

  .t0-b-headerUnit-contact-navB12 {
    $_block: &;
    white-space: nowrap;
    &__inner {
      @include g-font(16);
      position: relative;
      padding: 10px;
      color: $headerUnit-contact-navB12_textColor;
      border: 2px solid $headerUnit-contact-navB12_borderColor;
      min-height: 31px;
      text-align: center;
    }

    &__inner {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $headerUnit-contact-navB12_BGColor;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .6s;
      }
    }

    a:hover {
      #{$_block}__inner {
        color: $headerUnit-contact-navB12_hoverTextColor;
        transition: color .2s;
        &::before {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        @include g-font(12);
        padding: 6px 10px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        @include g-font(14);
        padding: 8px 10px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        @include g-font(18);
        padding: 12px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        @include g-font(20);
        padding: 14px 12px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-navB {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB_textColor;
      background-color: $headerUnit-contact-navB_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB2 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB2_textColor;
      background-color: $headerUnit-contact-navB2_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB3 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB3_textColor;
      background-color: $headerUnit-contact-navB3_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB4 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB4_textColor;
      background-color: $headerUnit-contact-navB4_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB5 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB5_textColor;
      background-color: $headerUnit-contact-navB5_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB6 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 12px;
      text-align: center;
      color: $headerUnit-contact-navB6_textColor;
      background-color: $headerUnit-contact-navB6_BGColor;
    }
  }

  .t0-b-headerUnit-contact-navB7 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB7_textColor;
      border: 2px solid $headerUnit-contact-navB7_borderColor;
    }
  }

  .t0-b-headerUnit-contact-navB8 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB8_textColor;
      border: 2px solid $headerUnit-contact-navB8_borderColor;
    }
  }

  .t0-b-headerUnit-contact-navB9 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB9_textColor;
      border: 2px solid $headerUnit-contact-navB9_borderColor;
    }
  }

  .t0-b-headerUnit-contact-navB10 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB10_textColor;
      border: 2px solid $headerUnit-contact-navB10_borderColor;
    }
  }

  .t0-b-headerUnit-contact-navB11 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB11_textColor;
      border: 2px solid $headerUnit-contact-navB11_borderColor;
    }
  }

  .t0-b-headerUnit-contact-navB12 {
    width: 95%;
    margin: 0 auto;
    &__inner {
      @include g-font(16);
      padding: 10px;
      text-align: center;
      color: $headerUnit-contact-navB12_textColor;
      border: 2px solid $headerUnit-contact-navB12_borderColor;
    }
  }
}
