@if $device == PC {
  .t0-b-headerUnit-labeledList {
    white-space: nowrap;
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      @include g-font(14);
      text-align: left;
      vertical-align: top;
      padding: 0;
      min-width: 66px;
      div {
        font-weight: bold;
        color: $headerUnit-labeledList_textColor;
        white-space: nowrap;
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    a {
      text-decoration: underline;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList2 {
    white-space: nowrap;
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      padding: 0;
      min-width: 66px;
      div {
        padding: 0 2px;
        background-image: linear-gradient(transparent 50%, $headerUnit-labeledList2_BGColor 0%);
        white-space: nowrap;
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    a {
      text-decoration: underline;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList3 {
    white-space: nowrap;
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      padding: 0;
      min-width: 66px;
      div {
        padding: 0 2px;
        background-image: linear-gradient(transparent 50%, $headerUnit-labeledList3_BGColor 0%);
        white-space: nowrap;
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    a {
      text-decoration: underline;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList4 {
    white-space: nowrap;
    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      min-width: 66px;
      div {
        font-weight: bold;
        color: $headerUnit-labeledList4_textColor;
        border: 2px solid $headerUnit-labeledList4_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
        white-space: nowrap;
      }
    }

    td {
      @include g-font(14);
      padding: 1px 0 0 5px;
      vertical-align: middle;
    }

    a {
      text-decoration: underline;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-labeledList {
    table {
      border-collapse: separate;
    }

    th {
      @include g-font(14);
      text-align: left;
      vertical-align: top;
      padding: 0;
      min-width: 30px;
      div {
        font-weight: bold;
        color: $headerUnit-labeledList_textColor;
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList2 {
    table {
      border-collapse: separate;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      padding: 0;
      div {
        padding: 0 2px;
        background-image: linear-gradient(transparent 50%, $headerUnit-labeledList2_BGColor 0%);
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList3 {
    table {
      border-collapse: separate;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      padding: 0;
      div {
        padding: 0 2px;
        background-image: linear-gradient(transparent 50%, $headerUnit-labeledList3_BGColor 0%);
      }
    }

    td {
      @include g-font(14);
      padding-left: 8px;
      vertical-align: top;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }

  .t0-b-headerUnit-labeledList4 {
    table {
      border-collapse: separate;
    }

    th {
      @include g-font(14);
      vertical-align: top;
      div {
        text-align: center;
        font-weight: bold;
        color: $headerUnit-labeledList4_textColor;
        border: 2px solid $headerUnit-labeledList4_borderColor;
        border-radius: 20px;
        padding: 1px 10px 0;
      }
    }

    td {
      @include g-font(14);
      padding: 1px 0 0 5px;
      vertical-align: middle;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    [class^="t0-b-headerSingle"] & {
      display: flex;
      justify-content: center;
    }
  }
}
