@if $device == PC {
  .t0-b-footerUnit-navList {
    @include RTE;
    white-space: nowrap;
    ul {
      padding: 0;
      li {
        margin-top: 10px;
        padding-left: 12px;
        list-style-type: none;
        background-image: url("../imgs/footerUnit-navList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 5px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navList {
    @include RTE;
    ul {
      padding: 0;
      li {
        margin-top: 10px;
        padding-left: 12px;
        list-style-type: none;
        background-image: url("../imgs/footerUnit-navList/01/01.svg");
        background-repeat: no-repeat;
        background-position: 0 .4em;
        background-size: 5px;
      }
    }
  }
}
