@if $device == PC {
  .t0-b-footerUnit-nav {
    $_block: &;
    white-space: nowrap;
    color: $footerUnit-nav_textColor;
    &__item {
      display: inline-block;
      position: relative;
      min-height: 22px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background-image: url("../imgs/footerUnit-nav/01/01.svg");
        background-size: contain;
      }

      p {
        margin-left: 30px;
        @include g-font(16);
        transition: ease-in-out .4s;
        padding-bottom: 1px;
        border-bottom: 2px solid $footerUnit-nav_borderColor;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        color: $footerUnit-nav_hoverColor;
      }
    }
  }

  .t0-b-footerUnit-nav2 {
    $_block: &;
    white-space: nowrap;
    color: $footerUnit-nav2_textColor;
    &__item {
      display: inline-block;
      position: relative;
      min-height: 22px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background-image: url("../imgs/footerUnit-nav/02/01.svg");
        background-size: contain;
      }

      p {
        margin-left: 30px;
        @include g-font(16);
        transition: ease-in-out .4s;
        padding-bottom: 1px;
        border-bottom: 2px solid $footerUnit-nav2_borderColor;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        color: $footerUnit-nav2_hoverColor;
      }
    }
  }

  .t0-b-footerUnit-nav3 {
    $_block: &;
    white-space: nowrap;
    color: $footerUnit-nav_textColor;
    &__item {
      position: relative;
      display: inline-block;
      min-height: 22px;
      padding-right: 30px;
      transition: .3s;
      p {
        display: block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $navItem3_BGColor;//伸びる下線
          transition: .3s;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("../imgs/navItem/03/02.svg");//下線画像
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        transform: translateY(-50%);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("../imgs/navItem/03/01.svg");//アイコン
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        transition: all .3s .3s ease;
        transform: translateY(-50%);
      }

      & + & {
        margin-left: 15px;
      }
    }

   a:hover {
      &__item {
        color: $navItem3_textColor;
      &::after {
        right: -10px;
      }
    }
    p {
      color: $footerUnit-nav_hoverColor;
      &::after {
        width: 100%;
      }
    }
  }
  }

  .t0-b-footerUnit-nav4 {
    $_block: &;
    white-space: nowrap;
    color: $footerUnit-nav_textColor;
    &__item {
      position: relative;
      display: inline-block;
      min-height: 22px;
      padding-right: 30px;
      transition: .3s;
      p {
        display: block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $navItem3_BGColor;//伸びる下線
          transition: .3s;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("../imgs/navItem/03/02.svg");//下線画像
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        transform: translateY(-50%);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 22px;
        height: 22px;
        background-image: url("../imgs/navItem/03/01.svg");//アイコン
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        transition: all .3s .3s ease;
        transform: translateY(-50%);
      }

      & + & {
        margin-left: 15px;
      }
    }

  a:hover {
      &__item {
        color: $navItem3_textColor;
      &::after {
        right: -10px;
      }
    }
    p {
      color: $footerUnit-nav_hoverColor;
      &::after {
        width: 100%;
      }
    }
  }
  }
}

@if $device == SP {
  .t0-b-footerUnit-nav {
    margin-left: 2.5%;
    &__item {
      position: relative;
      min-height: 18px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        background-image: url("https://placehold.jp/18x18.png");
        background-size: contain;
      }

      p {
        padding-left: 25px;
        @include g-font(16);
      }

      & + & {
        margin-top: 20px;
      }
    }
  }
}
