@if $device == PC {
  .t0-b-footerUnit-navB {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB_textColor;
        background-color: $footerUnit-navB_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB_hoverBGColor;
      }
    }
  }

  .t0-b-footerUnit-navB2 {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB2_textColor;
        background-color: $footerUnit-navB2_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB2_hoverBGColor;
      }
    }
  }

  .t0-b-footerUnit-navB3 {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB3_textColor;
        background-color: $footerUnit-navB3_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB3_hoverBGColor;
      }
    }
  }

  .t0-b-footerUnit-navB4 {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB4_textColor;
        background-color: $footerUnit-navB4_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB4_hoverBGColor;
      }
    }
  }

  .t0-b-footerUnit-navB5 {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB5_textColor;
        background-color: $footerUnit-navB5_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB5_hoverBGColor;
      }
    }
  }

  .t0-b-footerUnit-navB6 {
    white-space: nowrap;
    $_block: &;
    &__item {
      display: inline-block;
      p {
        @include g-font(14);
        padding: 7px 15px;
        color: $footerUnit-navB6_textColor;
        background-color: $footerUnit-navB6_BGColor;
        min-height: 10px;
        white-space: nowrap;
        transition: ease-in-out .4s;
      }

      & + & {
        margin-left: 15px;
      }
    }

    a:hover {
      p {
        background-color: $footerUnit-navB6_hoverBGColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navB {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB_textColor;
        background-color: $footerUnit-navB_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  .t0-b-footerUnit-navB2 {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB2_textColor;
        background-color: $footerUnit-navB2_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  .t0-b-footerUnit-navB3 {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB3_textColor;
        background-color: $footerUnit-navB3_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  .t0-b-footerUnit-navB4 {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB4_textColor;
        background-color: $footerUnit-navB4_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  .t0-b-footerUnit-navB5 {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB5_textColor;
        background-color: $footerUnit-navB5_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  .t0-b-footerUnit-navB6 {
    width: 95%;
    margin: 0 auto;
    &__item {
      p {
        @include g-font(15);
        padding: 13px;
        color: $footerUnit-navB6_textColor;
        background-color: $footerUnit-navB6_BGColor;
        min-height: 16px;
        text-align: center;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }
}
