@if $device == PC {
  .t0-b-footerUnit-siteName2 {
    color: $footerUnit-siteName2_textColor;
    &__bd {
      img {
        display: block;
        min-width: 300px;
        max-width: 100%;
      }

      a {
        img {
          &:hover {
            opacity: .8;
          }
        }
      }
    }

    &__ft {
      @include g-font($g-fontSize);
      padding-top: 5px;
      a {
        text-decoration: underline;
      }
    }

    &--width-l {
      img {
        width: 100%;
      }
    }

    &--width-m {
      img {
        width: 75%;
      }
    }

    &--width-s {
      img {
        width: 50%;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-siteName2 {
    color: $footerUnit-siteName2_textColor;
    &__bd {
      img {
        display: block;
        width: 100%;
      }
    }

    &__ft {
      @include g-font(14);
      padding-top: 5px;
      a {
        text-decoration: underline;
      }
    }

    &--width-l {
      img {
        width: 100%;
      }
    }

    &--width-m {
      img {
        width: 75%;
      }
    }

    &--width-s {
      img {
        width: 50%;
      }
    }
  }
}
