@if $device == PC {
  .t0-b-footerUnit-lv2H {
    color: $footerUnit-lv2H_textColor;
    h5 {
      @include g-font(17);
      white-space: nowrap;
      border-bottom: 2px solid $footerUnit-lv2H_borderColor;
      padding: 0 2px 4px;
    }

    a {
      &:hover {
        color: $g-baseHoverColor2;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    color: $footerUnit-lv2H_textColor;
    h5 {
      @include g-font(15);
      border-bottom: 2px solid $footerUnit-lv2H_borderColor;
      padding: 0 2px 4px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
