@if $device == PC {
  .t0-b-footerUnit-lv2H {
    h5 {
      @include g-font(17,1);
      white-space: nowrap;
      color: $g-baseHColor;
      border-bottom: 2px solid $footerUnit-lv2H_borderColor;
      padding: 0 2px 4px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    h5 {
      @include g-font(15,1);
      color: $g-baseHColor;
      border-bottom: 2px solid $footerUnit-lv2H_borderColor;
      padding: 0 2px 4px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
