@if $device == PC {
  .t0-b-footerFullWidthFrame {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame2 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame2_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame3 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame3_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame4 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame4_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame5 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame5_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame6 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame6_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame7 {
    position: relative;
    padding: 75px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame7_BGColor;
    background-position: center center;
    &::before {
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 40px;
      left: 0;
      width: $areaContainerWidth;
      margin: 0 auto;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame7_BGColor2;
      border-radius: 10px;
    }

    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth - 70px;
      margin: 0 auto;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame8 {
    position: relative;
    padding: 75px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame8_BGColor;
    background-position: center center;
    &::before {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      position: absolute;
      top: 40px;
      right: 0;
      bottom: 40px;
      left: 0;
      width: $areaMainWidth;
      margin: 0 auto;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame8_BGColor2;
      border-radius: 10px;
    }

    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - (70px + $areaSubWidth);
      }
      width: $areaMainWidth - 70px;
      margin: 0 auto;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame9 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame9_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame10 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame10_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame11 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame11_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame12 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame12_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame13 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame13_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame14 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame14_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame15 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame15_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame16 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame16_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame17 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame17_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame18 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame18_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame19 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame19_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame20 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame20_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame21 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame21_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame22 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame22_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame23 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame23_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame24 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame24_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame25 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame25_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame26 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame26_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame27 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame27_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame28 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame28_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame29 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame29_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame30 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame30_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame31 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame31_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame32 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame32_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame33 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame33_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame34 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame34_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame35 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame35_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame36 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame36_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame37 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame37_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame38 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame38_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame39 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame39_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame40 {
    position: relative;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-color: $footerFullWidthFrame40_BGColor;
    background-position: center center;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame41 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame41_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame41_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame42 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame42_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame42_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame43 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame43_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame43_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame44 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame44_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame44_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame45 {
    position: relative;
    padding: 40px 0;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame45_BGColor 25%, $footerFullWidthFrame45_BGColor2 25%, $footerFullWidthFrame45_BGColor2 50%, $footerFullWidthFrame45_BGColor 50%, $footerFullWidthFrame45_BGColor 75%, $footerFullWidthFrame45_BGColor2 75%, $footerFullWidthFrame45_BGColor2);
    background-size: 30px 30px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame46 {
    position: relative;
    padding: 40px 0;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame46_BGColor 25%, $footerFullWidthFrame46_BGColor2 25%, $footerFullWidthFrame46_BGColor2 50%, $footerFullWidthFrame46_BGColor 50%, $footerFullWidthFrame46_BGColor 75%, $footerFullWidthFrame46_BGColor2 75%, $footerFullWidthFrame46_BGColor2);
    background-size: 30px 30px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame47 {
    position: relative;
    padding: 40px 0;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame47_BGColor 25%, $footerFullWidthFrame47_BGColor2 25%, $footerFullWidthFrame47_BGColor2 50%, $footerFullWidthFrame47_BGColor 50%, $footerFullWidthFrame47_BGColor 75%, $footerFullWidthFrame47_BGColor2 75%, $footerFullWidthFrame47_BGColor2);
    background-size: 30px 30px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame48 {
    position: relative;
    padding: 40px 0;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame48_BGColor 25%, $footerFullWidthFrame48_BGColor2 25%, $footerFullWidthFrame48_BGColor2 50%, $footerFullWidthFrame48_BGColor 50%, $footerFullWidthFrame48_BGColor 75%, $footerFullWidthFrame48_BGColor2 75%, $footerFullWidthFrame48_BGColor2);
    background-size: 30px 30px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame49 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame49_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame49_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame49_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame50 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame50_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame50_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame50_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame51 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame51_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame51_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame51_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    &__hd,
    &__bd,
    &__ft {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
  }

  .t0-b-footerFullWidthFrame52 {
    position: relative;
    padding: 40px 0;
    background-color: $footerFullWidthFrame52_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame52_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame52_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    &__hd,
    &__bd,
    &__ft {
      @if $layout == "N00" {
        width: $areaMainWidth - $areaSubWidth;
      }
      width: $areaMainWidth;
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-footerFullWidthFrame {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame2 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame3 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame4 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame5 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame6 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame7 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame7_BGColor2;
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame8 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      background-color: $footerFullWidthFrame8_BGColor2;
      border-radius: 10px;
    }

    > * {
      position: relative;
    }
  }

  .t0-b-footerFullWidthFrame9 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame10 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame11 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame11_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame12 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame12_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame13 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame13_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame14 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame14_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame15 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame15_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame16 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame16_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame17 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame17_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame18 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame18_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame19 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame19_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame20 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame20_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame21 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame21_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame22 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame22_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame23 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame23_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame24 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame24_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame25 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame25_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame26 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame26_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame27 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame27_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame28 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame28_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame29 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame29_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame30 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame30_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame31 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame31_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame32 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame32_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame33 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame33_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame34 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame34_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame35 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame35_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame36 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame36_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame37 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame37_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame38 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame38_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame39 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame39_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame40 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame40_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-footerFullWidthFrame41 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame41_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame41_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-footerFullWidthFrame42 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame42_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame42_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-footerFullWidthFrame43 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame43_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame43_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-footerFullWidthFrame44 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame44_BGColor;
    background-image: linear-gradient(-90deg, $footerFullWidthFrame44_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-footerFullWidthFrame45 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame45_BGColor 25%, $footerFullWidthFrame45_BGColor2 25%, $footerFullWidthFrame45_BGColor2 50%, $footerFullWidthFrame45_BGColor 50%, $footerFullWidthFrame45_BGColor 75%, $footerFullWidthFrame45_BGColor2 75%, $footerFullWidthFrame45_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-footerFullWidthFrame46 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame46_BGColor 25%, $footerFullWidthFrame46_BGColor2 25%, $footerFullWidthFrame46_BGColor2 50%, $footerFullWidthFrame46_BGColor 50%, $footerFullWidthFrame46_BGColor 75%, $footerFullWidthFrame46_BGColor2 75%, $footerFullWidthFrame46_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-footerFullWidthFrame47 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame47_BGColor 25%, $footerFullWidthFrame47_BGColor2 25%, $footerFullWidthFrame47_BGColor2 50%, $footerFullWidthFrame47_BGColor 50%, $footerFullWidthFrame47_BGColor 75%, $footerFullWidthFrame47_BGColor2 75%, $footerFullWidthFrame47_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-footerFullWidthFrame48 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $footerFullWidthFrame48_BGColor 25%, $footerFullWidthFrame48_BGColor2 25%, $footerFullWidthFrame48_BGColor2 50%, $footerFullWidthFrame48_BGColor 50%, $footerFullWidthFrame48_BGColor 75%, $footerFullWidthFrame48_BGColor2 75%, $footerFullWidthFrame48_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-footerFullWidthFrame49 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame49_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame49_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame49_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-footerFullWidthFrame50 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame50_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame50_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame50_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-footerFullWidthFrame51 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame51_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame51_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame51_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-footerFullWidthFrame52 {
    position: relative;
    padding: 40px 15px;
    margin: 0 -15px;
    background-color: $footerFullWidthFrame52_BGColor;
    background-image:
      radial-gradient($footerFullWidthFrame52_BGColor2 25%, transparent 25%),
      radial-gradient($footerFullWidthFrame52_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }
}
