@if $device == PC {
  .t0-b-fullWidthFrame {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame2 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame3 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame4 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame5 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame6 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame7 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 1035px;
    &::before {
      position: absolute;
      top: 40px;
      right: 1000px;
      bottom: 40px;
      left: 1000px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
      background-color: $fullWidthFrame7_BGColor2;
    }
  }

  .t0-b-fullWidthFrame8 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 1035px;
    &::before {
      position: absolute;
      top: 40px;
      right: 1000px;
      bottom: 40px;
      left: 1000px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
      background-color: $fullWidthFrame8_BGColor2;
    }
  }

  .t0-b-fullWidthFrame9 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame10 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame11 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame11_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame12 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame12_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame13 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame13_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame14 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame14_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame15 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame15_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame16 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame16_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame17 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame17_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame18 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame18_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame19 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame19_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame20 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame20_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame21 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame21_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame22 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame22_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame23 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame23_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame24 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame24_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame25 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame25_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame26 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame26_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame27 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame27_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame28 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame28_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame29 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame29_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame30 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame30_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame31 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame31_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame32 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame32_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame33 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame33_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame34 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame34_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame35 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame35_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame36 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame36_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame37 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame37_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame38 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame38_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame39 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame39_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame40 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame40_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame41 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame41_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame41_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame42 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame42_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame42_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame43 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame43_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame43_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame44 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame44_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame44_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame45 {
    @include layoutWideWidth;
    position: relative;
    background-image: linear-gradient(-45deg, $fullWidthFrame45_BGColor 25%, $fullWidthFrame45_BGColor2 25%, $fullWidthFrame45_BGColor2 50%, $fullWidthFrame45_BGColor 50%, $fullWidthFrame45_BGColor 75%, $fullWidthFrame45_BGColor2 75%, $fullWidthFrame45_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame46 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(-45deg, $fullWidthFrame46_BGColor 25%, $fullWidthFrame46_BGColor2 25%, $fullWidthFrame46_BGColor2 50%, $fullWidthFrame46_BGColor 50%, $fullWidthFrame46_BGColor 75%, $fullWidthFrame46_BGColor2 75%, $fullWidthFrame46_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame47 {
    @include layoutWideWidth;
    position: relative;
    background-image: linear-gradient(-45deg, $fullWidthFrame47_BGColor 25%, $fullWidthFrame47_BGColor2 25%, $fullWidthFrame47_BGColor2 50%, $fullWidthFrame47_BGColor 50%, $fullWidthFrame47_BGColor 75%, $fullWidthFrame47_BGColor2 75%, $fullWidthFrame47_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame48 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(-45deg, $fullWidthFrame48_BGColor 25%, $fullWidthFrame48_BGColor2 25%, $fullWidthFrame48_BGColor2 50%, $fullWidthFrame48_BGColor 50%, $fullWidthFrame48_BGColor 75%, $fullWidthFrame48_BGColor2 75%, $fullWidthFrame48_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame49 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame49_BGColor;
    background-image:
      radial-gradient($fullWidthFrame49_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame49_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame50 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame50_BGColor;
    background-image:
      radial-gradient($fullWidthFrame50_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame50_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame51 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame51_BGColor;
    background-image:
      radial-gradient($fullWidthFrame51_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame51_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame52 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame52_BGColor;
    background-image:
      radial-gradient($fullWidthFrame52_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame52_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .area-main {
    // 管理画面で部品追加ボタンに当たらないように
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]):not(.cms-preview-placeholder) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 5%;
    }
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame2 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame3 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame4 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame5 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame6 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame7 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
      background-color: $fullWidthFrame7_BGColor2;
    }
  }

  .t0-b-fullWidthFrame8 {
    position: relative;
    padding: 40px 35px;
    margin: 0 -15px;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    &::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      pointer-events: none;
      content: "";
      border-radius: 10px;
      background-color: $fullWidthFrame8_BGColor2;
    }
  }

  .t0-b-fullWidthFrame9 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame10 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame11 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame11_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame12 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame12_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame13 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame13_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame14 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame14_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame15 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame15_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame16 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame16_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame17 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame17_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame18 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame18_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame19 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame19_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame20 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame20_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame21 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame21_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame22 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame22_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame23 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame23_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame24 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame24_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame25 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame25_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame26 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame26_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame27 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame27_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame28 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame28_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame29 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame29_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame30 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame30_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame31 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame31_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame32 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame32_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame33 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame33_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame34 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame34_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame35 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame35_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame36 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame36_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame37 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame37_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame38 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame38_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame39 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame39_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame40 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame40_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame41 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame41_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame41_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame42 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame42_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame42_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame43 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame43_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame43_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame44 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame44_BGColor;
    background-image: linear-gradient(-90deg, $fullWidthFrame44_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame45 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $fullWidthFrame45_BGColor 25%, $fullWidthFrame45_BGColor2 25%, $fullWidthFrame45_BGColor2 50%, $fullWidthFrame45_BGColor 50%, $fullWidthFrame45_BGColor 75%, $fullWidthFrame45_BGColor2 75%, $fullWidthFrame45_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame46 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $fullWidthFrame46_BGColor 25%, $fullWidthFrame46_BGColor2 25%, $fullWidthFrame46_BGColor2 50%, $fullWidthFrame46_BGColor 50%, $fullWidthFrame46_BGColor 75%, $fullWidthFrame46_BGColor2 75%, $fullWidthFrame46_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame47 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $fullWidthFrame47_BGColor 25%, $fullWidthFrame47_BGColor2 25%, $fullWidthFrame47_BGColor2 50%, $fullWidthFrame47_BGColor 50%, $fullWidthFrame47_BGColor 75%, $fullWidthFrame47_BGColor2 75%, $fullWidthFrame47_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame48 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-image: linear-gradient(-45deg, $fullWidthFrame48_BGColor 25%, $fullWidthFrame48_BGColor2 25%, $fullWidthFrame48_BGColor2 50%, $fullWidthFrame48_BGColor 50%, $fullWidthFrame48_BGColor 75%, $fullWidthFrame48_BGColor2 75%, $fullWidthFrame48_BGColor2);
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame49 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame49_BGColor;
    background-image:
      radial-gradient($fullWidthFrame49_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame49_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame50 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame50_BGColor;
    background-image:
      radial-gradient($fullWidthFrame50_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame50_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame51 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame51_BGColor;
    background-image:
      radial-gradient($fullWidthFrame51_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame51_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame52 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame52_BGColor;
    background-image:
      radial-gradient($fullWidthFrame52_BGColor2 25%, transparent 25%),
      radial-gradient($fullWidthFrame52_BGColor3 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 30px;
    }
  }
}
