@if $device == PC {
  .t0-b-fullWidthFrame {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame2 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame3 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame4 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame5 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame6 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  //保留
  .t0-b-fullWidthFrame7 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }
  //保留
  .t0-b-fullWidthFrame8 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame9 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame10 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame11 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame11_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame12 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame12_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame13 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame13_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame14 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame14_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame15 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame15_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame16 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame16_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame17 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame17_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame18 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame18_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame19 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame19_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame20 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame20_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame21 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame21_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame22 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame22_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame23 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame23_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame24 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame24_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame25 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame25_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame26 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame26_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame27 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame27_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame28 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame28_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame29 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame29_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame30 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame30_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame31 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame31_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame32 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame32_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame33 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame33_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame34 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame34_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame35 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame35_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame36 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame36_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame37 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame37_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame38 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame38_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame39 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame39_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame40 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame40_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame41 {
    @include layoutWidth;
    position: relative;
    background-color: $footerFullWidthFrame41_BGColor;
    background-image:
     linear-gradient(-90deg, $footerFullWidthFrame41_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame42 {
    @include layoutWidth;
    position: relative;
    background-color: $footerFullWidthFrame42_BGColor;
    background-image:
     linear-gradient(-90deg, $footerFullWidthFrame42_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame43 {
    @include layoutWidth;
    position: relative;
    background-color: $footerFullWidthFrame43_BGColor;
    background-image:
     linear-gradient(-90deg, $footerFullWidthFrame43_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame44 {
    @include layoutWidth;
    position: relative;
    background-color: $footerFullWidthFrame44_BGColor;
    background-image:
     linear-gradient(-90deg, $footerFullWidthFrame44_BGColor2 50%, transparent 50%);
    background-size: 22px 22px;
  }

  .t0-b-fullWidthFrame45 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(
      -45deg,
      $footerFullWidthFrame45_BGColor 25%,
      $footerFullWidthFrame45_BGColor2 25%,
      $footerFullWidthFrame45_BGColor2 50%,
      $footerFullWidthFrame45_BGColor 50%,
      $footerFullWidthFrame45_BGColor 75%,
      $footerFullWidthFrame45_BGColor2 75%,
      $footerFullWidthFrame45_BGColor2
    );
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame46 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(
      -45deg,
      $footerFullWidthFrame46_BGColor 25%,
      $footerFullWidthFrame46_BGColor2 25%,
      $footerFullWidthFrame46_BGColor2 50%,
      $footerFullWidthFrame46_BGColor 50%,
      $footerFullWidthFrame46_BGColor 75%,
      $footerFullWidthFrame46_BGColor2 75%,
      $footerFullWidthFrame46_BGColor2
    );
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame47 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(
      -45deg,
      #fffbf7 25%,
      #fff2e5 25%,
      #fff2e5 50%,
      #fffbf7 50%,
      #fffbf7 75%,
      #fff2e5 75%,
      #fff2e5
    );
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame48 {
    @include layoutWidth;
    position: relative;
    background-image: linear-gradient(
      -45deg,
      #fffbf7 25%,
      #fff2e5 25%,
      #fff2e5 50%,
      #fffbf7 50%,
      #fffbf7 75%,
      #fff2e5 75%,
      #fff2e5
    );
    background-size: 30px 30px;
  }

  .t0-b-fullWidthFrame49 {
    @include layoutWidth;
    position: relative;
    background-color: #fff;
    background-image:
      radial-gradient(#e9f5cd 25%, transparent 25%),
      radial-gradient(#f0f7e5 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame50 {
    @include layoutWidth;
    position: relative;
    background-color: #fff;
    background-image:
      radial-gradient(#e9f5cd 25%, transparent 25%),
      radial-gradient(#f0f7e5 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame51 {
    @include layoutWidth;
    position: relative;
    background-color: #fff;
    background-image:
      radial-gradient(#fff2e5 25%, transparent 25%),
      radial-gradient(#fff8f1 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .t0-b-fullWidthFrame52 {
    @include layoutWidth;
    position: relative;
    background-color: #fff;
    background-image:
      radial-gradient(#fff2e5 25%, transparent 25%),
      radial-gradient(#fff8f1 25%, transparent 25%);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 5%;
    }
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame2 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame3 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame4 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame5 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame6 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame7 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame8 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame9 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame10 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 30px;
    }
  }
}
