@if $device == PC {
  .t0-b-fullWidthFrame {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame2 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame3 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame4 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame5 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame6 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame7 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame8 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame9 {
    @include layoutWideWidth;
    position: relative;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .t0-b-fullWidthFrame10 {
    @include layoutWidth;
    position: relative;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 5%;
    }
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame2 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame2_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame3 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame3_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame4 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame4_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame5 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame5_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame6 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame6_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame7 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame7_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame8 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame8_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame9 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame9_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame10 {
    position: relative;
    padding: 40px 15px 20px;
    margin: 0 -15px;
    background-color: $fullWidthFrame10_BGColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]) {
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 30px;
    }
  }
}
