@if $device == PC {
  .t0-b-headerCombi {
    $_width_content: 1100px;
    &__hd {
      > p {
        @include g-font($g-fontSize);
        width: $_width_content;
        margin: 0 auto;
      }

      a {
        text-decoration: underline;
      }
    }

    &__bd {
      padding-bottom: 10px;
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          padding-top: $g-spacing4x;
          text-align: left;
          vertical-align: top;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $g-spacing4x;
    }

    &__col3 {
      padding-left: $g-spacing4x;
    }
  }
}

@if $device == SP {
  .t0-b-headerCombi {
    &__hd {
      margin-bottom: 10px;
      > p {
        @include g-font(14);
        width: 100%;
        margin: 0 auto;
      }

      a {
        text-decoration: underline;
      }
    }

    &__bd {
      > div {
        width: 100%;
        margin: 0 auto;
        > div {
          text-align: left;
          vertical-align: middle;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }
}
