@if $device == PC {
  .t0-b-navItem {
    // サイズ設定
    $_wd: 29px;
    $_hg: 29px;
    display: table;
    color: #6d3f1a;
    > a {
      color: #6d3f1a;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      &:hover {
        > div > div {
          color: $g-hoverColor;
          border-bottom: 1px solid $g-hoverColor;
        }
      }

      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          position: relative;
          padding-right: 5px;
          background-repeat: no-repeat;
          background-position: 0 center;
          background-image: url("../imgs/navItem/1/14.png");
        }

        > div {
          display: inline-block;
          @include g-font(18, 1);
          border-bottom: 1px solid #6d3f1a;
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      color: #6d3f1a;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        position: relative;
        padding-right: 5px;
        background-repeat: no-repeat;
        background-position: 0 center;
        background-image: url("../imgs/navItem/1/14.png");
      }

      > div {
        @include g-font(18, 1);
        border-bottom: 1px solid #6d3f1a;
      }
    }

    &--size-1 > a > div,
    &--size-1 > div {
      > span {
        width: $_wd / 1.8;
        height: $_hg / 1.8;
        background-size: ($_wd / 1.8) ($_hg / 1.8);
      }

      > div {
        @include g-font(14, 1);
      }
    }

    &--size-2 > a > div,
    &--size-2 > div {
      > span {
        width: $_wd / 1.6;
        height: $_hg / 1.6;
        background-size: ($_wd / 1.6) ($_hg / 1.6);
      }

      > div {
        @include g-font(16, 1);
      }
    }

    &--size-3 > a > div,
    &--size-3 > div {
      > span {
        width: $_wd / 1.4;
        height: $_hg / 1.4;
        background-size: ($_wd / 1.4) ($_hg / 1.4);
      }

      > div {
        @include g-font(18, 1);
      }
    }

    &--size-4 > a > div,
    &--size-4 > div {
      > span {
        width: $_wd / 1.2;
        height: $_hg / 1.2;
        background-size: ($_wd / 1.2) ($_hg / 1.2);
      }

      > div {
        @include g-font(20, 1);
      }
    }

    &--size-5 > a > div,
    &--size-5 > div {
      > span {
        width: $_wd;
        height: $_hg;
        background-size: $_wd $_hg;
      }

      > div {
        @include g-font(22, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-navItem {
    display: table;
    margin: 0 auto;
    color: #6d3f1a;
    > a {
      color: #6d3f1a;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("../imgs/navItem/1/42.png");
          padding-right: 10px;
        }

        > div {
          margin-left: 10px;
          @include g-font(16, 1);
          text-decoration: underline;
          padding-left: 4px;
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      color: #6d3f1a;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../imgs/navItem/1/42.png");
        padding-right: 10px;
      }

      > div {
        @include g-font(16, 1);
        text-decoration: underline;
        padding-left: 4px;
        margin-left: 10px;
      }
    }

    &--size-1 > a > div,
    &--size-2 > a > div,
    &--size-3 > a > div,
    &--size-4 > a > div,
    &--size-5 > a > div,
    &--size-1 > div,
    &--size-2 > div,
    &--size-3 > div,
    &--size-4 > div,
    &--size-5 > div {
      > span {
        width: 13px;
        height: 22px;
      }

      > div {
        @include g-font(16, 1);
      }
    }
  }
}
