@if $device == PC {
  .t0-b-sideNavItem {
    @include g-font-spacingKilled(16, 1);
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #6d3f1a;
      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
        }

        > span {
          @include g-font-spacingKilled(12, 1);

          background-image: url("../imgs/navItem/1/14.png");
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 22px 22px;
          padding: 20px 13px 10px;
        }

        > div {
          width: 100%;
          padding: 8px 0 8px 8px;
          text-decoration: underline;
          &:hover {
            color: $hovercolor;
          }
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      box-sizing: border-box;
      color: #6d3f1a;
      text-decoration: underline;
      > * {
        display: table-cell;
      }

      > span {
        background-image: url("../imgs/navItem/1/14.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 22px 22px;
        padding: 20px 13px 10px;

        @include g-font-spacingKilled(12, 1);
      }

      > div {
        width: 100%;
        padding: 8px 0 8px 8px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavItem {
    @include g-font-spacingKilled(16, 1);

    display: table;
    margin: 0 auto;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #6d3f1a;
      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
        }

        > span {
          @include g-font-spacingKilled(12, 1);

          background-image: url("../imgs/navItem/1/14.png");
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 22px 22px;
          padding: 20px 13px 10px;
        }

        > div {
          width: 100%;
          padding: 8px 0 8px 8px;
          text-decoration: underline;
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      box-sizing: border-box;
      color: #6d3f1a;
      text-decoration: underline;
      > * {
        display: table-cell;
      }

      > span {
        background-image: url("../imgs/navItem/1/14.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 22px 22px;
        padding: 20px 13px 10px;

        @include g-font-spacingKilled(12, 1);
      }

      > div {
        width: 100%;
        padding: 8px 0 8px 8px;
      }
    }
  }
}
