@if $device == PC {
  .t0-b-copyright {
    background-image: url("../imgs/footer/1/B_A.png"), url("../imgs/footer/1/B_C.png");
    background-repeat: repeat-x;
    background-position: 0 0, 0 100%;
    background-size: auto;
    color: #fff;
    text-align: center;
    line-height: 1.6;

    @include g-font-spacingKilled(14, 1);

    position: relative;
    * {
      position: relative;
    }

    > span {
      position: absolute;
      pointer-events: none;
      top: 5px;
      bottom: 4px;
      left: 0;
      right: 0;
      background-image: url("../imgs/footer/1/B_B.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: auto;
    }

    p {
      padding: 12px 0 10px;
    }

    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-copyright {
    margin: 0 -15px;
    background: #5f7113;
    color: #fff;
    text-align: center;
    line-height: 1.6;

    @include g-font-spacingKilled(12, 1);

    padding: 8px 0 12px;
    a {
      color: inherit;
    }
  }
}
