@if $device == PC {

  .t0-b-serviceSet#{$variation1of2} {
    $_block: &;
    $_fontSizePx_hd-h: 24;
    $_fontSizePx_hd-caption: 14;
    $_fontSizePx_h_hd: 20;

    $_lineHeightType_hd-h: 1;
    $_lineHeightType_hd-caption: 1;
    $_lineHeightType_h_hd: 1;

    &__hd {
      position: relative;
      padding: 11px 15px;
      background-repeat: no-repeat, repeat-y, repeat-x;
      background-position: left bottom, left top, left bottom;
      background-image: url("../imgs/t0-b-serviceSet/1/1.png"), url("../imgs/t0-b-serviceSet/1/2.png"), url("../imgs/t0-b-serviceSet/1/3.png");
      background-color: #c7e5eb;

      a {
        color: $textcolor;
        text-decoration: none;

        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__hd-caption-upper {
      @include g-font-layout($_fontSizePx_hd-caption, $_lineHeightType_hd-caption, $layout);

      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font-layout($_fontSizePx_hd-caption, $_lineHeightType_hd-caption, $layout);

      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font-layout($_fontSizePx_hd-h, $_lineHeightType_hd-h, $layout);
      }
    }

    &__bd {
      padding: 0;
    }

    &__hd + &__bd {
      padding: 20px 0 0;
    }

    &__textColWithH-hd {
      margin-top: 14px;

      @include g-font-layout($_fontSizePx_h_hd, $_lineHeightType_h_hd, $layout);

      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      a {
        color: $textcolor;
        text-decoration: none;

        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__textColWithH-hd-h {
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-serviceSet/1/4.png");
      background-position: left center;
      border-bottom: 1px solid #a2a2a2;
      padding: 3px 0 3px 10px;
    }

    &__textColWithH-bd {
      background: #f1f5f4;
      border-bottom: 2px solid #97c8ce;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l h3 {
      text-align: left;
    }

    &__textColWithH-hd--align-c h3 {
      text-align: center;
    }

    &__textColWithH-hd--align-r h3 {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;

      &__div {
        width: 100%;
        display: table;

        > div {
          vertical-align: top;
          text-align: left;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 100%;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          width: 100%;
          display: table-header-group;
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            padding: 20px 20px 0;
            box-sizing: border-box;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }
  }

  .t0-b-serviceSet#{$variation2of2} {
    $_block: &;
    $_fontSizePx_hd-h: 24;
    $_fontSizePx_hd-caption: 14;
    $_fontSizePx_h_hd: 22;

    $_lineHeightType_hd-h: 1;
    $_lineHeightType_hd-caption: 1;
    $_lineHeightType_h_hd: 1;

    &__hd {
      padding: 13px 15px 17px;
      background: url("../imgs/t0-b-serviceSet/2/1.png") repeat-x left bottom;
      background-color: #f1f5f4;
      text-align: center;

      a {
        color: $textcolor;
        text-decoration: none;
        position: relative;

        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__hd-caption-upper {
      @include g-font-layout($_fontSizePx_hd-caption, $_lineHeightType_hd-caption, $layout);

      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font-layout($_fontSizePx_hd-caption, $_lineHeightType_hd-caption, $layout);

      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font-layout($_fontSizePx_hd-h, $_lineHeightType_hd-h, $layout);
      }
    }

    &__bd {
      padding: 0 0 10px;
      background: #fff;
      position: relative;
    }

    &__hd + &__bd {
      padding: 20px 0 10px;
    }

    &__textColWithH {
      height: 200px;
      margin: 0 0 6px;
      padding: 20px 20px 0;
      background: #f1f5f4;
      position: relative;
    }

    &__textColWithH-hd {
      width: 50%;
      overflow: hidden;
      position: relative;
      padding: 0 0 8px;
      margin: 0 0 15px;
      border-bottom: 4px solid #45b1c7;
      float: right;
      clear: both;

      h3 {
        text-align: center;
      }

      a {
        color: $textcolor;
        text-decoration: none;

        &:hover {
          color: $hovercolor;
        }
      }
    }

    #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__textColWithH-hd-h {
      @include g-font-layout($_fontSizePx_h_hd, $_lineHeightType_h_hd, $layout);

      padding: 0;
      position: relative;
    }

    .t0-b-layoutSplitter__div {
      width: 100%;
      display: block;
      clear: both;
    }

    .t0-b-layoutSplitter--spacing-4s {
      margin: 0;

      .t0-b-layoutSplitter__div > div {
        padding: 0;
      }
    }

    &__textColWithH-bd {}

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l h3 {
      text-align: left;
    }

    &__textColWithH-hd--align-c h3 {
      text-align: center;
    }

    &__textColWithH-hd--align-r h3 {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;

      &__div {
        width: 100%;

        > div {
          vertical-align: top;
          text-align: left;
        }

        #{$_block}__h {
          display: none;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 50%;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          padding: 0 28px 0 0;
          background: url("../imgs/t0-b-serviceSet/2/2.png") repeat-y right 22px top 0;
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            float: right;
            clear: both;
          }
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col2,
          #{$_block}__row2col2,
          #{$_block}__row3col2,
          #{$_block}__row4col2,
          #{$_block}__row5col2,
          #{$_block}__row6col2,
          #{$_block}__row7col2,
          #{$_block}__row8col2,
          #{$_block}__row9col2,
          #{$_block}__row10col2,
          #{$_block}__row11col2,
          #{$_block}__row12col2,
          #{$_block}__row13col2,
          #{$_block}__row14col2,
          #{$_block}__row15col2,
          #{$_block}__row16col2,
          #{$_block}__row17col2,
          #{$_block}__row18col2,
          #{$_block}__row19col2,
          #{$_block}__row20col2 {
            height: 220px;

            img {
              height: 220px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@if $device == SP {


  .t0-b-serviceSet#{$variation1of2} {
    $_block: &;
    $_fontSizePx_hd-h: 18;
    $_fontSizePx_hd-caption: 14;
    $_fontSizePx_h_hd: 16;

    $_lineHeightType_hd-h: 1;
    $_lineHeightType_hd-caption: 1;
    $_lineHeightType_h_hd: 1;

    * {
      position: relative;
    }

    &__hd {
      position: relative;
      padding: 11px 15px;
      background-repeat: no-repeat, repeat-y, repeat-x;
      background-position: left bottom, left top, left bottom;
      background-image: url("../imgs/t0-b-serviceSet/1/1.png"), url("../imgs/t0-b-serviceSet/1/2.png"), url("../imgs/t0-b-serviceSet/1/3.png");
      background-color: #c7e5eb;

      a {
        color: $textcolor;
        text-decoration: none;
      }
    }

    &__hd-caption-upper {
      @include g-font($_fontSizePx_hd-caption, $_lineHeightType_hd-caption);


      padding: 0 0 5px;
    }

    &__hd-caption-lower {
      @include g-font($_fontSizePx_hd-caption, $_lineHeightType_hd-caption);

      padding: 5px 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font($_fontSizePx_hd-h, $_lineHeightType_hd-h);
      }
    }

    &__bd {
      padding: 0;
    }

    &__hd + &__bd {
      padding: 20px 0 0;
    }

    &__textColWithH-hd {
      margin-top: 14px;

      @include g-font-layout($_fontSizePx_h_hd, $_lineHeightType_h_hd);

      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      a {
        color: $textcolor;
        text-decoration: none;
      }
    }

    &__textColWithH-hd-h {
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-serviceSet/1/4.png");
      background-position: left center;
      border-bottom: 1px solid #a2a2a2;
      padding: 3px 0 3px 10px;
    }

    &__textColWithH-bd {
      background: #f1f5f4;
      border-bottom: 2px solid #97c8ce;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l h3 {
      text-align: left;
    }

    &__textColWithH-hd--align-c h3 {
      text-align: center;
    }

    &__textColWithH-hd--align-r h3 {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;

      &__div {
        width: 100%;
        display: table;

        > div {
          vertical-align: top;
          text-align: left;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 100%;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          width: 100%;
          display: table-header-group;
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            padding: 12px 20px 0;
            box-sizing: border-box;
          }
        }
      }
    }

    &__textColWithH {
      margin-bottom: 20px;
    }

    .t0-b-layoutSplitter .t0-b-layoutSplitter__div {
      &:last-child {
        margin: (-10px) 0 0;
      }
    }
  }

  .t0-b-serviceSet#{$variation2of2} {
    $_block: &;

    &__hd {
      padding: 13px 15px 15px;
      background: url("../imgs/t0-b-serviceSet/2/3.png") repeat-x left bottom;
      background-color: #f1f5f4;
      text-align: center;

      a {
        color: $textcolor;
        text-decoration: none;
        position: relative;
      }
    }

    &__hd-caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px 0;
    }

    &__hd-caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0 0;
    }

    &__hd-h {
      h3 {
        @include g-font(18, 1);

        position: relative;
      }
    }

    &__bd {
      padding: 0 0 10px;
      background: #fff;
      position: relative;
    }

    &__hd + &__bd {
      padding: 20px 0 10px;
    }

    &__textColWithH {
      min-height: 205px;
      margin: 0 0 6px;
      padding: 15px 15px 0;
      background: #f1f5f4;
      position: relative;
      overflow: hidden;
    }

    &__textColWithH-hd {
      width: 50%;
      overflow: hidden;
      position: relative;
      padding: 0 0 8px;
      margin: 0 0 15px;
      border-bottom: 2px solid #45b1c7;
      float: right;
      clear: both;

      h3 {
        text-align: center;
      }

      a {
        color: $textcolor;
        text-decoration: none;
      }
    }

    #{$_block}__twoColsMedia__row1col2 {
      box-sizing: border-box;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__textColWithH-hd-h {
      @include g-font(16, 1);

      padding: 0;
      position: relative;
    }

    .t0-b-layoutSplitter__div {
      width: 100%;
      display: block;
      clear: both;
    }

    .t0-b-layoutSplitter--spacing-4s {
      margin: 0;

      .t0-b-layoutSplitter__div > div {
        padding: 0;
      }
    }

    &__textColWithH-bd {}

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__textColWithH-hd--align-l h3 {
      text-align: left;
    }

    &__textColWithH-hd--align-c h3 {
      text-align: center;
    }

    &__textColWithH-hd--align-r h3 {
      text-align: right;
    }

    &__twoColsMedia {
      $_block: &;

      &__div {
        width: 100%;

        > div {
          vertical-align: top;
          text-align: left;
        }

        #{$_block}__h {
          display: none;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col1 {
          width: 50%;
        }
      }

      @for $_i from 1 through 20 {
        &__row#{$_i}col2 {
          padding: 0 15px 0 0;
          background: url("../imgs/t0-b-serviceSet/2/2.png") repeat-y right 9px top 0;
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col1,
          #{$_block}__row2col1,
          #{$_block}__row3col1,
          #{$_block}__row4col1,
          #{$_block}__row5col1,
          #{$_block}__row6col1,
          #{$_block}__row7col1,
          #{$_block}__row8col1,
          #{$_block}__row9col1,
          #{$_block}__row10col1,
          #{$_block}__row11col1,
          #{$_block}__row12col1,
          #{$_block}__row13col1,
          #{$_block}__row14col1,
          #{$_block}__row15col1,
          #{$_block}__row16col1,
          #{$_block}__row17col1,
          #{$_block}__row18col1,
          #{$_block}__row19col1,
          #{$_block}__row20col1 {
            float: right;
            clear: both;
          }
        }
      }

      @for $_i from 1 through 10 {
        &--spacing-#{$_i}s {
          #{$_block}__row1col2,
          #{$_block}__row2col2,
          #{$_block}__row3col2,
          #{$_block}__row4col2,
          #{$_block}__row5col2,
          #{$_block}__row6col2,
          #{$_block}__row7col2,
          #{$_block}__row8col2,
          #{$_block}__row9col2,
          #{$_block}__row10col2,
          #{$_block}__row11col2,
          #{$_block}__row12col2,
          #{$_block}__row13col2,
          #{$_block}__row14col2,
          #{$_block}__row15col2,
          #{$_block}__row16col2,
          #{$_block}__row17col2,
          #{$_block}__row18col2,
          #{$_block}__row19col2,
          #{$_block}__row20col2 {
            height: 220px;

            img {
              height: 220px;
              width: auto;
            }
          }
        }
      }
    }
  }
}
