@if $device == PC {

  .t0-b-creditCard {
    text-align: center;
    background-color: #fff;
    padding: 15px 10px;
    overflow: hidden;
    border: 2px solid #ccc;

    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 5px 0 5px 10px;

      &:first-child {
        padding-left: 0;
      }
    }

    img {
      width: 54px;
      height: auto;
    }

    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-creditCard {
    text-align: center;
    background-color: #fff;
    padding: 10px 0 10px 10px;
    overflow: hidden;
    border: 2px solid #ccc;

    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 5px 10px 5px 0;
    }

    img {
      width: 54px;
      height: auto;
    }
  }
}
