@if $device == PC {

  .t0-b-fileDownloads {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;

    padding: #{$_blockSpacing} 0 0;

    &:first-child {
      padding-top: 0;
    }

    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;

      @include cf;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    #{$_block}__itemSplit {
      display: table;

      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    #{$_block}__itemIcon {
      padding: 0 15px 0 0;
    }

    &__itemText {
      @include g-font(16, 1);
      #{$_block}--size-2 & {
        @include g-font(20, 1);
      }
      #{$_block}--size-3 & {
        @include g-font(24, 1);
      }
      #{$_block}--size-4 & {
        @include g-font(28, 1);
      }
      #{$_block}--size-5 & {
        @include g-font(32, 1);
      }

      padding-top: 3px;
    }
  }

  .b-downloadIcon {
    @mixin _icon($file,$mag) {
      &--#{$file} {
        $_src: "../imgs/b-downloadIcon/#{$file}.png";

        background: url($_src) 0 0 no-repeat;
        background-size: 30px*$mag;
        width: 30px*$mag;
        height: 30px*$mag;
      }
    }

    display: inline-block;
    vertical-align: middle;

    @include _icon("pdf", 1);
    @include _icon("doc", 1);
    @include _icon("xls", 1);
    @include _icon("img", 1);
    .t0-b-fileDownloads--size-2 & {
      @include _icon("pdf",1.25);
      @include _icon("doc",1.25);
      @include _icon("xls",1.25);
      @include _icon("img",1.25);
    }
    .t0-b-fileDownloads--size-3 & {
      @include _icon("pdf",1.5);
      @include _icon("doc",1.5);
      @include _icon("xls",1.5);
      @include _icon("img",1.5);
    }
    .t0-b-fileDownloads--size-4 & {
      @include _icon("pdf",1.75);
      @include _icon("doc",1.75);
      @include _icon("xls",1.75);
      @include _icon("img",1.75);
    }
    .t0-b-fileDownloads--size-5 & {
      @include _icon("pdf",2);
      @include _icon("doc",2);
      @include _icon("xls",2);
      @include _icon("img",2);
    }
  }
  // safariで下線が付かない不具合のハック
  _::-webkit-full-page-media, _:future, :root .t0-b-fileDownloads__itemText {
     text-decoration:underline;
  }
}

@if $device == SP {

  .t0-b-fileDownloads {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;

    padding: #{$_blockSpacing} 0 0;

    &:first-child {
      padding-top: 0;
    }

    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;

      @include cf;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }

    #{$_block}__itemSplit {
      display: table;

      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    #{$_block}__itemIcon {
      padding: 0 10px 0 0;
    }

    #{$_block}__itemText {
      @include g-font(16, 1);

      text-decoration: underline;
      padding-top: 3px;
    }
  }

  .b-downloadIcon {
    @mixin _icon($file) {
      &--#{$file} {
        $_src: "../imgs/b-downloadIcon/#{$file}.png";

        background: url($_src) 0 0 no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
      }
    }

    display: inline-block;
    vertical-align: middle;

    @include _icon("pdf");
    @include _icon("doc");
    @include _icon("xls");
    @include _icon("img");
  }
}
