@if $device == PC {

    .t0-b-flow3LeftToRight {
    $_block: &;
    width: 100%;
    &__row {
      display: table;
      width: 100%;
      table-layout: fixed;
      padding-bottom: 5%;
      &:last-child {
        padding-bottom: 0;
      }
    }
    &__box {
      display: table-cell;
      vertical-align: top;
      width: (100%-3.5*(3-1))/3;
      #{$_block}--colSpacing-l & {
        width: (100%-6*(3-1))/3;
      }
      #{$_block}--colSpacing-m & {
        width: (100%-3.5*(3-1))/3;
      }
      #{$_block}--colSpacing-s & {
        width: (100%-1*(3-1))/3;
      }
    }
    &__arrow {
      display: table-cell;
      text-align: center;
      font-size: 2em;
      color: #333;
      vertical-align: middle;
      width: 3.2%; // 仕様上3.5pxが正しいが、ブラウザの計算結果、右列の横幅だけ1px小さくなり文字が1文字落ちていた事象に対する数値の変更
      #{$_block}--colSpacing-l & {
        width: 6%;
      }
      #{$_block}--colSpacing-m & {
        width: 3.2%; // 仕様上3.5pxが正しいが、ブラウザの計算結果、右列の横幅だけ1px小さくなり文字が1文字落ちていた事象に対する数値の変更
      }
      #{$_block}--colSpacing-s & {
        width: 1%;
      }
    }
  }
}

@if $device == SP {

  .t0-b-flow3LeftToRight {
    $_block: &;
    width: 100%;
    &__box {
      padding-bottom: 15px;
    }
    &__row {
      &:last-child {
        .t0-b-flow3LeftToRight__box {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
