@if $device == PC {
  .t0-b-freeHtml {
    overflow: hidden;

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }

    div {
      text-align: center;

      > * {
        max-width: 100%;
        margin: 0 auto !important;
      }

      > span {
        width: auto;
      }
    }
  }
}

@if $device == SP {

  .t0-b-freeHtml {
    text-align: center;
    overflow: auto;

    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}
