@if $device == PC {

  .t0-b-orderedList {
    $_block: &;

    padding-bottom: 8px;

    li {
      background: url("../imgs/t0-b-orderedList/1.png") no-repeat 0 0;
      padding: 0;
      display: table;

      > #{$_block}__num {
        display: table-cell;
        vertical-align: top;
        width: 32px;
        margin: 0;

        @include g-font(20, 1);

        height: 32px;
        line-height: 20px;
        padding: 5px 0 0 0;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
        font-family: "游ゴシック体 ミディアム", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
      }

      #{$_block}__text {
        @include g-font(16, 1);

        padding: 6px 0 0 12px;
        display: table-cell;
        vertical-align: top;
      }
    }

    a {
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-orderedList {
    $_block: &;

    li {
      background: url("../imgs/t0-b-orderedList/1.png") no-repeat 0 0;
      padding: 0;
      display: table;

      > #{$_block}__num {
        display: table-cell;
        vertical-align: top;
        width: 32px;
        margin: 0;

        @include g-font(20, 1);

        height: 32px;
        line-height: 20px;
        padding: 5px 0 0 0;
        text-align: center;
        box-sizing: border-box;
        color: #fff;
        font-family: "游ゴシック体 ミディアム", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
      }

      #{$_block}__text {
        @include g-font(16, 1);

        padding: 6px 0 0 8px;
        display: table-cell;
        vertical-align: top;
      }
    }
  }
}
