@if $device == PC {
  .t0-b-lv4H#{$variation1of4} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 16;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 13px 5px 23px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      padding: 0 3px 3px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 3px;
        top: 3px;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/2.png") repeat-x 3px bottom, url("../imgs/t0-b-lv4H/2.png") repeat-y right 3px;
        z-index: 1;
      }

      h4 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);

        padding: 10px 10px 10px 23px;
        padding: 10px 10px 10px 23px\0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 42px;
        background: url("../imgs/t0-b-lv4H/1.png") no-repeat 9px center;
        background-size: 5px 24px;
        background-color: #f1f5f4;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 13px 0 23px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
          min-height: 42px * 0.8;
          background-size: (5px * 0.8) (24px * 0.8);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          min-height: 42px * 1.2;
          background-size: (5px * 1.2) (24px * 1.2);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        h4 {
          color: $hovercolor;
        }
      }
    }
  }

  .t0-b-lv4H#{$variation2of4} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 16;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 13px 5px 23px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      padding: 0 3px 3px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 3px;
        top: 3px;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/2.png") repeat-x 3px bottom, url("../imgs/t0-b-lv4H/2.png") repeat-y right 3px;
        z-index: 1;
      }

      h4 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);

        padding: 10px 10px 10px 23px;
        padding: 10px 10px 10px 23px\0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 42px;
        background: url("../imgs/t0-b-lv4H/1.png") no-repeat 9px center;
        background-size: 5px 24px;
        background-color: #1c8aa1;
        color: #fff;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 13px 0 23px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
          min-height: 42px * 0.8;
          background-size: (5px * 0.8) (24px * 0.8);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          min-height: 42px * 1.2;
          background-size: (5px * 1.2) (24px * 1.2);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        h4 {
          color: $hovercolor;
        }
      }
    }
  }


  .t0-b-lv4H#{$variation3of4} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 16;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    text-align: center;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 10px 5px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      padding: 0 0 4px 8px;
      position: relative;
      background: url("../imgs/t0-b-lv4H/3.png") no-repeat left bottom, url("../imgs/t0-b-lv4H/3.png") no-repeat 4px bottom;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        bottom: 4px;
        right: 0;
        background: url("../imgs/t0-b-lv4H/3.png") repeat-y 0 0, url("../imgs/t0-b-lv4H/3.png") repeat-y 4px 0;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 8px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/3.png") repeat-x left bottom;
        z-index: 1;
      }

      h4 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
        padding: 10px 10px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 34px;
        background-color: #eeecd9;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 10px 0;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
          min-height: 34px * 0.8;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          min-height: 34px * 1.2;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        h4 {
          color: $hovercolor;
        }
      }
    }
  }

  .t0-b-lv4H#{$variation4of4} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 16;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    text-align: center;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 10px 5px;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      padding: 0 0 4px 8px;
      position: relative;
      background: url("../imgs/t0-b-lv4H/4.png") no-repeat left bottom, url("../imgs/t0-b-lv4H/4.png") no-repeat 4px bottom;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        bottom: 4px;
        right: 0;
        background: url("../imgs/t0-b-lv4H/4.png") repeat-y 0 0, url("../imgs/t0-b-lv4H/4.png") repeat-y 4px 0;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 8px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/4.png") repeat-x left bottom;
        z-index: 1;
      }

      h4 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
        padding: 10px 10px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 34px;
        background-color: #8fd0dd;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 10px 0;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
          min-height: 34px * 0.8;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h4 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          min-height: 34px * 1.2;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        h4 {
          color: $hovercolor;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv4H#{$variation1of4} {
    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 13px 5px 23px;
    }

    &__bd {
      padding: 0 3px 3px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 3px;
        top: 3px;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/2.png") repeat-x 3px bottom, url("../imgs/t0-b-lv4H/2.png") repeat-y right 3px;
        z-index: 1;
      }

      h4 {
        @include g-font(20, 1);

        padding: 5px 10px 5px 23px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 42px;
        background: url("../imgs/t0-b-lv4H/1.png") no-repeat 9px center;
        background-color: #f1f5f4;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 13px 0 23px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .t0-b-lv4H#{$variation2of4} {
    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 13px 5px 23px;
    }

    &__bd {
      padding: 0 3px 3px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 3px;
        top: 3px;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/2.png") repeat-x 3px bottom, url("../imgs/t0-b-lv4H/2.png") repeat-y right 3px;
        z-index: 1;
      }

      h4 {
        @include g-font(20, 1);

        padding: 5px 10px 5px 23px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 42px;
        background: url("../imgs/t0-b-lv4H/1.png") no-repeat 9px center;
        background-color: #1c8aa1;
        color: #fff;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 13px 0 23px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .t0-b-lv4H#{$variation3of4} {
    text-align: center;

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 10px 5px;
    }

    &__bd {
      padding: 0 0 4px 8px;
      position: relative;
      background: url("../imgs/t0-b-lv4H/3.png") no-repeat left bottom, url("../imgs/t0-b-lv4H/3.png") no-repeat 4px bottom;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        bottom: 4px;
        right: 0;
        background: url("../imgs/t0-b-lv4H/3.png") repeat-y 0 0, url("../imgs/t0-b-lv4H/3.png") repeat-y 4px 0;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 8px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/3.png") repeat-x left bottom;
        z-index: 1;
      }

      h4 {
        @include g-font(20, 1);

        padding: 5px 10px 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 34px;
        background-color: #eeecd9;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 10px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .t0-b-lv4H#{$variation4of4} {
    text-align: center;

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 10px 5px;
    }

    &__bd {
      padding: 0 0 4px 8px;
      position: relative;
      background: url("../imgs/t0-b-lv4H/4.png") no-repeat left bottom, url("../imgs/t0-b-lv4H/4.png") no-repeat 4px bottom;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        bottom: 4px;
        right: 0;
        background: url("../imgs/t0-b-lv4H/4.png") repeat-y 0 0, url("../imgs/t0-b-lv4H/4.png") repeat-y 4px 0;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 8px;
        top: 0;
        bottom: 0;
        right: 0;
        background: url("../imgs/t0-b-lv4H/4.png") repeat-x left bottom;
        z-index: 1;
      }

      h4 {
        @include g-font(20, 1);

        padding: 5px 10px 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 34px;
        background-color: #8fd0dd;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 10px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
