@if $device == PC {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    // fontSize
    $_fontSizePx_h: 24;
    $_fontSizePx_caption: 14;
    // 小さい、大きいサイズの標準からの変化分
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    $_background-size: 54px;
    $_fontFamily_icon: "游明朝体 デミボールド", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

    a {
      display: block;
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }

      #{$_block}__h {
        color: $textcolor;
        &:hover {
          color: $hovercolor;
        }
      }

    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: $_background-size;
      padding-right: 10px;
      text-align: left;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-numIcon__icon/#{$type}/bg.png";

        background-image: url($_src);
        width: 54px;
        height: 54px;
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      display: inline-block;
      vertical-align: middle;
      width: $_background-size;
      height: $_background-size;
      background-size: $_background-size;
      background-position: 0 0;
      background-repeat: no-repeat;
      overflow: hidden;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              // 背景が影付きのため、影の分だけ小さくする。
              width: ($_background-size - 3px);
              padding-top: 25px;
              @include g-font(26, 0);
              line-height: 1;

              font-family: $_fontFamily_icon;
              text-align: center;
            }
          }
        }
      }
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: $_background-size * .8;
      }
      #{$_block}__icon {
        background-size: $_background-size * .8;
        width: $_background-size * .8;
        height: $_background-size * .8;
        &:before {
          width: ($_background-size - 3px) * .8;
          padding-top: 19px;
          @include g-font(20, 0);
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__iconPlacer {
        width: $_background-size * 1.2;
      }
      #{$_block}__icon {
        background-size: $_background-size * 1.2;
        width: $_background-size * 1.2;
        height: $_background-size * 1.2;
        &:before {
          width: ($_background-size - 3px) * 1.2;
          padding-top: 28px;
          @include g-font(32, 0);
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }

  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_block: &;
    // fontSize
    $_fontSizePx_h: 24;
    $_fontSizePx_caption: 14;
    // 小さい、大きいサイズの標準からの変化分
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    $_background-size-x: 94px;
    $_background-size-y: 49px;
    $_fontFamily_icon: "小塚ゴシック Pr6N M", "游ゴシック体 ボールド", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

    a {
      display: block;
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }

      #{$_block}__h {
        color: $textcolor;
        &:hover {
          color: $hovercolor;
        }
      }

    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: $_background-size-x;
      padding-right: 10px;
      text-align: left;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-numIcon2__icon/#{$type}/bg.png";

        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      display: inline-block;
      vertical-align: middle;
      width: $_background-size-x;
      height: $_background-size-y;
      background-size: $_background-size-x $_background-size-y;
      background-position: 0 0;
      background-repeat: no-repeat;
      overflow: hidden;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              // 背景の中で文字指定するエリア指定
              width: 44px;
              padding-left: 50px;
              padding-top: 7px;
              @include g-font(34, 0);
              line-height: 1;

              font-family: $_fontFamily_icon;
              text-align: center;
            }
          }
        }
      }
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding-bottom: 3px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding-top: 3px;
    }

    &__caption-upper + &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: $_background-size-x * .8;
      }
      #{$_block}__icon {
        background-size: ($_background-size-x * .8) ($_background-size-y * .8);
        width: $_background-size-x * .8;
        height: $_background-size-y * .8;
        &:before {
          width: 44px * .8;
          padding-left: 50px * .8;
          padding-top: 7px * .8;
          @include g-font(28, 0);
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__iconPlacer {
        width: $_background-size-x * 1.2;
      }
      #{$_block}__icon {
        background-size: ($_background-size-x * 1.2) ($_background-size-y * 1.2);
        width: $_background-size-x * 1.2;
        height: $_background-size-y * 1.2;
        &:before {
          width: 44px * 1.2;
          padding-left: 50px * 1.2;
          padding-top: 7px * 1.2;
          @include g-font(40, 0);
        }
      }


      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_background-size: 40px;
    $_fontFamily_icon: "游明朝体 デミボールド", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

    a {
      text-decoration: none;
      color: $textcolor;
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px 0 0;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-numIcon__icon/#{$type}/bg.png";

        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: $_background-size;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: $_background-size;
      height: $_background-size;
      overflow: hidden;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              padding-top: 18px;
              width: $_background-size - 1px;

              @include g-font(16, 0);
              line-height: 1;

              font-family: $_fontFamily_icon;
              text-align: center;
            }
          }
        }
      }
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font($_fontSizePx_h, $_lineHeightType_caption);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 3px 0 0;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }

  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_block: &;

    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    $_background-size-x: 37.6px;
    $_background-size-y: 40px;
    $_fontFamily_icon: "小塚ゴシック Pr6N M", "游ゴシック体 ボールド", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

    a {
      text-decoration: none;
      color: $textcolor;
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px 0 0;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-numIcon2__icon/sp/#{$type}/bg.png";

        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;

      background-size: $_background-size-x $_background-size-y;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: $_background-size-x;
      height: $_background-size-y;
      overflow: hidden;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              color: #fff;
              padding-top: 18px;

              @include g-font(16, 0);
              line-height: 1;

              font-family: $_fontFamily_icon;
              text-align: center;
            }
          }
        }
      }
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font($_fontSizePx_h, $_lineHeightType_h);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 3px 0 0;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
