@if $device == PC {

  .t0-b-lv5H#{$variation1of2} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    display: table;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);

      padding: 0 0 5px 17px;
    }

    &__bd {
      h5 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);

        background: url("../imgs/t0-b-lv5H/bg.png") no-repeat 0 center;
        background-size:7px;
        padding: 0 0 0 17px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);

      padding: 5px 0 0 17px;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h5 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
          background-size:7px*.8;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h5 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          background-size:7px*1.2;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }


    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 10px 5px;
    }

    &__bd {
      padding-bottom: 4px;
      border-bottom: 2px solid #777;

      h5 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);

        padding: 0 10px;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);

      padding: 5px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h5 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
      #{$_block}__bd {
        h5 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
          background-size:7px*1.2;
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv5H#{$variation1of2} {
    $_block: &;
    $_fontSizePx_bd: 18;
    $_fontSizePx_caption: 14;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;

    display: table;

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 0 0 5px 17px;
    }

    &__bd {
      h5 {
        @include g-font($_fontSizePx_bd, $_lineHeightType_bd);

        background: url("../imgs/t0-b-lv5H/bg.png") no-repeat 0 center;
        padding: 0 0 0 17px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 5px 0 0 17px;
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    $_block: &;
    $_fontSizePx_bd: 18;
    $_fontSizePx_caption: 14;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    
    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 0 0 5px;
    }

    &__bd {
      padding-bottom: 4px;
      border-bottom: 2px solid #777;

      h5 {
        @include g-font($_fontSizePx_bd, $_lineHeightType_bd);

        padding: 0 0 0;
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);

      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
