@if $device == PC {

  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;

    line-height: 0;

    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;

      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(22, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 3px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(20, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(20, 1);
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }

      $_types: number;

      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 42px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;

    line-height: 0;

    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;

      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(22, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 3px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(20, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(20, 1);
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }

      $_types: number;

      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv4H-num2Icon#{$variation1of2} {
    $_block: &;

    line-height: 0;

    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;

      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 3px 0 0;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }

      $_types: number;

      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 42px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }

  .t0-b-lv4H-num2Icon#{$variation2of2} {
    $_block: &;

    line-height: 0;

    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;

      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 3px;
    }

    &__h {
      @include g-font(18, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 3px 0 0;
    }

    &__icon {
      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/t0-b-lv4H-num2Icon2__icon/#{$type}/#{$index}.png";

        background-image: url($_src);
      }

      $_types: number;

      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      vertical-align: middle;

      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
