@if $device == PC {

  .t0-b-getAdobeReader {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;

    padding: #{$_blockSpacing} 0 0;

    &:first-child {
      padding-top: 0;
    }

    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;

      @include cf;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    #{$_block}__itemSplit {
      display: table;

      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    #{$_block}__itemIcon {
      padding: 0 15px 0 0;
    }

    #{$_block}__itemText {
      @include g-font(16, 1);
    }
  }
}

@if $device == SP {

  .t0-b-getAdobeReader {
    $_block: &;
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_blockSpacing: #{$g-spacingBaseLength * 4}px;

    padding: #{$_blockSpacing} 0 0;

    &:first-child {
      padding-top: 0;
    }

    #{$_block}__item {
      padding: #{$_itemSpacing} 0 0;

      @include cf;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      color: $textcolor;
      text-decoration: none;
    }

    #{$_block}__itemSplit {
      display: table;

      > span {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    #{$_block}__itemIcon {
      padding: 0 10px 0 0;
    }

    #{$_block}__itemText {
      @include g-font(16, 1);

      text-decoration: underline;
    }
  }
}
