@if $device == PC {

  .t0-b-sideBoxLv2H {
    display: table;

    h6 {
      @include g-font(18, 1);

      background: url("../imgs/t0-b-sideBoxLv2H/1.png") no-repeat 0 center;
      padding-left: 11px;
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    h6 {
      @include g-font(16, 1);

      background: url("../imgs/t0-b-sideBoxLv2H/1.png") no-repeat 0 center;
      padding-left: 11px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
