@if $device == PC {

  .t0-b-sideBoxMediaBox {
    $_block: &;

    > div {
      display: table-cell;
      vertical-align: top;
      text-align: left;
    }

    &__text {
      width: 100%;
      padding: 0 0 0 8px;

      p {
        @include g-font(16, 1);

        padding: 10px 0 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }

    &__media {
      img {
        display: block;
        width: 70px;
        height: auto;
      }
    }

    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &--imgR {
      direction: rtl;

      #{$_block}__text {
        padding: 0 8px 0 0;
      }
    }

    &--imgR {
      &.ex-imageFloat{
        > div {
          display: block;
        }

        #{$_block}__text {
          padding: 0;
        }

        #{$_block}__media {
          float: right;
          padding: 0 0 8px 8px;
        }

        .clearfix {
          clear: right;
        }
      }
    }

    &--imgL {
      &.ex-imageFloat{
        > div {
          display: block;
        }

        #{$_block}__text {
          padding: 0;
        }

        #{$_block}__media {
          float: left;
          padding: 0 8px 8px 0;
        }

        .clearfix {
          clear: left;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-sideBoxMediaBox {
    $_block: &;

    > div {
      display: table-cell;
      vertical-align: top;
      text-align: left;
    }

    &__text {
      width: 100%;
      padding: 0 0 0 8px;

      p {
        @include g-font(16, 1);

        padding: 10px 0 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }

    &__media {
      img {
        display: block;
        width: 70px;
        height: auto;
      }
    }

    &--imgR {
      direction: rtl;

      #{$_block}__text {
        padding: 0 8px 0 0;
      }
      &.ex-imageFloat{
        > div {
          display: block;
        }

        #{$_block}__text {
          padding: 0;
        }

        #{$_block}__media {
          float: right;
          padding: 0 0 8px 8px;
        }

        .clearfix {
          clear: right;
        }
      }
    }

    &--imgL {
      &.ex-imageFloat{
        > div {
          display: block;
        }

        #{$_block}__text {
          padding: 0;
        }

        #{$_block}__media {
          float: left;
          padding: 0 8px 8px 0;
        }

        .clearfix {
          clear: left;
        }
      }
    }

  }
}
