@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    overflow: hidden;

    .admin & {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

@if $device == SP {

  .t0-b-sideBoxFreeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;

    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

    .admin & {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
