@if $device == PC {

  .t0-b-lv1H-pageH#{$variation1of2} {

    margin: 0 auto;

    > div {
      background-color: #f1f5f4;
    }

    a {
      text-decoration: none;
      margin-left: 0;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    &__main {
      @include g-font(32, 1);

      width: 1060px;
      margin: 0 auto;
      background: url("../imgs/t0-b-lv1H-pageH/1/1.png") no-repeat 0 center;
      padding: 40px 10px 40px 31px;
      box-sizing: border-box;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {

    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    color: #fff;

    > div {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-lv1H-pageH/2/bg.png"), url("../imgs/t0-b-lv1H-pageH/2/bg2.png"), url("../imgs/t0-b-lv1H-pageH/2/bg3.png"), url("../imgs/t0-b-lv1H-pageH/2/bg4.png"), url("../imgs/t0-b-lv1H-pageH/2/bg5.png"), url("../imgs/t0-b-lv1H-pageH/2/bg6.png"), url("../imgs/t0-b-lv1H-pageH/2/bg7.png"), url("../imgs/t0-b-lv1H-pageH/2/bg8.png");
      position: relative;
      background-color: #333;
    }

    a {
      text-decoration: none;
      margin-left: 0;
      color: #fff;

      &:hover {
        color: $hovercolor;
      }
    }

    &__main {
      @include g-font(30, 1);

      padding: 37px 20px;
      position: relative;
      text-align: center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-pageH#{$variation1of2} {
    margin: 0 -15px;

    > div {
      background-color: #f1f5f4;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }

    &__main {
      @include g-font(18, 1);

      background: url("../imgs/t0-b-lv1H-pageH/1/1.png") no-repeat 15px center;
      background-size: 10px 30px;
      padding: 30px 15px 30px 35px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    margin: 0 -15px;
    position: relative;
    color: #fff;

    > div {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
      background-image: url("../imgs/t0-b-lv1H-pageH/2/bg.png"), url("../imgs/t0-b-lv1H-pageH/2/bg2.png"), url("../imgs/t0-b-lv1H-pageH/2/bg3.png"), url("../imgs/t0-b-lv1H-pageH/2/bg4.png"), url("../imgs/t0-b-lv1H-pageH/2/bg5.png"), url("../imgs/t0-b-lv1H-pageH/2/bg6.png"), url("../imgs/t0-b-lv1H-pageH/2/bg7.png"), url("../imgs/t0-b-lv1H-pageH/2/bg8.png");
      position: relative;
      background-color: #333;
    }

    a {
      text-decoration: none;
      margin-left: 0;
      color: #fff;
    }

    &__main {
      @include g-font(18, 1);

      padding: 30px 15px;
      position: relative;
      text-align: center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
