@if $device == PC {

  .t0-b-headerUnit-siteName,
  .t0-b-headerUnit-siteTitle {
    $_block: &;

    white-space: nowrap;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: 0.8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding-right: 10px;

      img {
        display: block;
        max-width: 160px;
        height: 45px;
      }
    }

    &__bd-note {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font(24, 1);
      font-weight: bold;
    }

    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    //ヘッダーセット（３列）に合わせた見た目にする
    .t0-b-headerCombi#{$variation1of2} &,
    .t0-b-headerCombi#{$variation2of2} &{
      margin: 0;
    }

    //ヘッダーセット（中央）に合わせた見た目にする
    .t0-b-headerSingle &__bd {
      margin: 0 auto;
    }
  }

  .t0-b-headerUnit-siteTitle2 {
    $_block: &;

    white-space: nowrap;
    color: #fff;
    margin: 0 auto;
    display: table;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: 0.8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      margin: 0 auto;

      > div {
        display: table;
        vertical-align: middle;
        text-align: center;
      }
    }

    &__bd-logo {
      padding-bottom: 10px;
      margin: 0 auto;

      img {
        display: block;
        max-width: 160px;
        height: 45px;
      }
    }

    &__bd-note {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }

    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    //ヘッダーセット（３列）に合わせた見た目にする
    .t0-b-headerCombi#{$variation1of2} &,
    .t0-b-headerCombi#{$variation2of2} &{
      margin: 0;
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-siteName,
  .t0-b-headerUnit-siteTitle {
    $_block: &;

    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding-right: 10px;

      img {
        display: block;
        height: 45px;
        max-width: 160px;
      }
    }

    &__bd-note {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font(24, 1);
      font-weight: bold;
    }

    &__ft {
      @include g-font(14, 1);
      text-align: left;
      padding-top: 5px;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &__bd,
    .t0-b-headerSingle#{$variation2of2} &__bd{
      margin: 0 auto;
    }
  }

  .t0-b-headerUnit-siteTitle2 {
    $_block: &;

    color: #fff;
    margin: 0 auto;
    display: table;

    a {
        color: #fff;
        text-decoration: none;
      }

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      margin: 0 auto;

      > div {
        display: table;
        vertical-align: middle;
        text-align: center;
      }
    }

    &__bd-logo {
      padding-bottom: 10px;
      margin: 0 auto;

      img {
        display: block;
        height: 45px;
        max-width: 160px;
      }
    }

    &__bd-note {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }

    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerSingle#{$variation1of2} &__bd,
    .t0-b-headerSingle#{$variation2of2} &__bd{
      margin: 0 auto;
    }
  }
}
