@if $device == PC {

  .t0-b-headerUnit-siteName,
  .t0-b-headerUnit-siteTitle {

    $_block: &;

    white-space: nowrap;
    color: #fff;

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;

      img {
        display: block;
        max-width: 125px;
        height: 65px;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: 0.8;
        }
      }
    }

    &__bd-note {
      @include g-font(16, 1);

      margin: 0 0 5px;
      padding: 0;
    }

    &__bd-siteName {
      @include g-font(34, 1);
    }

    &__bd-note + &__bd-siteName {
      @include g-font(30, 1);
    }

    &__ft {
      @include g-font(16, 1);

      padding: 10px 0 0;
    }

    .t0-b-headerCombi &,
    .t0-b-headerCombi1 & {
      margin: 0;
    }
    .t0-b-headerSingle &__bd {
      margin: 0 auto;
    }
  }

  .t0-b-headerUnit-siteTitle2 {

    $_block: &;

    white-space: nowrap;
    color: #fff;
    margin: 0 auto;
    display: table;

    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      margin: 0 auto;

      > div {
        display: table;
        vertical-align: middle;
        text-align: center;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;
      margin: 0 auto;
      padding: 0;

      img {
        display: block;
        max-width: 125px;
        height: 65px;
      }
    }

    &__bd-textCol {
      padding-top: 10px;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: 0.8;
        }
      }
    }

    &__bd-note {
      @include g-font(16, 1);
      margin: 0 0 5px;
      padding: 0;
    }

    &__bd-siteName {
      @include g-font(34, 1);
    }

    &__bd-note + &__bd-siteName {
      @include g-font(30, 1);
    }

    &__ft {
      @include g-font(16, 1);
      padding: 10px 0 0;
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-siteName,
  .t0-b-headerUnit-siteTitle {
    &--has-width {
      white-space: normal;
    }

    color: #fff;

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;

      img {
        display: block;
        height: 40px;
        max-width: 80px;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    &__bd-textCol {
      @include g-font(14, 1);
    }

    &__bd-note {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__bd-siteName {
      @include g-font(18, 1);
    }

    &__ft {
      @include g-font(14, 1);
      text-align: left;
      padding: 10px 0 0;
    }
  }

  .t0-b-headerUnit-siteTitle2 {
    color: #fff;
    margin: 0 auto;
    display: table;

      &--has-width {
        white-space: normal;
      }

      &__bd {
        display: table;
        margin: 0 auto;

        > div {
          display: table;
          vertical-align: middle;
          text-align: center;
        }
      }

      &__bd-logo {
        margin: 0 auto;
        padding: 0;

        img {
          display: block;
          height: 40px;
          max-width: 80px;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      &__bd-textCol {
        @include g-font(14, 1);
        padding-top: 10px;
      }

      &__bd-note {
        @include g-font(14, 1);

        padding: 0 0 5px;
      }

      &__bd-siteName {
        @include g-font(18, 1);
      }

      &__ft {
        @include g-font(14, 1);

        padding: 10px 0 0;
      }
  }
}
