@if $device == PC {
  .t0-b-headerUnit-siteName2 {
    $_block: &;

    &__bd {
      img {
        display: block;
        max-width: 100%;
        min-width: 300px;
        width: 100%;
      }
    }

    a {
      > img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__ft {
      @include g-font(16, 2);

      color: #fff;
      padding-top: 5px;
      a {
        color: inherit;
      }
      a:hover {
        color: $hovercolor;
      }
    }

    &--width-l {
      img {
        width: 100%;
      }
    }
    &--width-m {
      img {
        width: 75%;
      }
    }
    &--width-s {
      img {
        width: 50%;
      }
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      &__ft {
        color: $textcolor;
        a {
          color: inherit;
        }
        a:hover {
          color: $hovercolor;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-siteName2 {
    $_block: &;

    &__bd {
      img {
        display: block;
        width: 100%;
      }
    }

    &__ft {
      @include g-font(14, 1);
      padding-top: 5px;
      color: #fff;
    }

    &--width-l {
      img {
        width: 100%;
      }
    }
    &--width-m {
      img {
        width: 75%;
      }
    }
    &--width-s {
      img {
        width: 50%;
      }
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      &__ft {
        color: $textcolor;
      }
    }
  }
}
