@if $device == PC {

  .t0-b-headerUnit-text {
    $_block: &;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #777;
    $_color_table_th_bg: #c1dbe0;
    $_color_table_td_typo: $textcolor;

    white-space: nowrap;
    color: #fff;
    min-height: 24px;

    th, td {
      > table:first-child {
        margin-top: 0;
      }

      > ul:first-child {
        margin-top: 0;
      }

      > ol:first-child {
        margin-top: 0;
      }

      > p:first-child {
        margin-top: 0;
      }

      > hr:first-child {
        margin-top: 0;
      }
    }


    a {
      color: #fff;

      &:hover {
        color: $hovercolor;
      }
    }

    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    ol {
      padding: 0 0 0 25px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;

      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;

        &:first-child {
          margin-top: 0;
        }

        // IEはlist-itemのpseudo elementにバグあり。その対応
        &:before,
        &:after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul {
      padding: 0 0 0 25px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;

      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;

        &:first-child {
          margin-top: 0;
        }

        // IEはlist-itemのpseudo elementにバグあり。その対応
        &:before,
        &:after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;

      tr {
        border-right: 1px solid $_color_table_border;

        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 10px 5px;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul,
      ol {
        font-size: $baseFontSize;

        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th {
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
        color: $textcolor;

        a {
          color: $textcolor;
        }
      }

      td {
        color: $textcolor;

        a {
          color: $textcolor;
        }
      }
    }

    > table:first-child {
      margin-top: 0;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-text {
    $_block: &;

    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #777;
    $_color_table_th_bg: #c1dbe0;
    $_color_table_td_typo: $textcolor;

    color: #fff;

    th, td {
      > table:first-child {
        margin-top: 0;
      }

      > ul:first-child {
        margin-top: 0;
      }

      > ol:first-child {
        margin-top: 0;
      }

      > p:first-child {
        margin-top: 0;
      }

      > hr:first-child {
        margin-top: 0;
      }
    }

    a {
      color: #fff;
    }

    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    ol {
      padding: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;

      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;

        &:first-child {
          margin-top: 0;
        }

        // IEはlist-itemのpseudo elementにバグあり。その対応
        &:before,
        &:after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul {
      padding: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;

      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;

        &:first-child {
          margin-top: 0;
        }

        // IEはlist-itemのpseudo elementにバグあり。その対応
        &:before,
        &:after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;

      tr {
        border-right: 1px solid $_color_table_border;

        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }

      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
        background: #fff;
      }

      ul,
      ol {
        font-size: $baseFontSize;

        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th {
        border-bottom: 1px solid $_color_table_border;
        background: $_color_table_th_bg;
        color: $textcolor;

        a {
          color: $textcolor;
        }
      }

      td {
        color: $textcolor;

        a {
          color: $textcolor;
        }
      }
    }

    > table:first-child {
      margin-top: 0;
    }

    //ヘッダーセットのバリエーション２（背景色：白）に合わせた見た目にする
    .t0-b-headerCombi#{$variation2of2} &,
    .t0-b-headerSingle#{$variation2of2} &{
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }
  }
}
