@if $device == PC {

  .t0-b-footerMedia {
    $_width_content: 1100px;

    > div {
      width: $_width_content;
      margin: 0 auto;

      a {
        display: block;

        > img {
          &:hover {
            opacity: 0.8;
          }
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &--width-l > div img {
      width: 100%;
    }

    &--width-m > div img {
      width: 75%;
    }

    &--width-s > div img {
      width: 50%;
    }
  }
}

@if $device == SP {

  .t0-b-footerMedia {
    margin: 0 -15px;
    overflow: hidden;

    a > div,
    > div {
      width: 100%;
      margin: 0 auto;

      a {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &--width-l > div img {
      width: 100%;
    }

    &--width-m > div img {
      width: 75%;
    }

    &--width-s > div img {
      width: 50%;
    }
  }
}
