@if $device == PC {

  .t0-b-footerUnit-lv1H {

    color: #fff;

    h4 {
      @include g-font(18, 1);

      white-space: nowrap;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv1H {
    color: #fff;

    h4 {
      @include g-font(16, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
