@if $device == PC {
  .t0-b-footerCombi#{$variation1of2} {
    $_width_content: 1100px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    background-image: url("../imgs/area-all/1.png");
    background-position: left top;
    background-repeat: repeat;

    > div {
      width: $_width_content;
      padding: 27px 0 10px;
      margin: 0 auto;
      display: table;

      > div {
        display: table-cell;
        vertical-align: top;
      }
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }

  .t0-b-footerCombi#{$variation2of2} {
    $_width_content: 1100px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    > div {
      width: $_width_content;
      padding: 27px 0 10px;
      margin: 0 auto;
      display: table;

      > div {
        display: table-cell;
        vertical-align: top;
      }
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }
}

@if $device == SP {

  .t0-b-footerCombi#{$variation1of2}  {
   margin: 0 -15px;
    padding: 10px 15px;

    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    background-image: url("../imgs/area-all/1.png");
    background-position: left top;
    background-repeat: repeat;

    > div {
      width: 100%;
      margin: 0 auto;

      > div {
        vertical-align: top;
      }
    }

    &__col1 {
      width: 100%;
    } 
  }

  .t0-b-footerCombi#{$variation2of2}  {
    margin: 0 -15px;
    padding: 10px 15px;

    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    > div {
      width: 100%;
      margin: 0 auto;

      > div {
        vertical-align: top;
      }
    }

    &__col1 {
      width: 100%;
    }
  }
}
