@if $device == PC {


  
  .t0-b-footerFullWidthFrame,
  .t0-b-footerFullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-footerFullWidthFrame3,
  .t0-b-footerFullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-footerFullWidthFrame5,
  .t0-b-footerFullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-footerFullWidthFrame7,
  .t0-b-footerFullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-footerFullWidthFrame9,
  .t0-b-footerFullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }
}

@if $device == SP {


  .t0-b-footerFullWidthFrame,
  .t0-b-footerFullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-footerFullWidthFrame3,
  .t0-b-footerFullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-footerFullWidthFrame5,
  .t0-b-footerFullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-footerFullWidthFrame7,
  .t0-b-footerFullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-footerFullWidthFrame9,
  .t0-b-footerFullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }
}
