@if $device == PC {

  .t0-b-headerSingle#{$variation1of2} {
    $_width_content: 1100px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    padding-top: 5px;
    box-sizing: border-box;
    background: #262626;

    * {
      white-space: normal;
    }

    &__hd {
      text-align: center;

      > p {
        width: $_width_content;
        margin: 0 auto;
        @include g-font(16, 1);
        color: #fff;
      }
    }

    &__bd {

      > div {
        display: block;
        width: $_width_content;
        margin: 0 auto;

        > div {
          display: table;
          max-width: $_width_content;
          text-align: center;
          vertical-align: top;
          padding-top: $_colSpacing;
          margin: 0 auto;
        }
      }
    }
  }

  .t0-b-headerSingle#{$variation2of2} {
    $_width_content: 1100px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    padding-top: 5px;
    box-sizing: border-box;
    background: #fff;

    * {
      white-space: normal;
    }

    &__hd {
      text-align: center;

      > p {
        width: $_width_content;
        margin: 0 auto;
        @include g-font(16, 1);
        color: $textcolor;
      }
    }

    &__bd {

      > div {
        display: block;
        width: $_width_content;
        margin: 0 auto;

        > div {
          max-width: $_width_content;
          display: table;
          text-align: center;
          vertical-align: top;
          margin: 0 auto;
          padding-top: $_colSpacing;
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-headerSingle#{$variation1of2} {
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    background-repeat: repeat-x;
    background-position: left top;
    background: #262626;
    margin: 0 -15px;
    padding: 20px 15px 0;

    &__hd {
      margin-bottom: 10px;
      text-align: center;

      > p {
        width: 100%;
        margin: 0 auto;
        @include g-font(14, 1);
        color: #fff;
      }
    }

    &__bd {
      > div {
        width: 100%;
        margin: 0 auto;
        display: block;

        > div {
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    &__col {
      width: 100%;
    }
  }

  .t0-b-headerSingle#{$variation2of2} {
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    background-repeat: repeat-x;
    background-position: left top;
    background: #fff;
    margin: 0 -15px;
    padding: 20px 15px 0;

    &__hd {
      margin-bottom: 10px;
      text-align: center;

      > p {
        width: 100%;
        margin: 0 auto;
        @include g-font(14, 1);
        color: $textcolor;
      }
    }

    &__bd {
      > div {
        width: 100%;
        margin: 0 auto;
        display: block;

        > div {
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}
