@if $device == PC {
  .t0-b-headerUnit-freeHtml {
    width: 100%;
    min-width: auto;
    margin: 0 auto;
    box-sizing: border-box;

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      box-sizing: border-box;
    }

    div {
      width: 100%;
      box-sizing: border-box;

      > * {
        width: 100%;
        margin: 0 auto !important;
      }
    }
  }
}

@if $device == SP {

  .t0-b-headerUnit-freeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      margin: 0 auto;
    }

    > div {
      width: 100%;

      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }
  }
}
