@if $device == PC {

  .t0-b-flow2LeftToRightWithMidFrame {
    $_block: &;
    width: 100%;
    &__row {
      display: table;
      width: 100%;
      table-layout: fixed;
      height: 100%;
    }
    &__box {
      display: table-cell;
      vertical-align: top;
      height: 100%;
      width: (100%-4*(2-1))/2;
      #{$_block}--colSpacing-l & {
        width: (100%-7*(2-1))/2;
      }
      #{$_block}--colSpacing-m & {
        width: (100%-4*(2-1))/2;
      }
      #{$_block}--colSpacing-s & {
        width: (100%-1*(2-1))/2;
      }
    }
    &__arrow {
      display: table-cell;
      height: 100%;
      width: 4%;
      #{$_block}--colSpacing-l & {
        width: 7%;
      }
      #{$_block}--colSpacing-m & {
        width: 4%;
      }
      #{$_block}--colSpacing-s & {
        width: 1%;
      }
      //矢印要素(t0-b-arrowInFlow)分の高さを持たせる。
      //上余白調整をしても部品の高さからはみ出さないようにするため。
      padding-bottom: 31px;
      &-inner {
        height: 100%;
        position: relative;
        //#cms-body [data-cms-part]についたposition:relativeの影響で、
        //管理画面上のみで矢印要素の上余白が変更されない問題を解消するために以下を指定する
        > div {
          position: absolute !important;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          //管理画面上でホバーできるようにする
          z-index: 1;
        }
      }
    }

  }

  .t0-b-arrowInFlow {
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imgs/t0-b-arrow/2.png");
    background-size: 100% auto;
    width: 100%;
    max-width: 18px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  @for $i from 1 through 10 {
    .ex-arrowInFlow-topSpacingTweak-up-#{$i}s {
      .t0-b-arrowInFlow {
        top: 50% - $i * 5%;
      }
    }
    .ex-arrowInFlow-topSpacingTweak-down-#{$i}s {
      .t0-b-arrowInFlow {
        top: 50% + $i * 5%;
      }
    }
  }
}

@if $device == SP {

  .t0-b-flow2LeftToRightWithMidFrame {
    width: 100%;
    &__row {
      //矢印画像の高さと、下余白の合計値をつける
      padding-bottom: 32px;
      background-repeat: no-repeat;
      background-position: center bottom 15px;
      background-image: url("../imgs/t0-b-arrow/1.png");
      &:last-child {
        padding: 0;
        background: none;
      }
    }
    &__arrow {
      //上下の画像要素との余白が等間隔になるようにつける
      padding-bottom: 15px;
    }
  }

  .t0-b-arrowInFlow {
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/t0-b-arrow/1.png");
    background-size: auto 35px;
    margin-top: -10px; // この装飾は下にずれて見えるので、ネガティブマージンで上の要素との余白を詰める
  }

}
