$g-hoverColor: #7c6600;
$g-fullWidthBGColor: #f0e9ce;
$g-fullWidthBGColor2: #fff4f4;
$g-fullWidthBGColor3: #e2edf8;
$g-fullWidthBGColor4: #e8db9f;
$g-fullWidthBGColor5: #fffffd;
$g-fullWidthBGColor6: #cebf7e;
$g-fullWidthBGColor7: #f7f6f2;
$g-fullWidthBGColor8: #f3f0e3;
