@if $device == PC {
  .t0-b-frameWithHCaption#{$variation1of2} {
    $_block: &;
    $_fontSizePx_h: 24;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    margin-bottom: 20px;
    padding: 32px 32px 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frame/bg.png"), url("../imgs/t0-b-frame/bg2.png"), url("../imgs/t0-b-frame/bg3.png"), url("../imgs/t0-b-frame/bg4.png");
    position: relative;
    > * {
      position: relative;
    }

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frame/bg5.png"), url("../imgs/t0-b-frame/bg7.png");
      position: absolute;
      top: 14px;
      bottom: 14px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frame/bg6.png"), url("../imgs/t0-b-frame/bg8.png");
        position: absolute;
        top: -14px;
        bottom: -14px;
        left: 14px;
        right: 14px;
        > span {
          background: #fff;
          position: absolute;
          top: 14px;
          bottom: 14px;
          left: 0;
          right: 0;
        }
      }
    }

    &__hd {
      padding: 20px 20px 12px;
      margin-bottom: 25px;
      position: relative;
      text-align: center;
      background-repeat: repeat-x, repeat-x, repeat;
      background-position: left 0 top 5px, left 0 bottom 2px, left top;
      background-image: url("../imgs/t0-b-frameWithHCaption/3.png"), url("../imgs/t0-b-frameWithHCaption/2.png"), url("../imgs/t0-b-frameWithHCaption/1.png");
      border-radius: 5px 0;
      a {
        color: $g-textColor;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__hd-h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
      text-shadow: $g-textShadow2;
    }

    &__hd-caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 5px;
      text-shadow: $g-textShadow3;
    }

    &__hd-caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0;
      text-shadow: $g-textShadow3;
    }

    &__hd--size-1 {
      #{$_block}__hd-h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__hd-caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__hd-caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &__hd--size-3 {
      #{$_block}__hd-h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__hd-caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__hd-caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    & + div {
      margin-top: 2%;
    }
  }

  .t0-b-frameWithHCaption#{$variation2of2} {
    $_block: &;
    $_fontSizePx_h: 24;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    margin-bottom: 20px;
    margin-top: 24px;
    padding: 32px 61px 30px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaption/bg.png"), url("../imgs/t0-b-frameWithHCaption/bg2.png"), url("../imgs/t0-b-frameWithHCaption/bg3.png"), url("../imgs/t0-b-frameWithHCaption/bg4.png");
    position: relative;
    > * {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: -30px;
      right: -24px;
      top: -24px;
      bottom: 0;
      background-repeat: no-repeat, no-repeat;
      background-position: 0 8px, right top;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg9.png"), url("../imgs/t0-b-frameWithHCaption/bg10.png");
      z-index: 1;
    }

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg5.png"), url("../imgs/t0-b-frameWithHCaption/bg7.png");
      position: absolute;
      top: 45px;
      bottom: 45px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frameWithHCaption/bg6.png"), url("../imgs/t0-b-frameWithHCaption/bg8.png");
        position: absolute;
        top: -45px;
        bottom: -45px;
        left: 45px;
        right: 45px;
        > span {
          background: #fdfef9;
          position: absolute;
          top: 45px;
          bottom: 45px;
          left: 0;
          right: 0;
        }
      }
    }

    &__bd {
      z-index: 2;
      padding-top: 30px;
    }

    &__hd {
      padding: 15px 55px;
      margin: 0 -18px;
      position: relative;
      text-align: center;
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: left bottom, right bottom, left bottom;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg11.png"), url("../imgs/t0-b-frameWithHCaption/bg12.png"), url("../imgs/t0-b-frameWithHCaption/bg13.png");
      a {
        color: $g-textColor;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__hd-h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
      z-index: 2;
    }

    &__hd-caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 5px;
      z-index: 2;
    }

    &__hd-caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0;
      z-index: 2;
    }

    &__hd--size-1 {
      #{$_block}__hd-h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__hd-caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__hd-caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }
    }

    &__hd--size-3 {
      #{$_block}__hd-h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__hd-caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__hd-caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    & + div {
      margin-top: 2%;
    }
  }
}

@if $device == SP {
  .t0-b-frameWithHCaption#{$variation1of2} {
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    margin: 0 -5px;
    margin-bottom: 20px;
    padding: 20px 20px 10px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frame/bg.png"), url("../imgs/t0-b-frame/bg2.png"), url("../imgs/t0-b-frame/bg3.png"), url("../imgs/t0-b-frame/bg4.png");
    position: relative;
    > * {
      position: relative;
    }

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frame/bg5.png"), url("../imgs/t0-b-frame/bg7.png");
      position: absolute;
      top: 14px;
      bottom: 14px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frame/bg6.png"), url("../imgs/t0-b-frame/bg8.png");
        position: absolute;
        top: -14px;
        bottom: -14px;
        left: 14px;
        right: 14px;
        > span {
          background: #fff;
          position: absolute;
          top: 14px;
          bottom: 14px;
          left: 0;
          right: 0;
        }
      }
    }

    &__hd {
      padding: 20px 10px 12px;
      margin-bottom: 25px;
      position: relative;
      text-align: center;
      background-repeat: repeat-x, repeat-x, repeat;
      background-position: left 0 top 5px, left 0 bottom 2px, left top;
      background-image: url("../imgs/t0-b-frameWithHCaption/3.png"), url("../imgs/t0-b-frameWithHCaption/2.png"), url("../imgs/t0-b-frameWithHCaption/1.png");
      border-radius: 5px 0;
      a {
        color: $g-textColor;
        text-decoration: none;
      }
    }

    &__hd-h {
      @include g-font($_fontSizePx_h, $_lineHeightType_h);
      text-shadow: $g-textShadow2;
    }

    &__hd-caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 5px;
      text-shadow: $g-textShadow3;
    }

    &__hd-caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0;
      text-shadow: $g-textShadow3;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    & + div {
      margin-top: 20px;
    }
  }

  .t0-b-frameWithHCaption#{$variation2of2} {
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;

    margin: 0 -5px;
    margin-bottom: 20px;
    margin-top: 24px;
    padding: 25px 30px 45px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    background-image: url("../imgs/t0-b-frameWithHCaption/bg.png"), url("../imgs/t0-b-frameWithHCaption/bg2.png"), url("../imgs/t0-b-frameWithHCaption/bg3.png"), url("../imgs/t0-b-frameWithHCaption/bg4.png");
    position: relative;
    .t0-b-iconText-tel {
      > a > div,
      > div {
        width: 100%;
        box-sizing: border-box;
      }
    }

    > * {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: -10px;
      right: -10px;
      top: -24px;
      bottom: 0;
      background-repeat: no-repeat, no-repeat;
      background-position: 0 8px, right top;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg9.png"), url("../imgs/t0-b-frameWithHCaption/bg10.png");
      background-size: 115px 101px, 116px 103px;
      z-index: 1;
    }

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg5.png"), url("../imgs/t0-b-frameWithHCaption/bg7.png");
      position: absolute;
      top: 45px;
      bottom: 45px;
      left: 0;
      right: 0;
      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-frameWithHCaption/bg6.png"), url("../imgs/t0-b-frameWithHCaption/bg8.png");
        position: absolute;
        top: -45px;
        bottom: -45px;
        left: 45px;
        right: 45px;
        > span {
          background: #fdfef9;
          position: absolute;
          top: 45px;
          bottom: 45px;
          left: 0;
          right: 0;
        }
      }
    }

    &__hd {
      padding: 15px 20px;
      position: relative;
      text-align: center;
      background-repeat: no-repeat, no-repeat, repeat-x;
      background-position: left bottom, right bottom, left bottom;
      background-image: url("../imgs/t0-b-frameWithHCaption/bg11.png"), url("../imgs/t0-b-frameWithHCaption/bg12.png"), url("../imgs/t0-b-frameWithHCaption/bg13.png");
      a {
        color: $g-textColor;
        text-decoration: none;
      }
    }

    &__bd {
      z-index: 2;
      padding-top: 15px;
    }

    &__hd {
      a {
        color: $g-textColor;
        text-decoration: none;
      }
    }

    &__hd-h {
      @include g-font($_fontSizePx_h, $_lineHeightType_h);
      z-index: 2;
    }

    &__hd-caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 5px;
      z-index: 2;
    }

    &__hd-caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0;
      z-index: 2;
    }

    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    & + div {
      margin-top: 20px;
    }
  }
}
