@if $device == PC {
  .t0-b-creditCard {
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 10px 0;
    overflow: hidden;
    min-height: 50px;
    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 0 0 20px 1%;
      &:first-child {
        padding-left: 0;
      }
    }

    img {
      width: 54px;
      height: auto;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .t0-b-creditCard2 {
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding: 15px 10px 0;
    overflow: hidden;
    min-height: 50px;
    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 0 0 20px 1%;
      &:first-child {
        padding-left: 0;
      }
    }

    img {
      width: 54px;
      height: auto;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-creditCard {
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 10px 10px 0;
    overflow: hidden;
    min-height: 50px;
    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 10px 0 0 15px;
    }

    img {
      width: 80px;
      height: auto;
    }
  }

  .t0-b-creditCard2 {
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px 10px 0;
    overflow: hidden;
    min-height: 50px;
    * {
      display: inline-block;
      vertical-align: middle;
    }

    li {
      padding: 10px 0 0 15px;
    }

    img {
      width: 80px;
      height: auto;
    }
  }
}
