@if $device == PC {
  .t0-b-freeHtml {
    box-sizing: border-box;
    overflow: hidden;
    div {
      text-align: center;
      > * {
        max-width: 100%;
        margin: 0 auto !important;
      }

      > span {
        width: auto;
      }
    }

    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }
  }
}

@if $device == SP {
  .t0-b-freeHtml {
    @include freeHtmlDiv(95%);
  }
}
