@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    $_fontSizePx_main: 30;
    $_fontSizePx_sub: 18;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;
    a {
      color: inherit;
      &:hover {
        color: $g-baseHoverColor;
      }
    }

    &__inner {
      position: relative;
      width: 90%;
      text-align: center;
      padding: 30px 32px 26px;
      margin: 2px auto 50px;
      background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat;
      background-position: left top, right top, right bottom;
      text-shadow: $g-textShadow;
      box-shadow: 0 2px 3px $catchText_boxShadowColor, 1px 0 2px $catchText_boxShadowColor, -1px -1px 2px $catchText_boxShadowColor;
      border-radius: 26px;
      box-sizing: border-box;
      > span {
        display: block;
        width: 70px;
        height: 33px;
        position: absolute;
        right: 35%;
        top: 100%;
        background-image: url("../imgs/t0-b-catchText/1/bg4.png");
        background-repeat: no-repeat;
      }
    }

    &__text-sub {
      @include g-font-layout($_fontSizePx_sub - 4, $_lineHeightType_sub, $layout);
      padding: 0 0 15px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font-layout($_fontSizePx_sub, $_lineHeightType_sub, $layout);
      padding: 0 0 25px;
      position: relative;
    }

    &__text-main {
      @include g-font-layout($_fontSizePx_main, $_lineHeightType_main, $layout);
      position: relative;
    }

    &__text-sub3 {
      @include g-font-layout($_fontSizePx_sub, $_lineHeightType_sub, $layout);
      padding: 25px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font-layout($_fontSizePx_sub - 4, $_lineHeightType_sub, $layout);
      padding: 15px 0 0;
      position: relative;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSizePx_main: 30;
    $_fontSizePx_sub: 18;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;
    a {
      color: inherit;
      &:hover {
        color: $g-baseHoverColor;
      }
    }

    text-align: center;
    padding: 45px 55px;
    text-shadow: $g-textShadow;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;
    &__inner {
      > span {
        pointer-events: none;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
        position: absolute;
        top: 51px;
        bottom: 53px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
          position: absolute;
          top: -51px;
          bottom: -53px;
          left: 64px;
          right: 64px;
          > span {
            background-color: $catchText2_BGColor;
            position: absolute;
            top: 51px;
            bottom: 53px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &__text-sub {
      @include g-font-layout($_fontSizePx_sub - 4, $_lineHeightType_sub, $layout);
      padding: 0 0 15px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font-layout($_fontSizePx_sub, $_lineHeightType_sub, $layout);
      padding: 0 0 15px;
      position: relative;
    }

    &__text-main {
      @include g-font-layout($_fontSizePx_main, $_lineHeightType_main, $layout);
      position: relative;
      padding: 15px 15px 20px;
      background-repeat: repeat-x, repeat;
      background-position: left bottom, left top;
      background-image: url("../imgs/t0-b-catchText/2/bg9.png"), url("../imgs/t0-b-catchText/2/bg10.png");
    }

    &__text-sub3 {
      @include g-font-layout($_fontSizePx_sub, $_lineHeightType_sub, $layout);
      padding: 15px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font-layout($_fontSizePx_sub - 4, $_lineHeightType_sub, $layout);
      padding: 15px 0 0;
      position: relative;
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    $_fontSizePx_main: 18;
    $_fontSizePx_sub: 14;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;
    &__inner {
      position: relative;
      text-align: center;
      padding: 40px 30px;
      margin: 2px 2px 30px;
      text-shadow: $g-textShadow3;
      box-shadow: 0 1px 3px $catchText_boxShadowColor, 1px 0 0 $catchText_boxShadowColor, -1px -1px 2px $catchText_boxShadowColor;
      border-radius: 26px;
      background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat;
      background-position: left top, right top, right bottom;
      > span {
        display: block;
        position: absolute;
        right: 55px;
        top: 100%;
        width: 50px;
        height: 23px;
        background-image: url("../imgs/t0-b-catchText/1/bg4.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    &__text-sub {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 0 0 10px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 0 0 15px;
      position: relative;
    }

    &__text-main {
      @include g-font($_fontSizePx_main, $_lineHeightType_main);
      position: relative;
    }

    &__text-sub3 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 15px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 10px 0 0;
      position: relative;
    }

    a {
      color: $g-baseFontColor;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSizePx_main: 18;
    $_fontSizePx_sub: 14;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;

    text-align: center;
    padding: 47px 50px;
    text-shadow: $g-textShadow3;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;
    &__inner {
      > span {
        pointer-events: none;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
        position: absolute;
        top: 51px;
        bottom: 53px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
          position: absolute;
          top: -51px;
          bottom: -53px;
          left: 64px;
          right: 64px;
          > span {
            background-color: $catchText2_BGColor;
            position: absolute;
            top: 51px;
            bottom: 53px;
            left: 0;
            right: 0;
          }
        }
      }
    }

    &__text-sub {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 0 0 10px;
      position: relative;
    }

    &__text-sub2 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 0 0 15px;
      position: relative;
    }

    &__text-main {
      @include g-font($_fontSizePx_main, $_lineHeightType_main);
      position: relative;
      padding: 7px 5px 11px;
      background-repeat: repeat-x, repeat;
      background-position: left bottom, left top;
      background-image: url("../imgs/t0-b-catchText/2/bg9.png"), url("../imgs/t0-b-catchText/2/bg10.png");
      min-height: 22px;
    }

    &__text-sub3 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 15px 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 10px 0 0;
      position: relative;
    }

    a {
      color: $g-baseFontColor;
    }
  }
}
