@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    $_fontSizePx_main: 30;
    $_fontSizePx_sub: 18;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;

    text-align: center;
    padding: 30px;
    text-shadow: $textshadow;
    box-shadow: 0 2px 3px #A9D9D1, 1px 0 2px #A9D9D1, -1px -1px 2px #A9D9D1;
    border-radius: 26px;
    margin-bottom: 50px;
    background-image: ("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("../imgs/t0-b-catchText/1/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left top, right top, right bottom;
    position: relative;

    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 105px;
      top: 100%;
      bottom: -33px;
      background-image: url("../imgs/t0-b-catchText/1/bg4.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }

    &__text-sub {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub - 4, $_lineHeightType_sub);
      }
      @include g-font(14, 1);

      padding: 0 0 15px 0;
      position: relative;
    }

    &__text-sub2 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub + 4, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      }

      padding: 0 0 25px 0;
      position: relative;
    }

    &__text-main {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_main + 4, $_lineHeightType_main);
      } @else {
        @include g-font($_fontSizePx_main, $_lineHeightType_main);
      }
      position: relative;
    }

    &__text-sub3 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub + 4, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      }

      padding: 25px 0 0 0;
      position: relative;
    }

    &__text-sub4 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub - 4, $_lineHeightType_sub);
      }

      padding: 15px 0 0 0;
      position: relative;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSizePx_main: 30;
    $_fontSizePx_sub: 18;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;

    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }

    text-align: center;
    padding: 48px 58px;
    text-shadow: $textshadow;
    margin-bottom: 50px;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
      position: absolute;
      top: 51px;
      bottom: 53px;
      left: 0;
      right: 0;

      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
        position: absolute;
        top: -51px;
        bottom: -53px;
        left: 64px;
        right: 64px;

        > span {
          background-color: #fff;
          position: absolute;
          top: 51px;
          bottom: 53px;
          left: 0;
          right: 0;
        }
      }
    }

    &__text-sub {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub - 4, $_lineHeightType_sub);
      }

      padding: 0 0 15px 0;
      position: relative;
    }

    &__text-sub2 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub + 4, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      }

      padding: 0 0 15px 0;
      position: relative;
    }

    &__text-main {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_main + 4, $_lineHeightType_main);
      } @else {
        @include g-font($_fontSizePx_main, $_lineHeightType_main);
      }

      position: relative;
      padding: 15px 15px 20px;
      background-repeat: repeat-x, repeat;
      background-position: left bottom, left top;
      background-image: url("../imgs/t0-b-catchText/2/bg9.png"), url("../imgs/t0-b-catchText/2/bg10.png");
    }

    &__text-sub3 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub + 4, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      }

      padding: 15px 0 0 0;
      position: relative;
    }

    &__text-sub4 {
      @if $layout == "N00" {
        @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      } @else {
        @include g-font($_fontSizePx_sub - 4, $_lineHeightType_sub);
      }

      padding: 15px 0 0 0;
      position: relative;
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    $_fontSizePx_main: 18;
    $_fontSizePx_sub: 14;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;

    text-align: center;
    padding: 30px;
    text-shadow: $textshadow2;
    box-shadow: 0 2px 3px #A9D9D1, 1px 0 2px #A9D9D1, -1px -1px 2px #A9D9D1;
    border-radius: 26px;
    margin-bottom: 50px;
    background-image: url("../imgs/t0-b-catchText/1/bg.png"), url("../imgs/t0-b-catchText/1/bg2.png"), url("t0-b-catchText/1/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left top, right top, right bottom;
    position: relative;

    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 105px;
      top: 100%;
      bottom: -33px;
      background-image: url("../imgs/t0-b-catchText/1/bg4.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    &__text-sub {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 0 0 10px 0;
      position: relative;
    }

    &__text-sub2 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 0 0 15px 0;
      position: relative;
    }

    &__text-main {
            @include g-font($_fontSizePx_main, $_lineHeightType_main);
      position: relative;
    }

    &__text-sub3 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);
      padding: 15px 0 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);
      padding: 10px 0 0 0;
      position: relative;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    $_fontSizePx_main: 18;
    $_fontSizePx_sub: 14;
    $_lineHeightType_main: 1;
    $_lineHeightType_sub: 1;

    text-align: center;
    padding: 48px 30px;
    text-shadow: $textshadow2;
    margin-bottom: 50px;
    background-image: url("../imgs/t0-b-catchText/2/bg.png"), url("../imgs/t0-b-catchText/2/bg2.png"), url("../imgs/t0-b-catchText/2/bg3.png"), url("../imgs/t0-b-catchText/2/bg4.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right bottom, right top;
    position: relative;

    > span {
      pointer-events: none;
      background-repeat: repeat-y, repeat-y;
      background-position: left top, right top;
      background-image: url("../imgs/t0-b-catchText/2/bg5.png"), url("../imgs/t0-b-catchText/2/bg7.png");
      position: absolute;
      top: 51px;
      bottom: 53px;
      left: 0;
      right: 0;

      > span {
        background-repeat: repeat-x, repeat-x;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-catchText/2/bg6.png"), url("../imgs/t0-b-catchText/2/bg8.png");
        position: absolute;
        top: -51px;
        bottom: -53px;
        left: 64px;
        right: 64px;

        > span {
          background-color: #fff;
          position: absolute;
          top: 51px;
          bottom: 53px;
          left: 0;
          right: 0;
        }
      }
    }

    &__text-sub {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);

      padding: 0 0 10px 0;
      position: relative;
    }

    &__text-sub2 {
      @include g-font($_fontSizePx_sub, $_lineHeightType_sub);

      padding: 0 0 15px 0;
      position: relative;
    }

    &__text-main {
      @include g-font($_fontSizePx_main, $_lineHeightType_main);

      position: relative;
      padding: 15px 15px 20px;
      background-repeat: repeat-x, repeat;
      background-position: left bottom, left top;
      background-image: url("../imgs/t0-b-catchText/2/bg9.png"), url("../imgs/t0-b-catchText/2/bg10.png");
    }

    &__text-sub3 {
       @include g-font($_fontSizePx_sub, $_lineHeightType_sub);

      padding: 15px 0 0 0;
      position: relative;
    }

    &__text-sub4 {
      @include g-font($_fontSizePx_sub - 2, $_lineHeightType_sub);

      padding: 10px 0 0 0;
      position: relative;
    }
  }
}
