@if $device == PC {
  .t0-b-navItemWithImg#{$variation1of2} {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    padding: 2px;
    a {
      display: block;
      text-decoration: none;
      color: inherit;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      background-image: url("../imgs/t0-b-navItem/8.png");
      background-position: 8px 50%;
      background-repeat: no-repeat;
      background-color: #ffe1e1;
      padding: 7px 0;
      display: table;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 10px;
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 2px #c4e6e0, -1px -1px 2px #c4e6e0;
      #{$_block}__img,
      #{$_block}__text {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__img {
      text-align: center;
      padding: 0 10px 0 7px;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
    }

    &__text {
      text-shadow: $textshadow3;
      font-weight: bold;
      width: 100%;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &--imgL {
      #{$_block}__inner {
        direction: ltr;
        background-image: url("../imgs/t0-b-navItem/8.png");
        background-position: right 8px top 50%;
        background-repeat: no-repeat;
        background-color: #ffe1e1;
        #{$_block}__text {
          direction: ltr;
          padding-right: 40px;
        }

        #{$_block}__img {
          direction: ltr;
          padding-right: 10px;
        }
      }
    }

    &--imgR {
      #{$_block}__inner {
        direction: rtl;
        background-image: url("../imgs/t0-b-navItem/8.png");
        background-position: 8px 50%;
        background-repeat: no-repeat;
        background-color: #ffe1e1;
        #{$_block}__text {
          direction: ltr;
          padding-left: 40px;
        }

        #{$_block}__img {
          direction: ltr;
          padding: 0 7px 0 10px;
        }
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    padding: 2px;
    a {
      display: block;
      text-decoration: none;
      color: inherit;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      padding: 3px 0;
      display: table;
      box-sizing: border-box;
      border-radius: 10px;
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 2px #bddfda, -1px -1px 2px #bddfda;
      background-image: url("../imgs/t0-b-navItem/9.png");
      background-position: 12px 50%;
      background-repeat: no-repeat;
      background-color: #fff;
      #{$_block}__img,
      #{$_block}__text {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__img {
      text-align: center;
      padding: 0 10px 0 3px;
      img {
        width: 74px;
        height: 74px;
        display: block;
      }
    }

    &__text {
      width: 100%;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &--imgL {
      #{$_block}__inner {
        direction: ltr;
        background-image: url("../imgs/t0-b-navItem/9.png");
        background-position: right 12px top 50%;
        background-repeat: no-repeat;
        #{$_block}__text {
          direction: ltr;
          padding-right: 40px;
        }

        #{$_block}__img {
          padding-right: 10px;
          img {
            border-radius: 9px 0 0 9px;
          }
        }
      }
    }

    &--imgR {
      #{$_block}__inner {
        direction: rtl;
        background-image: url("../imgs/t0-b-navItem/9.png");
        background-position: 12px 50%;
        background-repeat: no-repeat;
        > div {
          direction: ltr;
          padding-left: 10px;
        }

        #{$_block}__text {
          padding-left: 40px;
        }

        #{$_block}__img {
          padding: 0 3px 0 10px;
          img {
            border-radius: 0 9px 9px 0;
          }
        }
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImgDouble#{$variation1of2} {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation2of2} {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navItemWithImg#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    width: 95%;
    margin: 0 auto;
    padding: 2px;
    a {
      display: block;
      color: $textcolor;
      text-decoration: none;
    }

    &__inner {
      padding: 7px 0;
      display: table;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 10px;
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 2px #c4e6e0, -1px -1px 2px #c4e6e0;
      background-image: url("../imgs/t0-b-navItem/8.png");
      background-position: 8px 50%;
      background-repeat: no-repeat;
      background-color: #ffe1e1;
      #{$_block}__img,
      #{$_block}__text {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__img {
      text-align: center;
      padding: 0 10px 0 7px;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
    }

    &__text {
      text-shadow: $textshadow3;
      font-weight: bold;
      width: 100%;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &--imgL {
      #{$_block}__inner {
        direction: ltr;
        background-image: url("../imgs/t0-b-navItem/8.png");
        background-position: right 8px top 50%;
        background-repeat: no-repeat;
        background-color: #ffe1e1;
        #{$_block}__text {
          direction: ltr;
          padding-right: 40px;
        }

        #{$_block}__img {
          direction: ltr;
          padding-right: 10px;
        }
      }
    }

    &--imgR {
      #{$_block}__inner {
        direction: rtl;
        background-image: url("../imgs/t0-b-navItem/8.png");
        background-position: 8px 50%;
        background-repeat: no-repeat;
        background-color: #ffe1e1;
        > div {
          direction: ltr;
          padding-left: 10px;
        }

        #{$_block}__text {
          direction: ltr;
          padding-left: 40px;
        }

        #{$_block}__img {
          direction: ltr;
          padding: 0 7px 0 10px;
        }
      }
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    width: 95%;
    margin: 0 auto;
    padding: 2px;
    a {
      display: block;
      text-decoration: none;
      color: $textcolor;
    }

    &__inner {
      padding: 3px 0;
      display: table;
      box-sizing: border-box;
      border-radius: 10px;
      text-decoration: none;
      width: 100%;
      height: 100%;
      box-shadow: 1px 1px 2px #bddfda, -1px -1px 2px #bddfda;
      background-image: url("../imgs/t0-b-navItem/9.png");
      background-position: 12px 50%;
      background-repeat: no-repeat;
      background-color: #fff;
      #{$_block}__img,
      #{$_block}__text {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__img {
      text-align: center;
      padding: 0 10px 0 3px;
      img {
        width: 74px;
        height: 74px;
        display: block;
      }
    }

    &__text {
      width: 100%;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &--imgL {
      #{$_block}__inner {
        direction: ltr;
        background-image: url("../imgs/t0-b-navItem/9.png");
        background-position: right 12px top 50%;
        background-repeat: no-repeat;
        background-color: #fff;
        padding-right: 40px;
      }

      #{$_block}__img {
        padding-right: 10px;
        img {
          border-radius: 9px 0 0 9px;
        }
      }
    }

    &--imgR {
      #{$_block}__inner {
        direction: rtl;
        background-image: url("../imgs/t0-b-navItem/9.png");
        background-position: 12px 50%;
        background-repeat: no-repeat;
        background-color: #fff;
        #{$_block}__text {
          direction: ltr;
          padding-left: 40px;
        }

        #{$_block}__img {
          direction: ltr;
          padding: 0 3px 0 10px;
          img {
            border-radius: 0 9px 9px 0;
          }
        }
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation1of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation2of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
