@if $device == PC {
  .t0-b-iconText-mail {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    a {
      display: table-cell;
      text-align: left;
      color: $textcolor;
      padding-bottom: 2px;
      word-break: break-all;
      &:hoverã€€ {
        color: $hovercolor;
      }
    }

    &__bd {
      @include g-font($_fontSizePx, $_lineHeightType);
      font-weight: bold;
      color: $textcolor;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 28px;
      height: 13px;
      background-image: url("../imgs/t0-b-iconText-mail/1.png");
      background-position: 0 center;
      background-repeat: no-repeat;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-iconText-mail {

    $_fontSizePx: 16;
    $_lineHeightType: 1;

    text-align: center;
    > div {
      display: inline-block;
      vertical-align: top;
    }

    a {
      display: table-cell;
      color: $textcolor;
      text-align: left;
      word-break: break-all;
      padding-bottom: 2px;
    }

    &__bd {
      color: $textcolor;
      font-weight: bold;
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      width: 28px;
      height: 13px;
      background: url("../imgs/t0-b-iconText-mail/1.png");
      background-position: 0 center;
      background-repeat: no-repeat;
    }
  }
}
