@if $device == PC {
  .t0-b-navBItem#{$variation1of2} {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    display: table;
    width: 100%;
    box-sizing: border-box;
    text-shadow: $textshadow3;
    font-weight: bold;
    a {
      display: block;
      text-decoration: none;
      color: $textcolor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      background: #f1bab8;
      border-radius: 10px;
      display: table;
      text-decoration: none;
      box-sizing: border-box;
      width: 100%;
      min-height: 36px;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > div {
        width: 100%;
        padding: 8px 10px 8px 36px;
        height: 100%;
        background-image: url("../imgs/t0-b-navItem/2.png");
        background-repeat: no-repeat;

        @include g-font($_fontSizePx, $_lineHeightType);

        background-size: 22px 22px;
        background-position: 8px 50%;
        &::before {
          display: block;
          float: left;
          height: 20px;
          content: "";
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        > div {
          padding: 8px 10px 8px 36px;

          @include g-font($_fontSizePx, $_lineHeightType);

          background-size: 22px 22px;
          background-position: 8px 50%;
        }
      }
    }

    &--size-2 {
      #{$_block}__inner {
        > div {
          padding: 10px 10px 10px 40px;

          @include g-font($_fontSizePx + 2, $_lineHeightType);

          background-size: 24px 24px;
          background-position: 9px 50%;
        }
      }
    }

    &--size-3 {
      #{$_block}__inner {
        > div {
          padding: 10px 10px 10px 44px;
          background-size: 26px 26px;
          background-position: 10px 50%;

          @include g-font($_fontSizePx + 4, $_lineHeightType);
        }
      }
    }

    &--size-4 {
      #{$_block}__inner {
        > div {
          padding: 10px 10px 10px 48px;

          @include g-font($_fontSizePx + 6, $_lineHeightType);

          background-size: 28px 28px;
          background-position: 11px 50%;
        }
      }
    }

    &--size-5 {
      #{$_block}__inner {
        > div {
          padding: 10px 10px 10px 52px;

          @include g-font($_fontSizePx +8, $_lineHeightType);

          background-size: 30px 30px;
          background-position: 12px 50%;
        }
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItem#{$variation2of2} {
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    display: table;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 0 2px 3px 0;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      background: #c6a500;
      box-shadow: 2px 3px #c2e2dd;
      border-radius: 5px;
      display: table;
      text-decoration: none;
      box-sizing: border-box;
      width: 100%;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > div {
        width: 100%;
        background: url("../imgs/t0-b-navItem/3.png");
        background-repeat: no-repeat;
        background-position: 10px 50%;
        padding: 8px 10px 8px 30px;

        @include g-font($_fontSizePx, $_lineHeightType);

        background-size: 12px 14px;
        &::before {
          // table-cellを使用するとfirefoxでmin-heightが使用できないため
          display: block;
          float: left;
          height: 16px;
          content: "";
        }
      }
    }

    &--size-1 {
      #{$_block}__inner {
        > div {
          padding: 7px 10px 6px 28px;
          @include g-font($_fontSizePx - 2, $_lineHeightType);
          background-size: 10px 12px;
        }
      }
    }

    &--size-2 {
      #{$_block}__inner {
        > div {
          padding: 8px 10px 8px 30px;
          @include g-font($_fontSizePx, $_lineHeightType);
          background-size: 12px 14px;
        }
      }
    }

    &--size-3 {
      #{$_block}__inner {
        > div {
          padding: 9px 10px 9px 32px;
          @include g-font($_fontSizePx + 2, $_lineHeightType);
          background-size: 14px 16px;
        }
      }
    }

    &--size-4 {
      #{$_block}__inner {
        > div {
          padding: 10px 10px 10px 34px;
          @include g-font($_fontSizePx + 4, $_lineHeightType);
          background-size: 16px 18px;
        }
      }
    }

    &--size-5 {
      #{$_block}__inner {
        > div {
          padding: 11px 10px 10px 36px;
          @include g-font($_fontSizePx + 6, $_lineHeightType);
          background-size: 18px 20px;
        }
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemDouble {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navBItem#{$variation1of2} {
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #f1bab8;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #f1bab8;
    border-radius: 5px;

    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      text-decoration: none;
      color: $textcolor;
    }

    &__inner {
      text-align: center;
      width: 100% !important;
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-navBItem#{$variation2of2} {
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #c6a500;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #c6a500;
    border-radius: 5px;

    @include g-font($_fontSizePx, $_lineHeightType);

    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
    }

    &__inner {
      text-align: center;
      width: 100% !important;
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-navBItemDouble {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
