@if $device == PC {
  .t0-b-sideBanner {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: top;
      border-radius: 12px;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: top;
      border: 2px solid #8e6e3b;
      border-radius: 12px;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-sideBanner {
    width: 100%;
    margin: 0 auto;
    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      vertical-align: top;
      border-radius: 12px;
      box-sizing: border-box;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {
    width: 100%;
    margin: 0 auto;
    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      vertical-align: top;
      border: 2px solid #8e6e3b;
      border-radius: 12px;
      box-sizing: border-box;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}
