@if $device == PC {
  .t0-b-sideBoxLv2H#{$variation1of2} {
    h6 {
      @include g-font(18, 1);
      background-image: url("../imgs/t0-b-sideBoxLv2H/1.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      padding-left: 14px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $g-textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-sideBoxLv2H#{$variation2of2} {
    h6 {
      @include g-font(18, 1);
      background-image: url("../imgs/t0-b-sideBoxLv2H/2.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      padding-left: 17px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $g-textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H#{$variation1of2} {
    h6 {
      @include g-font(16, 1);
      background-image: url("../imgs/t0-b-sideBoxLv2H/1.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      padding-left: 14px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $g-textColor;
      text-decoration: none;
    }
  }

  .t0-b-sideBoxLv2H#{$variation2of2} {
    h6 {
      @include g-font(16, 1);
      background-image: url("../imgs/t0-b-sideBoxLv2H/2.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      padding-left: 17px;
      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $g-textColor;
      text-decoration: none;
    }
  }
}
