@if $device == PC {
  .t0-b-sideBoxIconText-mail {
    $_block: &;
    > div {
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    &__bd {
      text-align: left;
      font-weight: bold;
      @include g-font(16, 1);
      display: table;
    }

    a {
      color: $textcolor;
      display: table-cell;
      text-align: left;
      padding-bottom: 2px;
      &:hover {
        color: $hovercolor;
        text-decoration: underline;
      }
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 34px;
      height: 15px;
      background-image: url("../imgs/t0-b-iconText-mail/1.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: 24px 15px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxIconText-mail {
    $_block: &;
    text-align: center;
    > div {
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }

    &__bd {
      text-align: left;
      font-weight: bold;
      @include g-font(16, 1);
      display: table;
    }

    a {
      color: $textcolor;
      display: table-cell;
      text-align: left;
      padding-bottom: 2px;
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 34px;
      height: 15px;
      background-image: url("../imgs/t0-b-iconText-mail/1.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: 24px 15px;
    }
  }
}
