@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    $_block: &;
    overflow: hidden;

    text-align: center;
    .admin & {
      padding: 10px;
      color: $sideBoxFreeHtml_textColor;
      background-color: $sideBoxFreeHtml_BGColor;
      border-radius: 5px;
    }

    > * {
      max-width: 100%;
      margin: 0 auto !important;
    }

    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }

    > * {
      max-width: 100%;
      margin: 0 auto !important;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxFreeHtml {
    @include freeHtml(100%);
    .admin & {
      padding: 10px;
      color: $sideBoxFreeHtml_textColor;
      background-color: $sideBoxFreeHtml_BGColor;
      border-radius: 5px;
    }
  }
}
