@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    background-color: #fff;
    border: 1px solid #e3d67b;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 3px #c4e6e0, -1px -1px 3px #c4e6e0;
    margin-top: 6px;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      border: 1px solid #e3d67b;
      border-radius: 7px;
      z-index: 1;
    }

    &__hd {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-sideBox/1/bg.png"), url("../imgs/t0-b-sideBox/1/bg2.png"), url("../imgs/t0-b-sideBox/1/bg3.png"), url("../imgs/t0-b-sideBox/1/bg4.png");
      position: relative;
      margin: (-6px) 8px 0;
      padding: 13px 25px 17px;
      z-index: 2;
      min-height: 24px;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: -11px;
        right: -13px;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBox/1/1.png"), url("../imgs/t0-b-sideBox/1/2.png");
        z-index: 3;
      }

      > span {
        pointer-events: none;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBox/1/bg5.png"), url("../imgs/t0-b-sideBox/1/bg7.png");
        position: absolute;
        top: 2px;
        bottom: 15px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-sideBox/1/bg6.png"), url("../imgs/t0-b-sideBox/1/bg8.png");
          position: absolute;
          top: -2px;
          bottom: -15px;
          left: 14px;
          right: 14px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-sideBox/1/bg9.png");
            position: absolute;
            top: 2px;
            bottom: 15px;
            left: 0;
            right: 0;
          }
        }
      }

      a {
        color: $textcolor;
        text-decoration: none;
        position: relative;
        z-index: 4;
        &:hover {
          color: $hovercolor;
        }
      }

      h4 {
        @include g-font(18, 1);

        text-align: center;
        text-shadow: $textshadow2;
        font-weight: bold;
        position: relative;
        z-index: 4;
      }
    }

    &__bd {
      position: relative;
      z-index: 2;
      padding: 15px 20px 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    border-radius: 11px;
    position: relative;
    box-shadow: 1px 1px 3px #bddfda, -1px -1px 3px #bddfda;
    background-color: #fff;
    &__hd {
      padding: 17px 10px 15px;
      background-color: #ffe5dd;
      border-radius: 11px 11px 0 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 7px;
        right: 7px;
        top: 6px;
        bottom: 0;
        background-repeat: repeat-x;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/2/1.png");
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3px;
        border-bottom: 1px solid #fff;
        z-index: 1;
      }

      a {
        text-decoration: none;
        color: $textcolor;
        position: relative;
        z-index: 2;
        &:hover {
          color: $hovercolor;
        }
      }

      h4 {
        @include g-font(18, 1);

        text-align: center;
        text-shadow: $textshadow2;
        font-weight: bold;
        position: relative;
        z-index: 2;
      }
    }

    &__bd {
      padding: 20px 20px 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    margin: 6px -5px 0;
    background-color: #fff;
    border: 1px solid #e3d67b;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 3px #c4e6e0, -1px -1px 3px #c4e6e0;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      border: 1px solid #e3d67b;
      border-radius: 7px;
      z-index: 1;
    }

    &__hd {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      background-image: url("../imgs/t0-b-sideBox/1/bg.png"), url("../imgs/t0-b-sideBox/1/bg2.png"), url("../imgs/t0-b-sideBox/1/bg3.png"), url("../imgs/t0-b-sideBox/1/bg4.png");
      position: relative;
      margin: (-6px) 8px 0;
      padding: 13px 25px 17px;
      z-index: 2;
      min-height: 24px;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: -11px;
        right: -13px;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBox/1/1.png"), url("../imgs/t0-b-sideBox/1/2.png");
        z-index: 3;
      }

      > span {
        pointer-events: none;
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        background-image: url("../imgs/t0-b-sideBox/1/bg5.png"), url("../imgs/t0-b-sideBox/1/bg7.png");
        position: absolute;
        top: 2px;
        bottom: 15px;
        left: 0;
        right: 0;
        > span {
          background-repeat: repeat-x, repeat-x;
          background-position: left bottom, left top;
          background-image: url("../imgs/t0-b-sideBox/1/bg6.png"), url("../imgs/t0-b-sideBox/1/bg8.png");
          position: absolute;
          top: -2px;
          bottom: -15px;
          left: 14px;
          right: 14px;
          > span {
            background-repeat: repeat;
            background-position: left top;
            background-image: url("../imgs/t0-b-sideBox/1/bg9.png");
            position: absolute;
            top: 2px;
            bottom: 15px;
            left: 0;
            right: 0;
          }
        }
      }

      a {
        color: $textcolor;
        text-decoration: none;
      }

      h4 {
        @include g-font(18, 1);

        text-align: center;
        text-shadow: $textshadow2;
        font-weight: bold;
        position: relative;
        z-index: 4;
      }
    }

    &__bd {
      position: relative;
      z-index: 2;
      padding: 15px 20px 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    position: relative;
    margin: 0 -5px;
    border-radius: 11px;
    box-shadow: 1px 1px 3px #bddfda, -1px -1px 3px #bddfda;
    background-color: #fff;
    &__hd {
      padding: 17px 10px 15px;
      background-color: #ffe5dd;
      border-radius: 11px 11px 0 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 7px;
        right: 7px;
        top: 6px;
        bottom: 0;
        background-repeat: repeat-x;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/2/1.png");
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3px;
        border-bottom: 1px solid #fff;
        z-index: 1;
      }

      a {
        text-decoration: none;
        color: $textcolor;
        position: relative;
        z-index: 2;
      }

      h4 {
        @include g-font(18, 1);

        text-align: center;
        text-shadow: $textshadow2;
        font-weight: bold;
        position: relative;
        z-index: 2;
      }
    }

    &__bd {
      padding: 20px 20px 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}
