@if $device == PC {
  .t0-b-headerMedia#{$variation1of2} {

    $_width_content: 1059px;

    width: $_width_content;
    padding-top: 28px;
    padding-bottom: 41px;
    min-height: 289px;
    margin: 0 auto;
    line-height: 0;
    a {
      &:hover {
        opacity: .8;
      }

      position: relative;
      z-index: 3;
      text-decoration: none;
      img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 96px;
      box-sizing: border-box;
      box-shadow: 6px 6px 12px #c4e5df, -6px -6px 12px #c4e5df;
    }

    a > div,
    > div {
      display: inline-block;
      position: relative;
      width: 100%;
      min-height: 289px;
      border-radius: 96px;
      margin: 0 auto;
      text-align: center;
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 148px;
        left: -58px;
        right: -49px;
        bottom: 141px;
        pointer-events: none;
        background-repeat: repeat-y;
        background-position: left top;
        background-image: url("../imgs/t0-b-headerMedia/1/3.png");
        z-index: 2;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        top: -28px;
        left: -58px;
        right: -49px;
        bottom: -41px;
        pointer-events: none;
        background-repeat: no-repeat, no-repeat;
        background-position: left top, left bottom;
        background-image: url("../imgs/t0-b-headerMedia/1/1.png"), url("../imgs/t0-b-headerMedia/1/2.png");
        z-index: 1;
      }

      > div {
        position: relative;
        margin: 0 auto !important;
        width: 100%;
        border-radius: 96px;
        overflow: hidden;
        > * {
          width: 100%;
          line-height: 1.5;
          margin: 0 auto !important;
        }
      }
    }
  }

  .t0-b-headerMedia#{$variation2of2} {
    $_width_content: 1400px;
    width: 100%;
    margin: 0 auto;
    line-height: 0;
    max-width: $_width_content;
    min-width: 1060px;
    min-height: 243px;
    a {
      display: block;
      &:hover {
        opacity: .8;
      }

      position: relative;
      z-index: 3;
      text-decoration: none;
      img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      padding-top: 6px;
      padding-bottom: 50px;
      box-sizing: border-box;
    }

    a > div,
    > div {
      display: inline-block;
      position: relative;
      width: 100%;
      min-height: 243px;
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 242px;
        pointer-events: none;
        background-repeat: no-repeat, repeat-y;
        background-position: left top, left 0 top 6px;
        background-image: url("../imgs/t0-b-headerMedia/2/2.png"), url("../imgs/t0-b-headerMedia/2/3.png");
        z-index: 2;
        background-size: 100% 7px, 100% 1px;
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-image: url("../imgs/t0-b-headerMedia/2/1.png");
        background-size: 100% 242px;
        height: 100%;
        height: 242px;
        z-index: 1;
      }

      > div {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto !important;
        padding-top: 6px;
        padding-bottom: 50px;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia3 {

    width: 100%;
    max-width: 1500px;
    min-width: 1060px;
    margin: 0 auto;
    line-height: 0;
    a {
      display: block;
      img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    a > div,
    > div {
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia4 {
    margin: 0 auto;
    width: 1060px;
    line-height: 0;
    a > div,
    > div {
      margin: 0 auto;
      text-align: center;
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
    }

    a {
      display: block;
      img {
        &:hover {
          opacity: .8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    a > div,
    > div {
      width: 100%;
      position: relative;
      > div {
        position: relative;
        margin: 0 auto !important;
        > * {
          width: 100%;
          line-height: 1.5;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMedia#{$variation1of2},
  .t0-b-headerMedia#{$variation2of2},
  .t0-b-headerMedia3,
  .t0-b-headerMedia4 {
    margin: 0 -15px;
    overflow: auto;
    line-height: 0;
    text-align: center;
    a > div,
    > div {
      width: 100%;
      margin: 0 auto;
      > div {
        margin: 0 20px;
        width: auto;
        max-height: 240px;
        overflow: auto;
        // Youtubeのレスポンシブ対応
        iframe,
        object,
        embed {
          max-width: 100%;
          max-height: 240px;
        }

        > * {
          max-width: 100% !important;
          margin: 0 auto !important;
          overflow: auto;
          line-height: 1.5;
        }
      }
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
