@if $device == PC {
  .t0-b-headerMenu#{$variation1of2} {
    $_width_content: 1060px;
    // 上の装飾分paddingをとる
    padding-top: 3px;
    * {
      position: relative;
      // 葉っぱの装飾が他の部品の下に潜らないようにするため
      z-index: 3;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      padding-top: 2px;
      &::before {
        content: "";
        position: absolute;
        top: -9px;
        bottom: -26px;
        left: 0;
        right: 0;
        background-repeat: repeat-x;
        background-position: center;
        background-image: url("../imgs/t0-b-headerMenu/1/3.png");
      }

      > ul {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        box-sizing: border-box;
        > li {
          display: table-cell;
          background: url("../imgs/t0-b-headerMenu/1/4.png");
          background-repeat: no-repeat;
          background-position: right top 50%;
          vertical-align: middle;
          &:first-child {
            &::before {
              content: "";
              position: absolute;
              background-repeat: no-repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/1/6.png");
              width: 195px;
              height: 138px;
              left: -195px;
              top: -31px;
            }
          }

          &:last-child {
            background: none;
            &::after {
              content: "";
              position: absolute;
              background-repeat: no-repeat;
              background-position: left top;
              background-image: url("../imgs/t0-b-headerMenu/1/7.png");
              width: 189px;
              height: 151px;
              right: -189px;
              top: -31px;
            }
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        color: #5d3e0e;
        font-weight: bold;

        @include g-font(14, 1);

        padding: 0 14px 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 74px;
        box-sizing: border-box;
        > span {
          position: relative;
          text-align: center;
          padding: 5px;
          transition: all 1s ease;
          /* stylelint-disable */
          -webkit-transition: all 1s ease;
          /* stylelint-enable */
          display: inline-table;
          &::before {
            content: "";
            position: absolute;
            pointer-events: none;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all 1s ease;
            /* stylelint-disable */
            -webkit-transition: all 1s ease;
            /* stylelint-enable */
            z-index: -1;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #5d3e0e;
      &:hover {
        div {
          > span {
            &::before {
              background-color: #ffd8e1;
            }
          }
        }
      }
    }

    .state-em {
      div {
        min-width: 88px;
        background: url("../imgs/t0-b-headerMenu/1/5.png") no-repeat 50% 0;
        > span {
          &::before {
            background: none;
          }
        }
      }

      a {
        &:hover {
          div {
            > span {
              color: $g-hoverColor;
              &::before {
                background: none;
              }
            }
          }
        }
      }
    }

    .state-current {
      position: relative;
      div {
        background: none;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 8px;
          bottom: 8px;
          left: 6px;
          right: 10px;
          border-radius: 10px;
          background: #efebc6;
          transition: all 1s ease;
          /* stylelint-disable */
          -webkit-transition: all 1s ease;
          /* stylelint-enable */
          z-index: -1;
        }

        > span {
          text-shadow: $g-textShadow2;
          &::before {
            background: none;
          }
        }
      }

      a {
        &:hover {
          div {
            &::before {
              background: #ffd8e1;
            }

            > span {
              color: $g-textColor;
              text-shadow: none;
              &::before {
                background: none;
              }
            }
          }
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    $_width_content: 1060px;

    background-repeat: repeat-x;
    background-position: left top;
    background-image: url("../imgs/t0-b-headerMenu/2/1.png");
    height: 64px;
    * {
      position: relative;
      z-index: 2;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          background-image: url("../imgs/t0-b-headerMenu/2/2.png");
          background-position: 100% 50%;
          background-repeat: no-repeat;
          vertical-align: middle;
          &:last-child {
            background: none;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      padding: 0 23px 0 0;
      div {
        padding: 0 10px;

        @include g-font(14, 1);

        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        position: relative;
        > span {
          text-align: center;
          display: inline-table;
        }
      }
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      transition: all 1s ease;
      /* stylelint-disable */
      -webkit-transition: all 1s ease;
      /* stylelint-enable */
      &:hover {
        color: #fff;
      }
    }

    .state-em {
      position: relative;
      div {
        padding: 0 0 0 20px;
        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 8px;
          bottom: 7px;
          left: -11px;
          right: -11px;
          border-radius: 10px;
          background: #{image-url("t0-b-headerMenu/2/3.png")} no-repeat left bottom, #{image-url("t0-b-headerMenu/2/4.png")} no-repeat right top;
          background-image: url("../imgs/t0-b-headerMenu/2/3.png"), url("../imgs/t0-b-headerMenu/2/4.png");
          background-position: left bottom, right top;
          background-repeat: no-repeat, no-repeat;
        }

        > span {
          color: #fff;
          text-shadow: (-1px) -1px #ff9898, 1px -1px #ff9898, -1px 1px #ff9898, 1px 1px #ff9898, (-1px) -2px #ff9898, 1px -2px #ff9898, -1px 2px #ff9898, 1px 2px #ff9898, (-2px) -1px #ff9898, 2px -1px #ff9898, -2px 1px #ff9898, 2px 1px #ff9898, (-2px) -2px 1px #ff9898, 2px -2px 1px #ff9898, -2px 2px 1px #ff9898, 2px 2px 1px #ff9898;
          transition: all 1s ease;
          /* stylelint-disable */
          -webkit-transition: all 1s ease;
          /* stylelint-enable */
        }
      }

      a div {
        &:hover {
          > span {
            color: $g-hoverColor;
            text-shadow: $g-textShadow2;
          }
        }
      }
    }

    .state-current {
      position: relative;
      div {
        padding: 0 20px;
        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 12px;
          bottom: 12px;
          left: 10px;
          right: 10px;
          border-radius: 5px;
          background: #f9a2a3;
          box-shadow: 2px 2px 3px #ffd7d7, -2px -2px 3px #ffd7d7;
        }

        &::after {
          content: "";
          position: absolute;
          pointer-events: none;
          top: 12px;
          bottom: 4px;
          left: 10px;
          right: 10px;
          background-image: url("../imgs/t0-b-headerMenu/2/5.png");
          background-position: center bottom;
          background-repeat: no-repeat;
        }

        > span {
          color: #fff;
          text-shadow: none;
          transition: all 1s ease;
          /* stylelint-disable */
          -webkit-transition: all 1s ease;
          /* stylelint-enable */
        }
      }

      a div {
        &:hover {
          > span {
            color: $g-hoverColor;
            text-shadow: none;
          }
        }
      }
    }
  }

  .t0-b-headerMenu3 {
    $_width_content: 1060px;

    margin: 0 0 1px;
    background-color: transparent;
    color: #8e6e3b;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding: 8px 0;
        box-sizing: border-box;
        > li {
          display: table-cell;
          vertical-align: middle;
          &:last-child {
            background: none;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        @include g-font(16, 1);

        height: 34px;
        padding: 0 15px;
        position: relative;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        &::before {
          transition: all .3s;
        }

        &::after {
          content: "";
          position: absolute;
          pointer-events: none;
          top: auto;
          bottom: -2px;
          left: 15px;
          right: 15px;
          height: 2px;
          background-color: transparent;
          transition: all .3s;
        }

        > span {
          font-weight: bold;
          display: inline-table\0;
        }
      }

      &:hover {
        color: #b79907;
        a {
          color: #b79907;
        }

        div {
          position: relative;
          &::after {
            background-color: #dfc12d;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #8e6e3b;
    }

    .state-em,
    .state-em a {
      color: #0f9981;
      div {
        position: relative;
        &::before, &::after {
          content: "";
          position: absolute;
          pointer-events: none;
          left: 15px;
          right: 15px;
          height: auto;
          background-color: #aee7dd;
          z-index: 0;
          transition: all .3s;
        }

        &::before {
          top: 0;
          bottom: 2px;
        }

        &::after {
          bottom: -2px;
          height: 2px;
        }

        * {
          position: relative;
        }
      }

      &:hover {
        div {
          &::before {
            background-color: transparent;
          }
        }
      }
    }

    .state-current,
    .state-current a {
      color: #b79907;
      div {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          pointer-events: none;
          top: auto;
          bottom: -2px;
          left: 15px;
          right: 15px;
          height: 2px;
          background-color: #dfc12d;
          transition: all .3s;
        }

        &::after {
          display: none;
        }
      }

      &:hover {
        div {
          &::before {
            background-color: #dfc12d;
          }
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of2} {
    margin: 0 -15px;
    text-align: center;
    background: #fff;
    @include g-font(12, 1);
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #5d3e0e;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #5d3e0e;
    }

    .state-em {
      > div,
      a > div {
        color: #5d3e0e;
        font-weight: bold;
      }

      a {
        color: #5d3e0e;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #efebc6;
          font-weight: normal;
          color: #5d3e0e;
        }
      }

      a {
        color: #5d3e0e;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    margin: 0 -15px;
    background: #fecaca;

    @include g-font(12, 1);

    text-align: center;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: $g-textColor;
    }

    .state-em {
      > div,
      a > div {
        &, &:hover {
          font-weight: bold;
        }
      }

      a {
        color: $g-textColor;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #f9a2a3;
          font-weight: normal;
          color: #fff;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu3 {
    margin: 0 -15px;
    text-align: center;
    background: #fff;
    @include g-font(12, 1);
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #5d3e0e;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #5d3e0e;
    }

    .state-em {
      > div,
      a > div {
        color: #5d3e0e;
        font-weight: bold;
      }

      a {
        color: #5d3e0e;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #efebc6;
          font-weight: normal;
          color: #5d3e0e;
        }
      }

      a {
        color: #5d3e0e;
        text-decoration: none;
      }
    }
  }
}
