@if $device == PC {
  .t0-b-headerUnit-contact-fax {
    margin: 0 auto;
    display: table;
    white-space: nowrap;

    > div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-iconText/fax2.png");
      background-size: 32px auto;
      min-width: 32px;
      height: 22px;
      background-position: left center;
    }

    > p {
      display: table-cell;

      @include g-font(14, 1);

      vertical-align: middle;
      padding: 1px 0 0 6px;
      color: #b38f06;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-fax {
    display: table;

    > div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-iconText/fax2.png");
      background-size: 32px auto;
      min-width: 32px;
      height: 22px;
      background-position: left center;
    }

    > p {
      display: table-cell;

      @include g-font(16, 1);

      vertical-align: middle;
      padding: 0 0 0 6px;
      color: #b38f06;
    }
  }
}
