@if $device == PC {
  .t0-b-footerUnit-media {
    $_block: &;

    color: $textcolor;

    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      line-height: 0;
      text-align: center;
      position: relative;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      a {
        display: block;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18, 1);
        @include g-textOuterGlow;

        padding: 10px 5px;
        background: rgba(255, 255, 255, 0.8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      p {
        @include g-font(18, 1);
        @include g-textOuterGlow;

        padding: 10px 5px;
        background: rgba(255, 255, 255, 0.8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      a {
        &:hover {
          color: $hovercolor;
        }
      }

      margin-top: 10px;
      padding: 0 0 0 25px;

      @include g-font(16, 1);

      background: #{image-url("t0-b-navItem/9.png")} no-repeat 0 50%;

      > div {
        border-bottom: 1px solid #32a995;
        display: inline-block;
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }
  }

}

@if $device == SP {
  .t0-b-footerUnit-media {
    ul {
      padding: 5px 10px;
    }

    background: #fff;
    box-sizing: border-box;
    margin: 0 -15px;
    text-align: center;
    border: 1px solid #d0c46e;

    .t0-b-footerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;

      div {
        text-align: center;
        padding: 5px 0;

        @include g-font-spacingKilled(12, 1);

        text-decoration: underline;
      }
    }

    a {
      color: $textcolor;
    }

    .state-em {
      color: $hovercolor;

      > a {
        color: $hovercolor;
      }
    }
  }

}
