@if $device == PC {
  .t0-b-footerUnit-media {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        display: block;
        width: 100%;
        height: auto;
      }

      a {
        display: block;
        color: $g-baseFontColor;
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__nav {
      @include g-font(16, 1);
      margin-top: 10px;
      > div {
        display: inline-block;
      }

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-footerUnit-media2 {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        display: block;
        width: 100%;
        height: auto;
      }

      a {
        display: block;
        color: $g-baseFontColor;
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__nav {
      @include g-font(16, 1);
      margin-top: 10px;
      > div {
        display: inline-block;
      }

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-footerUnit-media3 {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        display: block;
        width: 100%;
        height: auto;
      }

      a {
        display: block;
        color: $g-baseFontColor;
        text-decoration: none;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__nav {
      @include g-font(16, 1);
      margin-top: 10px;
      > div {
        display: inline-block;
      }

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-media {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &__nav {
      display: table;
      margin: 0 auto;

      @include g-font(16, 1);
      > div {
        display: inline-block;
        padding: 1px 0;
      }

      a {
        text-decoration: none;
      }
    }
  }

  .t0-b-footerUnit-media2 {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &__nav {
      display: table;
      margin: 0 auto;

      @include g-font(16, 1);
      > div {
        display: inline-block;
        padding: 1px 0;

      }

      a {
        text-decoration: none;
      }
    }
  }

  .t0-b-footerUnit-media3 {
    margin: 0 auto;
    &__media {
      position: relative;
      text-align: center;
      img {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      p {
        @include g-font(18,1);
        @include g-textOuterGlow;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    &__nav {
      display: table;
      margin: 0 auto;

      @include g-font(16, 1);
      > div {
        display: inline-block;
        padding: 1px 0;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
