@if $device == PC {
  .t0-b-copyright#{$variation1of2} {
    width:100%;
    text-align: center;
    @include g-font(14, 1);
    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-copyright#{$variation2of2} {
    width:100%;
    text-align: center;
    @include g-font(14, 1);
    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-copyright#{$variation1of2} {
    margin: 0 -15px;
    text-align: center;
    @include g-font(12, 1);
    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-copyright#{$variation2of2} {
    margin: 0 -15px;
    text-align: center;
    @include g-font(12, 1);
    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}
