@if $device == PC {
  .t0-b-footerUnit-navB#{$variation1of2} {
    white-space: nowrap;
    margin-bottom: 3px;

    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;

      &:first-child {
        padding-left: 0;
      }

      div {
        color: #5d3e0e;
        background: #f9decc;

        @include g-font(16, 1);

        box-sizing: border-box;
        border-radius: 9px;
        box-shadow: 2px 3px #c2e2dd;

        a {
          text-decoration: none;
          padding: 5px 12px 5px 31px;
          display: block;
          color: #5d3e0e;
          background: url("../imgs/t0-b-navItem/10.png") no-repeat 7px 50%;

          &:hover {
            opacity: 0.5;
          }

          p {
            display: block;
          }
        }
      }

      div > p {
        &:last-child {
          display: block;
          padding: 5px 12px 5px 31px;
          background: url("../imgs/t0-b-navItem/10.png") no-repeat 7px 50%;
        }
      }
    }

  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    white-space: nowrap;
    margin-bottom: 3px;

    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;

      &:first-child {
        padding-left: 0;
      }

      div {
        color: #fff;
        background: #c6a500;

        @include g-font(16, 1);

        box-sizing: border-box;
        border-radius: 9px;
        box-shadow: 2px 3px #c2e2dd;

        a {
          text-decoration: none;
          padding: 5px 12px 5px 31px;
          display: block;
          color: #fff;
          background: url("../imgs/t0-b-navItem/12.png") no-repeat 7px 50%;

          &:hover {
            opacity: 0.8;
          }

          p {
            display: block;
          }
        }
      }

      div > p {
        &:last-child {
          display: block;
          padding: 5px 12px 5px 31px;
          background: url("../imgs/t0-b-navItem/12.png") no-repeat 7px 50%;
        }
      }
    }

  }

  .t0-b-footerUnit-navB3 {
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }

      div {
        box-sizing: border-box;
        color: $textcolor;
        @include g-font(16, 1);
        a {
          display: block;
          color: $textcolor;
          text-decoration: none;
           &:hover {
            opacity: .8;
          }

          p {
            display: block;
          }
        }
      }
    }
  }

  .t0-b-footerUnit-navB4 {
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }

      div {
        box-sizing: border-box;
        color: $textcolor;
        @include g-font(16, 1);
        a {
          display: block;
          color: $textcolor;
          text-decoration: none;
           &:hover {
            opacity: .8;
          }

          p {
            display: block;
          }
        }
      }
    }
  }

  .t0-b-footerUnit-navB5 {
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      &:first-child {
        padding-left: 0;
      }

      div {
        box-sizing: border-box;
        color: $textcolor;
        @include g-font(16, 1);
        a {
          display: block;
          color: $textcolor;
          text-decoration: none;
           &:hover {
            opacity: .8;
          }

          p {
            display: block;
          }
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    color: #5d3e0e;

    &__item {
      background-image: url("../imgs/t0-b-navList/bg.png");
      background-color: #f9decc;
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #f9decc;
      border-radius: 5px;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #5d3e0e;

        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;

          @include g-font(16, 1);
        }
      }

      div > p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;

        @include g-font(16, 1);
      }
    }
  }
  .t0-b-footerUnit-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    color: #fff;

    &__item {
      background-image: url("../imgs/t0-b-navList/bg.png");
      background-color: #c6a500;
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #c6a500;
      border-radius: 5px;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #fff;

        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;

          @include g-font(16, 1);
        }
      }

      div > p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;

        @include g-font(16, 1);
      }
    }
  }
  .t0-b-footerUnit-navB3 {
    width: 95%;
    margin: 0 auto;
    color: $textcolor;
    &__item {
      margin-top: 10px;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: $textcolor;
        text-decoration: none;
        p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }

      div {
        > p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }
    }
  }
  .t0-b-footerUnit-navB4 {
    width: 95%;
    margin: 0 auto;
    color: $textcolor;
    &__item {
      margin-top: 10px;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: $textcolor;
        text-decoration: none;
        p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }

      div {
        > p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }
    }
  }
  .t0-b-footerUnit-navB5 {
    width: 95%;
    margin: 0 auto;
    color: $textcolor;
    &__item {
      margin-top: 10px;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: $textcolor;
        text-decoration: none;
        p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }

      div {
        > p {
          @include g-font(16, 1);
          display: block;
          padding: 12px 10px;
          margin-right: 10%;
          text-decoration: none;
        }
      }
    }
  }
}
