@if $device == PC {
  .t0-b-footerUnit-lv1H {
    h4 {
      @include g-font(16, 1);

      white-space: nowrap;
      font-weight: bold;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv1H {
    h4 {
      @include g-font(16, 1);

      font-weight: bold;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
    }
  }
}
