@if $device == PC {
  .t0-b-footerMenuWithCp#{$variation1of2} {
    width: 100%;
    margin-top: 113px;
    box-sizing: border-box;
    background: #91d3c8;
    color: #fff;
    text-align: center;
    padding: 13px 0;

    @include g-font(14, 1);

    background-image: url("../imgs/t0-b-copyright/2.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      height: 4px;
      background-image: url("../imgs/t0-b-copyright/1.png");
      background-repeat: repeat-x;
      background-position: left top;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 0;
      right: 0;
      top: -113px;
      bottom: 0;
      background-image: url("../imgs/area-all/3.png"), url("../imgs/area-all/6.png");
      background-position: left 75px bottom 0, right 63px bottom 0;
      background-repeat: no-repeat, no-repeat;
      z-index: 2;
    }

    > div {
      display: table;
      width: 100%;
      width: 1060px;
      margin: 0 auto;
    }

    p {
      display: table-cell;
      @include g-font(14, 1);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        color: #fff;

        @include g-font(14, 1);

        text-decoration: none;
        padding: 0 11px;
        background: #{image-url("t0-b-copyright/3.png")} 0 2px no-repeat;
      }

      a {
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 3;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: $hovercolor2;
      a {
        color: $hovercolor2;
      }
    }
  }

  .t0-b-footerMenuWithCp#{$variation2of2} {
    width: 100%;
    margin-top: 1px;
    box-sizing: border-box;
    background: #91d3c8;
    color: #fff;
    text-align: center;
    padding: 13px 0;

    @include g-font(14, 1);

    background-image: url("../imgs/t0-b-copyright/2.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      height: 4px;
      background-image: url("../imgs/t0-b-copyright/1.png");
      background-repeat: repeat-x;
      background-position: left top;
    }

    > div {
      display: table;
      width: 100%;
      width: 1060px;
      margin: 0 auto;
    }

    p {
      display: table-cell;
      @include g-font(14, 1);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        color: #fff;

        @include g-font(14, 1);

        text-decoration: none;
        padding: 0 11px;
        background: #{image-url("t0-b-copyright/3.png")} 0 2px no-repeat;
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: $hovercolor2;
      a {
        color: $hovercolor2;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerMenuWithCp#{$variation1of2},
  .t0-b-footerMenuWithCp#{$variation2of2} {
    @include g-font(12, 1);

    color: #fff;
    margin: 0 -15px;
    text-align: center;
    > div {
      background: #91d3c8;
      display: table;
      width: 100%;
    }

    p {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 0 0 5px;
      background: #91d3c8;
      color: #fff;
      box-sizing: border-box;
    }

    .state-em {
      color: $hovercolor2;
      > a {
        color: $hovercolor2;
      }
    }

    &__menu {
      display: table-header-group;
      a {
        color: #fff;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }

        margin-left: 15px;
        display: inline-block;
        text-align: left;
        padding: 5px 0;
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
