$g-fullWidthBGColor: #eef1e1;
$g-fullWidthBGColor2: #ffffdf;
$g-fullWidthBGColor3: #e3e8c0;
$g-fullWidthBGColor4: #abb576;
$g-fullWidthBGColor5: #fff;
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #393939;
$g-hoverColor: #a1b91d;
$g-hoverColor2: #608802;
$g-hoverColor3: #7ea326;
$g-textColor: #393939;
