$layout: "R30";
$areaContainerWidth: 1080px;
$areaMainWidth: 700px;
$areaSubWidth: 370px;
.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #000;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  *zoom: 1;
}

.area-container::before, .area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  float: left;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  float: right;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 0 50px 70px;
  position: relative;
  // 画像列の下にもぐらないように
  z-index: 11;
}

.area-footer {
  position: relative;
  background: url("../imgs/t0-b-footerMenu/bg.png") repeat left top;
}
