$areaContainerWidth: 1100px;
$areaMainWidth: 780px;
$areaSubWidth: 320px;

.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $g-baseBackgroundColor;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  // *zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


.area-main {
  box-sizing: border-box;
  padding: 0 0 50px;
  float: left;
  width: 780px;
}

.area-sub {
  box-sizing: border-box;
  min-height: 100px;
  float: right;
  width: 320px;
  padding: 0 0 50px 50px;
}

.area-footer {
  background: $g-baseBackgroundColor;
  padding-top: 1px; //フッター最上部のフッターメニューの背景が伸びないための指定
}
