@if $device == PC {

  .t0-b-iconText-tel {
    $_block: &;

    display: table;

    p {
      @include g-font(16, 1);

      padding-bottom: 5px;
    }

    &__ruby {
      text-align: right;
      color: #074098;
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__bd {
      display: table;
      text-align: center;
      color: #074098;
      font-weight: bold;
      span:last-child {
        text-align: left;
        word-break: break-all;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: left 0;
      vertical-align: top;
    }

    &__wrap {
      display: table-cell;
      vertical-align: middle;
      p {
        > a {
          color: inherit;
          &:hover {
            color: $hovercolor;
          }
        }
      }
    }

    &__media {
      padding: 0 10px 0 0;
      display: table-cell;
      vertical-align: middle;

      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    // aligns

    &--align-l {
      margin: 0 auto 0 0;
      text-align: left;
    }

    &--align-c {
      margin: 0 auto;
      text-align: center;
    }

    &--align-r {
      margin: 0 0 0 auto;
      text-align: right;
    }

    // icon sizes

    &--size-1 {
      p {
        @include g-font(10, 1);

        padding-bottom: 5px;
      }

      #{$_block}__ruby {
        @include g-font(10, 1);
      }

      #{$_block}__bd {
        @include g-font(22, 1);

        line-height: 1;
      }

      #{$_block}__icon {
        padding-right: 6px;
      }

      #{$_block}__tel {
        width: $_tel_wd / 2.07;
        height: $_tel_hg / 2.07;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 2.07) ($_tel_hg / 2.07);
      }

      #{$_block}__fax {
        width: $_fax_wd / 2.07;
        height: $_fax_hg / 2.07;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 2.07) ($_fax_hg / 2.07);
        background-position: left 4px;
      }

      #{$_block}__free {
        width: $_free_wd / 2.07;
        height: $_free_hg / 2.07;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 2.07) ($_free_hg / 2.07);
        background-position: left 4px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 2.07;
        height: $_cell_hg / 2.07;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 2.07) ($_cell_hg / 2.07);
        background-position: left 1px;
      }
    }

    &--size-2 {
      p {
        @include g-font(12, 1);

        padding-bottom: 5px;
      }

      #{$_block}__ruby {
        @include g-font(12, 1);
      }

      #{$_block}__bd {
        @include g-font(28, 1);

        line-height: 1;
      }

      #{$_block}__icon {
        padding-right: 7px;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.61;
        height: $_tel_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.61) ($_tel_hg / 1.61);
        background-position: left 2px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.61;
        height: $_fax_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.61) ($_fax_hg / 1.61);
        background-position: left 6px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.61;
        height: $_free_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.61) ($_free_hg / 1.61);
        background-position: left 6px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.61;
        height: $_cell_hg / 1.61;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.61) ($_cell_hg / 1.61);
        background-position: left 2px;
      }
    }

    &--size-3 {
      p {
        @include g-font(14, 1);
      }

      #{$_block}__ruby {
        @include g-font(14, 1);
      }

      #{$_block}__bd {
        @include g-font(34, 1);

        line-height: 1;
      }

      #{$_block}__icon {
        padding-right: 8px;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.38;
        height: $_tel_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.38) ($_tel_hg / 1.38);
        background-position: left 1px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.38;
        height: $_fax_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.38) ($_fax_hg / 1.38);
        background-position: left 7px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.38;
        height: $_free_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.38) ($_free_hg / 1.38);
        background-position: left 6px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.38;
        height: $_cell_hg / 1.38;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.38) ($_cell_hg / 1.38);
        background-position: left 1px;
      }
    }

    &--size-4 {
      p {
        @include g-font(16, 1);
      }

      #{$_block}__ruby {
        @include g-font(16, 1);
      }

      #{$_block}__bd {
        @include g-font(40, 1);

        line-height: 1;
      }

      #{$_block}__icon {
        margin: 0px 10px 0 0;
      }

      #{$_block}__icon {
        padding-right: 9px;
      }

      #{$_block}__tel {
        width: $_tel_wd / 1.16;
        height: $_tel_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-size: ($_tel_wd / 1.16) ($_tel_hg / 1.16);
        background-position: left 1px;
      }

      #{$_block}__fax {
        width: $_fax_wd / 1.16;
        height: $_fax_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-size: ($_fax_wd / 1.16) ($_fax_hg / 1.16);
        background-position: left 7px;
      }

      #{$_block}__free {
        width: $_free_wd / 1.16;
        height: $_free_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-size: ($_free_wd / 1.16) ($_free_hg / 1.16);
        background-position: left 7px;
      }

      #{$_block}__cell {
        width: $_cell_wd / 1.16;
        height: $_cell_hg / 1.16;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-size: ($_cell_wd / 1.16) ($_cell_hg / 1.16);
        background-position: left 1px;
      }
    }

    &--size-5 {
      p {
        @include g-font(16, 1);
      }

      #{$_block}__ruby {
        @include g-font(16, 1);
      }

      #{$_block}__bd {
        @include g-font(46, 1);

        line-height: 1;
      }

      #{$_block}__icon {
        padding-right: 10px;
      }

      #{$_block}__tel {
        width: $_tel_wd;
        height: $_tel_hg;
        background-image: url("../imgs/t0-b-iconText/tel.png");
        background-position: left 1px;
      }

      #{$_block}__fax {
        width: $_fax_wd;
        height: $_fax_hg;
        background-image: url("../imgs/t0-b-iconText/fax.png");
        background-position: left 9px;
      }

      #{$_block}__free {
        width: $_free_wd;
        height: $_free_hg;
        background-image: url("../imgs/t0-b-iconText/free.png");
        background-position: left 8px;
      }

      #{$_block}__cell {
        width: $_cell_wd;
        height: $_cell_hg;
        background-image: url("../imgs/t0-b-iconText/cell.png");
        background-position: left 1px;
      }
    }
  }
}

@if $device == SP {

  .t0-b-iconText-tel {
    text-align: center;

    p {
      @include g-font(16, 1);
      padding-bottom: 10px;
    }

    a[href^=tel] {
      width: 95%;
      margin: 0 auto;
      background: linear-gradient(#fff, #f6f6f6, #eee);
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px 10px 10px 10px;
      box-sizing: border-box;
      word-break: break-all;
      vertical-align: top;
      display: block;
    }

    img {
      width: 25%;
      display: block;
      margin: 0 auto;
      padding: 0 0 10px 0;
    }

    &__ruby {
      color: #555;
      @include g-font(12, 1);
    }

    &__bd {
      color: #ff0000;
      @include g-font(22, 1);

      > span {
        vertical-align: middle;
      }
      > span:last-child {
        word-wrap: break-word;
      }
    }

    &__icon {
      display: inline-block;
      vertical-align: top;
      padding: 0 3px 0 0;
      background-repeat: no-repeat;
    }

    &__tel {
      width: $_tel_wd / 3.29;
      height: $_tel_hg / 3.29;
      background-image: url("../imgs/t0-b-iconText/tel.png");
      background-size: ($_tel_wd / 3.29) ($_tel_hg / 3.29);
      margin-top: 0;
    }

    &__fax {
      width: $_fax_wd / 3.29;
      height: $_fax_hg / 3.29;
      background-image: url("../imgs/t0-b-iconText/fax.png");
      background-size: ($_fax_wd / 3.29) ($_fax_hg / 3.29);
      margin-top: 0;
    }

    &__free {
      width: $_free_wd / 3.29;
      height: $_free_hg / 3.29;
      background-image: url("../imgs/t0-b-iconText/free.png");
      background-size: ($_free_wd / 3.29) ($_free_hg / 3.29);
      margin-top: 0;
    }

    &__cell {
      width: $_cell_wd / 3.29;
      height: $_cell_hg / 3.29;
      background-image: url("../imgs/t0-b-iconText/cell.png");
      background-size: ($_cell_wd / 3.29) ($_cell_hg / 3.29);
      margin-top: -1px;
    }
  }
}
