@if $device == PC {
  .t0-b-headerMenu#{$variation1of2} {
    $_width_content: 1100px;
    background: #002f75;
    border-bottom: 3px solid #215ab1;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid #fff;
          &:first-child {
            border-left: 1px solid #fff;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        padding: 0 11px 0 10px;
        color: #fff;
        text-align: center;
        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        div {
          color: #1f5bb6;
          background-color: #fff;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        color: #2c66c0;
        background-color: #bad2f5;
        &::after {
          position: absolute;
          right: 3px;
          bottom: 0;
          left: 3px;
          z-index: -1;
          height: 4px;
          pointer-events: none;
          content: "";
          background-color: #fff;
        }
      }

      a {
        color: #0b6577;
      }
    }

    .state-current {
      div {
        color: #fff;
        background-color: #1c57b4;
        &::after {
          background: none;
        }
      }

      a {
        color: #fff;
      }
    }

    // 固定表示用
    &--fixDisplay {
      position: relative;
      width: 100%;
      min-width: $areaContainerWidth + 36px;
      transition: box-shadow .5s;
      transform: translateY(0);
      // 固定表示時に他の要素より上にするためつけている
      z-index: 420;
      &.fixed {
        top: -100%;
        box-shadow: 0 2px 8px rgba(#00001e, .18);
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    $_width_content: 1100px;
    background: #fff;
    border-top: 1px solid #dadada;
    border-bottom: 4px solid #6aa6d0;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          background: url("../imgs/t0-b-headerMenu/1.png") no-repeat right center;
          &:first-child {
            background: url("../imgs/t0-b-headerMenu/1.png") no-repeat left center, url("../imgs/t0-b-headerMenu/1.png") no-repeat right center;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        padding: 0 11px 0 10px;
        color: #0d4291;
        text-align: center;
        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #0d4291;
      text-decoration: none;
      &:hover {
        div {
          color: #7ab3e4;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          top: 4px;
          right: 4px;
          bottom: 4px;
          left: 4px;
          z-index: -1;
          pointer-events: none;
          content: "";
          background-color: #a4cff5;
        }

        &::after {
          position: absolute;
          right: 4px;
          bottom: 7px;
          left: 4px;
          z-index: -1;
          height: 2px;
          pointer-events: none;
          content: "";
          background-color: #fff;
        }
      }

      a {
        &:hover {
          div {
            color: #7ab3e4;
          }
        }
      }
    }

    .state-current {
      div {
        background-color: #6aa6d0;
        &::before {
          background: none;
        }

        &::after {
          background: none;
        }
      }

      a {
        &:hover {
          div {
            color: #1f5bb6;
          }
        }
      }
    }

    // 固定表示用
    &--fixDisplay {
      position: relative;
      width: 100%;
      min-width: $areaContainerWidth + 36px;
      transition: box-shadow .5s;
      transform: translateY(0);
      // 固定表示時に他の要素より上にするためつけている
      z-index: 420;
      &.fixed {
        top: -100%;
        box-shadow: 0 2px 8px rgba(#00001e, .18);
      }
    }
  }

  .t0-b-headerMenu3 {
    $_width_content: 1100px;
    color: #fff;
    background: #0d0d0d;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #1176bd;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #1176bd;
    }

    // 固定表示用
    &--fixDisplay {
      position: relative;
      width: 100%;
      min-width: $areaContainerWidth + 36px;
      transition: box-shadow .5s;
      transform: translateY(0);
      // 固定表示時に他の要素より上にするためつけている
      z-index: 420;
      &.fixed {
        top: -100%;
        box-shadow: 0 2px 8px rgba(#00001e, .18);
      }
    }
  }

  .t0-b-headerMenu4 {
    $_width_content: 1100px;
    color: #fff;
    background: #0d4291;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      transition: all .3s;
      div {
        @include g-font(14, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        color: #fff;
        background-color: #7795c1;
        a {
          color: #fff;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: all .3s;
    }

    .state-current {
      color: #013481;
      background-color: #7795c1;
      a {
        color: #013481;
      }
    }

    // 固定表示用
    &--fixDisplay {
      position: relative;
      width: 100%;
      min-width: $areaContainerWidth + 36px;
      transition: box-shadow .5s;
      transform: translateY(0);
      // 固定表示時に他の要素より上にするためつけている
      z-index: 420;
      &.fixed {
        top: -100%;
        box-shadow: 0 2px 8px rgba(#00001e, .18);
      }
    }
  }

  .t0-b-headerMenu5 {
    $_width_content: 1100px;
    color: #333;
    background: #fff;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #1f5bb6;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #333;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #1176bd;
    }

    // 固定表示用
    &--fixDisplay {
      position: relative;
      width: 100%;
      min-width: $areaContainerWidth + 36px;
      transition: box-shadow .5s;
      transform: translateY(0);
      // 固定表示時に他の要素より上にするためつけている
      z-index: 420;
      &.fixed {
        top: -100%;
        box-shadow: 0 2px 8px rgba(#00001e, .18);
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of2} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    text-align: center;
    background: #043173;
    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #fff;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #fff;
      }

      a {
        color: #fff;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          font-weight: normal;
          color: #fff;
          background: #215ab1;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2},
  .t0-b-headerMenu5 {
    margin: 0 -15px;
    text-align: center;
    background: #fff;
    border: 1px solid #6aa6d0;
    ul {
      padding: 5px 0;
    }

    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #0d4291;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #0d4291;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #0d4291;
      }

      a {
        color: #0d4291;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #fff;
        &, &:hover {
          font-weight: normal;
          background: #6aa6d0;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu3 {
    @include g-font(12, 1);
    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #0d0d0d;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #fff;
    }

    .state-current,
    .state-current a {
      color: #95c1e7;
    }
  }

  .t0-b-headerMenu4 {
    @include g-font(12, 1);
    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #0d4291;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #fff;
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #013481;
        &, &:hover {
          font-weight: normal;
          background-color: #7795c1;
        }
      }

      a {
        color: #013481;
      }
    }
  }

  .t0-b-headerMenu5 {
    border: none;
    .t0-b-headerMenu__item {
      > div,
      a > div {
        color: #393939;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
    }

    .state-em,
    .state-em a {
      font-weight: bold;
      color: #393939;
    }

    .state-current {
      > div,
      a > div {
        color: #1176bd;
      }
    }
  }
}
