/*
---
name: font-family変数
category:
- assets
---

フォントファミリー用変数

font-familyは以下の変数を使用する

```scss
$gothic: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
$mincho: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", serif;
$marugo: "Hiragino Maru Gothic ProN", "HG丸ｺﾞｼｯｸM-PRO", HGMaruGothicMPRO, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
```

*/
$gothic: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, メイリオ, "ＭＳ Ｐゴシック", sans-serif;
$mincho: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", serif;
$marugo: "Hiragino Maru Gothic ProN", "HG丸ｺﾞｼｯｸM-PRO", HGMaruGothicMPRO, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;



/*
---
name: g-font
category:
- assets
---

フォント用mixn

font-sizeとline-heightの組み合わせを指定する

```scss
@mixin g-font($fontSizePx, $lineHeightType: 0) {

  @if $lineHeightType == 1 {
    line-height: 1.25;
  }
  @if $lineHeightType == 2 {
    line-height: 1.6;
  }

  @if $fontSizePx == 8 {font-size: 0.571rem;}
  @if $fontSizePx == 10 {font-size: 0.714rem;}
  @if $fontSizePx == 12 {font-size: 0.857rem;}
  @if $fontSizePx == 14 {font-size: 1.000rem;}
  @if $fontSizePx == 16 {font-size: 1.143rem;}
  @if $fontSizePx == 18 {font-size: 1.286rem;}
  @if $fontSizePx == 20 {font-size: 1.429rem;}
  @if $fontSizePx == 22 {font-size: 1.571rem;}
  @if $fontSizePx == 24 {font-size: 1.714rem;}
  @if $fontSizePx == 26 {font-size: 1.857rem;}
  @if $fontSizePx == 28 {font-size: 2.000rem;}
  @if $fontSizePx == 30 {font-size: 2.143rem;}
  @if $fontSizePx == 32 {font-size: 2.286rem;}
  @if $fontSizePx == 34 {font-size: 2.429rem;}
  @if $fontSizePx == 36 {font-size: 2.571rem;}
  @if $fontSizePx == 38 {font-size: 2.714rem;}
  @if $fontSizePx == 40 {font-size: 2.857rem;}
  @if $fontSizePx == 42 {font-size: 3.000rem;}
  @if $fontSizePx == 44 {font-size: 3.143rem;}
  @if $fontSizePx == 46 {font-size: 3.286rem;}
  @if $fontSizePx == 48 {font-size: 3.429rem;}
  @if $fontSizePx == 50 {font-size: 3.571rem;}
  @if $fontSizePx == 52 {font-size: 3.714rem;}
  @if $fontSizePx == 54 {font-size: 3.857rem;}
  @if $fontSizePx == 56 {font-size: 4.000rem;}
  @if $fontSizePx == 58 {font-size: 4.143rem;}
  @if $fontSizePx == 60 {font-size: 4.286rem;}
  @if $fontSizePx == 62 {font-size: 4.429rem;}
  @if $fontSizePx == 64 {font-size: 4.571rem;}
  @if $fontSizePx == 66 {font-size: 4.714rem;}
  @if $fontSizePx == 68 {font-size: 4.857rem;}
  @if $fontSizePx == 70 {font-size: 5.000rem;}
  @if $fontSizePx == 72 {font-size: 5.143rem;}
  @if $fontSizePx == 74 {font-size: 5.286rem;}
  @if $fontSizePx == 76 {font-size: 5.429rem;}
}
```

*/


@mixin g-font($fontSizePx, $lineHeightType: 0) {

  @if $lineHeightType == 1 {line-height: 1.25;}
  @if $lineHeightType == 2 {line-height: 1.6;}

  @if $fontSizePx == 8 {font-size: 0.571rem;}
  @if $fontSizePx == 10 {font-size: 0.714rem;}
  @if $fontSizePx == 12 {font-size: 0.857rem;}
  @if $fontSizePx == 14 {font-size: 1.000rem;}
  @if $fontSizePx == 16 {font-size: 1.143rem;}
  @if $fontSizePx == 18 {font-size: 1.286rem;}
  @if $fontSizePx == 20 {font-size: 1.429rem;}
  @if $fontSizePx == 22 {font-size: 1.571rem;}
  @if $fontSizePx == 24 {font-size: 1.714rem;}
  @if $fontSizePx == 26 {font-size: 1.857rem;}
  @if $fontSizePx == 28 {font-size: 2.000rem;}
  @if $fontSizePx == 30 {font-size: 2.143rem;}
  @if $fontSizePx == 32 {font-size: 2.286rem;}
  @if $fontSizePx == 34 {font-size: 2.429rem;}
  @if $fontSizePx == 36 {font-size: 2.571rem;}
  @if $fontSizePx == 38 {font-size: 2.714rem;}
  @if $fontSizePx == 40 {font-size: 2.857rem;}
  @if $fontSizePx == 42 {font-size: 3.000rem;}
  @if $fontSizePx == 44 {font-size: 3.143rem;}
  @if $fontSizePx == 46 {font-size: 3.286rem;}
  @if $fontSizePx == 48 {font-size: 3.429rem;}
  @if $fontSizePx == 50 {font-size: 3.571rem;}
  @if $fontSizePx == 52 {font-size: 3.714rem;}
  @if $fontSizePx == 54 {font-size: 3.857rem;}
  @if $fontSizePx == 56 {font-size: 4.000rem;}
  @if $fontSizePx == 58 {font-size: 4.143rem;}
  @if $fontSizePx == 60 {font-size: 4.286rem;}
  @if $fontSizePx == 62 {font-size: 4.429rem;}
  @if $fontSizePx == 64 {font-size: 4.571rem;}
  @if $fontSizePx == 66 {font-size: 4.714rem;}
  @if $fontSizePx == 68 {font-size: 4.857rem;}
  @if $fontSizePx == 70 {font-size: 5.000rem;}
  @if $fontSizePx == 72 {font-size: 5.143rem;}
  @if $fontSizePx == 74 {font-size: 5.286rem;}
  @if $fontSizePx == 76 {font-size: 5.429rem;}
}




@mixin g-font-killSpacing($position, $fontSizePx, $lineHeightType: 1) {
  @if $position == top {
    &::before {
      content: "";
      display: block;
      height: 0;
      @if $lineHeightType == 1 {
        @if $fontSizePx < 14 {
          margin-top: -0.05rem;
        }
        @else if $fontSizePx == 20 {
          margin-top: -0.175rem;
        }
        @else if $fontSizePx == 22 {
          margin-top: -0.175rem;
        }
        @else if $fontSizePx < 24 {
          margin-top: -0.08rem;
        }
        @else {
          margin-top: -0.15rem;
        }
      }
      @if $lineHeightType == 2 {
        margin-top: -0.3rem;
      }
    }
  }
  @if $position == bottom {
    &::after {
      content: "";
      display: block;
      height: 0;
      @if $lineHeightType == 1 {
        @if $fontSizePx == 12 {
          margin-top: -0.25rem;
        }
        @else if $fontSizePx == 16 {
          margin-top: -0.25rem;
        }
        @else {
          margin-top: -0.18rem;
        }
      }
      @if $lineHeightType == 2 {
        @if $fontSizePx < 18 {
          margin-top: -0.4rem;
        }
        @else {
          margin-top: -0.35rem;
        }
      }
    }
  }
}

@mixin g-font-spacingKilled($fontSizePx, $lineHeightType: 1) {
  @include g-font($fontSizePx, $lineHeightType);
  @include g-font-killSpacing(top, $fontSizePx, $lineHeightType);
  @include g-font-killSpacing(bottom, $fontSizePx, $lineHeightType);
}
