$variation1of2: '';
$variation2of2: '2';
$variation1of3: '';
$variation2of3: '2';
$variation3of3: '3';
$variation1of4: '';
$variation2of4: '2';
$variation3of4: '3';
$variation4of4: '4';
$variation1of6: '';
$variation2of6: '2';
$variation3of6: '3';
$variation4of6: '4';
$variation5of6: '5';
$variation6of6: '6';
$variation1of8: "0";
$variation2of8: "2";
$variation3of8: "3";
$variation4of8: "4";
$variation5of8: "5";
$variation6of8: "6";
$variation7of8: "7";
$variation8of8: "8";
