$variation1of2: '2';
$variation2of2: '';

$variation1of3: '3';
$variation2of3: '';
$variation3of3: '2';

$variation1of4: '2';
$variation2of4: '';
$variation3of4: '4';
$variation4of4: '3';

$variation1of6: '3';
$variation2of6: '4';
$variation3of6: '';
$variation4of6: '2';
$variation5of6: '6';
$variation6of6: '5';
