$g-fullWidthBGColor: #e7f6e9;
$g-fullWidthBGColor2: #ffffdf;
$g-fullWidthBGColor3: #fff3d4;
$g-fullWidthBGColor4: #48ac55;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #6fcc7a;
$g-fullWidthBGColor7: #fafff0;
$g-fullWidthBGColor8: #fefaf5;
$g-hoverColor: #349342;
