@if $device == PC {

  .t0-b-frame {

  }

  .t0-b-frame2 {

    &__bd {
      padding: 2.5% 2.5% 1%;
      border: 1px solid #d8c8b1;
      background: #fff;
    }

    &__ft {
      margin-top: 2%;
    }
  }

  .t0-b-frameTransparency {

    min-height: 30px;
    &__bd {
      padding: 0;
    }
  }

}// PC


@if $device == SP {

  .t0-b-frame {

  }

  .t0-b-frame2 {

    margin: 0 -5px;
    &__bd {
      padding: 20px 20px 10px;
      border: 1px solid #d8c8b1;
      background: #fff;
    }

    &__ft {
      margin-top: 20px;
    }
  }

  .t0-b-frameTransparency {

  }

}// SP
