@if $device == PC {

  .t0-b-freeHtml {

    overflow: hidden;
    box-sizing: border-box;

    div {
      color: $g-textcolor;
      text-align: center;
      > * {
        max-width: 100%;
        // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
        margin: 0 auto !important;
      }
    }

    &--width-100per {
      width: 100%;
    }
    &--width-90per {
      width: 90%;
    }
    &--width-80per {
      width: 80%;
    }
    &--width-70per {
      width: 70%;
    }
  }

}// PC


@if $device == SP {

  .t0-b-freeHtml {

    // Youtubeのレスポンシブ対応
    overflow: auto;
    max-height: 240px;
    text-align: center;

    > div {
      overflow: auto;
      iframe,
      object,
      embed {
        max-height: 240px;
        max-width: 100%;
      }
      > * {
        // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

  }

}// SP
