@if $device == PC {
  .t0-b-goToTop {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop2 {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop3 {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }
}

@if $device == SP {
  .t0-b-goToTop {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop2 {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop3 {
    $_fontPx: 14;
    $_lineHeight: 1;
    $_textColor: #714f2d;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontPx, $_lineHeight);
      }
    }
  }
}
