@if $device == PC {

  .t0-b-labeledList#{$variation1of2} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_text: #941b50;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      border-collapse: collapse;
      th {
        vertical-align: top;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        font-weight: bold;
        color: $_color_table_th_text;
        text-align: left;
        padding: 0;
        > div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 0;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0 0 0 10px;
        > div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #e5e2da;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      border-collapse: collapse;
      th {
        vertical-align: top;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0 0 0 14px;
        > div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {

  $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_text: #941b50;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        font-weight: bold;
        color: $_color_table_th_text;
        text-align: left;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 0;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 10px 0 3px 0;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }


  .t0-b-labeledList#{$variation4of3and4} {

  $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #e5e2da;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 10px 0 3px 0;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }


  .t0-b-labeledList5 {

  $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ddf7f8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      border-collapse: collapse;
      th {
        vertical-align: top;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0 0 0 14px;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }


  .t0-b-labeledList6 {

  $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ffe2ef;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    table {
      border-collapse: collapse;
      th {
        vertical-align: top;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0 0 0 14px;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }


  .t0-b-labeledList7 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ddf7f8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 10px 0 3px 0;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList8 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ffe2ef;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        >div {
          //折返しせずに永遠に伸ばす
          white-space: nowrap;
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 10px 0 3px 0;
        >div {
          padding: 1.5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

} // PC


@if $device == SP {

  .t0-b-labeledList#{$variation1of2} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_text: #941b50;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        font-weight: bold;
        color: $_color_table_th_text;
        text-align: left;
        padding: 0;
        > div {
          padding-bottom: 3px;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        a {
          color: $_color_table_td_text;
        }
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #e5e2da;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_text: #941b50;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        font-weight: bold;
        color: $_color_table_th_text;
        text-align: left;
        padding: 0;
        > div {
          padding-bottom: 3px;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        vertical-align: middle;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        a {
          color: $_color_table_td_text;
        }
      }
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {

    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #e5e2da;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList5 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ddf7f8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList6 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ffe2ef;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList7 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ddf7f8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

  .t0-b-labeledList8 {
    $_fontSizePx_th: 14;
    $_fontSizePx_td: 14;
    $_lineHeightType: 1;
    $_color_table_th_bg: #ffe2ef;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #664b3a;
    a {
      display: block;
      text-decoration: underline;
    }
    table {
      // このdisplay:blockはhtmlのth,tdタグの要素をdisplay:inline-block,display:blockに変更する為cssの仕様上tableタグも要素を変更しなければならない
      display: block;
      th {
        display: inline-block;
        min-width: 86px;
        @include g-font($_fontSizePx_th, $_lineHeightType);
        color: $_color_table_th_text;
        text-align: center;
        padding: 0;
        > div {
          padding: 3px 8px;
          background-color: $_color_table_th_bg;
          a {
            color: $_color_table_th_text;
          }
        }
      }
      td {
        display: block;
        @include g-font($_fontSizePx_td, $_lineHeightType);
        color: $_color_table_td_text;
        text-align: left;
        padding: 0;
        > div {
          padding: 5px 0;
          a {
            color: $_color_table_td_text;
          }
        }
      }
    }
  }

} // SP


