@if $device == PC {

  .t0-b-lv4H-numIcon#{$variation1of2} {

    $_block: &;
    $_fontSizePx_h: 22;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_textColor_h: #8b582c;
    $_textColor_caption: #b37037;

    font-family: $tenorsans;
    color: $_textColor_h;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor_caption;
      &:hover {
        color: $g-hovercolor;
      }
      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hovercolor;
        }
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: 70px;
      text-align: left;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 56px;
      height: 56px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 56px;

      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/common/numIcon002/#{$type}.png";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              overflow: hidden;
              font-family: $tenorsans;
              @include g-font(20, 0);
              color: #fff;
              text-align: center;
              padding-top: 32px;
            }
          }
        }
      }
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      color: $_textColor_caption;
      padding: 0 0 6px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      color: $_textColor_caption;
      padding: 6px 0 0;
    }

    &__caption-upper + &__h {
      // 上補足有りの時2px小さくする為 (aタグない時もある為)
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 70px *.8;
      }
      #{$_block}__icon {
        background-size: 56px *.8;
        width: 56px *.8;
        height: 56px *.8;
        &:before {
          @include g-font(16, 0);
          padding-top: 25px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__iconPlacer {
        width: 70px *1.2;
      }
      #{$_block}__icon {
        background-size: 56px *1.2;
        width: 56px *1.2;
        height: 56px *1.2;
        &:before {
          @include g-font(24, 0);
          padding-top: 39px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {

    $_block: &;
    $_fontSizePx_h: 22;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_textColor_h: #8b582c;
    $_textColor_caption: #b37037;

    font-family: $tenorsans;
    color: $_textColor_h;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor_caption;
      &:hover {
        color: $g-hovercolor;
      }
      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hovercolor;
        }
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: 74px;
      text-align: left;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 60px;

      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/common/numIcon001/#{$type}.png";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              overflow: hidden;
              font-family: $tenorsans;
              @include g-font(20, 0);
              color: #fff;
              text-align: center;
              padding-top: 35px;
            }
          }
        }
      }
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      color: $_textColor_caption;
      padding: 0 0 6px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      color: $_textColor_caption;
      padding: 6px 0 0;
    }

    &__caption-upper + &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      // 上補足有りの時2px小さくする為
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 74px *.8;
      }
      #{$_block}__icon {
        background-size: 60px *.8;
        width: 60px *.8;
        height: 60px *.8;
        &:before {
          @include g-font(16, 0);
          padding-top: 28px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__iconPlacer {
        width: 74px *1.2;
      }
      #{$_block}__icon {
        background-size: 60px *1.2;
        width: 60px *1.2;
        height: 60px *1.2;
        &:before {
          @include g-font(24, 0);
          padding-top: 42px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv4H-numIcon#{$variation1of2} {

    $_block: &;
    $_fontSizePx_h: 18;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_textColor_h: #8b582c;
    $_textColor_caption: #b37037;

    font-family: $tenorsans;
    color: $_textColor_h;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor_caption;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: 100px *.5;
      text-align: left;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 80px *.5;
      height: 80px *.5;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 80px *.5;

      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/common/numIcon002/sp_#{$type}_08.png";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              overflow: hidden;
              font-family: $tenorsans;
              @include g-font(14, 0);
              color: #fff;
              text-align: center;
              padding-top: 46px *.5;
            }
          }
        }
      }
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption);
      color: $_textColor_caption;
      padding: 0 0 3px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption);
      color: $_textColor_caption;
      padding: 3px 0 0;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {

    $_block: &;
    $_fontSizePx_h: 18;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_textColor_h: #8b582c;
    $_textColor_caption: #b37037;

    font-family: $tenorsans;
    color: $_textColor_h;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor_caption;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      width: 100px *.5;
      text-align: left;
    }
    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 84px *.5;
      height: 84px *.5;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 84px *.5;

      @mixin _iconStyles($type, $index) {
        $_src: "../imgs/common/numIcon001/sp_#{$type}_08.png";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &:before {
              content: "#{$_i}";
              display: block;
              overflow: hidden;
              font-family: $tenorsans;
              @include g-font(14, 0);
              color: #fff;
              text-align: center;
              padding-top: 50px *.5;
            }
          }
        }
      }
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption);
      color: $_textColor_caption;
      padding: 0 0 3px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption);
      color: $_textColor_caption;
      padding: 3px 0 0;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }
    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }
    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

}// SP
