@if $device == PC {

  .t0-b-lv5H#{$variation1of2} {

    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 5px;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H#{$variation2of2} {

    $_block: &;
    $_fontSizePx_bd: 18;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_fontSizePx_caption, $layout);
      padding: 0 0 5px 30px;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
    }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*

    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 30px;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background-image: url("../imgs/heading/heading015/heading015_ico01_v2.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 24px 24px;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0 30px;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 30px *.8;
      }
      #{$_block}__iconPlacer {
        width: 30px *.8;
      }
      #{$_block}__icon {
        width: 24px *.8;
        height: 24px *.8;
        background-size: 24px *.8 24px *.8;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0 30px *.8;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 30px *1.2;
      }
      #{$_block}__iconPlacer {
        width: 30px *1.2;
      }
      #{$_block}__icon {
        width: 24px *1.2;
        height: 24px *1.2;
        background-size: 24px *1.2 24px *1.2;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px 30px *1.2;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H3 {

    $_block: &;
    $_fontSizePx_bd: 18;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_fontSizePx_caption, $layout);
      padding: 0 0 5px 16px;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
    }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*
    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 12px;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 4px;
      height: 18px;
      background-image: url("../imgs/heading/heading016/heading016_ico01_v3.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 4px 18px;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0 12px;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 12px *.8;
      }
      #{$_block}__iconPlacer {
        width: 12px *.8;
      }
      #{$_block}__icon {
        vertical-align: 0;
        width: 4px *.8;
        height: 18px *.8;
        background-size: 4px *.8 18px *.8;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px 12px *.8;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 12px *1.2;
      }
      #{$_block}__iconPlacer {
        width: 12px *1.2;
      }
      #{$_block}__icon {
        width: 4px *1.2;
        height: 18px *1.2;
        background-size: 4px *1.2 18px *1.2;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px 12px *1.2;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H4 {

    $_block: &;
    $_fontSizePx_bd: 18;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_fontSizePx_caption, $layout);
      padding: 0 0 5px 18px;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
    }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*

    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 18px;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 17px;
      background-image: url("../imgs/heading/heading017/heading017_ico01_v4.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 11px 17px;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
      display: inline-block;
      vertical-align: middle;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0 18px;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 18px *.8;
      }
      #{$_block}__iconPlacer {
        width: 18px *.8;
      }
      #{$_block}__icon {
        width: 11px *.8;
        height: 17px *.8;
        background-size: 11px *.8 17px *.8;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px 18px *.8;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 5px 18px *1.2;
      }
      #{$_block}__iconPlacer {
        width: 18px *1.2;
      }
      #{$_block}__icon {
        width: 11px *1.2;
        height: 17px *1.2;
        background-size: 11px *1.2 17px *1.2;
      }
      h5 {
        @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px 18px *1.2;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H5 {

    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    // 文字と横線との間のpaddingの値
    $_text-linePadding: 24px;
    // 文字量が多い場合に横線が持つ最低幅
    $_lineMinWidth: 30px;
    $_lineColor: #e9e3d5;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;
    // ルート要素からはみ出た横線を隠す
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_fontSizePx_caption, $layout);
      padding: 0 10px 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    &__bd {
      h5 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
        position: relative;
        display: inline-block;
        padding: 0 $_text-linePadding;
        max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding) * 2 } );

        &::before {
          content: "";
          border-top: 1px solid $_lineColor;
          position: absolute;
          top: 50%;
          // 大きい横幅を指定してルート要素のoverflow:hiddenで隠す
          width: $areaContainerWidth;
          right: 100%;
        }

        &::after {
          content: "";
          border-top: 1px solid $_lineColor;
          position: absolute;
          top: 50%;
          // 大きい横幅を指定してルート要素のoverflow:hiddenで隠す
          width: $areaContainerWidth;
          left: 100%;
        }
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px;
      }
      #{$_block}__bd {
        padding: 0 5px;
        h5 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 10px 5px;
      }
      #{$_block}__bd {
        padding: 0 10px;
        h5 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 10px 0px;
      }
    }

    &--align-l {
      text-align: left;

      #{$_block}__caption-upper {
        padding-left: 0;
      }

      #{$_block}__bd {
        h5 {
          padding-left: 0;
          max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding)} );
        }
      }

      #{$_block}__caption-lower {
        padding-left: 0;
      }
    }

    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;

      #{$_block}__caption-upper {
        padding-right: 0;
      }

      #{$_block}__bd {
        h5 {
          padding-right: 0;
          max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding)} );
        }
      }

      #{$_block}__caption-lower {
        padding-right: 0;
      }
    }
  }

  .t0-b-lv5H6 {

    $_block: &;
    $_fontSizePx_bd: 20;
    $_fontSizePx_caption: 12;
    $_fontSizeDifference: 4;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    &__bd {
      padding: 5px 0;
      h5 {
        @include g-font-layout($_fontSizePx_bd, $_lineHeightType_bd, $layout);
        // デザイナーさんの希望により入れた値
        padding: 0 0 2px;
        border-bottom: 1px solid #c6c3c0;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 5px;
      }
      #{$_block}__bd {
        h5 {
          @include g-font-layout($_fontSizePx_bd_s, $_lineHeightType_bd, $layout);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px;
      }
    }
    &--size-2 {
      // size2 の場合（サイズ指定なしと同じ）
    }
    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 5px;
      }
      #{$_block}__bd {
        padding: 0 10px;
        h5 {
          @include g-font-layout($_fontSizePx_bd_l, $_lineHeightType_bd, $layout);
        }
      }
      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0px;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv5H#{$variation1of2} {

    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H#{$variation2of2} {

    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_fontSizePx_caption);
      padding: 0 0 5px 17px;
    }

     &__main {
       display: inline-block;
       vertical-align: middle;
     }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*

    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 47px *.5;
      text-align: left;
    }

    &__icon {
      display: block;
      // 画像がぼやけて見えるのを防ぐため画像サイズより1px大きい値を指定
      width: 34px *.5;
      height: 34px *.5;
      background-image: url("../imgs/heading/heading015/heading015_ico01_v2.png");
      background-repeat: no-repeat;
      background-position: left center;
      // 画像がぼやけて見えるのを防ぐため画像サイズより1px大きい値を指定
      background-size: 34px *.5 34px *.5;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0 17px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H3 {

    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_fontSizePx_caption);
      padding: 0 0 5px 8px;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
    }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*
    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 22px *.5;
      text-align: left;
    }

    &__icon {
      display: block;
      width: 8px *.5;
      height: 32px *.5;
      background-image: url("../imgs/heading/heading016/heading016_ico01_v3.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 8px *.5 32px *.5;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0 8px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H4 {

    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;

    a {
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_fontSizePx_caption);
      padding: 0 0 5px 11px;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
    }

    //*
    // ** __iconPlacer,__icon について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // ③ iconPlacer使用部品→ 033,034,037,036,048,049,050,051,052,053,135,136,枠(特徴<画像>)の見出し,枠(特徴<装飾>-2)のh4見出し
    // 参照：https://goo.gl/aYwiMQ
    // ※ スタイルガイドの部品番号
    //*

    &__bd {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 35px *.5;
      text-align: left;
    }

    &__icon {
      display: block;
      width: 20px *.5;
      height: 34px *.5;
      background-image: url("../imgs/heading/heading017/heading017_ico01_v4.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px *.5 34px *.5;
    } // End このタグは必ず使用する。リッチ等で文字サイズが変更になってもアイコンサイズを保持する為

    // ここでのcolor設定NG(aタグで囲われている為)
    h5 {
      @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0 11px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H5 {

    $_block: &;
    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    // 文字と横線との間のpaddingの値
    $_text-linePadding: 12px;
    // 文字量が多い場合に横線が持つ最低幅
    $_lineMinWidth: 15px;
    $_lineColor: #e9e3d5;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;
    // ルート要素からはみ出た横線を隠す
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_fontSizePx_caption);
      padding: 0 5px 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    &__bd {
      h5 {
        @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
        position: relative;
        display: inline-block;
        padding: 0 $_text-linePadding;
        max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding) * 2 } );

        &::before {
          content: "";
          border-top: 1px solid $_lineColor;
          position: absolute;
          top: 50%;
          // 大きい横幅を指定してルート要素のoverflow:hiddenで隠す
          width: 100vW;
          right: 100%;
        }

        &::after {
          content: "";
          border-top: 1px solid $_lineColor;
          position: absolute;
          top: 50%;
          // 大きい横幅を指定してルート要素のoverflow:hiddenで隠す
          width: 100vW;
          left: 100%;
        }
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;

      #{$_block}__caption-upper {
        padding-left: 0;
      }

      #{$_block}__bd {
        h5 {
          padding-left: 0;
          max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding)} );
        }
      }

      #{$_block}__caption-lower {
        padding-left: 0;
      }
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;

      #{$_block}__caption-upper {
        padding-right: 0;
      }

      #{$_block}__bd {
        h5 {
          padding-right: 0;
          max-width: calc(100% - #{($_lineMinWidth + $_text-linePadding)} );
        }
      }

      #{$_block}__caption-lower {
        padding-right: 0;
      }
    }
  }

  .t0-b-lv5H6 {

    $_fontSizePx_bd: 16;
    $_fontSizePx_caption: 12;
    $_lineHeightType_bd: 1;
    $_lineHeightType_caption: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    // ここで設定しないとaタグでブロックを囲っている場合文字色が反映されない。
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 5px;
    }

    // ここでのcolor設定NG(aタグで囲われている為)
    &__bd {
      padding: 5px 0;
      h5 {
        @include g-font($_fontSizePx_bd, $_lineHeightType_bd);
        border-bottom: 1px solid #c6c3c0;
        padding-bottom: 3px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
