@if $device == PC {

  .t0-b-navItemWithImg#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #009fa5;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8px 0 0;
      background-color: #e7f4f5;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;

      > span {
        // justify-content: space-between;を実装させるために入らないspan削除
        display: none;
      }
      #{$_block}__img {
        margin: 0 10px 0 0;
        img {
          vertical-align: middle;
          width: 74px;
          height: 74px;
        }
      }
      #{$_block}__text {
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px 20px;
        padding: 0 30px 0 0;
      }

      // 画像左
      #{$_block}--imgL & {
        // デフォルトと同じ
      }
      // 画像右
      #{$_block}--imgR & {
        flex-flow: row-reverse nowrap;
        padding: 0 0 0 8px;
        #{$_block}__img {
          margin: 0 0 0 10px;
        }
        #{$_block}__text {
          width: 100%;
          padding: 0 0 0 30px;
          background-position: left center;
        }
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #dd6f9f;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8px 0 0;
      background-color: #f9ebf2;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;

      > span {
        // justify-content: space-between;を実装させるために入らないspan削除
        display: none;
      }
      #{$_block}__img {
        margin: 0 10px 0 0;
        img {
          vertical-align: middle;
          width: 74px;
          height: 74px;
        }
      }
      #{$_block}__text {
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px 20px;
        padding: 0 30px 0 0;
      }

      // 画像左
      #{$_block}--imgL & {
        // デフォルトと同じ
      }
      // 画像右
      #{$_block}--imgR & {
        flex-flow: row-reverse nowrap;
        padding: 0 0 0 8px;
        #{$_block}__img {
          margin: 0 0 0 10px;
        }
        #{$_block}__text {
          width: 100%;
          padding: 0 0 0 30px;
          background-position: left center;
        }
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #009fa5;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      width: 100%;
      padding: 0 0 0 8px;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;
      background: url("../imgs/common/navItem001/Banner_bg001_v3_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 8px 1px;

      #{$_block}__img {
        margin: 0 0 0 10px;
        img {
          vertical-align: middle;
          width: 74px;
          height: 74px;
        }
      }
      #{$_block}__text {
        width: 100%;
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px 20px;
        padding: 0 0 0 30px;
      }

      // 画像左
      #{$_block}--imgL & {
        //リセット
        flex-flow: inherit; 
        justify-content: space-between;
        padding: 0 8px 0 0;
        > span {
          display: none;
        }
        #{$_block}__img {
          margin: 0 10px 0 0;
        }
        #{$_block}__text {
          //リセット
          width: auto; 
          padding: 0 30px 0 0;
          background-position: right center;
        }
      }
      // 画像右
      #{$_block}--imgR & {
        // デフォルトと同じ
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #dd6f9f;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      width: 100%;
      padding: 0 0 0 8px;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;
      background: url("../imgs/common/navItem001/Banner_bg002_v4_v1f2.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 8px 1px;

      #{$_block}__img {
        margin: 0 0 0 10px;
        img {
          vertical-align: middle;
          width: 74px;
          height: 74px;
        }
      }
      #{$_block}__text {
        width: 100%;
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px 20px;
        padding: 0 0 0 30px;
      }

      // 画像左
      #{$_block}--imgL & {
        //リセット
        flex-flow: inherit; 
        justify-content: space-between;
        padding: 0 8px 0 0;
        > span {
          display: none;
        }
        #{$_block}__img {
          margin: 0 10px 0 0;
        }
        #{$_block}__text {
          //リセット
          width: auto; 
          padding: 0 30px 0 0;
          background-position: right center;
        }
      }
      // 画像右
      #{$_block}--imgR & {
        // デフォルトと同じ
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImgDouble {

    display: flex;
    &__layout {
      padding-left: 4%;
      flex: 1 1 (100% / 2);
      &:first-child {
        padding-left: 0;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-navItemWithImg#{$variation1of2} {
    
    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #009fa5;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8px 0 0;
      background-color: #e7f4f5;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;

      > span {
        // justify-content: space-between;を実装させるために入らないspan削除
        display: none;
      }
      #{$_block}__img {
        margin: 0 10px 0 0;
        img {
          vertical-align: middle;
          width: 37px;
          height: 37px;
        }
      }
      #{$_block}__text {
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px*.8 20px*.8;
        padding: 0 30px*.8 0 0;
      }

      // 画像左
      #{$_block}--imgL & {
        // デフォルトと同じ
      }
      // 画像右
      #{$_block}--imgR & {
        flex-flow: row-reverse nowrap;
        padding: 0 0 0 8px;
        #{$_block}__img {
          margin: 0 0 0 10px;
        }
        #{$_block}__text {
          width: 100%;
          padding: 0 0 0 30px*.8;
          background-position: left center;
        }
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #dd6f9f;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 8px 0 0;
      background-color: #f9ebf2;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;

      > span {
        // justify-content: space-between;を実装させるために入らないspan削除
        display: none;
      }
      #{$_block}__img {
        margin: 0 10px 0 0;
        img {
          vertical-align: middle;
          width: 37px;
          height: 37px;
        }
      }
      #{$_block}__text {
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px*.8 20px*.8;
        padding: 0 30px*.8 0 0;
      }

      // 画像左
      #{$_block}--imgL & {
        // デフォルトと同じ
      }
      // 画像右
      #{$_block}--imgR & {
        flex-flow: row-reverse nowrap;
        padding: 0 0 0 8px;
        #{$_block}__img {
          margin: 0 0 0 10px;
        }
        #{$_block}__text {
          width: 100%;
          padding: 0 0 0 30px*.8;
          background-position: left center;
        }
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #009fa5;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__inner {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      width: 100%;
      padding: 0 0 0 8px;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;
      background: url("../imgs/common/navItem001/Banner_bg001_v3_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 8px 1px;

      #{$_block}__img {
        margin: 0 0 0 10px;
        img {
          vertical-align: middle;
          width: 37px;
          height: 37px;
        }
      }
      #{$_block}__text {
        width: 100%;
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px*.8 20px*.8;
        padding: 0 0 0 30px*.8;
      }

      // 画像左
      #{$_block}--imgL & {
        //リセット
        flex-flow: inherit; 
        justify-content: space-between;
        padding: 0 8px 0 0;
        > span {
          display: none;
        }
        #{$_block}__img {
          margin: 0 10px 0 0;
        }
        #{$_block}__text {
          //リセット
          width: auto; 
          padding: 0 30px*.8 0 0;
          background-position: right center;
        }
      }
      // 画像右
      #{$_block}--imgR & {
        // デフォルトと同じ
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImg4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #dd6f9f;

    color: $_textColor;
    @include g-font-layout($_fontSizePx, $_lineHeightType);

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &__inner {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      width: 100%;
      padding: 0 0 0 8px;
      border: 2px solid #fff;
      box-shadow: 0px 0px 0px 1px #cabb8c;
      background: url("../imgs/common/navItem001/Banner_bg002_v4_v1f2.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 8px 1px;

      #{$_block}__img {
        margin: 0 0 0 10px;
        img {
          vertical-align: middle;
          width: 37px;
          height: 37px;
        }
      }
      #{$_block}__text {
        width: 100%;
        text-align: left;
        background-image: url("../imgs/common/navItem001/Banner_arrow007_size1_v1f1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px*.8 20px*.8;
        padding: 0 0 0 30px*.8 ;
      }

      // 画像左
      #{$_block}--imgL & {
        //リセット
        flex-flow: inherit; 
        justify-content: space-between;
        padding: 0 8px 0 0;
        > span {
          display: none;
        }
        #{$_block}__img {
          margin: 0 10px 0 0;
        }
        #{$_block}__text {
          //リセット
          width: auto; 
          padding: 0 30px*.8  0 0;
          background-position: right center;
        }
      }
      // 画像右
      #{$_block}--imgR & {
        // デフォルトと同じ
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }
    &--align-r {
      margin-left: auto;
    }
    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navItemWithImgDouble{

    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

}// SP
