@if $device == PC {

  .t0-b-iconText-tel {

    $_block: &;
    $_lineHeightType: 1;
    $_textColor: #b67f1d;
    $_textColor_highlight: #553a20;

    $_fontSizePx: 14;
    $_fontSizeDifference: 2;
    // fontSizePx_ss が10pxでは小さすぎるため、-2pxは追加せずfontSizePx_sと同じ値にする
    $_fontSizePx_ss: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_m: $_fontSizePx;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;
    $_fontSizePx_ll: $_fontSizePx + $_fontSizeDifference + 2;

    $_fontSizePx_ruby: 16;
    $_fontSizeDifference_ruby: 2;
    $_fontSizePx_ruby_ss: $_fontSizePx_ruby - $_fontSizeDifference_ruby - 2;
    $_fontSizePx_ruby_s: $_fontSizePx_ruby - $_fontSizeDifference_ruby;
    $_fontSizePx_ruby_m: $_fontSizePx_ruby;
    $_fontSizePx_ruby_l: $_fontSizePx_ruby + $_fontSizeDifference_ruby;
    $_fontSizePx_ruby_ll: $_fontSizePx_ruby + $_fontSizeDifference_ruby + 2;

    $_fontSizePx_bd: 36;
    $_fontSizeDifference_bd: 6;
    $_fontSizePx_bd_ss: $_fontSizePx_bd - $_fontSizeDifference_bd - 6;
    $_fontSizePx_bd_s: $_fontSizePx_bd - $_fontSizeDifference_bd;
    $_fontSizePx_bd_m: $_fontSizePx_bd;
    $_fontSizePx_bd_l: $_fontSizePx_bd + $_fontSizeDifference_bd;
    $_fontSizePx_bd_ll: $_fontSizePx_bd + $_fontSizeDifference_bd + 6;

    color: $_textColor;
    display: table;

    &__media {
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      img {
        display: block;
        width: 60px;
        height: auto;
      }
      a {
        img {
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    &__wrap {
      display: table-cell;
      vertical-align: middle;
    }

    p {
      font-family: $tenorsans;
      @include g-font($_fontSizePx_m, $_lineHeightType);
      color: $_textColor_highlight;
      font-weight: bold;
      padding-bottom: 5px;
      a {
        color: $_textColor_highlight;
        text-decoration: underline;
        &:hover {
          color: $g-hovercolor;
        }
      }
    }
    &__ruby {
      @include g-font($_fontSizePx_ruby_m, $_lineHeightType);
      text-align: right;
      a {
        color: $_textColor;
        text-decoration: underline;
      }
    }
    &__bd {
      font-family: $tenorsans;
      display: table;
      @include g-font($_fontSizePx_bd_m, $_lineHeightType);
      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
      padding: 0 10px 0 0;
    }

    &--size-1 {
      p {
        @include g-font($_fontSizePx_ss, $_lineHeightType);
      }
      #{$_block}__ruby {
        @include g-font($_fontSizePx_ruby_ss, $_lineHeightType);
      }
      #{$_block}__bd {
        @include g-font($_fontSizePx_bd_ss, $_lineHeightType);
      }
      #{$_block}__tel {
        min-width: 20px;
        height: 20px;
        background-image: url("../imgs/contact/contact001/contact001_tel.png");
        background-size: 20px 20px;
      }
      #{$_block}__fax {
        min-width: 34px;
        height: 20px;
        background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
        background-size: 34px 20px;
      }
      #{$_block}__free {
        min-width: 40px;
        height: 20px;
        background-image: url("../imgs/contact/contact004/contact004_free.png");
        background-size: 40px 20px;
      }
      #{$_block}__cell {
        min-width: 15px;
        height: 25px;
        background-image: url("../imgs/contact/contact005/contact005_cell.png");
        background-size: 15px 25px;
      }
    }
    &--size-2 {
      p {
        @include g-font($_fontSizePx_s, $_lineHeightType);
      }
      #{$_block}__ruby {
        @include g-font($_fontSizePx_ruby_s, $_lineHeightType);
      }
      #{$_block}__bd {
        @include g-font($_fontSizePx_bd_s, $_lineHeightType);
      }
      #{$_block}__tel {
        min-width: 23px;
        height: 23px;
        background-image: url("../imgs/contact/contact001/contact001_tel.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 23px 23px;
      }
      #{$_block}__fax {
        min-width: 37px;
        height: 23px;
        background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 37px 23px;
      }
      #{$_block}__free {
        min-width: 43px;
        height: 23px;
        background-image: url("../imgs/contact/contact004/contact004_free.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 43px 23px;
      }
      #{$_block}__cell {
        min-width: 19px;
        height: 30px;
        background-image: url("../imgs/contact/contact005/contact005_cell.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 19px 30px;
      }
    }
    &--size-3 {
      p {
        @include g-font($_fontSizePx_m, $_lineHeightType);
      }
      #{$_block}__ruby {
        @include g-font($_fontSizePx_ruby_m, $_lineHeightType);
      }
      #{$_block}__bd {
        @include g-font($_fontSizePx_bd_m, $_lineHeightType);
      }
      #{$_block}__tel {
        min-width: 26px;
        height: 26px;
        background-image: url("../imgs/contact/contact001/contact001_tel.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 26px 26px;
      }
      #{$_block}__fax {
        min-width: 40px;
        height: 26px;
        background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px 26px;
      }
      #{$_block}__free {
        min-width: 46px;
        height: 26px;
        background-image: url("../imgs/contact/contact004/contact004_free.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 46px 26px;
      }
      #{$_block}__cell {
        min-width: 22px;
        height: 35px;
        background-image: url("../imgs/contact/contact005/contact005_cell.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 22px 35px;
      }
    }
    &--size-4 {
      p {
        @include g-font($_fontSizePx_l, $_lineHeightType);
      }
      #{$_block}__ruby {
        @include g-font($_fontSizePx_ruby_l, $_lineHeightType);
      }
      #{$_block}__bd {
        @include g-font($_fontSizePx_bd_l, $_lineHeightType);
      }
      #{$_block}__tel {
        min-width: 32px;
        height: 32px;
        background-image: url("../imgs/contact/contact001/contact001_tel.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 32px 32px;
      }
      #{$_block}__fax {
        min-width: 46px;
        height: 32px;
        background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 46px 32px;
      }
      #{$_block}__free {
        min-width: 52px;
        height: 32px;
        background-image: url("../imgs/contact/contact004/contact004_free.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 52px 32px;
      }
      #{$_block}__cell {
        min-width: 25px;
        height: 40px;
        background-image: url("../imgs/contact/contact005/contact005_cell.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 25px 40px;
      }
    }
    &--size-5 {
      p {
        @include g-font($_fontSizePx_ll, $_lineHeightType);
      }
      #{$_block}__ruby {
        @include g-font($_fontSizePx_ruby_ll, $_lineHeightType);
      }
      #{$_block}__bd {
        @include g-font($_fontSizePx_bd_ll, $_lineHeightType);
      }
      #{$_block}__tel {
        min-width: 34px;
        height: 34px;
        background-image: url("../imgs/contact/contact001/contact001_tel.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 34px 34px;
      }
      #{$_block}__fax {
        min-width: 52px;
        height: 35px;
        background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 52px 35px;
      }
      #{$_block}__free {
        min-width: 61px;
        height: 35px;
        background-image: url("../imgs/contact/contact004/contact004_free.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 61px 35px;
      }
      #{$_block}__cell {
        min-width: 29px;
        height: 46px;
        background-image: url("../imgs/contact/contact005/contact005_cell.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 29px 46px;
      }
    }

    &--align-l {
      margin-right: auto;
    }
    &--align-c {
      margin-right: auto;
      margin-left: auto;
    }
    &--align-r {
      margin-left: auto;
    }
  }

}// PC

@if $device == SP {

  .t0-b-iconText-tel {

    $_fontSizePx: 16;
    $_fontSizePx_ruby: 12;
    $_fontSizePx_bd: 22;
    $_lineHeightType: 1;
    $_textColor: #555;
    $_textColor_highlight: #553a20;

    color: $_textColor;
    text-align: center;

    a[href^='tel'] {
      display: block;
      vertical-align: top;
      word-break: break-all;
      width: 95%;
      color: $_textColor;
      padding: 10px;
      box-sizing: border-box;
      margin: 0 auto;
      border: 1px solid #ccc;
      border-radius: 8px;
      background: linear-gradient(#fff, #f6f6f6, #eee);
    }
    &__media {
      padding-bottom: 10px;
      img {
      width: 25%;
      display: block;
      margin: 0 auto;
      }
    }

    p {
      @include g-font($_fontSizePx, $_lineHeightType);
      color: $_textColor_highlight;
      padding-bottom: 10px;
      a {
        color: $_textColor_highlight;
        text-decoration: underline;
      }
    }
    &__ruby {
      @include g-font($_fontSizePx_ruby, $_lineHeightType);
      a {
        color: $_textColor;
        text-decoration: underline;
      }
    }
    &__bd {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
      color: #f00;
      display: table;
      margin: 0 auto;
      > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__icon {
      background-repeat: no-repeat;
      background-position: left center;
    }
    &__tel {
      min-width: 35px *.5;
      height: 35px *.5;
      padding: 0 18px *.5 0 0;
      background-image: url("../imgs/contact/contact001/contact001_tel.png");
      background-size: 35px *.5 35px *.5;
    }
    &__fax {
      min-width: 44px *.5;
      height: 26px *.5;
      padding: 0 16px *.5 0 0;
      background-image: url("../imgs/contact/contact002/contact002_fax_v1.png");
      background-size: 44px *.5 26px *.5;
    }
    &__free {
      min-width: 46px *.5;
      height: 26px *.5;
      padding: 0 10px *.5 0 0;
      background-image: url("../imgs/contact/contact004/contact004_free.png");
      background-size: 46px *.5 26px *.5;
    }
    &__cell {
      min-width: 28px *.5;
      height: 46px *.5;
      padding: 0 20px *.5 0 0;
      background-image: url("../imgs/contact/contact005/contact005_cell.png");
      background-size: 28px *.5 46px *.5;
    }
  }

}// SP
