@if $device == PC {

  .t0-b-arrow {

    height: 44px;
    background-image: url("../imgs/other/other004/other004_arrow01_v1f1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 89px 44px;
  }

}// PC


@if $device == SP {

  .t0-b-arrow {

    height: 66px *.5;
    background-image: url("../imgs/other/other004/other004_arrow01_v1f1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 135px *.5 66px *.5;
  }

}// SP
