@if $device == PC {

  .t0-b-sideNavItem {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
      #{$_block}__inner:hover {
        > div {
          border-bottom: 1px solid $_textColor;
          color: #14c5cc;
        }
      }
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 24px;
        height: 18px;
        text-align: left;
        background-image: url("../imgs/common/navItem002/Link_arrow001_size3_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 18px 18px;
      }

      > div {
        border-bottom: 1px solid $g-hovercolor;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem2 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
      #{$_block}__inner:hover {
        > div {
          border-bottom: 1px solid $_textColor;
          color: #14c5cc;
        }
      }
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 26px;
        height: 22px;
        text-align: left;
        background-image: url("../imgs/common/navItem002/Link_arrow002_size3_v2.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 22px 22px;
      }

      > div {
        border-bottom: 1px solid $g-hovercolor;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
      #{$_block}__inner:hover {
        > div {
          border-bottom: 1px solid $_textColor;
          color: #ce005a;
        }
      }
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 24px;
        height: 18px;
        text-align: left;
        background-image: url("../imgs/common/navItem002/Link_arrow003_size3_v3.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 18px 18px;
      }

      > div {
        border-bottom: 1px solid #ce005a;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
      #{$_block}__inner:hover {
        > div {
          border-bottom: 1px solid $_textColor;
          color: #ce005a;
        }
      }
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 28px;
        height: 22px;
        text-align: left;
        background-image: url("../imgs/common/navItem002/Link_arrow004_size3_v4.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 22px 22px;
      }

      > div {
        border-bottom: 1px solid #ce005a;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem5 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #ae6200;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-shadow:1px 1px 0 #fff;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;

      #{$_block}__inner {
        > div {
          display: inline-block;
          vertical-align: middle;
          // Start borderアニメーション
          position: relative;
          &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            display: inline-block;
            width: 0;
            height: 1px;
            background-color: $g-hovercolor;
            transition: .3s;
          }
          // End borderアニメーション
        }
        &:hover {
          &:after {
            // 矢印アニメーション
            right: -10px;
          }
          > div {
            color: #6a3c00;
            // borderアニメーション
            &:before {
              width: 100%;
            }
          }
        }
      }
    }

    &__inner {
      display: inline-block;
      padding: 0 25px 0 0;
      // Start 矢印アニメーション
      position: relative;
      transition: .3s;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%); /* Safari用 */
        transform: translateY(-50%);
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 18px;
        height: 12px;
        background-image: url("../imgs/common/navItem002/Link_arrow005_size3_v5.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 18px 12px;
      }
      // End 矢印アニメーション
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem6 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    // リンク設定なしで寄せ（中央・右）が効かなくなってしまうため使用。（下線が内容の量によって伸縮し、中央寄せ・右寄せができる状態を実現）
    // 直下の要素（&__inner）のdisplayにはtable-cellではなくflexを指定しているため、tableである必要は無い
    display: table;

    a {
      display: inline-block;
      color: $_textColor;

      #{$_block}__inner:hover {
        > span {
          background-image: url("../imgs/common/navItem002/Link_arrow004_size3_v4.png");
          background-repeat: no-repeat;
          background-position: right bottom;
        }
        
        > div {
          color: #ce005a;
          transition: color .5s ease .3s;
          // borderの破線の間隔を変更するためborderの代わりにlinear-gradientを使用
          // 初めのborder分の高さを補う
          padding-bottom: 2px;
          // 初めのborderを消す
          border: none;
          background-image: linear-gradient(to right, #dd6f9f, #dd6f9f 4px, transparent 1px, transparent 2px);
          background-position: left bottom;
          background-repeat: repeat-x;
          background-size: 6px 2px;
          // End borderの破線の間隔を変更するためborderの代わりにlinear-gradientを使用
        }
      }
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: flex;
      align-items: center;
      
      > span {
        order: 2;
        flex: 0 0 27px;
        width: 27px;
        height: 22px;
        background-image: url("../imgs/common/navItem002/Link_arrow006_size3_v6.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 22px 22px;
      }

      > div {
        order: 1;
        // IE11で表示崩れを防ぐためflex-basisの指定省略時の初期値であるautoを指定しておく
        flex: 1 1 auto;
        border-bottom: 2px solid #dd6f9f;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem7 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    // ホバーアニメーションで上に移動する分の余白を持たせておく
    padding-top: 4px;
    // 下線がbPlacerの余白の中に入り込まないための余白
    padding-bottom: 2px;

    a {
      display: inline-block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          > div {
            position: relative;
            top: -4px;
            color: #905a4c;
          }
          &:before,
          &:after {
            position: absolute;
            left: 10px;
            bottom: -2px;
            display: inline-block;
            content: "";
            width: 100%;
          }
          &:before {
            height: 100%;
            background-image: url("../imgs/common/navItem002/Link_arrow008_size3_v7.png");
            background-repeat: no-repeat;
            background-position: right bottom;
          }
          &:after {
            height: 2px;
            background-color: #53d6de;
          }
        }
      }
    }

    &__inner {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      padding: 0 26px 0 10px;
      > div {
        position: relative;
        top: -2px;
        transition: .3s;
        display: inline-block;
        vertical-align: middle;
      }
      &:before,
      &:after {
        position: absolute;
        left: 0;
        bottom: -2px;
        display: inline-block;
        content: "";
        width: 100%;
        transition: .3s;
      }
      &:before {
        height: 100%;
        background-image: url("../imgs/common/navItem002/Link_arrow007_size3_v7.png");
        background-size: 130px 14px;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
      &:after {
        height: 2px;
        background-color: #52271c;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

}// PC


@if $device == SP {

  .t0-b-sideNavItem {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 50px *.5;
        height: 37px *.5;
        text-align: left;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow001_v1_02.png");
        background-position: left center;
        background-size: 37px *.5 37px *.5;
        background-repeat: no-repeat;
      }

      > div {
        border-bottom: 1px solid $g-hovercolor;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem2 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 50px *.5;
        height: 36px *.5;
        text-align: left;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow002_v2_02.png");
        background-position: left center;
        background-size: 36px *.5 36px *.5;
        background-repeat: no-repeat;
      }

      > div {
        border-bottom: 1px solid $g-hovercolor;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem3 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 50px *.5;
        height: 37px *.5;
        text-align: left;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow003_v3_02.png");
        background-position: left center;
        background-size: 37px *.5 37px *.5;
        background-repeat: no-repeat;
      }

      > div {
        border-bottom: 1px solid #ce005a;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem4 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      
      > span {
        width: 50px *.5;
        height: 36px *.5;
        text-align: left;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow004_v4_02.png");
        background-position: left center;
        background-size: 36px *.5 36px *.5;
        background-repeat: no-repeat;
      }

      > div {
        border-bottom: 1px solid #ce005a;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem5 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #ae6200;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-shadow:1px 1px 0 #fff;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: flex;
      align-items: center;
      
      > span {
        order: 2;
        // 文字量が多くなっても矢印装飾が欠けないようにするための指定
        flex-shrink: 0;
        width: 40px *.5;
        height: 16px *.5;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow005_v5_02.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 31px *.5 16px *.5;
      }

      > div {
        order: 1;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem6 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #816739;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    // リンク設定なしで寄せ（中央・右）が効かなくなってしまうため使用。（下線が内容の量によって伸縮し、中央寄せ・右寄せができる状態を実現）
    // 直下の要素（&__inner）のdisplayにはtable-cellではなくflexを指定しているため、tableである必要は無い
    display: table;

    a {
      display: inline-block;
      color: $_textColor;
    }

    //*
    // ** 空 span 使用（iconの為に） について**
    // 条件
    // ① リッチ等で文字サイズが変更になってもアイコンサイズを保持しなければいけないので現状使用せざるおえない
    // ② 参照：https: //goo.gl/GT6pj9 「小さい」の場合は80%、「大きい」の場合は120%にする。
    // 参照：https://goo.gl/qarW2a
    //*
    &__inner {
      display: flex;
      // 文字の下線とアイコンの下端を揃えるためにPCと異なる実装にしている
      align-items: flex-end;
      
      > span {
        order: 2;
        flex: 0 0 50px *.5;
        width: 50px *.5;
        height: 36px *.5;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow006_v6_02.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 36px *.5 36px *.5;
      }

      > div {
        order: 1;
        // IE11で表示崩れを防ぐためflex-basisの指定省略時の初期値であるautoを指定しておく。SPは書き方を統一する目的で念のため追加。
        flex: 1 1 auto;
        // 文字の下線とアイコンの下端を揃えるためにPCと異なる実装にしている
        box-shadow: 0 -2px #dd6f9f inset;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

  .t0-b-sideNavItem7 {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: left;

    a {
      display: inline-block;
      color: $_textColor;
    }

    &__inner {
      display: inline-block;
      position: relative;
      padding: 0 46px *.5 4px 22px *.5;
      // 文字が空でも矢印装飾が欠けないようにするためのmin-height
      min-height: 8px;
      
      &:before,
      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        content: "";
        width: 100%;
      }
      &:before {
        height: 100%;
        background-image: url("../imgs/common/navItem002/sp_Link_arrow007_v7_02.png");
        background-size: 239px *.5 25px *.5;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
      &:after {
        height: 2px;
        background-color: #52271c;
      }
    }

    &--width-l {
      width: 100%;
    }
    &--width-m {
      width: 75%;
    }
    &--width-s {
      width: 50%;
    }
    // 位置指定なし
  }

}// SP
