@if $device == PC {

  .t0-b-sideBoxLv1H#{$variation1of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 7px 10px;
    background-color: #f6f4eb;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 0 10px 3px;
    border-bottom: 1px solid #ccbd90;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv1H3 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 5px 0;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxLv1H#{$variation1of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 7px 0;
    background-color: #f6f4eb;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv1H#{$variation2of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 3px 0;
    border-bottom: 1px solid #ccbd90;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxLv1H3 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 5px 0;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
