@if $device == PC {

  .t0-b-sideBoxLv2H {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 5px 0;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxLv2H {

    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #8e6f40;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 5px 0;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
