@if $device == PC {
  .t0-b-sideBoxLv2H {
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #8e6f40;
    padding: 5px 0;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    position: relative;
    z-index: z(sideBoxLv2H, 0);
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #8e6f40;
    padding: 5px 0;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    @include g-font($_fontSize, $_lineHeight);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
