@if $device == PC {

  .t0-b-sideBoxText {

    $_fontSizePx: 14;
    $_lineHeightType: 2;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $g-textcolor;

    a {
      color: $g-textcolor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxText {

    $_fontSizePx: 16;
    $_lineHeightType: 1;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $g-textcolor;

    a {
      color: $g-textcolor;
      text-decoration: underline;
    }
  }

}// SP
