@if $device == PC {

  .t0-b-sideBoxList#{$variation1of2} {

    // Start リッチテキスト用指定 ==============
    @include g-rteTableReset;
    // 固定(colorはテーマ・バリエーションにより違う)
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #7c5e42;

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(14, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      padding: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        min-height: 16px;
        @include g-font(14, 1);
        padding: 0 0 0 20px;
        margin: 5px 0 0 10px;
        background: url("../imgs/list/list001/list001_ico01_v1_v1f1.png");
        background-position: 0 .3em;
        background-repeat: no-repeat;
        background-size: 8px;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      // tableのhtmlに書かれているデフォルトの枠線を消す為
      border-color: transparent;
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_th_text;
        background-color: $_color_table_th_bg;
      }
      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }
      tr {
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    // End リッチテキスト用指定==============

    $_fontSizePx: 14;
    $_lineHeightType: 1;

    color: $g-textcolor;
    text-align: left;

    a {
      display: block;
      text-decoration: underline;
      color: $g-textcolor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    ul {
      li {
        @include g-font-layout($_fontSizePx, $_lineHeightType);
      }
    }
  }

  .t0-b-sideBoxList#{$variation2of2} {

    // Start リッチテキスト用指定 ==============
    @include g-rteTableReset;
    // 固定(colorはテーマ・バリエーションにより違う)
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #7c5e42;

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(14, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      padding: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      li {
        @include g-font(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        min-height: 8px *.8;
        @include g-font(14, 1);
        padding: 0 0 0 20px;
        margin: 5px 0 0 10px;
        background: url("../imgs/list/list004/list004_ico01_v2_v2f1.png");
        background-position: 0 .3em;
        background-repeat: no-repeat;
        background-size: 12px 9px;
        &:first-child {
          margin-top: 0;
        }
        // IEはlist-itemのpseudo elementにバグあり。その対応
        &::before,
        &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      // tableのhtmlに書かれているデフォルトの枠線を消す為
      border-color: transparent;
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        padding: 10px;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_th_text;
        background-color: $_color_table_th_bg;
      }
      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }
      tr {
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    // End リッチテキスト用指定==============

    $_fontSizePx: 14;
    $_lineHeightType: 1;

    color: $g-textcolor;
    text-align: left;

    a {
      display: block;
      text-decoration: underline;
      color: $g-textcolor;
      &:hover {
        color: $g-hovercolor;
      }
    }
    ul {
      li {
        @include g-font-layout($_fontSizePx, $_lineHeightType);
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxList#{$variation1of2} {

// Start リッチテキスト用指定 ==============
    @include g-rteTableReset;
    // 固定(colorはテーマ・バリエーションにより違う)
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #7c5e42;

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(14, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: 5px;
      }
      li {
        min-height: 8px *.8;
        @include g-font(14, 1);
        padding: 0 0 0 28px *.5;
        margin: 18px *.5 0 0;
        background: url("../imgs/list/list001/sp_list001_ico01_v1_02.png");
        background-position: 0 .35em;
        background-repeat: no-repeat;
        // 画像が円に見えるように実際の画像よりも1px大きな値を指定
        background-size: 14px *.5;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      // tableのhtmlに書かれているデフォルトの枠線を消す為
      border-color: transparent;
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_th_text;
        background-color: $_color_table_th_bg;
      }
      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }
      tr {
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    // End リッチテキスト用指定==============

    $_fontSizePx: 14;
    $_lineHeightType: 1;

    color: $g-textcolor;
    text-align: left;

    a {
      display: block;
      text-decoration: underline;
      color: $g-textcolor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    ul {
      li {
        @include g-font-layout($_fontSizePx, $_lineHeightType);
      }
    }
  }

  .t0-b-sideBoxList#{$variation2of2} {

    // Start リッチテキスト用指定 ==============
    @include g-rteTableReset;
    // 固定(colorはテーマ・バリエーションにより違う)
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #482e15;
    $_color_table_td_text: #7c5e42;

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }
    > hr {
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      @include g-font(14, 2);
      margin-top: 1em;
    }
    > p {
      &:first-child {
        margin-top: 0;
      }
    }
    ol {
      margin: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }
      li {
        @include g-font(14, 1);
        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    > ol {
      &:first-child {
        margin-top: 0;
      }
    }
    ul {
      margin-top: $_blockSpacing;
      font-size: $g-baseFontSize;
      ul,
      ol {
        margin-top: 5px;
      }
      li {
        min-height: 16px *.8;
        @include g-font(14, 1);
        padding: 0 0 0 42px *.5;
        margin: 30px *.5 0 0;
        background: url("../imgs/list/list002/sp_list002_ico01_v2_02.png");
        background-position: 0 .3em;
        background-repeat: no-repeat;
        background-size: 30px *.5 21px *.5;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    > ul {
      &:first-child {
        margin-top: 0;
      }
    }
    table {
      width: 100%;
      margin-top: $_elementSpacing;
      // tableのhtmlに書かれているデフォルトの枠線を消す為
      border-color: transparent;
      th,
      td {
        @include g-font(14, 1);
        border-top: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }
      ul,
      ol {
        font-size: $g-baseFontSize;
        li {
          @include g-font(14, 1);
        }
      }
      p {
        @include g-font(14, 1);
      }
      th {
        color: $_color_table_th_text;
        background-color: $_color_table_th_bg;
      }
      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
        }
      }
      tr {
        &:first-child {
          border-bottom: 1px solid $_color_table_border;
        }
        &:last-child {
          border-bottom: 1px solid $_color_table_border;
          > th,
          td {
            background-image: none;
          }
        }
      }
    }
    > table {
      &:first-child {
        margin-top: 0;
      }
    }
    // End リッチテキスト用指定==============

    $_fontSizePx: 14;
    $_lineHeightType: 1;

    color: $g-textcolor;
    text-align: left;

    a {
      display: block;
      text-decoration: underline;
      color: $g-textcolor;
      &:hover {
        color: $g-hovercolor;
      }
    }
    ul {
      li {
        @include g-font-layout($_fontSizePx, $_lineHeightType);
      }
    }

  }

}// SP
