@if $device == PC {

  .t0-b-sideBoxLabeledList#{$variation1of2} {

    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor_hd: #941b50;
    $_textColor_bd: #664b3a;

    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      font-weight: bold;
      color: $_textColor_hd;
    }
    &__item-bd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_bd;
    }
  }

  .t0-b-sideBoxLabeledList#{$variation2of2} {

    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_backgroundColor_hd: #e5e2da;
    $_textColor_hd: #482e15;
    $_textColor_bd: #664b3a;

    a {
      display: block;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      min-width: 86px;
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_hd;
      margin-bottom: 5px;
      > div {
        display: inline-block;
        background-color: $_backgroundColor_hd;
        padding: 3px 8px;
      }
    }
    &__item-bd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_bd;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxLabeledList#{$variation1of2} {

    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor_hd: #941b50;
    $_textColor_bd: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      font-weight: bold;
      color: $_textColor_hd;
    }
    &__item-bd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_bd;
    }
  }

  .t0-b-sideBoxLabeledList#{$variation2of2} {

    $_spacing_item: #{$g-spacingBaseLength * 3}px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_backgroundColor_hd: #e5e2da;
    $_textColor_hd: #482e15;
    $_textColor_bd: #664b3a;

    a {
      display: block;
      text-decoration: underline;
    }

    &__item {
      padding-top: $_spacing_item;
      &:first-child {
        padding-top: 0;
      }
    }

    &__item-hd {
      min-width: 86px;
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_hd;
      margin-bottom: 5px;
      > div {
        display: inline-block;
        background-color: $_backgroundColor_hd;
        padding: 3px 8px;
      }
    }
    &__item-bd {
      @include g-font-layout($_fontSizePx, $_lineHeightType);
      color: $_textColor_bd;
    }
  }

}// SP
