@if $device == PC {
  .t0-b-sideBoxTable {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #714f2d;
    $_color_table_td_text: #7c5e42;
    font-family: $font-tenorSans;
    color: $g-textColor;
    p {
      @include g-font(16, 2);
      margin-top: 1em;
    }

    > p {
      &:first-child {
        margin-top: 0;
      }
    }

    ol {
      padding: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
        font-size: $g-fontSize;
        li {
          @include g-font(16, 1);
        }
      }

      p {
        @include g-font(16, 1);
      }

      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: decimal;
        &:first-child {
          margin-top: 0;
        }

        @include bugFix_IE_list-item();
      }
    }

    > ol {
      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      padding: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(16, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }

        @include bugFix_IE_list-item();
      }
    }

    > ul {
      &:first-child {
        margin-top: 0;
      }
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      // tableのデフォルトの枠線を消す
      border: transparent 1px solid;
      th,
      td {
        @include g-font(14, 1);
        padding: 10px 5px;
        text-align: left;
        vertical-align: middle;
        // IE,Firefoxでtableの枠線が出るので消す
        border-style: none;
        border-bottom: 1px solid $_color_table_border;
        p,
        ul,
        ol {
          text-align: left;
        }
      }

      ul,
      ol {
        font-size: $g-fontSize;
        li {
          @include g-font(16, 1);
        }
      }

      p {
        @include g-font(16, 1);
      }

      th {
        color: $_color_table_th_text;
        background-color: $_color_table_th_bg;
      }

      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
      }

      tr {
        &:first-child {
          th,
          td {
            border-top: 1px solid $_color_table_border;
          }
        }

        &:last-child {
          > th,
          td {
            background-image: none;
          }
        }
      }
    }

    > table {
      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: block;
      color: inherit;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxTable {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    $_color_table_border: #fff;
    $_color_table_th_bg: #eae3d4;
    $_color_table_td_bg: #f1efe8;
    $_color_table_th_text: #714f2d;
    $_color_table_td_text: #7c5e42;
    font-family: $font-tenorSans;
    color: $g-textColor;
    p {
      @include g-font(14, 2);
      margin-top: 1em;
    }

    > p {
      &:first-child {
        margin-top: 0;
      }
    }

    ol {
      padding: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(14, 1);
        margin-top: $_elementSpacing;
        list-style-type: decimal;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    > ol {
      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      padding: 0 0 0 1.5em;
      margin-top: $_blockSpacing;
      font-size: $g-fontSize;
      ul,
      ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font(14, 1);
        margin-top: $_elementSpacing;
        list-style-type: disc;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    > ul {
      &:first-child {
        margin-top: 0;
      }
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      // tableのデフォルトの枠線を消す
      border: transparent 1px solid;
      th,
      td {
        @include g-font(14, 1);
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
        // IE,Firefoxでtableの枠線が出るので消す
        border-style: none;
        border-bottom: 1px solid $_color_table_border;
        p,
        ul,
        ol {
          text-align: left;
        }
      }

      ul,
      ol {
        font-size: $g-fontSize;
        li {
          @include g-font(14, 1);
        }
      }

      p {
        @include g-font(14, 1);
      }

      th {
        color: $_color_table_th_text;
        background: $_color_table_th_bg;
      }

      td {
        color: $_color_table_td_text;
        background-color: $_color_table_td_bg;
      }

      tr {
        &:first-child {
          th,
          td {
            border-top: 1px solid $_color_table_border;
          }
        }

        &:last-child {
          > th,
          td {
            background-image: none;
          }
        }
      }
    }

    > table {
      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: inline-block;
      color: inherit;
      text-decoration: underline;
    }
  }
}
