@if $device == PC {

  .t0-b-sideBoxMedia {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia2 {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia3 {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxMedia {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia2 {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBoxMedia3 {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .ex-imageFloat {

    &--width-s {}
    &--width-m {}
    &--width-l {}
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
