@if $device == PC {

  .t0-b-sideBoxNavB#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #009fa5;
    $_bgHoverColor: #86d6d9;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          background-color: $_bgHoverColor;
          transition: background-color .5s ease .3s;
          &:after {
            // 矢印アニメーション
            left: 20px;
          }
        }
      }
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-timing-function: ease;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #009fa5;
    $_bgHoverColor: #86d6d9;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
          &:after {
            // 矢印アニメーション
            left: 20px;
            background-image: url("../imgs/common/navItem001/Banner_arrow002_size2_v2.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .2s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #c4b482;
    $_bgHoverColor: #ded3b0;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          background-color: $_bgHoverColor;
          transition: background-color .5s ease .3s;
          &:after {
            // 矢印アニメーション
            left: 20px;
          }
        }
      }
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #c4b482;
    $_bgHoverColor: #f6f2e5;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
          &:after {
            // 矢印アニメーション
            left: 20px;
            background-image: url("../imgs/common/navItem001/Banner_arrow003_size2_v4.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB5 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #53d6de;
    $_bgHoverColor: #98e3e7;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          background-color: $_bgHoverColor;
          transition: background-color .5s ease .3s;
          &:after {
            // 矢印アニメーション
            left: 20px;
          }
        }
      }
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB6 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #53d6de;
    $_bgHoverColor: #e5feff;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
          &:after {
            // 矢印アニメーション
            left: 20px;
            background-image: url("../imgs/common/navItem001/Banner_arrow004_size2_v6.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB7 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #dd6f9f;
    $_bgHoverColor: #f0abca;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          background-color: $_bgHoverColor;
          transition: background-color .5s ease .3s;
          &:after {
            // 矢印アニメーション
            left: 20px;
          }
        }
      }
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB8 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #dd6f9f;
    $_bgHoverColor: #ffe7f2;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
      #{$_block}__inner {
        &:hover {
          color: $_bgColor;
          border: 2px solid $_bgColor;
          background-color: $_bgHoverColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
          &:after {
            // 矢印アニメーション
            left: 20px;
            background-image: url("../imgs/common/navItem001/Banner_arrow005_size2_v8.png");
          }
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB9 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;
    $_hoverColor: #fff;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;

      #{$_block}__inner {
        &:hover {
          color: $_hoverColor;
          border: 2px solid $_textColor;
          background-color: $_textColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
    }
  }

  .t0-b-sideBoxNavB10 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;
    $_hoverColor: #fff;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;

      #{$_block}__inner {
        &:hover {
          color: $_hoverColor;
          border: 2px solid $_textColor;
          background-color: $_textColor;
          transition: color .3s ease .2s, background-color .3s ease .1s, border-color .3s ease .2s;
        }
      }
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBoxNavB#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #009fa5;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-timing-function: ease;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #009fa5;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .2s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB3 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #c4b482;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB4 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #c4b482;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB5 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #53d6de;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB6 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #53d6de;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB7 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #dd6f9f;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 7px 24px;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB8 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_bgColor: #dd6f9f;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_bgColor;
      background-color: $_bgColor;
      // Start 矢印アニメーション
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        // 高さ不明の要素を天地の中央に配置
        transform: translateY(-50%);
        left: 10px;
        transition: .3s;
        transition-delay: .3s;
        display: block;
        width: 8px;
        height: 12px;
        background-image: url("../imgs/common/navItem001/Banner_arrow001_size2_v1.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 8px 12px;
      }
      // End 矢印アニメーション
    }
  }

  .t0-b-sideBoxNavB9 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;
    $_hoverColor: #fff;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
    }
  }

  .t0-b-sideBoxNavB10 {

    $_block: &;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #52271c;
    $_hoverColor: #fff;

    @include g-font-layout($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;

    a {
      display: block;
      color: $_textColor;
    }

    &__inner {
      padding: 3px 24px;
      border-radius: 20px;
      border: 2px solid $_textColor;
      background-color: $_hoverColor;
    }
  }

}// SP
