@if $device == PC {

  .t0-b-lv1H-pageH#{$variation1of2} {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    width: 1100px;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    box-sizing: border-box;
    padding: 43px 30px;
    margin: 0 auto;
    background-color: #f6f3f0;
    background-image:
      url("../imgs/heading/heading028/heading028_frame01_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame02_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame03_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame06_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame07_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame08_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame05_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px 75px,
      75px 75px,
      6px 6px,
      6px 6px,
      1px 6px,
      1px 6px,
      7px 1px,
      7px 1px;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px 20px;
    box-shadow:
      0px -4px #f4eee2 inset,
      0px -5px #fff inset,
      0px 4px #f4eee2 inset,
      0px 5px #fff inset;
    background-color: #f4eee2;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 42px 20px;
    border: 1px solid #cbba91;
    width: 1100px;
    margin: 0 auto;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH4 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px 20px;
    background-color: #f7f5f2;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH5 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px 20px;
    background-color: #faf1f1;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH6 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    width: 1100px;
    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    box-sizing: border-box;
    padding: 43px 30px;
    margin: 0 auto;
    background-color: #f8f5ef;
    background-image:
      url("../imgs/heading/heading034/heading034_frame01_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame02_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame03_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame06_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame07_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame08_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame05_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px 75px,
      75px 75px,
      6px 6px,
      6px 6px,
      1px 6px,
      1px 6px,
      7px 1px,
      7px 1px;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-lv1H-pageH#{$variation1of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 37px *.5;
    background-color: #f6f3f0;
    background-image:
      url("../imgs/heading/heading028/sp_heading028_frame01_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame02_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame03_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame06_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame07_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame08_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame05_v1_01.png"),
      url("../imgs/heading/heading028/sp_heading028_frame04_v1_01.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px *.5 75px *.5,
      75px *.5 75px *.5,
      1px *.5 6px *.5,
      1px *.5 6px *.5,
      6px *.5 6px *.5,
      6px *.5 6px *.5,
      6px *.5 1px *.5,
      6px *.5 1px *.5;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;
    margin: 0 -15px;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px *.5 20px *.5;
    box-shadow:
    0px -4px #f4eee2 inset,
    0px -5px #fff inset,
    0px 4px #f4eee2 inset,
    0px 5px #fff inset;
    background-color: #f4eee2;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 42px *.5 20px *.5;
    border: 1px solid #cbba91;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH4 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;
    margin: 0 -15px;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px *.5 20px *.5;
    background-color: #f7f5f2;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH5 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;
    margin: 0 -15px;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 43px *.5 20px *.5;
    background-color: #faf1f1;

    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH6 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #714f2d;

    font-family: $tenorsans;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 37px *.5;
    background-color: #f8f5ef;
    background-image:
      url("../imgs/heading/heading034/sp_heading034_frame01_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame02_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame03_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame06_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame07_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame08_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame05_v1_01.png"),
      url("../imgs/heading/heading034/sp_heading034_frame04_v1_01.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px *.5 75px *.5,
      75px *.5 75px *.5,
      1px *.5 6px *.5,
      1px *.5 6px *.5,
      6px *.5 6px *.5,
      6px *.5 6px *.5,
      6px *.5 1px *.5,
      6px *.5 1px *.5;

    a {
      display: block;
      text-decoration: none;
      color: $_textColor;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
