@if $device == PC {

  .t0-b-headerMenu#{$variation1of2} {

    $_block: &;
    $_widthContent: 1100px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #8c6f3c;
    $_textHoverColor: #816739;
    $_textStateEmColor: #b67f1d;
    $_textStateCurrentColor: #816739;
    $_borderColor: #009fa5;
    $_bgColor: #fff;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    position: relative;
    width: 100%;
    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 auto;
    background-color: $_bgColor;

    > div {
      width: $_widthContent;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 34px;
        min-height: inherit;
        box-sizing: border-box;
        li {
          display: table-cell;
          vertical-align: middle;
          // 文字を全て消した時の対応
          min-width: 50px;
          text-align: center;

          a {
            display: block;
            height: 100%;
            // Start firefoxだとheight: 100%;だとうまく表示されない為
            @-moz-document url-prefix() {
              height: 34px;
            }
            // End firefoxだとheight: 100%;だとうまく表示されない為
            
            div {
              // Start リンク有りの時天地中央にする為
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              // End リンク有りの時天地中央にする為
              &:before,
              &:after {
                position: absolute;
                bottom: -3px;
                content: "";
                display: block;
                width: 0;
                height: 4px;
                background: $_borderColor;
                transition: 0.5s;
              }
              &:before {
                left: 50%;
              }
              &:after {
                right: 50%;
              }
            }
            &:hover {
              div {
                color: $_textHoverColor;
                &:before,
                &:after {
                  width: 50%;
                }
              }
            }
          }
          div {
            display: inline-block;
            color: $_textColor;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      position: relative;
     
      div {
        color: $_textStateCurrentColor;

        &:before,
        &:after {
          position: absolute;
          bottom: -3px;
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: $_borderColor;
        }
      }
    }
    .state-current.state-em {
      position: relative;
      
      div {
        color: $_textStateCurrentColor;

        &:before,
        &:after {
          position: absolute;
          bottom: -3px;
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: $_borderColor;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          // 幅均等にする為の指定
          table-layout: fixed;
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {

    $_block: &;
    $_widthContent: 1100px;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_textHoverColor: #82faff;
    $_textStateEmColor: #d5fdff;
    $_textStateCurrentColor: #fff;
    $_bgColor: #c8b98e;
    $_bgHoverColor: #9a8662;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    position: relative;
    width: 100%;
    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 auto;
    background-color: $_bgColor;

    > div {
      width: $_widthContent;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 30px;
        min-height: inherit;
        box-sizing: border-box;
        li {
          display: table-cell;
          vertical-align: middle;
          // 文字を全て消した時の対応
          min-width: 50px;
          text-align: center;
          div {
            padding: 3px 0;
            > span {
              // Start アニメーションの為に文字を一番上に出す為
              position: relative;
              z-index: 1;
              // End アニメーションの為に文字を一番上に出す為
              display: inline-block;
              color: $_textColor;
            }
          }
          &:hover {
            a {
              div {
                > span {
                  color: $_textHoverColor;
                }
              }
            }
          }

        }
      }
    }
    // Start アニメーション
    .t0-b-headerMenu__item {
      position: relative;
      &:before,
      &:after{
        position: absolute;
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        background-color: $_bgHoverColor;
        transition: .5s;
      }
      &:before{
        top: 0;
        left: 50%;
      }
      &:after{
        top: 0;
        right: 50%;
      }
      &:hover:before,
      &:hover:after{
        width: 50%;
      }
    }
    .state-em {
      div {
        span {
          color: $_textStateEmColor;
        }
      }
    }
    .state-current {
      background-color: $_bgHoverColor;
      div {
        span {
          color: $_textStateCurrentColor;
        }
      }
    }
    // End アニメーション
    .state-current.state-em {
      div {
        span {
          color: $_textStateCurrentColor;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          // 幅均等にする為の指定
          table-layout: fixed;
        }
      }
    }
  }

  .t0-b-headerMenu3 {

    $_block: &;
    $_widthContent: 1100px;
    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_textHoverColor: #ffbedb;
    $_textStateEmColor: #ffddee;
    $_textStateCurrentColor: #fff;
    $_bgColor: #998979;
    $_bgHoverColor: #77614c;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    position: relative;
    width: 100%;
    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 auto;
    background-color: $_bgColor;

    > div {
      width: $_widthContent;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 30px;
        min-height: inherit;
        box-sizing: border-box;
        li {
          display: table-cell;
          vertical-align: middle;
          // 文字を全て消した時の対応
          min-width: 50px;
          text-align: center;
          div {
            padding: 3px 0;
            > span {
              // Start アニメーションの為に文字を一番上に出す為
              position: relative;
              z-index: 1;
              // End アニメーションの為に文字を一番上に出す為
              display: inline-block;
              color: $_textColor;
            }
          }
          &:hover {
            a {
              div {
                > span {
                  color: $_textHoverColor;
                }
              }
            }
          }

        }
      }
    }
    // Start アニメーション
    .t0-b-headerMenu__item {
      position: relative;
      &:before,
      &:after{
        position: absolute;
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        background-color: $_bgHoverColor;
        transition: .5s;
      }
      &:before{
        top: 0;
        left: 50%;
      }
      &:after{
        top: 0;
        right: 50%;
      }
      &:hover:before,
      &:hover:after{
        width: 50%;
      }
    }
    .state-em {
      div {
        span {
          color: $_textStateEmColor;
        }
      }
    }
    .state-current {
      background-color: $_bgHoverColor;
      div {
        span {
          color: $_textStateCurrentColor;
        }
      }
    }
    // End アニメーション
    .state-current.state-em {
      div {
        span {
          color: $_textStateCurrentColor;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          // 幅均等にする為の指定
          table-layout: fixed;
        }
      }
    }
  }

  .t0-b-headerMenu4 {

    $_block: &;
    $_widthContent: 1100px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #714f2d;
    $_textHoverColor: #ffffff;
    $_textStateEmColor: #c1a242;
    $_textStateCurrentColor: #ffffff;
    $_bgHoverColor: #c6a66b;
    $_borderColor: #988776;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    position: relative;
    width: 100%;
    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 auto;
    background-color: #fff;

    > div {
      width: $_widthContent;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 34px;
        min-height: inherit;
        box-sizing: border-box;
        li {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          // 文字を全て消した時の対応
          min-width: 50px;
          text-align: center;
          &:first-child {
            &:before {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              content: "";
              height: 30px;
              width: 1px;
              background: $_borderColor;
            }
          }
          &:after {
            position: absolute;
            content: "";
            height: 30px;
            width: 1px;
            background: $_borderColor;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
          div {
            display: inline-block;
            vertical-align: middle;
            padding: 3px 15px;
            margin: 2px;
            // Start アニメーション時の動作
            overflow: hidden;
            cursor: pointer;
            transition: all .5s ease;
            max-height: 90px;
            color: rgba($_textColor, 0);
            text-shadow: 0 0 0 #513316, 0 90px 0 #513316;
            // End アニメーション時の動作
          }
          &:hover {
            a {
              div {
                // Start アニメーション時の動作
                text-shadow: 0 -90px 0 $_textHoverColor, 0 0 0 $_textHoverColor;
                background-color: $_bgHoverColor;
                // End アニメーション時の動作
              }
            }
            &.state-em {
              div {
                background-color: $_bgHoverColor;
                > span {
                  text-shadow: 0 -90px 0 $_textHoverColor, 0 0 0 $_textHoverColor;
                  
                }
              }
            }
            &.state-current.state-em {
              div {
                > span {
                  text-shadow: none;
                }
              }
            }
          }
        }
      }
    }
    .state-em {
      div {
        > span {
          text-shadow: 0 0 0 $_textStateEmColor, 0 90px 0 $_textStateEmColor;
          transition: all .5s ease;
        }
      }
    }
    .state-current {
      div {
        text-shadow: none;
        background-color: $_bgHoverColor;
        > span {
        color: $_textStateCurrentColor;
        }
      }
    }
    .state-current.state-em {
      div {
        text-shadow: none;
        background-color: $_bgHoverColor;
        > span {
        color: $_textStateCurrentColor;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          // 幅均等にする為の指定
          table-layout: fixed;
        }
      }
    }
  }

  .t0-b-headerMenu5 {

    $_block: &;
    $_widthContent: 1100px;
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    $_textColor: #8c6f3c;
    $_textHoverColor: #816739;
    $_textStateEmColor: #b67f1d;
    $_textStateCurrentColor: #816739;
    $_borderColor: #dd6f9f;
    $_bgColor: #fff;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    position: relative;
    width: 100%;
    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 auto;
    background-color: $_bgColor;

    > div {
      width: $_widthContent;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 34px;
        min-height: inherit;
        box-sizing: border-box;
        li {
          display: table-cell;
          vertical-align: middle;
          // 文字を全て消した時の対応
          min-width: 50px;
          text-align: center;

          a {
            display: block;
            height: 100%;
            // Start firefoxだとheight: 100%;だとうまく表示されない為
            @-moz-document url-prefix() {
              height: 34px;
            }
            // End firefoxだとheight: 100%;だとうまく表示されない為
            div {
              // Start リンク有りの時天地中央にする為
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              // End リンク有りの時天地中央にする為
              &:before,
              &:after {
                position: absolute;
                bottom: -3px;
                content: "";
                display: block;
                width: 0;
                height: 4px;
                background: $_borderColor;
                transition: 0.5s;
              }
              &:before {
                left: 50%;
              }
              &:after {
                right: 50%;
              }
            }
            &:hover {
              div {
                color: $_textHoverColor;
                &:before,
                &:after {
                  width: 50%;
                }
              }
            }
          }
          div {
            display: inline-block;
            color: $_textColor;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      position: relative;

      div {
        color: $_textStateCurrentColor;
        
        &:before,
        &:after {
          position: absolute;
          bottom: -3px;
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: $_borderColor;
        }
      }
    }
    .state-current.state-em {
      position: relative;

      div {
        color: $_textStateCurrentColor;
        
        &:before,
        &:after {
          position: absolute;
          bottom: -3px;
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          background: $_borderColor;
        }
      }
    }
    &--widthEqualized {
      > div {
        > ul {
          // 幅均等にする為の指定
          table-layout: fixed;
        }
      }
    }
  }

} // PC


@if $device == SP {

  .t0-b-headerMenu#{$variation1of2} {

    $_block: &;
    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_textColor: #8c6f3c;
    $_textStateEmColor: #b67f1d;
    $_textStateCurrentColor: #009fa5;
    $_borderColor: #009fa5;
    $_bgColor: #fff;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 -15px;
    background-color: $_bgColor;

    div {
      text-align: center;
      ul {
        width: 100%;
        padding: 5px 0;
        li {
          display: inline-block;
          margin: 0 7px;
          div {
            color: $_textColor;
            text-decoration: underline;
            padding: 5px 0;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      div {
        color: $_textStateCurrentColor;
      }
    }
    .state-current.state-em {
      div {
        color: $_textStateCurrentColor;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {

    $_block: &;
    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_textStateEmColor: #d5fdff;
    $_textStateCurrentColor: #fff;
    $_bgColor: #c8b98e;
    $_bgCurrentColor: #9a8662;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 -15px;
    background-color: $_bgColor;

    div {
      text-align: center;
      ul {
        width: 100%;
        padding: 5px 0;
        li {
          display: inline-block;
          margin: 0 7px;
          div {
            color: $_textColor;
            text-decoration: underline;
            padding: 5px;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      background-color: $_bgCurrentColor;
      div {
        color: $_textStateCurrentColor;
      }
    }
    .state-current.state-em {
      div {
        color: $_textStateCurrentColor;
      }
    }
  }

  .t0-b-headerMenu3 {

    $_block: &;
    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_textColor: #fff;
    $_textStateEmColor: #ffddee;
    $_textStateCurrentColor: #fff;
    $_bgColor: #998979;
    $_bgCurrentColor: #77614c;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 -15px;
    background-color: $_bgColor;

    div {
      text-align: center;
      ul {
        width: 100%;
        padding: 5px 0;
        li {
          display: inline-block;
          margin: 0 7px;
          div {
            color: $_textColor;
            text-decoration: underline;
            padding: 5px;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      background-color: $_bgCurrentColor;
      div {
        color: $_textStateCurrentColor;
      }
    }
    .state-current.state-em {
      div {
        color: $_textStateCurrentColor;
      }
    }
  }

  .t0-b-headerMenu4 {

    $_block: &;
    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_textColor: #714f2d;
    $_textStateEmColor: #c1a242;
    $_textStateCurrentColor: #fff;
    $_bgCurrentColor: #c6a66b;
    $_borderColor: #988776;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 -15px;
    background-color: #fff;

    div {
      text-align: center;
      ul {
        letter-spacing: -0.4em;
        width: 100%;
        padding: 5px 0;
        li {
          display: inline-block;
          letter-spacing: normal;
          margin: 0 7px;
          div {
            color: $_textColor;
            text-decoration: underline;
            padding: 5px;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      div {
        color: $_textStateCurrentColor;
        background-color: $_bgCurrentColor;
      }
    }
    .state-current.state-em {
      div {
        color: $_textStateCurrentColor;
      }
    }
  }

  .t0-b-headerMenu5 {

    $_block: &;
    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_textColor: #8c6f3c;
    $_textHoverColor: #816739;
    $_textStateEmColor: #b67f1d;
    $_textStateCurrentColor: #dd6f9f;
    $_borderColor: #dd6f9f;
    $_bgColor: #fff;

    input[type="checkbox"].on-off {
      display: none;
    }
    label {
      display: none;
    }

    font-family: $tenorsans;
    @include g-font-layout($_fontSizePx, $_lineHeightType);
    margin: 0 -15px;
    background-color: $_bgColor;

    div {
      text-align: center;
      ul {
        width: 100%;
        padding: 5px 0;
        li {
          display: inline-block;
          margin: 0 7px;
          div {
            color: $_textColor;
            text-decoration: underline;
            padding: 5px 0;
          }
        }
      }
    }
    .state-em {
      div {
        color: $_textStateEmColor;
      }
    }
    .state-current {
      div {
        color: $_textStateCurrentColor;
      }
    }
    .state-current.state-em {
      div {
        color: $_textStateCurrentColor;
      }
    }
  }

}// SP
