@if $device == PC {

  .t0-b-copyright {

    $_fontSizePx: 14;
    $_lineHeightType: 2;
    $_bgColor: #f4efe5;
    $_textColor: #8f8074;
    
    font-family: $tenorsans;
    width: 100%;
    min-height: 20px;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    padding: 6px 0;
    background-color: $_bgColor;

    a {
      color: $_textColor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }
}


@if $device == SP {

  .t0-b-copyright {

    $_fontSizePx: 12;
    $_lineHeightType: 1;
    $_bgColor: #f4efe5;
    $_textColor: #8f8074;

    font-family: $tenorsans;
    min-height: 21px;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $_textColor;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 0;
    margin: 0 -15px;
    background-color: $_bgColor;
    a {
      color: $_textColor;
      text-decoration: underline;
    }
  }

}
