@if $device == PC {

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24,
  .t0-b-fullWidthFrame25,
  .t0-b-fullWidthFrame26,
  .t0-b-fullWidthFrame27,
  .t0-b-fullWidthFrame28,
  .t0-b-fullWidthFrame29,
  .t0-b-fullWidthFrame30,
  .t0-b-fullWidthFrame31,
  .t0-b-fullWidthFrame32,
  .t0-b-fullWidthFrame33,
  .t0-b-fullWidthFrame34,
  .t0-b-fullWidthFrame35,
  .t0-b-fullWidthFrame36,
  .t0-b-fullWidthFrame37,
  .t0-b-fullWidthFrame38,
  .t0-b-fullWidthFrame39,
  .t0-b-fullWidthFrame40,
  .t0-b-fullWidthFrame41,
  .t0-b-fullWidthFrame42,
  .t0-b-fullWidthFrame43,
  .t0-b-fullWidthFrame44,
  .t0-b-fullWidthFrame45,
  .t0-b-fullWidthFrame46,
  .t0-b-fullWidthFrame47,
  .t0-b-fullWidthFrame48,
  .t0-b-fullWidthFrame49,
  .t0-b-fullWidthFrame50,
  .t0-b-fullWidthFrame51,
  .t0-b-fullWidthFrame52,
  .t0-b-fullWidthFrame53,
  .t0-b-fullWidthFrame54,
  .t0-b-fullWidthFrame55,
  .t0-b-fullWidthFrame56,
  .t0-b-fullWidthFrame57,
  .t0-b-fullWidthFrame58 {
    padding: 40px 1000px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    @if $layout == "L25" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "L30" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "N00" {
      margin: 0 (-1000px - $areaSubWidth / 2);
      padding: 40px (1000px + $areaSubWidth / 2);
    } @else if $layout == "R25" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    } @else if $layout == "R30" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    }
  }

  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame24,
  .t0-b-fullWidthFrame26,
  .t0-b-fullWidthFrame28,
  .t0-b-fullWidthFrame30,
  .t0-b-fullWidthFrame32,
  .t0-b-fullWidthFrame34,
  .t0-b-fullWidthFrame36,
  .t0-b-fullWidthFrame38,
  .t0-b-fullWidthFrame40,
  .t0-b-fullWidthFrame42,
  .t0-b-fullWidthFrame44,
  .t0-b-fullWidthFrame46,
  .t0-b-fullWidthFrame48,
  .t0-b-fullWidthFrame50,
  .t0-b-fullWidthFrame52,
  .t0-b-fullWidthFrame54,
  .t0-b-fullWidthFrame56,
  .t0-b-fullWidthFrame58 {
    @if $layout == "L25" {
      margin-left: -1000px;
    } @else if $layout == "L30" {
      margin-left: -1000px;
    } @else if $layout == "N00" {
      margin: 0 -1000px;
    } @else if $layout == "R25" {
      margin-right: -1000px;
    } @else if $layout == "R30" {
      margin-right: -1000px;
    }
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    padding: 75px 1035px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 40px;
      bottom: 40px;
      left: 1000px;
      right: 1000px;
      border-radius: 10px;
    }
    * {
      position: relative;
    }
    @if $layout == "N00" {
      padding: 75px (1035px + $areaSubWidth / 2);
      &::before {
        left: 1000 + $areaSubWidth / 2;
        right: 1000 + $areaSubWidth / 2;
      }
    }
  }

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }

  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12 {
    background-color: $fullWidthBgColor6;
  }

  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14 {
    background-color: $fullWidthBgColor7;
  }

  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16 {
    background-color: $fullWidthBgColor8;
  }

  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18 {
    background-color: $fullWidthBgColor9;
  }

  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20 {
    background-color: $fullWidthBgColor10;
  }

  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22 {
    background-color: $fullWidthBgColor11;
  }

  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24 {
    background-color: $fullWidthBgColor12;
  }

  .t0-b-fullWidthFrame25,
  .t0-b-fullWidthFrame26 {
    background-color: $fullWidthBgColor13;
  }

  .t0-b-fullWidthFrame27,
  .t0-b-fullWidthFrame28 {
    background-color: $fullWidthBgColor14;
  }

  .t0-b-fullWidthFrame29,
  .t0-b-fullWidthFrame30 {
    background-color: $fullWidthBgColor15;
  }

  .t0-b-fullWidthFrame31,
  .t0-b-fullWidthFrame32 {
    background-color: $fullWidthBgColor16;
  }

  .t0-b-fullWidthFrame33,
  .t0-b-fullWidthFrame34 {
    background-color: $fullWidthBgColor17;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]){
      padding-top: 5%; // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
    }
  }

}// PC


@if $device == SP {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2,
  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4,
  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6,
  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8,
  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10,
  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12,
  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14,
  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16,
  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18,
  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20,
  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22,
  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24,
  .t0-b-fullWidthFrame25,
  .t0-b-fullWidthFrame26,
  .t0-b-fullWidthFrame27,
  .t0-b-fullWidthFrame28,
  .t0-b-fullWidthFrame29,
  .t0-b-fullWidthFrame30,
  .t0-b-fullWidthFrame31,
  .t0-b-fullWidthFrame32,
  .t0-b-fullWidthFrame33,
  .t0-b-fullWidthFrame34,
  .t0-b-fullWidthFrame35,
  .t0-b-fullWidthFrame36,
  .t0-b-fullWidthFrame37,
  .t0-b-fullWidthFrame38,
  .t0-b-fullWidthFrame39,
  .t0-b-fullWidthFrame40,
  .t0-b-fullWidthFrame41,
  .t0-b-fullWidthFrame42,
  .t0-b-fullWidthFrame43,
  .t0-b-fullWidthFrame44,
  .t0-b-fullWidthFrame45,
  .t0-b-fullWidthFrame46,
  .t0-b-fullWidthFrame47,
  .t0-b-fullWidthFrame48,
  .t0-b-fullWidthFrame49,
  .t0-b-fullWidthFrame50,
  .t0-b-fullWidthFrame51,
  .t0-b-fullWidthFrame52,
  .t0-b-fullWidthFrame53,
  .t0-b-fullWidthFrame54,
  .t0-b-fullWidthFrame55,
  .t0-b-fullWidthFrame56,
  .t0-b-fullWidthFrame57,
  .t0-b-fullWidthFrame58 {
    margin: 0 -15px;
    padding: 40px 15px 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    padding: 40px 35px;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      border-radius: 10px;
    }
    * {
      position: relative;
    }
  }

  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }

  .t0-b-fullWidthFrame11,
  .t0-b-fullWidthFrame12 {
    background-color: $fullWidthBgColor6;
  }

  .t0-b-fullWidthFrame13,
  .t0-b-fullWidthFrame14 {
    background-color: $fullWidthBgColor7;
  }

  .t0-b-fullWidthFrame15,
  .t0-b-fullWidthFrame16 {
    background-color: $fullWidthBgColor8;
  }

  .t0-b-fullWidthFrame17,
  .t0-b-fullWidthFrame18 {
    background-color: $fullWidthBgColor9;
  }

  .t0-b-fullWidthFrame19,
  .t0-b-fullWidthFrame20 {
    background-color: $fullWidthBgColor10;
  }

  .t0-b-fullWidthFrame21,
  .t0-b-fullWidthFrame22 {
    background-color: $fullWidthBgColor11;
  }

  .t0-b-fullWidthFrame23,
  .t0-b-fullWidthFrame24 {
    background-color: $fullWidthBgColor12;
  }

  .t0-b-fullWidthFrame25,
  .t0-b-fullWidthFrame26 {
    background-color: $fullWidthBgColor13;
  }

  .t0-b-fullWidthFrame27,
  .t0-b-fullWidthFrame28 {
    background-color: $fullWidthBgColor14;
  }

  .t0-b-fullWidthFrame29,
  .t0-b-fullWidthFrame30 {
    background-color: $fullWidthBgColor15;
  }

  .t0-b-fullWidthFrame31,
  .t0-b-fullWidthFrame32 {
    background-color: $fullWidthBgColor16;
  }

  .t0-b-fullWidthFrame33,
  .t0-b-fullWidthFrame34 {
    background-color: $fullWidthBgColor17;
  }

  .area-main {
    [data-part-type="fullWidth"] + :not([data-part-type="fullWidth"]){
      // ぶち抜き部品の次にぶち抜きでない部品が来た場合は余白をあける
      padding-top: 30px;
    }
  }

}// SP
