@if $device == PC {
  .mod-login {

    $_fontSizePx: 14;
    $_lineHeightType: 1;
    $_textColor: #8f8074;

    @include g-font($_fontSizePx, $_lineHeightType);
    padding: 8.5px 0;
    color: $_textColor;
    text-align: right;
    background-color: #f4efe5;
    p {
      width: 1100px;
      margin: 0 auto;
    }

    a {
      color: $_textColor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }
}// PC


@if $device == SP {
  // スマホサイトには出てこない要素なので指定無し
}// SP
