@if $device == PC {

  a {
    text-decoration: underline;
    color: $g-textcolor;
    &:hover {
      color: $g-hovercolor;
    }
  }

}// PC

@if $device == SP {

  a {
    text-decoration: underline;
    color: $g-textcolor;
    &:hover {
      color: $g-hovercolor;
    }
  }

}// SP