@if $device == PC {
  .t0-b-freeHtml {
    box-sizing: border-box;
    overflow: hidden;
    line-height: 0;
    > div > * {
      line-height: 1.5;
    }

    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }

    .admin & {
      line-height: 21px;
    }

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }

    div {
      border: 1px solid #a5a5a5;
      color: #555;
      text-align: center;
      > * {
        max-width: 100%;
        margin: 0 auto !important;
      }
    }
  }
}

@if $device == SP {
  .t0-b-freeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}
