@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    text-align: center;
    padding: 15px 8px;
    margin-bottom: 60px;
    background: inherit;
    position: relative;
    background-image: url("../imgs/t0-b-catchText/bg_before_left.png"), url("../imgs/t0-b-catchText/bg_before.png"), url("../imgs/t0-b-catchText/bg_left.png"), url("../imgs/t0-b-catchText/bg_right.png"), url("../imgs/t0-b-catchText/bg.png");
    background-position: left top, right top, left 15px, right 15px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
    background-size: auto, auto, 8px 100%, 8px 100%, auto 100%;
    > span {
      display: block;
      position: absolute;
      left: 0;
      bottom: -42px;
      width: 100%;
      height: 42px;
      background: url("../imgs/t0-b-catchText/bg_under.png") right 0 no-repeat;
      > span {
        display: block;
        position: absolute;
        width: 8px;
        height: 42px;
        left: 0;
        top: 0;
        background: url("../imgs/t0-b-catchText/bg_under_left.png") left 0 no-repeat;
      }
    }

    &__text-sub p {
      @include g-font-spacingKilled(16, 1);

      color: #fff;
    }

    &__text-sub2 p {
      @include g-font-spacingKilled(18, 1);

      color: #fff;
    }

    &__text-main p {
      @include g-font-spacingKilled(28, 1);

      color: #fff;
      margin-left: 18px;
      margin-right: 18px;
      border-top: 5px solid rgba(#7f7f7f, .14);
      border-left: 5px solid rgba(#b9b9b8, .14);
      border-right: 5px solid rgba(#b9b9b8, .14);
      border-bottom: 5px solid rgba(#ebebeb, .14);
      background: linear-gradient(0deg, rgba(#fcfcfc, .14) 0%, rgba(#dbdbdb, .14) 100%);
    }

    &__text-sub3 p {
      @include g-font-spacingKilled(18, 1);

      color: #fff;
    }

    &__text-sub4 p {
      @include g-font-spacingKilled(16, 1);

      color: #fff;
    }

    > div {
      padding: 15px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    text-align: center;
    padding: 0;
    margin: 0 17px 50px;
    position: relative;
    background: url("../imgs/t0-b-catchText2/bg.png") 0 0 repeat-x;
    background-size: auto 100%;
    div {
      &:last-child {
        padding-bottom: 30px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      bottom: 0;
      left: -17px;
      top: 10px;
      background: url("../imgs/t0-b-catchText2/bg_left.png") left 0 repeat-y;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      bottom: 0;
      right: -17px;
      top: 10px;
      background: url("../imgs/t0-b-catchText2/bg_right.png") left 0 repeat-y;
    }

    > span {
      display: block;
      position: absolute;
      right: -17px;
      bottom: -9px;
      width: 100%;
      height: 56px;
      background: url("../imgs/t0-b-catchText2/bg_under.png") right 0 no-repeat;
      > span {
        display: block;
        position: absolute;
        width: 65px;
        height: 56px;
        left: -34px;
        top: 0;
        background: url("../imgs/t0-b-catchText2/bg_under_left.png") left 0 no-repeat;
      }
    }

    &__text-sub p {
      @include g-font-spacingKilled(16, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-sub2 p {
      @include g-font-spacingKilled(18, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-main p {
      @include g-font-spacingKilled(28, 1);

      color: #fff;
      margin-left: 18px;
      margin-right: 18px;
      border-top: 5px solid rgba(#7f7f7f, .14);
      border-left: 5px solid rgba(#b9b9b8, .14);
      border-right: 5px solid rgba(#b9b9b8, .14);
      border-bottom: 5px solid rgba(#ebebeb, .14);
      background: linear-gradient(to bottom, rgba(#fcfcfc, .14) 0%, rgba(#dbdbdb, .14) 100%);
    }

    &__text-sub3 p {
      @include g-font-spacingKilled(18, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-sub4 p {
      @include g-font-spacingKilled(16, 1);

      color: #fff;
      padding: 0 15px;
    }

    > div {
      padding: 15px 0 0;
    }

    span + div {
      position: relative;
      padding-top: 30px;
    }

    span + div::before {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 55px;
      background: url("../imgs/t0-b-catchText2/bg_before.png") right 0 no-repeat;
      top: -10px;
      right: -17px;
    }

    span + div::after {
      content: " ";
      display: block;
      position: absolute;
      width: 65px;
      height: 55px;
      background: url("../imgs/t0-b-catchText2/bg_before_left.png") 0 0 no-repeat;
      top: -10px;
      left: -17px;
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    text-align: center;
    padding: 10px 0 17px;
    margin-bottom: 42px;
    background: inherit;
    position: relative;
    background-image: url("../imgs/t0-b-catchText/bg_before_left.png"), url("../imgs/t0-b-catchText/bg_before.png"), url("../imgs/t0-b-catchText/bg_left.png"), url("../imgs/t0-b-catchText/bg_right.png"), url("../imgs/t0-b-catchText/bg.png");
    background-position: left top, right top, left 15px, right 15px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
    background-size: auto, auto, 8px 100%, 8px 100%, auto 100%;
    > span {
      display: block;
      position: absolute;
      left: 0;
      bottom: -42px;
      width: 100%;
      height: 42px;
      background: url("../imgs/t0-b-catchText/bg_under2.png") right 0 no-repeat;
      > span {
        display: block;
        position: absolute;
        width: 8px;
        height: 42px;
        left: 0;
        top: 0;
        background: url("../imgs/t0-b-catchText/bg_under_left.png") left 0 no-repeat;
      }
    }

    &__text-sub p {
      @include g-font-spacingKilled(12, 1);

      color: #fff;
    }

    &__text-sub2 p {
      @include g-font-spacingKilled(14, 1);

      color: #fff;
    }

    &__text-main p {
      @include g-font-spacingKilled(18, 1);

      color: #fff;
      padding: 13px;
      margin-left: 18px;
      margin-right: 18px;
      border-top: 5px solid rgba(#7f7f7f, .14);
      border-left: 5px solid rgba(#b9b9b8, .14);
      border-right: 5px solid rgba(#b9b9b8, .14);
      border-bottom: 5px solid rgba(#ebebeb, .14);
      background: linear-gradient(0deg, rgba(#fcfcfc, .14) 0%, rgba(#dbdbdb, .14) 100%);
    }

    &__text-sub3 p {
      @include g-font-spacingKilled(14, 1);

      color: #fff;
    }

    &__text-sub4 p {
      @include g-font-spacingKilled(12, 1);

      color: #fff;
    }

    > div {
      padding: 15px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    div {
      &:last-child {
        padding-bottom: 20px;
      }
    }

    text-align: center;
    padding: 0;
    margin: 50px 0 20px;
    position: relative;
    background: url("../imgs/t0-b-catchText2/bg.png") 0 0 repeat-x;
    background-size: auto 100%;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      bottom: 0;
      left: -17px;
      top: 10px;
      background: url("../imgs/t0-b-catchText2/bg_left.png") left 0 repeat-y;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      bottom: 0;
      right: -17px;
      top: 10px;
      background: url("../imgs/t0-b-catchText2/bg_right.png") left 0 repeat-y;
    }

    > span {
      display: block;
      position: absolute;
      right: -17px;
      bottom: -9px;
      width: 100%;
      height: 56px;
      background: url("../imgs/t0-b-catchText2/bg_under.png") right 0 no-repeat;
      > span {
        display: block;
        position: absolute;
        width: 65px;
        height: 56px;
        left: -34px;
        top: 0;
        background: url("../imgs/t0-b-catchText2/bg_under_left.png") left 0 no-repeat;
      }
    }

    &__text-sub p {
      @include g-font-spacingKilled(12, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-sub2 p {
      @include g-font-spacingKilled(14, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-main p {
      @include g-font-spacingKilled(18, 1);

      padding: 13px;
      color: #fff;
      margin-left: 18px;
      margin-right: 18px;
      border-top: 5px solid rgba(#7f7f7f, .14);
      border-left: 5px solid rgba(#b9b9b8, .14);
      border-right: 5px solid rgba(#b9b9b8, .14);
      border-bottom: 5px solid rgba(#ebebeb, .14);
      background: linear-gradient(0deg, rgba(#fcfcfc, .14) 0%, rgba(#dbdbdb, .14) 100%);
    }

    &__text-sub3 p {
      @include g-font-spacingKilled(14, 1);

      color: #fff;
      padding: 0 15px;
    }

    &__text-sub4 p {
      @include g-font-spacingKilled(12, 1);

      color: #fff;
      padding: 0 15px;
    }

    > div {
      padding: 15px 0 0;
    }

    span + div {
      position: relative;
      padding-top: 20px;
    }

    span + div::before {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 55px;
      background: url("../imgs/t0-b-catchText2/bg_before.png") right 0 no-repeat;
      top: -10px;
      right: -17px;
    }

    span + div::after {
      content: " ";
      display: block;
      position: absolute;
      width: 65px;
      height: 55px;
      background: url("../imgs/t0-b-catchText2/bg_before_left.png") 0 0 no-repeat;
      top: -10px;
      left: -17px;
    }
  }
}
