@if $device == PC {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    $_fontSize_h: 28;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    line-height: 0;
    > div {
      display: inline-block;
      color: #fff;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font($_fontSize_h - 4, $_lineHeight_h);
    }

    &__caption-upper + a > &__h {
      @include g-font($_fontSize_h - 4, $_lineHeight_h);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 68px 68px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 68px;
      height: 68px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-numIcon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding: 0 10px * .8 0 0;
      }

      #{$_block}__icon {
        width: 68px * .8;
        height: 68px * .8;
        background-size: 68px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_s - 4, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_s - 4, $_lineHeight_h);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding: 0 10px * 1.2 0 0;
      }

      #{$_block}__icon {
        width: 68px * 1.2;
        height: 68px * 1.2;
        background-size: 68px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_l - 4, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_l - 4, $_lineHeight_h);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d4d1ca;
      }
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_block: &;
    $_fontSize_h: 28;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    color: #999;
    line-height: 0;
    > div {
      display: inline-block;
      color: #fff;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font($_fontSize_h - 4, $_lineHeight_h);
    }

    &__caption-upper + a > &__h {
      @include g-font($_fontSize_h - 4, $_lineHeight_h);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 68px 68px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 68px;
      height: 68px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-numIcon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        padding: 0 10px * .8 0 0;
      }

      #{$_block}__icon {
        width: 68px * .8;
        height: 68px * .8;
        background-size: 68px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_s - 4, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_s - 4, $_lineHeight_h);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        padding: 0 10px * 1.2 0 0;
      }

      #{$_block}__icon {
        width: 68px * 1.2;
        height: 68px * 1.2;
        background-size: 68px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_l - 4, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_l - 4, $_lineHeight_h);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d4d1ca;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    line-height: 0;
    > div {
      display: inline-block;
      color: #fff;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font-spacingKilled(18, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-spacingKilled(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font-spacingKilled(18, 1);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-numIcon__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #999;
    line-height: 0;
    > div {
      display: inline-block;
      color: #fff;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 #{$_elementSpacing};
    }

    &__h {
      @include g-font-spacingKilled(18, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding: #{$_elementSpacing} 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-spacingKilled(18, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font-spacingKilled(18, 1);
    }

    &__icon {
      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      background-size: 50px 50px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            $_src: "../imgs/t0-b-lv4H-numIcon2__icon/#{$_type}/#{$_i}.png";
            background-image: url($_src);
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
