@if $device == PC {
  .t0-b-media {
    $_block: &;
    margin: 0 auto;
    img {
      width: 100%;
    }
    $_spacing: #{$g-spacingBaseLength * 4}px;
    $_textcolor: #f2ede2;
    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      position: relative;
      text-align: center;
      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
        // 3行以上は入らないように
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
        // 3行以上は入らないように
        max-height: 66px;
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      text-align: center;
      p {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        &:hover {
          color: #d4d1ca;
        }
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media2 {
    $_block: &;
    margin: 0 auto;
    img {
      width: 100%;
    }

    $_spacing: #{$g-spacingBaseLength * 4}px;
    $_textcolor: #f2ede2;

    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      position: relative;
      text-align: center;
      > *,
      img {
        border-radius: 50%;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        background: rgba(255, 255, 255, .8);

        // 3行以上は入らないように
        max-height: 66px;
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      text-align: center;
      p {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        &:hover {
          color: #d4d1ca;
        }
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media3 {
    $_block: &;
    margin: 0 auto;
    img {
      width: 100%;
      transition: .5s ease;
    }

    $_spacing: #{$g-spacingBaseLength * 4}px;
    $_textcolor: #f2ede2;

    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      position: relative;
      overflow: hidden;
      text-align: center;
      a {
        display: block;
        transition: .5s ease;
        &:hover {
          opacity: .8;
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
        // 3行以上は入らないように
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
        // 3行以上は入らないように
        max-height: 66px;
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      text-align: center;
      p {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      a {
        &:hover {
          color: #d4d1ca;
        }
      }

      div {
        display: inline-block;
      }
    }
  }

  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }
  }
}

@if $device == SP {
  .t0-b-media {
    $_block: &;
    margin: 0 auto;
    $_spacing: #{$g-spacingBaseLength * 3}px;
    $_textcolor: #f2ede2;
    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: $_spacing;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: $_spacing auto 0;
      line-height: 0;
      position: relative;
      text-align: center;
      > *, img {
        width: 100%;
        vertical-align: top;
      }

      a {
        display: block;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      p {
        @include g-font-spacingKilled(14, 1);
        text-align: center;
      }
    }

    img {
      max-width: 100% !important;
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media2 {
    $_block: &;

    margin: 0 auto;

    $_spacing: #{$g-spacingBaseLength * 3}px;
    $_textcolor: #f2ede2;

    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: $_spacing;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: $_spacing auto 0;
      line-height: 0;
      position: relative;
      text-align: center;
      > *, img {
        width: 100%;
        vertical-align: top;
        border-radius: 50%;
      }

      a {
        display: block;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      p {
        @include g-textOuterGlow($color: #000);
        @include g-textOuterGlow;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 10px 5px;
        pointer-events: auto;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      p {
        @include g-textOuterGlow($color: #000);
        @include g-textOuterGlow;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px 5px;
        pointer-events: auto;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      p {
        @include g-font-spacingKilled(14, 1);
        text-align: center;
      }
    }

    img {
      max-width: 100% !important;
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      div {
        display: inline-block;
      }
    }
  }

  .t0-b-media3 {
    $_block: &;

    margin: 0 auto;
    $_spacing: #{$g-spacingBaseLength * 3}px;
    $_textcolor: #f2ede2;

    color: $_textcolor;
    a {
      color: $_textcolor;
      text-decoration: none;
    }

    > * {
      margin-top: $_spacing;
      &:first-child {
        margin-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
      margin-bottom: 10px;
    }

    &__media {
      margin: $_spacing auto 0;
      line-height: 0;
      position: relative;
      text-align: center;
      > *, img {
        width: 100%;
        vertical-align: top;
      }

      a {
        display: block;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__h-lower {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      text-align: center;
    }

    &__caption {
      p {
        @include g-font-spacingKilled(14, 1);
        text-align: center;
      }
    }

    img {
      max-width: 100% !important;
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &__h-upper,
    &__h-lower {
      div {
        display: inline-block;
      }
    }
  }

  .t0-b-mediaOnly {
    line-height: 0;
    img {
      width: 100%;
    }
  }
}
