@if $device == PC {
  .t0-b-priceTable {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #818181;
    $_color_table_td_typo: #f2ede2;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(18, 1);

      color: $_color_table_td_typo;
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
      padding: 10px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: linear-gradient(to right, #4f142b 80%, rgba(0, 0, 0, .3));
    }
  }
}

@if $device == SP {
  .t0-b-priceTable {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #818181;
    $_color_table_td_typo: #f2ede2;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);

      color: $_color_table_td_typo;
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
      padding: 10px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: -moz-linear-gradient(left, #4f142b 80%, rgba(0, 0, 0, .3));
      background: -webkit-linear-gradient(left, #4f142b 80%, rgba(0, 0, 0, .3));
      background: -ms-linear-gradient(left, #4f142b 80%, rgba(0, 0, 0, .3));
      background: linear-gradient(to right, #4f142b 80%, rgba(0, 0, 0, .3));
      width: 45% !important;
    }
  }
}
