@if $device == PC {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;

    line-height: 0;
    > div {
      display: table;
      color: #fff;
    }

    &__iconPlacer {
      display: table-cell;
      padding: 0 10px 0 0;
      vertical-align: middle;
    }

    &__icon {
      display: block;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 39px;
      height: 37px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 2px;
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
      padding: 6px 0;
      font-weight: bold;
      background: url("../imgs/t0-b-lv4H-qIcon/bg.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 8px;
    }

    &__caption-upper + &__h {
      @include g-font($_fontSize_h - 2, $_lineHeight_h);
    }

    &__caption-upper + a > &__h {
      @include g-font($_fontSize_h - 2, $_lineHeight_h);
    }

    &--size-1 {
      #{$_block}__icon {
        width: 39px * .8;
        height: 37px * .8;
        background-size: 39px * .8 37px * .8;
      }

      #{$_block}__iconPlacer {
        padding: 0 10px * .8 0 0;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-bottom: 2px * .8;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-top: 8px * .8;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
        padding: 6px * .8 0;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_s - 2, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_s - 2, $_lineHeight_h);
      }
    }

    &--size-3 {
      #{$_block}__icon {
        width: 39px * 1.2;
        height: 37px * 1.2;
        background-size: 39px * 1.2 37px * 1.2;
      }

      #{$_block}__iconPlacer {
        padding: 0 10px * 1.2 0 0;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding-bottom: 2px * 1.2;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding-top: 8px * 1.2;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
        padding: 6px * 1.2 0;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_l - 2, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_l - 2, $_lineHeight_h);
      }
    }

    &--align-l {
      text-align: left;
      > div {
        margin: 0;
      }
    }

    &--align-c {
      text-align: center;
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      text-align: right;
      > div {
        margin: 0 0 0 auto;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d4d1ca;
      }
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;

    line-height: 0;
    > div {
      display: table;
      color: #fff;
    }

    &__iconPlacer {
      display: table-cell;
      padding: 0 10px 0 0;
      vertical-align: middle;
    }

    &__icon {
      display: block;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 39px;
      height: 37px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 2px;
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
      padding: 6px 0;
      background: url("../imgs/t0-b-lv4H-qIcon/bg.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 8px;
    }

    &__caption-upper + &__h {
      @include g-font($_fontSize_h - 2, $_lineHeight_h);
    }

    &__caption-upper + a > &__h {
      @include g-font($_fontSize_h - 2, $_lineHeight_h);
    }

    &--size-1 {
      #{$_block}__icon {
        width: 39px * .8;
        height: 37px * .8;
        background-size: 39px * .8 37px * .8;
      }

      #{$_block}__iconPlacer {
        padding: 0 10px * .8 0 0;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-bottom: 2px * .8;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-top: 8px * .8;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
        padding: 6px * .8 0;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_s - 2, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_s - 2, $_lineHeight_h);
      }
    }

    &--size-3 {
      #{$_block}__icon {
        width: 39px * 1.2;
        height: 37px * 1.2;
        background-size: 39px * 1.2 37px * 1.2;
      }

      #{$_block}__iconPlacer {
        padding: 0 10px * 1.2 0 0;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding-bottom: 2px * 1.2;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding-top: 8px * 1.2;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
        padding: 6px * 1.2 0;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font($_fontSize_h_l - 2, $_lineHeight_h);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font($_fontSize_h_l - 2, $_lineHeight_h);
      }
    }

    &--align-l {
      text-align: left;
      > div {
        margin: 0;
      }
    }

    &--align-c {
      text-align: center;
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      text-align: right;
      > div {
        margin: 0 0 0 auto;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #d4d1ca;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    line-height: 0;
    > div {
      display: table;
      color: #fff;
    }

    &__iconPlacer {
      display: table-cell;
      padding: 0 10px 0 0;
      vertical-align: middle;
    }

    &__icon {
      display: block;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 39px;
      height: 37px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding-bottom: 2px;
    }

    &__h {
      @include g-font-spacingKilled(18, 1);
      padding: 6px 0;
      font-weight: bold;
      background: url("../imgs/t0-b-lv4H-qIcon/bg.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding-top: 8px;
    }

    &--align-l {
      text-align: left;
      > div {
        margin: 0;
      }
    }

    &--align-c {
      text-align: center;
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      text-align: right;
      > div {
        margin: 0 0 0 auto;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    line-height: 0;
    > div {
      display: table;
      color: #fff;
    }

    &__iconPlacer {
      display: table-cell;
      padding: 0 10px 0 0;
      vertical-align: middle;
    }

    &__icon {
      display: block;
      background-position: center bottom;
      background-repeat: no-repeat;
      width: 39px;
      height: 37px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png");
    }

    &__bd {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding-bottom: 2px;
    }

    &__h {
      @include g-font-spacingKilled(18, 1);
      padding: 6px 0;
      background: url("../imgs/t0-b-lv4H-qIcon/bg.png") repeat-x left bottom;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding-top: 8px;
    }

    &--align-l {
      text-align: left;
      > div {
        margin: 0;
      }
    }

    &--align-c {
      text-align: center;
      > div {
        margin: 0 auto;
      }
    }

    &--align-r {
      text-align: right;
      > div {
        margin: 0 0 0 auto;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
