@if $device == PC {
  .t0-b-lv4HBig {
    border-top: 15px solid rgba(#7d6120, .36);
    border-left: 15px solid rgba(#b69a5a, .36);
    border-right: 15px solid rgba(#b69a5a, .36);
    border-bottom: 15px solid rgba(#d8c392, .36);
    text-align: center;
    color: #fff;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid rgba(#fff, .2);
      border-bottom: 1px solid rgba(#fff, .2);
    }

    &__box {
      padding: 0 10px;
      background: linear-gradient(0deg, rgba(#c9a145, .46) 0%, rgba(#efca76, .46) 50%, rgba(#c9a145, .46) 100%);
    }

    &__caption-upper {
      @include g-font-spacingKilled(16, 1);
      padding-top: 7px;
      padding-bottom: 1px;
      position: relative;
    }

    &__bd {
      h4 {
        @include g-font-spacingKilled(30, 1);
        font-weight: bold;
        padding: 7px 0;
        position: relative;
      }
    }

    &__caption-lower {
      @include g-font-spacingKilled(16, 1);
      background: linear-gradient(0deg, rgba(201, 161, 69, .46) 0%, rgba(239, 202, 118, .46) 50%, rgba(201, 161, 69, .46) 100%);
      padding: 1px 10px 7px;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      position: relative;
      color: #fff;
      &:hover {
        color: #d4d1ca;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4HBig {
    border-top: 15px solid rgba(#7d6120, .36);
    border-left: 15px solid rgba(#b69a5a, .36);
    border-right: 15px solid rgba(#b69a5a, .36);
    border-bottom: 15px solid rgba(#d8c392, .36);
    text-align: center;
    color: #fff;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid rgba(#fff, .2);
      border-bottom: 1px solid rgba(#fff, .2);
    }

    &__box {
      padding: 0 10px;
      background: linear-gradient(0deg, rgba(#c9a145, .46) 0%, rgba(#efca76, .46) 50%, rgba(#c9a145, .46) 100%);
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding-top: 7px;
      padding-bottom: 1px;
      position: relative;
    }

    &__bd {
      h4 {
        @include g-font-spacingKilled(18, 1);
        font-weight: bold;
        padding: 7px 0;
        position: relative;
      }
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      background: linear-gradient(0deg, rgba(201, 161, 69, .46) 0%, rgba(239, 202, 118, .46) 50%, rgba(201, 161, 69, .46) 100%);
      padding: 1px 10px 7px;
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      position: relative;
      color: #fff;
    }
  }
}
