@if $device == PC {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    box-sizing: border-box;
    display: block;
    background: linear-gradient(to bottom, rgba(#4e142b, .5) 0%, rgba(#010001, .5) 100%);

    $_block: &;
    > a {
      display: block;
      text-decoration: none;
      border-top: 10px solid rgba(#7f7f7f, .14);
      border-left: 10px solid rgba(#a7a7a8, .14);
      border-right: 10px solid rgba(#a7a7a8, .14);
      border-bottom: 10px solid rgba(#ececec, .14);
      box-sizing: border-box;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        background: linear-gradient(to bottom, rgba(#fcfbfc, .2) 0%, rgba(#dbdbda, .2) 100%);
        > * {
          vertical-align: middle;
          display: table-cell;
        }

        > span {
          width: 35px;
          padding: 0;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 5px no-repeat;
          background-size: 30%;
        }

        div {
          color: #fff;
        }
      }
    }

    > div {
      display: table;
      text-decoration: none;
      border-top: 10px solid rgba(#7f7f7f, .14);
      border-left: 10px solid rgba(#a7a7a8, .14);
      border-right: 10px solid rgba(#a7a7a8, .14);
      border-bottom: 10px solid rgba(#ececec, .14);
      box-sizing: border-box;
      padding: 5px;
      background: linear-gradient(to bottom, rgba(#fcfbfc, .2) 0%, rgba(#dbdbda, .2) 100%);
      width: 100%;
      background-clip: padding-box;
      > * {
        vertical-align: middle;
        display: table-cell;
      }

      > span {
        width: 35px;
        padding: 0;
        background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 5px no-repeat;
        background-size: 30%;
      }

      div {
        color: #fff;
      }
    }

    &__main {
      font-weight: bold;
    }

    // size
    &--size-1 {
      > a > div,
      > div {
        > span {
          font-size: 12px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 6px no-repeat;
          background-size: 38%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(20, 1);
      }

      #{$_block}__caption {
        padding: 6px 0 0;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          font-size: 14px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 6px no-repeat;
          background-size: 44%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(22, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0;

        @include g-font-spacingKilled(16, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > span {
          font-size: 16px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 8px no-repeat;
          background-size: 50%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(24, 1);
      }

      #{$_block}__caption {
        padding: 10px 0 0;

        @include g-font-spacingKilled(18, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          font-size: 18px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 10px no-repeat;
          background-size: 54%;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(26, 1);
      }

      #{$_block}__caption {
        padding: 12px 0 0;

        @include g-font-spacingKilled(20, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          font-size: 22px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 12px no-repeat;
          background-size: 56%;
        }

        > div {
          padding: 12px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(28, 1);
      }

      #{$_block}__caption {
        padding: 14px 0 0;

        @include g-font-spacingKilled(20, 1);
      }
    }

    // align
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    box-sizing: border-box;
    display: block;
    background: rgba(#5d5b12, .5);

    $_block: &;
    > a {
      display: block;
      text-decoration: none;
      border-top: 10px solid rgba(#7f7f7f, .14);
      border-left: 10px solid rgba(#a7a7a8, .14);
      border-right: 10px solid rgba(#a7a7a8, .14);
      border-bottom: 10px solid rgba(#ececec, .14);
      box-sizing: border-box;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        background: linear-gradient(to bottom, rgba(#fcfbfc, .2) 0%, rgba(#dbdbda, .2) 100%);
        > * {
          display: table-cell !important;
          vertical-align: middle;
        }

        > span {
          width: 35px;
          padding: 0;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 5px no-repeat;
          background-size: 30%;
        }

        > div {
          color: #fff;
        }
      }
    }

    > div {
      display: block;
      text-decoration: none;
      border-top: 10px solid rgba(#7f7f7f, .14);
      border-left: 10px solid rgba(#a7a7a8, .14);
      border-right: 10px solid rgba(#a7a7a8, .14);
      border-bottom: 10px solid rgba(#ececec, .14);
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      background: linear-gradient(to bottom, rgba(#fcfbfc, .2) 0%, rgba(#dbdbda, .2) 100%);
      background-clip: padding-box;
      > * {
        display: table-cell !important;
        vertical-align: middle;
      }

      > span {
        width: 35px;
        padding: 0;
        background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 5px no-repeat;
        background-size: 30%;
      }

      > div {
        color: #fff;
      }
    }

    &__main {
      font-weight: bold;
    }

    // size
    &--size-1 {
      > a > div,
      > div {
        > span {
          font-size: 12px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 6px no-repeat;
          background-size: 38%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(20, 1);
      }

      #{$_block}__caption {
        padding: 6px 0 0;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          font-size: 14px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 6px no-repeat;
          background-size: 44%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(22, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0;

        @include g-font-spacingKilled(16, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > span {
          font-size: 16px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 8px no-repeat;
          background-size: 50%;
          background-position: 10px 10px;
        }

        > div {
          padding: 8px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(24, 1);
      }

      #{$_block}__caption {
        padding: 10px 0 0;

        @include g-font-spacingKilled(18, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          font-size: 18px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 10px no-repeat;
          background-size: 54%;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(26, 1);
      }

      #{$_block}__caption {
        padding: 12px 0 0;

        @include g-font-spacingKilled(20, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          font-size: 22px;
          background: url("../imgs/t0-b-navBItemCaptioned/bg.png") center 12px no-repeat;
          background-size: 56%;
        }

        > div {
          padding: 12px 10px;
        }
      }

      #{$_block}__main {
        @include g-font-spacingKilled(28, 1);
      }

      #{$_block}__caption {
        padding: 14px 0 0;

        @include g-font-spacingKilled(20, 1);
      }
    }

    // align
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#6a4b5a, #6a4b5a, #221f1e);
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#6a4b5a), color-stop(.5, #6a4b5a), to(#221f1e));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #6a4b5a;
    border-radius: 5px;
    color: #fff;

    $_block: &;
    > a {
      color: #fff;
      text-decoration: none;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#b2a281, #93823f, #4c4921);
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#b2a281), color-stop(.5, #93823f), to(#4c4921));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #b2a281;
    border-radius: 5px;
    color: #fff;

    $_block: &;
    > a {
      color: #fff;
      text-decoration: none;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }
}
