@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    margin: 0 77px auto;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      > div {
        &:hover {
          opacity: .8;
        }
      }
    }

    > a > div,
    > div {
      width: 100%;
      display: table;
      margin: 0 auto;
      background: #3e1023;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }

    &__icon {
      width: 14px;
      padding-right: 10px;

      $_src: "../imgs/t0-b-navBItem2Captioned/icon/1.png";

      background: url($_src) center center no-repeat;
      background-color: #633e4e;
      background-size: 50%;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      text-align: center;
      padding: 10px 0 0;
      color: #fff;
    }

    &__main {
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      @include g-font-spacingKilled(22, 1);

      padding: 13px 10px 12px;
      color: #fff;
    }

    &__caption-lower {
      text-align: center;

      @include g-font-spacingKilled(14, 1);

      padding: 0 0 10px;
      color: #fff;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    margin: 0 77px auto;
    > a > div,
    > div {
      width: 100%;
      display: table;
      margin: 0 auto;
      padding: 10px 50px;
      box-sizing: border-box;
      background: url("../imgs/t0-b-navBItem2Captioned2/icons/1.png") no-repeat 10px center;
      background-color: rgba(81, 80, 17, .7);
    }

    &__icon {
      padding-right: 10px;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 5px;
      text-align: center;
      color: #fff;
      &::before,
      &::after {
        margin-top: 0;
      }
    }

    &__main {
      @include g-font-spacingKilled(20, 1);

      font-weight: bold;
      text-align: center;
      color: #e0d3b4;
      &::before,
      &::after {
        margin-top: 0;
      }
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);

      text-align: center;
      padding: 5px 0 0;
      color: #fff;
      &::before,
      &::after {
        margin-top: 0;
      }
    }

    a {
      color: #e0d3b4;
      text-decoration: none;
      > div {
        &:hover {
          opacity: .8;
          text-decoration: none;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: #fff;
    }

    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#6a4b5a, #6a4b5a, #221f1e);
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #6a4b5a;
    border-radius: 5px;
    color: #fff;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: #fff;
    }

    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#b2a281, #93823f, #4c4921);
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #b2a281;
    border-radius: 5px;
    color: #fff;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }
}
