@if $device == PC {
  .t0-b-sideNavItemWithImg#{$variation1of2} {
    $_block: &;
    > a {
      display: block;
      text-decoration: none;
      > div {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg.png");
        background-size: 100% 100%;
        text-decoration: none;
        position: relative;
        box-sizing: border-box;
        display: table;
        width: 100%;
        &:hover {
          color: #fff;
          opacity: .8;
        }

        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }

    > div {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg.png");
      background-size: 100% 100%;
      text-decoration: none;
      position: relative;
      box-sizing: border-box;
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__img {
      img {
        display: block;
        padding: 2px;
        position: relative;
        width: 84px;
        margin: 0;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);

      position: relative;
      width: 70%;
      color: #fff;
    }

    // directions
    &--imgL > a > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        right: 15px;
        padding-left: 50px;
        padding-right: 25px;
      }
    }

    &--imgR > a > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        left: 15px;
        padding-right: 50px;
        padding-left: 25px;
      }
    }

    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        right: 15px;
        padding-left: 50px;
        padding-right: 25px;
      }
    }

    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
        right: 0;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        left: 15px;
        padding-right: 50px;
        padding-left: 25px;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of2} {
    $_block: &;
    > a {
      display: block;
      text-decoration: none;
      > div {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg.png");
        background-size: 100% 100%;
        text-decoration: none;
        position: relative;
        box-sizing: border-box;
        display: table;
        width: 100%;
        &:hover {
          color: #fff;
          opacity: .8;
        }

        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }

    > div {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg.png");
      background-size: 100% 100%;
      text-decoration: none;
      position: relative;
      box-sizing: border-box;
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__img {
      img {
        display: block;
        padding: 2px;
        position: relative;
        width: 84px;
        margin: 0;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);

      position: relative;
      width: 70%;
      color: #fff;
    }

    // directions
    &--imgL > a > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg2.png");
        right: 15px;
        padding-left: 50px;
        padding-right: 25px;
      }
    }

    &--imgR > a > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        left: 15px;
        padding-right: 50px;
        padding-left: 25px;
      }
    }

    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg2.png");
        right: 15px;
        padding-left: 50px;
        padding-right: 25px;
      }
    }

    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
        right: 0;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg2.png");
        left: 15px;
        padding-right: 50px;
        padding-left: 25px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavItemWithImg#{$variation1of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    > a {
      display: block;
      text-decoration: none;
      > div {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg.png");
        background-size: 100% 100%;
        text-decoration: none;
        position: relative;
        box-sizing: border-box;
        display: table;
        width: 100%;
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }

    > div {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg.png");
      background-size: 100% 100%;
      text-decoration: none;
      position: relative;
      box-sizing: border-box;
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__img {
      img {
        display: block;
        position: relative;
        padding: 2px;
        width: 70px;
        margin: 0;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);

      position: relative;
      width: 100%;
      color: #fff;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        right: 15px;
        padding-left: 20px;
        padding-right: 25px;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/1/bg2.png");
        left: 15px;
        padding-right: 20px;
        padding-left: 25px;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    > a {
      display: block;
      text-decoration: none;
      > div {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg.png");
        background-size: 100% 100%;
        text-decoration: none;
        position: relative;
        box-sizing: border-box;
        display: table;
        width: 100%;
        > div {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        }
      }
    }

    > div {
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg.png");
      background-size: 100% 100%;
      text-decoration: none;
      position: relative;
      box-sizing: border-box;
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__img {
      img {
        display: block;
        position: relative;
        padding: 2px;
        width: 70px;
        margin: 0;
      }
    }

    &__text {
      @include g-font-spacingKilled(16, 1);

      position: relative;
      width: 100%;
      color: #fff;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg2.png");
        right: 15px;
        padding-left: 20px;
        padding-right: 25px;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 10px;
      }

      #{$_block}__text {
        color: #fff;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url("../imgs/t0-b-sideNavItemWithImg/2/bg2.png");
        left: 15px;
        padding-right: 20px;
        padding-left: 25px;
      }
    }
  }
}
