@if $device == PC {
  .t0-b-sideBoxIconText-mail {
    $_block: &;
    > div {
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }

    &__bd {
      text-align: center;
      font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
      > span {
        width: 30px;
        height: 12px;
        background-image: url("../imgs/t0-b-sideBoxIconText-mail/1.png");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: #f2ede2;
      text-decoration: none;
      &:hover {
        color: #d4d1ca;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    &--size-1 {
      #{$_block}__bd {
        @include g-font-spacingKilled(18, 1);
      }

      #{$_block}__icon {
        margin: -1px 0 0;
      }
    }

    line-height: 0;
  }
}

@if $device == SP {
  .t0-b-sideBoxIconText-mail {
    width: 100%;
    word-break: break-all;
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    a {
      text-decoration: none;
      color: #fff;
    }

    $_block: &;
    > div {
      vertical-align: top;
      text-align: center;
    }

    &__bd {
      text-align: center;
      color: #f00;
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    img {
      width: 29px;
      height: 24px;
      margin-right: 4px;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      #{$_block}__bd {
        @include g-font-spacingKilled(16, 1);
      }

      #{$_block}__icon {
        width: 21px;
        height: 15px;
        margin: -2px 4px 0 0;
        background-image: url("../imgs/t0-b-sideBoxIconText-mail/1.png");
        background-repeat: no-repeat;
      }
    }
  }
}
