@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    &__hd {
      min-height: 30px;
      padding: 13px 10px 4px 40px;
      background: -webkit-linear-gradient(0deg, rgba(127, 127, 127, .9) 0%, rgba(10, 10, 10, .9) 100%);
      background: linear-gradient(0deg, rgba(127, 127, 127, .9) 0%, rgba(10, 10, 10, .9) 100%);
      color: #fff;
      position: relative;
      box-sizing: border-box;
      > span {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/1/2/bg.png");
        background-size: 33px 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }

      h4 {
        position: relative;

        @include g-font-spacingKilled(18, 0);
      }

      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: #d4d1ca;
        }
      }
    }

    &__bd {
      padding: 15px 20px 10px;
      background-color: rgba(48, 48, 48, .8);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    &__hd {
      min-height: 30px;
      padding: 8px 15px 5px 50px;
      background-color: rgba(10, 10, 10, .5);
      color: #fff;
      position: relative;
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: #d4d1ca;
        }
      }

      > span {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/2/2/bg.png");
        background-size: 37px 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }

      h4 {
        position: relative;

        @include g-font-spacingKilled(18, 0);
      }
    }

    &__bd {
      padding: 15px 15px 10px;
      background-color: rgba(48, 48, 48, .8);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    margin: 0 -5px;
    &__hd {
      min-height: 30px;
      padding: 8px 10px 5px 40px;
      background: -webkit-linear-gradient(0deg, rgba(127, 127, 127, .9) 0%, rgba(10, 10, 10, .9) 100%);
      background: linear-gradient(0deg, rgba(127, 127, 127, .9) 0%, rgba(10, 10, 10, .9) 100%);
      color: #fff;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
      }

      > span {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/1/2/bg.png");
        background-size: 33px 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      h4 {
        color: #fff;
        position: relative;

        @include g-font-spacingKilled(18, 0);
      }
    }

    &__bd {
      padding: 15px 20px 0;
      background-color: rgba(48, 48, 48, .8);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    margin: 0 -5px;
    &__hd {
      min-height: 30px;
      padding: 8px 10px 5px 45px;
      background-color: rgba(10, 10, 10, .5);
      color: #fff;
      position: relative;
      a {
        text-decoration: none;
        color: #fff;
      }

      > span {
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-sideBox/2/2/bg.png");
        background-size: 37px 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      h4 {
        color: #fff;
        position: relative;

        @include g-font-spacingKilled(18, 0);
      }
    }

    &__bd {
      padding: 15px 20px 0;
      background-color: rgba(48, 48, 48, .8);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
