@if $device == PC {
  .t0-b-footerUnit-media {
    $_block: &;
    $textcolor: #f2ede2;

    margin: 0 auto;
    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(14, 1);
      > div {
        > a {
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
          &:hover {
            color: #d4d1ca;
          }
        }
      }
    }
  }

  .t0-b-footerUnit-media2 {
    $_block: &;
    $textcolor: #f2ede2;

    margin: 0 auto;
    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        border-radius: 50%;
      }

      a {
        display: block;
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        pointer-events: auto;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        pointer-events: auto;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(14, 1);
      > div {
        > a {
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
          &:hover {
            color: #d4d1ca;
          }
        }
      }
    }
  }

  .t0-b-footerUnit-media3 {
    $_block: &;
    $textcolor: #f2ede2;

    margin: 0 auto;
    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      line-height: 0;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
        transition: .5s ease;
      }

      a {
        display: block;
        transition: .5s ease;
        &:hover {
          opacity: .8;
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);

        // mac chromeで3行入った際の高さ。PCで3行以上は入らないように制限をかける
        max-height: 66px;
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(14, 1);
      > div {
        > a {
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
          &:hover {
            color: #d4d1ca;
          }
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-media {
    $_block: &;

    margin: 0 auto;

    $textcolor: #f2ede2;

    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      text-align: center;
      position: relative;
      img {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
      }

      a {
        display: block;
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(16, 1);

      text-align: center;
      > div {
        > a {
          display: inline;
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
        }
      }
    }
  }

  .t0-b-footerUnit-media2 {
    $_block: &;
    $textcolor: #f2ede2;

    margin: 0 auto;
    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      text-align: center;
      position: relative;
      img {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
      }

      a {
        display: block;
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        pointer-events: auto;
        // 3行以上は入らないように
        padding: 10px 5px;
        max-height: 66px;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      border-radius: 50%;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        // 3行以上は入らないように
        max-height: 66px;
        padding: 10px 5px;
        pointer-events: auto;
        background: rgba(255, 255, 255, .8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(16, 1);

      text-align: center;
      > div {
        > a {
          display: inline;
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
        }
      }
    }
  }

  .t0-b-footerUnit-media3 {
    $_block: &;
    $textcolor: #f2ede2;

    margin: 0 auto;
    color: $textcolor;
    a {
      color: $textcolor;
      text-decoration: none;
    }

    &__media {
      margin: 0 auto;
      line-height: 0;
      text-align: center;
      position: relative;
      img {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
      }

      a {
        display: block;
      }
    }

    &--width-l {
      #{$_block}__media {
        width: 100%;
      }
    }

    &--width-m {
      #{$_block}__media {
        width: 75%;
      }
    }

    &--width-s {
      #{$_block}__media {
        width: 50%;
      }
    }

    &__textOnImage-upper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__textOnImage-lower {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p {
        @include g-font(18, 1);
        @include g-textOuterGlow($color: #000);

        padding: 10px 5px;
        background: rgba(0, 0, 0, .8);
      }
    }

    &__nav {
      text-indent: -20px;
      padding: 10px 0 0 20px;

      @include g-font-spacingKilled(16, 1);

      text-align: center;
      > div {
        > a {
          display: inline;
          padding: 0 2px 2px 18px;
          background-image: url("../imgs/t0-b-footerUnit-media/bg.png");
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0 0;
        }
      }
    }
  }
}
