@if $device == PC {
  .t0-b-goToTop {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      transition: .2s;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    // 固定表示用
    &--fixDisplay {
      &-scrollUp,
      &-scrollDown,
      &-scrollDownStopFooter {
        text-align: right;
        position: fixed;
        // サイドメニューやフッターに重なっても隠さないため
        z-index: 400;
        right: 30px;
        bottom: 30px;
        // jsで出現させるので最初は消しておく
        display: none;
        a {
          display: inline-block;
          text-align: center;
          min-width: 70px;
          text-decoration: none;
          white-space: nowrap;
          transition: .1s;
          text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0, #fff 0 1px 0, #fff 0 -1px 0, #fff -1px 0 0, #fff 1px 0 0;
          opacity: .8;
          &::before {
            display: block;
            content: url("../imgs/other/other002/other002_pageTop_v1.svg");
            transition: .2s;
          }

          .t0-b-goToTop__contents {
            @include g-font($_fontSize, $_lineHeight);
            font-family: $font-tenorSans;
            color: $_textColor;
            text-decoration: none;
            text-align: center;
            transition: .2s;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .t0-b-goToTop2 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      transition: .2s;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    // 固定表示用
    &--fixDisplay {
      &-scrollUp,
      &-scrollDown,
      &-scrollDownStopFooter {
        text-align: right;
        position: fixed;
        // サイドメニューやフッターに重なっても隠さないため
        z-index: 400;
        right: 30px;
        bottom: 30px;
        // jsで出現させるので最初は消しておく
        display: none;
        a {
          display: inline-block;
          text-align: center;
          min-width: 70px;
          text-decoration: none;
          white-space: nowrap;
          transition: .1s;
          text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0, #fff 0 1px 0, #fff 0 -1px 0, #fff -1px 0 0, #fff 1px 0 0;
          opacity: .8;
          &::before {
            display: block;
            content: url("../imgs/other/other002/other002_pageTop_v2.svg");
            transition: .2s;
          }

          .t0-b-goToTop__contents {
            @include g-font($_fontSize, $_lineHeight);
            font-family: $font-tenorSans;
            color: $_textColor;
            text-decoration: none;
            text-align: center;
            transition: .2s;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .t0-b-goToTop3 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 70px;
      height: 70px;
      padding: 0 15px;
      text-decoration: none;
      white-space: nowrap;
      background-image: url("../imgs/other/other002/other002_pageTop_v3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px 70px;
      transition: .2s;
      &:hover {
        opacity: .8;
      }

      > div {
        padding-top: 82px;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    // 固定表示用
    &--fixDisplay {
      &-scrollUp,
      &-scrollDown,
      &-scrollDownStopFooter {
        text-align: right;
        position: fixed;
        // サイドメニューやフッターに重なっても隠さないため
        z-index: 400;
        right: 30px;
        bottom: 30px;
        // jsで出現させるので最初は消しておく
        display: none;
        a {
          display: inline-block;
          text-align: center;
          min-width: 70px;
          text-decoration: none;
          white-space: nowrap;
          transition: .1s;
          text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0, #fff 0 1px 0, #fff 0 -1px 0, #fff -1px 0 0, #fff 1px 0 0;
          opacity: .8;
          &::before {
            display: block;
            content: url("../imgs/other/other002/other002_pageTop_v3.svg");
            transition: .2s;
          }

          .t0-b-goToTop__contents {
            @include g-font($_fontSize, $_lineHeight);
            font-family: $font-tenorSans;
            color: $_textColor;
            text-decoration: none;
            text-align: center;
            transition: .2s;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .ex-topSpacingTweak {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
    }
  }

  // goToTopが固定表示時にbPlacerの余白を消す
  .t0-b-goToTop-bPlacer {
    &--g-fixDisplay {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@if $device == SP {
  .t0-b-goToTop {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop2 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v2.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }
  }

  .t0-b-goToTop3 {
    $_fontSize: 14;
    $_lineHeight: 1;
    $_textColor: #623334;
    text-align: right;
    a {
      display: inline-block;
      min-width: 100px * .5;
      max-width: 100%;
      height: 100px * .5;
      text-decoration: none;
      background-image: url("../imgs/other/other002/other002_pageTop_v3.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px * .5 100px * .5;
      > div {
        padding-top: 128px * .5;
        font-family: $font-tenorSans;
        color: $_textColor;
        text-align: center;
        @include g-font($_fontSize, $_lineHeight);
      }
    }
  }
}
