@if $device == PC {
  .t0-b-lv4H {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 22px;
      padding: 5px 10px 3px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading009/heading009_bg01_v1_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 24px 24px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #cbb9ac;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        min-height: 17px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H2 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 22px;
      padding: 5px 10px 3px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading010/heading010_bg01_v2_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 24px 24px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #ffb46d;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        min-height: 17px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H3 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 22px;
      padding: 5px 10px 3px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading011/heading011_bg01_v3_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 24px 24px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #cad996;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        min-height: 17px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H4 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 17px;
      padding: 5px 10px 4px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #c4b0a4;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 4px 5px 3px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H5 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 17px;
      padding: 5px 10px 4px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #fac18a;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 4px 5px 3px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H6 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      min-height: 17px;
      padding: 5px 10px 4px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #d0e391;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 8px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 4px 5px 3px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 8px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H7 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      position: relative;
      min-height: 22px;
      padding: 6px 10px 9px;
      border-bottom: 2px solid #e6d4b5;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #dac39c;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 5px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 3px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 12px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H8 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      position: relative;
      min-height: 22px;
      padding: 6px 10px 9px;
      border-bottom: 2px solid #fbd3ad;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #fac18a;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 5px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 3px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 12px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H9 {
    $_block: &;
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 10px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      position: relative;
      min-height: 22px;
      padding: 6px 10px 9px;
      border-bottom: 2px solid #deebb2;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #d0e391;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 10px 10px 0;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 0 0 5px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_s, $_lineHeight_bd, $layout);
        padding: 3px 5px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
        padding: 12px 0 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 0 10px;
      }

      #{$_block}__bd {
        @include g-font-layout($_fontSize_bd_l, $_lineHeight_bd, $layout);
        padding: 6px 10px;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
        padding: 10px 10px 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv4H {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 4px 5px 2px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading009/heading009_bg01_v1_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 12px 12px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #cbb9ac;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H2 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 4px 5px 2px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading010/heading010_bg01_v2_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 12px 12px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #ffb46d;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H3 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 4px 5px 2px;
      // 031他テーマとキャプションの位置を合わせています
      margin-bottom: 2px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-image: url("../imgs/heading/heading011/heading011_bg01_v3_v1f1.png");
      background-repeat: repeat;
      background-position: left top;
      background-size: 12px 12px;
      border-bottom: 2px solid #fff;
      box-shadow: 0 2px #cad996;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H4 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 3px 5px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #c4b0a4;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H5 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 3px 5px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #fac18a;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H6 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #623334;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 5px 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      min-height: 22px;
      padding: 3px 5px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background-color: #d0e391;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H7 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 10px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      position: relative;
      min-height: 22px;
      padding: 3px 5px 7px;
      border-bottom: 2px solid #e6d4b5;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #dac39c;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H8 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 10px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      position: relative;
      min-height: 22px;
      padding: 3px 5px 7px;
      border-bottom: 2px solid #fbd3ad;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #fac18a;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H9 {
    $_fontSize_bd: 18;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    $_textColor: #714f2d;
    font-family: $font-tenorSans;
    color: $_textColor;
    text-align: center;
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 10px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      position: relative;
      min-height: 22px;
      padding: 3px 5px 7px;
      border-bottom: 2px solid #deebb2;
      // 2重線の間の空間を白ではなく透明にするため、before擬似要素を使用して下半分の線を指定
      &::before {
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        content: "";
        border-bottom: 3px solid #d0e391;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 5px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
