@if $device == PC {

  .t0-b-sideBox#{$variation1of2} {

    $_fontSizePx: 20;
    $_lineHeightType: 1;
    $_textColor: #623334;

    border-top: 4px solid #623334;
    background-color: #fafafa;

    &__hd {
      text-align: center;
      padding: 10px;
      border-right: 1px solid #e3dad5;
      border-left: 1px solid #e3dad5;
      background-color: #ebe5e2;
      h4 {
        font-family: $tenorsans;
        @include g-font($_fontSizePx, $_lineHeightType);
        color: $_textColor;
      }

      a {
        text-decoration: none;
        h4 {
          &:hover {
            color: $g-hovercolor;
          }
        }
      }
    }
    &__bd {
      padding: 25px 20px 20px;
      border: 1px solid #e3dad5;
      border-top: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {

    $_fontSizePx: 20;
    $_lineHeightType: 1;
    $_textColor: #623334;

    background-color: #fff;

    &__hd {
      text-align: center;
      padding: 10px;
      border-top: 2px solid #6c3f40;
      border-bottom: 2px solid #6c3f40;
      box-shadow:
        0 -1px #fff inset,
        0 -2px #714546 inset,
        0 1px #fff inset,
        0 2px #714546 inset;
      h4 {
        font-family: $tenorsans;
        @include g-font($_fontSizePx, $_lineHeightType);
        color: $_textColor;
      }

      a {
        text-decoration: none;
        h4 {
          &:hover {
            color: $g-hovercolor;
          }
        }
      }
    }
    &__bd {
      padding: 29px 10px 20px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// PC


@if $device == SP {

  .t0-b-sideBox#{$variation1of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #623334;

    margin: 0 -5px;
    border-top: 4px solid #623334;
    background-color: #fafafa;

    &__hd {
      text-align: center;
      padding: 10px;
      border-right: 1px solid #e3dad5;
      border-left: 1px solid #e3dad5;
      background-color: #ebe5e2;
      h4 {
        font-family: $tenorsans;
        @include g-font($_fontSizePx, $_lineHeightType);
        color: $_textColor;
      }

      a {
        text-decoration: none;
      }
    }
    &__bd {
      padding: 10px 20px;
      border: 1px solid #e3dad5;
      border-top: none;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #623334;

    margin: 0 -5px;
    // border-top: 4px solid #cabb8c;
    background-color: #fff;

    &__hd {
      text-align: center;
      padding: 10px;
      border-top: 2px solid #6c3f40;
      border-bottom: 2px solid #6c3f40;
      box-shadow:
        0 -1px #fff inset,
        0 -2px #714546 inset,
        0 1px #fff inset,
        0 2px #714546 inset;
      h4 {
        font-family: $tenorsans;
        @include g-font($_fontSizePx, $_lineHeightType);
        color: $_textColor;
      }

      a {
        text-decoration: none;
      }
    }
    &__bd {
      padding: 14px 20px 10px;
    }

    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}// SP
