@if $device == PC {
  .t0-b-headerMedia#{$variation1of2} {

    width: 1100px;
    text-align: center;
    margin: 0 auto;

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
    > div {
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .t0-b-headerMedia#{$variation2of2} {

    width: 1270px;
    text-align: center;
    margin: 0 auto;

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    
    // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
    > div {
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .t0-b-headerMedia3 {

    width: 1270px;
    text-align: center;
    margin: 0 auto;
    
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
   
    > div {
      width: 100%;
      // Start エフェクト
      display: inline-block;
      position: relative;
      &:after {
        pointer-events: none;
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         /* 背景色と同じ色 */
        box-shadow: inset 0 0 60px 55px #fff;
      }
      //End エフェクト

      // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .t0-b-headerMedia4 {

    width: 1100px;
    text-align: center;
    margin: 0 auto;

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    
    > div {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 22px;
      border-width: 1px 3px;
      border-style: solid;
      border-color: #4a1f02;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        box-sizing: border-box;
        background-image:
        url("../imgs/media/media001/media001_frame01_v5f1.png"),
        url("../imgs/media/media001/media001_frame03_v5f1.png");
          background-repeat: no-repeat;
          background-position: -3px top, -3px bottom;
          background-size: 1100px 131px, 1100px 131px;
      }
      // Start 「ヘッダメディアブロック」の見た目でHTML挿入ができる部品 の時に必要
      > div {
        border-radius: inherit;
        /* 背景色と同じ色 */
        background-color: #fff;
        
        // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
        > * {
          margin: 0 auto !important;
        }

      }
      // End「ヘッダメディアブロック」の見た目でHTML挿入ができる部品 の時に必要
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 19px;
    }
  }

  .t0-b-headerMedia5 {

    width: 100%;
    min-width: 1060px;
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    
    // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
    > div {
      > div {
        > * {
          margin: 0 auto !important;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}// PC


@if $device == SP {

  // Youtubeのレスポンシブ対応
  [class^=t0-b-headerMedia] {
    > div > div {
      max-height: 240px;
      iframe,
      object,
      embed {
        max-height: 240px;
        max-width: 100%;
      }
    }
  }

  .t0-b-headerMedia#{$variation1of2},
  .t0-b-headerMedia#{$variation2of2},
  .t0-b-headerMedia3,
  .t0-b-headerMedia4,
  .t0-b-headerMedia5 {

    > div > div > * {
      line-height: 1.5;
      // HTML部品にスライド動画が挿入されたときに、スライド動画の持つスタイル属性 margin: 0 を打ち消して中央寄せにする #230
      margin: 0 auto !important;
    }

    line-height: 0;
    margin: 0 -15px;
    overflow: auto;
    text-align: center;

    > div {
      width: 100%;
      margin: 0 auto;
      a {
        display: block;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      > div {
        overflow: auto;
        max-height: 200px;
        width: auto;
        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
        }
      }
    }
    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .t0-b-headerMedia3 {

    text-align: center;

    > div {
      // Start エフェクト
      display: inline-block;
      position: relative;
      &:after {
        pointer-events: none;
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
          /* 背景色と同じ色 */
        box-shadow: inset 0 0 60px *.5 55px *.5 #fff;
      }
      //End エフェクト
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .t0-b-headerMedia4 {
    text-align: center;
    margin: 0 auto;

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    > div {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 9px;
      border-width: 2px;
      border-style: solid;
      border-color: #4a1f02;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        box-sizing: border-box;
        background-image:
          url("../imgs/media/media001/sp_media001_frame01_v5_02.png"),
          url("../imgs/media/media001/sp_media001_frame02_v5_02.png"),
          url("../imgs/media/media001/sp_media001_frame03_v5_02.png"),
          url("../imgs/media/media001/sp_media001_frame04_v5_02.png");
        background-repeat: no-repeat;
        background-position:
          left top,
          right top,
          left bottom,
          right bottom;
        background-size: 74px *.5 82px *.5;
      }

      // Start 「ヘッダメディアブロック」の見た目でHTML挿入ができる部品 の時に必要
      > div {
        border-radius: inherit;
        /* 背景色と同じ色 */
        background-color: #fff;
      }
      // End「ヘッダメディアブロック」の見た目でHTML挿入ができる部品 の時に必要
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 7px;
    }
  }

}// SP
