@if $device == PC {

  .t0-b-headerUnit-siteTitle {

    $_fontSizePx_bd: 44;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #623334;

    white-space: nowrap;
    font-family: $tenorsans;
    color: $_textColor;

    a {
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
        img {
          opacity: .8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        height: 45px;
        width: auto;
        max-width: 160px;
      }
    }
    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }
    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }
    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 6, $_lineHeightType);
      font-weight: normal;
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      &__bd {
        margin: 0 auto;
      }

      &__ft {
        text-align: center;
      }
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-siteTitle2 {

    $_fontSizePx_bd: 44;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #623334;

    white-space: nowrap;
    font-family: $tenorsans;
    display: inline-block;
    width: 100%;
    color: $_textColor;
    text-align: left;
    margin: 0 auto;

    a {
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
        img {
          opacity: .8;
        }
      }
    }

    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: inline-block;
    }
    &__bd-logo {
      margin: 0 auto;
      padding-bottom: 10px;

      img {
        display: block;
        height: 45px;
        width: auto;
        max-width: 160px;
        margin: 0 auto;
      }
    }
    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }
    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }
    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 6, $_lineHeightType);
      font-weight: normal;
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
    }
    &__bd > div {
      display: block;
      text-align: center;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      text-align: center;

      &__bd {
        margin: 0 auto;
      }
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

}// PC


@if $device == SP {

  .t0-b-headerUnit-siteTitle {

    $_fontSizePx_bd: 28;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #623334;

    font-family: $tenorsans;
    color: $_textColor;

    a {
      color: $_textColor;
      text-decoration: none;
    }
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }
    &__bd-logo {
      padding-right: 10px;
      img {
        display: block;
        height: 45px;
        width: auto;
        max-width: 160px;
      }
    }
    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }
    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }
    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 4, $_lineHeightType);
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      &__bd {
        margin: 0 auto;
      }

      &__ft {
        text-align: center;
      }
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }

  .t0-b-headerUnit-siteTitle2 {

    $_fontSizePx_bd: 28;
    $_fontSizePx_bdNote: 14;
    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #623334;

    display: inline-block;
    width: 100%;
    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    margin: 0 auto;

    a {
      color: $_textColor;
      text-decoration: none;
    }
    &--has-width {
      white-space: normal;
    }
    &__bd {
      display: inline-block;
    }
    &__bd-logo {
      margin: 0 auto 10px;
      padding-right: 0;
      img {
        display: block;
        height: 45px;
        max-width: 160px;
        margin: 0 auto;
      }
    }
    &__bd-note {
      @include g-font($_fontSizePx_bdNote, $_lineHeightType);
      padding-bottom: 5px;
    }
    &__bd-siteName {
      @include g-font($_fontSizePx_bd, $_lineHeightType);
    }
    &__bd-note + &__bd-siteName {
      @include g-font($_fontSizePx_bd - 4, $_lineHeightType);
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      padding-top: 5px;
    }

    // Start サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
    [class^='t0-b-headerSingle'] & {
      text-align: center;

      &__bd {
        margin: 0 auto;
      }
    }
    // End サイト名中央に入ったときのみ文字数分の幅をもち中央寄せの見た目にする
  }
}// SP
