.area-all {
  padding-top: 50px;
  word-break: break-all;
  word-wrap: break-word;
}

.area-header {
  padding: 0 15px;
}

.area-footer {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  padding: 0 15px;
}

.area-main {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  padding: 20px 15px 0;
}

.area-sub {
  padding: 20px 15px 0;
}
