@if $device == PC {
  .t0-b-lv1H-mainH#{$variation1of2} {
    min-height: 120px;
    min-height: 0\0;
    padding: 30px 70px;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #372914;
    position: relative;
    text-align: center;
    text-shadow: (-1px) -1px #ddd, 1px -1px #ddd, -1px 1px #ddd, 1px 1px #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg.png"), url("../imgs/t0-b-lv1H-mainH/bg2.png"), linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(58, 58, 58, .2)), url("../imgs/t0-b-lv1H-mainH/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, right top, left top, left top;
    }

    * {
      position: relative;
    }

    > span {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
      background-repeat: no-repeat;
      background-position: left 3px top 3px, right 3px top 3px, left 3px bottom 3px, right 3px bottom 3px;
      > span {
        position: absolute;
        top: 14px;
        bottom: 14px;
        left: 9px;
        right: 9px;
        border-left: 1px solid #581e12;
        border-right: 1px solid #581e12;
        > span {
          position: absolute;
          top: -5px;
          bottom: -5px;
          left: 4px;
          right: 4px;
          border-top: 1px solid #581e12;
          border-bottom: 1px solid #581e12;
        }
      }
    }

    h1 {
      @include g-font-spacingKilled(30, 1);

      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #372914;
      &:hover {
        color: $hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 10px;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of2} {
    min-height: 120px;
    min-height: 0\0;
    padding: 15px 70px;
    padding: 25px 70px\0;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #fff;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    text-shadow: (-1px) -1px #ab9a60, 1px -1px #ab9a60, -1px 1px #ab9a60, 1px 1px #ab9a60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg18.png"), url("../imgs/t0-b-lv1H-mainH/bg19.png"), linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(58, 58, 58, .1)), url("../imgs/t0-b-lv1H-mainH/bg13.png");
      background-repeat: no-repeat, no-repeat, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, left top;
    }

    * {
      position: relative;
    }

    > span {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
      background-repeat: no-repeat;
      background-position: left top, right 1px top 1px, left bottom, right bottom;
      > span {
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 7px;
        right: 7px;
        border-left: 1px solid #581e12;
        border-right: 1px solid #581e12;
        > span {
          position: absolute;
          top: -5px;
          bottom: -5px;
          left: 4px;
          right: 4px;
          border-top: 1px solid #581e12;
          border-bottom: 1px solid #581e12;
        }
      }
    }

    h1 {
      @include g-font-spacingKilled(30, 1);
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $hovercolor;
      }
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 10px;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-mainH#{$variation1of2} {
    min-height: 60px;
    padding: 20px;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #372914;
    position: relative;
    text-align: center;
    text-shadow: (-1px) -1px #ddd, 1px -1px #ddd, -1px 1px #ddd, 1px 1px #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg.png"), url("../imgs/t0-b-lv1H-mainH/bg2.png"), linear-gradient(top, rgba(255, 255, 255, .1), rgba(58, 58, 58, .2)), url("../imgs/t0-b-lv1H-mainH/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, right top, left top, left top;
      background-size: 60px, 60px, auto, auto, auto, auto;
    }

    * {
      position: relative;
    }

    > span {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
      background-repeat: no-repeat;
      background-position: left 3px top 3px, right 3px top 3px, left 3px bottom 3px, right 3px bottom 3px;
      > span {
        position: absolute;
        top: 14px;
        bottom: 14px;
        left: 9px;
        right: 9px;
        border-left: 1px solid #581e12;
        border-right: 1px solid #581e12;
        > span {
          position: absolute;
          top: -5px;
          bottom: -5px;
          left: 4px;
          right: 4px;
          border-top: 1px solid #581e12;
          border-bottom: 1px solid #581e12;
        }
      }
    }

    h1 {
      @include g-font-spacingKilled(18, 1);

      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: #372914;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 10px;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of2} {
    min-height: 60px;
    padding: 20px;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #fff;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    text-shadow: (-1px) -1px #ab9a60, 1px -1px #ab9a60, -1px 1px #ab9a60, 1px 1px #ab9a60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg18.png"), url("../imgs/t0-b-lv1H-mainH/bg19.png"), linear-gradient(top, rgba(255, 255, 255, .1), rgba(58, 58, 58, .1)), url("../imgs/t0-b-lv1H-mainH/bg13.png");
      background-repeat: no-repeat, no-repeat, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, left top;
      background-size: 50px, 50px, auto, auto, auto, auto;
    }

    * {
      position: relative;
    }

    > span {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
      background-repeat: no-repeat;
      background-position: left top, right 1px top 1px, left bottom, right bottom;
      > span {
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 7px;
        right: 7px;
        border-left: 1px solid #581e12;
        border-right: 1px solid #581e12;
        > span {
          position: absolute;
          top: -5px;
          bottom: -5px;
          left: 4px;
          right: 4px;
          border-top: 1px solid #581e12;
          border-bottom: 1px solid #581e12;
        }
      }
    }

    h1 {
      @include g-font-spacingKilled(18, 1);
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &__caption-upper {
      @include g-font-spacingKilled(14, 1);

      padding: 0 0 10px;
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);

      padding: 10px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
