@if $device == PC {
  .t0-b-lv5H#{$variation1of3} {
    $_block: &;
    color: #382b2b;
    a {
      color: #382b2b;
    }

    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 15px;
    }

    &__main {
      background: url("../imgs/t0-b-lv5H/bg.png") no-repeat left center;
    }

    &__bd {
      min-height: 25px;
      padding: 0 0 0 15px;
      border-bottom: 1px dashed #581e12;
      h5 {
        @include g-font(18, 1);
        font-weight: bold;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 15px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
      #{$_block}__caption-upper,
      #{$_block}__caption-lower,
      #{$_block}__bd {
        padding-right: 15px;
      }
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }

  .t0-b-lv5H#{$variation2of3} {
    color: #382b2b;
    display: table;
    a {
      color: #382b2b;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 20px;
    }

    &__bd {
      h5 {
        @include g-font(18, 1);
        padding: 0 0 0 20px;
        background: url("../imgs/t0-b-lv5H/bg2.png") no-repeat left center;
        font-weight: bold;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 20px;
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }
  }

  .t0-b-lv5H#{$variation3of3} {
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 10px;
    }

    &__bd {
      padding: 5px 10px 7px;
      background: url("../imgs/t0-b-lv5H/bg3.png") repeat left top;
      > h5 {
        color: #8f7f3e;
        font-weight: bold;
      }

      > * {
        @include g-font(18, 1);
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #8f7f3e;
      font-weight: bold;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv5H#{$variation1of3} {
    $_block: &;
    color: #382b2b;
    a {
      color: #382b2b;
    }

    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 15px;
    }

    &__main {
      background: url("../imgs/t0-b-lv5H/bg.png") no-repeat left center;
    }

    &__bd {
      min-height: 25px;
      padding: 0 0 0 15px;
      border-bottom: 1px dashed #581e12;
      h5 {
        @include g-font(16, 1);
        font-weight: bold;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 15px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
      #{$_block}__caption-upper,
      #{$_block}__caption-lower,
      #{$_block}__bd {
        padding-right: 15px;
      }
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
    }
  }

  .t0-b-lv5H#{$variation2of3} {
    color: #382b2b;
    a {
      color: #382b2b;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 20px;
    }

    &__bd {
      h5 {
        @include g-font(16, 1);
        padding: 0 0 0 20px;
        background: url("../imgs/t0-b-lv5H/bg2.png") no-repeat left center;
        display: inline-block;
        font-weight: bold;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 20px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv5H#{$variation3of3} {
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 10px;
    }

    &__bd {
      padding: 7px 10px;
      background: url("../imgs/t0-b-lv5H/bg3.png") repeat left top;
      > h5 {
        color: #8f7f3e;
        font-weight: bold;
      }

      > * {
        @include g-font(16, 1);
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #8f7f3e;
      font-weight: bold;
    }
  }
}
