@if $device == PC {
  .t0-b-lv5H-subH {
    color: #382b2b;
    h5 {
      font-weight: bold;

      @include g-font-spacingKilled(14, 1);

      display: inline;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #382b2b;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv5H-subH {
    color: #382b2b;
    h5 {
      font-weight: bold;

      @include g-font-spacingKilled(16, 1);

      display: inline-block;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #382b2b;
    }
  }
}
