@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    $_block: &;

    margin: 0 25px;
    box-shadow: 1px 2px 6px #ccc, -1px 2px 6px #ccc;
    border: 3px solid #fdfdfd;
    position: relative;
    text-align: center;
    line-height: 0;
    color: #333;
    > a, > div {
      padding: 15px 50px 15px 60px;
      border: 2px solid #9b6a6a;
      background: url("../imgs/t0-b-navItem2Captioned/bg2.png") no-repeat 17px center, linear-gradient(#fdfdfd, #e2e2e2);
    }

    a {
      color: #333;
      display: block;
      text-decoration: none;
      &:hover {
        opacity: .6;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 10px;
    }

    &__main {
      @include g-font(26, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 10px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;

    box-shadow: 0 0 6px #ddd;
    margin: 0 25px;
    border: 1px solid #8b321b;
    position: relative;
    text-align: center;
    line-height: 0;
    text-shadow: 0 2px 1px #721d07;
    color: #fff;
    > a, > div {
      padding: 15px 40px 15px 50px;
      background: url("../imgs/t0-b-navItem2Captioned/bg3.png") no-repeat 20px center, linear-gradient(#9d2a0a, #721b06);
    }

    a {
      color: #fff;
      display: block;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 10px;
    }

    &__main {
      @include g-font(26, 1);
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 10px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;

    $_block: &;

    padding: 10px 35px 10px 10px;
    background: url("../imgs/t0-b-navList/bg5.png") no-repeat 95% 50%, linear-gradient(#fff, #e2e2e2);
    background-size: 17px 17px, 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #9f6f6f;
    color: #333;
    text-align: center;
    > a {
      text-decoration: none;
      color: #333;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    padding: 10px 35px 10px 10px;
    background: url("../imgs/t0-b-navList/bg5.png") no-repeat 95% 50% #9d2a0a;
    background-size: 17px 17px, 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8b321b;
    color: #fff;
    text-align: center;
    > a {
      text-decoration: none;
      color: #fff;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }
}
