@if $device == PC {
  .t0-b-articleDecoration#{$variation1of3} {
    &__bd {
      display: table;
      width: 100%;
    }

    &__box {
      display: table-cell;
      width: 49%;
      padding: 25px 20px 15px;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: -2px;
        left: 0;
        right: 0;
        display: block;
        height: 20px;
        background: radial-gradient(70% 10px at 50% 50%, #666 0%, #ccc 50%, #f2f2e3 85%);
      }

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 5px;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-articleDecoration/bg2.png") repeat left top;
      }
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      color: #fff;
      background: url("../imgs/t0-b-articleDecoration/bg.png") no-repeat 10px center, linear-gradient(#a4882e, #967723);
      padding: 10px 10px 10px 25px;
      border-bottom: 2px solid #543711;
      position: relative;
      margin-bottom: 15px;
      text-shadow: 0 1px 2px #594821;
      h4 {
        position: relative;

        @include g-font(18, 2);
      }

      a {
        color: #fff;
        text-decoration: none;
        position: relative;
        &:hover {
          h4 {
            color: $g-hoverColor;
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-articleDecoration#{$variation2of3} {
    &__bd {
      display: table;
      width: 100%;
    }

    &__box {
      box-shadow: 0 1px 2px 1px #ccc;
      display: table-cell;
      width: 49%;
      background: #e6e1bd;
      padding: 20px 20px 10px;
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      color: #382b2b;
      background: linear-gradient(#cacabb, #efeddd);
      position: relative;
      border-bottom: 2px solid #543711;
      padding: 8px 15px;
      margin-bottom: 15px;
      text-align: center;
      h4 {
        @include g-font(18, 2);

        position: relative;
        font-weight: bold;
      }

      a {
        color: #382b2b;
        text-decoration: none;
        position: relative;
        &:hover {
          h4 {
            color: $g-hoverColor;
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-articleDecoration#{$variation3of3} {
    &__bd {
      display: table;
      width: 100%;
    }

    &__box {
      padding: 30px 20px 10px;
      display: table-cell;
      width: 49%;
      border: 1px solid #d6d6b8;
      box-shadow: 0 3px 2px #ccc;
      background: url("../imgs/t0-b-wysiwyg/bg.png") repeat center center #fff;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #fff;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 8px;
        bottom: 8px;
        left: 7px;
        right: 7px;
        background: url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right top, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right bottom;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          left: 8px;
          right: 8px;
          background: url("../imgs/t0-b-articleDecoration/bg6.png") repeat-x left top, url("../imgs/t0-b-articleDecoration/bg6.png") repeat-x left bottom;
        }
      }
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      color: #333;
      position: relative;
      padding: 0 15px 3px;
      margin-bottom: 20px;
      background: url("../imgs/t0-b-articleDecoration/bg3.png") no-repeat left center, url("../imgs/t0-b-articleDecoration/bg4.png") repeat-x left bottom;
      h4 {
        @include g-font(18, 2);

        font-weight: bold;
        position: relative;
      }

      a {
        position: relative;
        color: #333;
        text-decoration: none;
        &:hover {
          h4 {
            color: $g-hoverColor;
          }
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-articleDecoration#{$variation1of3} {
    margin: 0 -5px;
    &__hd {
      padding: 0 20px 8px;
    }

    &__arrow {
      height: 20px;
    }

    &__box {
      padding: 15px 15px 10px;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 20px;
        background: radial-gradient(70% 10px at 50% 50%, #666 0%, #ccc 50%, #fff 100%);
      }

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 5px;
        left: 0;
        right: 0;
        background: url("../imgs/t0-b-articleDecoration/bg2.png") repeat left top;
      }
    }

    &__hd-h {
      color: #fff;
      background: url("../imgs/t0-b-articleDecoration/bg.png") no-repeat 10px center, linear-gradient(#a4882e, #967723);
      border-bottom: 2px solid #543711;
      position: relative;
      padding: 8px 15px 8px 25px;
      margin-bottom: 15px;
      h4 {
        position: relative;

        @include g-font(16, 1);
      }

      a {
        color: #fff;
        text-decoration: none;
        position: relative;
      }
    }

    .t0-b-twoColsMedia .t0-b-twoColsMedia--spacing-4s > div {
      padding-top: 0;
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-articleDecoration#{$variation2of3} {
    margin: 0 -5px;
    &__hd {
      padding: 0 20px 5px;
    }

    &__box {
      box-shadow: 0 1px 2px 1px #ccc;
      background: #e6e1bd;
      padding: 15px 15px 10px;
    }

    &__arrow {
      width: 20px;
      display: table-cell;
      height: 20px;
    }

    &__hd-h {
      color: #382b2b;
      background: linear-gradient(#cacabb, #efeddd);
      position: relative;
      border-bottom: 2px solid #543711;
      padding: 8px 15px;
      margin-bottom: 15px;
      text-align: center;
      h4 {
        @include g-font(16, 1);

        position: relative;
      }

      a {
        color: #382b2b;
        text-decoration: none;
        position: relative;
      }
    }

    .t0-b-twoColsMedia .t0-b-twoColsMedia--spacing-4s > div {
      padding-top: 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-articleDecoration#{$variation3of3} {
    margin: 0 -5px;
    &__hd {
      padding: 0 20px;
    }

    &__arrow {
      height: 20px;
    }

    &__box {
      border: 1px solid #d6d6b8;
      box-shadow: 0 3px 2px #ccc;
      background: url("../imgs/t0-b-wysiwyg/bg.png") repeat center center #fff;
      padding: 25px 15px 10px;
      position: relative;
      > * {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid #fff;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 8px;
        bottom: 8px;
        left: 7px;
        right: 7px;
        background: url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat left top, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right top, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat left bottom, url("../imgs/t0-b-articleDecoration/bg5.png") no-repeat right bottom;
        > span {
          position: absolute;
          pointer-events: none;
          top: 0;
          bottom: 0;
          left: 8px;
          right: 8px;
          background: url("../imgs/t0-b-articleDecoration/bg6.png") repeat-x left top, url("../imgs/t0-b-articleDecoration/bg6.png") repeat-x left bottom;
        }
      }
    }

    .t0-b-twoColsMedia .t0-b-twoColsMedia--spacing-4s > div {
      padding-top: 0;
    }

    &__arrow {
      display: table-cell;
      width: 20px;
    }

    &__hd-h {
      color: #333;
      background: url("../imgs/t0-b-articleDecoration/bg3.png") no-repeat left center, url("../imgs/t0-b-articleDecoration/bg4.png") repeat-x left bottom;
      position: relative;
      padding: 4px 15px 7px;
      margin-bottom: 15px;
      h4 {
        @include g-font(16, 1);

        position: relative;
      }

      a {
        position: relative;
        color: #333;
        text-decoration: none;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
