@if $device == PC {
  .t0-b-sideBanner {
    margin: 0 auto;
    width: 100%;
    border: 3px solid #a5945a;
    box-sizing: border-box;
    img {
      width: 100%;
      vertical-align: top;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {
    margin: 0 auto;
    width: 100%;
    img {
      width: 100%;
      vertical-align: top;
      border-radius: 10px;
    }

    a {
      > img {
        border-radius: 10px;
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-sideBanner {
    margin: 0 auto;
    width: 100%;
    a {
      text-decoration: none;
    }

    img {
      width: 100%;
      vertical-align: top;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}
