@if $device == PC {
  .t0-b-sideBoxLv2H {
    color: #333;
    line-height: 0;
    display: table;
    h6 {
      @include g-font(14, 1);

      padding: 1px 0 0 12px;
      background: url("../imgs/t0-b-sideBoxLv2H/bg.png") no-repeat left center;
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #333;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxLv2H {
    color: #333;
    line-height: 0;
    h6 {
      @include g-font(16, 1);

      padding: 0 0 0 12px;
      display: inline-block;
      background: url("../imgs/t0-b-sideBoxLv2H/bg.png") no-repeat left center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #333;
    }
  }
}
