@if $device == PC {
  .t0-b-lv1H-pageH#{$variation1of2} {
    width: 980px;
    margin: 0 auto 10px;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #372914;
    position: relative;
    text-align: center;
    text-shadow: (-1px) -1px #ddd, 1px -1px #ddd, -1px 1px #ddd, 1px 1px #ddd;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg.png"), url("../imgs/t0-b-lv1H-mainH/bg2.png"), linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(58, 58, 58, .2)), url("../imgs/t0-b-lv1H-mainH/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, right top, left top, left top;
    }

    * {
      position: relative;
    }

    > div {
      min-height: 120px;
      // IEハック
      min-height: 0\0; /* stylelint-disable-line */
      padding: 30px 70px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > span {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
        background-repeat: no-repeat;
        background-position: left 3px top 3px, right 3px top 3px, left 3px bottom 3px, right 3px bottom 3px;
        > span {
          position: absolute;
          top: 14px;
          bottom: 14px;
          left: 9px;
          right: 9px;
          border-left: 1px solid #581e12;
          border-right: 1px solid #581e12;
          > span {
            position: absolute;
            top: -5px;
            bottom: -5px;
            left: 4px;
            right: 4px;
            border-top: 1px solid #581e12;
            border-bottom: 1px solid #581e12;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #372914;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__main {
      @include g-font-spacingKilled(30, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    min-height: 114px;
    // IEハック
    min-height: 0\0; /* stylelint-disable-line */
    margin: 0 auto 14px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: linear-gradient(#f5f3f0, #e2dfd5);
    box-shadow: 0 2px 5px #ccc;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      padding: 30px 0;
      h1 {
        padding: 0 0 0 45px;
        box-sizing: border-box;
        background: url("../imgs/t0-b-lv1H-pageH/bg.png") no-repeat 15px center;
      }
    }

    a {
      margin-left: 0;
      text-decoration: none;
      color: #333;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__main {
      @include g-font-spacingKilled(30, 1);

      width: 980px;
      margin: 0 auto;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-pageH#{$variation1of2} {
    margin: 0 -15px;
    background: url("../imgs/t0-b-lv1H-mainH/bg10.png") repeat left top;
    color: #372914;
    position: relative;
    text-align: center;
    text-shadow: (-1px) -1px #ddd, 1px -1px #ddd, -1px 1px #ddd, 1px 1px #ddd;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px #aaa, -1px 2px 5px #aaa;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background-image: url("../imgs/t0-b-lv1H-mainH/bg11.png"), url("../imgs/t0-b-lv1H-mainH/bg12.png"), url("../imgs/t0-b-lv1H-mainH/bg.png"), url("../imgs/t0-b-lv1H-mainH/bg2.png"), linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(58, 58, 58, .2)), url("../imgs/t0-b-lv1H-mainH/bg3.png");
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, no-repeat, repeat;
      background-position: 10px center, right 13px center, left top, right top, left top, left top;
      background-size: 50px, 50px, auto, auto, auto, auto;
    }

    * {
      position: relative;
    }

    > div {
      min-height: 80px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > span {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../imgs/t0-b-lv1H-mainH/bg14.png"), url("../imgs/t0-b-lv1H-mainH/bg15.png"), url("../imgs/t0-b-lv1H-mainH/bg16.png"), url("../imgs/t0-b-lv1H-mainH/bg17.png");
        background-repeat: no-repeat;
        background-position: left 3px top 3px, right 3px top 3px, left 3px bottom 3px, right 3px bottom 3px;
        > span {
          position: absolute;
          top: 14px;
          bottom: 14px;
          left: 9px;
          right: 9px;
          border-left: 1px solid #581e12;
          border-right: 1px solid #581e12;
          > span {
            position: absolute;
            top: -5px;
            bottom: -5px;
            left: 4px;
            right: 4px;
            border-top: 1px solid #581e12;
            border-bottom: 1px solid #581e12;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: #372914;
    }

    &__main {
      @include g-font-spacingKilled(18, 1);
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {
    margin: 0 -15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: linear-gradient(#f5f3f0, #e2dfd5);
    box-shadow: 0 2px 5px #ccc;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    > div {
      padding: 15px 0;
      h1 {
        padding: 0 0 0 45px;
        box-sizing: border-box;
        background: url("../imgs/t0-b-lv1H-pageH/bg.png") no-repeat 15px center;
      }
    }

    a {
      text-decoration: none;
      color: #333;
    }

    &__main {
      @include g-font-spacingKilled(18, 1);

      margin: 0 auto;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
