@if $device == PC {
  .t0-b-headerMenu#{$variation1of3} {
    $_width_content: 980px;

    padding: 3px 0 25px;
    border-top: 1px solid #fff;
    background: url("../imgs/t0-b-headerMenu/bg.png") repeat-x left top, url("../imgs/t0-b-headerMenu/bg8.png") no-repeat center bottom;
    color: #333;
    text-align: center;
    position: relative;
    z-index: 1;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 2px;
        background: linear-gradient(#f2f0e6, #dcd5bc);
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div > ul {
        table-layout: fixed;
      }
    }

    .t0-b-headerMenu__item {
      background: url("../imgs/t0-b-headerMenu/bg2.png") no-repeat right center;
      div {
        @include g-font(14, 1);

        padding: 0 20px 0 13px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 45px;
        &:hover::before {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 5px;
          right: 5px;
          display: block;
          height: 4px;
          background: url("../imgs/t0-b-headerMenu/bg3.png") repeat-x left top;
        }
      }
    }

    a {
      text-decoration: none;
      color: #222;
      &:hover {
        color: #222;
      }
    }

    .state-em {
      position: relative;
      > span {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 3px;
        right: 3px;
        border: 2px solid #a38f2d;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 1px;
        > span {
          position: absolute;
          top: 1px;
          bottom: 1px;
          left: 1px;
          right: 1px;
          border: 1px solid #a38f2d;
          border-radius: 2px;
          box-sizing: border-box;
        }
      }

      &:hover > span {
        display: none;
      }
    }

    .state-current {
      position: relative;
      div {
        color: #fff;
        background: linear-gradient(#766630, #5b4c21);
        border-radius: 2px;
        &:hover {
          background: transparent;
          color: #222;
        }
      }

      a {
        color: #fff;
        position: relative;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of3} {
    $_width_content: 980px;

    box-shadow: 0 0 3px #ddd;
    padding: 3px 0;
    border-top: 1px solid #fff;
    background: url("../imgs/t0-b-headerMenu/bg.png") repeat-x left top;
    color: #fff;
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        height: 50px;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div > ul {
        table-layout: fixed;
      }
    }

    .t0-b-headerMenu__item {
      background: url("../imgs/t0-b-headerMenu/bg2.png") no-repeat right center;
      div {
        @include g-font(14, 1);

        padding: 0 20px 0 13px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 45px;
        &:hover::before {
          content: "";
          position: absolute;
          bottom: 4px;
          left: 5px;
          right: 5px;
          display: block;
          height: 4px;
          background: url("../imgs/t0-b-headerMenu/bg7.png") repeat-x left top;
        }
      }

      &:last-child {
        background: none;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .state-em {
      padding: 0 2px;
      position: relative;
      color: #333;
      a {
        color: #333;
      }

      > span {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 3px;
        right: 3px;
        border: 1px solid #fff;
        border-radius: 2px;
        background: linear-gradient(#f2f0e6, #dcd5bc);
        > span {
          pointer-events: none;
          position: absolute;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
          border: 2px solid #a38f2d;
          border-radius: 2px;
          > span {
            pointer-events: none;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            border: 1px solid #a38f2d;
            border-radius: 1px;
          }
        }
      }

      &:hover {
        color: #fff;
        a {
          color: #fff;
        }

        > span {
          display: none;
        }
      }
    }

    .state-current {
      position: relative;
      color: #fff;
      a {
        color: #fff;
      }

      > span {
        display: none;
      }

      div {
        background: linear-gradient(rgba(146, 0, 0, .8), rgba(124, 21, 0, .9));
        border-radius: 2px;
        &:hover {
          background: transparent;
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation3of3} {
    $_width_content: 980px;

    padding: 0 0 23px;
    border-top: 1px solid #fff;
    color: #333;
    text-align: center;
    background: url("../imgs/t0-b-headerMenu/bg8.png") no-repeat center bottom;
    position: relative;
    z-index: 1;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      padding: 3px 0;
      background: linear-gradient(#6d675e, #463f33);
      > ul {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        border: 1px solid #fff;
        border-bottom: 5px solid #bf9e29;
        border-radius: 2px;
        background: linear-gradient(#f2f0e6, #dcd5bc);
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div > ul {
        table-layout: fixed;
      }
    }

    .t0-b-headerMenu__item {
      padding: 0 2px 2px;
      background: url("../imgs/t0-b-headerMenu/bg2.png") no-repeat right center;
      div {
        @include g-font(14, 1);

        padding: 5px 20px 0 13px;
        background: url("../imgs/t0-b-headerMenu/bg6.png") no-repeat right bottom;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 45px;
        box-sizing: border-box;
        &:hover {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          background: url("../imgs/t0-b-headerMenu/bg6.png") no-repeat right bottom, linear-gradient(#c5ba92, rgba(255, 255, 255, .4));
        }
      }
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #333;
      }
    }

    .state-em {
      position: relative;
      > span {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background: url("../imgs/t0-b-headerMenu/bg5.png") repeat-x left top, url("../imgs/t0-b-headerMenu/bg4.png") repeat left top;
        border: 1px solid #bf9e29;
        box-sizing: border-box;
      }

      div {
        background: none;
      }

      &:hover > span {
        display: none;
      }
    }

    .state-current {
      position: relative;
      div {
        color: #fff;
        background: url("../imgs/t0-b-headerMenu/bg6.png") no-repeat right bottom, #a88c2a;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        &:hover {
          color: #333;
        }
      }

      a {
        color: #fff;
        position: relative;
      }
    }
  }

  .t0-b-headerMenu4 {
    $_width_content: 980px;

    padding: 0;
    background-color: #f3eede;
    color: #333;
    text-align: center;
    position: relative;
    z-index: 1;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div > ul {
        table-layout: fixed;
      }
    }

    .t0-b-headerMenu__item {
      padding: 0 36px;
      position: relative;
      background: url("../imgs/t0-b-headerMenu/bg9.png") no-repeat right center;
      &:last-child {
        background: none;
      }

      div {
        @include g-font(14, 1);

        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50px;
      }

      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 36px;
        right: 36px;
        overflow: hidden;
        > span {
          position: absolute;
          pointer-events: none;
          bottom: 5px;
          left: 0;
          right: 0;
          width: 100%;
          width: 0;
          height: 3px;
          margin: 0 auto;
          background-color: #735e51;
          transition: all .3s;
        }
      }

      &:hover {
        > span > span {
          width: 100%;
        }
      }
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        color: #333;
      }
    }

    .state-current {
      color: #333;
      a {
        color: #333;
      }

      > span {
        > span {
          bottom: 3px;
          width: 100%;
          height: 3px;
          background-color: #735e51;
        }
      }
    }
  }

  .t0-b-headerMenu5 {
    $_width_content: 980px;

    padding: 0;
    background: linear-gradient(#686359, #473f34);
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div > ul {
        table-layout: fixed;
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      overflow: hidden;
      > span {
        position: absolute;
        pointer-events: none;
        top: -100%;
        bottom: 100%;
        left: -100%;
        right: 100%;
        background: linear-gradient(#847267, #695346);
        transition: all .3s;
        z-index: 0;
      }

      * {
        position: relative;
        z-index: 1;
      }

      div {
        @include g-font(14, 1);

        padding: 4px 36px;
        max-height: 42px;
        min-height: 30px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &:hover {
        > span {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }

    .state-current {
      background: linear-gradient(#847267, #695346);
      color: #fff;
      > span {
        display: none;
      }

      a {
        color: #fff;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of3} {
    ul {
      padding: 5px 0;
    }

    background: #f2f0e6;

    @include g-font-spacingKilled(12, 1);

    margin: 0 -15px;
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #333;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #333;
    }

    .state-em {
      > div,
      a > div {
        color: #333;
        font-weight: bold;
      }

      a {
        color: #333;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #766630;
          font-weight: normal;
          color: #fff;
        }
      }

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of3} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    background: #a88c2a;

    @include g-font-spacingKilled(12, 1);

    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      > div,
      a > div {
        &, &:hover {
          color: #fff;
          font-weight: bold;
        }
      }

      a {
        color: #fff;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #920000;
          font-weight: normal;
          color: #fff;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation3of3} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    background: #6d675e;

    @include g-font-spacingKilled(12, 1);

    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #fff;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #fff;
      }

      a {
        color: #fff;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          color: #fff;
          font-weight: normal;
          background: #a88c2a;
        }
      }

      a {
        color: #fff;
        text-shadow: none;
      }
    }
  }
}
