@if $device == PC {
  .t0-b-headerUnit-contact-nav {
    @include g-font-spacingKilled(14, 1);

    color: #63211f;
    text-decoration: underline;
    a {
      color: #63211f;
      &:hover {
        color: $g-hoverColor2;
      }
    }

    > a > *,
    > * {
      display: table-cell;
      vertical-align: middle;
    }

    > a > div,
    > div {
      width: 18px;
      height: 18px;
      padding-right: 5px;
      background: url("../imgs/t0-b-navItem/bg.png") no-repeat left center;
      background-size: 18px 18px;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-nav {
    @include g-font-spacingKilled(16, 1);
    color: #333;
    text-decoration: underline;
    display: table;
    margin: 0 auto;
    a {
      color: #333;
    }

    > a > *,
    > * {
      display: table-cell;
      vertical-align: middle;
    }

    > a > div,
    > div {
      width: 18px;
      height: 18px;
      padding-right: 5px;
      background: url("../imgs/t0-b-navItem/bg.png") no-repeat left center;
      background-size: 18px 18px;
    }
  }
}
