@if $device == PC {
  .t0-b-headerUnit-miniCol {
    min-width: 150px;
    border: 1px solid #bda44b;
    border-top: 1px solid #655628;
    border-radius: 2px;
    background-color: #fff;
    white-space: nowrap;
    text-align: center;
    display: table;
    &--has-width {
      white-space: normal;
    }

    &__hd {
      @include g-font-spacingKilled(14, 1);

      padding: 5px 10px;
      background: linear-gradient(#a28c40, #bda44b);
      color: #fff;
      text-shadow: 1px 1px 3px #8d7937;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        display: block;
        height: 1px;
        border-top: 1px solid #8c7a38;
      }
    }

    &__bd {
      @include g-font-spacingKilled(14, 1);

      padding: 10px;
      color: #333;
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerSingle &,
    .t0-b-headerSingle2 & {
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-miniCol {
    display: table;
    width: 100%;
    min-width: 150px;
    border: 1px solid #bda44b;
    border-top: 1px solid #655628;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    &--has-width {
      white-space: normal;
    }

    &__hd {
      @include g-font-spacingKilled(16, 1);

      padding: 5px 10px;
      background: linear-gradient(#a28c40, #bda44b);
      color: #fff;
      text-shadow: 1px 1px 3px #8d7937;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        display: block;
        height: 1px;
        border-top: 1px solid #8c7a38;
      }
    }

    &__bd {
      @include g-font-spacingKilled(16, 1);

      padding: 5px 10px;
      color: #333;
    }
  }
}
