@if $device == PC {
  .t0-b-copyright {
    @include g-font(12, 1);

    background: linear-gradient(to right, rgba(228, 195, 49, .8) 0%, rgba(160, 122, 51, .8) 50%, rgba(228, 195, 49, .8) 100%), url("../imgs/t0-b-footerUnit-lv2H/bg6.png") repeat left top;
    color: #fff;
    text-align: center;
    padding: 5px 0;
  }
}

@if $device == SP {
  .t0-b-copyright {
    margin: 0 -15px;

    @include g-font(12, 1);

    background: linear-gradient(to right, rgba(228, 195, 49, .8) 0%, rgba(160, 122, 51, .8) 50%, rgba(228, 195, 49, .8) 100%), url("../imgs/t0-b-footerUnit-lv2H/bg6.png") repeat left top;
    color: #fff;
    text-align: center;
    padding: 5px 0;
  }
}
