@if $device == PC {
  .t0-b-headerFullWidthMedia,
  .t0-b-headerFullWidthMedia2,
  .t0-b-headerFullWidthMedia3,
  .t0-b-headerFullWidthMedia4,
  .t0-b-headerFullWidthMedia5 {
    background-color: $fullWidthBgColor5;
  }

  .t0-b-headerFullWidthMedia-text {
    color: #97802f;
  }

  .t0-b-headerFullWidthMedia-text5 {
    &::before {
      background-color: #97802f;
    }
  }

  .t0-b-headerFullWidthMedia-text6 {
    &::before {
      border-top: 5px solid #97802f;
    }
  }

  .t0-b-headerFullWidthMedia-text8 {
    div > div {
      background: linear-gradient(rgba(#97802f, .5), rgba(#97802f, 1));
      border: 1px solid #97802f;
      text-shadow: 0 -1px 0 #97802f, 0 -2px 0 #97802f;
    }
  }
}

@if $device == SP {
  .t0-b-headerFullWidthMedia,
  .t0-b-headerFullWidthMedia2,
  .t0-b-headerFullWidthMedia3,
  .t0-b-headerFullWidthMedia4,
  .t0-b-headerFullWidthMedia5 {
    background-color: $fullWidthBgColor5;
  }

  .t0-b-headerFullWidthMedia-text {
    color: #97802f;
  }

  .t0-b-headerFullWidthMedia-text5 {
    &::before {
      background-color: #97802f;
    }
  }

  .t0-b-headerFullWidthMedia-text6 {
    &::before {
      border-top: 5px solid #97802f;
    }
  }

  .t0-b-headerFullWidthMedia-text8 {
    div > div {
      background: linear-gradient(rgba(#97802f, .5), rgba(#97802f, 1));
      border: 1px solid #97802f;
      text-shadow: 0 -1px 0 #97802f, 0 -2px 0 #97802f;
    }
  }
}
