$areaContainerWidth: 1100px;
$areaMainWidth: 1100px;
$areaSubWidth: 320px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $g-baseBackgroundColor;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

.area-main {
  box-sizing: border-box;
  width: 1100px;
  min-height: 100px;
  padding: 0 0 50px;
  margin: 0 auto;
}

.area-sub {
  display: none;
}

.area-footer {
  //フッター最上部のフッターメニューの背景が伸びないための指定
  padding-top: 1px;
  background: $g-baseBackgroundColor;
}
