.area-all {
  background-color: #fff;
  padding-top: 40px;
  word-break: break-all;
  word-wrap: break-word;
}

.area-container {
}

.area-header {
  padding: 0 15px 0;
}

.area-footer {
  padding: 0 15px;
  background: #f8f4f4;
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
}

.area-main {
  padding: 20px 15px 0;
  //デフォルトの背景より上にユーザー側が選択した画像を表示させる為、重ね順を規定
  position: relative;
  z-index: 0;
}

.area-sub {
  padding: 20px 15px 0;
}
