@if $device == PC {
  .t0-b-freeHtml {
    overflow: hidden;
    .admin & > div {
      background: $freeHtml_BGColor;
      color: $freeHtml_textColor;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }

    div {
      text-align: center;
      > * {
        max-width: 100%;
        margin: 0 auto !important;
      }

      > span {
        width: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-freeHtml {
    @include freeHtmlDiv(95%);
    .admin & > div {
      background: $freeHtml_BGColor;
      color: $freeHtml_textColor;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}
