@if $device == PC {
  .t0-b-catchText#{$variation1of2} {
    text-align: center;
    padding-bottom: 15px;
    background: #fff;
    border: 1px solid #eaebec;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-image: url("../imgs/t0-b-catchText/2.png"), url("../imgs/t0-b-catchText/1.png");
    background-repeat: no-repeat;
    background-position: 3px 3px, right 3px bottom 3px;
    padding: 20px 10px;
    margin: 0 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100px;
    > span {
      position: absolute;
      bottom: -55px;
      left: 80%;
      background: url("../imgs/t0-b-catchText/7.png") no-repeat 0 0;
      width: 90px;
      height: 56px;
      pointer-events: none;
    }

    > div {
      &:first-child {
        padding-top: 0;
      }
    }

    &__text-sub {
      @include g-font-spacingKilled(12, 1);
      padding: 0 0 15px;
    }

    &__text-sub2 {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 25px;
    }

    &__text-main {
      @include g-font-spacingKilled(24, 1);
    }

    &__text-sub3 {
      @include g-font-spacingKilled(14, 1);
      padding: 25px 0 0;
    }

    &__text-sub4 {
      @include g-font-spacingKilled(12, 1);
      padding: 15px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    text-align: center;
    padding-bottom: 15px;
    background: #f7f7f7;
    border: 1px solid #eaebec;
    box-shadow: 0 0 10px #ddd;

    position: relative;
    background-image: url("../imgs/t0-b-catchText/3.png"), url("../imgs/t0-b-catchText/4.png");
    background-repeat: no-repeat;
    background-position: left 50% top 5px, left 50% bottom 5px;
    border-radius: 15px;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100px;
    margin: 0 0 50px;
    > div {
      &:first-child {
        padding-top: 0;
      }
    }

    &__text-sub {
      @include g-font-spacingKilled(12, 1);
      padding: 0 0 15px;
    }

    &__text-sub2 {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 25px;
    }

    &__text-main {
      @include g-font-spacingKilled(24, 1);
    }

    &__text-sub3 {
      @include g-font-spacingKilled(14, 1);
      padding: 25px 0 0;
    }

    &__text-sub4 {
      @include g-font-spacingKilled(12, 1);
      padding: 15px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-catchText#{$variation1of2} {
    text-align: center;
    padding-bottom: 15px;
    background: #fff;
    border: 1px solid #eaebec;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-image: url("../imgs/t0-b-catchText/2.png"), url("../imgs/t0-b-catchText/1.png");
    background-repeat: no-repeat;
    background-position: 3px 3px, right 3px bottom 3px;
    padding: 20px 10px;
    margin: 0 0 41px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80px;
    > span {
      position: absolute;
      bottom: -55px;
      right: 5%;
      background: url("../imgs/t0-b-catchText/7.png") no-repeat 0 0;
      width: 90px;
      height: 56px;
    }

    > div {
      &:first-child {
        padding-top: 0;
      }
    }

    &__text-sub {
      @include g-font-spacingKilled(12, 1);
      padding: 0 0 10px;
    }

    &__text-sub2 {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 15px;
    }

    &__text-main {
      @include g-font-spacingKilled(18, 1);
    }

    &__text-sub3 {
      @include g-font-spacingKilled(14, 1);
      padding: 15px 0 0;
    }

    &__text-sub4 {
      @include g-font-spacingKilled(12, 1);
      padding: 10px 0 0;
    }
  }

  .t0-b-catchText#{$variation2of2} {
    text-align: center;
    padding-bottom: 15px;
    background: #f7f7f7;
    border: 1px solid #eaebec;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-image: url("../imgs/t0-b-catchText/3.png"), url("../imgs/t0-b-catchText/4.png");
    background-repeat: no-repeat;
    background-position: left 50% top 5px, left 50% bottom 5px;
    border-radius: 15px;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80px;
    margin: 0 0 20px;
    > div {
      &:first-child {
        padding-top: 0;
      }
    }

    &__text-sub {
      @include g-font-spacingKilled(12, 1);
      padding: 0 0 10px;
    }

    &__text-sub2 {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 15px;
    }

    &__text-main {
      @include g-font-spacingKilled(18, 1);
    }

    &__text-sub3 {
      @include g-font-spacingKilled(14, 1);
      padding: 15px 0 0;
    }

    &__text-sub4 {
      @include g-font-spacingKilled(12, 1);
      padding: 10px 0 0;
    }
  }
}
