@if $device == PC {
  .t0-b-line {
    background: url("../imgs/t0-b-line/line.png") no-repeat center center;
    height: 25px;
    background-size: 80% 25px;
    hr {
      @include visuallyhidden;
    }
  }
}

@if $device == SP {
  .t0-b-line {
    background: url("../imgs/t0-b-line/line.png") no-repeat 0 50%;
    height: 25px;
    background-size: 100% 25px;
    hr {
      @include visuallyhidden;
    }
  }
}
