@if $device == PC {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    table {
      border-right: 1px solid $priceTable_borderColor;
      border-bottom: 1px solid $priceTable_borderColor;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(18, 1);
      border-top: 1px solid $priceTable_borderColor;
      padding: 15px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $priceTable_textColor;
      background: linear-gradient($priceTable_BGColor, $priceTable_BGColor2);
      border-top: 1px solid $priceTable_borderColor;
      border-left: 1px solid $priceTable_borderColor;
    }

    td {
      text-align: right;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    table {
      border-right: 1px solid $priceTable2_borderColor;
      border-bottom: 1px solid $priceTable2_borderColor;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $priceTable2_borderColor;
      border-left: 1px solid $priceTable2_borderColor;
      padding: 15px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      background: $priceTable2_BGColor;
      color: $priceTable2_textColor;
    }

    td {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    table {
      border-right: 1px solid $priceTable_borderColor;
      border-bottom: 1px solid $priceTable_borderColor;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $priceTable_borderColor;
      padding: 12px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $priceTable_textColor;
      background: linear-gradient($priceTable_BGColor, $priceTable_BGColor2);
      border-top: 1px solid $priceTable_borderColor;
      border-left: 1px solid $priceTable_borderColor;
    }

    td {
      text-align: right;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    table {
      border-right: 1px solid $priceTable2_borderColor;
      border-bottom: 1px solid $priceTable2_borderColor;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $priceTable2_borderColor;
      border-left: 1px solid $priceTable2_borderColor;
      padding: 12px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $priceTable2_textColor;
      background: $priceTable2_BGColor;
    }

    td {
      text-align: right;
    }
  }
}
