@if $device == PC {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    $_color_table_border: #d1d1c5;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #4d4d4d;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(18, 1);
      border-top: 1px solid $_color_table_border;
      padding: 15px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: linear-gradient(#e8e7c7, #d7d4ba);
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
    }

    td {
      text-align: right;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    $_color_table_border: #d1d1c5;
    $_color_table_th_bg: #1d3967;
    $_color_table_td_typo: #fff;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
      padding: 15px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      background: $_color_table_th_bg;
      color: $_color_table_td_typo;
    }

    td {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    $_color_table_border: #d1d1c5;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #4d4d4d;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $_color_table_border;
      padding: 12px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: linear-gradient(#e8e7c7, #d7d4ba);
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
    }

    td {
      text-align: right;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;
    $_color_table_border: #d1d1c5;
    $_color_table_th_bg: #1d3967;
    $_color_table_td_typo: #fff;
    table {
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);
      border-top: 1px solid $_color_table_border;
      border-left: 1px solid $_color_table_border;
      padding: 12px;
      text-align: left;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: $_color_table_th_bg;
    }

    td {
      text-align: right;
    }
  }
}
