@if $device == PC {
  .t0-b-lv2H-faqIcon#{$variation1of2} {
    $_block: &;
    $_fontSize_h: 20;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h+$_fontSizeDiff;
    $_lineHeight_h: 2;

    border: 1px solid #d8dde9;
    border-radius: 10px;
    position: relative;
    padding: 13px 20px 13px 32px;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: serif;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H-faqIcon/1.png") no-repeat 6px 6px, url("../imgs/t0-b-lv2H-faqIcon/2.png") no-repeat right 6px bottom 6px;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    > div {
      display: table;
      width: 100%;
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H-faqIcon/3.png") no-repeat 0 50%;
      width: 67px;
      height: 35px;
      vertical-align: middle;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #4d4d4d;
      display: table-cell;
      vertical-align: middle;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        display: block;
      }
    }

    &__h {
      position: relative;
      @include g-font($_fontSize_h, $_lineHeight_h);
      vertical-align: middle;
      display: table-cell;
      padding: 0 0 0 20px;
    }

    &--size-1 {
      padding: 13px * .8 20px * .8 13px * .8 32px * .8;
      > span {
        background-size: 22px * .8 23px * .8, 22px * .8 22px * .8;
      }

      #{$_block}__iconPlacer {
        background-size: 67px * .8 35px * .8;
        width: 67px * .8;
        height: 35px * .8;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
        padding: 0 0 0 20px * .8;
      }
    }

    &--size-3 {
      padding: 13px * 1.2 20px * 1.2 13px * 1.2 32px * 1.2;
      > span {
        background-size: 22px * 1.2 23px * 1.2, 22px * 1.2 22px * 1.2;
      }

      #{$_block}__iconPlacer {
        background-size: 67px * 1.2 35px * 1.2;
        width: 67px * 1.2;
        height: 35px * 1.2;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
        padding: 0 0 0 20px * 1.2;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H-faqIcon#{$variation2of2} {
    $_block: &;
    $_fontSize_h: 16;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h+$_fontSizeDiff;
    $_lineHeight_h: 2;

    background: #ebeef5;
    border-radius: 5px;
    box-shadow: 0 0 5px #bac2d6;
    position: relative;
    padding: 13px 20px;
    box-sizing: border-box;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H-faqIcon/4.png") no-repeat right 10px top 50%;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    > div {
      display: table;
      width: 100%;
      > h2 {
        color: #4d4d4d;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H-faqIcon/5.png") no-repeat 0 50%;
      width: 67px;
      height: 35px;
      vertical-align: middle;
      text-align: left;
      position: relative;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #4d4d4d;
      display: table-cell;
      vertical-align: middle;
      &:hover {
        color: #0e2753;
      }

      #{$_block}__h {
        display: block;
      }
    }

    &__h {
      position: relative;
      @include g-font($_fontSize_h, $_lineHeight_h);
      vertical-align: middle;
      display: table-cell;
      padding: 0 0 0 20px;
    }

    &--size-1 {
      padding: 13px * .8 20px * .8;
      > span {
        background-size: 90px * .8 88px * .8;
      }

      #{$_block}__iconPlacer {
        background-size: 67px * .8 35px * .8;
        width: 67px * .8;
        height: 35px * .8;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_s, $_lineHeight_h);
        padding: 0 0 0 20px * .8;
      }
    }

    &--size-3 {
      padding: 13px * 1.2 20px * 1.2;
      > span {
        background-size: 90px * 1.2 88px * 1.2;
      }

      #{$_block}__iconPlacer {
        background-size: 67px * 1.2 35px * 1.2;
        width: 67px * 1.2;
        height: 35px * 1.2;
      }

      #{$_block}__h {
        @include g-font($_fontSize_h_l, $_lineHeight_h);
        padding: 0 0 0 20px * 1.2;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv2H-faqIcon#{$variation1of2} {
    margin: 0 auto;
    border: 1px solid #d8dde9;
    border-radius: 10px;
    position: relative;
    padding: 8px 20px;
    box-sizing: border-box;
    color: #4d4d4d;
    font-family: serif;
    $_block: &;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H-faqIcon/1.png") no-repeat 3px 3px, url("../imgs/t0-b-lv2H-faqIcon/2.png") no-repeat right 3px bottom 3px;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    > div {
      display: table;
      width: 100%;
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H-faqIcon/3.png") no-repeat 0 50%;
      width: 50px;
      height: 25px;
      vertical-align: middle;
      background-size: 100%;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #4d4d4d;
      display: table-cell;
      vertical-align: middle;
      #{$_block}__h {
        display: block;
      }
    }

    &__h {
      position: relative;
      @include g-font-spacingKilled(18, 1);
      vertical-align: middle;
      display: table-cell;
      padding: 0 0 0 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H-faqIcon#{$variation2of2} {
    margin: 0 auto;
    background: #ebeef5;
    border-radius: 5px;
    box-shadow: 0 0 5px #bac2d6;
    position: relative;
    padding: 8px 10px 10px;
    box-sizing: border-box;
    $_block: &;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H-faqIcon/4.png") no-repeat right 10px top 50%;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    > div {
      display: table;
      width: 100%;
      > h2 {
        color: #4d4d4d;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H-faqIcon/5.png") no-repeat 0 50%;
      width: 50px;
      height: 25px;
      background-size: 100%;
      vertical-align: middle;
      text-align: left;
      position: relative;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #4d4d4d;
      display: table-cell;
      vertical-align: middle;
      #{$_block}__h {
        display: block;
      }
    }

    &__h {
      position: relative;
      @include g-font-spacingKilled(18, 1);
      vertical-align: middle;
      display: table-cell;
      padding: 0 0 0 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
