@if $device == PC {
  .t0-b-siteName,
  .t0-b-siteTitle {
    white-space: nowrap;
    $_block: &;
    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }

      > h5 {
        color: #4d4d4d;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 50px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: #4d4d4d;
      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: .8;
        }
      }
    }

    &__bd-textCol {
      @include g-font(14, 1);
    }

    &__bd-note {
      @include g-font(12, 1);
      color: #4d4d4d;
      padding: 0 0 5px;
    }

    &__bd-siteName {
      @include g-font(32, 1);
      font-family: serif, "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
      color: #0e2753;
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font(28, 1);
    }

    &__ft {
      @include g-font(14, 1);
      padding: 10px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-siteName,
  .t0-b-siteTitle {
    padding-top: 2px;
    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 40px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: #4d4d4d;
    }

    &__bd-textCol {
      @include g-font-spacingKilled(14, 1);
    }

    &__bd-note {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 10px;
      color: #4d4d4d;
    }

    &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
      font-weight: bold;
      color: #0e2753;
    }

    &__bd-note + &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
    }

    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 15px 0 0;
    }
  }
}
