@if $device == PC {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;
    display: table;
    padding: 5px 3px 3px 14px;
    width: 100%;
    box-sizing: border-box;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: $navBItemCaptioned_textColor;
      background: $navBItemCaptioned_BGColor;
      box-shadow: 0 0 3px $navBItemCaptioned_boxShadowColor;
      position: relative;
      width: 100%;
      &:hover {
        opacity: .8;
      }

      > div {
        text-align: center;
        padding: 40px 20px;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: -5px;
          left: -14px;
          background: url("../imgs/t0-b-navItem/3.png") no-repeat 0 0;
          pointer-events: none;
          > span {
            position: absolute;
            width: 100%;
            height: 100%;
            right: -14px;
            bottom: -5px;
            background: url("../imgs/t0-b-navItem/15.png") no-repeat 100% 100%;
          }
        }

        > div {
          display: inline-block;
        }
      }
    }

    > div {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: $navBItemCaptioned_textColor;
      background: $navBItemCaptioned_BGColor;
      box-shadow: 0 0 3px $navBItemCaptioned_boxShadowColor;
      padding: 30px 0;
      position: relative;
      width: 100%;
      text-align: center;
      > span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -14px;
        background: url("../imgs/t0-b-navItem/3.png") no-repeat 0 0;
        pointer-events: none;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          right: -14px;
          bottom: -5px;
          background: url("../imgs/t0-b-navItem/15.png") no-repeat 100% 100%;
        }
      }

      > div {
        display: inline-block;
      }
    }

    &__main {
      background: url("../imgs/t0-b-navItem/16.png") no-repeat 0 center;
      padding: 0 0 0 20px;
      text-align: left;
    }

    &__caption {
      text-align: left;
    }

    &--size-1 {
      > a > div,
      > div {
        padding: 20px 26px 20px 40px;
        > span {
          background-size: 60px 52px;
        }

        > span > span {
          background-size: 38px 42px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
        background-size: 9px 8px;
      }

      #{$_block}__caption {
        padding: 4px 0 0 20px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 22px 30px 22px 48px;
        > span {
          background-size: 68px 59px;
        }

        > span > span {
          background-size: 42px 48px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
        background-size: 10px 9px;
      }

      #{$_block}__caption {
        padding: 6px 0 0 20px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 24px 35px 24px 55px;
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0 20px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 26px 40px 26px 63px;
        > span {
          background-size: 83px 72px;
        }

        > span > span {
          background-size: 52px 58px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        background-size: 12px 10px;
      }

      #{$_block}__caption {
        padding: 8px 0 0 20px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 28px 44px 28px 70px;
        > span {
          background-size: 90px 78px;
        }

        > span > span {
          background-size: 56px 64px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
        background-size: 13px 11px;
      }

      #{$_block}__caption {
        padding: 10px 0 0 20px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;
    display: table;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 10px 0;
      box-shadow: 0 0 5px $navBItemCaptioned2_boxShadowColor;
      background: $navBItemCaptioned2_BGColor;
      color: $navBItemCaptioned2_textColor;
      position: relative;
      border: 1px solid $navBItemCaptioned2_borderColor;
      &:hover {
        opacity: .8;
      }

      > div {
        padding: 16px 0;
        > span {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: url("../imgs/t0-b-navItem/6.png") no-repeat right 2px top 2px, url("../imgs/t0-b-navItem/7.png") no-repeat left 2px bottom 2px;
          top: 0;
          left: 0;
          pointer-events: none;
        }
      }
    }

    > div {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 10px 0;
      box-shadow: 0 0 5px $navBItemCaptioned2_boxShadowColor;
      background: $navBItemCaptioned2_BGColor;
      color: $navBItemCaptioned2_textColor;
      padding: 16px 0;
      position: relative;
      border: 1px solid $navBItemCaptioned2_borderColor;
      > span {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../imgs/t0-b-navItem/6.png") no-repeat right 2px top 2px, url("../imgs/t0-b-navItem/7.png") no-repeat left 2px bottom 2px;
        top: 0;
        left: 0;
        pointer-events: none;
      }
    }

    &__main {
      background: url("../imgs/t0-b-navItem/4.png") no-repeat 10px center;
      padding: 0 0 0 30px;
      text-align: left;
    }

    &__caption {
      text-align: left;
      padding: 0 0 0 30px;
    }

    &--size-1 {
      > a > div,
      > div {
        padding: 12px 0;
        > span {
          background-size: 23px 23px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 0 0 28px;
        background-size: 13px 13px;
      }

      #{$_block}__caption {
        padding: 4px 0 0 28px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 14px 0;
        > span {
          background-size: 25px 25px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
        background-size: 15px 15px;
      }

      #{$_block}__caption {
        padding: 6px 0 0 30px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0 30px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 18px 0;
        > span {
          background-size: 29px 29px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 0 0 32px;
        background-size: 17px 17px;
      }

      #{$_block}__caption {
        padding: 8px 0 0 32px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 20px 0;
        > span {
          background-size: 31px 31px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 0 0 34px;
        background-size: 18px 18px;
      }

      #{$_block}__caption {
        padding: 10px 0 0 34px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned3 {
    $_block: &;
    padding: 5px;
    box-sizing: border-box;
    > div,
    > a > div {
      box-shadow: 0 0 4px 2px $navBItemCaptioned3_boxShadowColor, inset 0 0 0 4px $navBItemCaptioned3_boxShadowColor2;
      background-color: $navBItemCaptioned3_BGColor;
      color: $navBItemCaptioned3_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/23.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 12px 12px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned3_textColor;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 10px 10px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 11px 11px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 14px 14px;
        }

        > div {
          padding: 0 0 0 39px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned4 {
    $_block: &;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: $navBItemCaptioned4_BGColor;
    box-shadow: 0 0 5px 2px $navBItemCaptioned4_boxShadowColor;
    > div,
    > a > div {
      border: 1px solid $navBItemCaptioned4_borderColor;
      box-shadow: 0 0 4px 2px $navBItemCaptioned4_borderColor, inset 0 0 4px 2px $navBItemCaptioned4_borderColor;
      color: $navBItemCaptioned4_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/24.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 12px 12px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned4_textColor;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 10px 10px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 11px 11px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 14px 14px;
        }

        > div {
          padding: 0 0 0 39px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }

    &--align-r {
      margin-left: auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned5 {
    $_block: &;
    padding: 5px;
    box-sizing: border-box;
    > div,
    > a > div {
      box-shadow: 0 0 2px 2px $navBItemCaptioned5_boxShadowColor, inset 0 0 0 5px $navBItemCaptioned5_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned5_boxShadowColor;
      background-color: $navBItemCaptioned5_BGColor;
      color: $navBItemCaptioned5_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/25.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 14px 14px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned5_textColor2;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 12px 12px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 17px 17px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        background-size: 17px 17px;
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 18px 18px;
        }

        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px 0 0 38px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned6 {
    $_block: &;
    padding: 5px;
    box-sizing: border-box;
    > div,
    > a > div {
      box-shadow: 0 0 4px 2px $navBItemCaptioned6_boxShadowColor, inset 0 0 0 4px $navBItemCaptioned6_boxShadowColor2;
      background-color: $navBItemCaptioned6_BGColor;
      color: $navBItemCaptioned6_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/32.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 12px 12px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned6_textColor;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 10px 10px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 11px 11px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 14px 14px;
        }

        > div {
          padding: 0 0 0 39px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned7 {
    $_block: &;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: $navBItemCaptioned7_BGColor;
    box-shadow: 0 0 5px 2px $navBItemCaptioned7_boxShadowColor;
    > div,
    > a > div {
      border: 1px solid $navBItemCaptioned7_borderColor;
      box-shadow: 0 0 4px 2px $navBItemCaptioned7_borderColor, inset 0 0 4px 2px $navBItemCaptioned7_borderColor;
      color: $navBItemCaptioned7_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/32.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 12px 12px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned7_textColor;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 10px 10px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 11px 11px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 14px 14px;
        }

        > div {
          padding: 0 0 0 39px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin-right: auto;
    }

    &--align-c {
      margin-left: auto;
      margin-right: auto;
    }

    &--align-r {
      margin-left: auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned8 {
    $_block: &;
    padding: 5px;
    box-sizing: border-box;
    > div,
    > a > div {
      box-shadow: 0 0 2px 2px $navBItemCaptioned8_boxShadowColor, inset 0 0 0 5px $navBItemCaptioned8_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned8_boxShadowColor;
      background-color: $navBItemCaptioned8_BGColor;
      color: $navBItemCaptioned8_textColor;
      padding: 26px 10px;
      position: relative;
      transition: .4s;
      > span {
        background-image: url("../imgs/t0-b-navItem/30.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: .4s;
        background-size: 14px 14px;
      }
    }

    > a {
      text-decoration: none;
      color: $navBItemCaptioned8_textColor2;
      &:hover {
        > div {
          opacity: .8;
          > span {
            transform: translateX(4px) translateY(-50%);
          }
        }
      }
    }

    &--size-1 {
      > a > div,
      > div {
        > span {
          background-size: 12px 12px;
        }

        > div {
          padding: 0 0 0 35px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        padding-top: 4px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        > span {
          background-size: 13px 13px;
        }

        > div {
          padding: 0 0 0 37px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        padding-top: 6px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        > span {
          background-size: 17px 17px;
        }

        > div {
          padding: 0 0 0 36px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        background-size: 17px 17px;
      }

      #{$_block}__caption {
        padding-top: 8px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        > span {
          background-size: 18px 18px;
        }

        > div {
          padding: 0 0 0 38px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
      }

      #{$_block}__caption {
        padding-top: 10px 0 0 38px;
        @include g-font(18, 1);
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png");
    background-color: $navBItemCaptioned_BGColor;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid $navBItemCaptioned_borderColor;
    border-radius: 5px;
    color: $navBItemCaptioned_textColor;
    > a {
      text-decoration: none;
      color: $navBItemCaptioned_textColor;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png");
    background-color: $navBItemCaptioned2_BGColor;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid $navBItemCaptioned2_borderColor2;
    border-radius: 5px;
    color: $navBItemCaptioned2_textColor;
    > a {
      text-decoration: none;
      color: $navBItemCaptioned2_textColor;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }

  .t0-b-navBItemCaptioned3 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/23.svg");
    background-color: $navBItemCaptioned3_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 93% 50%;
    color: $navBItemCaptioned3_textColor2;
    box-shadow: inset 0 0 0 1px $navBItemCaptioned3_boxShadowColor, inset 0 0 0 3px $navBItemCaptioned3_boxShadowColor2;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned4 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/24.svg");
    background-color: $navBItemCaptioned4_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 93% 50%;
    color: $navBItemCaptioned4_textColor;
    box-shadow: inset 0 0 0 5px $navBItemCaptioned4_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned4_boxShadowColor3;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned5 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/25.svg");
    background-color: $navBItemCaptioned5_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 92% 50%;
    color: $navBItemCaptioned5_textColor;
    box-shadow: inset 0 0 0 2px $navBItemCaptioned5_boxShadowColor, inset 0 0 0 5px $navBItemCaptioned5_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned5_boxShadowColor;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned6 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/32.svg");
    background-color: $navBItemCaptioned6_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 93% 50%;
    color: $navBItemCaptioned6_textColor2;
    box-shadow: inset 0 0 0 1px $navBItemCaptioned6_boxShadowColor, inset 0 0 0 3px $navBItemCaptioned6_boxShadowColor2;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned7 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/32.svg");
    background-color: $navBItemCaptioned7_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 93% 50%;
    color: $navBItemCaptioned7_textColor;
    box-shadow: inset 0 0 0 5px $navBItemCaptioned7_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned7_boxShadowColor3;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned8 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navItem/30.svg");
    background-color: $navBItemCaptioned8_BGColor;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 92% 50%;
    color: $navBItemCaptioned8_textColor;
    box-shadow: inset 0 0 0 2px $navBItemCaptioned8_boxShadowColor, inset 0 0 0 5px $navBItemCaptioned8_boxShadowColor2, inset 0 0 0 6px $navBItemCaptioned8_boxShadowColor;
    > div,
    > a > div {
      text-align: center;
      padding: 14px 10px;
      margin-right: 10%;
    }

    > a {
      text-decoration: none;
    }

    &__main {
      font-weight: bold;
      @include g-font(16, 1);
    }

    &__caption {
      @include g-font(14, 1);
    }
  }
}
