@if $device == PC {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;
    display: table;
    padding: 5px 3px 3px 14px;
    width: 100%;
    box-sizing: border-box;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #4d4d4d;
      background: #fff;
      box-shadow: 0 0 3px #ccc;
      position: relative;
      width: 100%;
      &:hover {
        opacity: .8;
      }

      > div {
        text-align: center;
        padding: 40px 20px;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: -5px;
          left: -14px;
          background: url("../imgs/t0-b-navItem/3.png") no-repeat 0 0;
          pointer-events: none;
          > span {
            position: absolute;
            width: 100%;
            height: 100%;
            right: -14px;
            bottom: -5px;
            background: url("../imgs/t0-b-navItem/15.png") no-repeat 100% 100%;
          }
        }

        > div {
          display: inline-block;
        }
      }
    }

    > div {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #4d4d4d;
      background: #fff;
      box-shadow: 0 0 3px #ccc;
      padding: 30px 0;
      position: relative;
      width: 100%;
      text-align: center;
      > span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -14px;
        background: url("../imgs/t0-b-navItem/3.png") no-repeat 0 0;
        pointer-events: none;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          right: -14px;
          bottom: -5px;
          background: url("../imgs/t0-b-navItem/15.png") no-repeat 100% 100%;
        }
      }

      > div {
        display: inline-block;
      }
    }

    &__main {
      background: url("../imgs/t0-b-navItem/16.png") no-repeat 0 center;
      padding: 0 0 0 20px;
      text-align: left;
    }

    &__caption {
      text-align: left;
    }

    // size
    &--size-1 {
      > a > div,
      > div {
        padding: 20px 26px 20px 40px;
        > span {
          background-size: 60px 52px;
        }

        > span > span {
          background-size: 38px 42px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
        background-size: 9px 8px;
      }

      #{$_block}__caption {
        padding: 4px 0 0 20px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 22px 30px 22px 48px;
        > span {
          background-size: 68px 59px;
        }

        > span > span {
          background-size: 42px 48px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
        background-size: 10px 9px;
      }

      #{$_block}__caption {
        padding: 6px 0 0 20px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 24px 35px 24px 55px;
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0 20px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 26px 40px 26px 63px;
        > span {
          background-size: 83px 72px;
        }

        > span > span {
          background-size: 52px 58px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        background-size: 12px 10px;
      }

      #{$_block}__caption {
        padding: 8px 0 0 20px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 28px 44px 28px 70px;
        > span {
          background-size: 90px 78px;
        }

        > span > span {
          background-size: 56px 64px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
        background-size: 13px 11px;
      }

      #{$_block}__caption {
        padding: 10px 0 0 20px;
        @include g-font(18, 1);
      }
    }

    // align
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;
    display: table;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 10px 0;
      box-shadow: 0 0 5px #ddd;
      background: #fff;
      color: #4d4d4d;
      position: relative;
      border: 1px solid #d9deed;
      &:hover {
        opacity: .8;
      }

      > div {
        padding: 16px 0;
        > span {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: url("../imgs/t0-b-navItem/6.png") no-repeat right 2px top 2px, url("../imgs/t0-b-navItem/7.png") no-repeat left 2px bottom 2px;
          top: 0;
          left: 0;
          pointer-events: none;
        }
      }
    }

    > div {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 10px 0;
      box-shadow: 0 0 5px #ddd;
      background: #fff;
      color: #4d4d4d;
      padding: 16px 0;
      position: relative;
      border: 1px solid #d9deed;
      > span {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: url("../imgs/t0-b-navItem/6.png") no-repeat right 2px top 2px, url("../imgs/t0-b-navItem/7.png") no-repeat left 2px bottom 2px;
        top: 0;
        left: 0;
        pointer-events: none;
      }
    }

    &__main {
      background: url("../imgs/t0-b-navItem/4.png") no-repeat 10px center;
      padding: 0 0 0 30px;
      text-align: left;
    }

    &__caption {
      text-align: left;
      padding: 0 0 0 30px;
    }

    // size
    &--size-1 {
      > a > div,
      > div {
        padding: 12px 0;
        > span {
          background-size: 23px 23px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 0 0 28px;
        background-size: 13px 13px;
      }

      #{$_block}__caption {
        padding: 4px 0 0 28px;
        @include g-font(12, 1);
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 14px 0;
        > span {
          background-size: 25px 25px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
        background-size: 15px 15px;
      }

      #{$_block}__caption {
        padding: 6px 0 0 30px;
        @include g-font(12, 1);
      }
    }

    &--size-3 {
      > a > div,
      > div {
        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        padding: 8px 0 0 30px;
        @include g-font(14, 1);
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 18px 0;
        > span {
          background-size: 29px 29px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 0 0 32px;
        background-size: 17px 17px;
      }

      #{$_block}__caption {
        padding: 8px 0 0 32px;
        @include g-font(16, 1);
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 20px 0;
        > span {
          background-size: 31px 31px;
        }

        > div {
          padding: 10px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 0 0 34px;
        background-size: 18px 18px;
      }

      #{$_block}__caption {
        padding: 10px 0 0 34px;
        @include g-font(18, 1);
      }
    }

    // align
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #d62a18;
    border-radius: 5px;
    color: #4d4d4d;
    > a {
      text-decoration: none;
      color: #4d4d4d;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #67779e;
    border-radius: 5px;
    color: #4d4d4d;
    > a {
      text-decoration: none;
      color: #4d4d4d;
      > div {
        text-align: center;
        width: 100% !important;
      }
    }

    > div {
      text-align: center;
      width: 100% !important;
    }

    &__main {
      font-weight: bold;
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      > a > div,
      > div {
        > div {
          padding: 12px 10px;
          margin-right: 10%;
        }
      }

      #{$_block}__main {
        @include g-font(16, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
      }
    }
  }
}
