@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    $_block: &;
    box-shadow: 0 0 6px $navBItem2Captioned_boxShadowColor;
    background: $navBItem2Captioned_BGColor;
    margin: 0 50px auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    line-height: 0;
    > div {
      display: inline-block;
      text-align: center;
    }

    &__icon {
      display: table-cell;
      width: 48px;
      text-align: right;
      background: url("../imgs/t0-b-navItem/2.png") no-repeat 0 50%;
    }

    &__text {
      display: table-cell;
      padding: 10px 0 10px 10px;
      position: relative;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 8px;
      color: $navBItem2Captioned_textColor;
    }

    &__main {
      @include g-font(26, 1);
      color: $navBItem2Captioned_textColor2;
    }

    a {
      color: $navBItem2Captioned_textColor2;
      text-decoration: none;
      display: inline-block;
      &:hover {
        opacity: .8;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 8px 0 0;
      color: $navBItem2Captioned_textColor;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;
    box-shadow: 0 0 6px $navBItem2Captioned2_boxShadowColor;
    background: $navBItem2Captioned2_BGColor;
    margin: 0 50px auto;
    position: relative;
    text-align: center;
    line-height: 0;
    border: 1px solid $navBItem2Captioned2_borderColor;
    > div {
      display: inline-block;
      text-align: center;
    }

    &__icon {
      display: table-cell;
      width: 48px;
      text-align: right;
      background: url("../imgs/t0-b-navItem/13.png") no-repeat 20px 50%;
    }

    &__text {
      display: table-cell;
      padding: 10px;
      position: relative;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 8px;
      color: $navBItem2Captioned2_textColor;
    }

    &__main {
      @include g-font(26, 1);
      color: $navBItem2Captioned2_textColor2;
    }

    a {
      color: $navBItem2Captioned2_textColor2;
      text-decoration: none;
      display: inline-block;
      &:hover {
        opacity: .8;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 8px 0 0;
      color: $navBItem2Captioned2_textColor;
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: $navBItem2Captioned_textColor2;
    }

    background-image: url("../imgs/t0-b-navList/bg4.png"), linear-gradient($navBItem2Captioned_BGColor, $navBItem2Captioned_BGColor, $navBItem2Captioned_BGColor);
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid $navBItem2Captioned_borderColor;
    border-radius: 5px;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);
      color: $navBItem2Captioned_textColor;
      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      color: $navBItem2Captioned_textColor2;
    }

    &__caption-lower {
      @include g-font(14, 1);
      color: $navBItem2Captioned_textColor;
      padding: 5px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: $navBItem2Captioned2_textColor2;
    }

    background-image: url("../imgs/t0-b-navList/bg4.png"), linear-gradient(#f3f3ed, #f3f3ed, #f3f3ed);
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid $navBItem2Captioned2_borderColor;
    border-radius: 5px;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);
      color: $navBItem2Captioned2_textColor;
      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
      color: $navBItem2Captioned2_textColor2;
    }

    &__caption-lower {
      @include g-font(14, 1);
      color: $navBItem2Captioned2_textColor;
      padding: 5px 0 0;
    }
  }
}
