@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    $_block: &;

    box-shadow: 0 0 6px #ddd;
    background: #f7fbfd;
    margin: 0 50px auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    line-height: 0;
    > div {
      display: inline-block;
      text-align: center;
    }

    &__icon {
      display: table-cell;
      width: 48px;
      text-align: right;
      background: url("../imgs/t0-b-navItem/2.png") no-repeat 0 50%;
    }

    &__text {
      display: table-cell;
      padding: 10px 0 10px 10px;
      position: relative;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 8px;
      color: #4d4d4d;
    }

    &__main {
      @include g-font(26, 1);

      color: #0e2753;
    }

    a {
      color: #0e2753;
      text-decoration: none;
      display: inline-block;
      &:hover {
        opacity: .8;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 8px 0 0;
      color: #4d4d4d;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    $_block: &;
    box-shadow: 0 0 6px #ddd;
    background: #f3f3ed;
    margin: 0 50px auto;
    position: relative;
    text-align: center;
    line-height: 0;
    border: 1px solid #d4dde1;
    > div {
      display: inline-block;
      text-align: center;
    }

    &__icon {
      display: table-cell;
      width: 48px;
      text-align: right;
      background: url("../imgs/t0-b-navItem/13.png") no-repeat 20px 50%;
    }

    &__text {
      display: table-cell;
      padding: 10px;
      position: relative;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 8px;
      color: #4d4d4d;
    }

    &__main {
      @include g-font(26, 1);

      color: #0e2753;
    }

    a {
      color: #0e2753;
      text-decoration: none;
      display: inline-block;
      &:hover {
        opacity: .8;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 8px 0 0;
      color: #4d4d4d;
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: #0e2753;
    }

    background-image: url("../imgs/t0-b-navList/bg4.png"), linear-gradient(#f7fbfd, #f7fbfd, #f7fbfd);
    background-image: url("../imgs/t0-b-navList/bg4.png"), -webkit-gradient(linear, left top, left bottom, from(#f7fbfd), color-stop(.5, #f7fbfd), to(#f7fbfd));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);

      color: #4d4d4d;
      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
      color: #0e2753;
    }

    &__caption-lower {
      @include g-font(14, 1);

      color: #4d4d4d;
      padding: 5px 0 0;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    > a {
      text-decoration: none;
      color: #0e2753;
    }

    background-image: url("../imgs/t0-b-navList/bg4.png"), linear-gradient(#f3f3ed, #f3f3ed, #f3f3ed);
    background-image: url("../imgs/t0-b-navList/bg4.png"), -webkit-gradient(linear, left top, left bottom, from(#f3f3ed), color-stop(.5, #f3f3ed), to(#f3f3ed));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #d4dde1;
    border-radius: 5px;
    > div {
      margin: 0 auto;
    }

    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }

    &__caption-upper {
      @include g-font(14, 1);

      color: #4d4d4d;
      padding: 0 0 5px;
    }

    &__main {
      @include g-font(16, 1);

      font-weight: bold;
      color: #0e2753;
    }

    &__caption-lower {
      @include g-font(14, 1);

      color: #4d4d4d;
      padding: 5px 0 0;
    }
  }
}
