@if $device == PC {
  .t0-b-sideNavItemWithImg#{$variation1of3} {
    $_block: &;
    > a {
      background: #fff;
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border-radius: 10px;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 40px #ddd inset;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        width: 100%;
      }
    }

    > div {
      background: #fff;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border-radius: 10px;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 40px #ddd inset;

      display: table;
      width: 100%;
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of3} {
    $_block: &;
    > a {
      background: linear-gradient(#fff, #e9ecf5);
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        width: 100%;
        background: url("../imgs/b-sideMenu/11.png") no-repeat 50% 100%;
      }
    }

    > div {
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      display: table;
      width: 100%;
      background: url("../imgs/b-sideMenu/11.png") no-repeat 50% 100%, linear-gradient(#fff, #e9ecf5);
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation3of3} {
    $_block: &;
    > a {
      background: linear-gradient(#fffdfd, #d7d29d);
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 5px #ccc;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        width: 100%;
      }
    }

    > div {
      background: linear-gradient(#fffdfd, #d7d29d);
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 5px #ccc;
      display: table;
      width: 100%;
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavItemWithImg#{$variation1of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    > a {
      background: #fff;
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border-radius: 10px;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 40px #ddd inset;
      > div {
        display: table;
        width: 100%;
      }
    }

    > div {
      background: #fff;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border-radius: 10px;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 40px #ddd inset;
      display: table;
      width: 100%;
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation2of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    > a {
      background: linear-gradient(#fff, #e9ecf5);
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      > div {
        display: table;
        width: 100%;
        background: url("../imgs/b-sideMenu/11.png") no-repeat 50% 100%;
      }
    }

    > div {
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      display: table;
      width: 100%;
      background: url("../imgs/b-sideMenu/11.png") no-repeat 50% 100%, linear-gradient(#fff, #e9ecf5);
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }

  .t0-b-sideNavItemWithImg#{$variation3of3} {
    $_block: &;
    width: 95%;
    margin: 0 auto;
    > a {
      background: linear-gradient(#fffdfd, #d7d29d);
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 5px #ccc;
      > div {
        display: table;
        width: 100%;
      }
    }

    > div {
      background: linear-gradient(#fffdfd, #d7d29d);
      box-sizing: border-box;
      text-decoration: none;
      color: #4d4d4d;
      border: 1px solid #dcdee3;
      box-shadow: 0 0 5px #ccc;
      display: table;
      width: 100%;
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;
      width: 60px;
      img {
        display: block;
        width: 60px;
      }
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding: 10px;

      @include g-font-spacingKilled(16, 1);

      color: #0e2753;
    }

    // directions
    &--imgL > a > div,
    &--imgL > div {
      direction: ltr;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-right: 0;
      }
    }

    &--imgR > a > div,
    &--imgR > div {
      direction: rtl;
      > div {
        direction: ltr;
      }

      #{$_block}__img {
        padding-left: 0;
      }
    }
  }
}
