@if $device == PC {
  .t0-b-headerMenu#{$variation1of3} {
    $_width_content: 980px;

    background: #fff;
    box-shadow: 0 0 3px #ddd;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding-left: 7px;
        box-sizing: border-box;
        background: url("../imgs/t0-b-headerMenu/header6.png") no-repeat 0 50%;
        > li {
          display: table-cell;
          background: url("../imgs/t0-b-headerMenu/header6.png") no-repeat 100% 50%;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        color: #0e2753;

        @include g-font(14, 1);

        padding: 0 20px 0 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: #0e2753;
        div {
          background: url("../imgs/t0-b-headerMenu/17.png") no-repeat 100% 50%, linear-gradient(#fff, #f0efe8);
        }
      }
    }

    .state-em {
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 7px;
        background: url("../imgs/t0-b-headerMenu/header7.png") no-repeat 2px 2px, url("../imgs/t0-b-headerMenu/header9.png") no-repeat right 2px top 2px;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url("../imgs/t0-b-headerMenu/header8.png") no-repeat left 2px bottom 2px, url("../imgs/t0-b-headerMenu/header10.png") no-repeat right 2px bottom 2px;
        }
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        background: url("../imgs/t0-b-headerMenu/17.png") no-repeat 100% 50%, linear-gradient(#fff, #f0efe8);
        span {
          background: none;
        }
      }
    }

    .state-current {
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 3px;
        left: 0;
        right: 7px;
        background-image: url("../imgs/t0-b-headerMenu/bg.png"), url("../imgs/t0-b-headerMenu/bg2.png"), url("../imgs/t0-b-headerMenu/bg3.png"), url("../imgs/t0-b-headerMenu/bg4.png"), url("../imgs/t0-b-headerMenu/bg5.png"), url("../imgs/t0-b-headerMenu/bg6.png"), url("../imgs/t0-b-headerMenu/bg7.png"), url("../imgs/t0-b-headerMenu/bg8.png");
        background-position: left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
        > span {
          background: none;
        }
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        background: url("../imgs/t0-b-headerMenu/17.png") no-repeat 100% 50%, linear-gradient(#fff, #f0efe8);
        span {
          background: none;
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation2of3} {
    $_width_content: 980px;

    background: #fff;
    box-shadow: 0 0 3px #ddd;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding-left: 1px;
        box-sizing: border-box;
        background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 0 50%;
        > li {
          display: table-cell;
          background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        color: #0e2753;

        @include g-font(14, 1);

        padding: 0 20px 0 19px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        position: relative;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: #0e2753;
        div {
          background: url("../imgs/t0-b-headerMenu/18.png") no-repeat 100% 50%, linear-gradient(#fff, #e3e6eb);
        }
      }
    }

    .state-em {
      position: relative;
      min-width: 71px;
      > span {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 1px;
        background-image: url("../imgs/t0-b-headerMenu/1/bg.png"), url("../imgs/t0-b-headerMenu/1/bg2.png"), url("../imgs/t0-b-headerMenu/1/bg3.png"), url("../imgs/t0-b-headerMenu/1/bg4.png"), url("../imgs/t0-b-headerMenu/1/bg5.png"), url("../imgs/t0-b-headerMenu/1/bg6.png"), url("../imgs/t0-b-headerMenu/1/bg7.png"), url("../imgs/t0-b-headerMenu/1/bg8.png"), url("../imgs/t0-b-headerMenu/1/bg9.png"), url("../imgs/t0-b-headerMenu/1/bg10.png");
        background-position: center top, center bottom, left top, left bottom, right bottom, right top, left top, left bottom, right top, left top;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        div {
          background: url("../imgs/t0-b-headerMenu/18.png") no-repeat 100% 50%, linear-gradient(#fff, #e3e6eb);
          span {
            background: none;
          }
        }
      }
    }

    .state-current {
      position: relative;
      > span {
        position: absolute;
        pointer-events: none;
        top: 1px;
        left: 1px;
        right: 2px;
        bottom: 1px;
        background: url("../imgs/t0-b-headerMenu/header7.png") no-repeat 0 0, url("../imgs/t0-b-headerMenu/header9.png") no-repeat right top;
        background-color: #f8f7f2;
        > span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url("../imgs/t0-b-headerMenu/header8.png") no-repeat left bottom, url("../imgs/t0-b-headerMenu/header10.png") no-repeat right bottom;
          pointer-events: none;
        }
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        div {
          background: url("../imgs/t0-b-headerMenu/18.png") no-repeat 100% 50%, linear-gradient(#fff, #e3e6eb);
          span {
            background: none;
          }
        }
      }
    }
  }

  .t0-b-headerMenu#{$variation3of3} {
    $_width_content: 980px;

    background: linear-gradient(#fff, #ecf3f7);
    box-shadow: 0 0 3px #ced5d8;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding-left: 1px;
        box-sizing: border-box;
        background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 0 50%;
        > li {
          display: table-cell;
          background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        color: #0e2753;

        @include g-font(14, 1);

        padding: 0 20px 0 19px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: #0e2753;
        div {
          background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%, linear-gradient(#dbe7ef, #fff);
        }
      }
    }

    .state-em {
      position: relative;
      background: #fff;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        right: 1px;
        bottom: 0;
        background: url("../imgs/t0-b-headerMenu/15.png") no-repeat 100% 0, url("../imgs/t0-b-headerMenu/14.png") no-repeat 0 100%;
        pointer-events: none;
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%, linear-gradient(#dbe7ef, #fff);
        span {
          background: none;
        }
      }
    }

    .state-current {
      position: relative;
      background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%, #eeece3;
      > span {
        background: none;
      }

      a {
        position: relative;
      }

      &:hover {
        color: #0e2753;
        background: url("../imgs/t0-b-headerMenu/16.png") no-repeat 100% 50%, linear-gradient(#dbe7ef, #fff);
      }
    }
  }

  .t0-b-headerMenu4 {
    $_width_content: 980px;

    background: #fff;
    color: #0e2753;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        padding-left: 7px;
        box-sizing: border-box;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      transition: all .3s;
      div {
        @include g-font(14, 1);

        padding: 0 20px 0 13px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60px;
        text-align: center;
        transition: all .3s;
        color: inherit;
        &:hover {
          color: #b7151d;
        }
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
    }

    .state-current,
    .state-current a {
      color: #b7151d;
    }
  }

  .t0-b-headerMenu5 {
    $_width_content: 980px;

    background-color: #0e2753;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        display: table;
        width: 100%;
        > li {
          min-width: 15px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      @include g-font-spacingKilled(14, 1);

      background-color: transparent;
      transition: all .3s;
      &::before, &::after {
        display: none;
      }

      a {
        text-decoration: none;
        display: table;
        width: 100%;
        transition: all .3s;
        > div {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
      }

      div {
        padding: 4px 20px;
        max-height: 42px;
        min-height: 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &:hover {
        background-color: #b0b8c6;
        &, & a {
          color: #0e2753;
        }
      }
    }

    .state-current {
      background-color: #b0b8c6;
      color: #0e2753;
      a {
        color: #0e2753;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of3} {
    ul {
      padding: 5px 0;
    }

    background: #fff;
    border: 1px solid #ececec;

    @include g-font-spacingKilled(12, 1);

    margin: 0 -15px;
    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #0e2753;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #0e2753;
    }

    .state-em {
      > div,
      a > div {
        color: #0e2753;
        font-weight: bold;
      }

      a {
        color: #0e2753;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #f2f1eb;
          font-weight: normal;
          color: #0e2753;
        }
      }

      a {
        color: #0e2753;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of3} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    background: #fff;
    border: 1px solid #dadfe4;

    @include g-font-spacingKilled(12, 1);

    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #0e2753;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #0e2753;
    }

    .state-em {
      > div,
      a > div {
        &, &:hover {
          color: #0e2753;
          font-weight: bold;
        }
      }

      a {
        color: #0e2753;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          background: #f8f7f2;
          font-weight: normal;
          color: #0e2753;
        }
      }

      a {
        color: #0e2753;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation3of3} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    background: linear-gradient(#fff, #ecf3f7);
    @include g-font-spacingKilled(12, 1);

    text-align: center;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div,
      a > div {
        color: #0e2753;
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    a {
      color: #0e2753;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #0e2753;
      }

      a {
        color: #0e2753;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          color: #0e2753;
          font-weight: normal;
          background: #eeece3;
        }
      }

      a {
        color: #0e2753;
        text-shadow: none;
      }
    }
  }

  .t0-b-headerMenu4 {
    @include g-font-spacingKilled(12, 1);

    margin: 0 -15px;
    background-color: #fff;
    text-align: center;
    color: #0e2753;
    a {
      color: #0e2753;
    }

    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div, > a > div {
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    .state-em {
      font-weight: bold;
    }

    .state-current {
      > div, > a > div {
        color: #b7151d;
      }
    }
  }

  .t0-b-headerMenu5 {
    @include g-font-spacingKilled(12, 1);

    margin: 0 -15px;
    background-color: #0e2753;
    text-align: center;
    color: #fff;
    a {
      color: #fff;
    }

    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 15px;
      display: inline-block;
      > div, > a > div {
        list-style: none;
        padding: 5px 0;
        text-decoration: underline;
      }
    }

    .state-em {
      font-weight: bold;
    }

    .state-current {
      > div, > a > div {
        padding: 5px;
        background-color: #b0b8c6;
      }
    }
  }
}
