@if $device == PC {
  .t0-b-headerUnit-contact-fax {
    display: table;
    white-space: nowrap;
    > div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-iconText/icons/fax/fax.png");
      background-size: 32px auto;
      min-width: 32px;
      height: 26px;
    }

    > p {
      display: table-cell;
      @include g-font(14, 1);
      font-weight: bold;
      vertical-align: middle;
      padding: 2px 0 0 6px;
      color: #0e2753;
    }

    //サイト名中央に入ったときのみ中央寄せの見た目にする
    .t0-b-headerSingle &,
    .t0-b-headerSingle1 & {
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-fax {
    display: table;
    > div {
      display: table-cell;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url("../imgs/t0-b-iconText/icons/fax/fax.png");
      background-size: 32px auto;
      width: 32px;
      height: 25px;
    }

    > p {
      display: table-cell;
      @include g-font(16, 1);
      font-weight: bold;
      vertical-align: middle;
      padding: 2px 0 0 6px;
      color: #0e2753;
    }
  }
}
