@if $device == PC {
  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    white-space: nowrap;
    display: table;
    color: #0e2753;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0 0 2px #dfdfdf;
    a {
      text-decoration: none;
      display: inline-table;
      color: #0e2753;
      &:hover {
        opacity: .8;
      }
    }

    p {
      display: table-cell;
      padding: 5px 10px 5px 0;
      width: 100%;
      @include g-font(12, 1);
    }

    div {
      display: table-cell;
      padding: 0 7px 0 10px;
      vertical-align: middle;
      &::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background: url("../imgs/t0-b-navItem/19.png") no-repeat 0 50%;
      }
    }

    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    .t0-b-headerSingle &,
    .t0-b-headerSingle1 & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    white-space: nowrap;
    display: table;
    color: #0e2753;
    width: 100%;
    background: #fff;
    border: 1px solid #dedede;
    box-sizing: border-box;
    box-shadow: 0 0 2px #dfdfdf;
    a {
      text-decoration: none;
      display: inline-table;
      color: #0e2753;
      &:hover {
        opacity: .8;
      }
    }

    p {
      display: table-cell;
      padding: 5px 10px 5px 0;
      width: 100%;
      @include g-font(12, 1);
    }

    div {
      display: table-cell;
      padding: 0 7px 0 10px;
      vertical-align: middle;
      &::before {
        content: "";
        display: block;
        width: 7px;
        height: 8px;
        background: url("../imgs/t0-b-navItem/11.png") no-repeat 0 50%;
        background-size: 7px 7px;
      }
    }
    // サイト名(中央)に入ったときは文字数分の幅で中央寄せにする
    .t0-b-headerSingle &,
    .t0-b-headerSingle1 & {
      width: auto;
      margin: 0 auto;
      white-space: normal;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), color-stop(.5, #f2f2f2), to(#f2f2f2));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #dedede;
    border-radius: 5px;
    color: #0e2753;
    a {
      text-decoration: none;
      color: #0e2753;
      p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }
  }

  .t0-b-headerUnit-contact-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg4.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #fff), to(#fff));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #dedede;
    border-radius: 5px;
    color: #0e2753;
    a {
      text-decoration: none;
      color: #0e2753;
      p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }

    > p {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
      @include g-font(16, 1);
    }
  }
}
