@if $device == PC {
  .t0-b-headerUnit-miniCol {
    $_block: &;
    display: table;
    white-space: nowrap;
    a {
      color: inherit;
      &:hover {
        color: $hovercolor;
      }
    }

    &__hd {
      display: table-row;
      > div {
        display: table-cell;
        text-align: center;
        @include g-font(16, 1);
      }
    }

    &__bd {
      display: table-row;
      > div {
        display: table-cell;
        text-align: center;
        @include g-font(16, 1);
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-miniCol {
    $_block: &;
    box-sizing: border-box;
    display: table;
    width: 100%;
    a {
      color: inherit;
    }

    &__hd {
      display: table-row;
      > div {
        display: table-cell;
        text-align: center;
        @include g-font(16, 1);
      }
    }

    &__bd {
      display: table-row;
      > div {
        display: table-cell;
        text-align: center;
        @include g-font(16, 1);
      }
    }
  }
}
