@if $device == PC {
  .t0-b-copyright {
    background: $copyright_BGColor;
    color: $copyright_textColor;
    text-align: center;
    padding: 10px 0;
    @include g-font(12, 1);
  }
}

@if $device == SP {
  .t0-b-copyright {
    margin: 0 -15px;
    background: $copyright_BGColor;
    color: $copyright_textColor;
    text-align: center;
    @include g-font-spacingKilled(12, 1);
    padding: 10px 0;
  }
}
