@if $device == PC {
  .t0-b-footerUnit-contact {
    $_block: &;
    > div {
      display: table-cell;
      vertical-align: middle;
    }

    &__media {
      padding: 0 10px 0 0;
      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &__bd {
      white-space: nowrap;
      vertical-align: bottom;
    }

    &__bd > div {
      margin-top: 5px;
      &:first-child {
        margin-top: 0;
      }
    }

    &__note {
      @include g-font-spacingKilled(12, 1);

      color: #4d4d4d;
    }

    &__iconTextBase {
      color: #0e2753;
      margin-bottom: -9px;

      @include g-font-spacingKilled(36, 1);
      #{$_block}__tel + span,
      #{$_block}__fax + span,
      #{$_block}__free + span,
      #{$_block}__cell + span {
        font-size: 80%;
      }

      > span {
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center 0;
        display: inline-block;
      }

      #{$_block}__tel,
      #{$_block}__fax,
      #{$_block}__free,
      #{$_block}__cell {
        vertical-align: baseline;
      }
    }

    &__iconTextRuby {
      font-weight: bold;
      text-align: right;

      @include g-font-spacingKilled(14, 1);

      color: #0e2753;
    }

    &--size-1 {
      #{$_block}__iconTextBase {
        @include g-font-spacingKilled(26, 1);
        #{$_block}__tel {
          width: 26px;
          height: 21px;
          background-image: url("../imgs/t0-b-iconText/icons/tel/2.png");
          background-size: 26px 21px;
          margin-right: 5px;
          padding-bottom: 3px;
        }

        #{$_block}__fax {
          width: 28px;
          height: 23px;
          background-image: url("../imgs/t0-b-iconText/icons/fax/2.png");
          margin-right: 5px;
          padding-bottom: 2px;
        }

        #{$_block}__free {
          width: 31px;
          height: 18px;
          background-image: url("../imgs/t0-b-iconText/icons/free/2.png");
          margin-right: 2px;
          padding-bottom: 4px;
        }

        #{$_block}__cell {
          width: 12px;
          height: 24px;
          background-image: url("../imgs/t0-b-iconText/icons/cell/2.png");
          margin-right: 5px;
          padding-bottom: 3px;
        }
      }

      #{$_block}__iconTextRuby {
        @include g-font-spacingKilled(12, 1);
      }
    }

    &--size-2 {
      #{$_block}__iconTextBase {
        @include g-font-spacingKilled(36, 1);
        #{$_block}__tel {
          width: 32px;
          height: 26px;
          background-image: url("../imgs/t0-b-iconText/icons/tel/3.png");
          margin-right: 5px;
          padding-bottom: 6px;
        }

        #{$_block}__fax {
          width: 38px;
          height: 32px;
          background-image: url("../imgs/t0-b-iconText/icons/fax/3.png");
          margin-right: 5px;
          background-size: 38px 32px;
          padding-bottom: 3px;
        }

        #{$_block}__free {
          width: 37px;
          height: 21px;
          background-image: url("../imgs/t0-b-iconText/icons/free/3.png");
          margin-right: 2px;
          padding-bottom: 7px;
        }

        #{$_block}__cell {
          width: 15px;
          height: 31px;
          background-image: url("../imgs/t0-b-iconText/icons/cell/3.png");
          margin-right: 5px;
          padding-bottom: 4px;
        }
      }

      #{$_block}__iconTextRuby {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &--size-3 {
      #{$_block}__iconTextBase {
        @include g-font-spacingKilled(44, 1);
        #{$_block}__tel {
          width: 38px;
          height: 30px;
          background-image: url("../imgs/t0-b-iconText/icons/tel/4.png");
          margin-right: 5px;
          background-size: 38px 30px;
          padding-bottom: 8px;
        }

        #{$_block}__fax {
          width: 40px;
          height: 33px;
          background-image: url("../imgs/t0-b-iconText/icons/fax/4.png");
          margin-right: 5px;
          background-size: 40px 33px;
          padding-bottom: 6px;
        }

        #{$_block}__free {
          width: 41px;
          height: 23px;
          background-image: url("../imgs/t0-b-iconText/icons/free/4.png");
          margin-right: 2px;
          padding-bottom: 9px;
        }

        #{$_block}__cell {
          width: 16px;
          height: 33px;
          background-image: url("../imgs/t0-b-iconText/icons/cell/4.png");
          margin-right: 5px;
          background-size: 16px 33px;
          padding-bottom: 8px;
        }
      }

      #{$_block}__iconTextRuby {
        @include g-font-spacingKilled(16, 1);
      }
    }

    &--size-4 {
      #{$_block}__iconTextBase {
        @include g-font-spacingKilled(50, 1);
      }

      #{$_block}__tel {
        width: 44px;
        height: 35px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/4.png");
        margin-right: 5px;
        padding-bottom: 9px;
      }

      #{$_block}__fax {
        width: 42px;
        height: 35px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/4.png");
        margin-right: 5px;
        padding-bottom: 8px;
      }

      #{$_block}__free {
        width: 51px;
        height: 29px;
        background-image: url("../imgs/t0-b-iconText/icons/free/5.png");
        margin-right: 2px;
        padding-bottom: 10px;
      }

      #{$_block}__cell {
        width: 17px;
        height: 36px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/4.png");
        margin-right: 5px;
        background-size: 17px 36px;
        padding-bottom: 9px;
      }

      #{$_block}__iconTextRuby {
        @include g-font-spacingKilled(18, 1);
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-contact {
    width: 95%;
    margin: 0 auto;

    $_block: &;
    &__media {
      text-align: center;
      display: block;
      img {
        width: 25%;
      }
    }

    &__note {
      @include g-font-spacingKilled(14, 1);

      margin-top: 10px;
      text-align: center;
      color: #4d4d4d;
    }

    &__iconText {
      margin-top: 10px;
      width: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #f6f6f6), to(#eee)) left top repeat;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px 0;
      word-break: break-all;
    }

    &__iconTextBase {
      @include g-font(14, 1);

      text-align: center;
      color: #f00;
      span {
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center 0;
        display: inline-block;
      }
    }

    &--size-1,
    &--size-2,
    &--size-3,
    &--size-4,
    &--size-5 {
      #{$_block}__iconTextRuby {
        @include g-font(12, 1);

        color: #4d4d4d;
        text-align: center;
      }

      #{$_block}__tel {
        width: 20px;
        height: 16px;
        background-image: url("../imgs/t0-b-iconText/icons/tel/1.png");
        padding: 0 10px 0 0;
        background-repeat: no-repeat;
        margin-top: -2px;
      }

      #{$_block}__fax {
        width: 21px;
        height: 18px;
        background-image: url("../imgs/t0-b-iconText/icons/fax/1.png");
        padding: 0 10px 0 0;
        background-repeat: no-repeat;
      }

      #{$_block}__free {
        width: 25px;
        height: 14px;
        background-image: url("../imgs/t0-b-iconText/icons/free/1.png");
        padding: 0 3px 0 0;
        background-repeat: no-repeat;
        background-position: left center;
      }

      #{$_block}__cell {
        width: 8px;
        height: 18px;
        background-image: url("../imgs/t0-b-iconText/icons/cell/1.png");
        background-position: center center;
        padding: 0 10px 0 0;
        background-repeat: no-repeat;
        margin-top: -3px;
      }
    }
  }
}
