@if $device == PC {
  .t0-b-footerUnit-navB#{$variation1of2} {
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      &:first-child {
        padding-left: 0;
      }

      div {
        color: #fff;
        background: #1e407d;
        @include g-font(14, 1);
        border-radius: 30px;
        box-shadow: 0 0 5px #ccc;
        a {
          text-decoration: none;
          padding: 5px 20px;
          display: block;
          color: #fff;
          background: url("../imgs/b-sideMenu/8.png") no-repeat 10px center;
          &:hover {
            opacity: .8;
          }

          p {
            display: block;
          }
        }
      }

      div > p {
        &:last-child {
          display: block;
          padding: 5px 20px;
          background: url("../imgs/b-sideMenu/8.png") no-repeat 10px center;
        }
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    white-space: nowrap;
    &__item {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      &:first-child {
        padding-left: 0;
      }

      div {
        color: #4d4d4d;
        background: #e8eaf2;
        @include g-font(14, 1);
        border-radius: 30px;
        box-shadow: 0 0 8px #bbb;
        border: 1px solid #ccc;
        a {
          text-decoration: none;
          padding: 5px 20px;
          display: block;
          color: #4d4d4d;
          background: url("../imgs/b-sideMenu/2.png") no-repeat 10px center;
          &:hover {
            opacity: .8;
          }

          p {
            display: block;
          }
        }
      }

      div > p {
        &:last-child {
          display: block;
          padding: 5px 20px;
          background: url("../imgs/b-sideMenu/2.png") no-repeat 10px center;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-navB#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#1e407d, #1e407d, #1e407d);
      background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#1e407d), color-stop(.5, #1e407d), to(#1e407d));
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #1e407d;
      border-radius: 5px;
      margin-top: 10px;
      color: #fff;
      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #fff;
        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }

      div > p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }
  }

  .t0-b-footerUnit-navB#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    color: #4d4d4d;
    &__item {
      background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#e8eaf2, #e8eaf2, #e8eaf2);
      background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#e8eaf2), color-stop(.5, #e8eaf2), to(#e8eaf2));
      background-repeat: no-repeat;
      background-size: 17px 17px, 100%;
      background-position: 95% 50%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #4d4d4d;
        p {
          display: block;
          text-decoration: none;
          text-align: center;
          margin-right: 10%;
          padding: 12px 10px;
          @include g-font(16, 1);
        }
      }

      div > p {
        display: block;
        text-decoration: none;
        text-align: center;
        margin-right: 10%;
        padding: 12px 10px;
        @include g-font(16, 1);
      }
    }
  }
}
