@if $device == PC {
  .t0-b-footerUnit-siteName2 {
    color: #4d4d4d;
    &__bd {
      img {
        display: block;
        max-width: 100%;
        width: 100%;
      }
    }

    &__ft {
      @include g-font-spacingKilled(12, 2);
      padding: 10px 0 0;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-siteName2 {
    color: #4d4d4d;
    &__bd {
      img {
        display: block;
        width: 100%;
      }
    }

    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 10px 0 0;
    }
  }
}
