@if $device == PC {
  .t0-b-footerMenuWithCp {
    width: 100%;
    color: $footerMenuWithCp_textColor;
    background: $footerMenuWithCp_BGColor;
    > div {
      background: $footerMenuWithCp_BGColor;
      min-height: 20px;
      display: table;
      width: 980px;
      padding: 10px 0;
      margin: 0 auto;
    }

    p {
      display: table-cell;
      @include g-font-spacingKilled(12, 1);
      padding: 0 0 0 13px;
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        color: $footerMenuWithCp_textColor;
        @include g-font-spacingKilled(12, 1);
        text-decoration: none;
        padding: 0 13px;
        background: url("../imgs/b-sideMenu/8.png") 0 no-repeat;
        &:hover {
          text-decoration: underline;
        }
      }

      a {
        color: $footerMenuWithCp_textColor;
        text-decoration: none;
      }
    }

    .state-em {
      font-weight: bold;
    }
  }
}

@if $device == SP {
  .t0-b-footerMenuWithCp {
    @include g-font-spacingKilled(12, 1);
    color: $footerMenuWithCp_textColor;
    margin: 0 -15px;
    text-align: center;
    > div {
      background: $footerMenuWithCp_BGColor;
      display: table;
      width: 100%;
    }

    p {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 0 0 5px;
      background: $footerMenuWithCp_BGColor;
      color: $footerMenuWithCp_textColor;
      box-sizing: border-box;
    }

    &__menu {
      display: table-header-group;
      a {
        color: $footerMenuWithCp_textColor;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }

        margin-left: 15px;
        display: inline-block;
        text-align: left;
        padding: 5px 0;
        color: $footerMenuWithCp_textColor;
        text-decoration: underline;
      }
    }

    .state-em {
      font-weight: bold;
      > a {
        font-weight: bold;
      }
    }
  }
}
