@if $device == PC {
  .t0-b-footerFullWidthFrame,
  .t0-b-footerFullWidthFrame2 {
    background-color: $footerFullWidthFrame_BGColor;
  }

  .t0-b-footerFullWidthFrame3,
  .t0-b-footerFullWidthFrame4 {
    background-color: $footerFullWidthFrame_BGColor2;
  }

  .t0-b-footerFullWidthFrame5,
  .t0-b-footerFullWidthFrame6 {
    background-color: $footerFullWidthFrame_BGColor3;
  }

  .t0-b-footerFullWidthFrame7,
  .t0-b-footerFullWidthFrame8 {
    background-color: $footerFullWidthFrame_BGColor4;
    &::before {
      background-color: $footerFullWidthFrame_BGColor5;
    }
  }

  .t0-b-footerFullWidthFrame9,
  .t0-b-footerFullWidthFrame10 {
    background-color: $footerFullWidthFrame_BGColor5;
  }
}

@if $device == SP {
  .t0-b-footerFullWidthFrame,
  .t0-b-footerFullWidthFrame2 {
    background-color: $footerFullWidthFrame_BGColor;
  }

  .t0-b-footerFullWidthFrame3,
  .t0-b-footerFullWidthFrame4 {
    background-color: $footerFullWidthFrame_BGColor2;
  }

  .t0-b-footerFullWidthFrame5,
  .t0-b-footerFullWidthFrame6 {
    background-color: $footerFullWidthFrame_BGColor3;
  }

  .t0-b-footerFullWidthFrame7,
  .t0-b-footerFullWidthFrame8 {
    background-color: $footerFullWidthFrame_BGColor4;
    &::before {
      background-color: $footerFullWidthFrame_BGColor5;
    }
  }

  .t0-b-footerFullWidthFrame9,
  .t0-b-footerFullWidthFrame10 {
    background-color: $footerFullWidthFrame_BGColor5;
  }
}
