@if $device == PC {
  .t0-b-headerCombi {
    $_width_content: 980px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    background-color: #fff;
    padding-top: 5px;
    background-repeat: repeat-x;
    background-position: left top;
    &__hd {
      padding: 12px 0;
      color: #4d4d4d;
      background: linear-gradient(#fefeff, #edf3f7);
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      padding-bottom: 10px;
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }

    .t0-b-headerUnit-siteTitle2 {
      margin: 0;
    }
  }

  .t0-b-headerCombi1 {
    $_width_content: 980px;
    $_colSpacing: #{$g-spacingBaseLength * 4}px;

    background-color: #fff;
    padding-top: 5px;
    background-repeat: repeat-x;
    background-position: left top;
    &__hd {
      padding: 12px 0;
      color: #4d4d4d;
      background: linear-gradient(#fefeff, #edf3f7);
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      padding-bottom: 10px;
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }

    .t0-b-headerUnit-siteTitle2 {
      margin: 0;
    }
  }
}

@if $device == SP {
  .t0-b-headerCombi {
    margin: 0 -15px;

    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    padding-top: 5px;
    background-repeat: repeat-x;
    background-position: left top;
    &__hd {
      padding: 5px;
      color: #4d4d4d;
      background: linear-gradient(#fefeff, #edf3f7);
      margin-bottom: 10px;
      > p {
        width: 100%;
        margin: 0 auto;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &__bd {
      padding: 0 15px;
      > div {
        width: 100%;
        margin: 0 auto;
        > div {
          text-align: left;
          vertical-align: middle;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }

  .t0-b-headerCombi1 {
    margin: 0 -15px;

    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    padding-top: 5px;
    background-repeat: repeat-x;
    background-position: left top;
    &__hd {
      padding: 5px;
      color: #4d4d4d;
      background: linear-gradient(#fefeff, #edf3f7);
      margin-bottom: 10px;
      > p {
        width: 100%;
        margin: 0 auto;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &__bd {
      padding: 0 15px;
      > div {
        width: 100%;
        margin: 0 auto;
        > div {
          text-align: left;
          vertical-align: middle;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }
}
