@if $device == PC {
  .t0-b-orderedList#{$variation1of2} {
    $_block: &;
    li {
      background: url("../imgs/t0-b-orderedList/bg1.png") no-repeat 0 -3px;
      padding: 0;
      display: table;
      > #{$_block}__num {
        display: table-cell;
        width: 75px;
        margin: 0;
        @include g-font(20, 1);
        height: 68px;
        line-height: 47px;
        padding: 0;
        text-align: center;
        > div {
          display: block;
          padding-top: 8px;
        }
      }

      #{$_block}__text {
        @include g-font(20, 1);
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    margin-bottom: 5px;
    $_block: &;
    li {
      background: url("../imgs/t0-b-orderedList/bg2.png") no-repeat 0 0;
      padding: 0;
      display: table;
      > #{$_block}__num {
        display: table-cell;
        width: 42px;
        margin: 0;
        @include g-font(20, 1);
        height: 42px;
        line-height: 42px;
        padding: 0;
        text-align: center;
        > div {
          display: block;
          color: #000;
        }
      }

      #{$_block}__text {
        @include g-font(18, 1);
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 15px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-orderedList#{$variation1of2} {
    margin-left: 5px;
    $_block: &;
    li {
      background: url("../imgs/t0-b-orderedList/bg1.png") no-repeat 0 2px;
      background-size: 50px auto;
      padding: 0;
      display: table;
      margin: 0 0 10px;
      > #{$_block}__num {
        display: table-cell;
        width: 50px;
        margin: 0;
        @include g-font(16, 1);
        height: 50px;
        line-height: 50px;
        padding: 0;
        text-align: center;
        font-weight: bold;
      }

      #{$_block}__text {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .t0-b-orderedList#{$variation2of2} {
    margin-left: 5px;
    $_block: &;
    li {
      background: url("../imgs/t0-b-orderedList/bg2.png") no-repeat 0 2px;
      padding: 0;
      display: table;
      margin: 0 0 10px;
      > #{$_block}__num {
        display: table-cell;
        width: 42px;
        margin: 0;
        @include g-font(16, 1);
        height: 42px;
        line-height: 50px;
        padding: 0;
        text-align: center;
      }

      #{$_block}__text {
        @include g-font(16, 1);
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 10px;
      }
    }
  }
}
