@if $device == PC {
  .t0-b-lv2H#{$variation1of3} {
    margin: 0 auto;
    background: url("../imgs/t0-b-lv2H/bg1.png") no-repeat 0 60%;
    padding: 0 40px;

    @include g-font(18, 1);

    min-height: 35px;
    a {
      text-decoration: none;
      color: #382b2b;
      &:hover {
        color: #aea928;
      }
    }

    h2 {
      @include g-font-spacingKilled(22, 1);
      &::before,
      &::after {
        margin-top: 0;
      }
    }

    &--align-l h2 {
      text-align: left;
    }

    &--align-c h2 {
      text-align: center;
    }

    &--align-r h2 {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    margin: 0 auto 10px;
    padding: 17px 0 0;
    border-bottom: 3px double #dabe4d;
    position: relative;
    > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background: url("../imgs/t0-b-lv2H/bg7.png") no-repeat center top;
    }

    > div {
      background-image: url("../imgs/t0-b-lv2H/bg6.png"), url("../imgs/t0-b-lv2H/bg8.png"), linear-gradient(#f9e9ae, #fff);
      background-repeat: no-repeat;
      background-position: 2px 3px, right 2px top 3px, left top;
    }

    a {
      text-decoration: none;
      position: relative;
      display: block;
      color: #382b2b;
      &:hover {
        color: #aea928;
      }
    }

    h2 {
      @include g-font-spacingKilled(26);

      padding: 15px 15px 10px;
      text-align: center;
    }

    &--align-l h2 {
      text-align: left;
    }

    &--align-c h2 {
      text-align: center;
    }

    &--align-r h2 {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation3of3} {
    margin: 0 auto 10px;
    padding: 17px 0 0;
    border-bottom: 3px double #f17099;
    position: relative;
    > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      background: url("../imgs/t0-b-lv2H/bg9.png") no-repeat center top;
    }

    > div {
      background-image: url("../imgs/t0-b-lv2H/bg11.png"), url("../imgs/t0-b-lv2H/bg10.png"), linear-gradient(#ffdce5, #fff);
      background-repeat: no-repeat;
      background-position: 2px 3px, right 2px top 3px, left top;
      background-size: 43px 43px, 43px 43px, auto;
    }

    a {
      text-decoration: none;
      display: block;
      color: #382b2b;
      &:hover {
        color: #aea928;
      }
    }

    h2 {
      @include g-font-spacingKilled(26);

      padding: 15px 15px 10px;
      text-align: center;
    }

    &--align-l h2 {
      text-align: left;
    }

    &--align-c h2 {
      text-align: center;
    }

    &--align-r h2 {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv2H#{$variation1of3} {
    margin: 0 auto;
    background: url("../imgs/t0-b-lv2H/bg1.png") no-repeat 0 60%;
    padding: 0 40px;
    min-height: 35px;
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #00f;
      }
    }

    h2 {
      @include g-font-spacingKilled(18, 0);

      text-align: left;
      &::before,
      &::after {
        margin-top: 0;
      }
    }

    &--align-l h2 {
      text-align: left;
    }

    &--align-c h2 {
      text-align: center;
    }

    &--align-r h2 {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    margin: 0 auto;
    border-bottom: 3px double #dabe4d;
    position: relative;
    > span {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background-color: transparent;
      background-image: url("../imgs/t0-b-lv2H/bg7.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      z-index: 10;
      pointer-events: none;
      > span {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background-image: url("../imgs/t0-b-lv2H/bg6.png");
        background-repeat: no-repeat;
        background-position: 3px 18px;
        background-size: auto 30px;
        z-index: 10;
        > span {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background-image: url("../imgs/t0-b-lv2H/bg8.png");
          background-repeat: no-repeat;
          background-position: right 3px top 18px;
          background-size: auto 30px;
          z-index: 10;
        }
      }
    }

    &__iconPlacer {
      padding-top: 17px;
    }

    a {
      text-decoration: none;
      display: block;
      color: #555;
      &:hover {
        color: #00f;
      }
    }

    h2 {
      background: linear-gradient(#f9e9ae, #fff);
      @include g-font-spacingKilled(18, 0);

      color: #555;
      padding: 15px 15px 10px;
      position: relative;
      z-index: 0;
      text-align: center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation3of3} {
    margin: 0 auto;
    border-bottom: 3px double #f17099;
    position: relative;
    > span {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background-color: transparent;
      background-image: url("../imgs/t0-b-lv2H/bg9.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      z-index: 10;
      pointer-events: none;
      > span {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background-image: url("../imgs/t0-b-lv2H/bg11.png");
        background-repeat: no-repeat;
        background-position: 3px 18px;
        background-size: auto 30px;
        z-index: 10;
        > span {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background-image: url("../imgs/t0-b-lv2H/bg10.png");
          background-repeat: no-repeat;
          background-position: right 3px top 18px;
          background-size: auto 30px;
          z-index: 10;
        }
      }
    }

    &__iconPlacer {
      padding-top: 17px;
    }

    a {
      text-decoration: none;
      display: block;
      color: #555;
      &:hover {
        color: #00f;
      }
    }

    h2 {
      background: linear-gradient(#ffdce5, #fff);
      @include g-font-spacingKilled(18, 0);

      color: #555;
      padding: 15px 15px 10px;
      position: relative;
      z-index: 0;
      text-align: center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
