@if $device == PC {
  .t0-b-line {
    border-top: none;
    background: url("../imgs/t0-b-line/bg1.png") no-repeat 50% 50%;
    height: 26px;
    position: relative;
    hr {
      border: none;
      border-bottom: 1px solid #f180aa;
      height: 13px;
    }
  }
}

@if $device == SP {
  .t0-b-line {
    border-top: none;
    background: url("../imgs/t0-b-line/bg1.png") no-repeat 50% 50%;
    height: 26px;
    position: relative;
    hr {
      border: none;
      border-bottom: 1px solid #f180aa;
      height: 13px;
    }
  }
}
