@if $device == PC {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #d1c56b;
    $_color_table_th_bg: #fff396;
    $_color_table_td_typo: #645656;
    table {
      width: 100%;
      height: 50px;
    }

    th, td {
      @include g-font-spacingKilled(18, 1);

      padding: 10px;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: linear-gradient(to bottom, #fbdddd 0%, #f9c8c8 100%);
      text-align: left;
    }

    td {
      text-align: right;
      background: #fff;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #d1c56b;
    $_color_table_th_bg: #fff396;
    $_color_table_td_typo: #382b2b;
    table {
      border: 1px solid $_color_table_border;
      width: 100%;
      height: 50px;
    }

    th, td {
      @include g-font-spacingKilled(18, 1);

      padding: 10px;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: $_color_table_th_bg;
      text-align: left;
    }

    td {
      text-align: right;
      background: #fff;
    }
  }
}

@if $device == SP {
  .t0-b-priceTable#{$variation1of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #d1c56b;
    $_color_table_th_bg: #fff396;
    $_color_table_td_typo: #555;
    table {
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);

      padding: 10px;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: linear-gradient(to bottom, #fbdddd 0%, #f9c8c8 100%);
      text-align: left;
      width: 45% !important;
    }

    td {
      text-align: right;
      background: #fff;
    }
  }

  .t0-b-priceTable#{$variation2of2} {
    $_itemSpacing: #{$g-spacingBaseLength * 2}px;
    $_hSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 4}px;

    $_color_table_border: #d1c56b;
    $_color_table_th_bg: #fff396;
    $_color_table_td_typo: #555;
    table {
      border: 1px solid $_color_table_border;
      width: 100%;
    }

    th, td {
      @include g-font-spacingKilled(16, 1);

      padding: 10px;
      vertical-align: middle;
    }

    th {
      color: $_color_table_td_typo;
      background: $_color_table_th_bg;
      text-align: left;
      width: 45% !important;
    }

    td {
      text-align: right;
      background: #fff;
    }
  }
}
