@if $device == PC {
  .t0-b-siteName,
  .t0-b-siteTitle {
    white-space: nowrap;
    color: #2d2523;
    padding-top: 2px;
    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 60px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: #2d2523;
      &:hover {
        color: #aea928;
        img {
          opacity: .8;
        }
      }
    }

    &__bd-note {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 10px;
    }

    &__bd-siteName {
      @include g-font-spacingKilled(30, 1);
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font-spacingKilled(26, 1);
    }

    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 10px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-siteName,
  .t0-b-siteTitle {
    padding-top: 2px;
    &--has-width {
      white-space: normal;
    }

    &__bd {
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;
      img {
        display: block;
        height: 40px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #00f;
      }

      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &__bd-textCol {
      @include g-font-spacingKilled(14, 1);
    }

    &__bd-note {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 10px;
    }

    &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font-spacingKilled(18, 1);
    }

    &__ft {
      @include g-font-spacingKilled(14, 1);
      padding: 15px 0 0;
    }
  }
}
