@if $device == PC {
  .t0-b-sideBoxList#{$variation1of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #c2c29e;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #382b2b;
    a {
      color: #555;
      &:hover {
        color: #aea928;
      }
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(14, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    td > ol,
    th > ol,
    > ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        ol {
          margin: 0 0 0 2em;
          margin-top: 0;
        }

        li {
          list-style-type: decimal;
          margin-top: $_elementSpacing;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    td > ol:first-child,
    th > ol:first-child,
    > ol:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }

      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 7px 5px;
        vertical-align: middle;
      }

      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }

      th {
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
      }

      td {
        background-color: #fff;
      }
    }

    > table:first-child {
      margin-top: 0;
    }

    td > ul,
    th > ul,
    > ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 2);

        margin: 10px 0 0 10px;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideBoxList/bg3.png") no-repeat 0 6px;
        &:first-child {
          margin-top: 0;
        }

        ul {
          margin-top: 0;
        }

        li {
          margin: 10px 0 0 10px;
          padding: 0 0 0 15px;
          background: url("../imgs/t0-b-sideBoxList/bg3.png") no-repeat 0 6px;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    td > ul:first-child,
    th > ul:first-child,
    > ul:first-child {
      margin-top: 0;
    }
  }

  .t0-b-sideBoxList#{$variation2of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #c2c29e;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #382b2b;
    a {
      color: #555;
      &:hover {
        color: #aea928;
      }
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(14, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    td > ol,
    th > ol,
    > ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        ol {
          margin: 0 0 0 2em;
          margin-top: 0;
        }

        li {
          list-style-type: decimal;
          margin-top: $_elementSpacing;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    td > ol:first-child,
    th > ol:first-child,
    > ol:first-child {
      margin-top: 0;
    }

    td > ul,
    th > ul,
    > ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 2);

        margin: 10px 0 0 10px;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideMenu/bg13.png") no-repeat 0 6px;
        color: #382b2b;
        &:first-child {
          margin-top: 0;
        }

        ul {
          margin-top: 0;
        }

        li {
          margin: 10px 0 0 10px;
          padding: 0 0 0 15px;
          background: url("../imgs/t0-b-sideMenu/bg13.png") no-repeat 0 6px;
          color: #382b2b;
        }

        a {
          color: #382b2b;
        }
      }
    }

    td > ul:first-child,
    th > ul:first-child,
    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }

      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 7px 5px;
        vertical-align: middle;
      }

      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }

      th {
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
      }

      td {
        background-color: #fff;
      }
    }

    > table:first-child {
      margin-top: 0;
    }
  }

  .t0-b-sideBoxList#{$variation3of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    a {
      color: #555;
      &:hover {
        color: #aea928;
      }
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(14, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    td > ol,
    th > ol,
    > ol {
      margin: 0 0 0 2em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        ol {
          margin: 0 0 0 2em;
          margin-top: 0;
        }

        li {
          list-style-type: decimal;
          margin-top: $_elementSpacing;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    td > ol:first-child,
    th > ol:first-child,
    > ol:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_blockSpacing;
      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid #c2c29e;
        border-left: 1px solid #c2c29e;
        padding: 10px;
        vertical-align: middle;
      }

      tr {
        border-right: 1px solid #c2c29e;
        border-bottom: 1px solid #c2c29e;
      }

      th {
        color: #382b2b;
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
        border-bottom: 3px double #c2c29e;
      }
    }

    > table:first-child {
      margin-top: 0;
    }

    td > ul,
    th > ul,
    > ul {
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      > li {
        @include g-font-spacingKilled(14, 2);

        margin: 10px 0 0 10px;
        padding: 0 0 0 18px;
        background: url("../imgs/t0-b-sideBoxList/bg4.png") no-repeat 0 4px;
        &:first-child {
          margin-top: 0;
        }

        a {
          color: #382b2b;
        }

        ul {
          margin-top: 0;
        }

        li {
          margin: 10px 0 0 10px;
          padding: 0 0 0 18px;
          background: url("../imgs/t0-b-sideBoxList/bg4.png") no-repeat 0 4px;
          a {
            color: #382b2b;
          }
        }
      }
    }

    td > ul:first-child,
    th > ul:first-child,
    > ul:first-child {
      margin-top: 0;
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxList#{$variation1of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #c2c29e;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #555;
    a {
      color: #555;
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(16, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    ol {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: 10px;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        margin: 10px 0 0;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideBoxList/bg3.png") no-repeat 0 6px;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      border-right: 1px solid $_color_table_border;
      border-bottom: 1px solid $_color_table_border;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }

      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }

      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }

      ul, ol {
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }

      p {
        @include g-font-spacingKilled(14, 1);
      }

      th {
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
      }

      td {
        background-color: #fff;
      }
    }
  }

  .t0-b-sideBoxList#{$variation2of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #c2c29e;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #555;
    a {
      color: #555;
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(16, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    ol {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: 10px;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        margin: 10px 0 0;
        padding: 0 0 0 15px;
        background: url("../imgs/t0-b-sideMenu/bg13.png") no-repeat 0 6px;
        color: #555;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }

      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }

      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }

      ul, ol {
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }

      p {
        @include g-font-spacingKilled(14, 1);
      }

      th {
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
      }

      td {
        background-color: #fff;
      }
    }
  }

  .t0-b-sideBoxList#{$variation3of3} {
    @include g-rteTableReset;
    $_blockSpacing: #{$g-spacingBaseLength * 3}px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;

    $_color_table_border: #c2c29e;
    $_color_table_th_bg: #ddd;
    $_color_table_td_typo: #555;
    a {
      color: #555;
    }

    hr {
      margin-top: $_blockSpacing;
      border: 0;
      height: 1px;
      background: #999;
    }

    > hr:first-child {
      margin-top: 0;
    }

    p {
      @include g-font-spacingKilled(16, 2);

      margin-top: 1em;
    }

    > p:first-child {
      margin-top: 0;
    }

    img {
      width: 100%;
    }

    a {
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    ol {
      margin: 0 0 0 2.5em;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: $_elementSpacing;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        list-style-type: decimal;
        margin-top: $_elementSpacing;
        &:first-child {
          margin-top: 0;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ol:first-child {
      margin-top: 0;
    }

    ul {
      margin: 0 0 0 5px;
      margin-top: $_blockSpacing;
      font-size: $baseFontSize;
      ul, ol {
        margin-top: 10px;
      }

      li {
        @include g-font-spacingKilled(16, 1);

        margin: 10px 0 0;
        padding: 0 0 0 20px;
        background: url("../imgs/t0-b-sideBoxList/bg4.png") no-repeat 0 5px;
        background-size: 12px;
        color: #555;
        &:first-child {
          margin-top: 0;
        }

        a {
          color: #555;
        }

        // IEのlist-item疑似要素のバグ対応
        &::before, &::after {
          width: 100%;
          float: left;
          display: none;
        }
      }
    }

    > ul:first-child {
      margin-top: 0;
    }

    table {
      width: 100%;
      margin-top: $_elementSpacing;
      &:first-child {
        margin-top: 0;
      }

      tr {
        border-right: 1px solid $_color_table_border;
        border-bottom: 1px solid $_color_table_border;
      }

      th, td {
        @include g-font-spacingKilled(14, 1);

        border-top: 1px solid $_color_table_border;
        border-left: 1px solid $_color_table_border;
        padding: 3% 1%;
        text-align: left;
        vertical-align: middle;
      }

      ul, ol {
        font-size: $baseFontSize;
        li {
          @include g-font-spacingKilled(14, 1);
        }
      }

      p {
        @include g-font-spacingKilled(14, 1);
      }

      th {
        background: linear-gradient(to bottom, #fee5ea 0%, #fff 100%);
      }

      td {
        background-color: #fff;
      }
    }
  }
}
