@if $device == PC {
  .t0-b-headerUnit-contact-fax {
    background: url("../imgs/t0-b-headerUnit-contact/fax/1.png") no-repeat left 3px center;
    display: table;
    white-space: nowrap;
    color: #bd385a;
    > div {
      display: table-cell;
      vertical-align: middle;
      > div {
        color: #fff;
        background: #bd385a;
        @include g-font-spacingKilled(16, 1);
        padding: 6px;
        border-radius: 3px;
      }
    }

    > p {
      display: table-cell;
      padding: 6px 0 6px 40px;
      @include g-font-spacingKilled(16, 1);
      font-weight: bold;
    }

    // サイト名(中央)に入ったときは中央寄せにする
    .t0-b-headerSingle &,
    .t0-b-headerSingle2 & {
      width: auto;
      margin: 0 auto;
    }
  }
}

@if $device == SP {
  .t0-b-headerUnit-contact-fax {
    margin: 0 auto;
    background: url("../imgs/t0-b-headerUnit-contact/fax/1.png") no-repeat .4em .58em;
    display: table;
    white-space: nowrap;
    color: #bd385a;
    > div {
      display: table-cell;
      vertical-align: middle;
      > div {
        color: #fff;
        background: #bd385a;
        @include g-font-spacingKilled(12, 1);
        padding: 6px;
        border-radius: 3px;
      }
    }

    > p {
      display: table-cell;
      padding: 4px 0 4px 40px;
      @include g-font-spacingKilled(16, 1);
      font-weight: bold;
    }
  }
}
