@if $device == PC {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }
}

@if $device == SP {
  .t0-b-fullWidthFrame,
  .t0-b-fullWidthFrame2 {
    background-color: $fullWidthBgColor;
  }

  .t0-b-fullWidthFrame3,
  .t0-b-fullWidthFrame4 {
    background-color: $fullWidthBgColor2;
  }

  .t0-b-fullWidthFrame5,
  .t0-b-fullWidthFrame6 {
    background-color: $fullWidthBgColor3;
  }

  .t0-b-fullWidthFrame7,
  .t0-b-fullWidthFrame8 {
    background-color: $fullWidthBgColor4;
    &::before {
      background-color: $fullWidthBgColor5;
    }
  }

  .t0-b-fullWidthFrame9,
  .t0-b-fullWidthFrame10 {
    background-color: $fullWidthBgColor5;
  }
}
