@if $device == PC {
  .t0-b-headerCombi {
    $_width_content: 980px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;
    background: url("../imgs/t0-b-headerCombi/bg1.png") repeat-x top;
    border-bottom: 5px solid #3e2b2f;
    padding: 35px 0 10px;
    width: 100%;
    &__hd {
      color: #cd6a81;
      > p {
        width: $_width_content;
        margin: 0 auto;
        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: 10px;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }

  .t0-b-headerCombi2 {
    $_width_content: 980px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;
    padding: 15px 0 10px;
    width: 100%;
    background: #fee1e8;
    border-top: 3px solid #bd385a;
    &__hd {
      color: #cd6a81;
      > p {
        width: $_width_content;
        margin: 0 auto;
        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: 10px;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }
}

@if $device == SP {
  .t0-b-headerCombi,
  .t0-b-headerCombi2 {
    margin: 0 -15px;
    $_width_content: 100%;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;
    background: url("../imgs/t0-b-headerCombi/bg1.png") repeat-x top;
    border-bottom: 5px solid #3e2b2f;
    padding: 30px 20px 16px;
    &__hd {
      color: #cd6a81;
      padding: 5px 5px 15px;
      > p {
        width: $_width_content;
        margin: 0 auto;
        @include g-font-spacingKilled(14, 1);
      }
    }

    &__bd {
      > div {
        display: block;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: block;
          text-align: left;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }
}
