@if $device == PC {
  .t0-b-headerSingle {
    $_width_content: 980px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    background: url("../imgs/t0-b-headerCombi/bg1.png") repeat-x top;
    border-bottom: 5px solid #3e2b2f;
    padding: 35px 0 10px;
    width: 100%;
    * {
      white-space: normal;
    }

    &__hd {
      color: #cd6a81;
      text-align: center;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      > div {
        width: $_width_content;
        margin: 0 auto;
        display: block;
        > div {
          vertical-align: top;
          padding-top: 10px;
          max-width: $_width_content;
          margin: 0 auto;
          display: table;
          text-align: center;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }

  .t0-b-headerSingle2 {
    $_width_content: 980px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    padding: 35px 0 10px;
    width: 100%;
    padding-top: 15px;
    background: #fee1e8;
    border-top: 3px solid #bd385a;
    * {
      white-space: normal;
    }

    &__hd {
      color: #cd6a81;
      text-align: center;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font-spacingKilled(12, 1);
      }
    }

    &__bd {
      > div {
        width: $_width_content;
        margin: 0 auto;
        display: block;
        > div {
          vertical-align: top;
          padding-top: 10px;
          max-width: $_width_content;
          margin: 0 auto;
          display: table;
          text-align: center;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      padding-left: $_colSpacing;
    }

    &__col3 {
      padding-left: $_colSpacing;
    }
  }
}

@if $device == SP {
  .t0-b-headerSingle,
  .t0-b-headerSingle2 {
    margin: 0 -15px;

    $_width_content: 100%;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    background: url("../imgs/t0-b-headerCombi/bg1.png") repeat-x top;
    border-bottom: 5px solid #3e2b2f;
    padding: 30px 20px 16px;
    &__hd {
      color: #cd6a81;
      padding: 5px 5px 15px;
      text-align: center;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &__bd {
      > div {
        display: block;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: block;
          text-align: center;
        }
      }
    }

    &__col {
      width: 100%;
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }
}
