@if $device == PC {

  .t0-b-lv4H-qIcon#{$variation1of2} {
    line-height: 0;
    > div {
      display: table;
      width: 100%;
    }
    &__icon {
      display: block;
      width: 46px;
      height: 46px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
      background-repeat: no-repeat;
      background-size: 46px;
    }
    &__iconPlacer {
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
    }
    &__bd {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
    }
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding-bottom: 5px;
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(24, 1);
      } @else {
        @include g-font(20, 1);
      }
      padding-bottom: 5px;
      border-bottom: 1px solid #555;
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding-top: 5px;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        background-size: 46px*.8;
        width: 46px*.8;
        height: 46px*.8;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(18, 1);
        } @else {
          @include g-font(14, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(18, 1);
        } @else {
          @include g-font(14, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 46px*1.2;
        width: 46px*1.2;
        height: 46px*1.2;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(28, 1);
        } @else {
          @include g-font(24, 1);
        }
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #ff8c00;
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    &__icon {
      display: block;
      background-repeat: no-repeat;
    }
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding-left: 56px;
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(24, 1);
      } @else {
        @include g-font(20, 1);
      }
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png"), url("../imgs/t0-b-lv4H-qIcon/3.png");
      background-repeat: no-repeat, repeat-x;
      background-position: left bottom, left bottom;
      background-size: 710px 46px, auto;
      padding: 9px 0 9px 56px;
      min-height: 28px;
      display: flex;
      align-items: center;
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding: 5px 0 0 56px;
    }
    &__caption-upper + &__h {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
    }
    &__caption-upper + a > &__h {
      @if $layout == "N00" {
        @include g-font(22, 1);
      } @else {
        @include g-font(18, 1);
      }
    }
    $_block: &;
    &--size-1 {
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        }
        background-size: 710px*.8 46px*.8, auto;
        padding: 7px 0 7px 47px;
        min-height: 22px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
        padding: 0 0 0 47px;
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
        padding: 5px 0 0 47px;
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(18, 1);
        } @else {
          @include g-font(14, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(18, 1);
        } @else {
          @include g-font(14, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(28, 1);
        } @else {
          @include g-font(24, 1);
        }
        background-size: 710px*1.2 46px*1.2, auto;
        padding: 10px 0 10px 66px;
        min-height: 35px;
      }
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
        padding: 0 0 0 66px;
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
        padding: 5px 0 0 66px;
      }
      #{$_block}__caption-upper + #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
      #{$_block}__caption-upper + a > #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(26, 1);
        } @else {
          @include g-font(22, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      padding: 0 0 10px;
      &:hover {
        color: #ff8c00;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    > div {
      display: table;
    }
    &__iconPlacer {
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;
    }
    &__icon {
      display: block;
      background-repeat: no-repeat;
      background-size: 40px;
      width: 40px;
      height: 40px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
    }
    &__bd {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }
    &__h {
      @include g-font(18, 1);
      padding-bottom: 5px;
      border-bottom: 1px solid #555;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding-top: 5px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #ff8c00;
      }
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    &__icon {
      background-repeat: no-repeat;
      display: block;
    }
    &__bd {
      width: 100%;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding-left: 46px;
    }
    &__h {
      @include g-font(18, 1);
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png");
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: left bottom;
      padding: 5px 0 5px 46px;
      min-height: 26px;
      display: flex;
      align-items: center;
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0 46px;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      padding: 0 0 10px;
      &:hover {
        color: #ff8c00;
      }
    }
  }
}
