@if $device == PC {
  .t0-b-lv1H-mainH#{$variation1of2} {
    $_fontSize_bd: 32;
    $_fontSize_caption: 16;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    margin: 0 auto;
    text-align: center;
    a {
      margin-left: 0;
      color: $g-textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      position: relative;
      padding-bottom: 17px;
      box-shadow: 0 -2px #c1ca34 inset;
      &::after {
        position: absolute;
        right: 0;
        bottom: 4px;
        left: 0;
        height: 4px;
        content: "";
        background-color: #485906;
      }
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of2} {
    $_fontSize_bd: 32;
    $_fontSize_caption: 16;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    // IEハック
    display: block\0; /* stylelint-disable-line */
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #485906;
    &::before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      z-index: z(lv1H-mainH, 1));
      pointer-events: none;
      content: "";
      border: 2px solid #fff;
    }

    a {
      margin-left: 0;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      position: relative;
      z-index: z(lv1H-mainH, 2));
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
      position: relative;
      z-index: z(lv1H-mainH, 2));
      padding: 5px 0;
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      position: relative;
      z-index: z(lv1H-mainH, 2));
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH3 {
    $_fontSize_bd: 32;
    $_fontSize_caption: 16;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    text-align: center;
    a {
      color: $g-textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-bottom: 8px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-top: 8px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH4 {
    $_fontSize_bd: 32;
    $_fontSize_caption: 16;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    padding: 15px 20px;
    color: #393939;
    text-align: center;
    border-top: 2px solid #a1b91d;
    border-bottom: 2px solid #a1b91d;
    a {
      color: $g-textColor;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font-layout($_fontSize_bd, $_lineHeight_bd, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-mainH#{$variation1of2} {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    margin: 0 auto;
    text-align: center;
    a {
      margin-left: 0;
      color: $g-textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
      position: relative;
      padding-bottom: 15px;
      box-shadow: 0 -2px #c1ca34 inset;
      &::after {
        position: absolute;
        right: 0;
        bottom: 4px;
        left: 0;
        height: 4px;
        content: "";
        background-color: #485906;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH#{$variation2of2} {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    padding: 15px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #485906;
    &::before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      z-index: z(lv1H-mainH, 1));
      pointer-events: none;
      content: "";
      border: 2px solid #fff;
    }

    a {
      margin-left: 0;
      color: #fff;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      position: relative;
      z-index: z(lv1H-mainH, 2));
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_caption);
      position: relative;
      z-index: z(lv1H-mainH, 2));
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      position: relative;
      z-index: z(lv1H-mainH, 2));
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH3 {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    text-align: center;
    a {
      color: $g-textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-mainH4 {
    $_fontSize_bd: 20;
    $_fontSize_caption: 14;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;
    padding: 15px;
    text-align: center;
    border-top: 2px solid #a1b91d;
    border-bottom: 2px solid #a1b91d;
    a {
      color: $g-textColor;
      text-decoration: none;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 5px;
    }

    &__bd {
      @include g-font($_fontSize_bd, $_lineHeight_bd);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
