@if $device == PC {
  .t0-b-navItemWithImg#{$variation1of2} {
    $_block: &;
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    > a {
      display: block;
      text-decoration: none;
      &:hover {
        color: #555;
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      padding: 1px 0;
      background-color: #fff;
      border: 2px solid #ccc;
      > span {
        pointer-events: none;
      }

      #{$_block}--imgL & {
        direction: ltr;
      }

      #{$_block}--imgR & {
        direction: rtl;
      }
    }

    &__img {
      display: table-cell;
      padding: 0 10px 0 0;
      text-align: center;
      vertical-align: middle;
      img {
        display: block;
        width: 75px;
      }

      #{$_block}--imgL & {
        padding-right: 10px;
      }

      #{$_block}--imgR & {
        padding-right: 0;
      }
    }

    &__text {
      display: table-cell;

      width: 100%;
      padding-left: 1px;
      vertical-align: middle;
      background: url("../imgs/t0-b-navItem/8.png")no-repeat right 4px top 50%, url("../imgs/t0-b-navItem/bg3.png")repeat-y right 1px top 0;
      @include g-font(20, 1);
      #{$_block}--imgL & {
        padding: 4px 35px 4px 0;
      }

      #{$_block}--imgR & {
        padding: 4px 0 4px 35px;
        background: url("../imgs/t0-b-navItem/8.png")no-repeat 6px 50%, url("../imgs/t0-b-navItem/bg3.png")repeat-y 1px 0;
        direction: ltr;
      }
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {
    $_block: &;
    padding: 2px 0 3px;
    color: #fff;
    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }

    > a {
      display: block;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      display: block;
      height: 100%;
      padding: 5px 0;
      color: #fff;
      background: linear-gradient(#94ae01, #99b001, #849c00);
      border-radius: 4px;
      box-shadow: 0 3px #777, 0 -2px #c4d374;
      > span {
        pointer-events: none;
      }

      #{$_block}--imgL & {
        direction: ltr;
      }

      #{$_block}--imgR & {
        direction: rtl;
      }
    }

    &__img {
      display: table-cell;
      vertical-align: middle;
      img {
        width: 66px;
        padding: 0 10px 0 5px;
      }

      #{$_block}--imgL & {
        padding: 5px 0 0 10px;
      }

      #{$_block}--imgR & {
        padding: 5px 10px 0 0;
      }
    }

    &__text {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      background: url("../imgs/t0-b-navItem/9.png")no-repeat right 10px top 50%;
      background-size: 20px;
      @include g-font(20, 1);
      #{$_block}--imgL & {
        padding-right: 10px;
      }

      #{$_block}--imgR & {
        padding-left: 40px;
        background: url("../imgs/t0-b-navItem/9.png")no-repeat 10px;
        direction: ltr;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation1of2} {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation2of2} {
    display: flex;
    &__layout {
      flex: 1 1 (100% / 2);
      padding-left: 4%;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {
  .t0-b-navItemWithImg#{$variation1of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    > a {
      display: block;
      text-decoration: none;
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      height: 100%;
      padding: 1px 0;
      text-decoration: none;
      background-color: #fff;
      border: 2px solid #ccc;
      > span {
        display: none;
      }

      #{$_block}--imgL & {
        direction: ltr;
      }

      #{$_block}--imgR & {
        direction: rtl;
      }
    }

    &__img {
      display: table-cell;
      padding: 0 10px 0 0;
      text-align: center;
      vertical-align: middle;
      img {
        display: block;
        width: 75px;
      }

      #{$_block}--imgL & {
        padding-right: 10px;
      }

      #{$_block}--imgR & {
        padding-right: 0;
      }
    }

    &__text {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      background: url("../imgs/t0-b-navItem/8.png")no-repeat right 4px top 50%, url("../imgs/t0-b-navItem/bg3.png")repeat-y right 1px top 0;
      @include g-font(16, 1);
      #{$_block}--imgL & {
        padding: 4px 30px 4px 0;
        direction: ltr;
      }

      #{$_block}--imgR & {
        padding: 4px 0 4px 30px;
        background: url("../imgs/t0-b-navItem/8.png")no-repeat 6px 50%, url("../imgs/t0-b-navItem/bg3.png")repeat-y 1px 0;
        direction: ltr;
      }
    }
  }

  .t0-b-navItemWithImg#{$variation2of2} {
    $_block: &;

    width: 95%;
    padding: 2px 0 3px;
    margin: 0 auto;
    color: #fff;
    > a {
      display: block;
      color: #fff;
      text-decoration: none;
    }

    &__inner {
      box-sizing: border-box;
      display: table;
      width: 100%;
      height: 100%;
      padding: 5px 0;
      text-decoration: none;
      background: url("../imgs/t0-b-navItem/9.png")no-repeat right 10px top 50%, linear-gradient(#94ae01, #99b001, #849c00);
      border-radius: 4px;
      box-shadow: 0 3px #777, 0 -2px #c4d374;
      #{$_block}--imgL & {
        direction: ltr;
      }

      #{$_block}--imgR & {
        background: url("../imgs/t0-b-navItem/9.png")no-repeat 10px 50%, linear-gradient(#94ae01, #99b001, #849c00);
        direction: rtl;
      }
    }

    &__img {
      display: table-cell;
      padding: 0 10px 0 5px;
      text-align: center;
      vertical-align: middle;
      img {
        display: block;
        width: 66px;
        border: 1px solid #fff;
      }

      #{$_block}--imgL & {
        padding-right: 10px;
      }

      #{$_block}--imgR & {
        padding-right: 5px;
      }
    }

    &__text {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      @include g-font(16, 1);
      #{$_block}--imgL & {
        direction: ltr;
      }

      #{$_block}--imgR & {
        padding-left: 40px;
        direction: ltr;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation1of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .t0-b-navItemWithImgDouble#{$variation2of2} {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
