@if $device == PC {
  .t0-b-headerMenu#{$variation1of2} {
    $_width_content: 1100px;

    background: #485906;
    border-bottom: 3px solid #374500;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid #fff;
          &:first-child {
            border-left: 1px solid #fff;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;

        padding: 0 11px 0 10px;
        color: #fff;
        text-align: center;

        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        div {
          color: #fff;
          background-color: #b0bf24;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        color: #fff;
        background-color: #667415;
        &:after {
          position: absolute;
          right: 3px;
          bottom: 0;
          left: 3px;
          z-index: -1;
          height: 4px;
          pointer-events: none;
          content: "";
          background-color: #b0bf24;
        }
      }

      a {
        color: #fff;
      }
    }

    .state-current {
      div {
        color: #fff;
        background-color: #202800;
        &:after {
          background: none;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2} {
    $_width_content: 1100px;

    background: #fff;
    border-top: 1px solid #dadada;
    border-bottom: 4px solid #b0bf24;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
          background: url("../imgs/t0-b-headerMenu/1.png")no-repeat right center;
          &:first-child {
            background: url("../imgs/t0-b-headerMenu/1.png")no-repeat left center, url("../imgs/t0-b-headerMenu/1.png")no-repeat right center;
          }
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      div {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;

        padding: 0 11px 0 10px;
        color: #224300;
        text-align: center;

        @include g-font(16, 1);
        > span {
          display: inline-table;
        }
      }
    }

    a {
      color: #224300;
      text-decoration: none;
      &:hover {
        div {
          color: #b0bf24;
        }
      }
    }

    .state-em {
      div {
        position: relative;
        z-index: 1;
        &:before {
          position: absolute;
          top: 4px;
          right: 4px;
          bottom: 4px;
          left: 4px;
          z-index: -1;
          pointer-events: none;
          content: "";
          background-color: #cbd56e;
        }

        &:after {
          position: absolute;
          right: 4px;
          bottom: 7px;
          left: 4px;
          z-index: -1;
          height: 2px;
          pointer-events: none;
          content: "";
          background-color: #fff;
        }
      }

      a {
        &:hover {
          div {
            color: #fff;
          }
        }
      }
    }

    .state-current {
      div {
        background-color: #b0bf24;
        &:before {
          background: none;
        }

        &:after {
          background: none;
        }
      }

      a {
        &:hover {
          div {
            color: #fff;
          }
        }
      }
    }
  }

  .t0-b-headerMenu3 {
    $_width_content: 1100px;
    color: #fff;

    background: #0d0d0d;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #b0bf24;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #7f9500;
    }
  }

  .t0-b-headerMenu4 {
    $_width_content: 1100px;
    color: #fff;

    background: #b0bf24;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      transition: all .3s;
      div {
        @include g-font(14, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        color: #788500;
        background-color: #d8df92;
        a {
          color: #788500;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: all .3s;
    }

    .state-current {
      color: #788500;
      background-color: #d8df92;
      a {
        color: #788500;
      }
    }
  }

  .t0-b-headerMenu5 {
    $_width_content: 1100px;
    color: #333;

    background: #fff;
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    > div {
      width: $_width_content;
      margin: 0 auto;
      > ul {
        box-sizing: border-box;
        display: table;
        width: 100%;
        > li {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    &--widthEqualized {
      > div {
        > ul {
          table-layout: fixed;
        }
      }
    }

    .t0-b-headerMenu__item {
      position: relative;
      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        margin: 0 auto;
        background-color: #b0bf24;
        transition: all .3s;
      }

      div {
        @include g-font(16, 1);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;

        padding: 0 11px 0 10px;
        text-align: center;
        > span {
          display: inline-table;
        }
      }

      &:hover {
        > span {
          width: 100%;
        }
      }
    }

    a {
      color: #333;
      text-decoration: none;
    }

    .state-current,
    .state-current a {
      color: #788c04;
    }
  }
}

@if $device == SP {
  .t0-b-headerMenu#{$variation1of2} {
    ul {
      padding: 5px 0;
    }

    margin: 0 -15px;
    text-align: center;

    background: #485906;

    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;

      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #fff;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #fff;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #b0bf24;
      }

      a {
        color: #b0bf24;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        &, &:hover {
          font-weight: normal;
          color: #fff;
          background: #202800;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu#{$variation2of2},
  .t0-b-headerMenu5 {

    margin: 0 -15px;

    text-align: center;
    background: #fff;
    border: 1px solid #b0bf24;
    ul {
      padding: 5px 0;
    }

    @include g-font(12, 1);
    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      &:first-child {
        margin-left: 0;
      }
      display: inline-block;

      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        color: #224300;
        text-decoration: underline;
        list-style: none;
      }
    }

    a {
      color: #224300;
    }

    .state-em {
      > div,
      a > div {
        font-weight: bold;
        color: #b0bf24;
      }

      a {
        color: #b0bf24;
      }
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #224300;
        &, &:hover {
          font-weight: normal;
          background: #b0bf24;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .t0-b-headerMenu3 {
    @include g-font(12, 1);

    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #0d0d0d;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #b0bf24;
    }

    .state-current,
    .state-current a {
      color: #7f9500;
    }
  }


  .t0-b-headerMenu4 {
    @include g-font(12, 1);

    margin: 0 -15px;
    color: #fff;
    text-align: center;
    background: #b0bf24;
    ul {
      padding: 5px 0;
    }

    input[type="checkbox"].on-off {
      display: none;
    }

    label {
      display: none;
    }

    .t0-b-headerMenu__item {
      display: inline-block;
      margin-left: 15px;
      > div,
      a > div {
        padding: 5px 0;
        text-decoration: underline;
        list-style: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
    }

    .state-em,
    .state-em a {
      color: #3d6000;
    }

    .state-current {
      > div,
      a > div {
        padding: 5px;
        color: #788500;
        &, &:hover {
          font-weight: normal;
          background-color: #d8df92;
        }
      }

      a {
        color: #788500;
      }
    }
  }
}
