@if $device == PC {
  .t0-b-footerMenuWithCp#{$variation1of2} {
    position: relative;
    box-sizing: border-box;
    padding: 11px 0;
    color: #fff;
    text-align: center;
    background: #000;
    border-top: 1px solid #8e8e8e;
    &::before {
      position: absolute;
      top: -2px;
      right: 0;
      left: 0;
      height: 1px;
      pointer-events: none;
      content: "";
      border-top: 1px solid #474747;
    }

    > div {
      display: table;
      width: 100%;
      width: 1100px;
      margin: 0 auto;
    }

    p {
      display: table-cell;

      @include g-font(14, 1);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        padding: 0 10px 0 20px;
        color: #fff;

        text-decoration: none;
        background: url("../imgs/t0-b-copyright/1.png") 0 1px no-repeat;

        @include g-font(14, 1);
        &:nth-child(2) {
          background: none;
        }
      }

      a {
        position: relative;
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: #a1b91d;
      a {
        color: #a1b91d;
      }
    }
  }

  .t0-b-footerMenuWithCp#{$variation2of2} {
    position: relative;
    box-sizing: border-box;
    padding: 11px 0;
    color: #fff;
    text-align: center;
    background: #9aa817;
    border-top: 1px solid #fff;
    &::before {
      position: absolute;
      top: -2px;
      right: 0;
      left: 0;
      height: 1px;
      pointer-events: none;
      content: "";
      border-top: 1px solid #ccc;
    }

    > div {
      display: table;
      width: 100%;
      width: 1100px;
      margin: 0 auto;
    }

    p {
      display: table-cell;

      @include g-font(14, 1);
      a {
        color: inherit;
        &:hover {
          color: $hovercolor2;
        }
      }
    }

    &__menu {
      display: table-cell;
      ul {
        text-align: right;
      }

      li {
        display: inline-block;
        padding: 0 10px 0 20px;
        color: #fff;

        text-decoration: none;
        background: url("../imgs/t0-b-copyright/2.png") 0 1px no-repeat;

        @include g-font(14, 1);
        &:nth-child(2) {
          background: none;
        }
      }

      a {
        position: relative;
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .state-em {
      color: #eeff20;
      a {
        color: #eeff20;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerMenuWithCp#{$variation1of2} {

    @include g-font(12, 1);
    margin: 0 -15px;

    color: #fff;
    text-align: center;
    > div {
      display: table;
      width: 100%;
      background: #000;
      p {
        > a {
          color: #fff;
        }
      }
    }

    p {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 0 0 5px;
      color: #fff;
      text-align: center;
      background: #000;
      > a {
        color: #fff;
      }
    }

    .state-em {
      color: #a1b91d;
      > a {
        color: #a1b91d;
      }
    }

    &__menu {
      display: table-header-group;
      a {
        color: #fff;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }
        display: inline-block;
        padding: 5px 0;

        margin-left: 15px;
        color: #fff;
        text-align: left;
        text-decoration: underline;
      }
    }
  }

  .t0-b-footerMenuWithCp#{$variation2of2} {
    @include g-font(12, 1);
    margin: 0 -15px;

    color: #fff;
    text-align: center;
    > div {
      display: table;
      width: 100%;
      background: #9aa817;
    }

    p {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 0 0 5px;
      color: #fff;
      text-align: center;
      background: #9aa817;
      > a {
        color: #fff;
      }
    }

    .state-em {
      color: #eeff20;
      > a {
        color: #eeff20;
      }
    }

    &__menu {
      display: table-header-group;
      a {
        color: #fff;
        text-decoration: underline;
      }

      ul {
        padding: 5px 10px;
      }

      li {
        &:first-child {
          margin-left: 0;
        }
        display: inline-block;
        padding: 5px 0;

        margin-left: 15px;
        color: #fff;
        text-align: left;
        text-decoration: underline;
      }
    }
  }
}
