@if $device == PC {
  .t0-b-footerCombi#{$variation1of2} {
    $_width_content: 1100px;

    background-image: url("../imgs/area-all/1.png");
    background-position: left top;
    background-repeat: repeat;

    > div {
      width: $_width_content;
      padding: 30px 0 10px;
      margin: 0 auto;
      display: table;
    }

    &__col1{
      display: table-cell;
      vertical-align: top;
    }

    &__col2,
    &__col3 {
      display: table-cell;
      vertical-align: top;
      padding-left: 20px;
    }
  }

  .t0-b-footerCombi#{$variation2of2} {
    $_width_content: 1100px;

    > div {
      width: $_width_content;
      padding: 30px 0 10px;
      margin: 0 auto;
      display: table;
    }

    &__col1{
      display: table-cell;
      vertical-align: top;
    }

    &__col2,
    &__col3 {
      display: table-cell;
      vertical-align: top;
      padding-left: 20px;
    }

    .t0-b-headerUnit-text,
    .t0-b-footerUnit-navList,
    .t0-b-headerUnit-table,
    .t0-b-footerUnit-table,
    .t0-b-footerUnit-text,
    .t0-b-footerUnit-textStrong {
      a {
        color: $textcolor;
      }

      color: $textcolor;
    }

    .t0-b-footerUnit-navList {
      ul {
        li {
          background: url("../imgs/t0-b-footerUnit-navList/2.png") 0 5px no-repeat;
        }
      }
    }

    .t0-b-footerUnit-siteName,
    .t0-b-footerUnit-siteTitle,
    .t0-b-footerUnit-siteTitle2 {
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-siteName2 {
      &__ft {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-lv1H {
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-lv2H {
      color: $textcolor;

      h5 {
        border-bottom: 1px solid #7e7e7e;

        &:before {
          border-bottom: 1px solid #45b1c7;
        }
      }

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-nav {
      color: #0b6678;

      &__item {
        a {
          color: #0b6678;

          &:hover {
            color: $hovercolor;
          }
        }
      }
    }

    .t0-b-footerUnit-navB#{$variation1of2} {
      &__item {
        div {
          border: 1px solid #0b6678;
          background: #b7e3eb;
        }
      }
    }

    .t0-b-footerUnit-navB#{$variation2of2} {
      &__item {
        div {
          border: 1px solid #0b6678;
          background: #35a0b6;
        }
      }
    }

    .t0-b-footerUnit-media {
      color: #0b6678;

      a {
        color: #0b6678;

        &:hover {
          color: $hovercolor;
        }
      }
    }

    .t0-b-footerUnit-contact {
      $_block: &;

      color: $textcolor;

      &__iconTextBase {
        color: #4d5a01;
      }

      &__iconTextRuby {
        color: #4d5a01;
      }
    }

    .t0-b-footerUnit-contact__tel {
      background-image: url("../imgs/t0-b-iconText/tel.png") !important;
    }

    .t0-b-footerUnit-contact__fax {
      background-image: url("../imgs/t0-b-iconText/fax.png") !important;
    }

    .t0-b-footerUnit-contact__cell {
      background-image: url("../imgs/t0-b-iconText/cell.png") !important;
    }
  }
}

@if $device == SP {

  .t0-b-footerCombi#{$variation1of2} {
    margin: 0 -15px;
    padding: 20px 10px 0;
    background-image: url("../imgs/area-all/1.png");
    background-position: left top;
    background-repeat: repeat;

    > div {
      width: 100%;
      margin: 0 auto;
    }

    &__col1,
    &__col2,
    &__col3 {
      vertical-align: top;
    }
  }

  .t0-b-footerCombi#{$variation2of2} {
    margin: 0 -15px;
    padding: 20px 10px 0;

    > div {
      width: 100%;
      margin: 0 auto;
    }

    &__col1,
    &__col2,
    &__col3 {
      vertical-align: top;
    }

    .t0-b-headerUnit-text,
    .t0-b-footerUnit-navList,
    .t0-b-headerUnit-table,
    .t0-b-footerUnit-table,
    .t0-b-footerUnit-text,
    .t0-b-footerUnit-textStrong {
      a {
        color: $textcolor;
      }

      color: $textcolor;
    }

    .t0-b-footerUnit-navList {
      ul {
        li {
          background: url("../imgs/t0-b-footerUnit-navList/2.png") 0 5px no-repeat;
        }
      }
    }

    .t0-b-footerUnit-siteName,
    .t0-b-footerUnit-siteTitle,
    .t0-b-footerUnit-siteTitle2 {
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-siteName2 {
      &__ft {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-lv1H {
      color: $textcolor;

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-lv2H {
      color: $textcolor;

      h5 {
        border-bottom: 1px solid #7e7e7e;

        &:before {
          border-bottom: 1px solid #45b1c7;
        }
      }

      a {
        color: $textcolor;
      }
    }

    .t0-b-footerUnit-nav {
      color: #0b6678;

      &__item {
        a {
          color: #0b6678;
        }
      }
    }

    .t0-b-footerUnit-navB#{$variation1of2} {
      &__item {
        background-image: url("../imgs/t0-b-navList/bg.png");
        border: 1px solid #0b6678;
        background-color: #b7e3eb;
      }
    }

    .t0-b-footerUnit-navB#{$variation2of2} {
      &__item {
        background-image: url("../imgs/t0-b-navList/bg.png");
        border: 1px solid #0b6678;
        background-color: #35a0b6;
      }
    }

    .t0-b-footerUnit-media {
      color: #0b6678;

      a {
        color: #0b6678;
      }
    }

    .t0-b-footerUnit-contact {
      color: $textcolor;
    }
  }
}
