$layout: "N00";
$areaContainerWidth: 1110px;
$areaMainWidth: 1100px;
$areaSubWidth: 344px;
.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.mod-body {
  background-image: url("../imgs/area-all/bg.png");
  background-repeat: repeat;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  *zoom: 1;
}

.area-container::before,
.area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  box-sizing: border-box;
  width: $areaMainWidth;
  margin: 0 auto;
  padding: 0 0 50px;
  min-height: 100px;
}

.area-sub {
  display: none;
}

.area-footer {
  padding: 50px 0 0;
  background: none;
}
