.area-all {
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 50px;
}

.mod-body {
  background-image: url("../imgs/area-all/bg.png");
  background-repeat: repeat;
}

.area-container {
  margin-top: 10px;
}

.area-header {
  padding: 0 15px;
}

.area-footer {
  padding: 20px 15px 0;
}

.area-main {
  padding: 10px 15px 0;
}

.area-sub {
  padding: 20px 15px 0;
}
