@if $device == PC {
  .t0-b-flow5LeftToRight {

    $_block: &;

    width: 100%;
    &__row {
      display: table;
      width: 100%;
      padding-bottom: 5%;
      table-layout: fixed;
      &:last-child {
        padding-bottom: 0;
      }
    }

    &__box {
      display: table-cell;
      width: (100%-2*(5-1))/5;
      vertical-align: top;
      #{$_block}--colSpacing-l & {
        width: (100%-3.5*(5-1))/5;
      }

      #{$_block}--colSpacing-m & {
        width: (100%-2*(5-1))/5;
      }

      #{$_block}--colSpacing-s & {
        width: (100%-0.5*(5-1))/5;
      }
    }

    &__arrow {
      display: table-cell;
      width: 2%;
      font-size: 2em;
      color: #333;
      text-align: center;
      vertical-align: middle;
      #{$_block}--colSpacing-l & {
        width: 3.5%;
      }

      #{$_block}--colSpacing-m & {
        width: 2%;
      }

      #{$_block}--colSpacing-s & {
        width: .5%;
      }
    }
  }

  .t0-b-flow5LeftToRightWithMidFrame {

    $_block: &;

    width: 100%;
    &__row {
      display: table;
      width: 100%;
      height: 100%;
      table-layout: fixed;
    }

    &__box {
      display: table-cell;
      width: (100%-2*(5-1))/5;
      height: 100%;
      vertical-align: top;
      #{$_block}--colSpacing-l & {
        width: (100%-3.5*(5-1))/5;
      }

      #{$_block}--colSpacing-m & {
        width: (100%-2*(5-1))/5;
      }

      #{$_block}--colSpacing-s & {
        width: (100%-0.5*(5-1))/5;
      }
    }

    &__arrow {
      display: table-cell;
      width: 2%;
      height: 100%;
      //矢印要素(t0-b-arrowInFlow)分の高さを持たせる。
      //上余白調整をしても部品の高さからはみ出さないようにするため。
      padding-bottom: 31px;
      #{$_block}--colSpacing-l & {
        width: 3.5%;
      }

      #{$_block}--colSpacing-m & {
        width: 2%;
      }

      #{$_block}--colSpacing-s & {
        width: .5%;
      }

      &-inner {
        position: relative;
        height: 100%;
        //#cms-body [data-cms-part]についたposition:relativeの影響で、
        //管理画面上のみで矢印要素の上余白が変更されない問題を解消するために以下を指定する
        > div {
          position: absolute !important;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          //管理画面上でホバーできるようにする
          z-index: 1;
        }
      }
    }
  }
}// PC


@if $device == SP {
  .t0-b-flow5LeftToRight {

    $_block: &;

    width: 100%;
    &__box {
      padding-bottom: 15px;
    }

    &__row {
      &:last-child {
        .t0-b-flow5LeftToRight__box {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .t0-b-flow5LeftToRightWithMidFrame {

    width: 100%;
    &__row {
      //矢印画像の高さと、下余白の合計値をつける
      padding-bottom: 32px;
      background-image: url("../imgs/t0-b-flowLeftToRight/bg2.png");
      background-repeat: no-repeat;
      background-position: center bottom 15px;
      &:last-child {
        padding: 0;
        background: none;
      }
    }

    &__arrow {
      //上下の画像要素との余白が等間隔になるようにつける
      padding-bottom: 15px;
    }
  }
}// SP
