@if $device == PC {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    $_block: &;
    $_fontPx_h: 20;
    $_fontPx_caption: 14;
    $_fontPxDiff: 4;
    $_fontPx_h_s: $_fontPx_h - $_fontPxDiff;
    $_fontPx_h_l: $_fontPx_h + $_fontPxDiff;
    $_fontPx_caption_s: $_fontPx_caption - $_fontPxDiff;
    $_fontPx_caption_l: $_fontPx_caption + $_fontPxDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #675f4f;
    $_textColor_caption: #675f4f;
    font-family: $tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    > div {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 35px;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      vertical-align: middle;
      background-image: url("../imgs/heading/heading021/heading021_question_v1f1.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 27px 27px;
    }

    &__caption-upper {
      @include g-font-layout($_fontPx_caption, $_lineHeight_caption, $layout);
      padding: 0 0 4px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font-layout($_fontPx_h, $_lineHeight_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontPx_caption, $_lineHeight_caption, $layout);
      padding: 4px 0 0;
      color: $_textColor_caption;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontPx_h - 2, $_lineHeight_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontPx_h - 2, $_lineHeight_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 35px * .8;
      }

      #{$_block}__icon {
        width: 27px * .8;
        height: 27px * .8;
        background-size: 27px * .8 27px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontPx_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontPx_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontPx_h_s, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontPx_h_s - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontPx_h_s - 2, $_lineHeight_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        width: 35px * 1.2;
      }

      #{$_block}__icon {
        width: 27px * 1.2;
        height: 27px * 1.2;
        background-size: 27px * 1.2 27px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontPx_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontPx_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontPx_h_l, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontPx_h_l - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontPx_h_l - 2, $_lineHeight_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    $_block: &;
    $_fontPx_h: 20;
    $_fontPx_caption: 14;
    $_fontPxDiff: 4;
    $_fontPx_h_s: $_fontPx_h - $_fontPxDiff;
    $_fontPx_h_l: $_fontPx_h + $_fontPxDiff;
    $_fontPx_caption_s: $_fontPx_caption - $_fontPxDiff;
    $_fontPx_caption_l: $_fontPx_caption + $_fontPxDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #675f4f;
    $_textColor_caption: #675f4f;
    font-family: $tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    > div {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 52px;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      background-image: url("../imgs/heading/heading021/heading021_question_v2f1.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 40px 40px;
    }

    &__caption-upper {
      @include g-font-layout($_fontPx_caption, $_lineHeight_caption, $layout);
      padding: 0 0 4px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font-layout($_fontPx_h, $_lineHeight_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontPx_caption, $_lineHeight_caption, $layout);
      padding: 4px 0 0;
      color: $_textColor_caption;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontPx_h - 2, $_lineHeight_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontPx_h - 2, $_lineHeight_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 52px * .8;
      }

      #{$_block}__icon {
        width: 40px * .8;
        height: 40px * .8;
        background-size: 40px * .8 40px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontPx_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontPx_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontPx_h_s, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontPx_h_s - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontPx_h_s - 2, $_lineHeight_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        width: 52px * 1.2;
      }

      #{$_block}__icon {
        width: 40px * 1.2;
        height: 40px * 1.2;
        background-size: 40px * 1.2 40px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontPx_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontPx_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontPx_h_l, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontPx_h_l - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontPx_h_l - 2, $_lineHeight_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    $_block: &;
    $_fontPx_h: 18;
    $_fontPx_caption: 14;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #675f4f;
    $_textColor_caption: #675f4f;
    font-family: $tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 70px * .5;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      width: 50px * .5;
      height: 50px * .5;
      vertical-align: middle;
      background-image: url("../imgs/heading/heading021/heading021_question_v1f1.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 50px * .5 50px * .5;
    }

    &__caption-upper {
      @include g-font($_fontPx_caption, $_lineHeight_caption);
      padding: 0 0 2px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font($_fontPx_h, $_lineHeight_h);
    }

    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight_caption);
      padding: 2px 0 0;
      color: $_textColor_caption;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    $_block: &;
    $_fontPx_h: 18;
    $_fontPx_caption: 14;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #675f4f;
    $_textColor_caption: #675f4f;
    font-family: $tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__iconPlacer {
      width: 86px * .5;
      text-align: left;
    }

    &__icon {
      display: inline-block;
      width: 70px * .5;
      height: 70px * .5;
      vertical-align: middle;
      background-image: url("../imgs/heading/heading021/heading021_question_v2f1.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 70px * .5 70px * .5;
    }

    &__caption-upper {
      @include g-font($_fontPx_caption, $_lineHeight_caption);
      padding: 0 0 2px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font($_fontPx_h, $_lineHeight_h);
    }

    &__caption-lower {
      @include g-font($_fontPx_caption, $_lineHeight_caption);
      padding: 2px 0 0;
      color: $_textColor_caption;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
