@if $device == PC {
  .t0-b-lv1H-pageH#{$variation1of2} {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    box-sizing: border-box;

    width: 1100px;
    padding: 43px 30px;
    margin: 0 auto;
    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f6f3f0;
    background-image:
      url("../imgs/heading/heading028/heading028_frame01_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame02_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame03_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame06_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame07_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame08_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame05_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px 75px,
      75px 75px,
      6px 6px,
      6px 6px,
      1px 6px,
      1px 6px,
      6px 1px,
      6px 1px;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 43px 20px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;

    background-color: #fff2f2;
    box-shadow:
      0 -4px #fff2f2 inset,
      0 -5px #fff inset,
      0 4px #fff2f2 inset,
      0 5px #fff inset;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    box-sizing: border-box;
    width: 1100px;
    padding: 37px 20px;
    margin: 0 auto;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    border: 1px solid #fed326;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH4 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 38px 20px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #fffce9;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH5 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 38px 20px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f0fcff;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    > div {
      width: 1100px;
      margin: 0 auto;
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH6 {

    $_fontSizePx: 34;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    box-sizing: border-box;

    width: 1100px;
    padding: 43px 30px;
    margin: 0 auto;
    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f8f5ef;
    background-image:
      url("../imgs/heading/heading034/heading034_frame01_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame02_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame03_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame06_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame07_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame08_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame05_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    background-size:
      75px 75px,
      75px 75px,
      6px 6px,
      6px 6px,
      1px 6px,
      1px 6px,
      6px 1px,
      6px 1px;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
      &:hover {
        color: $g-hovercolor;
      }
    }

    &__main {
      min-height: 42px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv1H-pageH#{$variation1of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;

    min-height: 3px;
    padding: 37px *.5;
    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f6f3f0;
    background-image:
      url("../imgs/heading/heading028/heading028_frame01_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame02_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame03_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame06_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame07_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame08_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame05_v1f2.png"),
      url("../imgs/heading/heading028/heading028_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    // (PCの値) * 0.5 だと画像の幅が1pxを下回り、ブラウザに表示されない。(PCの値) * 0.5の値をブラウザできれいに表示されるよう手動で値を調整。
    background-size:
      37px 37px,
      37px 37px,
      3px 3px,
      3px 3px,
      1px 3px,
      1px 3px,
      3px 1px,
      3px 1px;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH#{$variation2of2} {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 43px *.5 20px *.5;
    margin: 0 -15px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;

    background-color: #fff2f2;
    box-shadow:
      0 -4px #fff2f2 inset,
      0 -5px #fff inset,
      0 4px #fff2f2 inset,
      0 5px #fff inset;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH3 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 37px *.5 20px *.5;
    // mod-sp-head-barにくっ付いてしまうので、上余白をつける
    margin-top: 10px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    border: 1px solid #fed326;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH4 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 38px *.5 20px *.5;
    margin: 0 -15px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #fffce9;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH5 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;
    padding: 38px *.5 20px *.5;
    margin: 0 -15px;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f0fcff;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv1H-pageH6 {

    $_fontSizePx: 18;
    $_lineHeightType: 1;
    $_textColor: #7e6a44;

    min-height: 3px;
    padding: 37px *.5;

    font-family: $tenorsans;
    color: $_textColor;
    text-align: center;
    background-color: #f8f5ef;
    background-image:
      url("../imgs/heading/heading034/heading034_frame01_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame02_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame03_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame06_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame07_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame08_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame05_v1f2.png"),
      url("../imgs/heading/heading034/heading034_frame04_v1f2.png");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      left top,
      right bottom,
      right top,
      left bottom,
      left top,
      left bottom,
      left bottom,
      right bottom;
    // (PCの値) * 0.5 だと画像の幅が1pxを下回り、ブラウザに表示されない。(PCの値) * 0.5の値をブラウザできれいに表示されるよう手動で値を調整。
    background-size:
      37px 37px,
      37px 37px,
      3px 3px,
      3px 3px,
      1px 3px,
      1px 3px,
      3px 1px,
      3px 1px;
    @include g-font($_fontSizePx, $_lineHeightType);
    a {
      display: block;
      color: $_textColor;
      text-decoration: none;
    }

    &__main {
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
