@if $device == PC {

  .t0-b-footerUnit-siteName2 {

    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #664b3a;

    font-family: $tenorsans;

    &__bd {
      img {
        display: block;
        max-width: 100%;
        min-width: 300px;
        height: auto;
      }
    }
    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: $g-hovercolor;
      }
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      color: $_textColor;
      padding-top: 5px;
    }
    &--width-l {
      img {
        width: 100%;
      }
    }
    &--width-m {
      img {
        width: 75%;
      }
    }
    &--width-s {
      img {
        width: 50%;
      }
    }
  }

}// PC


@if $device == SP {

  .t0-b-footerUnit-siteName2 {

    $_fontSizePx_ft: 14;
    $_lineHeightType: 1;
    $_textColor: #664b3a;

    font-family: $tenorsans;
    color: $_textColor;

    a {
      color: inherit;
      text-decoration: underline;
    }

    &__bd {
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    &__ft {
      @include g-font($_fontSizePx_ft, $_lineHeightType);
      color: $_textColor;
      padding-top: 5px;
    }
    &--width-l img {
      width: 100%;
    }
    &--width-m img {
      width: 75%;
    }
    &--width-s img {
      width: 50%;
    }
  }

}// SP
