@if $device == PC {
  .mod-sp-backto,
  .mod-sp-viewchange {
    a {
      color: $g-textcolor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }
}

@if $device == SP {
  .mod-sp-backto,
  .mod-sp-viewchange {
    a {
      color: $g-textcolor;
      text-decoration: underline;
      &:hover {
        color: $g-hovercolor;
      }
    }
  }
}
