$areaContainerWidth: 1100px;
$areaMainWidth: 750px;
$areaSubWidth: 350px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.area-main {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  // t0-b-fullWidthFrameの背景色がサイドエリアの上に重ならないために必要
  position: relative;
  z-index: 11;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 70px 50px 0;
}

.area-footer {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  z-index: 0;
  background: #fdfbf8;
  border-top: 1px solid #f5ecdb;
}
