.area-all {
  padding-top: 50px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
}

.area-header {
  padding: 0 15px;
}

.area-footer {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  z-index: 0;
  padding: 0 15px;
  background: #fdfbf8;
  border-top: 1px solid #f5ecdb;
}

.area-main {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  z-index: 0;
  padding: 20px 15px 0;
}

.area-sub {
  padding: 20px 15px 0;
}
