$layout: "R30";
$areaContainerWidth: 1060px;
$areaMainWidth: 700px;
$areaSubWidth: 360px;
.area-all {
  margin: 0 auto;
  background-color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  width: 1200px;
  box-shadow: (-8px) 0 8px -1px rgba(0, 0, 0, .31), 8px 0 8px -1px rgba(0, 0, 0, .31), 0 8px 8px -1px rgba(0, 0, 0, .31);
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
  background-color: #fff;
  *zoom: 1;
  padding-top: 20px;
}

.area-container::before,
.area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  float: left;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  float: left;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 0 50px 60px;
  position: relative;

  // R比率の際に、画像列の下(z-index: 10)の下にもぐらないよう11を指定
  z-index: 11;
}

.area-footer {
  width: 100%;
  padding: 50px 0 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../imgs/area-footer/bg.png");
  background-repeat: repeat;
  background-position: left top;
}
