$layout: "N00";
$areaContainerWidth: 1060px;
$areaMainWidth: 1060px;
$areaSubWidth: 310px;
.area-all {
  margin: 0 auto;
  background-color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  width: 1200px;
  box-shadow: -8px 0 8px -1px rgba(0, 0, 0, .31), 8px 0 8px -1px rgba(0, 0, 0, .31), 0 8px 8px -1px rgba(0, 0, 0, .31);
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0 70px;
  background-color: #fff;
  *zoom: 1;
  padding-top: 20px;
}

.area-container::before,
.area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  box-sizing: border-box;
  padding: 0 0 50px;
}

.area-sub {
  display: none;
}

.area-footer {
  width: 100%;
  padding: 50px 0 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../imgs/area-footer/bg.png");
  background-repeat: repeat;
  background-position: left top;
}
