@if $device == PC {
  .t0-b-labeledList#{$variation1of2} {
    table {
      border-collapse: collapse;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 105px;
      background-repeat: repeat-x;
      position: relative;
      > span {
        position: absolute;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
      }
      > div {
        background-repeat: repeat-x, repeat;
        background-position: left bottom, left top;
        background-image: url("../imgs/t0-b-labeledList/bg2.png"), url("../imgs/t0-b-labeledList/bg.png");
        white-space: nowrap;
      }
      div {
        @include g-font(16, 1);
        position: relative;
        color: #555;
        text-align: center;
        padding: 3px 10px 4px;
      }
    }
    tr {
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0 15px;
      div {
        @include g-font(16, 1);
        position: relative;
        padding: 4px 0 3px;
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {
    $_color_bg: #d8e1ea;
    $_color_typo: #555;
    table {
      border-collapse: collapse;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 105px;
      div {
        @include g-font(16, 1);
        color: #fff;
        text-align: center;
        padding: 3px 10px 4px;
        background-repeat: repeat;
        background-image: url("../imgs/t0-b-labeledList/bg3.png");
        white-space: nowrap;
      }
    }
    tr {
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0 15px;
      div {
        @include g-font(16, 1);
        padding: 4px 0 3px;
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    $_color_bg: #7c6600;
    $_color_typo: #555;
    table {
      display: table;
      border-collapse: collapse;
    }
    tbody {
      display: table;
    }
    th {
      display: table;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 105px;
      background-color: #f2eac8;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-labeledList/bg2.png");
      position: relative;
      div {
        @include g-font(16, 1);
        color: #555;
        text-align: center;
        padding: 3px 10px 4px;
      }
    }
    tr {
      display: table;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      display: table;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        padding: 10px 0 3px;
      }
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {
    tbody {
      display: table;
    }
    table {
      display: table;
      border-collapse: collapse;
    }
    th {
      text-align: left;
      vertical-align: top;
      display: table;
      padding: 10px 0 0;
      min-width: 105px;
      background-repeat: repeat;
      background-image: url("../imgs/t0-b-labeledList/bg3.png");
      position: relative;
      > span {
        position: absolute;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
      }
      div {
        @include g-font(16, 1);
        position: relative;
        color: #fff;
        text-align: center;
        padding: 3px 10px 4px;
      }
    }
    tr {
      display: table;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      display: table;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        position: relative;
        padding: 10px 0 3px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-labeledList#{$variation1of2} {
    tbody {
      display: block;
    }
    tr {
      display: block;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 140px;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-labeledList/bg2.png");
      position: relative;
      display: inline-block;
      > span {
        position: absolute;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-labeledList/bg.png");
      }
      div {
        @include g-font(16, 1);
        position: relative;
        color: #555;
        text-align: center;
        padding: 2px 10px 4px;
      }
    }
    td {
      display: block;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        position: relative;
        padding: 5px 0 0;
      }
    }
  }

  .t0-b-labeledList#{$variation2of2} {
    $_color_bg: #d8e1ea;
    $_color_typo: #555;
    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
    }
    tbody {
      display: block;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 140px;
      display: inline-block;
      div {
        @include g-font(16, 1);
        color: #fff;
        text-align: center;
        padding: 2px 10px;
        background-repeat: repeat;
        background-image: url("../imgs/t0-b-labeledList/bg3.png");
      }
    }
    tr {
      display: block;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      text-align: left;
      vertical-align: top;
      display: block;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        padding: 5px 0 0;
      }
    }
  }

  .t0-b-labeledList#{$variation3of3and4} {
    $_color_bg: #999;
    $_color_typo: #555;
    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
    }
    tbody {
      display: block;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 140px;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-image: url("../imgs/t0-b-labeledList/bg2.png");
      position: relative;
      display: inline-block;
      > span {
        position: absolute;
        top: 0;
        bottom: 2px;
        left: 0;
        right: 0;
        background-repeat: repeat;
        background-position: left top;
        background-image: url("../imgs/t0-b-labeledList/bg.png");
      }
      div {
        @include g-font(16, 1);
        position: relative;
        color: #555;
        text-align: center;
        padding: 2px 10px 4px;
      }
    }
    tr {
      display: block;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      display: block;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        position: relative;
        padding: 5px 0 0;
      }
    }
  }

  .t0-b-labeledList#{$variation4of3and4} {
    $_color_bg: #d8e1ea;
    $_color_typo: #555;
    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
    }
    tbody {
      display: block;
    }
    th {
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      min-width: 140px;
      display: inline-block;
      div {
        @include g-font(16, 1);
        color: #fff;
        text-align: center;
        padding: 2px 10px;
        background-repeat: repeat;
        background-image: url("../imgs/t0-b-labeledList/bg3.png");
      }
    }
    tr {
      display: block;
      &:first-child {
        th,
        td {
          padding-top: 0;
        }
      }
    }
    td {
      display: block;
      text-align: left;
      vertical-align: top;
      padding: 10px 0 0;
      div {
        @include g-font(16, 1);
        padding: 5px 0 0;
      }
    }
  }
}
