@if $device == PC {

  .t0-b-lv5H-subH {

    color: #890002;

    h5 {
      @if $layout == "N00" {
        @include g-font(20, 1);
      } @else {
        @include g-font(16, 1);
      }

      display: inline;
      font-weight: bold;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #890002;

      &:hover {
        color: #7c6600;
      }
    }

    &--size-1 {
      h5 {
        @if $layout == "N00" {
          @include g-font(16, 1);
        } @else {
          @include g-font(12, 1);
        }
      }
    }

    &--size-2 {}

    &--size-3 {

      h5 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv5H-subH {
    color: #8e7607;
    padding-bottom: 2px;
    h5 {
      @include g-font(16, 1);
      font-weight: bold;
      display: inline;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      display: inline;
      text-decoration: none;
      color: #8e7607;
      &:hover {
        color: #7c6600;
      }
    }
  }

}
