@if $device == PC {
  .t0-b-lv2H-faqIcon#{$variation1of2} {
    margin: 0 auto;
    background-repeat: repeat-x;
    background-position: left bottom;
    background-image: url("../imgs/t0-b-lv2H-faqIcon/bg.png");
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 0;
    a {
      text-decoration: none;
      color: #555;
      width: 100%;
      &:hover {
        color: #7c6600;
      }
    }
    > div {
      display: flex;
      align-items: center;
    }
    > div > * {
      padding: 0 10px 3px 0;
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 31px;
      height: 41px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv2H-faqIcon/bg4.png");
      background-size: 31px 41px;
    }
    &__iconPlacer {
      > * {
        display: block;
      }
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }

      width: 100%;
    }
    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        background-size: 31px*.8 41px*.8;
        width: 31px*.8;
        height: 41px*.8;
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 31px*1.2 41px*1.2;
        width: 31px*1.2;
        height: 41px*1.2;
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H-faqIcon#{$variation2of2} {
    margin: 0 auto;
    padding: 13px 10px 13px 23px;
    background-image: url("../imgs/t0-b-lv2H-faqIcon/bg3.png"), linear-gradient(#fcfdfd, #f7f7f7, #f0f0f0);
    background-repeat: repeat-y;
    background-position: left top;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #8e7607;
    a {
      text-decoration: none;
      color: #555;
      width: 100%;
      &:hover {
        color: #7c6600;
      }
    }
    > div {
      display: flex;
      align-items: center;
    }
    &__icon {
      display: inline-block;
      width: 54px;
      height: 21px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv2H-faqIcon/bg2.png");
      background-size: 54px 21px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__iconPlacer {
      padding: 0 14px 0 0;
      > * {
        display: block;
      }
    }
    &__h {
      @if $layout == "N00" {
        @include g-font(24, 1);
      } @else {
        @include g-font(20, 1);
      }

      width: 100%;
    }
    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        background-size: 54px*.8 21px*.8;
        width: 54px*.8;
        height: 21px*.8;
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(20, 1);
        } @else {
          @include g-font(16, 1);
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__icon {
        background-size: 54px*1.2 21px*1.2;
        width: 54px*1.2;
        height: 21px*1.2;
      }
      #{$_block}__h {
        @if $layout == "N00" {
          @include g-font(28, 1);
        } @else {
          @include g-font(24, 1);
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

}

@if $device == SP {

  .t0-b-lv2H-faqIcon#{$variation1of2} {
    margin: 0 auto;
    background-repeat: repeat-x;
    background-position: left bottom;
    background-image: url("../imgs/t0-b-lv2H-faqIcon/bg.png");
    padding-bottom: 2px;
    padding-left: 10px;
    line-height: 0;
    a {
      text-decoration: none;
      color: #555;
      width: 100%;
      &:hover {
        color: #7c6600;
      }
    }
    > div {
      display: inline-block;
    }
    > div > * {
      padding: 0 8px 6px 0;
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 31px;
      height: 41px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv2H-faqIcon/bg4.png");
    }
    &__iconPlacer {
      > * {
        display: block;
      }
    }
    &__h {
      @include g-font(18, 1);
      width: 100%;

    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H-faqIcon#{$variation2of2} {
    margin: 0 auto;
    padding: 13px 10px 7px 23px;
    background-image: url("../imgs/t0-b-lv2H-faqIcon/bg3.png"), linear-gradient(#fcfdfd, #f7f7f7, #f0f0f0);
    background-repeat: repeat-y;
    background-position: left top;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #8e7607;
    a {
      text-decoration: none;
      color: #555;
      width: 100%;
      &:hover {
        color: #7c6600;
      }
    }
    > div {
      display: inline-block;
    }
    > div > * {
      display: table-cell;
      vertical-align: middle;
    }
    &__icon {
      display: inline-block;
      width: 54px;
      height: 21px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv2H-faqIcon/bg2.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    &__iconPlacer {
      padding: 0 14px 0 0;
      > * {
        display: block;
      }
    }
    &__h {
      @include g-font(18, 1);
      width: 100%;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
  }
}
