@if $device == PC {

  .t0-b-sideBoxText {
    @include g-font(16, 2);
  }

  .t0-b-sideBoxText2 {
    @include g-font(16, 2);
    color: #716427;
  }
}

@if $device == SP {

  .t0-b-sideBoxText {
    @include g-font(16, 1);
  }

  .t0-b-sideBoxText2 {
    @include g-font(16, 1);
    color: #716427;
  }
}
