@if $device == PC {
  .t0-b-headerUnit-freeHtml {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    div {
      width: 100%;
      box-sizing: border-box;
      > * {
        width: 100%;
        margin: 0 auto !important;
      }
    }
  }

  .t0-b-headerUnit-freeHtml {
    min-width: auto;
  }
}

@if $device == SP {

  .t0-b-headerUnit-freeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    // Youtubeのレスポンシブ対応
    max-height: 240px;
    > div {
      iframe,
      object,
      embed {
        max-height: 240px;
        max-width: 100%;
      }
    }
    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }
    > div {
      overflow: auto;
      width: 100%;
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }
  }


}
