@if $device == PC {
  .t0-b-lv2H#{$variation1of3} {
    a {
      text-decoration: none;
      color: #0e2753;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      &:hover {
        color: $g-hoverColor;
      }
    }

    > div {
      display: inline-block;
      > h2 {
        color: #0e2753;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/5.png") no-repeat -7px 50%;
      width: 50px;
      height: 50px;
    }

    h2 {
      display: table-cell;
      padding: 10px 0 10px 8px;
      @include g-font-spacingKilled(30, 2);
      text-align: left;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    background: #fafafa;
    border: 1px solid #f2f0ea;
    position: relative;
    box-shadow: 0 0 10px #d2cbcb;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H/2.png") no-repeat left 8px bottom 8px, url("../imgs/t0-b-lv2H/3.png") no-repeat right 8px top 8px;
      left: 0;
      top: 0;
      display: block;
      pointer-events: none;
    }

    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
      position: relative;
      &:hover {
        color: $g-hoverColor;
      }
    }

    h2 {
      padding: 20px 30px;
      @include g-font-spacingKilled(30, 2);
      position: relative;
      z-index: 10;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation3of3} {
    text-align: center;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: $g-hoverColor;
      }
    }

    h2 {
      position: relative;
      padding: 22px 10px;
      @include g-font-spacingKilled(30, 2);
      background: url("../imgs/t0-b-lv2H/bg6.png") repeat-x left top, url("../imgs/t0-b-lv2H/bg7.png") repeat-x left bottom;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H4 {
    a {
      text-decoration: none;
      color: #0e2753;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      &:hover {
        color: $g-hoverColor;
      }
    }

    > div {
      display: inline-block;
      > h2 {
        color: #0e2753;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/12.png") no-repeat 0;
      width: 40px;
      height: 40px;
    }

    h2 {
      display: table-cell;
      padding: 10px 0 10px 8px;
      @include g-font-spacingKilled(30, 2);
      text-align: left;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H5 {
    text-align: center;
    overflow: hidden;
    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: $g-hoverColor;
      }
    }

    h2 {
      position: relative;
      padding: 22px 10px;
      @include g-font-spacingKilled(30, 2);
      display: inline-block;
      color: #0e2753;
      &::before {
        position: absolute;
        top: 50%;
        left: -240px;
        content: "";
        background: url("../imgs/t0-b-lv2H/15.png") no-repeat;
        width: 240px;
        height: 7px;
        margin: 0 auto;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: -240px;
        content: "";
        background: url("../imgs/t0-b-lv2H/14.png") no-repeat;
        width: 240px;
        height: 7px;
        margin: 0 auto;
      }
    }

    &--align-l {
      text-align: left;
      h2 {
        &::before {
          display: none;
        }
      }
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H6 {
    text-align: center;
    background: url("../imgs/t0-b-lv2H/19.png");
    background-repeat: no-repeat;
    background-position: bottom;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
      &:hover {
        color: $g-hoverColor;
      }
    }

    h2 {
      position: relative;
      padding: 22px 10px;
      @include g-font-spacingKilled(30, 2);
    }

    &--align-l {
      text-align: left;
      background: url("../imgs/t0-b-lv2H/18.png");
      background-repeat: no-repeat;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H7 {
    text-align: center;
    a {
      text-decoration: none;
      color: #0e2753;
      vertical-align: middle;
      &:hover {
        color: $g-hoverColor;
      }
    }

    h2 {
      padding: 10px 0 10px 8px;
      @include g-font-spacingKilled(30, 2);
      vertical-align: middle;
      color: #0e2753;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv2H#{$variation1of3} {
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #0e2753;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }

    > div {
      display: inline-block;
      > h2 {
        color: #0e2753;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/5.png") no-repeat -7px 50%;
      width: 50px;
      height: 50px;
    }

    h2 {
      display: table-cell;
      padding: 10px 0 10px 8px;
      @include g-font-spacingKilled(18, 1);
      text-align: left;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    margin: 0 auto;
    background: #fafafa;
    border: 1px solid #f2f0ea;
    position: relative;
    box-shadow: 0 0 10px #d2cbcb;
    > span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../imgs/t0-b-lv2H/2.png") no-repeat left 8px bottom 8px, url("../imgs/t0-b-lv2H/3.png") no-repeat right 8px top 8px;
      left: 0;
      top: 0;
      display: block;
    }

    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      text-decoration: none;
      color: #0e2753;
      position: relative;
    }

    h2 {
      padding: 20px 30px;
      @include g-font-spacingKilled(18, 1);
      position: relative;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation3of3} {
    text-align: center;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
    }

    h2 {
      position: relative;
      padding: 20px 10px;
      @include g-font-spacingKilled(18, 1);
      background: url("../imgs/t0-b-lv2H/bg6.png") repeat-x left top, url("../imgs/t0-b-lv2H/bg7.png") repeat-x left bottom;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H4 {
    margin: 0 auto;
    a {
      text-decoration: none;
      color: #0e2753;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }

    > div {
      display: inline-block;
      > h2 {
        color: #0e2753;
      }
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/12.png") no-repeat 50%;
      width: 50px;
      height: 50px;
    }

    h2 {
      display: table-cell;
      padding: 10px 0 10px 8px;
      @include g-font-spacingKilled(18, 1);
      text-align: left;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H5 {
    text-align: center;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
    }

    h2 {
      position: relative;
      padding: 20px 10px;
      @include g-font-spacingKilled(18, 1);
      display: inline-block;
      color: #0e2753;
      &::before {
        position: absolute;
        top: 50%;
        left: -160px;
        content: "";
        background: url("../imgs/t0-b-lv2H/15.png") no-repeat;
        width: 160px;
        height: 7px;
        margin: 0 auto;
        background-size: 160px;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: -160px;
        content: "";
        background: url("../imgs/t0-b-lv2H/14.png") no-repeat;
        width: 160px;
        height: 7px;
        margin: 0 auto;
        background-size: 160px;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H6 {
    text-align: center;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
    }

    h2 {
      position: relative;
      padding: 20px 10px;
      @include g-font-spacingKilled(18, 1);
      background: url("../imgs/t0-b-lv2H/bg6.png") repeat-x left top, url("../imgs/t0-b-lv2H/bg7.png") repeat-x left bottom;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H7 {
    text-align: center;
    > div {
      > h2 {
        color: #0e2753;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: #0e2753;
    }

    h2 {
      position: relative;
      padding: 20px 10px;
      @include g-font-spacingKilled(18, 1);
      background: url("../imgs/t0-b-lv2H/bg6.png") repeat-x left top, url("../imgs/t0-b-lv2H/bg7.png") repeat-x left bottom;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
