@if $device == PC {
  .t0-b-freeHtml {
    .admin & > div {
      background: #666;
      color: #fff;
      margin: 0 auto;
    }

    box-sizing: border-box;
    overflow: hidden;
    div {
      text-align: center;
      > * {
        max-width: 100%;
        margin: 0 auto !important;
        border: #4f3100 solid 1px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-freeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      border: 1px solid #666;
    }
  }
}
