@if $device == PC {
  .t0-b-lv2H#{$variation1of2} {
    $_block: &;
    $_fontSize: 24;
    $_lineHeight: 1;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_caption: 16;
    $_lineHeight_caption: 1;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption+$_fontSizeDiff;

    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    color: #240d0d;
    position: relative;
    display: table;
    padding: 5px 0 5px 44px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 44px;
      height: 40px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/main/1/3.png");
    }

    a {
      text-decoration: none;
      color: #240d0d;
      &:hover {
        color: $g-hoverColor;
      }
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 0 5px 12px;
    }

    h2 {
      @include g-font($_fontSize, $_lineHeight);
      font-weight: 400;
      padding-left: 12px;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 5px 0 0 12px;
    }

    &--size-1 {
      padding-left: 44px * .8;
      &::before {
        width: 44px * .8;
        height: 40px * .8;
        background-size: 44px * .8 40px * .8;
      }

      h2 {
        @include g-font($_fontSize_s, $_lineHeight);
        padding-left: 12px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 0 0 7px * .8 12px * .8;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 7px * .8 0 0 12px * .8;
      }
    }

    &--size-3 {
      padding-left: 44px * 1.2;
      &::before {
        width: 44px * 1.2;
        height: 40px * 1.2;
        background-size: 44px * 1.2 40px * 1.2;
      }

      h2 {
        @include g-font($_fontSize_l, $_lineHeight);
        padding-left: 12px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 0 0 7px * 1.2 12px * 1.2;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 7px * 1.2 0 0 12px * 1.2;
      }
    }

    &--align-l {
      margin-right: auto;
      text-align: left;
    }

    &--align-c {
      margin: 0 auto;
      text-align: center;
    }

    &--align-r {
      margin-left: auto;
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of2} {
    $_block: &;
    $_fontSize: 24;
    $_lineHeight: 1;
    $_fontSizeDiff: 4;
    $_fontSize_s: $_fontSize - $_fontSizeDiff;
    $_fontSize_l: $_fontSize + $_fontSizeDiff;
    $_fontSize_caption: 16;
    $_lineHeight_caption: 1;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption+$_fontSizeDiff;

    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(#865c17, #322206);
    position: relative;
    text-align: center;
    border-top: 1px solid #4f3100;
    text-shadow: -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/2/3-2.png");
      width: 90px;
      height: 43px;
      bottom: 6px;
      right: 0;
    }

    &::before {
      content: "";
      height: 6px;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 110px 6px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/2/3-1.png");
      bottom: 0;
      right: 0;
      left: 0;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $g-hoverColor;
      }
    }

    > div {
      padding: 12px 15px 19px;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-bottom: 7px;
    }

    h2 {
      @include g-font($_fontSize, $_lineHeight);
      font-weight: 400;
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding-top: 7px;
    }

    &--size-1 {
      &::after {
        background-size: 90px * .8 43px * .8;
        width: 90px * .8;
        height: 43px * .8;
        bottom: 6px * .8;
      }

      &::before {
        height: 6px * .8;
        background-size: 110px * .8 6px * .8;
      }

      > div {
        padding: 12px * .8 15px * .8 19px * .8;
      }

      h2 {
        @include g-font($_fontSize_s, $_lineHeight);
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-bottom: 7px * .8;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding-top: 7px * .8;
      }
    }

    &--size-3 {
      &::after {
        background-size: 90px * 1.2 43px * 1.2;
        width: 90px * 1.2;
        height: 43px * 1.2;
        bottom: 6px * 1.2;
      }

      &::before {
        height: 6px * 1.2;
        background-size: 110px * 1.2 6px * 1.2;
      }

      > div {
        padding: 12px * 1.2 15px * 1.2 19px * 1.2;
      }

      h2 {
        @include g-font($_fontSize_l, $_lineHeight);
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding-bottom: 7px * 1.2;
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-lv2H#{$variation1of2} {
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    margin: 0 auto;
    color: #240d0d;
    a {
      text-decoration: none;
      color: #240d0d;
    }

    > div {
      display: inline-block;
      padding: 12px 0 12px 50px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-position: 0 0;
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px;
        height: 40px;
        overflow: hidden;
        text-indent: -100px;
        color: transparent;
        background-image: url("../imgs/main/1/3.png");
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    h2 {
      @include g-font-spacingKilled(18, 2);
      font-weight: 400;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding-top: 8px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H#{$variation2of2} {
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(#865c17, #322206);
    position: relative;
    text-align: center;
    border-top: 1px solid #4f3100;
    text-shadow: -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04, -1px -1px 1px #412c04, 1px -1px 1px #412c04, -1px 1px 1px #412c04, 1px 1px 1px #412c04;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/2/3-2.png");
      width: 90px;
      height: 43px;
      bottom: 6px;
      right: 0;
    }

    &::before {
      content: "";
      height: 6px;
      background-repeat: repeat-x;
      background-position: left bottom;
      background-size: 110px 6px;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/2/3-1.png");
      bottom: 0;
      right: 0;
      left: 0;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    > div {
      padding: 8px 15px 17px;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding-bottom: 5px;
    }

    h2 {
      @include g-font-spacingKilled(18, 2);
      font-weight: 400;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding-top: 8px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
