@if $device == PC {
  .t0-b-lv4H {
    $_block: &;
    $_fontSize_bd: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;

    position: relative;
    color: #fff;
    z-index: 100;
    padding: 8px 0 5px;
    min-height: 38px;
    box-sizing: border-box;
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-1.png");
      width: 30px;
      height: 28px;
      top: 0;
      left: 5px;
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-2.png");
      width: 16px;
      height: 13px;
      bottom: 5px;
      right: 5px;
    }

    > span {
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/main/1/16-7.png"), url("../imgs/main/2/9-1.png"), url("../imgs/main/2/9-2.png"), url("../imgs/main/2/9-3.png"), url("../imgs/main/1/16-6.png");
      background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat;
      background-size: 4px 2px, 2px 58px, 2px 58px, 146px 2px, 272px 30px;
      background-position: left bottom, left top, right top, left top, top left;
      background-color: #735f0d;
      top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 40px 4px;
    }

    &__bd {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      h4 {
        color: #fff;
        @include g-font($_fontSize_bd, $_lineHeight_bd);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding: 0 40px;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 4px 40px 0;
    }

    &--size-1 {
      padding: 8px * .8 0 5px * .8;
      min-height: 38px * .8;
      &::after {
        background-size: 30px * .8 28px * .8;
        width: 30px * .8;
        height: 28px * .8;
        left: 5px * .8;
      }

      &::before {
        background-size: 16px * .8 13px * .8;
        width: 16px * .8;
        height: 13px * .8;
        bottom: 5px * .8;
        right: 5px * .8;
      }

      > span {
        background-size: 4px * .8 2px * .8, 2px * .8 58px * .8, 2px * .8 58px * .8, 146px * .8 2px * .8, 272px * .8 30px * .8;
        top: 5px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 0 40px * .8 4px * .8;
      }

      #{$_block}__bd {
        h4 {
          @include g-font($_fontSize_bd_s, $_lineHeight_bd);
          padding: 0 40px * .8;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 4px * .8 40px * .8 0;
      }
    }

    &--size-3 {
      padding: 8px * 1.2 0 5px * 1.2;
      min-height: 38px * 1.2;
      &::after {
        background-size: 30px * 1.2 28px * 1.2;
        width: 30px * 1.2;
        height: 28px * 1.2;
        left: 5px * 1.2;
      }

      &::before {
        background-size: 16px * 1.2 13px * 1.2;
        width: 16px * 1.2;
        height: 13px * 1.2;
        bottom: 5px * 1.2;
        right: 5px * 1.2;
      }

      > span {
        background-size: 4px * 1.2 2px * 1.2, 2px * 1.2 58px * 1.2, 2px * 1.2 58px * 1.2, 146px * 1.2 2px * 1.2, 272px * 1.2 30px * 1.2;
        top: 5px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 0 40px * 1.2 4px * 1.2;
      }

      #{$_block}__bd {
        h4 {
          @include g-font($_fontSize_bd_l, $_lineHeight_bd);
          padding: 0 40px * 1.2;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 4px * 1.2 40px * 1.2 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: $g-hoverColor;
      }

      h4 {
        &:hover {
          color: $g-hoverColor;
        }
      }
    }
  }

  .t0-b-lv4H2 {
    $_block: &;
    $_fontSize_bd: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;

    position: relative;
    color: #fff;
    z-index: 100;
    padding: 8px 0 5px;
    min-height: 38px;
    box-sizing: border-box;
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-1.png");
      width: 30px;
      height: 28px;
      top: 0;
      left: 5px;
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-2.png");
      width: 16px;
      height: 13px;
      bottom: 5px;
      right: 5px;
    }

    > span {
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/main/1/16-7.png"), url("../imgs/main/1/16-3.png"), url("../imgs/main/1/16-4.png"), url("../imgs/main/1/16-5.png"), url("../imgs/main/1/16-6.png");
      background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat;
      background-size: 4px 2px, 2px 58px, 2px 58px, 146px 2px, 272px 30px;
      background-position: left bottom, left top, right top, left top, top left;
      background-color: #ae3f3f;
      top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 40px 4px;
    }

    &__bd {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      h4 {
        color: #fff;
        @include g-font($_fontSize_bd, $_lineHeight_bd);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding: 0 40px;
        box-sizing: border-box;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 4px 40px 0;
    }

    &--size-1 {
      padding: 8px * .8 0 5px * .8;
      min-height: 38px * .8;
      &::after {
        background-size: 30px * .8 28px * .8;
        width: 30px * .8;
        height: 28px * .8;
        left: 5px * .8;
      }

      &::before {
        background-size: 16px * .8 13px * .8;
        width: 16px * .8;
        height: 13px * .8;
        bottom: 5px * .8;
        right: 5px * .8;
      }

      > span {
        background-size: 4px * .8 2px * .8, 2px * .8 58px * .8, 2px * .8 58px * .8, 146px * .8 2px * .8, 272px * .8 30px * .8;
        top: 5px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 0 40px * .8 4px * .8;
      }

      #{$_block}__bd {
        h4 {
          @include g-font($_fontSize_bd_s, $_lineHeight_bd);
          padding: 0 40px * .8;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 4px * .8 40px * .8 0;
      }
    }

    &--size-3 {
      padding: 8px * 1.2 0 5px * 1.2;
      min-height: 38px * 1.2;
      &::after {
        background-size: 30px * 1.2 28px * 1.2;
        width: 30px * 1.2;
        height: 28px * 1.2;
        left: 5px * 1.2;
      }

      &::before {
        background-size: 16px * 1.2 13px * 1.2;
        width: 16px * 1.2;
        height: 13px * 1.2;
        bottom: 5px * 1.2;
        right: 5px * 1.2;
      }

      > span {
        background-size: 4px * 1.2 2px * 1.2, 2px * 1.2 58px * 1.2, 2px * 1.2 58px * 1.2, 146px * 1.2 2px * 1.2, 272px * 1.2 30px * 1.2;
        top: 5px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 0 40px * 1.2 4px * 1.2;
      }

      #{$_block}__bd {
        h4 {
          @include g-font($_fontSize_bd_l, $_lineHeight_bd);
          padding: 0 40px * 1.2;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 4px * 1.2 40px * 1.2 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: $g-hoverColor2;
      }

      h4 {
        &:hover {
          color: $g-hoverColor2;
        }
      }
    }
  }

  .t0-b-lv4H3 {
    $_block: &;
    $_fontSize_bd: 20;
    $_fontSize_caption: 16;
    $_fontSizeDiff: 4;
    $_fontSize_bd_s: $_fontSize_bd - $_fontSizeDiff;
    $_fontSize_bd_l: $_fontSize_bd + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_bd: 1;
    $_lineHeight_caption: 1;

    color: $g-textColor;
    text-align: center;
    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 100px;
      font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
      font-weight: 400;
    }

    &__bd {
      background-image: url("../imgs/main/1/5-3.png");
      background-size: 10px 27px;
      background-repeat: repeat-x;
      background-position: left center;
      h4 {
        display: inline-block;
        @include g-font($_fontSize_bd, $_lineHeight_bd);
        min-height: 35px !important;
        box-sizing: border-box;
        padding: 8px 100px 0;
        position: relative;
        font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        background-image: url("../imgs/main/1/5-1.png"), url("../imgs/main/1/5-2.png"), url("../imgs/main/1/5-4.png");
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: left center, right center, left center;
        vertical-align: top;
      }
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 8px 100px 0;
      font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
      font-weight: 400;
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 0 100px * .8;
      }

      #{$_block}__bd {
        background-size: 10px * .8 27px * .8;
        h4 {
          @include g-font($_fontSize_bd_s, $_lineHeight_bd);
          min-height: 35px * .8 !important;
          padding: 8px * .8 100px * .8 0;
          background-size: 91px * .8 27px * .8, 91px * .8 27px * .8, 12px * .8 40px * .8;
          vertical-align: top;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_s, $_lineHeight_caption);
        padding: 8px * .8 100px * .8 0;
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 0 100px * 1.2;
      }

      #{$_block}__bd {
        background-size: 10px * 1.2 27px * 1.2;
        h4 {
          @include g-font($_fontSize_bd_l, $_lineHeight_bd);
          min-height: 35px * 1.2 !important;
          padding: 8px * 1.2 100px * 1.2 0;
          background-size: 91px * 1.2 27px * 1.2, 91px * 1.2 27px * 1.2, 12px * 1.2 40px * 1.2;
          vertical-align: top;
        }
      }

      #{$_block}__caption-lower {
        @include g-font($_fontSize_caption_l, $_lineHeight_caption);
        padding: 8px * 1.2 100px * 1.2 0;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H {
    margin-top: -5px;
    position: relative;
    color: #fff;
    z-index: 19;
    padding: 10px 0 8px;
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-1.png");
      width: 30px;
      height: 28px;
      top: 0;
      left: 5px;
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-2.png");
      width: 16px;
      height: 13px;
      bottom: 5px;
      right: 5px;
    }

    > span {
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/main/1/16-7.png"), url("../imgs/main/2/9-1.png"), url("../imgs/main/2/9-2.png"), url("../imgs/main/2/9-3.png"), url("../imgs/main/1/16-6.png");
      background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat;
      background-size: 4px 2px, 2px 58px, 2px 58px, 146px 2px, 272px 30px;
      background-position: left bottom, left top, right top, left top, top left;
      background-color: #735f0d;
      top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 15px 4px 40px;
    }

    &__bd {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h4 {
        color: #fff;
        @include g-font(18, 1);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding: 0 15px 0 40px;
        box-sizing: border-box;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 15px 0 40px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .t0-b-lv4H2 {
    margin-top: -5px;
    position: relative;
    color: #fff;
    z-index: 19;
    padding: 10px 0 8px;
    font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-1.png");
      width: 30px;
      height: 28px;
      top: 0;
      left: 5px;
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/main/1/16-2.png");
      width: 16px;
      height: 13px;
      bottom: 5px;
      right: 5px;
    }

    > span {
      display: block;
      position: absolute;
      pointer-events: none;
      background: url("../imgs/main/1/16-7.png"), url("../imgs/main/1/16-3.png"), url("../imgs/main/1/16-4.png"), url("../imgs/main/1/16-5.png"), url("../imgs/main/1/16-6.png");
      background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat;
      background-size: 4px 2px, 2px 58px, 2px 58px, 146px 2px, 272px 30px;
      background-position: left bottom, left top, right top, left top, top left;
      background-color: #ae3f3f;
      top: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 15px 4px 40px;
    }

    &__bd {
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, right top;
      display: flex;
      justify-content: center;
      flex-direction: column;
      h4 {
        color: #fff;
        @include g-font(18, 1);
        background-repeat: no-repeat, no-repeat;
        background-position: left center, right center;
        padding: 0 15px 0 40px;
        box-sizing: border-box;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 15px 0 40px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .t0-b-lv4H3 {
    color: $g-textColor;
    text-align: center;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 30px 4px;
      font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
      font-weight: 400;
    }

    &__bd {
      line-height: 0;
      background-image: url("../imgs/main/1/5-5.png");
      background-repeat: repeat-x;
      background-position: left center;
      h4 {
        display: inline-block;
        @include g-font(18, 1);
        box-sizing: border-box;
        padding: 0 30px;
        position: relative;
        font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
        font-weight: 400;
        background-image: url("../imgs/main/1/5-5.png"), url("../imgs/main/1/5-5.png"), url("../imgs/main/1/5-4.png");
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: left center, right center, left center;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 30px 0;
      font-family: "YuMincho", "游明朝", "メイリオ", "Meiryo", serif;
      font-weight: 400;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $g-textColor;
    }
  }
}
