@if $device == PC {
  .t0-b-sideFreeHtml {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    > div {
      text-align: center;
      > * {
        border: 1px solid #4f3100;
      }
    }

    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }

    .admin & {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

@if $device == SP {
  .t0-b-sideFreeHtml {
    text-align: center;
    overflow: auto;
    padding: 0 5px;
    > div {
      > * {
        margin: 0 auto !important;
        max-width: 100% !important;
      }
    }

    .admin & > div {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
    }
  }
}
