$device: 'PC';
$layout: 'R25';
@import '../../../common/devStuff/src/assets/assets';
@import '../../../common/devStuff/src/assets/fontsPC';
@import '../../../common/devStuff/src/assets/normalize';
@import '../../../common/devStuff/src/assets/afterNormalize';
@import '../../../common/devStuff/src/assets/lightbox';
@import '../../../common/devStuff/src/assets/topSpacingTweak';
@import '../../../common/devStuff/src/assets/leftSpacingTweak';
@import 'config/themeConfig';
@import 'config/variationConfig';
@import 'config/bPlacer';
@import 'layout/layout-R25';
@import 'modules/all-modules';
@import 'parts/all';
