$g-fullWidthBGColor: #928a4c1a;
$g-fullWidthBGColor2: #e29c2b33;
$g-fullWidthBGColor3: #67472059;
$g-fullWidthBGColor4: #618200bf;
$g-fullWidthBGColor5: transparent;
$g-baseHoverColor: #ee8100;
$g-baseTextColor: #555;
$g-hoverColor: #ee8100;
$g-hoverColor2: #734e31;
$g-textColor: #555;
