$variation1of2: "2";
$variation2of2: "";
$variation1of3: "3";
$variation2of3: "";
$variation3of3: "2";
$variation1of4: "4";
$variation2of4: "";
$variation3of4: "2";
$variation4of4: "3";
// 4つのバリエーションを持つ部品で、1と2、3と4だけを入れ替えたい場合に使用する
$variation3of3and4: "4";
$variation4of3and4: "3";
// 3つのバリエーションを持つ部品で、1と3だけを入れ替えたい場合に使用する
$variation1of1and3: "3";
$variation3of1and3: "";
$variation1of13: "0";
$variation2of13: "2";
$variation3of13: "3";
$variation4of13: "5";
$variation5of13: "4";
$variation6of13: "7";
$variation7of13: "6";
$variation8of13: "9";
$variation9of13: "8";
$variation10of13: "11";
$variation11of13: "10";
$variation12of13: "13";
$variation13of13: "12";
