$variation1of2: '';
$variation2of2: '2';

$variation1of3: '';
$variation2of3: '2';
$variation3of3: '3';

$variation1of4: '';
$variation2of4: '2';
$variation3of4: '3';
$variation4of4: '4';

// 4つのバリエーションを持つ部品で、1と2、3と4だけを入れ替えたい場合に使用する
$variation3of3and4: '3';
$variation4of3and4: '4';

// 3つのバリエーションを持つ部品で、1と3だけを入れ替えたい場合に使用する
$variation1of1and3: '';
$variation3of1and3: '3';

$variationof16: '';
$variation2of16: '2';
$variation3of16: '3';
$variation4of16: '4';
$variation5of16: '5';
$variation6of16: '6';
$variation7of16: '7';
$variation8of16: '8';
$variation9of16: '9';
$variation10of16: '10';
$variation11of16: '11';
$variation12of16: '12';
$variation13of16: '13';
$variation14of16: '14';
$variation15of16: '15';
$variation16of16: '16';
