$g-fullWidthBGColor: #fff4f4;
$g-fullWidthBGColor2: #fdfaf0;
$g-fullWidthBGColor3: #e2edf8;
$g-fullWidthBGColor4: #bd636a;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #e8b1b6;
$g-fullWidthBGColor7: #efede8;
$g-fullWidthBGColor8: #f1f1f1;
$g-hoverColor: #c96868;
