$g-fullWidthBGColor: #fff4f4;
$g-fullWidthBGColor2: #fdfaf0;
$g-fullWidthBGColor3: #e2edf8;
$g-fullWidthBGColor4: #bd636a;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #e8b1b6;
$g-fullWidthBGColor7: #efede8;
$g-fullWidthBGColor8: #f1f1f1;
$g-hoverColor: #c96868;
$frameOuter0_hoverTextColor: #c96868;
$frameOuter2_hoverTextColor: #c96868;
$frameOuter3_hoverTextColor: #c96868;
$frameOuter4_hoverTextColor: #c96868;
$frameOuter5_hoverTextColor: #c96868;
$frameOuter6_hoverTextColor: #c96868;
$frameOuter7_hoverTextColor: #c96868;
$frameOuter8_hoverTextColor: #c96868;
$frameOuter9_hoverTextColor: #c96868;
$frameOuter10_hoverTextColor: #c96868;
$frameOuter11_hoverTextColor: #c96868;
$frameOuter12_hoverTextColor: #c96868;
