.area-all {
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 50px;
  background-image: url("../imgs/area-all/bg.png");
  background-repeat: repeat;
}

.area-container {
  margin-top: 10px;
}

.area-header {
  padding: 0 15px;
}

.area-footer {
  padding: 20px 15px 0;
}

.area-main {
  padding: 10px 15px 0;
  position: relative;
  z-index: 10;
  &::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    left: 0;
    bottom: 10px;
    background: rgba(255, 255, 255, .2);
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 10px;
    left: 10px;
    bottom: 0;
    background: rgba(255, 255, 255, .2);
    z-index: -1;
  }
}

.area-sub {
  padding: 20px 15px 0;
}
