$g-fullWidthBGColor: #fee;
$g-fullWidthBGColor2: #fdfaf0;
$g-fullWidthBGColor3: #e7e6e2;
$g-fullWidthBGColor4: #c32f2f;
$g-fullWidthBGColor5: #fff;
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #393939;
$g-hoverColor: #e60214;
$g-hoverColor2: #e3717a;
$g-hoverColor3: #95010c;
$g-textColor: #393939;
