$g-baseFontSize: 14px;
// 旧変数対応
$baseFontSize: $g-baseFontSize;
$g-baseFontColor: #393939;
$g-baseBackgroundColor: #fff;
html {
  font-size: $g-baseFontSize;
}

body.mod-body,
div.mod-body {
  font-family: $gothic;
  font-size: $g-baseFontSize;
  font-weight: 500;
  color: $g-baseFontColor;
  background-color: $g-baseBackgroundColor;
}

.mod-body {
  button, input, optgroup, select, textarea {
    font-family: $gothic;
  }
}

a {
  color: $g-baseFontColor;
  text-decoration: underline;
}

@if $device == PC {
  a {
    &:hover {
      color: #e60214;
    }
  }
}

$g-textColor: #393939;
$g-hoverColor: #e60214;
$g-hoverColor2: #e3717a;
$g-hoverColor3: #95010c;
$_tel_wd: 40px;
$_tel_hg: 40px;
$_fax_wd: 48px;
$_fax_hg: 28px;
$_free_wd: 52px;
$_free_hg: 29px;
$_cell_wd: 23px;
$_cell_hg: 40px;
$g-spacingBaseLength: 5;
@mixin cf {
  &::before, &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin g-rteTableReset() {
  th, td {
    > table:first-child {
      margin-top: 0;
    }

    > ul:first-child {
      margin-top: 0;
    }

    > ol:first-child {
      margin-top: 0;
    }

    > p:first-child {
      margin-top: 0;
    }

    > hr:first-child {
      margin-top: 0;
    }
  }
}

$fullWidthBgColor: #fee;
$fullWidthBgColor2: #fdfaf0;
$fullWidthBgColor3: #e7e6e2;
$fullWidthBgColor4: #c32f2f;
$fullWidthBgColor5: #fff;
$frameSpacingPC-l: 50px;
$frameSpacingPC-m: 25px;
$frameSpacingPC-s: 10px;
$frameSpacingSP-l: 50px;
$frameSpacingSP-m: 25px;
$frameSpacingSP-s: 10px;
@if $device == PC {
  .cms-partsConfig-width-m {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .cms-partsConfig-width-s {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
