$areaContainerWidth: 1062px;
$areaMainWidth: 1062px;
$areaSubWidth: 320px;

.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-image: url("../imgs/area-all/bg.png");
  background-repeat: repeat;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  *zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}


.area-main {
  box-sizing: border-box;
  padding: 0 0 50px;
  margin: 0 auto;
  min-height: 100px;
  width: $areaMainWidth;
}

.area-sub {
  display: none;
}

.area-footer {
  background-image: url("../imgs/area-footer/bg.png"), url("../imgs/area-footer/bg2.png");
  background-repeat: repeat-x, repeat;
  background-position: left top, left top;
  padding: 25px 0 0;
  padding-top: 1px; //フッター最上部のフッターメニューの背景が伸びないための指定
}
