$layout: "L25";
$areaContainerWidth: 1062px;
$areaMainWidth: 740px;
$areaSubWidth: 320px;
.area-all {
  background-image: url("../imgs/area-all/bg.png");
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.area-main {
  position: relative;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  position: relative;
  box-sizing: border-box;
  width: $areaSubWidth;
  padding: 0 52px 50px 0;
}

.area-footer {
  position: relative;
  background-image: url("../imgs/area-footer/bg.png"), url("../imgs/area-footer/bg2.png");
  background-repeat: repeat-x, repeat;
  background-position: left top, left top;
  padding: 25px 0 0;
}
