$areaContainerWidth: 1020px;
$areaMainWidth: 670px;
$areaSubWidth: 350px;
.area-all {
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url("../imgs/area-all/bg.png");
  background-repeat: repeat;
  background-position: left top;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  &::before, &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.area-main {
  float: left;
  width: $areaMainWidth;
  box-sizing: border-box;
  padding: 0 0 50px;
}

.area-sub {
  // R比率の際に、画像列の下(z-index: 10)の下にもぐらないよう11を指定
  z-index: 11;
  position: relative;
  float: right;
  width: $areaSubWidth;
  min-height: 100px;
  box-sizing: border-box;
  padding: 0 0 50px 50px;
}

.area-footer {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  padding-top: 1px;
  background-image: url("../imgs/footer/1/1-1.png"), url("../imgs/footer/1/1-2.png"), url("../imgs/footer/1/3.png");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 32px, 100% 32px, 0 32px;
  background-size: 140px 340px, 140px 340px, 1px 340px;
  background-color: #f8f4eb;
}
