$areaContainerWidth: 1100px;
$areaMainWidth: 700px;
$areaSubWidth: 400px;
.area-all {
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}

.area-main {
  position: relative;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
}

.area-sub {
  position: relative;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 0 50px 70px;
}

.area-footer {
  position: relative;
  background: #f8f4f4;
}
