@if $device == PC {
  .t0-b-freeHtml {
    box-sizing: border-box;
    overflow: hidden;
    div {
      color: $g-textColor;
      text-align: center;
      > * {
        max-width: 100%;
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
      }
    }

    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }
  }
}

@if $device == SP {
  .t0-b-freeHtml {
    max-height: 240px;
    // YouTubeのレスポンシブ対応
    overflow: auto;
    text-align: center;
    > div {
      overflow: auto;
      iframe, object, embed {
        max-width: 100%;
        max-height: 240px;
      }

      > * {
        max-width: 100% !important;
        // スライド動画のスタイルを打ち消して中央寄せにする
        margin: 0 auto !important;
      }
    }
  }
}
