@if $device == PC {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    $_fontSize_h: 22;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #333;
    $_textColor_caption: #333;
    font-family: $font-tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      width: 70px;
      text-align: left;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 56px;
      height: 56px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 56px;
      @mixin _iconStyles($_type, $_i) {
        $_src: "../imgs/common/numIcon002/#{$_type}.svg";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &::before {
              display: block;
              padding-top: 31px;
              overflow: hidden;
              font-family: $font-tenorSans;
              color: #fff;
              text-align: center;
              content: "#{$_i}";
              @include g-font(20, 0);
            }
          }
        }
      }
    }

    &__bd {
      position: relative;
      top: 2px;
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 0 6px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font-layout($_fontSize_h, $_lineHeight_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 6px 0 0;
      color: $_textColor_caption;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, $_lineHeight_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, $_lineHeight_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 70px * .8;
      }

      #{$_block}__icon {
        width: 56px * .8;
        height: 56px * .8;
        background-size: 56px * .8;
        &::before {
          @include g-font(16, 0);
          padding-top: 24px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, $_lineHeight_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        width: 70px *1.2;
      }

      #{$_block}__icon {
        width: 56px *1.2;
        height: 56px *1.2;
        background-size: 56px *1.2;
        &::before {
          @include g-font(24, 0);
          padding-top: 38px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, $_lineHeight_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_block: &;
    $_fontSize_h: 22;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #333;
    $_textColor_caption: #0091ff;
    font-family: $font-tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      &:hover {
        color: $g-hoverColor;
      }

      #{$_block}__h {
        color: $_textColor_h;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      width: 74px;
      text-align: left;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 60px;
      height: 60px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 60px;
      @mixin _iconStyles($_type, $_i) {
        $_src: "../imgs/common/numIcon001/#{$_type}.svg";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &::before {
              display: block;
              padding-top: 34px;
              overflow: hidden;
              font-family: $font-tenorSans;
              color: #fff;
              text-align: center;
              content: "#{$_i}";
              @include g-font(20, 0);
            }
          }
        }
      }
    }

    &__bd {
      position: relative;
      top: 2px;
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 0 0 6px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font-layout($_fontSize_h, $_lineHeight_h, $layout);
    }

    &__caption-lower {
      @include g-font-layout($_fontSize_caption, $_lineHeight_caption, $layout);
      padding: 6px 0 0;
      color: $_textColor_caption;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSize_h - 2, $_lineHeight_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSize_h - 2, $_lineHeight_h, $layout);
    }

    &--size-1 {
      #{$_block}__iconPlacer {
        width: 74px * .8;
      }

      #{$_block}__icon {
        width: 60px * .8;
        height: 60px * .8;
        background-size: 60px * .8;
        &::before {
          @include g-font(16, 0);
          padding-top: 27px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_s, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_s, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_s - 2, $_lineHeight_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__iconPlacer {
        width: 74px *1.2;
      }

      #{$_block}__icon {
        width: 60px *1.2;
        height: 60px *1.2;
        background-size: 60px *1.2;
        &::before {
          @include g-font(24, 0);
          padding-top: 41px;
        }
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSize_caption_l, $_lineHeight_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSize_h_l, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, $_lineHeight_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSize_h_l - 2, $_lineHeight_h, $layout);
      }
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-numIcon#{$variation1of2} {
    $_block: &;
    $_fontSize_h: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #333;
    $_textColor_caption: #333;
    font-family: $font-tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      width: 100px * .5;
      text-align: left;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 80px * .5;
      height: 80px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 80px * .5;
      @mixin _iconStyles($_type, $_i) {
        $_src: "../imgs/common/numIcon002/#{$_type}.svg";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &::before {
              display: block;
              padding-top: 42px * .5;
              overflow: hidden;
              font-family: $font-tenorSans;
              color: #fff;
              text-align: center;
              content: "#{$_i}";
              @include g-font(16, 0);
            }
          }
        }
      }
    }

    &__bd {
      position: relative;
      top: 2px;
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 0 3px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 3px 0 0;
      color: $_textColor_caption;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }

  .t0-b-lv4H-numIcon#{$variation2of2} {
    $_block: &;
    $_fontSize_h: 18;
    $_fontSize_caption: 14;
    $_fontSizeDiff: 4;
    $_fontSize_h_s: $_fontSize_h - $_fontSizeDiff;
    $_fontSize_h_l: $_fontSize_h + $_fontSizeDiff;
    $_fontSize_caption_s: $_fontSize_caption - $_fontSizeDiff;
    $_fontSize_caption_l: $_fontSize_caption + $_fontSizeDiff;
    $_lineHeight_h: 1;
    $_lineHeight_caption: 1;
    $_textColor_h: #333;
    $_textColor_caption: #0091ff;
    font-family: $font-tenorSans;
    color: $_textColor_h;
    a {
      display: block;
      color: $_textColor_caption;
      text-decoration: none;
      #{$_block}__h {
        color: $_textColor_h;
      }
    }

    > div {
      display: table;
    }

    &__iconPlacer {
      display: table-cell;
      width: 100px * .5;
      text-align: left;
      vertical-align: middle;
    }

    &__icon {
      display: inline-block;
      width: 84px * .5;
      height: 84px * .5;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 84px * .5;
      @mixin _iconStyles($_type, $_i) {
        $_src: "../imgs/common/numIcon001/#{$_type}.svg";
        background-image: url($_src);
      }

      $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
      @each $_type in $_types {
        @for $_i from 1 through 10 {
          &--#{$_type}-#{$_i} {
            @include _iconStyles($_type, $_i);
            &::before {
              display: block;
              padding-top: 46px * .5;
              overflow: hidden;
              font-family: $font-tenorSans;
              color: #fff;
              text-align: center;
              content: "#{$_i}";
              @include g-font(16, 0);
            }
          }
        }
      }
    }

    &__bd {
      position: relative;
      top: 2px;
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 0 0 3px;
      color: $_textColor_caption;
    }

    &__h {
      @include g-font($_fontSize_h, $_lineHeight_h);
    }

    &__caption-lower {
      @include g-font($_fontSize_caption, $_lineHeight_caption);
      padding: 3px 0 0;
      color: $_textColor_caption;
    }

    &--align-l {
      > div {
        margin-right: auto;
      }
    }

    &--align-c {
      > div {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &--align-r {
      > div {
        margin-left: auto;
      }
    }
  }
}
