@if $device == PC {
  .t0-b-sideBanner {
    margin: 0 auto;
    img {
      box-sizing: border-box;
      width: 100%;
      vertical-align: top;
    }

    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #ddd;
    img {
      box-sizing: border-box;
      width: 100%;
      vertical-align: top;
    }

    a {
      text-decoration: none;
      > img {
        &:hover {
          opacity: .8;
        }
      }
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}

@if $device == SP {
  .t0-b-sideBanner {
    margin: 0 auto;
    img {
      box-sizing: border-box;
      width: 100%;
      vertical-align: top;
    }

    a {
      text-decoration: none;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-sideBanner2 {
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #ddd;
    img {
      box-sizing: border-box;
      width: 100%;
      vertical-align: top;
    }

    a {
      text-decoration: none;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }
}
