@if $device == PC {
  .t0-b-sideBoxText {
    $_fontSizePx: 14;
    $_lineHeightType: 2;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $g-textColor;
    a {
      color: $g-textColor;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxText {
    $_fontSizePx: 16;
    $_lineHeightType: 1;
    @include g-font($_fontSizePx, $_lineHeightType);
    color: $g-textColor;
    a {
      color: $g-textColor;
      text-decoration: underline;
    }
  }
}
