@if $device == PC {
  .t0-b-sideBoxTextStrong {
    $_fontSize: 14;
    $_lineHeight: 2;
    $_textColor: #003882;
    @include g-font($_fontSize, $_lineHeight);
    font-weight: bold;
    color: $_textColor;
    position: relative;
    z-index: z(sideBoxTextStrong, 0);
    a {
      color: $_textColor;
      text-decoration: underline;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideBoxTextStrong {
    $_fontSize: 16;
    $_lineHeight: 1;
    $_textColor: #003882;
    @include g-font($_fontSize, $_lineHeight);
    color: $_textColor;
    a {
      color: $_textColor;
      text-decoration: underline;
    }
  }
}
