@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    $_fontSize: 20;
    $_lineHeight: 1;
    $_textColor: #333;
    background-color: #fff;
    border-top: 4px solid #92d0ff;
    &__hd {
      padding: 10px;
      text-align: center;
      background-color: #e8f6fa;
      border-right: 1px solid #ebe9e5;
      border-left: 1px solid #ebe9e5;
      h4 {
        min-height: 25px;
        font-family: $font-tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }

      a {
        h4 {
          &:hover {
            color: $g-hoverColor;
          }
        }
      }
    }

    &__bd {
      padding: 25px 20px 20px;
      border: 1px solid #ebe9e5;
      border-top: none;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    $_fontSize: 20;
    $_lineHeight: 1;
    $_textColor: #333;
    background-color: #fff;
    &__hd {
      padding: 10px;
      text-align: center;
      border-top: 2px solid #005ebe;
      border-bottom: 2px solid #005ebe;
      box-shadow: 0 -1px #fff inset, 0 -2px #005ebe inset, 0 1px #fff inset, 0 2px #005ebe inset;
      h4 {
        min-height: 25px;
        font-family: $font-tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }

      a {
        h4 {
          &:hover {
            color: $g-hoverColor;
          }
        }
      }
    }

    &__bd {
      padding: 29px 10px 20px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox3 {
    $_fontSize: 20;
    $_lineHeight: 1;
    $_textColor: #333;
    background-color: #fff;
    padding: 0 15px;
    border: 3px solid #e4e4e4;
    &__hd {
      padding: 13px 0 10px;
      text-align: center;
      border-bottom: 2px solid #e4e4e4;
      h4 {
        min-height: 25px;
        font-family: $tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }

      a {
        h4 {
          &:hover {
            color: $g-hoverColor;
          }
        }
      }
    }

    &__bd {
      padding: 25px 0 20px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-sideBox#{$variation1of2} {
    $_fontSize: 18;
    $_lineHeight: 1;
    $_textColor: #333;
    margin: 0 -5px;
    background-color: #fff;
    border-top: 4px solid #92d0ff;
    &__hd {
      padding: 10px;
      text-align: center;
      background-color: #e8f6fa;
      border-right: 1px solid #ebe9e5;
      border-left: 1px solid #ebe9e5;
      h4 {
        min-height: 22px;
        font-family: $font-tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    &__bd {
      padding: 10px 20px;
      border: 1px solid #ebe9e5;
      border-top: none;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    $_fontSize: 18;
    $_lineHeight: 1;
    $_textColor: #333;
    margin: 0 -5px;
    background-color: #fff;
    &__hd {
      padding: 10px;
      text-align: center;
      border-top: 2px solid #005ebe;
      border-bottom: 2px solid #005ebe;
      box-shadow: 0 -1px #fff inset, 0 -2px #005ebe inset, 0 1px #fff inset, 0 2px #005ebe inset;
      h4 {
        min-height: 22px;
        font-family: $font-tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    &__bd {
      padding: 14px 20px 10px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-sideBox3 {
    $_fontSize: 18;
    $_lineHeight: 1;
    $_textColor: #333;
    background-color: #fff;
    margin: 0 -5px;
    padding: 0 15px;
    border: 3px solid #e4e4e4;
    &__hd {
      padding: 13px 0 10px;
      text-align: center;
      border-bottom: 2px solid #e4e4e4;
      h4 {
        min-height: 22px;
        font-family: $tenorSans;
        color: $_textColor;
        @include g-font($_fontSize, $_lineHeight);
      }
    }

    &__bd {
      padding: 15px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }
}
