$areaContainerWidth: 1100px;
$areaMainWidth: 700px;
$areaSubWidth: $areaContainerWidth - $areaMainWidth;
.area-all {
  position: relative;
  z-index: z(bg, 0);
  min-width: $areaContainerWidth + 36px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}

.area-main {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  width: $areaMainWidth;
  padding-bottom: 50px;
}

.area-sub {
  position: relative;
  width: $areaSubWidth;
  min-height: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.area-footer {
  // デフォルトの背景の上にユーザーが選択した画像を表示させるため
  position: relative;
  // フッター最上部のフッターメニューの背景が伸びないため
  padding-top: 1px;
}


