$device: 'SP';
@import '../../../common/devStuff/src/assets/assets';
@import '../../../common/devStuff/edge_src/assets/abstractsSP';
@import '../../../common/devStuff/edge_src/assets/normalize';
@import '../../../common/devStuff/edge_src/assets/afterNormalize';
@import '../../../common/devStuff/src/assets/lightbox';
@import 'config/themeConfig';
@import 'config/variationConfig2';
@import 'config/bPlacer';
@import 'layout/layout-SP';
// 変数の関係でedge-srcを以下に記載
@import '../../../common/devStuff/edge_src/assets/twoColsMedia';
@import '../../../common/devStuff/edge_src/assets/headerImgDouble';
@import '../../../common/devStuff/edge_src/assets/fullWidthFrame';
@import '../../../common/devStuff/edge_src/assets/freeHtml';
@import '../../../common/devStuff/edge_src/assets/headerFullWidthMedia';
@import '../../../common/devStuff/edge_src/assets/forThemeRemake';
@import 'parts/all';
