@if $device == PC {

  .t0-b-siteName,
  .t0-b-siteTitle {
    $_block: &;

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;

      img {
        display: block;
        height: 45px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        #{$_block}__bd-siteName,
        #{$_block}__bd-note {
          color: $hovercolor;
        }

        img {
          opacity: 0.8;
        }
      }
    }

    &__bd-note {
      @include g-font(14, 1);

      padding: 0 0 5px;
    }

    &__bd-siteName {
      @include g-font(32, 1);
    }

    &__bd-note + &__bd-siteName {
      @include g-font(28, 1);
    }

    &__ft {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }
}

@if $device == SP {
  .t0-b-siteName,
  .t0-b-siteTitle {

    &__bd {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
      }
    }

    &__bd-logo {
      padding: 0 10px 0 0;

      img {
        display: block;
        height: 45px;
        max-width: 160px;
      }
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }

    &__bd-note {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__bd-siteName {
      @include g-font(28, 1);
      font-weight: bold;
    }

    &__bd-note + &__bd-siteName {
      @include g-font(24, 1);
      font-weight: bold;
    }

    &__ft {
      @include g-font(14, 1);

      padding: 5px 0 0;
    }
  }
}
