@if $device == PC {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;

    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0 6px;

    a {
      display: block;
      text-decoration: none;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }

    &__inner {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      box-shadow: 0 6px #0b6577, 0 -3px #55a7b9;
      background: url("../imgs/t0-b-navItem/5.png") no-repeat 18px center;
      background-color: #1c8aa1;
      border-radius: 5px;
      position: relative;
      width: 100%;

      > div {
        padding: 0 14px 0 14px;
      }

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        width: 50px;
        left: 0;
        top: 8px;
        bottom: 8px;
        background: url("../imgs/t0-b-navItem/bg2.png") repeat-y right top;
      }
    }

    &__main {
      text-align: left;
    }

    &__caption {
      text-align: left;
    }

    // size

    &--size-1 {
      #{$_block}__inner {
        padding: 12px 0;
        background-size: 14px 23px;
        background-position: 14px center;

        > div {
          margin-left: 38px;
        }

        &:before {
          width: 38px;
        }
      }

      #{$_block}__main {
        @include g-font(14, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding-top: 4px;
      }
    }

    &--size-2 {
      #{$_block}__inner {
        padding: 15px 0;
        background-size: 16px 26px;
        background-position: 16px center;

        > div {
          margin-left: 44px;
        }

        &:before {
          width: 44px;
        }
      }

      #{$_block}__main {
        @include g-font(18, 1);
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding-top: 4px;
      }
    }

    &--size-3 {
      #{$_block}__inner {
        padding: 18px 0;
        background-size: 18px 29px;
        background-position: 18px center;

        > div {
          margin-left: 50px;
        }

        &:before {
          width: 50px;
        }
      }

      #{$_block}__main {
        @include g-font(20, 1);
      }

      #{$_block}__caption {
        @include g-font(16, 1);
        padding-top: 4px;
      }
    }

    &--size-4 {
      #{$_block}__inner {
        padding: 21px 0;
        background-size: 20px 32px;
        background-position: 20px center;

        > div {
          margin-left: 56px;
        }
        &:before {
          width: 56px;
        }
      }

      #{$_block}__main {
        @include g-font(22, 1);
      }

      #{$_block}__caption {
        @include g-font(18, 1);
        padding-top: 4px;
      }
    }

    &--size-5 {
      #{$_block}__inner {
        padding: 24px 0;
        background-size: 22px 35px;
        background-position: 22px center;

        > div {
          margin-left: 62px;
        }
        &:before {
          width: 62px;
        }
      }

      #{$_block}__main {
        @include g-font(24, 1);

      }

      #{$_block}__caption {
        @include g-font(20, 1);
        padding-top: 4px;
      }
    }

    // align

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;

    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2px 2px 0;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
      left: 4px;
      top: 4px;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #333;
      border-right: 1px solid #333;
      z-index: 1;
    }

    > a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      position: relative;
      z-index: 2;
      width: 100%;

      &:hover {
        opacity: 0.8;
      }

      > div {
        position: rerative;
        background: url("../imgs/t0-b-navItem/6.png") no-repeat 14px center #333;
      }
    }

    > div {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      position: relative;
      width: 100%;
      background: url("../imgs/t0-b-navItem/6.png") no-repeat 14px center #333;
    }

    &__main {
      text-align: left;
      position: relative;
      z-index: 2;
    }

    &__caption {
      text-align: left;
      position: relative;
      z-index: 2;

      > a {
        color: #fff;
        text-decoration: none;
      }
    }

    // size

    &--size-1 {
      > a > div,
      > div {
        padding: 14px 0 13px;
        background-size: 18px 18px;
        background-position: 12px center;
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 10px 0 42px;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 10px 0 42px;
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 17px 0 16px;
        background-size: 21px 21px;
        background-position: 13px center;
      }

      #{$_block}__main {
        @include g-font(18, 1);
        padding: 0 10px 0 47px;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 10px 0 47px;
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 20px 0 19px;
        background-size: 24px 24px;
        background-position: 14px center;
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 10px 0 52px;
      }

      #{$_block}__caption {
        @include g-font(16, 1);
        padding: 4px 10px 0 52px;
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 23px 0 22px;
        background-size: 27px 27px;
        background-position: 15px center;
      }

      #{$_block}__main {
        @include g-font(22, 1);
        padding: 0 10px 0 57px;
      }

      #{$_block}__caption {
        @include g-font(18, 1);
        padding: 4px 10px 0 57px;
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 26px 0 25px;
        background-size: 30px 30px;
        background-position: 16px center;
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 10px 0 62px;
      }

      #{$_block}__caption {
        @include g-font(20, 1);
        padding: 4px 10px 0 62px;
      }
    }

    // align

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  }

 .t0-b-navBItemCaptioned3 {
    $_block: &;

    width: 100%;
    box-sizing: border-box;
    text-align: center;

    > a {
      background: #7cc0d2;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    > div {
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      background: #7cc0d2;
    }

    &__caption {
      > a {
        color: #fff;
        text-decoration: none;
      }
    }

    // size

    &--size-1 {
      > a > div,
      > div {
        padding: 14px 0 13px;
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 17px 0 16px;
      }

      #{$_block}__main {
        @include g-font(18, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 20px 0 19px;
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(16, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 23px 0 22px;
      }

      #{$_block}__main {
        @include g-font(22, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(18, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 26px 0 25px;
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(20, 1);
        padding: 4px 15px 0;
      }
    }

    // align

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  } 

  .t0-b-navBItemCaptioned4 {
    $_block: &;

    width: 100%;
    box-sizing: border-box;
    text-align: center;

    > a {
      background: #398aa0;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    > div {
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      background: #398aa0;
    }

    &__caption {
      > a {
        color: #fff;
        text-decoration: none;
      }
    }

    // size

    &--size-1 {
      > a > div,
      > div {
        padding: 14px 0 13px;
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 17px 0 16px;
      }

      #{$_block}__main {
        @include g-font(18, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 20px 0 19px;
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(16, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 23px 0 22px;
      }

      #{$_block}__main {
        @include g-font(22, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(18, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 26px 0 25px;
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(20, 1);
        padding: 4px 15px 0;
      }
    }

    // align

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  } 

  .t0-b-navBItemCaptioned5 {
    $_block: &;

    width: 100%;
    box-sizing: border-box;
    text-align: center;

    > a {
      background: #444;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      transition: .5s;

      &:hover {
        opacity: 0.7;
      }
      // Chromeで文字色を変更するとちらつく不具合の対応
      // safariで文字色を変更するとちらつく不具合の対応
      & * {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
      }
    }

    > div {
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      width: 100%;
      background: #444;
    }

    &__caption {
      > a {
        color: #fff;
        text-decoration: none;
      }
    }

    // size

    &--size-1 {
      > a > div,
      > div {
        padding: 14px 0 13px;
      }

      #{$_block}__main {
        @include g-font(14, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-2 {
      > a > div,
      > div {
        padding: 17px 0 16px;
      }

      #{$_block}__main {
        @include g-font(18, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(14, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-3 {
      > a > div,
      > div {
        padding: 20px 0 19px;
      }

      #{$_block}__main {
        @include g-font(20, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(16, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-4 {
      > a > div,
      > div {
        padding: 23px 0 22px;
      }

      #{$_block}__main {
        @include g-font(22, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(18, 1);
        padding: 4px 15px 0;
      }
    }

    &--size-5 {
      > a > div,
      > div {
        padding: 26px 0 25px;
      }

      #{$_block}__main {
        @include g-font(24, 1);
        padding: 0 15px 0;
      }

      #{$_block}__caption {
        @include g-font(20, 1);
        padding: 4px 15px 0;
      }
    }

    // align

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    &--width-l {
      width: 100%;
    }

    &--width-m {
      width: 75%;
    }

    &--width-s {
      width: 50%;
    }
  } 

  .t0-b-navBItemCaptionedDouble {
    display: flex;
    &__layout {
      padding-left: 4%;
      flex: 1 1 (100% / 2);
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

@if $device == SP {

  .t0-b-navBItemCaptioned#{$variation1of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #1c8aa1;
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #1c8aa1;
    border-radius: 5px;
    color: #fff;

    > a {
      text-decoration: none;
      color: #fff;

      > div {
        width: 100% !important;
      }
    }

    > div {
      width: 100% !important;
    }

    &__inner {
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }

    &__caption {
      @include g-font(14, 1);
      }
  }

  .t0-b-navBItemCaptioned#{$variation2of2} {
    $_block: &;

    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg.png");
    background-color: #333;
    background-repeat: no-repeat;
    background-size: 20px, 100%;
    background-position: 95% 50%;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;

    > a {
      text-decoration: none;
      color: #fff;

      > div {
        width: 100% !important;
      }
    }

    > div {
      width: 100% !important;
    }

    &__inner {
      > div {
        padding: 12px 10px;
        margin-right: 10%;
      }
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned3 {
    width: 95%;
    margin: 0 auto;
    background-color: #7cc0d2;
    color: #fff;
    text-align: center;

    > a {
      text-decoration: none;
      color: #fff;

      > div {
        width: 100% !important;
      }
    }

    > div {
      width: 100% !important;
    }

    &__inner {
      > div {
        padding: 12px 10px;
      }
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned4 {
    width: 95%;
    margin: 0 auto;
    background-color: #398aa0;
    color: #fff;
    text-align: center;

    > a {
      text-decoration: none;
      color: #fff;

      > div {
        width: 100% !important;
      }
    }

    > div {
      width: 100% !important;
    }

    &__inner {
      > div {
        padding: 12px 10px;
      }
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptioned5 {
    width: 95%;
    margin: 0 auto;
    background-color: #444;
    color: #fff;
    text-align: center;

    > a {
      text-decoration: none;
      color: #fff;

      > div {
        width: 100% !important;
      }
    }

    > div {
      width: 100% !important;
    }

    &__inner {
      > div {
        padding: 12px 10px;
      }
    }

    &__main {
      @include g-font(16, 1);
      font-weight: bold;
    }

    &__caption {
      @include g-font(14, 1);
    }
  }

  .t0-b-navBItemCaptionedDouble {
    &__layout {
      padding-bottom: 10px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
