@if $device == PC {

  .t0-b-sideBoxText {
    @include g-font(16, 1);
    a {
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {

  .t0-b-sideBoxText {
    @include g-font(16, 1);
    a {
      color: #393939;
    }
  }
}
