@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    $_block: &;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: z(sideBoxFreeHtml, 0);
    .admin & {
      padding: 10px;
      color: #fff;
      background: #666;
      border-radius: 5px;
    }

    > * {
      max-width: 100%;
      margin: 0 auto !important;
    }
  }
}

@if $device == SP {
  .sideBoxFreeHtml {
    @include freeHtml(100%);

    .admin & {
      padding: 10px;
      color: #fff;
      background: #666;
      border-radius: 5px;
    }
  }
}
