@if $device == PC {
  .t0-b-headerMedia#{$variation1of2} {
    line-height: 0;
    margin: 0 auto;

    a {
      display: block;

      img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    width: 100%;
    min-width: 1100px;
    max-width: 1400px;

    a > div,
    > div {
      width: 100%;
      position: relative;
      margin: 0 auto;
      text-align: center;

      > div {
        position: relative;
        margin: 0 auto !important;

        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }


  .t0-b-headerMedia#{$variation2of2} {
    line-height: 0;
    margin: 0 auto;
    background-repeat: repeat;
    background-position: left top;
    background-image: url("../imgs/t0-b-headerMedia/1.png");
    padding: 28px 0 25px;
    width: 1100px;

    a {
      display: block;

      img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }



    a > div,
    > div {
      width: 1100px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      text-align: center;

      > div {
        position: relative;
        margin: 0 auto !important;

        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }

  .t0-b-headerMedia3 {
    line-height: 0;
    margin: 0 auto;

    a {
      display: block;

      img {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    width: 100%;

    a > div,
    > div {
      width: 1100px;
      position: relative;
      text-align: center;
      margin: 0 auto;
      text-align: center;

      > div {
        position: relative;
        margin: 0 auto !important;

        > * {
          width: 100%;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerMedia#{$variation1of2},
  .t0-b-headerMedia#{$variation2of2},
  .t0-b-headerMedia3, {
    line-height: 0;
    text-align: center;
    margin: 0 -15px;
    overflow: auto;

    a > div,
    > div {
      width: 100%;
      margin: 0 auto;

      > div {
        margin: 0 20px;
        overflow: auto;
        width: auto;

        > * {
          overflow: auto;
          max-width: 100% !important;
          margin: 0 auto !important;
          line-height: 1.5;
        }
      }
    }

    a {
      display: block;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
