@if $device == PC {
  .t0-b-footerUnit-nav {
    color: #fff;
    white-space: nowrap;
    @include g-font(16, 1);
    &__item {
      display: table-cell;
      height: 24px;
      padding: 0 0 0 50px;
      vertical-align: middle;
      background: url("../imgs/t0-b-navItem/1.png") no-repeat 20px 50%;
      background-size: 24px 24px;
      &:first-child {
        padding-left: 30px;
        background: url("../imgs/t0-b-navItem/1.png") no-repeat 0 50%;
        background-size: 24px 24px;
      }

      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }

        p {
          display: table-cell;
          padding: 1px 0;
          border-bottom: 2px solid #45b1c7;
        }
      }

      > p {
        display: table-cell;
        padding: 1px 0;
        empty-cells: hide;
        border-bottom: 2px solid #45b1c7;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-nav {
    @include g-font(16, 1);
    margin-left: 2.5%;
    font-weight: bold;
    color: #fff;
    &__item {
      display: table;
      height: 24px;
      padding: 0 0 0 30px;
      margin-top: 20px;
      background: url("../imgs/t0-b-navItem/1.png") no-repeat 0 50%;
      background-size: 24px 24px;
      &:first-child {
        margin-top: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        p {
          display: table-cell;
          padding: 1px 0;
          border-bottom: 2px solid #45b1c7;
        }
      }

      > p {
        display: table-cell;
        padding: 1px 0;
        empty-cells: hide;
        border-bottom: 2px solid #45b1c7;
      }
    }
  }
}
