@if $device == PC {

  .t0-b-fullWidthFrameCard {
    background-color: $fullWidthBgColor;
    background-repeat: no-repeat;
    background-position: center center;
    //上下のpaddingが0だとtwoColsMediaCardLandscapeの上下marginが消えてしまうので0.1px付けている
    padding: 40px 0 0.1px;
    &__hd, &__ft, &__bd {
      width: $areaContainerWidth;
      margin: 0 auto;
    }
    @if $layout == "L25" or $layout == "L30" {
      margin: 0 -1000px 0 (-1000px - $areaSubWidth);
    } @else if $layout == "N00" {
      margin: 0 (-1000px - $areaSubWidth / 2);
    } @else if $layout == "R25" or $layout == "R30" {
      margin: 0 (-1000px - $areaSubWidth) 0 -1000px;
    }
  }
  .t0-b-fullWidthFrameCard2 {
    background-color: $fullWidthBgColor;
    background-repeat: no-repeat;
    background-position: center center;
    //上下のpaddingが0だとtwoColsMediaCardLandscapeの上下marginが消えてしまうので0.1px付けている
    padding: 40px 0 0.1px;
    &__hd, &__ft, &__bd {
      margin: 0 auto;
      @if $layout == "N00" {
        width: 780px;
      } @else {
        width: $areaMainWidth;
      }
    }
    @if $layout == "N00" {
      margin: 0 (-1000px - $areaSubWidth / 2);
    } @else {
      margin: 0 -1000px;
    }
  }
}// PC

@if $device == SP {
  .t0-b-fullWidthFrameCard, .t0-b-fullWidthFrameCard2 {
    margin: 0 -15px;
    padding: 20px 4% 0;
    background-color: $fullWidthBgColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

}// SP
