$g-fullWidthBGColor: #fff3d4;
$g-fullWidthBGColor2: #ffffdf;
$g-fullWidthBGColor3: #eef6c7;
$g-fullWidthBGColor4: #ffa200;
$g-fullWidthBGColor5: #fff;
$g-fullWidthBGColor6: #ffcd79;
$g-fullWidthBGColor7: #fcf8ec;
$g-fullWidthBGColor8: #faf3ec;
$g-hoverColor: #ff8c00;
