$g-fontSize: 14px;
$g-spacingBaseLength: 5;
html {
  font-size: $g-fontSize;
}

body.mod-body,
div.mod-body {
  font-family: $font-gothic;
  font-size: $g-fontSize;
  font-weight: 500;
  color: #555;
}

.mod-body {
  button, input, optgroup, select, textarea {
    font-family: $font-gothic;
  }
}

a {
  color: #555;
  text-decoration: underline;
}

@if $device == PC {
  a {
    &:hover {
      color: #ff8c00;
    }
  }

  .cms-partsConfig-width-m {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .cms-partsConfig-width-s {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

@if $device == SP {
  span {
    font-size: inherit !important;
  }
}

@mixin cf {
  &::before, &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin g-rteTableReset() {
  th, td {
    > table:first-child {
      margin-top: 0;
    }

    > ul:first-child {
      margin-top: 0;
    }

    > ol:first-child {
      margin-top: 0;
    }

    > p:first-child {
      margin-top: 0;
    }

    > hr:first-child {
      margin-top: 0;
    }
  }
}

@mixin fileIcon($file, $size) {
  &--#{$file} {
    width: 30px * $size;
    height: 30px * $size;
    background: url("../imgs/b-downloadIcon/#{$file}.png") 0 0 no-repeat;
    background-size: 30px * $size;
  }
}
