@if $device == PC {
  .t0-b-lv2H#{$variation1of3} {

    position: relative;
    display: table;
    color: #555;
    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      padding-left: 31px;
      background-image: url("../imgs/t0-b-lv2H/1/bg.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 21px 40px;
    }

    &--size-1 {
      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
        background-size: 21px*.8 40px*.8;
      }
    }

    &--size-3 {
      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
        background-size: 21px*1.2 40px*1.2;
      }
    }

    &--align-l {
      margin: 0 auto 0 0;
    }

    &--align-c {
      margin: 0 auto;
    }

    &--align-r {
      margin: 0 0 0 auto;
    }

    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    padding-bottom: 10px;

    margin: 0 auto;
    color: #555;
    background: url("../imgs/t0-b-lv2H/2/bg.png") left bottom no-repeat, url("../imgs/t0-b-lv2H/2/bg.png") right bottom no-repeat;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      position: relative;
      width: 32px;
      height: 23px;
      background-image: url("../imgs/t0-b-lv2H/2/bg2.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 32px 23px;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      box-sizing: border-box;
      width: 100%;
      padding: 0 0 0 10px;
    }

    $_block: &;
    &--size-1 {
      #{$_block}__icon {
        width: 32px*.8;
        height: 23px*.8;
        background-size: 32px*.8 23px*.8;
      }

      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }

    &--size-3 {
      #{$_block}__icon {
        width: 32px*1.2;
        height: 23px*1.2;
        background-size: 32px*1.2 23px*1.2;
      }

      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      width: 100%;
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv2H#{$variation3of3} {

    padding-bottom: 4px;
    text-align: center;
    background-image: url("../imgs/t0-b-lv2H/3/bg2.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    > div {
      color: #fff;
      background-color: #408f4a;
      background-image: url("../imgs/t0-b-lv2H/3/bg.png");
      background-repeat: repeat-x;
      background-position: left top;
      border-top: 2px solid #6da738;
      border-right: 2px solid #6da738;
      border-left: 2px solid #6da738;
    }

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #555;
      }
    }

    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      padding: 10px 10px 12px;
    }

    &--size-1 {
      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }

    &--size-3 {
      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H4 {
    color: #555;
    text-align: center;
    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }

    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      padding: 0 15px;
    }

    &--size-1 {
      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }

    &--size-3 {
      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H5 {
    overflow: hidden;

    color: #555;
    text-align: center;
    a {
      display: block;
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }

    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      position: relative;
      display: inline-block;
      max-width: calc(100% - (50px + 35px) * 2);
      padding: 0 35px;
      &::before {
        position: absolute;
        top: 50%;
        right: 100%;
        width: $areaContainerWidth;
        content: "";
        border-top: 1px solid #75a63b;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: $areaContainerWidth;
        content: "";
        border-top: 1px solid #75a63b;
      }
    }

    &--size-1 {
      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }

    &--size-3 {
      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }

    &--align-l {
      text-align: left;
      h2 {
        max-width: calc(100% - (50px + 35px));
        padding-left: 0;
      }
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
      h2 {
        max-width: calc(100% - (50px + 35px));
        padding-right: 0;
      }
    }
  }

  .t0-b-lv2H6 {
    padding-bottom: 10px;

    margin: 0 auto;
    color: #555;
    text-align: center;
    background: url("../imgs/t0-b-lv2H/6/bg.png") left bottom no-repeat, url("../imgs/t0-b-lv2H/6/bg.png") right bottom no-repeat;
    > div {
      display: inline-block;
    }

    h2 {
      @if $layout == "N00" {
        @include g-font(28, 1);
      } @else {
        @include g-font(24, 1);
      }
      box-sizing: border-box;
      width: 100%;
    }

    $_block: &;
    &--size-1 {
      h2 {
        @if $layout == "N00" {
          @include g-font(24, 1);
        } @else {
          @include g-font(20, 1);
        }
      }
    }

    &--size-3 {
      h2 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: block;
      width: 100%;
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv2H#{$variation1of3} {
    margin: 0 auto;
    h2 {
      @include g-font(20, 1);
      display: inline-block;
      padding: 9px 0 9px 30px;
      background-image: url("../imgs/t0-b-lv2H/1/bg.png");
      background-repeat: no-repeat;
      background-position: left center;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv2H#{$variation2of3} {
    max-width: 740px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #555;
    background: url("../imgs/t0-b-lv2H/2/bg.png") left bottom no-repeat;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      position: relative;
      width: 32px;
      height: 23px;
      background-image: url("../imgs/t0-b-lv2H/2/bg2.png");
      background-repeat: no-repeat;
      background-position: left center;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    h2 {
      @include g-font(20, 1);
      box-sizing: border-box;
      padding: 0 0 0 5px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: #555;
      text-decoration: none;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv2H#{$variation3of3} {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #408f4a;
    background-image: url("../imgs/t0-b-lv2H/3/bg.png");
    background-repeat: repeat-x;
    border-top: 2px solid #6da738;
    border-right: 2px solid #6da738;
    border-bottom: 1px solid #6da738;
    border-left: 2px solid #6da738;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #555;
      }
    }

    h2 {
      @include g-font(20, 1);
      padding: 10px 7px 12px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H4 {
    margin: 0 auto;
    color: #555;
    text-align: center;
    a {
      color: #555;
      text-decoration: none;
    }

    h2 {
      @include g-font(20, 1);
      padding: 0 7px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H5 {
    overflow: hidden;
    color: #555;
    text-align: center;
    a {
      display: block;
      color: #555;
      text-decoration: none;
    }

    h2 {
      @include g-font(20, 1);
      position: relative;
      display: inline-block;
      max-width: calc(100% - (20px + 15px) * 2);
      padding: 0 15px;
      vertical-align: middle;
      &::before {
        position: absolute;
        top: 50%;
        right: 100%;
        width: 100vw;
        content: "";
        border-top: 1px solid #75a63b;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 100vw;
        content: "";
        border-top: 1px solid #75a63b;
      }
    }

    &--align-l {
      text-align: left;
      h2 {
        max-width: calc(100% - (20px + 15px));
        padding-left: 0;
      }
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
      h2 {
        max-width: calc(100% - (20px + 15px));
        padding-right: 0;
      }
    }
  }

  .t0-b-lv2H6 {
    max-width: 740px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #555;
    text-align: center;
    background: url("../imgs/t0-b-lv2H/6/bg.png") left bottom no-repeat;
    > div {
      display: inline-block;
    }

    h2 {
      @include g-font(20, 1);
      box-sizing: border-box;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: #555;
      text-decoration: none;
    }
  }
}
