@if $device == PC {

  .t0-b-lv4HBig#{$variation1of2} {

    padding: 15px 55px;
    color: #fff;
    background-image: linear-gradient(to right, rgba(255,255,255,0), #9bcd54 13%, #9bcd54 87%, rgba(255,255,255,0));
    text-align: center;
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding: 0 10px 5px;
    }
    &__bd {
      h4 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
        padding: 10px;
        text-shadow: 3px 3px 3px #93c34e, -3px 3px 3px #93c34e, 3px -3px 3px #93c34e, -3px -3px 3px #93c34e;
      }
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding: 5px 10px 0;
    }
    $_block: &;
    &--size-1 {
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__bd {
        h4 {
          @if $layout == "N00" {
            @include g-font(28, 1);
          } @else {
            @include g-font(24, 1);
          }
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__bd {
        h4 {
          @if $layout == "N00" {
            @include g-font(36, 1);
          } @else {
            @include g-font(32, 1);
          }
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv4HBig#{$variation2of2} {

    padding: 10px 30px;
    border: 2px solid #5e9e23;
    border-radius: 5px;
    text-align: center;
    background-color: #cfff84;
    background-image: url("../imgs/t0-b-lv4HBig2/bg.png"), url("../imgs/t0-b-lv4HBig2/bg2.png"), url("../imgs/t0-b-lv4HBig2/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right bottom, left top;
    box-sizing: border-box;
    min-height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid #fff;
      border-radius: 3px;
      pointer-events: none;
    }
    &__caption-upper {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding: 5px 0;
    }
    &__bd {
      h4 {
        @if $layout == "N00" {
          @include g-font(32, 1);
        } @else {
          @include g-font(28, 1);
        }
        padding: 5px 0;
      }
    }
    &__caption-lower {
      @if $layout == "N00" {
        @include g-font(18, 1);
      } @else {
        @include g-font(14, 1);
      }
      padding: 5px 0;
    }
    $_block: &;
    &--size-1 {
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(14, 1);
        } @else {
          @include g-font(10, 1);
        }
      }
      #{$_block}__bd {
        h4 {
          @if $layout == "N00" {
            @include g-font(28, 1);
          } @else {
            @include g-font(24, 1);
          }
        }
      }
    }
    &--size-2 {}
    &--size-3 {
      #{$_block}__caption-upper {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__caption-lower {
        @if $layout == "N00" {
          @include g-font(22, 1);
        } @else {
          @include g-font(18, 1);
        }
      }
      #{$_block}__bd {
        h4 {
          @if $layout == "N00" {
            @include g-font(36, 1);
          } @else {
            @include g-font(32, 1);
          }
        }
      }
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #349342;
      }
    }
  }



}

@if $device == SP {

  .t0-b-lv4HBig#{$variation1of2} {
    padding: 5px 0;
    color: #fff;
    background-color: #9bcd54;
    text-align: center;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 10px 5px;
    }
    &__bd {
      h4 {
        @include g-font(18, 1);
        font-weight: bold;
        padding: 0 10px;
        text-shadow: 3px 3px 3px #93c34e, -3px 3px 3px #93c34e, 3px -3px 3px #93c34e, -3px -3px 3px #93c34e;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 10px 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #349342;
      }
    }
  }

  .t0-b-lv4HBig#{$variation2of2} {
    padding: 3px;
    border: 2px solid #5e9e23;
    border-radius: 5px;
    text-align: center;
    background-color: #cfff84;
    background-image: url("../imgs/t0-b-lv4HBig2/bg.png"), url("../imgs/t0-b-lv4HBig2/bg2.png"), url("../imgs/t0-b-lv4HBig2/bg3.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right bottom, left top;
    position: relative;
    min-height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &::before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid #fff;
      border-radius: 3px;
    }
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 10px 5px;
    }
    &__bd {
      h4 {
        @include g-font(18, 1);
        font-weight: bold;
        padding: 0 10px;
      }
    }
    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 10px 0;
    }
    &--align-l {
      text-align: left;
    }
    &--align-c {
      text-align: center;
    }
    &--align-r {
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #349342;
      }
    }
  }
}
