$fullWidthBgColor: #eef4f9;
$fullWidthBgColor2: #f6f6ee;
$fullWidthBgColor3: #ffebeb;
$fullWidthBgColor4: #375b8a;
$fullWidthBgColor5: #fff;
$g-baseBackgroundColor: #fff;
$g-baseFontColor: #4d4d4d;
$g-baseHoverColor: #4c8fc8;
$g-hoverColor: $g-baseHoverColor;
$g-textColor: $g-baseFontColor;
