@if $device == PC {
  .t0-b-lv2H#{$variation1of2} {
    $_block: &;
    $_fontSizePx: 28;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;

    $_lineHeightType: 1;

    $_iconWidth: 8px;
    $_iconHeight: 40px;

    h2 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);
      display: table-cell;
      padding: 0;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    > div {
      display: inline-block;
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/1.png") no-repeat 0 50%;
      width: $_iconWidth + 15px;
      height: $_iconHeight;
    }

    &--size-1 {
      h2 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }

      #{$_block}__iconPlacer {
        // width: $_iconWidth*.8;
        height: $_iconHeight*.8;
      }

    }

    &--size-2 {}

    &--size-3 {
      h2 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }

      #{$_block}__iconPlacer {
        // width: $_iconWidth*1.2;
        height: $_iconHeight*1.2;
      }

    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv2H#{$variation2of2} {
    $_fontSizePx: 28;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;

    $_lineHeightType: 1;

    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;

    a {
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    h2 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);
      background-color: #cec8db;
      border-bottom: 2px solid #9ba2be;
      padding: 10px 24px;
      min-height: 32px;
    }

    &--size-1 {

      h2 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {

      h2 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }

    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv2H3 {
    $_block: &;
    $_fontSizePx: 28;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;

    $_lineHeightType: 1;

    text-align: center;

    h2 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);
      padding: 0;
    }

    a {
      text-decoration: none;
      color: $textcolor;
      &:hover {
        color: $hovercolor;
      }
    }

    &--size-1 {
      h2 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      h2 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv2H4 {
    $_block: &;
    $_fontSizePx: 28;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;

    $_lineHeightType: 1;

    margin: 0 auto;
    background: url("../imgs/t0-b-lv2H/4.png") left bottom no-repeat, url("../imgs/t0-b-lv2H/4.png") right bottom no-repeat;
    color: $textcolor;
    padding-bottom: 10px;
    text-align: center;

    h2 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);
      box-sizing: border-box;
    }

    $_block: &;

    &--size-1 {
      h2 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      h2 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
      display: block;

      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv2H5 {

    text-align: center;
    overflow: hidden;

    $_block: &;
    $_fontSizePx: 28;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;

    $_lineHeightType: 1;

    a {
      display: block;
      text-decoration: none;
      color: $textcolor;

      &:hover {
        color: $hovercolor;
      }
    }

    h2 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);
      display: inline-block;
      position: relative;
      padding: 0 35px;
      max-width: calc(100% - #{(50px + 35px) * 2 } );

      &::before {
        content: "";
        border-top: 1px solid #63539c;
        position: absolute;
        top: 50%;
        width: $areaContainerWidth;
        right: 100%;
      }

      &::after {
        content: "";
        border-top: 1px solid #63539c;
        position: absolute;
        top: 50%;
        width: $areaContainerWidth;
        left: 100%;
      }
    }

    &--size-1 {
      h2 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {
      h2 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }
    }

    &--align-l {
      text-align: left;
      h2 {
        padding-left: 0;
        max-width: calc(100% - #{(50px + 35px)} );
      }
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
      h2 {
        padding-right: 0;
        max-width: calc(100% - #{(50px + 35px)} );
      }
    }
  }

}

@if $device == SP {

  .t0-b-lv2H#{$variation1of2} {
    $_fontSizePx: 20;
    $_lineHeightType: 1;
    $_iconWidth: 8px;
    $_iconHeight: 30px;

    a {
      text-decoration: none;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      color: $textcolor;
    }

    > div {
      display: inline-block;
    }

    &__iconPlacer {
      display: table-cell;
      background: url("../imgs/t0-b-lv2H/1.png") no-repeat 0 50%;
      width: $_iconWidth;
      height: $_iconHeight;
    }

    h2 {
      @include g-font($_fontSizePx, $_lineHeightType);

      display: table-cell;
      padding: 0 0 0 10px;
      vertical-align: middle;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv2H#{$variation2of2} {
    $_fontSizePx: 20;
    $_lineHeightType: 1;

    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;

    a {
      text-decoration: none;
      color: $textcolor;
    }

    h2 {
      @include g-font($_fontSizePx, $_lineHeightType);

      background-color: #cec8db;
      border-bottom: 2px solid #9ba2be;
      padding: 8px 15px 6px;
      min-height: 22px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

  }

  .t0-b-lv2H3 {
    $_fontSizePx: 20;
    $_lineHeightType: 1;

    text-align: center;

    a {
      text-decoration: none;
      color: $textcolor;
    }

    h2 {
      @include g-font($_fontSizePx, $_lineHeightType);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }
  }

  .t0-b-lv2H4 {

    margin: 0 auto;
    background: url("../imgs/t0-b-lv2H/4.png") left bottom no-repeat;
    color: $textcolor;
    padding-bottom: 10px;
    text-align: center;

    h2 {
      @include g-font(20, 1);
      box-sizing: border-box;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: $textcolor;
    }
  }

  .t0-b-lv2H5 {
    color: $textcolor;
    text-align: center;
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      color: $textcolor;
    }

    h2 {
      @include g-font(20, 1);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px;
      max-width: calc(100% - #{(20px + 15px) * 2 } );

      &::before {
        content: "";
        border-top: 1px solid #63539c;
        position: absolute;
        top: 50%;
        width: 100vW;
        right: 100%;
      }

      &::after {
        content: "";
        border-top: 1px solid #63539c;
        position: absolute;
        top: 50%;
        width: 100vW;
        left: 100%;
      }
    }

    &--align-l {
      text-align: left;

      h2 {
        padding-left: 0;
        max-width: calc(100% - #{(20px + 15px)} );
      }
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;

      h2 {
        padding-right: 0;
        max-width: calc(100% - #{(20px + 15px)} );
      }
    }
  }

}
