@if $device == PC {

  .t0-b-lv5H-subH {
    $_fontSizePx: 16;
    $_fontSizeDifference: 4;
    $_fontSizePx_s: $_fontSizePx - $_fontSizeDifference;
    $_fontSizePx_l: $_fontSizePx + $_fontSizeDifference;
    $_lineHeightType: 1;

    color: #853175;
    font-weight: bold;

    h5 {
      @include g-font-layout($_fontSizePx, $_lineHeightType, $layout);

      display: inline;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #853175;

      &:hover {
        color: $hovercolor;
      }
    }

    &--size-1 {
      h5 {
        @include g-font-layout($_fontSizePx_s, $_lineHeightType, $layout);
      }
    }

    &--size-2 {}

    &--size-3 {

      h5 {
        @include g-font-layout($_fontSizePx_l, $_lineHeightType, $layout);
      }
    }
  }
}

@if $device == SP {

  .t0-b-lv5H-subH {
    $_fontSizePx: 16;
    $_lineHeightType: 1;

    color: #853175;
    font-weight: bold;

    h5 {
      @include g-font($_fontSizePx, $_lineHeightType);

      display: inline;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      display: inline;
      text-decoration: none;
      color: #853175;
    }
  }
}
