@if $device == PC {
  .t0-b-navItem2Captioned {
    display: table;
    margin: 0 auto;

    > div {
      display: table;
    }

    $_block: &;

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 44px;
      height: 44px;
      padding-right: 10px;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 1px; 
    }

    &__caption-upper {
      @include g-font(16, 1);

      padding: 0 0 5px;
      text-align: center;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__main {
      @include g-font(26, 1);

      border-bottom: 6px double #b1a8d0;
      padding-bottom: 3px;
      position: relative;
      color: #251361;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: -54px;
        top: -3px;
        right: 100%;
        bottom: 0;
        min-height: 44px;
        background-image: url("../imgs/t0-b-navItem/7.png");
        background-repeat: no-repeat;
        background-position: 0 50%;
      }
    }

    a {
      text-decoration: none;
      #{$_block}__main {
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__caption-lower {
      @include g-font(16, 1);

      padding: 10px 0 0;
      text-align: center;

      a {
        color: inherit;
        &:hover {
          color: $hovercolor;
        }
      }
    }
  }
}

@if $device == SP {
  .t0-b-navItem2Captioned {
    display: table;
    margin: 0 auto;

    > div {
      display: table;
    }

    $_block: &;

    &__icon {
      display: table-cell;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      padding-right: 8px;
    }

    &__text {
      display: table-cell;
      vertical-align: middle;
    }

    &__caption-upper {
      @include g-font(14, 1);

      padding: 0 0 5px;
      text-align: center;

      a {
        color: inherit;
      }
    }

    &__main {
      @include g-font(16, 1);

      border-bottom: 6px double #b1a8d0;
      padding-bottom: 3px;
      position: relative;
      color: #251361;

      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        left: -38px;
        top: -1px;
        right: 100%;
        bottom: 0;
        min-height: 30px;
        background-image: url("../imgs/t0-b-navItem/7.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 0 50%;
      }
    }

    a {
      text-decoration: none;
      #{$_block}__main {}
    }

    &__caption-lower {
      @include g-font(14, 1);

      padding: 10px 0 0;
      text-align: center;

      a {
        color: inherit;
      }
    }
  }
}
