@if $device == PC {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    $_block: &;
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference + 2;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference - 2;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    line-height: 0;
    > div {
      display: table;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__icon {
      display: inline-block;
      width: 28px;
      height: 34px;
      overflow: hidden;
      color: transparent;
      text-indent: -100px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 28px 34px;
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 3px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
      padding-bottom: 2px;
      border-bottom: 2px solid #b9b5c3;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__icon {
        width: 28px * .8;
        height: 34px * .8;
        background-size: 28px * .8 34px * .8;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__icon {
        width: 28px * 1.2;
        height: 34px * 1.2;
        background-size: 28px * 1.2 34px * 1.2;
      }

      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $textcolor;
      text-decoration: none;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    $_block: &;
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_fontSizeDifference: 4;
    $_fontSizePx_h_s: $_fontSizePx_h - $_fontSizeDifference;
    $_fontSizePx_h_l: $_fontSizePx_h + $_fontSizeDifference;
    $_fontSizePx_caption_s: $_fontSizePx_caption - $_fontSizeDifference + 2;
    $_fontSizePx_caption_l: $_fontSizePx_caption + $_fontSizeDifference - 2;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    line-height: 0;
    > div {
      display: inline-block;
      width: 100%;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__icon {
      display: inline-block;
      overflow: hidden;
      color: transparent;
      text-indent: -100px;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 0 0 0 50px;
    }

    &__h {
      @include g-font-layout($_fontSizePx_h, $_lineHeightType_h, $layout);
      // 管理画面のmin-heightに負けてしまうのでつける
      min-height: 28px !important;
      padding: 10px 0 3px 50px;
      margin-bottom: 1px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png"), url("../imgs/t0-b-lv4H-qIcon/3.png");
      background-repeat: no-repeat, repeat-x;
      background-position: left bottom, left bottom;
      background-size: 38px 39px, auto;
    }

    &__caption-lower {
      @include g-font-layout($_fontSizePx_caption, $_lineHeightType_caption, $layout);
      padding: 5px 0 0 50px;
    }

    &__caption-upper + &__h {
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &__caption-upper + a > &__h {
      @include g-font-layout($_fontSizePx_h - 2, $_lineHeightType_h, $layout);
    }

    &--size-1 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 0 0 0 40px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s, $_lineHeightType_h, $layout);
        // 管理画面のmin-heightに負けてしまうのでつける
        min-height: 22px !important;
        padding: 6px 0 2px 40px;
        background-size: 38px * .8 38px * .8, auto;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_s, $_lineHeightType_caption, $layout);
        padding: 5px 0 0 40px;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_s - 2, $_lineHeightType_h, $layout);
      }
    }

    &--size-3 {
      #{$_block}__caption-upper {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 0 0 0 55px;
      }

      #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l, $_lineHeightType_h, $layout);
        // 管理画面のmin-heightに負けてしまうのでつける
        min-height: 35px !important;
        padding: 9px 0 2px 55px;
        background-size: 38px * 1.2 39px * 1.2, auto;
      }

      #{$_block}__caption-lower {
        @include g-font-layout($_fontSizePx_caption_l, $_lineHeightType_caption, $layout);
        padding: 5px 0 0 55px;
      }

      #{$_block}__caption-upper + #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }

      #{$_block}__caption-upper + a > #{$_block}__h {
        @include g-font-layout($_fontSizePx_h_l - 2, $_lineHeightType_h, $layout);
      }
    }

    &--align-l {
      justify-content: flex-start;
      text-align: left;
    }

    &--align-c {
      justify-content: center;
      text-align: center;
    }

    &--align-r {
      justify-content: flex-end;
      text-align: right;
    }

    a {
      color: $textcolor;
      text-decoration: none;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-qIcon#{$variation1of2} {
    $_block: &;
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_backgroundSize_x: 22.4px;
    $_backgroundSize_y: 27.2px;
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 3px;
    }

    &__h {
      @include g-font($_fontSizePx_h, $_lineHeightType_h);
      padding-bottom: 2px;
      border-bottom: 2px solid #b9b5c3;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0;
    }

    &__icon {
      display: inline-block;
      width: $_backgroundSize_x;
      height: $_backgroundSize_y;
      overflow: hidden;
      color: transparent;
      text-indent: -100px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: $_backgroundSize_x $_backgroundSize_y;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      color: $textcolor;
      text-decoration: none;
    }
  }

  .t0-b-lv4H-qIcon#{$variation2of2} {
    $_block: &;
    $_fontSizePx_h: 20;
    $_fontSizePx_caption: 14;
    $_lineHeightType_h: 1;
    $_lineHeightType_caption: 1;
    $_backgroundSize_x: 36.8px;
    $_backgroundSize_y: 36px;
    line-height: 0;
    > div {
      display: inline-block;
      width: 100%;
    }

    &__icon {
      display: inline-block;
      overflow: hidden;
      color: transparent;
      text-indent: -100px;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__bd {
      width: 100%;
    }

    &__caption-upper {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 0 0 0 46px;
    }

    &__h {
      @include g-font($_fontSizePx_h, $_lineHeightType_h);
      min-height: 22px;
      padding: 8px 0 8px 46px;
      margin-bottom: 1px;
      background-image: url("../imgs/t0-b-lv4H-qIcon/2.png"), url("../imgs/t0-b-lv4H-qIcon/3.png");
      background-repeat: no-repeat, repeat-x;
      background-position: left bottom, left bottom;
      background-size: $_backgroundSize_x $_backgroundSize_y, auto;
    }

    &__caption-lower {
      @include g-font($_fontSizePx_caption, $_lineHeightType_caption);
      padding: 5px 0 0 46px;
    }

    &--align-l {
      justify-content: flex-start;
      text-align: left;
    }

    &--align-c {
      justify-content: center;
      text-align: center;
    }

    &--align-r {
      justify-content: flex-end;
      text-align: right;
    }

    a {
      color: $textcolor;
      text-decoration: none;
    }
  }
}
