@if $device == PC {
  .t0-b-sideBox#{$variation1of2} {
    border-top: 4px solid #453288;
    background: url("../imgs/t0-b-sideBox/1/1.png") repeat-x left bottom;
    background-color: #eee;
    padding: 10px 20px;
    position: relative;

    &__hd {
      margin-bottom: 10px;

      a {
        color: $textcolor;
        text-decoration: none;

        &:hover {
          color: $hovercolor;
        }
      }

      h4 {
        @include g-font(20, 1);

        padding-bottom: 13px;
        text-align: center;
        background: url("../imgs/t0-b-sideBox/1/2.png") no-repeat left bottom, url("../imgs/t0-b-sideBox/1/3.png") repeat-x left bottom;
      }
    }

    &__bd {
      position: relative;
      padding-top: 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 0 18px 10px;
    position: relative;

    &__hd {
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat;
      background-position: left top, right bottom, left top, right top, left top;
      background-image: url("../imgs/t0-b-sideBox/2/2.png"), url("../imgs/t0-b-sideBox/2/3.png"), url("../imgs/t0-b-sideBox/2/4.png"), url("../imgs/t0-b-sideBox/2/5.png"), url("../imgs/t0-b-sideBox/2/1.png");
      margin: (-2px) -20px 0;
      border-bottom: 2px solid #fff;

      a {
        color: $textcolor;
        text-decoration: none;

        &:hover {
          color: $hovercolor;
        }
      }

      h4 {
        @include g-font(20, 1);

        padding: 13px 15px;
        text-align: center;
      }
    }

    &__bd {
      position: relative;
      padding-top: 18px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}

@if $device == SP {

  .t0-b-sideBox#{$variation1of2} {
    border-top: 4px solid #453288;
    background: url("../imgs/t0-b-sideBox/1/1.png") repeat-x left bottom;
    background-color: #eee;
    padding: 10px;
    margin: 0 -5px;
    position: relative;

    &__hd {
      margin-bottom: 10px;

      a {
        color: $textcolor;
        text-decoration: none;
      }

      h4 {
        @include g-font(18, 1);

        padding-bottom: 13px;
        text-align: center;
        background: url("../imgs/t0-b-sideBox/1/2.png") no-repeat left bottom, url("../imgs/t0-b-sideBox/1/3.png") repeat-x left bottom;
      }
    }

    &__bd {
      position: relative;
      padding-top: 4px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }

  .t0-b-sideBox#{$variation2of2} {
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 0 10px 10px;
    margin: 0 -5px;
    position: relative;

    &__hd {
      background-repeat: no-repeat, no-repeat, repeat-y, repeat-y, repeat;
      background-position: left top, right bottom, left top, right top, left top;
      background-image: url("../imgs/t0-b-sideBox/2/2.png"), url("../imgs/t0-b-sideBox/2/3.png"), url("../imgs/t0-b-sideBox/2/4.png"), url("../imgs/t0-b-sideBox/2/5.png"), url("../imgs/t0-b-sideBox/2/1.png");
      margin: (-2px) -12px 0;
      border-bottom: 2px solid #fff;

      a {
        color: $textcolor;
        text-decoration: none;
      }

      h4 {
        @include g-font(18, 1);

        padding: 13px 15px;
        text-align: center;
      }
    }

    &__bd {
      position: relative;
      padding-top: 10px;
    }

    &--align-l h4 {
      text-align: left;
    }

    &--align-c h4 {
      text-align: center;
    }

    &--align-r h4 {
      text-align: right;
    }
  }
}
