$device: "PC";
$layout: "L30";
@import "config/colorConfig";
@import "../../../base/devStuff/src/assets/assetsPC";
@import "../../../base/devStuff/src/config/themeConfig";
@import "../../../base/devStuff/src/config/variationConfig";
@import "../../../base/devStuff/src/config/bPlacer";
@import "../../../base/devStuff/src/layout/layout-L30";
@import "../../../base/devStuff/src/parts/all";
