$layout: "L25";
$areaContainerWidth: 980px;
$areaMainWidth: 700px;
$areaSubWidth: 280px;
.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f2f2e3;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-header {
  background-color: #e1e1c2;
  position: relative;
  > * {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    display: block;
    height: 130px;
    background: url("../imgs/area-all/bg.png") repeat-x left bottom;
  }
}

.area-container {
  width: $areaContainerWidth;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  position: relative;
  *zoom: 1;
}

.area-container::before,
.area-container::after {
  content: "";
  display: table;
}

.area-container::after {
  clear: both;
}

.area-main {
  float: right;
  box-sizing: border-box;
  width: $areaMainWidth;
  padding: 0 0 50px;
  position: relative;
}

.area-sub {
  float: left;
  box-sizing: border-box;
  width: $areaSubWidth;
  min-height: 100px;
  padding: 0 45px 50px 0;
  position: relative;
  // R比率の際に、画像列の下(z-index: 10)の下にもぐらないよう11を指定
  z-index: 11;
}

.area-footer {
  background: none;
  background-color: #f2f2e3;
  position: relative;
  padding-top: 1px;
}
