@if $device == PC {
  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    $_block: &;
    padding: 0;
    border: 2px solid #baa178;
    border-radius: 5px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    background-color: #fff;
    margin-bottom: 20px;
    &__hd {
      padding: 10px 20px 0;
      text-align: center;
      color: #400;
      h3 {
        font-weight: normal;
      }

      &-caption-upper {
        padding: 10px 0 0;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal !important;
      }

      &-caption-lower {
        padding: 0 0 10px;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal !important;
      }

      &-h {
        @include g-font-spacingKilled(28, 1);
        padding: 10px 0;
      }

      &-caption-upper {
        padding: 10px 0 0;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal;
      }

      &-caption-lower {
        padding: 0 0 10px;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal;
      }

      > * {
        font-weight: bold;
      }

      a {
        color: #400;
        text-decoration: none;
        &:hover {
          h3 {
            color: $g-hoverColor;
          }
        }
      }
    }

    &__bd {
      padding: 60px 30px 30px;
      background-color: #fff2dc;
      background-image: url("../imgs/waku/1/2.png");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 711px 45px;
    }

    &__numIcon {
      line-height: 0;
      color: #664b3a;
      a {
        text-decoration: none;
        &:hover {
          #{$_block}__numIcon-h {
            color: $g-hoverColor;
          }
        }
      }

      a {
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }

      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__box {
      padding: 10px 0 0 78px;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(18, 1);
      padding: 0 0 10px;
      color: #400;
    }

    &__numIcon-h {
      @include g-font-spacingKilled(26, 1);
      color: #400;
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(18, 1);
      padding: 10px 0 0;
      color: #400;
    }

    &__numIcon-caption-upper + &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__numIcon-caption-upper + a > &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__icon {
      width: 68px;
      height: 68px;
      background-image: url("../imgs/Icons/pc/1-1.png");
      background-repeat: no-repeat;
      display: inline-block;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      $_types: concept, houshin, kodawari, merit, oyakusoku, point, riyu, step, tokucho, tokucho2, tsuyomi;
      $_position: -68px;
      @each $_type in $_types {
        $_index: index($_types, $_type);
        @for $i from 1 through 10 {
          &--#{$_type}-#{$i} {
            background-position: #{$_position * $_index} 0;
          }
        }
      }
    }

    $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
    @each $_type in $_types {
      @for $_i from 1 through 9 {
        &__icon--#{$_type}-#{$_i} {
          &::before {
            content: "#{$_i}";
            display: block;
            color: #f1efe9;
            text-indent: 0;
            text-align: center;
            line-height: 0;
            padding-top: 47px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }
      }
      &__icon--#{$_type}-10 {
        &::before {
          content: "10";
          display: block;
          color: #f1efe9;
          text-indent: 0;
          text-align: center;
          line-height: 0;
          padding-top: 47px;
          @include g-font-spacingKilled(20, 0);
          text-shadow: -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48;
          font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {
    $_block: &;
    padding: 0;
    border-radius: 15px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    background-color: #fffaf8;
    background-image: url("../imgs/waku/2/1-7.png");
    background-repeat: no-repeat;
    background-position: 97% 80%;
    background-size: 316px 286px;
    position: relative;
    margin-bottom: 20px;
    &__hd {
      background-image: url("../imgs/waku/2/10-1.png"), url("../imgs/waku/2/10-1.png");
      background-repeat: repeat-x, repeat-x;
      background-position: 0 0, 0 100%;
      text-align: center;
      padding: 10px;
      position: relative;
      color: #400;
      > span {
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% 0;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-2.png"), url("../imgs/waku/2/1-4.png");
        left: 0;
        right: 0;
        bottom: -23px;
        height: 23px;
      }

      &::after {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-3.png");
        width: 151px;
        height: 23px;
        bottom: -23px;
        left: 50%;
        margin-left: -75px;
        z-index: 1;
      }

      &::before {
        content: "";
        background-repeat: repeat-x;
        background-position: 0 0;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/10-2.png");
        background-size: 100%;
        top: 6px;
        bottom: 6px;
        left: 1px;
        right: 1px;
        z-index: 1;
      }

      &-h {
        @include g-font-spacingKilled(28, 1);
        padding: 10px 0;
        font-weight: normal;
        position: relative;
        z-index: 5;
        text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
      }

      &-caption-upper {
        padding: 10px 0 0;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal;
      }

      &-caption-lower {
        padding: 0 0 10px;
        @include g-font-spacingKilled(16, 1);
        font-weight: normal;
      }

      a {
        color: #400;
        text-decoration: none;
        &:hover {
          color: $g-hoverColor;
        }
      }
    }

    &__bd {
      padding: 50px 20px 30px;
      position: relative;
      > span {
        background-image: url("../imgs/waku/2/1-1.png");
        background-repeat: repeat-x;
        background-position: 15px 6px;
        background-size: 27px 65px;
        width: 100%;
        height: 9px;
        bottom: 0;
        left: 0;
        display: block;
        position: absolute;
        pointer-events: none;
      }

      &::after {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-5.png");
        width: 63px;
        height: 23px;
        bottom: 3px;
        left: 0;
      }

      &::before {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: block;
        pointer-events: none;
        position: absolute;
        background-image: url("../imgs/waku/2/1-6.png");
        width: 63px;
        height: 23px;
        bottom: 3px;
        right: 0;
      }
    }

    &__numIcon {
      line-height: 0;
      color: #664b3a;
      a {
        text-decoration: none;
        &:hover {
          #{$_block}__numIcon-h {
            color: $g-hoverColor;
          }
        }
      }

      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__box {
      padding: 10px 0 0 10px;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(18, 1);
      padding: 0 0 10px;
      color: #664b3a;
    }

    &__numIcon-h {
      @include g-font-spacingKilled(26, 1);
      font-weight: normal;
      color: #664b3a;
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(18, 1);
      padding: 10px 0 0;
      color: #664b3a;
    }

    &__numIcon-caption-upper + &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__numIcon-caption-upper + a > &__numIcon-h {
      @include g-font-spacingKilled(24, 1);
    }

    &__icon {
      width: 64px;
      height: 64px;
      background-image: url("../imgs/Icons/pc/1-2.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      $_types: concept, houshin, kodawari, merit, oyakusoku, point, riyu, step, tokucho, tokucho2, tsuyomi;
      $_position: -64px;
      @each $_type in $_types {
        $_index: index($_types, $_type);
        @for $i from 1 through 10 {
          &--#{$_type}-#{$i} {
            background-position: #{$_position * $_index} 0;
          }
        }
      }
    }

    $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
    @each $_type in $_types {
      @for $_i from 1 through 9 {
        &__icon--#{$_type}-#{$_i} {
          &::before {
            content: "#{$_i}";
            display: block;
            color: #400;
            text-indent: 0;
            text-align: center;
            line-height: 0;
            padding-top: 45px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }
      }
      &__icon--#{$_type}-10 {
        &::before {
          content: "10";
          display: block;
          color: #400;
          text-indent: 0;
          text-align: center;
          line-height: 0;
          padding-top: 45px;
          @include g-font-spacingKilled(20, 0);
          text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
          font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }
}

@if $device == SP {
  .t0-b-frameWithHCaptionNumIcon#{$variation1of2} {
    $_block: &;
    padding: 0;
    border: 2px solid #baa178;
    border-radius: 5px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    background-color: #fff;
    margin: 0 -5px;
    margin-bottom: 20px;
    &__hd {
      padding: 10px 20px 0;
      text-align: center;
      color: #400;
      h3 {
        font-weight: normal;
      }

      &-h {
        @include g-font-spacingKilled(18, 1);
        padding: 10px 0;
      }

      &-caption-upper {
        padding: 10px 0 0;
        @include g-font-spacingKilled(14, 1);
        font-weight: normal;
      }

      &-caption-lower {
        padding: 0 0 10px;
        @include g-font-spacingKilled(14, 1);
        font-weight: normal;
      }

      a {
        color: #400;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 60px 20px 30px;
      background-color: #fff2dc;
      background-image: url("../imgs/waku/1/2.png");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 711px 45px;
    }

    &__numIcon {
      a {
        text-decoration: none;
      }

      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__box {
      padding: 10px 0 0;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 #{$_elementSpacing};
      color: #664b3a;
    }

    &__numIcon-h {
      @include g-font-spacingKilled(18, 1);
      color: #664b3a;
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding: #{$_elementSpacing} 0 0;
      color: #664b3a;
    }

    &__icon {
      width: 63px;
      height: 63px;
      background-image: url("../imgs/Icons/sp/1-1.png");
      background-repeat: no-repeat;
      display: inline-block;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      $_types: concept, houshin, kodawari, merit, oyakusoku, point, riyu, step, tokucho, tokucho2, tsuyomi;
      $_position: -63px;
      @each $_type in $_types {
        $_index: index($_types, $_type);
        @for $i from 1 through 10 {
          &--#{$_type}-#{$i} {
            background-position: #{$_position * $_index} 0;
          }
        }
      }
    }

    $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
    @each $_type in $_types {
      @for $_i from 1 through 9 {
        &__icon--#{$_type}-#{$_i} {
          &::before {
            content: "#{$_i}";
            display: block;
            color: #f1efe9;
            text-indent: 0;
            text-align: center;
            padding-top: 43px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }

        &__icon--#{$_type}-10 {
          &::before {
            content: "10";
            display: block;
            color: #f1efe9;
            text-indent: 0;
            text-align: center;
            padding-top: 43px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48, -1px -1px 1px #967a48, 1px -1px 1px #967a48, -1px 1px 1px #967a48, 1px 1px 1px #967a48;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
      line-height: 0;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }

  .t0-b-frameWithHCaptionNumIcon#{$variation2of2} {
    $_block: &;
    padding: 10px;
    border-radius: 15px;
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    background-color: #fffaf8;
    background-image: url("../imgs/waku/2/1-7.png");
    background-repeat: no-repeat;
    background-position: 97% 80%;
    background-size: 316px 286px;
    position: relative;
    margin: 0 -5px;
    margin-bottom: 20px;
    &__hd {
      background-image: url("../imgs/waku/2/10-1.png"), url("../imgs/waku/2/10-1.png");
      background-repeat: repeat-x, repeat-x;
      background-position: 0 0, 0 100%;
      text-align: center;
      padding: 10px;
      position: relative;
      color: #400;
      > span {
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 100% 0;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-2.png"), url("../imgs/waku/2/1-4.png");
        left: 0;
        right: 0;
        bottom: -23px;
        height: 23px;
      }

      &::after {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-3.png");
        width: 151px;
        height: 23px;
        bottom: -23px;
        left: 50%;
        margin-left: -75px;
      }

      &::before {
        content: "";
        background-repeat: repeat-x;
        background-position: 0 0;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/10-2.png");
        background-size: 100%;
        top: 6px;
        bottom: 6px;
        left: 1px;
        right: 1px;
      }

      &-h {
        @include g-font-spacingKilled(18, 1);
        padding: 10px 0;
        font-weight: normal;
        text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
      }

      &-caption-upper {
        padding: 10px 0 0;
        @include g-font-spacingKilled(14, 1);
        font-weight: normal;
      }

      &-caption-lower {
        padding: 0 0 10px;
        @include g-font-spacingKilled(14, 1);
        font-weight: normal;
      }

      > * {
        font-weight: normal;
      }

      a {
        color: #400;
        text-decoration: none;
      }
    }

    &__bd {
      padding: 50px 0 30px;
      position: relative;
      > span {
        background-image: url("../imgs/waku/2/1-1.png");
        background-repeat: repeat-x;
        background-position: 15px 6px;
        background-size: 27px 65px;
        width: 100%;
        height: 9px;
        bottom: 0;
        left: 0;
        display: block;
        position: absolute;
        pointer-events: none;
      }

      &::after {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
        display: block;
        position: absolute;
        pointer-events: none;
        background-image: url("../imgs/waku/2/1-5.png");
        width: 63px;
        height: 23px;
        bottom: 3px;
        left: 0;
      }

      &::before {
        content: "";
        background-repeat: no-repeat;
        background-position: 0 0;
        display: block;
        pointer-events: none;
        position: absolute;
        background-image: url("../imgs/waku/2/1-6.png");
        width: 63px;
        height: 26px;
        bottom: 0;
        right: 0;
      }
    }

    &__numIcon {
      a {
        text-decoration: none;
      }

      display: inline-block;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__box {
      padding: 10px 0 0;
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__numIcon-caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding: 0 0 #{$_elementSpacing};
      color: #664b3a;
    }

    &__numIcon-h {
      @include g-font-spacingKilled(18, 1);
      color: #664b3a;
    }

    &__numIcon-caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding: #{$_elementSpacing} 0 0;
      color: #664b3a;
    }

    &__icon {
      width: 60px;
      height: 59px;
      background-image: url("../imgs/Icons/sp/1-2.png");
      background-repeat: no-repeat;
      display: inline-block;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      $_types: concept, houshin, kodawari, merit, oyakusoku, point, riyu, step, tokucho, tokucho2, tsuyomi;
      $_position: -60px;
      @each $_type in $_types {
        $_index: index($_types, $_type);
        @for $i from 1 through 10 {
          &--#{$_type}-#{$i} {
            background-position: #{$_position * $_index} 0;
          }
        }
      }
    }

    $_types: anshin, concept, houshin, kodawari, merit, oyakusoku, point, riyu, tokucho, tokucho2, tsuyomi, step;
    @each $_type in $_types {
      @for $_i from 1 through 9 {
        &__icon--#{$_type}-#{$_i} {
          &::before {
            content: "#{$_i}";
            display: block;
            color: #724847;
            text-indent: 0;
            text-align: center;
            padding-top: 41px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }

        &__icon--#{$_type}-10 {
          &::before {
            content: "10";
            display: block;
            color: #724847;
            text-indent: 0;
            text-align: center;
            padding-top: 41px;
            @include g-font-spacingKilled(20, 0);
            text-shadow: -1px -1px 4px #fff, 1px -1px 4px #fff, -1px 1px 4px #fff, 1px 1px 4px #fff;
            font-family: "ＤＦＰ平成丸ゴシック体W4J", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
          }
        }
      }
    }
    &__hd--align-l {
      text-align: left;
    }

    &__hd--align-c {
      text-align: center;
    }

    &__hd--align-r {
      text-align: right;
    }

    &__numIcon--align {
      width: 100%;
      line-height: 0;
    }

    &__numIcon--align-l {
      text-align: left;
    }

    &__numIcon--align-c {
      text-align: center;
    }

    &__numIcon--align-r {
      text-align: right;
    }
  }
}
