@if $device == PC {
  .t0-b-lv5H#{$variation1of2} {
    color: #594c46;
    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 30px 5px;
    }

    &__main {
      line-height: 0;
      padding-right: 29px;
    }

    &__bd {
      display: inline-block;
      h5 {
        @include g-font(18, 1);
      }

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 27px;
      height: 21px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv5H/bg.png");
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 30px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #594c46;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    color: #7e5c25;
    text-align: center;
    &__caption-upper {
      @include g-font-spacingKilled(14, 1);
      padding: 0 10px 8px;
    }

    &__bd {
      border: 1px solid #b09160;
      padding: 8px;
      > * {
        font-weight: normal;
        @include g-font-spacingKilled(18, 1);
      }
    }

    &__caption-lower {
      @include g-font-spacingKilled(14, 1);
      padding: 8px 10px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #7e5c25;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv5H#{$variation1of2} {
    color: #594c46;
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 0 5px 30px;
    }

    &__main {
      line-height: 0;
    }

    &__bd {
      display: inline-block;
      h5 {
        @include g-font(16, 1);
      }

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }

    &__icon {
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
      width: 27px;
      height: 21px;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/t0-b-lv5H/bg.png");
    }

    &__iconPlacer {
      > * {
        display: block;
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 0 0 30px;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #594c46;
    }
  }

  .t0-b-lv5H#{$variation2of2} {
    color: #7e5c25;
    text-align: center;
    &__caption-upper {
      @include g-font(12, 1);
      padding: 0 10px 5px;
    }

    &__bd {
      border: 1px solid #b09160;
      padding: 5px;
      > * {
        font-weight: normal;
        @include g-font(16, 1);
      }
    }

    &__caption-lower {
      @include g-font(12, 1);
      padding: 5px 10px 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #7e5c25;
    }
  }
}
