@if $device == PC {
  .t0-b-lv4H-caseIcon#{$variation1of2} {
    color: #400;
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 57px;
      background-position: (-80px) 0;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font(22, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(20, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(20, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #400;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-lv4H-caseIcon#{$variation2of2} {
    color: #400;
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      background-repeat: no-repeat;
      display: inline-block;
      width: 67px;
      height: 45px;
      background-position: (-144px) 0;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 5px;
    }

    &__h {
      @include g-font(22, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &__caption-upper + &__h {
      @include g-font(20, 1);
    }

    &__caption-upper + a > &__h {
      @include g-font(20, 1);
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #400;
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-lv4H-caseIcon#{$variation1of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #400;
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      background-repeat: no-repeat;
      display: inline-block;
      width: 64px;
      height: 57px;
      background-position: (-80px) 0;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 4px;
    }

    &__h {
      @include g-font(18, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #400;
    }
  }

  .t0-b-lv4H-caseIcon#{$variation2of2} {
    $_elementSpacing: #{$g-spacingBaseLength * 2}px;
    color: #400;
    line-height: 0;
    > div {
      display: inline-block;
    }

    > div > * {
      display: table-cell;
      vertical-align: middle;
    }

    &__icon {
      background-repeat: no-repeat;
      display: inline-block;
      width: 67px;
      height: 45px;
      background-position: (-144px) 0;
      overflow: hidden;
      text-indent: -100px;
      color: transparent;
      background-image: url("../imgs/Icons/pc/3.png");
    }

    &__iconPlacer {
      padding: 0 10px 0 0;
      > * {
        display: block;
      }
    }

    &__caption-upper {
      @include g-font(14, 1);
      padding: 0 0 4px;
    }

    &__h {
      @include g-font(18, 1);
      font-weight: bold;
    }

    &__caption-lower {
      @include g-font(14, 1);
      padding: 5px 0 0;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #400;
    }
  }
}
