@if $device == PC {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    margin: 0;
    padding: 3px 50px 0 53px;
    position: relative;
  
    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
      top: -3px;
      bottom: 3px;
      left: 50px;
      right: 53px;
      background-repeat: repeat;
      background-position: left top;
      background-image: url("../imgs/t0-b-navItem2Captioned/bg3.png");
      border-radius: 5px;
      border: 1px solid #fff;
      border-bottom: 1px solid #eae3d7;
      border-right: 1px solid #eae3d7;
    }
  
    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      left: 53px;
      right: 50px;
      background-image: url("../imgs/t0-b-navItem2Captioned/bg.png"), url("../imgs/t0-b-navItem2Captioned/bg2.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left center, right center;
      background-color: #baa178;
      border-radius: 5px;
    }
  
    > div,
    a > div {
      width: 100%;
      box-sizing: border-box;
      padding: 14px 80px 17px 40px;
      position: relative;
      display: table;
      background-image: url("../imgs/t0-b-navItem2Captioned/bg.png"), url("../imgs/t0-b-navItem2Captioned/bg2.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left center, right center;
      z-index: 1;
      min-height: 120px;
    }
  
    a > div {
      &:hover {
        opacity: 0.8;
      }
    }
  
    > div > div,
    > a > div > div {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      position: relative;
    }
  
    &__icon {
      padding-right: 10px;
      width: 50px;
  
      &:before {
        display: block;
        content: "";

        background: url("../imgs/t0-b-navItem2Captioned/icons/2.png") 0 center no-repeat;
        width: 40px;
        height: 40px;
        position: relative;
      }
    }
  
    &__caption-upper {
      @include g-font-spacingKilled(16, 1);
  
      padding: 0 0 12px;
      position: relative;
    }
  
    &__main {
      @include g-font-spacingKilled(26, 1);
  
      //font-weight: bold
      padding: 0 0 2px;
      position: relative;
      text-shadow: (-1px) -1px 3px #82694e, 1px -1px 3px #82694e, -1px 1px 3px #82694e, 1px 1px 3px #82694e, (-1px) -1px 3px #82694e, 1px -1px 3px #82694e, -1px 1px 3px #82694e, 1px 1px 3px #82694e, (-1px) -1px 3px #82694e, 1px -1px 3px #82694e, -1px 1px 3px #82694e, 1px 1px 3px #82694e, (-1px) -1px 3px #82694e, 1px -1px 3px #82694e, -1px 1px 3px #82694e, 1px 1px 3px #82694e;
    }
  
    &__caption-lower {
      @include g-font-spacingKilled(16, 1);
  
      padding: 12px 0 0;
      position: relative;
    }
  
    a {
      text-decoration: none;
    }
  
    > div, x:-moz-any-link,
    > a > div, x:-moz-any-link {
      display: flex;
      align-items: center;
    }
  
    &__text, x:-moz-any-link {
      width: 100%;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    margin: 0 50px 0 50px;
    padding: 1px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px #f7b1a7;
  
    a > div {
      width: 100%;
      box-sizing: border-box;
      padding: 14px 90px 14px 0;
      display: table;
      background: linear-gradient(#ffc7bf, #ffe6e2);
      border-radius: 4px;
      min-height: 120px;
  
      &:hover {
        opacity: 0.8;
      }
  
      position: relative;
  
      > span {
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-image: url("../imgs/t0-b-navItem2Captioned/bg4.png");
      }
  
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
      }
    }
  
    > div {
      width: 100%;
      box-sizing: border-box;
      padding: 14px 90px 14px 0;
      display: table;
      background: linear-gradient(#ffc7bf, #ffe6e2);
      border-radius: 4px;
      position: relative;
      min-height: 120px;
  
      > span {
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-image: url("../imgs/t0-b-navItem2Captioned/bg4.png");
      }
  
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
      }
    }
  
    &__icon {
      padding-right: 10px;
      width: 80px;
  
      &:before {
        display: block;
        content: "";

        background: url("../imgs/t0-b-navItem2Captioned/icons/3.png") 0 center no-repeat;
        width: 80px;
        height: 40px;
        position: relative;
        margin-left: -1px;
      }
    }
  
    &__caption-upper {
      @include g-font-spacingKilled(16, 1);
  
      padding: 0 0 12px;
      color: #594c46;
      text-shadow: (-1px) -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff, 1px 1px 2px #fff;
      position: relative;
    }
  
    &__main {
      @include g-font-spacingKilled(26, 1);
  
      //font-weight: bold
      padding: 0 0 2px;
      color: #531b1b;
      text-shadow: (-1px) -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff, 1px 1px 2px #fff;
      position: relative;
    }
  
    &__caption-lower {
      @include g-font-spacingKilled(16, 1);
  
      padding: 12px 0 0;
      color: #594c46;
      text-shadow: (-1px) -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff, 1px 1px 2px #fff;
      position: relative;
    }
  
    a {
      text-decoration: none;
    }
  
    > div, x:-moz-any-link,
    > a > div, x:-moz-any-link {
      display: flex;
      align-items: center;
    }
  
    &__text, x:-moz-any-link {
      width: 100%;
    }
  }
}

@if $device == SP {
  .t0-b-navBItem2Captioned#{$variation1of2} {
    width: 95%;
    margin: 0 auto;
  
    > a {
      text-decoration: none;
      color: #fff;
    }
  
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#baa178, #baa178, #baa178);
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#baa178), color-stop(0.5, #baa178), to(#baa178));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #baa178;
    border-radius: 5px;
  
    > div {
      margin: 0 auto;
    }
  
    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }
  
    &__caption-upper {
      @include g-font(14, 1);
  
      color: #fff;
      padding-bottom: 5px;
    }
  
    &__main {
      @include g-font(16, 1);
  
      font-weight: bold;
      color: #fff;
    }
  
    &__caption-lower {
      @include g-font(14, 1);
  
      color: #fff;
      padding-top: 5px;
    }
  }

  .t0-b-navBItem2Captioned#{$variation2of2} {
    width: 95%;
    margin: 0 auto;
    text-shadow: (-1px) -1px 2px #fff, 1px -1px 2px #fff, (-1px) 1px 2px #fff, 1px 1px 2px #fff;
  
    > a {
      text-decoration: none;
      color: #531b1b;
    }
  
    background-image: url("../imgs/t0-b-navList/bg5.png"), linear-gradient(#ffc7bf, #ffc7bf, #ffe6e2);
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#ffc7bf), color-stop(0.5, #ffc7bf), to(#ffe6e2));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border: 1px solid #fff;
    border-radius: 5px;
  
    > div {
      margin: 0 auto;
    }
  
    &__text {
      text-align: center;
      margin-right: 10%;
      padding: 12px 10px;
    }
  
    &__caption-upper {
      @include g-font(14, 1);
  
      color: #594c46;
      padding-bottom: 5px;
    }
  
    &__main {
      @include g-font(16, 1);
  
      font-weight: bold;
      color: #531b1b;
    }
  
    &__caption-lower {
      @include g-font(14, 1);
  
      color: #594c46;
      padding-top: 5px;
    }
  }
}
