@if $device == PC {
  .t0-b-sideNavItem {
    > a {
      display: block;
      box-sizing: border-box;
      color: #54361d;
      text-decoration-color: #890619;
      &:hover {
        color: $hovercolor;
        text-decoration-color: $hovercolor;
      }

      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
        }

        > span {
          padding: 10px;
          @include g-font-spacingKilled(12, 1);
          background-image: url("../imgs/navItem/1/3.png");
          background-repeat: no-repeat;
          background-position: right center;
        }

        > div {
          width: 100%;
          @include g-font-spacingKilled(16, 1);
          padding: 2px 0 0 8px;
          &:hover {
            color: $hovercolor;
            text-decoration-color: $hovercolor;
          }
        }
      }
    }

    > div {
      display: table;
      width: 100%;
      box-sizing: border-box;
      color: #54361d;
      text-decoration: underline;
      text-decoration-color: #890619;
      > * {
        display: table-cell;
      }

      > span {
        padding: 10px;
        @include g-font-spacingKilled(12, 1);
        background-image: url("../imgs/navItem/1/3.png");
        background-repeat: no-repeat;
        background-position: right center;
      }

      > div {
        width: 100%;
        @include g-font-spacingKilled(16, 1);
        padding: 2px 0 0 8px;
      }
    }
  }
}

@if $device == SP {
  .t0-b-sideNavItem {
    @include g-font-spacingKilled(16, 1);
    margin: 0 auto;
    padding: 0 0 0 28px;
    display: table;
    color: #54361d;
    background: url("../imgs/navItem/1/3.png") no-repeat left center;
    text-decoration: underline;
    min-height: 20px;
    a {
      color: #54361d;
    }
  }
}
