@if $device == PC {
  .t0-b-sideBoxFreeHtml {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    &--width-100per {
      width: 100%;
    }

    &--width-90per {
      width: 90%;
    }

    &--width-80per {
      width: 80%;
    }

    &--width-70per {
      width: 70%;
    }

    .admin & {
      background: #666;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

@if $device == SP {
  .t0-b-sideFreeHtml {
    .t0-b-sideBox#{$variation1of3} &,
    .t0-b-sideBox#{$variation2of3} &,
    .t0-b-sideBox#{$variation2of3} & {
      @include freeHtml(100%);
      > div {
        > * {
          border: 1px solid #cfbda1;
        }
      }

      .admin > div {
        background: #666;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        margin: 0 auto;
      }
    }
  }
}
