@if $device == PC {
  .t0-b-footerUnit-lv2H {
    color: #5b4f46;
  
    h5 {
      font-weight: bold;
  
      @include g-font-spacingKilled(16, 1);
  
      white-space: nowrap;
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-image: url("../imgs/footer/1/4.png");
      padding-bottom: 8px;
    }
  
    &--align-l {
      text-align: left;
    }
  
    &--align-c {
      text-align: center;
    }
  
    &--align-r {
      text-align: right;
    }
  
    a {
      text-decoration: none;
      display: inline;
      color: #5b4f46;
  
      &:hover {
        color: $hovercolor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv2H {
    h5 {
      font-weight: bold;
  
      @include g-font-spacingKilled(18, 1);
  
      color: #5b4f46;
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-image: url("../imgs/footer/1/4.png");
      padding-bottom: 8px;
    }
  
    &--align-l {
      text-align: left;
    }
  
    &--align-c {
      text-align: center;
    }
  
    &--align-r {
      text-align: right;
    }
  
    a {
      text-decoration: none;
      display: inline;
      color: #5b4f46;
    }
  }
  
}
