@if $device == PC {
  .t0-b-footerUnit-lv1H {
    color: #5b4f46;
    h4 {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      white-space: nowrap;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #5b4f46;
      &:hover {
        color: $g-hoverColor;
      }
    }
  }
}

@if $device == SP {
  .t0-b-footerUnit-lv1H {
    h4 {
      font-weight: bold;
      @include g-font-spacingKilled(16, 1);
      color: #5b4f46;
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #5b4f46;
    }
  }
}
