@if $device == PC {
  .t0-b-headerCombi {
    $_width_content: 1020px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    position: relative;

    $_block: &;

    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 5px;
    &::before {
      content: "";
      background-repeat: repeat-x;
      background-position: 0 0;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/header/1/10.png");
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    &__hd {
      padding: 0 0 4px;
      background-repeat: repeat;
      background-position: 0 0;
      background-image: url("../imgs/header/1/11.png");
      z-index: 11;
      position: relative;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font(12, 1);

        position: relative;
      }
    }

    &__bd {
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }

    &__col1 {
      width: 100%;
      position: relative;
      z-index: 12;
    }

    &__col2 {
      padding: $_colSpacing;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 100% 100%;
      position: relative;
      z-index: 12;
      padding-right: 30px;
    }

    &__col3 {
      padding: 15px 15px 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 -10px;
      position: relative;
      z-index: 12;

      &::after {
        content: none;
        display: block;
        position: absolute;
        border: #fdf6f5 solid 5px;
        pointer-events: none;
        background: url("../imgs/t0-b-media/bg.png") 0 0 repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .t0-b-headerUnit-contact-navB,
      .t0-b-headerUnit-contact-navB2 {
        margin: 0 auto;
      }
    }

    .t0-b-headerUnit-siteTitle2 {
      margin: 0;
    }
  }

  .t0-b-headerCombi2 {
    $_width_content: 1020px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    position: relative;

    $_block: &;

    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 5px;
    &::before {
      content: "";
      background-repeat: repeat-x;
      background-position: 0 0;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/header/1/10.png");
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    &__hd {
      padding: 0 0 4px;
      background-repeat: repeat;
      background-position: 0 0;
      background-image: url("../imgs/header/1/11.png");
      z-index: 11;
      position: relative;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font(12, 1);

        position: relative;
      }
    }

    &__bd {
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }

    &__col1 {
      width: 100%;
      position: relative;
      z-index: 12;
    }

    &__col2 {
      padding: $_colSpacing;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 100% 100%;
      position: relative;
      z-index: 12;
      padding-right: 30px;
    }

    &__col3 {
      padding: 5px 15px 0;
      background-color: #f6eae5;
      background: url("../imgs/header/1/4.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 -10px;
      position: relative;
      z-index: 12;
      .t0-b-headerUnit-text {
        @include g-font-spacingKilled(12, 1);

        color: #664b3a;
      }

      &::after {
        content: none;
        display: block;
        position: absolute;
        border: #fdf6f5 solid 5px;
        pointer-events: none;
        background: url("../imgs/t0-b-media/bg.png") 0 0 repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .t0-b-headerUnit-contact-navB,
      .t0-b-headerUnit-contact-navB2 {
        margin: 0 auto;
      }
    }
  }

  .t0-b-headerCombi3 {
    $_width_content: 1020px;
    $_color_hd_typo: #fff;
    $_color_hd_bg: #666;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;

    position: relative;

    $_block: &;

    background-color: #fff;
    padding-bottom: 15px;
    padding-top: 5px;
    &::before {
      content: "";
      background-repeat: repeat-x;
      background-position: 0 0;
      display: block;
      position: absolute;
      pointer-events: none;
      background-image: url("../imgs/header/1/10.png");
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    &__hd {
      padding: 0 0 4px;
      background-repeat: repeat;
      background-position: 0 0;
      background-image: url("../imgs/header/1/11.png");
      z-index: 11;
      position: relative;
      > p {
        width: $_width_content;
        margin: 0 auto;

        @include g-font(12, 1);

        position: relative;
      }
    }

    &__bd {
      > div {
        display: table;
        width: $_width_content;
        margin: 0 auto;
        > div {
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-top: $_colSpacing;
        }
      }
    }

    &__col1 {
      width: 100%;
      position: relative;
      z-index: 12;
    }

    &__col2 {
      padding: 5px 15px;
      background-image: url("../imgs/header/1/4.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      z-index: 12;
      margin-right: 30px;
      &::after {
        content: none;
        display: block;
        position: absolute;
        border: #fdf6f5 solid 5px;
        pointer-events: none;
        background: url("../imgs/t0-b-media/bg.png") 0 0 repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &__col3 {
      padding: 5px 15px 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 0 -10px;
      position: relative;
      z-index: 12;
      .t0-b-headerUnit-text {
        @include g-font-spacingKilled(12, 1);

        color: #664b3a;
      }

      &::after {
        content: none;
        display: block;
        position: absolute;
        border: #fdf6f5 solid 5px;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .t0-b-headerUnit-contact-navB,
      .t0-b-headerUnit-contact-navB2 {
        margin: 0 auto;
      }
    }
  }
}

@if $device == SP {
  .t0-b-headerCombi,
  .t0-b-headerCombi2,
  .t0-b-headerCombi3 {
    margin: 0 -15px;
    padding: 0 15px;

    $_color_hd_typo: #555;
    $_colSpacing: #{$g-spacingBaseLength * 3}px;
    &__hd {
      margin: 0 -15px 10px;
      padding: 5px 15px;
      background: url("../imgs/header/1/11.png") repeat left top;
      color: $_color_hd_typo;
      > p {
        width: 100%;
        margin: 0 auto;

        @include g-font-spacingKilled(14, 1);
      }
    }

    &__bd {
      > div {
        width: 100%;
        margin: 0 auto;
        > div {
          text-align: left;
          vertical-align: middle;
        }
      }
    }

    &__col1 {
      width: 100%;
    }

    &__col2 {
      width: 100%;
    }

    &__col3 {
      width: 100%;
    }
  }
}
