@if $device == PC {
  .b-icon-hMarker {
    @mixin _iconStyles($file) {
      $_src: "../imgs/b-icon-hMarker/#{$file}.png";
      background-image: url($_src);
    }
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;

    @for $_i from 1 through 8 {
      &--#{$_i} {
        @include _iconStyles($_i);
      }
    }
  }

  .t0-b-lv3H-icon {
    padding: 0 0 10px 30px;
    position: relative;
    text-indent: -30px;

    @include g-font(16, 1);
    @include g-font-killSpacing("bottom", 16, 1);
    &__iconPlacer {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 24px;
      margin: (-12px) 0 -12px;
      position: relative;
      top: -.1em;
      > * {
        display: block;
      }
    }

    &__bd {
      display: inline;
      h3 {
        display: inline;
        font-weight: bold;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: $hovercolor;
      }
    }
  }

  .t0-b-footerGNav {
    $_width_content: 1020px;

    color: #fff;
    background: #333;
    text-align: center;
    padding: 20px 0;
    ul {
      width: $_width_content;
      margin: 0 auto;

      @include g-font-spacingKilled(14, 2);
    }

    &__item {
      display: inline-block;
      &::before {
        content: "|";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }

      &:first-child::before {
        display: none;
      }

      > a {
        display: inline-block;
        color: #fff;
        white-space: nowrap;
        &:hover {
          color: $hovercolor;
        }
      }
    }

    &__item--highlighted {
      > a {
        font-weight: bold;
        background: #7a6653;
        padding: 5px 6px 2px;
      }
    }

    &__item--current {
      > a {
        color: #888;
      }
    }
  }

  .t0-b-sideBoxNav {
    @include g-font-spacingKilled(16, 1);

    color: #54361d;
    > a {
      background: url("../imgs/navItem/1/3.png") no-repeat 0 5px;
      background-size: 20px 20px;
      display: inline-block;
      color: #54361d;

      padding: 6px 0 5px 26px;
      text-decoration: underline;
      text-decoration-color: #890619;
      &:hover {
        text-decoration-color: $hovercolor;
        color: $hovercolor;
      }
    }

    > div {
      background: url("../imgs/navItem/1/3.png") no-repeat 0 5px;
      background-size: 20px 20px;
      display: inline-block;
      text-decoration: underline;
      text-decoration-color: #890619;

      padding: 6px 0 5px 26px;
    }
  }

  .t0-b-sideBoxNavB#{$variation1of2} {
    color: #fff;
    > a {
      background: #fd9d92;
      border-radius: 5px;
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          background: url("../imgs/navItem/1/2.png") no-repeat 7px center;
          width: 33px;
          height: 20px;
        }

        > div {
          @include g-font-spacingKilled(14, 1);

          box-sizing: border-box;
          display: block;
          padding: 9px 0;
        }
      }
    }

    > div {
      background: #fd9d92;
      border-radius: 5px;
      display: table;
      width: 100%;
      text-decoration: none;
      box-sizing: border-box;
      color: #fff;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        background: url("../imgs/navItem/1/2.png") no-repeat 7px center;
        width: 33px;
        height: 20px;
      }

      > div {
        @include g-font-spacingKilled(14, 1);

        box-sizing: border-box;
        display: block;
        padding: 9px 0;
      }
    }
  }

  .t0-b-sideBoxNavB#{$variation2of2} {
    @include g-font(14, 1);

    color: #fff;

    //background: #ffb741
    > a {
      display: block;
      text-decoration: none;
      background: #ff9e00;
      box-sizing: border-box;
      border: #ffc15d 2px solid;
      color: #fff;
      border-radius: 5px;
      &:hover {
        opacity: .8;
      }

      > div {
        display: table;

        //overflow: hidden
        //border: #ffc15d 2px solid
        border-radius: 5px;

        //margin-left: -2px
        width: 100%;
        > * {
          display: table-cell;
          vertical-align: middle;
        }

        > span {
          position: relative;
          width: 33px;
          height: 20px;
          > span {
            background: url("../imgs/navItem/1/14.png") no-repeat left center;
            background-size: 27px 18px;
            width: 33px;
            height: 20px;
            position: absolute;
            top: 50%;
            top: auto\0;
            margin-top: -10px;
            background-repeat: no-repeat;
            left: -2px;
          }
        }

        > div {
          box-sizing: border-box;
          display: block;
          padding: 6px 0 5px;
          min-height: 28px;
        }
      }
    }

    > div {
      display: table;
      width: 100%;

      //margin-left: -2px
      background: #ff9e00;
      text-decoration: none;
      box-sizing: border-box;
      border: #ffc15d 2px solid;
      border-radius: 5px;
      color: #fff;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > span {
        width: 33px;
        height: 20px;
        position: relative;
        > span {
          background: url("../imgs/navItem/1/14.png") no-repeat left center;
          background-size: 27px 18px;
          width: 33px;
          height: 20px;
          position: absolute;
          top: 50%;
          top: auto\0;
          margin-top: -10px;
          background-repeat: no-repeat;
          left: -2px;
        }
      }

      > div {
        box-sizing: border-box;
        display: block;
        padding: 6px 0 5px;
        min-height: 28px;
      }
    }
  }

  .t0-b-captionSet {
    $_spacing: #{$g-spacingBaseLength * 3}px;
    > * {
      padding-top: $_spacing;
      &:first-child {
        padding-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;

      @include g-font-spacingKilled(14, 1);

      text-align: center;
    }

    // &__bPlacer: no style
    &__h-lower {
      font-weight: bold;

      @include g-font-spacingKilled(14, 1);

      text-align: center;
    }

    &__caption {
      p {
        @include g-font-spacingKilled(14, 2);

        text-align: center;
      }
    }
  }

  .t0-b-list {
    li {
      @include g-font-spacingKilled(14, 1);

      margin: 10px 0 0;
      padding: 0 0 0 15px;
      background: url("../imgs/t0-b-list/bg.png") 0 .4em no-repeat;
    }

    // kill the first item's margin
    li:first-child {
      margin-top: 0;
    }
  }

  .t0-b-anchorPoint {
    height: 0;
    a {
      width: 20px;
      height: 20px;
      display: block;
    }

    .admin & {
      height: auto;
      a {
        width: 100%;
        height: auto;
        border: 1px dotted #000;
        border-radius: 3px;
        &::before {
          content: "";
          display: block;
          height: 32px;
          width: 32px;
          margin: 3px;
          background: url("../imgs/t0-b-anchorPoint/flag.png") no-repeat 0 0;
        }
      }
    }
  }

  .t0-b-doorNav {
    border: 3px solid #555;
    &__h {
      color: #fff;
      background: #555;
      font-weight: bold;
      padding: 9px 10px 12px;
      text-align: center;
      > * {
        @include g-font-spacingKilled(16, 1);
      }
    }

    &__bd {
      padding: 20px 20px 0 0;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0 0 20px;
      > div {
        margin: 0 0 0 20px;
        border: 3px solid #555;
      }
    }

    &__item-h {
      padding: 7px 7px 10px;
      background: #555;
      color: #fff;
      font-weight: bold;
      text-align: center;
      > * {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &__item-bd {
      padding: 15px 15px 0;
    }
  }

  .t0-b-doorNav2 {
    border: 3px solid #555;
    &__h {
      color: #fff;
      background: #555;
      font-weight: bold;
      padding: 9px 10px 12px;
      text-align: center;
      > * {
        @include g-font-spacingKilled(16, 1);
      }
    }

    &__bd {
      padding: 20px 20px 0 0;
      display: table;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0 0 20px;
      > a {
        margin: 0 0 0 20px;
        display: block;
        height: 100%;
        > div {
          display: table;
          border: 3px solid #555;
          height: 100%;
          > div {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
          }
        }
      }
    }

    &__img {
      padding: 10px 0 10px 10px;
      img {
        display: block;
      }
    }

    &__text {
      width: 100%;

      @include g-font-spacingKilled(14, 1);

      padding: 10px;
    }
  }

  .ex-imageFloat.t0-b-sideBoxMediaBox--imgR {
    > div {
      display: block;
    }

    .t0-b-sideBoxMediaBox__text {
      padding: 0;
    }

    .t0-b-sideBoxMediaBox__media {
      float: right;
      padding: 0 0 8px 8px;
    }

    .clearfix {
      clear: right;
    }
  }

  .ex-imageFloat.t0-b-sideBoxMediaBox--imgL {
    > div {
      display: block;
    }

    .t0-b-sideBoxMediaBox__text {
      padding: 0;
    }

    .t0-b-sideBoxMediaBox__media {
      float: left;
      padding: 0 8px 8px 0;
    }

    .clearfix {
      clear: left;
    }
  }

  @for $_i from 1 through 12 {
    .b-bPlacer-#{$_i}s {
      padding-bottom: #{$_i * $g-spacingBaseLength}px;
    }
  }

  @for $_i from 1 through 12 {
    .b-topSpacingKiller-#{$_i}s {
      margin-top: #{-1 * $_i * $g-spacingBaseLength}px;
      height: 0;
    }
  }
  .ex-align-l {
    text-align: left !important;
  }

  .ex-align-c {
    text-align: center !important;
  }

  .ex-align-r {
    text-align: right !important;
  }

  .ex-align-t {
    vertical-align: top !important;
  }

  .ex-align-m {
    vertical-align: middle !important;
  }

  .ex-align-b {
    vertical-align: bottom !important;
  }

  // 上の余白調整
  @for $_i from 1 through 10 {
    .ex-topSpacingTweak-up-#{$_i}s {
      margin-top: #{-1 * $_i * $g-spacingBaseLength}px;
    }

    .ex-topSpacingTweak-down-#{$_i}s {
      margin-top: #{$_i * $g-spacingBaseLength}px;
    }
  }

  // 左の余白調整
  @for $_i from 1 through 10 {
    .ex-leftSpacingTweak-narrow-#{$_i}s {
      margin-left: #{-1 * $_i * $g-leftSpacingBaseLength}px;
    }

    .ex-leftSpacingTweak-spread-#{$_i}s {
      margin-left: #{$_i * $g-leftSpacingBaseLength}px;
    }
  }
}

@if $device == SP {
  .b-icon-hMarker {
    @mixin _iconStyles($file) {
      $_src: "../imgs/b-icon-hMarker/#{$file}.png";
      background-image: url($_src);
    }
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;

    @for $_i from 1 through 8 {
      &--#{$_i} {
        @include _iconStyles($_i);
      }
    }
  }

  .t0-b-lv3H-icon {
    padding: 0 0 10px 30px;
    position: relative;
    text-indent: -30px;

    @include g-font(18, 1);
    @include g-font-killSpacing("bottom", 16, 1);
    &__iconPlacer {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 24px;
      margin: (-12px) 0 -12px;
      position: relative;
      top: -.1em;
      > * {
        display: block;
      }
    }

    &__bd {
      display: inline;
      h3 {
        display: inline;
        font-weight: bold;
      }
    }

    &--align-l {
      text-align: left;
    }

    &--align-c {
      text-align: center;
    }

    &--align-r {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: #555;
    }
  }

  .t0-b-footerGNav {
    color: #fff;
    background: #333;
    text-align: center;
    padding: 20px 0;
    ul {
      width: 100%;
      margin: 0 auto;

      @include g-font-spacingKilled(14, 2);
    }

    &__item {
      display: inline-block;
      &::before {
        content: "|";
        display: inline-block;
        margin: 0 .5em 0 .2em;
      }

      &:first-child::before {
        display: none;
      }

      > a {
        display: inline-block;
        color: #fff;
      }
    }

    &__item--highlighted {
      > a {
        font-weight: bold;
        background: #7a6653;
        padding: 5px 6px 2px;
      }
    }

    &__item--current {
      > a {
        color: #888;
      }
    }
  }

  .t0-b-sideBoxNav {
    @include g-font-spacingKilled(16, 1);

    margin: 0 auto;
    color: #54361d;
    display: table;
    a {
      color: #54361d;
      text-decoration: none;
    }

    > a,
    > div {
      background: url("../imgs/navItem/1/3.png") no-repeat 0 50%;
      background-size: 20px 20px;
      display: inline-block;
      padding: 6px 0 5px 27px;
    }

    div > div {
      border-bottom: 1px solid #890619;
    }
  }

  .t0-b-sideBoxNavB {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#fd9d92), color-stop(.5, #fd9d92), to(#fd9d92));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    color: #fff;
    > a {
      text-decoration: none;
      color: #fff;
      > div {
        border: 1px solid #fd9d92;
        border-radius: 5px;
        text-align: center;
        > div {
          @include g-font(16, 1);

          padding: 12px 10px;
          margin-right: 10%;
        }
      }
    }

    > div {
      border: 1px solid #fd9d92;
      border-radius: 5px;
      text-align: center;
      > div {
        @include g-font(16, 1);

        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-sideBoxNavB2 {
    width: 95%;
    margin: 0 auto;
    background-image: url("../imgs/t0-b-navList/bg5.png"), -webkit-gradient(linear, left top, left bottom, from(#ff9e00), color-stop(.5, #ff9e00), to(#ff9e00));
    background-repeat: no-repeat;
    background-size: 17px 17px, 100%;
    background-position: 95% 50%;
    border-radius: 5px;
    color: #fff;
    > a {
      text-decoration: none;
      color: #fff;
      > div {
        border: 1px solid #ffc15d;
        border-radius: 5px;
        text-align: center;
        > div {
          @include g-font(16, 1);

          padding: 12px 10px;
          margin-right: 10%;
        }
      }
    }

    > div {
      border: 1px solid #ffc15d;
      border-radius: 5px;
      text-align: center;
      > div {
        @include g-font(16, 1);

        padding: 12px 10px;
        margin-right: 10%;
      }
    }
  }

  .t0-b-captionSet {
    width: 100% !important;

    $_spacing: #{$g-spacingBaseLength * 3}px;
    > * {
      padding-top: $_spacing;
      &:first-child {
        padding-top: 0;
      }
    }

    &__h-upper {
      font-weight: bold;

      @include g-font-spacingKilled(14, 1);

      text-align: center;
    }

    // &__bPlacer: no style
    &__h-lower {
      font-weight: bold;

      @include g-font-spacingKilled(14, 1);

      text-align: center;
    }

    &__caption {
      p {
        @include g-font-spacingKilled(14, 2);

        text-align: center;
      }
    }
  }

  .t0-b-list {
    li {
      @include g-font-spacingKilled(14, 1);

      margin: 10px 0 0;
      padding: 0 0 0 15px;
      background: url("../imgs/t0-b-list/bg.png") 0 .4em no-repeat;
    }

    // kill the first item's margin
    li:first-child {
      margin-top: 0;
    }
  }

  .t0-b-anchorPoint {
    height: 0;
    a {
      width: 20px;
      height: 20px;
      display: block;
    }

    .admin & {
      height: auto;
      a {
        width: 100%;
        height: auto;
        border: 1px dotted #000;
        border-radius: 3px;
        &::before {
          content: "";
          display: block;
          height: 32px;
          width: 32px;
          margin: 3px;
          background: url("../imgs/t0-b-anchorPoint/flag.png") no-repeat 0 0;
        }
      }
    }
  }

  .t0-b-doorNav {
    border: 3px solid #555;
    &__h {
      color: #fff;
      background: #555;
      font-weight: bold;
      padding: 9px 10px 12px;
      text-align: center;
      > * {
        @include g-font-spacingKilled(16, 1);
      }
    }

    &__bd {
      padding: 20px 20px 0 0;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0 0 20px;
      > div {
        margin: 0 0 0 20px;
        border: 3px solid #555;
      }
    }

    &__item-h {
      padding: 7px 7px 10px;
      background: #555;
      color: #fff;
      font-weight: bold;
      text-align: center;
      > * {
        @include g-font-spacingKilled(14, 1);
      }
    }

    &__item-bd {
      padding: 15px 15px 0;
    }
  }

  .t0-b-doorNav2 {
    border: 3px solid #555;
    &__h {
      color: #fff;
      background: #555;
      font-weight: bold;
      padding: 9px 10px 12px;
      text-align: center;
      > * {
        @include g-font-spacingKilled(16, 1);
      }
    }

    &__bd {
      padding: 20px 20px 0 0;
      display: table;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin: 0 0 20px;
      > a {
        margin: 0 0 0 20px;
        display: block;
        height: 100%;
        > div {
          display: table;
          border: 3px solid #555;
          height: 100%;
          > div {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
          }
        }
      }
    }

    &__img {
      padding: 10px 0 10px 10px;
      img {
        display: block;
      }
    }

    &__text {
      width: 100%;

      @include g-font-spacingKilled(14, 1);

      padding: 10px;
    }
  }

  .ex-imageFloat.t0-b-sideBoxMediaBox--imgR {
    > div {
      display: block;
    }

    .t0-b-sideBoxMediaBox__text {
      padding: 0;
    }

    .t0-b-sideBoxMediaBox__media {
      float: right;
      padding: 0 0 8px 8px;
    }

    .clearfix {
      clear: right;
    }
  }

  .ex-imageFloat.t0-b-sideBoxMediaBox--imgL {
    > div {
      display: block;
    }

    .t0-b-sideBoxMediaBox__text {
      padding: 0;
    }

    .t0-b-sideBoxMediaBox__media {
      float: left;
      padding: 0 8px 8px 0;
    }

    .clearfix {
      clear: left;
    }
  }

  // bPlacer
  // SPのみ、0sと1sの値を10pxにする

  @for $_i from 0 through 1 {
    .b-bPlacer-#{$_i}s {
      padding-bottom: 10px;
    }
  }

  @for $_i from 2 through 6 {
    .b-bPlacer-#{$_i}s {
      padding-bottom: #{$_i * $g-spacingBaseLength}px;
    }
  }

  @for $_i from 7 through 12 {
    .b-bPlacer-#{$_i}s {
      padding-bottom: 30px;
    }
  }
  .ex-align-l {
    text-align: left !important;
  }

  .ex-align-c {
    text-align: center !important;
  }

  .ex-align-r {
    text-align: right !important;
  }

  .ex-align-t {
    vertical-align: top !important;
  }

  .ex-align-m {
    vertical-align: middle !important;
  }

  .ex-align-b {
    vertical-align: bottom !important;
  }
}
