$areaContainerWidth: 980px;
$areaMainWidth: 980px;
$areaSubWidth: 280px;
.area-all {
  margin: 0 auto;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
  min-width: $areaContainerWidth + 36px;
  overflow: hidden;
}

.area-header {
  background-color: #fff;
}

.area-container {
  width: $areaContainerWidth;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.area-main {
  box-sizing: border-box;
  width: $areaMainWidth;
  margin: 0 auto;
  padding: 0 0 50px;
  min-height: 100px;
}

.area-sub {
  display: none;
}

.area-footer {
  padding-top: 1px;
  background: none;
  background-color: #fff;
}
